{% extends "_form-question.njk" %}

{% set formaction = "/reference/submit" %}
{% set candidate_name = "Jane Doe" %}
{% set title = "Tell us about " + candidate_name %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/reference/details"
  }) }}
{% endblock %}

{% block primary %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">Try to cover the following, but don’t worry if there are areas you can’t comment on:</p>

    <strong class="govuk-heading-s govuk-!-margin-bottom-1">Teaching potential</strong>
    <p>For example, does the candidate care about the wellbeing of children? Are they emotionally resilient and do they work well with others?</p>

    <strong class="govuk-heading-s govuk-!-margin-bottom-1">Subject knowledge</strong>
    <p>For example, is the candidate passionate and informed about their teaching subject?</p>

    <strong class="govuk-heading-s govuk-!-margin-bottom-1">Academic abilities</strong>
    <p>For example, does the candidate think critically and have good numeracy and literacy skills?</p>

    <strong class="govuk-heading-s govuk-!-margin-bottom-1">Reliability and professionalism</strong>
    <p>For example, what abilities would the candidate bring to teaching (for example, communication, creativity, project management)?</p>

    <strong class="govuk-heading-s govuk-!-margin-bottom-1">Transferable skills</strong>
    <p>For example, can the candidate meet deadlines and manage their time?</p>

  {{ govukCharacterCount({
    label: {
      text: 'Your reference',
      classes: 'govuk-label--m govuk-!-margin-top-8'
    },
    maxwords: 300,
    rows: 15
  } | decorateApplicationAttributes(["reference", "comments"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
