{% extends "_form.njk" %}

{% set formaction = "/reference/decline/answer" %}
{% set candidate_name = "Jane Doe" %}
{% set title = "Decline to give a reference" %}
{% set hasAccountLinks = false %}

{% block primary %}
  <p class="govuk-body">Teacher training courses can fill up quickly, and candidates need 2 references to apply.</p>
  <p class="govuk-body">{{ candidate_name }} will be able to submit the application quicker if you give a reference.</p>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "Can you give " + candidate_name + " a reference?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    name: "answer",
    items: [{
      value: "yes",
      text: "No, I decline to give a reference"
    }, {
      value: "no",
      text: "Yes, I can give a reference"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
