{% extends "_form-question.njk" %}

{% set formaction = "/reference/decline/answer" %}
{% set candidate_name = "Jane Doe" %}
{% set title = "Are you sure you are unable to give " + candidate_name + " a reference?" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/reference"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ govukButton({
    text: "Yes, I am unable to give a reference"
  }) }}
{% endblock %}
