{% extends "_content.njk" %}

{% set candidate_name = "Jane Doe" %}
{% set title = "You’ve declined to give a reference" %}
{% set hasAccountLinks = false %}

{% block primary %}
  <h2 class="govuk-heading-m">We will tell {{ candidate_name }} and ask them for a new referee</h2>
  <p class="govuk-body">If you declined to give a reference in error, please email us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
{% endblock %}
