{% extends "_form-question.njk" %}

{% set formaction = "/reference/comments" %}
{% set candidate_name = "Jane Doe" %}
{% set title = "Are these details correct?" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/reference"
  }) }}
{% endblock %}

{% block primary %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Your name"
      },
      value: {
        text: "Sarah Philips"
      }
    }, {
      key: {
        text: "Their name"
      },
      value: {
        text: "Jane Doe"
      }
    }, {
      key: {
        text: "Their relationship to you"
      },
      value: {
        text: "They were my tutor at university from 2011 to 2013"
      }
    }]
  }) }}

  {% set errataHtml %}
    {{ govukTextarea({
      id: "reference-details-errata",
      name: "reference[details-errata]",
      value: reference["details-errata"],
      label: {
        text: "Tell us what details you would change"
      },
      rows: 5
    }) }}
  {% endset %}

  {{ govukRadios({
    idPrefix: "reference-correct",
    name: "reference[correct]",
    value: reference["correct"],
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m govuk-visually-hidden",
        text: "Are these details correct?"
      }
    },
    items: [{
      value: "yes",
      text: "Yes, they’re correct",
      checked: checked("reference", "correct", "yes")
    }, {
      value: "no",
      text: "No, I need to correct something",
      conditional: {
        html: errataHtml
      },
      checked: checked("reference", "correct", "no")
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
