{% extends "_form.njk" %}

{% set formaction = "/reference/relationship" %}
{% set candidate_name = "Jane Doe" %}
{% set title = "Give a reference for " + candidate_name %}
{% set hasAccountLinks = false %}

{% block primary %}
  <p class="govuk-body">{{candidate_name}} applied to the following courses:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Mallowpond TAFE – Business</li>
    <li>Mallowpond Technical College – Biomedical Science</li>
    <li>Falconholt Technical College – Forensic Science</li>
  </ul>

  {{ govukButton({
    isStartButton: true,
    text: "Start now"
  }) }}
{% endblock %}
