{% set applicationPath = "/application/" + applicationId %}

{% set datesText %}
  {{ item["start-date"] | date("MMMM yyyy") }} - {{ item["end-date"] | date("MMMM yyyy") if item["end-date"] != "now" else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/work-history/break/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Description"
    },
    value: {
      text: (item.description or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "description"
      }]
    } if review == true
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if review == true
  }]
}) }}
