{% set datesText %}
  {{ item.startDate | date("MMMM yyyy") }} - {{ item.endDate | date("MMMM yyyy") if item.endDate != "now" else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/work-history/break/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Description"
    },
    value: {
      text: (item.description or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "description"
      }]
    } if canAmend
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if canAmend
  }]
}) }}
