{% if application.status == "amended" %}
  {% set appStatus = "Awaiting decision" %}
{% elif application.status == "amending" %}
  {% set appStatus = "Amending"%}
{% endif %}
{% set status = item.status or appStatus or "Submitted" %}
{% set statusHtml %}
  {{ govukTag({
    classes: "app-tag " + status | statusClass,
    text: status | capitalize
  }) }}
{% endset %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Course"
    },
    value: {
      html: "<a href=\"https://find-postgraduate-teacher-training.education.gov.uk/course/" + provider.code + "/" + course.code + "\">" + course.name_and_code + "</a><br>" + course.description
    },
    actions: {
      items: [{
        href: "#",
        href: applicationPath + "/choices/" + item.id + "/pick?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "course"
      }]
    } if canAmend
  }, {
    key: {
      text: "Location"
    },
    value: {
      html: item.locationName + "<br>" + item.locationAddress
    },
    actions: {
      items: [{
        href: applicationPath + "/choices/" + item.id + "/location?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "course location"
      }]
    } if canAmend and canAmendLocation and not item.singleLocationCourse
  }, {
    key: {
      text: "Full time or part time"
    },
    value: {
      html: item.studyMode
    } if item.studyMode
  }, {
    key: {
      text: "Type"
    },
    value: {
      html: item.type
    } if item.type
  }, {
    key: {
      text: "Course length"
    },
    value: {
      html: item.length
    } if item.length
  }, {
    key: {
      text: "Date course starts"
    },
    value: {
      html: item.starts | date("MMMM yyyy")
    } if item.starts
  }, {
    key: {
      text: "Status"
    },
    value: {
      html: statusHtml
    }
  } if (status and status != "amending") and showChoiceStatus, {
    key: {
      text: "Reason for rejection"
    },
    value: {
      html: item.reason
    }
  } if item.reason]
}) }}
