{% set applicationPath = "/application/" + applicationId %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Degree type"
    },
    value: {
      text: item["type-uk"] or item["type-nonuk"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "degree type"
      }]
    } if canAmend
  }, {
    key: {
      text: "Subject"
    },
    value: {
      text: item.subject or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/subject?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "subject"
      }]
    } if canAmend
  }, {
    key: {
      text: "Institution"
    },
    value: {
      text: item.org + (", " + item.country if item.country) or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/institution?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "institution"
      }]
    } if canAmend
  }, {
    key: {
      text: "NARIC reference number"
    },
    value: {
      text: item["naric-reference"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/naric?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "NARIC reference"
      }]
    } if canAmend
  } if item["naric-reference"], {
    key: {
      text: "Comparable UK degree"
    },
    value: {
      text: item["naric-comparability"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/naric?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "comparable UK degree"
      }]
    } if canAmend
  } if item["naric-comparability"], {
    key: {
      text: "Grade"
    },
    value: {
      text: (item["grade-predicted"] + " (Predicted)" if item["grade"] == "Pending") or item["grade-other"] or item.grade or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/grade?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if canAmend
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: item["year-start"] + " - " + item["year-end"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/year?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if canAmend
  }]
}) }}
