{% for id, item in data.degrees %}

  {{ govukSummaryList({
    card: {
      title: {
        text: (item.otherLevel if item.level == "other" else item.level) + " " + item.subject
      },
      actions: {
        items: [{
          href: "/details/degree/" + id + "/delete",
          text: ("" if numberOfApplicationsLeft < 4 else "Delete degree")
        }]
      }
    },
    rows: [
      {
        key: {
          text: "Country"
        },
        value: {
          text: ("United Kingdom" if item.uk == 'yes' else item.country)
        },
        actions: {
          items: [
            {
              href: "/details/degree/" + id + "/country",
              text: ("" if numberOfApplicationsLeft < 4 else "Change"),
              visuallyHideenText: "degree country"
            }
          ]
        }
      },
      {
        key: {
          text: "Degree type"
        },
        value: {
          text: (item.otherLevel if item.level == "other" else item.level)
        },
        actions: {
          items: [
            {
              href: "/details/degree/" + id + "/level",
              text: ("" if numberOfApplicationsLeft < 4 else "Change"),
              visuallyHideenText: "degree level"
            }
          ]
        }
      }, {
        key: {
          text: "Subject"
        },
        value: {
          text: item.subject or "Not entered"
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/subject",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: "subject"
          }]
        }
      }, {
        key: {
          text: "Awarded by"
        },
        value: {
          text: item.institution or "Not entered"
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/institution",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: " degree awarding body"
          }]
        }
      }, {
        key: {
          text: "Have you completed this degree?"
        },
        value: {
          text: item.completed | title
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/completed",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: " whether you’ve completed the degree"
          }]
        }
      }, {
        key: {
          text: ("Grade" if item.gradeGiven == 'yes' else "Did your degree give a grade?")
        },
        value: {
          text: (item.grade if item.gradeGiven == 'yes' else item.gradeGiven | capitalize)
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/grade",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: " grade"
          }]
        }
      }, {
        key: {
          text: "Start year"
        },
        value: {
          text: item.startYear
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/start-year",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: " start year"
          }]
        }
      }, {
        key: {
          text: "Graduation year"
        },
        value: {
          text: item.graduationYear
        },
        actions: {
          items: [{
            href: "/details/degree/" + id + "/graduation-year",
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            visuallyHiddenText: " graduation year"
          }]
        }
      }
    ]
  }) }}
{% endfor %}
