{% set applicationPath = "/application/" + applicationId %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Degree type"
    },
    value: {
      text: item["type-uk"] or item["type-nonuk"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "degree type"
      }]
    } if canAmend
  }, {
    key: {
      text: "Subject"
    },
    value: {
      text: item.subject or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/subject?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "subject"
      }]
    } if canAmend
  }, {
    key: {
      text: "Institution"
    },
    value: {
      text: item.org + (", " + item.country if item.country) or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/institution?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "institution"
      }]
    } if canAmend
  }, {
    key: {
      text: "Do you have a UK NARIC statement of comparability?"
    },
    value: {
      text: item.naric or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/naric?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "UK NARIC statement of comparability"
      }]
    } if canAmend
  } if item.naric, {
    key: {
      text: "UK NARIC reference number"
    },
    value: {
      text: item["naric-reference"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/naric?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "UK NARIC reference"
      }]
    } if canAmend
  } if item.naric and item["naric-reference"], {
    key: {
      text: "Comparable UK degree"
    },
    value: {
      text: item["naric-comparability"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/naric?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "comparable UK degree"
      }]
    } if canAmend
  } if item.naric and item["naric-comparability"], {
    key: {
      text: "Have you completed this degree?"
    },
    value: {
      text: item["completed"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/completed?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "if completed degree"
      }]
    } if canAmend
  }, {
    key: {
      text: "Does this degree give a grade?"
    },
    value: {
      text: item["has-grade"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/grade?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "if this degree give a grade"
      }]
    } if canAmend
  } if item["has-grade"], {
    key: {
      text: "Grade" if item["completed"] == "Yes" else "Predicted grade"
    },
    value: {
      text: item.grade or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/grade?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if canAmend
  } if item.grade, {
    key: {
      text: "Start year"
    },
    value: {
      text: item["year-start"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/year?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "start year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Graduation year"
    },
    value: {
      text: item["year-end"] or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/degree/" + item.id + "/year?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "graduation year"
      }]
    } if canAmend
  }]
}) }}
