{% set applicationPath = "/application/" + applicationId %}
{% set type = item["type-other"] or item.type or "Not entered" %}
{% if item.type == "IELTS" %}
  {% set certificateItemText = "Test report form (TRF) number" %}
  {% set gradeItemText = "Overall band score" %}
{% elif item.type == "TOEFL" %}
  {% set certificateItemText = "TOEFL registration number" %}
  {% set gradeItemText = "Total score" %}
{% else %}
  {% set gradeItemText = "Score or grade" %}
{% endif %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Type of qualification"
    },
    value: {
      text: type
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/english-language/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: certificateItemText
    },
    value: {
      text: item['certificate-number'] or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/english-language/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "certifcate number"
      }]
    } if canAmend
  } if item.type != "Other", {
    key: {
      text: "Year awarded"
    },
    value: {
      text: item.year or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/english-language/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: gradeItemText
    },
    value: {
      text: item.grade  or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/english-language/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "score"
      }]
    } if canAmend
  }]
}) }}
