{% set applicationPath = "/application/" + applicationId %}
{% set na = applicationValue(["english-language", "answer"]) == "No, English is not a foreign language to me" %}
{% set missing = applicationValue(["english-language", "answer"]) == "No, I do not have an English as a foreign language qualification" %}
{% set type = item["type-other"] or item.type or "Not entered" %}
{% if item.type == "IELTS" %}
  {% set certificateItemText = "Test report form (TRF) number" %}
  {% set gradeItemText = "Overall band score" %}
{% elif item.type == "TOEFL" %}
  {% set certificateItemText = "TOEFL registration number" %}
  {% set gradeItemText = "Total score" %}
{% else %}
  {% set gradeItemText = "Score or grade" %}
{% endif %}

{% set missingHtml %}
  <p class="govuk-body">{{ applicationValue(["english-language", "answer"]) }}</p>
  {% if applicationValue(["english-language", "answer-missing"]) %}
    <p class="govuk-body">{{ applicationValue(["english-language", "answer-missing"]) | nl2br }}</p>
  {% endif %}
{% endset %}

{% if na %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have an English as a foreign language qualification?"
      },
      value: {
        text: item.answer
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "answer"
        }]
      } if canAmend
    }]
  }) }}
{% elif missing %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have an English as a foreign language qualification?"
      },
      value: {
        html: missingHtml
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "answer"
        }]
      } if canAmend
    }]
  }) }}
{% else %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have an English as a foreign language qualification?"
      },
      value: {
        text: item.answer
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "answer"
        }]
      } if canAmend
    }, {
      key: {
        text: "Type of qualification"
      },
      value: {
        text: type
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/type?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "type"
        }]
      } if canAmend
    }, {
      key: {
        text: certificateItemText
      },
      value: {
        text: item['certificate-number'] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "certifcate number"
        }]
      } if canAmend
    } if item.type != "Other", {
      key: {
        text: "Year awarded"
      },
      value: {
        text: item.year or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    }, {
      key: {
        text: gradeItemText
      },
      value: {
        text: item.grade  or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/english-language/details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "score"
        }]
      } if canAmend
    }]
  }) }}
{% endif %}
