{% if item.feedback.courseFull %}
<p class="govuk-body">The course you applied to was full.</p>
{% endif %}

{% if item.feedback.rejectedByDefault %}
<p class="govuk-body">Provider did not respond in time.</p>
{% endif %}

{% if item.feedback.behaviour %}
{% if item.feedback.behaviour.didNotReplyToMessages == true %}
  <p class="govuk-body">Did not reply to messages.</p>
{% endif %}

{% if item.feedback.behaviour.other %}
  {{ govukInsetText({
    classes: "app-inset-text--narrow-border govuk-!-margin-top-0",
    text: item.feedback.behaviour.other | nl2br | safe
  }) }}
{% endif %}

{% if item.feedback.behaviour.whatTheyCouldToDoImprove %}
  <p class="govuk-body">What you could do to improve:</p>
  {{ govukInsetText({
    classes: "app-inset-text--narrow-border govuk-!-margin-top-0",
    text: item.feedback.behaviour.whatTheyCouldToDoImprove | nl2br | safe
  }) }}
{% endif %}
{% endif %}

{% if item.feedback.performanceAtInterview %}
<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Performance at interview</h4>

{{ govukInsetText({
  classes: "app-inset-text--narrow-border govuk-!-margin-top-0",
  text: item.feedback.performanceAtInterview | nl2br | safe
}) }}
{% endif %}

{% if item.feedback.personalStatement %}
<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Personal statement</h4>

  {% set qualityOfApplicaitonFeedback %}
    {% if item.feedback.personalStatement.qualityOfWriting %}
      <p class="govuk-body">Quality of writing:</p>
      <p class="govuk-body">{{ item.feedback.personalStatement.qualityOfWriting | nl2br | safe }}</p>
    {% endif %}

    {% if item.feedback.personalStatement.other %}
      {% if item.feedback.personalStatement.qualityOfWriting %}<p class="govuk-body">Other:</p>{% endif %}
      <p class="govuk-body">{{ item.feedback.personalStatement.other | nl2br | safe }}</p>
    {% endif %}
  {% endset %}

  {{ govukInsetText({
    classes: "app-inset-text--narrow-border govuk-!-margin-top-0  govuk-!-margin-bottom-1",
    html: qualityOfApplicaitonFeedback
  }) }}
{% endif %}

{% if item.feedback.qualifications %}
  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Qualifications</h4>

  {% set qualificationsFeedbackHtml %}

    {% if item.feedback.qualifications.noMathsGCSEOrEquivalent %}
      <p class="govuk-body">No maths GCSE grade 4 (C) or above, or accepted equivalent.</p>
    {% endif %}

    {% if item.feedback.qualifications.noEnglishGCSEOrEquivalent %}
      <p class="govuk-body">No English GCSE grade 4 (C) or above, or accepted equivalent.</p>
    {% endif %}

    {% if item.feedback.qualifications.noScienceGCSEOrEquivalent %}
      <p class="govuk-body">No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants).</p>
    {% endif %}

    {% if item.feedback.qualifications.noDegree %}
      <p class="govuk-body">No degree.</p>
    {% endif %}

    {% if item.feedback.qualifications.degreeDoesNotMeetRequirements %}
      <p class="govuk-body">Degree does not meet course requirements.</p>
    {% endif %}

    {% if item.feedback.qualifications.other %}
      <p class="govuk-body">{{ item.feedback.qualifications.other | nl2br }}</p>
    {% endif %}
  {% endset %}

  {{ govukInsetText({
    classes: "app-inset-text--narrow-border govuk-!-margin-top-0  govuk-!-margin-bottom-1",
    html: qualificationsFeedbackHtml | safe
  }) }}

{% endif %}

{% if item.feedback.additionalFeedback %}
<h4 class="govuk-heading-s govuk-!-margin-bottom-2">Additional feedback</h4>

{{ govukInsetText({
  classes: "app-inset-text--narrow-border govuk-!-margin-top-0 govuk-!-margin-bottom-1",
  text: item.feedback.additionalFeedback | nl2br | safe
}) }}
{% endif %}

{% if item.feedback %}
  <div class="govuk-button-group app-feedback">
    <span class="">Is this feedback helpful?</span>
  <button class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-feedback="Yes" data-module="govuk-button">
    Yes
  </button>

  <button class="govuk-button govuk-button--secondary" data-feedback="No" data-module="govuk-button">
    No
  </button>
</div>
{% endif %}
