{% set applicationPath = "/application/" + applicationId %}

{% set itemStart = item["start-date"] %}
{% set itemEnd = item["end-date"] %}
{% set itemStartEpoch = itemStart | date("x") | int %}
{% set itemEndEpoch = itemEnd | date("x") | int %}
{% set itemDuration = itemEndEpoch - itemStartEpoch %}

{% set gapText -%}
  Gap ({{ itemDuration | duration }})
{%- endset %}

{% set datesText %}
  {{ itemStart | date("MMMM yyyy") }} - {{ itemEnd | date("MMMM yyyy") if item["end-date"] != "now" else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/work-history/gap/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Description"
    },
    value: {
      text: (item.description or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "description"
      }]
    } if review == true
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if review == true
  }]
}) }}
