{% set applicationPath = "/application/" + applicationId %}
{% set missing = item.type == "I don’t have this qualification yet" %}
{% set nonUK = item.type == "Non-UK qualification" %}

{% set qualificationText -%}
  {%- if item["type-uk"] or item["type-non-uk"] or item.type %}
    {{- (item["type-uk"] if item["type-uk"]) or (item["type-non-uk"] if item["type-non-uk"]) or item.type }}
    {%- if nonUK -%}
      {{ item["award-org"] + ", " + item.country if item["award-org"] }}
    {%- endif %}
  {%- else -%}
    Not entered
  {%- endif -%}
{%- endset %}

{% if item.type == "GCSE" and id == "maths" %}
  {% set gradeHtml = item["grade-single"] %}
{% elif item.type == "GCSE" and id == "english" %}
  {% set gradeHtml %}
  <ul class="govuk-list">
    {% if item["grade-english"] %}<li>{{ item["grade-english"] }} (English)</li>{% endif %}
    {% if item["grade-language"] %}<li>{{ item["grade-language"] }} (English Language)</li>{% endif %}
    {% if item["grade-literature"] %}<li>{{ item["grade-literature"] }} (English Literature)</li>{% endif %}
    {% if item["grade-studies"] %}<li>{{ item["grade-studies"] }} (English Studies)</li>{% endif %}
    {% if item["grade-other"] %}<li>{{ item["grade-other"] }} ({{ item.subject }})</li>{% endif %}
  </ul>
  {% endset %}
{% elif item.type == "GCSE" and id == "science" %}
  {% set gradeHtml %}
  {% if item["grade-single"] %}{{ item["grade-single"] }} (Single Award){% endif %}
  {% if item["grade-double"] %}{{ item["grade-double"] }} (Double Award){% endif %}
  {% if item["grade-biology"] or item["grade-chemistry"] or item["grade-physics"] %}
  <ul class="govuk-list">
    <li>{{ item["grade-biology"] }} (Biology)</li>
    <li>{{ item["grade-chemistry"] }} (Chemistry)</li>
    <li>{{ item["grade-physics"] }} (Physics)</li>
  </ul>
  {% endif %}
{% endset %}
{% else %}
  {% set gradeHtml = item.grade %}
{% endif %}

{% if missing %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "How I expect to gain this qualification"
      },
      value: {
        html: (item.missing or "No reason given") | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    }]
  }) }}
{% else %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Qualification type"
      },
      value: {
        text: qualificationText | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    }, {
      key: {
        text: "Country"
      },
      value: {
        text: item.country or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "/country?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "country"
        }]
      } if canAmend
    }, {
      key: {
        text: "NARIC reference number"
      },
      value: {
        text: item["naric-reference"] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "/naric?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "NARIC reference"
        }]
      } if canAmend
    }, {
      key: {
        text: "Comparable UK qualification"
      },
      value: {
        text: item["naric-comparability"] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "/naric?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "comparable UK qualification"
        }]
      } if canAmend
    }, {
      key: {
        text: "Year awarded"
      },
      value: {
        text: item.year or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "/year?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    }, {
      key: {
        text: "Grade"
      },
      value: {
        html: gradeHtml or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/gcse/" + id + "/grade?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "grade"
        }]
      } if canAmend
    } if item.provenance == "domestic"]
  }) }}
{% endif %}
