{% set item = data.gcse[id] %}
{% set missingGcse = item.type == "not-yet" %}
{% set nonUK = item.type == "Non-UK qualification" %}
{% set subject = (id | capitalize) if id == "english" else id %}

{% set qualificationText -%}
  {%- if item.typeUk or item.typeNonUk or item.type %}
    {{- (item.typeUk if item.typeUk) or (item.typeNonUk if item.typeNonUk) or item.type }}
    {%- if nonUK -%}
      {{ item["award-org"] + ", " + item.country if item["award-org"] }}
    {%- endif %}
  {%- else -%}
    Not entered {{ item | dump }}
  {%- endif -%}
{%- endset %}

{% if item.type == "GCSE" and id == "maths" %}
  {% set gradeHtml = item.gradeSingle %}
{% elif item.type == "GCSE" and id == "english" %}
  {% set gradeHtml %}
  <ul class="govuk-list">
    {% if item.gradeEnglish %}<li>{{ item.gradeEnglish }} (English)</li>{% endif %}
    {% if item.gradeLanguage %}<li>{{ item.gradeLanguage }} (English Language)</li>{% endif %}
    {% if item.gradeLiterature %}<li>{{ item.gradeLiterature }} (English Literature)</li>{% endif %}
    {% if item.gradeStudies %}<li>{{ item.gradeStudies }} (English Studies)</li>{% endif %}
    {% if item.gradeOther %}<li>{{ item.gradeOther }} ({{ item.subject }})</li>{% endif %}
  </ul>
  {% endset %}
{% elif item.type == "GCSE" and id == "science" %}
  {% set gradeHtml %}
  {% if item.gradeSingle %}{{ item.gradeSingle }} (Single Award){% endif %}
  {% if item.gradeDouble %}{{ item.gradeDouble }} (Double Award){% endif %}
  {% if item.gradeBiology or item.gradeChemistry or item.gradePhysics %}
  <ul class="govuk-list">
    <li>{{ item.gradeBiology }} (Biology)</li>
    <li>{{ item.gradeChemistry }} (Chemistry)</li>
    <li>{{ item.gradePhysics }} (Physics)</li>
  </ul>
  {% endif %}
{% endset %}
{% else %}
  {% set gradeHtml = item.gradeOther or item.grade %}
{% endif %}

{% set currentlyStudyingHtml %}
  {% if item.currentlyStudying == 'yes' %}
    {% if item.currentlyStudyingDetails %}
      {{ item.currentlyStudyingDetails | nl2br | safe }}
    {% else %}
      Yes
    {% endif %}
  {% else %}
    No
  {% endif %}
{% endset %}

{% set currentlyRetakingHtml %}
  {% if item.currentlyRetaking == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if missingGcse %}

  {{ govukSummaryList({
    rows: [{
      key: { text: "What type of " + subject + " qualification do you have?" },
      value: { text: "I don’t have a " + subject + " qualification yet" },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "whether you have this qualification"
        }]
      } if canAmend
    },
    {
      key: { text: "Are you currently studying for this qualification?" },
      value: { html: currentlyStudyingHtml },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/not-yet",
          text: "Change",
          visuallyHiddenText: "whether you are studying for this qualification"
        }]
      } if canAmend
    }, {
      key: {
        text: "Other evidence I have the skills required"
      },
      value: {
        html: (item.otherEvidence or "Not provided") | nl2br | safe
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/equivalency?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      } if canAmend
    } if (item.currentlyStudying == 'no')
    ]
  }) }}
{% else %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Qualification type"
      },
      value: {
        text: qualificationText | nl2br | safe
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    }, {
      key: {
        text: "Country"
      },
      value: {
        text: item.country or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/country?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "country"
        }]
      } if canAmend
    } if item.type == "Non-UK qualification", {
      key: {
        text: "Do you have a UK ENIC statement of comparability?"
      },
      value: {
        text: item.enic or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/enic?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "UK ENIC statement of comparability"
        }]
      } if canAmend
    } if item.type == "Non-UK qualification" and item.enic, {
      key: {
        text: "UK ENIC reference number"
      },
      value: {
        text: item.enicReference or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/enic?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "UK ENIC reference"
        }]
      } if canAmend
    } if item.enic and item.enicReference, {
      key: {
        text: "Comparable UK qualification"
      },
      value: {
        text: item.enicComparability or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/enic?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "comparable UK qualification"
        }]
      } if canAmend
    } if item.enic and item.enicComparability, {
      key: {
        text: "Grade"
      },
      value: {
        html: gradeHtml or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/grade?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "grade"
        }]
      } if canAmend
    }, {
      key: {
        text: "Year awarded"
      },
      value: {
        text: item.year or "Not entered"
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/year?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "year"
        }]
      } if canAmend
    },
    {
      key: { text: "Are you currently studying to retake this qualification?" },
      value: { html: currentlyRetakingHtml },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/no-pass-grade",
          text: "Change",
          visuallyHiddenText: "whether you are re-taking this qualification"
        }]
      } if canAmend
    }, {
      key: {
        text: "Other evidence I have the skills required"
      },
      value: {
        html: (item.otherEvidence or "Not provided") | nl2br | safe
      },
      actions: {
        items: [{
          href: "/application" + "/gcse/" + id + "/equivalency?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      } if canAmend
    } if item.currentlyRetaking == 'no']
  }) }}
{% endif %}
