{% set applicationPath = "/application/" + applicationId %}
{% set interviewText = applicationValue(["interview"]) if applicationValue(["interview-choice"]) == "Yes" else "No" %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Do you have any interview needs?"
    },
    value: {
      text: applicationValue(["interview-choice"])
    },
    actions: {
      items: [{
        href: applicationPath + "/interview?referrer=" + referrer,
        text: "Change" if applicationValue(["interview"]) else "Add",
        visuallyHiddenText: "interview needs"
      }]
    } if canAmend
  }, {
    key: {
      text: "What are your interview needs?"
    },
    value: {
      text: interviewText | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/interview?referrer=" + referrer,
        text: "Change" if applicationValue(["interview"]) else "Add",
        visuallyHiddenText: "interview needs"
      }]
    } if canAmend
  }]
}) }}
