{% set applicationPath = "/application/" + applicationId %}

{% set itemStart = item["start-date"] %}
{% set itemEnd = item["end-date"] if item["end-date"] else "now" %}

{% set jobHtml -%}
  {{ item.role }}
  {%- if item.org %}
    <br><span class="govuk-visually-hidden">at</span>{{ item.org }}
  {% endif %}
{%- endset %}

{% set datesText %}
  {{ itemStart | date("MMMM yyyy") }} - {{ itemEnd | date("MMMM yyyy") if item["end-date"] else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/work-history/job/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Job"
    },
    value: {
      html: jobHtml | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "job"
      }]
    } if review == true
  }, {
    key: {
      text: "Type"
    },
    value: {
      html: item.type or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "job"
      }]
    } if review == true
  }, {
    key: {
      text: "Description"
    },
    value: {
      text: (item.description | nl2br | safe) or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "description"
      }]
    } if review == true
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if review == true
  }]
}) }}
