{% set applicationPath = "/application/" + applicationId %}

{% set jobHtml -%}
  {% if item.role %}
    {{ item.role }}
    {%- if item.org %}
      <br><span class="govuk-visually-hidden">at</span>{{ item.org }}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{%- endset %}

{% set datesText %}
  {{ item["start-date"] | date("MMMM yyyy") }} - {{ item["end-date"] | date("MMMM yyyy") if item["end-date"] != "now" else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/work-history/job/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Job"
    },
    value: {
      html: jobHtml | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "job"
      }]
    } if review == true
  }, {
    key: {
      text: "Type"
    },
    value: {
      html: item.type or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "job"
      }]
    } if review == true
  }, {
    key: {
      text: "Description"
    },
    value: {
      text: (item.description or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "description"
      }]
    } if review == true
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if review == true
  }]
}) }}
