
<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if item.gap %}

      {% set gapHtml %}
        <h3 class="govuk-heading-s">You have a break in your work history</h3>
        <p class="govuk-body">
          <a href="/application/work-history/job/add" class="govuk-link">
            Add another job
          </a> or
          <a href="/application/work-history/break/add" class="govuk-link">
            add a reason for this break
          </a>
        </p>
      {% endset %}

      {{ govukInsetText({
        classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-inset-text--important app-inset-text--narrow-border",
        html: gapHtml
      })}}


    {% else %}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        {% if item.category == "break" %}
          Break in work history
        {% else %}
          {{ item.employerName }}
        {% endif %}
      </h3>

      <p class="govuk-body govuk-!-margin-bottom-0">
        {% if item.category == 'break' %}
          {{ item.breakReason }}
        {% else %}
          {{ item.role }}
          {% if item.type == "Part time" %}(Part time){% endif %}
        {% endif %}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1">
        {{ item.startMonth | monthName }} {{ item.startYear }}

        {% if item.startDateApprox | length  > 0 %}
          (estimate)
        {% endif %}

        to
        {% if item.stillWorkingInJob == "yes" %}
          Present
        {% else %}
          {{ item.endMonth | monthName }} {{ item.endYear }}

          {% if item.endDateApprox | length  > 0 %}
            (estimate)
          {% endif %}
        {% endif %}
      </p>

      {% if item.skillsRelevantToTeaching == "yes" %}
        <p class="govuk-body-s govuk-!-margin-bottom-1">This role used skills relevant to teaching</p>
      {% endif %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-third govuk-body app-grid-column-one-third--actions">
    {% set editPath = ("/application/work-history/break/" + item.id) if item["category"] == "break" else ("/application/work-history/job/" + item.id) %}
    <a class="govuk-link" href="{{ editPath }}">Change</a>&nbsp;&nbsp;&nbsp;
    <a class="govuk-link" href="/application/work-history/job/{{ item.id }}/delete" }}">Delete</a>
  </div>
</section>

{% if loop.index != totalWorkHistoryItems %}
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m ">
{% endif %}
