{% set conditionsHtml %}
  <ul class="govuk-list govuk-list--bullet">
    <li>Fitness to teach check</li>
    <li>Disclosure and Barring Service check</li>
  </ul>
  <p>Contact the provider to find out more about these conditions.</p>
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Provider"
    },
    value: {
      text: provider.name
    }
  }, {
    key: {
      text: "Course"
    },
    value: {
      html: "<a href=\"https://find-postgraduate-teacher-training.education.gov.uk/course/" + provider.code + "/" + course.code + "\">" + course.name_and_code + "</a><br>" + course.description
    }
  }, {
    key: {
      text: "Location"
    },
    value: {
      html: choice.locationName + "<br>" + choice.locationAddress
    }
  }, {
    key: {
      text: "Conditions"
    },
    value: {
      html: conditionsHtml
    }
  }]
}) }}
