{% set conditionsHtml %}
  <ul class="govuk-list govuk-list--bullet">
    <li>Fitness to teach check</li>
    <li>Disclosure and Barring Service check</li>
  </ul>
  <p>Contact the provider to find out more about these conditions.</p>
{% endset %}

{% set courseFeesHtml %}

  {{ govukSummaryList({
  classes: "govuk-!-margin-bottom-4",
  rows: [
    {
      key: {
        text: "UK students",
        classes: "govuk-!-font-weight-regular app-summary-list__key--wide app-summary-list__key--no-border-bottom govuk-!-padding-bottom-1"
      },
      value: {
        text: "£8,625",
        classes: "govuk-!-text-align-right app-summary-list__value--narrow app-summary-list__value--no-border-bottom govuk-!-padding-bottom-1 govuk-!-padding-right-0"
      }
    },
    {
      key: {
        text: "International students",
        classes: "govuk-!-font-weight-regular app-summary-list__key--wide app-summary-list__key--no-border-bottom  govuk-!-padding-top-1"
      },
      value: {
        text: "£20,125",
        classes: "govuk-!-text-align-right app-summary-list__value--narrow app-summary-list__value--no-border-bottom  govuk-!-padding-top-1 govuk-!-padding-right-0"
      }
    }
  ] }) }}

  <p class="govuk-body">An additional fee of £625 will apply if candidates take up the option of a PCGE qualification.</p>
{% endset %}

{% set salaryHtml %}
  <p class="govuk-body">The school will pay a salary as an unqualified Teacher scale 1 as a minimum.</p>

  <p class="govuk-body">The PGCE route means that the student can decide whether they wish to pay the additional amount to study for the PGCE.</p>

{% endset %}


{{ govukSummaryList({
  rows: [{
    key: {
      text: "Provider"
    },
    value: {
      text: provider.name
    }
  }, {
    key: {
      text: "Course"
    },
    value: {
      html: "<a href=\"https://find-postgraduate-teacher-training.education.gov.uk/course/" + provider.code + "/" + course.code + "\">" + course.name_and_code + "</a><br>" + course.description
    }
  }, {
    key: {
      text: "Fees"
    },
    value: {
      html: courseFeesHtml,
      classes: "govuk-!-padding-right-0"
    }
  } if not choice.isSalaried, {
    key: {
      text: "Salary"
    },
    value: {
      html: salaryHtml
    }
  } if choice.isSalaried,
  {
    key: {
      text: "Location"
    },
    value: {
      html: choice.locationName + "<br>" + choice.locationAddress
    }
  }, {
    key: {
      text: "Conditions"
    },
    value: {
      html: conditionsHtml
    }
  }]
}) }}
