{% set otherQualifications = data.otherQualifications %}
{% set itemName = "other qualifications" if international else "A levels and other qualifications" %}

{% for id, item in otherQualifications %}

  {% set typeText %}
    {% if item.type == 'non-uk' %}
      {{ item.nonUkType }}
    {% elif item.type == 'other-uk' %}
      {{ item.otherUkType }}
    {% else %}
      {{ item.type }}
    {% endif %}
  {% endset %}

  {{ govukSummaryList({
    card: {
      title: {
        text: typeText
      },
      actions: {
        items: [
          {
            href: "/details/other-qualifications/" + id + "/delete",
            text: "Delete qualification",
            visuallyHiddenText: " – " + typeText
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Type of qualification"
        },
        value: {
          text: typeText
        },
        actions: {
          items: [{
            href: "/details/other-qualifications/" + id + "/type",
            text: "Change",
            visuallyHiddenText: "year"
          }]
        }
      },
      {
        key: {
          text: "Subject" + (" (optional)" if item.type == "Non-UK qualification")
        },
        value: {
          text: item.subject or "Not entered"
        },
        actions: {
          items: [{
            href: "/details/other-qualifications/" + id + "/details",
            text: "Change",
            visuallyHiddenText: "year"
          }]
        }
      },
      {
        key: {
          text: "Country"
        },
        value: {
          text: item.country
        },
        actions: {
          items: [{
            href: "/details/other-qualifications/" + id + "/details",
            text: "Change",
            visuallyHiddenText: "country"
          }]
        }
      } if item.country, {
        key: {
          text: "Year awarded"
        },
        value: {
          text: item.year or "Not entered"
        },
        actions: {
          items: [{
            href: "/details/other-qualifications/" + id + "/details",
            text: "Change",
            visuallyHiddenText: "year"
          }]
        }
      }, {
        key: {
          text: "Grade (optional)"
        },
        value: {
          text: item.grade or "Not entered"
        },
        actions: {
          items: [{
            href: "/details/other-qualifications/" + id + "/details",
            text: "Change",
            visuallyHiddenText: "grade"
          }]
        }
      }
    ]

  })}}
{% endfor %}
