{% set applicationPath = "/application/" + applicationId %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Type of qualification"
    },
    value: {
      text: item.type or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Subject"
    },
    value: {
      text: item.subject or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Institution"
    },
    value: {
      text: (item.org + " " + item.country if item.org) or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Year awarded"
    },
    value: {
      text: item.year or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Grade"
    },
    value: {
      text: item.grade  or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if canAmend
  }]
}) }}
