{% set otherQualifications = applicationValue(["otherQualifications"]) %}
{% set qualifications = otherQualifications | toArray | selectattr("id") %}
{% set itemName = "other qualifications" if international else "A levels and other qualifications" %}

{% if applicationValue(["otherQualificationsDisclose"]) == "No" %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Do you want to add any " + itemName
        },
        value: {
          text: applicationValue(["otherQualificationsDisclose"])
        },
        actions: {
          items: [{
            href: applicationPath + "/other-qualifications/add?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "if you want to add A levels or other qualifications"
          }]
        } if canAmend
      }]
    })
  }) }}
{% else %}
  {% for item in qualifications %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.type,
      actions: {
        items: [{
          href: applicationPath + "/other-qualifications/" + item.id + "/delete?referrer=" + referrer,
          text: "Delete qualification"
        }]
      } if canAmend,
      html: govukSummaryList({
        rows: [{
          key: {
            text: "Type of qualification"
          },
          value: {
            text: item.typeUk or item.typeNonUk or item.type or "Not entered"
          },
          actions: {
            items: [{
              href: applicationPath + "/other-qualifications/" + item.id + "?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "year"
            }]
          } if canAmend
        }, {
          key: {
            text: "Subject" + (" (optional)" if item.type == "Non-UK qualification")
          },
          value: {
            text: item.subject or "Not entered"
          },
          actions: {
            items: [{
              href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "year"
            }]
          } if canAmend
        }, {
          key: {
            text: "Country"
          },
          value: {
            text: item.country
          },
          actions: {
            items: [{
              href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "country"
            }]
          } if canAmend
        } if item.country, {
          key: {
            text: "Year awarded"
          },
          value: {
            text: item.year or "Not entered"
          },
          actions: {
            items: [{
              href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "year"
            }]
          } if canAmend
        }, {
          key: {
            text: "Grade (optional)"
          },
          value: {
            text: item.grade or "Not entered"
          },
          actions: {
            items: [{
              href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "grade"
            }]
          } if canAmend
        }]
      })
    }) if item.type != "None" }}
  {% endfor %}
{% endif %}
