{% set country = " " + item.country if item.country else "" %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Type of qualification"
    },
    value: {
      text: item.typeUk or item.typeNonUk or item.type or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Subject"
    },
    value: {
      text: item.subject or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Year awarded"
    },
    value: {
      text: item.year or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Grade"
    },
    value: {
      text: item.grade  or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if canAmend
  }]
}) }}
