{% set applicationPath = "/application/" + applicationId %}
{% set country = " " + item.country if item.country else "" %}
{% set type = item["type-uk"] or item["type-non-uk"] or item.type or "Not entered" %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Type of qualification"
    },
    value: {
      text: type
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Subject"
    },
    value: {
      text: item.subject or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Institution"
    },
    value: {
      text: (item.org + country if item.org) or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Year awarded"
    },
    value: {
      text: item.year or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if canAmend
  }, {
    key: {
      text: "Grade"
    },
    value: {
      text: item.grade  or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/other-qualifications/" + item.id + "/details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if canAmend
  }]
}) }}
