{% set applicationPath = "/application/" + applicationId %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Why do you want to be a teacher?"
    },
    value: {
      text: (item["vocation"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/personal-statement/" + providerCode + "/vocation?referrer=" + referrer,
        text: "Change" if item["vocation"] else "Add",
        visuallyHiddenText: "why you want to be a teacher"
      }]
    } if review == true
  }, {
    key: {
      text: "Your knowledge about the subject you want to teach"
    },
    value: {
      text: (item["subject-knowledge"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/personal-statement/" + providerCode + "/subject-knowledge?referrer=" + referrer,
        text: "Change" if item["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review == true
  }, {
    key: {
      text: "Interview preferences"
    },
    value: {
      text: (item["interview"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/personal-statement/" + providerCode + "/interview?referrer=" + referrer,
        text: "Change" if item["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review == true
  }]
}) }}
