{% set titleText = item.name %}

{% if item.status == 'Received by training provider' %}
  {% set referenceStatusHtml %}
    <p class="govuk-body">{{ item.name }} has already given a reference.</p>

    <p class="govuk-body">If you accept an offer, the training provider will see the reference.</p>
  {% endset %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: titleText
    },
    actions: {
      items: [{
        href: "/details/references/" + id + "/delete",
        text: ("" if numberOfApplicationsLeft < 4 else "Delete")
      }]
    }
  },
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: item.type | title
      }
    },
    {
      key: {
        text: "Email"
      },
      value: {
        html: (item.email if item.email else "<a href=\"/details/references/" + id + "\/email\">Enter email address</a>")
      },
      actions: {
        items: [
          {
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            href: "/details/references/" + id + "/email"
          }
        ]
      } if item.email
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: item.name
      },
      actions: {
        items: [
          {
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            href: "/details/references/" + id + "/name"
          }
        ]
      }
    },
    {
      key: {
        text: "How you know them and for how long"
      },
      value: {
        text: item.relationship
      },
      actions: {
        items: [
          {
            text: ("" if numberOfApplicationsLeft < 4 else "Change"),
            href: "/details/references/" + id + "/relationship"
          }
        ]
      }
    }
  ]
  })
}}
