{% set applicationPath = "/application/" + applicationId %}
{% set status = item.status or "Awaiting response" %}
{% set canAmendReferences = status == "Not requested yet" %}

{% set statusHtml %}
  {{ govukTag({
    classes: "app-tag " + status | statusClass,
    text: status | capitalize
  }) }}
{% endset %}

{% set contextHtml %}
  {% if status == "Awaiting response" %}
    <p class="govuk-body govuk-!-margin-top-2">We’ve emailed your referee. Keep in touch with them to ensure they’re planning on giving a reference as soon as possible.</p>
  {% endif %}
{% endset %}

{% set logHtml %}
  <ul class="govuk-list">
  {% for entry in item.log %}
    <li>
      {{ entry.note }}
      <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16">{{ entry.date | date("DDD 'at' T") }}</span>
    </li>
  {% endfor %}
  </ul>
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Reference type"
    },
    value: {
      text: item.type or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/references/type/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmendReferences
  }, {
    key: {
      text: "Email"
    },
    value: {
      text: item.email or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmendReferences
  }, {
    key: {
      text: "Relationship with referee"
    },
    value: {
      text: (item.relationship or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmendReferences
  }, {
    key: {
      text: "Status"
    },
    value: {
      html: statusHtml + contextHtml
    }
  }, {
    key: {
      text: "History"
    },
    value: {
      html: logHtml
    }
  } if item.log and showReferenceRequestLog]
}) }}
