{% set titleText = item.name %}

{% if item.status == 'Received by training provider' %}
  {% set referenceStatusHtml %}
    <p class="govuk-body">{{ item.name }} has already given a reference.</p>

    <p class="govuk-body">If you accept an offer, the training provider will see the reference.</p>
  {% endset %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: titleText
    },
    actions: {
      items: [{
        href: "/application/references/" + id + "/delete",
        text: "Delete"
      }]
    }
  },
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: item.type | title
      },
      actions: {
        items: [
          {
            text: "Change",
            href: "/application/references/" + id + "/type"
          }
        ]
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        text: item.name
      },
      actions: {
        items: [
          {
            text: "Change",
            href: "/application/references/" + id + "/name"
          }
        ]
      }
    },
    {
      key: {
        text: "Email"
      },
      value: {
        text: item.email
      },
      actions: {
        items: [
          {
            text: "Change",
            href: "/application/references/" + id + "/email"
          }
        ]
      }
    },
    {
      key: {
        text: "How you know them and for how long"
      },
      value: {
        text: item.relationship
      },
      actions: {
        items: [
          {
            text: "Change",
            href: "/application/references/" + id + "/relationship"
          }
        ]
      }
    }
  ]
  })
}}
