{% set applicationPath = "/application/" + applicationId %}
{% set status = item.status or "requested" %}

{% if applicationValue('apply2') %}
  {% set showReferenceStatus = true %}
{% endif %}

{% set statusHtml %}
  {{ govukTag({
    classes: "app-tag--" + status,
    text: status | capitalize
  }) }}
{% endset %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Name"
    },
    value: {
      text: item.name or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmend
  }, {
    key: {
      text: "Email"
    },
    value: {
      text: item.email or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmend
  }, {
    key: {
      text: "Reference type"
    },
    value: {
      text: item.type or "Not entered"
    },
    actions: {
      items: [{
        href: applicationPath + "/references/type/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmend
  }, {
    key: {
      text: "Relationship"
    },
    value: {
      text: (item.relationship or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "referee"
      }]
    } if canAmend
  }, {
    key: {
      text: "Status"
    },
    value: {
      html: statusHtml
    }
  } if status and showReferenceStatus]
}) }}

{# Reference statuses:
[name] has responded
[name] has been sent a reminder email
[name] has declined to give a reference
[name] has failed to respond before the 10-day deadline #}
