{% set applicationPath = "/application/" + applicationId %}

{% set datesHtml -%}
  {%- if item["start-date"] or item["time-commitment"] -%}
    {{- item["start-date"] | date("MMMM yyyy") }} - {{ item["end-date"] | date("MMMM yyyy") if item["end-date"] != "now" else "Present" }}
    {%- if item["time-commitment"] -%}
      <br>{{ item["time-commitment"] | nl2br | safe }}
    {%- endif -%}
  {%- else -%}
    Not entered
  {%- endif -%}
{% endset %}

{% set changeHref = applicationPath + "/school-experience/role/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Role"
    },
    value: {
      text: item.role or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "role"
      }]
    } if canAmend
  }, {
    key: {
      text: "Organisation"
    },
    value: {
      text: item.org or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "organisation"
      }]
    } if canAmend
  }, {
    key: {
      text: "Tell us how long you’ve been in this role and what it involves"
    },
    value: {
      text: datesHtml | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if canAmend
  }]
}) }}
