{% set datesText %}
  {{ item["start-date"] | date("MMMM yyyy") }} - {{ item["end-date"] | date("MMMM yyyy") if item["end-date"] != "now" else "Present" }}
{% endset %}

{% set changeHref = applicationPath + "/unpaid-experience/role/" + item.id + "?referrer=" + referrer %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Role"
    },
    value: {
      text: item.role or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "role"
      }]
    } if canAmend
  }, {
    key: {
      text: "Organisation"
    },
    value: {
      text: item.org or "Not entered"
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "organisation"
      }]
    } if canAmend
  }, {
    key: {
      text: "Did this role involve working in a school or with children?"
    },
    value: {
      text: (item["worked-with-children"] or "Not entered")
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "if this role involved working with children"
      }]
    } if canAmend
  }, {
    key: {
      text: "Dates"
    },
    value: {
      text: datesText
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "dates"
      }]
    } if canAmend
  }, {
    key: {
      text: "Time commitment and responsibilities"
    },
    value: {
      text: item["time-commitment"] | nl2br | safe
    },
    actions: {
      items: [{
        href: changeHref,
        text: "Change",
        visuallyHiddenText: "time commitment and responsibilities"
      }]
    } if canAmend
  }]
}) }}
