{% set unpaidExperience = data.unpaidExperience %}

{% if data.unpaidExperienceAdded == "no" %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have any unpaid experience?"
      },
      value: {
        html: "No"
      },
      actions: {
        items: [{
          href: "/application/unpaid-experience?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "if you have any unpaid experience"
        }]
      } if canAmend
    }]
    }) }}
{% else %}
  {% for id, item in unpaidExperience %}

    {{ govukSummaryList({
      card: {
        title: {
          text: item.role
        },
        actions: {
          items: [
            {
              text: "Delete role",
              href: "/application/unpaid-experience/role/" + id + "/delete"
            }
          ]
        }
      },
      rows: [{
        key: {
          text: "Role"
        },
        value: {
          text: item.role or "Not entered"
        },
        actions: {
          items: [{
            href: "/application/unpaid-experience/role/" + id,
            text: "Change",
            visuallyHiddenText: "role"
          }]
        }
      }, {
        key: {
          text: "Organisation"
        },
        value: {
          text: item.employerName or "Not entered"
        },
        actions: {
          items: [{
            href: "/application/unpaid-experience/role/" + id,
            text: "Change",
            visuallyHiddenText: "organisation"
          }]
        }
      }, {
        key: {
          text: "Did this role involve working in a school or with children?"
        },
        value: {
          text: ("Yes" if item.involvedWorkingWithChildren == "yes" or "No")
        },
        actions: {
          items: [{
            href: "/application/unpaid-experience/role/" + id,
            text: "Change",
            visuallyHiddenText: "if this role involved working with children"
          }]
        }
      }, {
        key: {
          text: "Dates"
        },
        value: {
          text: (item.startMonth | monthName) + " " + item.startYear + " - " + (item.endMonth | monthName if item.stillWorkingInRole == "no" else "Present") + " " + (item.endYear  if item.stillWorkingInRole == "no")
        },
        actions: {
          items: [{
            href: "/application/unpaid-experience/role/" + id,
            text: "Change",
            visuallyHiddenText: "dates"
          }]
        }
      }, {
        key: {
          text: "Time commitment and responsibilities"
        },
        value: {
          text: item.timeCommitmentAndResponsibilities
        },
        actions: {
          items: [{
            href: "/application/unpaid-experience/role/" + id,
            text: "Change",
            visuallyHiddenText: "time commitment and responsibilities"
          }]
        }
      }]
    }) }}
  {% endfor %}
{% endif %}
