{% set workHistory = data.workHistory %}

{% if data.workHistoryAdded == "no-full-time-education" %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Do you have any work history?"
      },
      value: {
        text: "No, I have always been in full time education"
      },
      actions: {
        items: [{
          href: "/details/work-history",
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}
{% elif data.workHistoryAdded == "no" %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Explanation of why you’ve been out of the workplace"
      },
      value: {
        text: data.noWorkHistoryDetail
      },
      actions: {
        items: [{
          href: "/details/work-history",
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}
{% else %}
  {% if (workHistory | length) >= 1 %}

    <div class="govuk-summary-card govuk-!-padding-3">
      {% set totalWorkHistoryItems = workHistory | sortedWorkHistory | length %}
      {% for item in workHistory | sortedWorkHistory %}
        {% include "_includes/item/job.html" %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
