{% extends "_form.njk" %}

{% set title = "Are you sure you want to accept this offer?" %}
{% set formaction = "/send-email/" + applicationId + "/" + choiceId + "/decision" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId + "/" + choiceId + "/view"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/item/offer.njk" %}

  <p class="govuk-body">By accepting this offer, you confirm that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you understand any other applications made through Apply for teacher training will be automatically withdrawn</li>
  </ul>

  {{ govukButton({
    text: "Accept offer",
    name: "decision",
    value: "accept"
  }) }}
{% endblock %}
