{% extends "_form.njk" %}

{% set parent = provider.name + " - " + course.name_and_code %}
{% set title = "Accept offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">You are accepting an offer from {{ provider.name }} to study {{ course.name_and_code }}.
  <p class="govuk-body">To take up your place, you must meet the following conditions:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Fitness to teach check</li>
    <li>Disclosure and Barring Service check</li>
  </ul>
  <p class="govuk-body">For help understanding or meeting these conditions, contact your training provider.</p>
  <p class="govuk-body">When you accept this offer, all other applications made through Apply for teacher training will be automatically withdrawn.</p>

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I confirm I have not accepted any other offers of teacher training places (for example through UCAS Teacher Training)"
    }],
    name: "accept"
  }) }}

  {{ govukButton({
    text: "Accept offer"
  }) }}
{% endblock %}
