{% extends "_form.html" %}

{% set title = "Your conditional " + ("offers" if choices | length > 1 else "offer") %}
{% set formaction = "/application/" + applicationId + "/decision" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/dashboard/" + applicationId
  }) }}
{% endblock %}

{% block primary %}

  <p class="govuk-body-l govuk-!-margin-top-0">
    {% if choices | length > 1  %}
      You have received {{ choices | length }} conditional offers.
    {% else %}
      {{ providers[choices[0].providerCode]["name"] }} have offered you a conditional place on the <a href="#">Primary (ABCA12) course</a>.
    {% endif %}
  </p>

  <p class="govuk-body-l">You have 14 days (until 4 March 2021) to accept or decline the     {{ "offers" if choices | length > 1 else "offer" }}.</p>

  {% for choice in choices %}
    {% if choices | length > 1 %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ providers[choice.providerCode]["name"] }}</h2>
      <p class="govuk-body">{{ providers[choice.providerCode].courses[choice.courseCode].name }} ({{ choice.courseCode }})</p>
    {%  endif %}

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Conditions of offer</h3>
    <ul class="govuk-list govuk-list--bullet">
      {% for condition in choice.conditions %}
        <li>{{ condition.title }}</li>
      {% endfor %}
    </ul>

  {% endfor %}

  <p class="govuk-body">For help understanding or meeting your conditions, contact {{ "the providers" if choices | length > 1 else "the provider" }} directly.</p>

  <h2 class="govuk-heading-m">Accepting or declining offers</h2>

  <p class="govuk-body">You can only accept one offer, across both Apply for teacher training and UCAS teacher training.</p>

  <p class="govuk-body">You can still apply again for a course this year if you fail to respond or decline your {{ "offers" if choices | length > 1 else "offer" }}.</p>


  {% set legendText %}
    {% if choices | length > 1  %}
      How do you want to respond to these offers?
    {% else %}
      How do you want to respond to this offer?
    {% endif %}
  {% endset %}

  {% set items = [] %}

  {% if choices | length == 1  %}
    {% set _ = items.push({value: choices[0].id, text: "Accept offer and conditions"}) %}
    {% set _ = items.push({value: "decline-all", text: "Decline offer"}) %}
  {% else %}

    {% for choice in choices %}
      {% set _ = items.push({value: choice.id, text: "Accept offer from " + providers[choice.providerCode]["name"] + " for " + providers[choice.providerCode].courses[choice.courseCode].name + " (" + choice.courseCode + ")" })
      %}
    {% endfor %}

    {% set _ = items.push({divider: "or"})
      %}
    {% set _ = items.push({value: "decline-all", text: "Decline all offers"}) %}

  {% endif %}



  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: legendText,
        classes: "govuk-fieldset__legend--m"
      }
    },
    id: "decision",
    name: "decision",
    items: items
  }) }}


  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
