{% extends "_form.njk" %}

{% set title = "Details of offer" %}
{% set referrer = "/application/" + applicationId + "/" + choiceId + "/view" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/dashboard/"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/item/offer.njk" %}

  <p class="govuk-body">Before you accept:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>if you accept this offer, you cannot also accept another offer through UCAS teacher training</li>
    {% if numberOfOffersReceived > 1 %}
      <li>if you accept this offer, your other {{ "offer" if numberOfOffersReceived == 2 else "offers"}} will be automatically declined</li>
    {% endif %}
    <li>if you decline all of your offers, or do not respond in time, you can still apply for courses that start this academic year</li>
  </ul>

  <p class="govuk-body">If you need help, you can speak to our <a href="https://beta-adviser-getintoteaching.education.gov.uk" class="govuk-link">teacher training advisers</a>.</p>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "How do you want to respond to this offer?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    id: "decision",
    name: "decision",
    items: [{
      value: "accept",
      text: "Accept offer and conditions"
    }, {
      value: "decline",
      text: "Decline offer"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
