{% extends "_form.njk" %}

{% set title = "Course choice withdrawn" %}
{% set formaction = "/applications" %}

{% block content %}
<form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
  {{ govukPanel({
    classes: "govuk-!-margin-bottom-8",
    titleText: title,
    text: "We will let " + provider.name + " know that you have withdrawn your application for " + course.name_and_code
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set reasonHtml %}
        {{ govukTextarea({
          label: {
            text: "Please explain your reason for withdrawing from this course."
          },
          hint: {
            text: "Your provider will not see this feedback."
          }
        } | decorateApplicationAttributes(["withdrawal-reason"])) }}
      {% endset %}

      {% set contactDetailsHtml %}
        {{ govukTextarea({
          label: {
            text: "Please let us know when you’re available and give a phone number"
          }
        } | decorateApplicationAttributes(["withdrawal-contact-details"])) }}
      {% endset %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        fieldset: {
          legend: {
            text: "Do you have a reason for withdrawing?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        id: "guidance-rating",
        name: "guidance-rating",
        items: [{
          text: 'Yes, I’d like to share my reason with the Department for Education',
          conditional: {
            html: reasonHtml
          }
        }, {
          text: 'I’d prefer not to say'
        }]
      }) }}

      {{ govukRadios({
        idPrefix: "withdrawal-research",
        name: "withdrawal[research]",
        value: withdrawal["research"],
        fieldset: {
          legend: {
            html: "Can we contact you about your experience of withdrawing?",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "We’d ideally like to speak on the phone for half an hour."
        },
        items: [{
          value: "yes",
          text: "Yes, you can contact me",
          conditional: {
            html: contactDetailsHtml
          }
        }, {
          value: "no",
          text: "No, do not contact me"
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
