{% extends "_form.njk" %}

{% set title %}
  {% if choices | length > 1  %}
    Which application do you want to withdraw?
  {% elseif choices[0].status == "Offer accepted" or choices[0].status == "Conditions met" or choices[0].status == "Offer deferred" %}
    Are you sure you want to withdraw from this course?
  {% else %}
    Are you sure you want to withdraw your application?
  {% endif %}
{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/dashboard/" + applicationId
  }) }}
{% endblock %}

{% block primary %}

  <p class="govuk-body">[Content here about what happens when you withdraw?]</p>

  {% if choices | length == 1  %}

    <p class="govuk-body">[Content here to remind you about the course?]</p>

    {% set buttonText %}
      {% if  choices[0].status == "Offer accepted" or choices[0].status == "Conditions met" or choices[0] == "Offer deferred" %}
        Yes I’m sure - withdraw from this course
      {% else %}
        Yes I’m sure - withdraw this application
      {% endif %}
    {% endset %}



   {{ govukButton({
      classes: "govuk-button--warning",
      text: buttonText,
      name: "decision",
      value: "withdraw"
    }) }}

  {% else %}

    {% set items = [] %}

    {% for choice in choices %}
      {% set _ = items.push({value: "choice-0", text: providers[choice.providerCode].courses[choice.courseCode].name + " at " + providers[choice.providerCode]["name"] + " (" + choice.courseCode + ")" })
      %}
    {% endfor %}

    {% set _ = items.push({divider: "or"})
      %}
    {% set _ = items.push({value: "choice-0", text: "Withdraw all applications"}) %}

    {{ govukRadios({
      fieldset: {
        classes: "govuk-!-margin-top-6",
        legend: {
          text: legendText,
          classes: "govuk-fieldset__legend--m"
        }
      },
      id: "decision",
      name: "decision",
      items: items
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  {% endif %}

{% endblock %}
