{% extends "_form.njk" %}

{% set title = "Are you sure you want to withdraw this course choice?" %}
{% set formaction = "/send-email/" + applicationId + "/" + choiceId + "/decision" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/dashboard/" + applicationId
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/item/offer.njk" %}

  <p class="govuk-body">If you withdraw this course choice{% if not applicationValue('apply2') %} (and all your other course choices){% endif %} you can still apply for more courses this&nbsp;year.</p>

  {{ govukButton({
    classes: "govuk-button--warning",
    text: "Yes I’m sure - withdraw this course choice",
    name: "decision",
    value: "withdraw"
  }) }}
{% endblock %}
