{% extends "layouts/main.html" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "You need a GCSE in " + subject + " at grade 4 (C) or above, or equivalent" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + "/gcse/" + id + "/review" %}


{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or "/application/" + "/gcse/" + id + "/not-yet"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">You can still apply for teacher training if you do not have a qualification which demonstrates this.</p>

      <p class="govuk-body">Some providers may let you sit an equivalency test to show you have the required skills.</p>

      <p class="govuk-body">For advice, contact your chosen training provider or a <a href="https://adviser-getintoteaching.education.gov.uk" class="govuk-link">teacher training adviser</a>. An adviser can help you understand the qualifications you need and how to get them.</p>

      <form action="/details/gcse/{{ id }}/review" method="post">
        {{ govukCharacterCount({
          name: "gcse[" + id + "][otherEvidence]",
          label: {
            classes: "govuk-label--m",
            html: "If you have other evidence of having " + subject + " skills at the required standard, give details (optional)"
          },
          value: data.gcse[id].otherEvidence,
          maxwords: 200,
          rows: 6
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
