{% extends "layouts/main.html" %}

{% set subject = ("an " + id | capitalize) if id == "english" else "a " + id %}
{% set type = applicationValue(["gcse", id, "type"]) %}
{% set title = "Are you currently studying for a GCSE in " + subject + ", or equivalent?" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + "/gcse/" + id + "/not-yet" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/gcse/" + id
  }) }}
{% endblock %}

{% block content %}

  {% set studyingForQualificationHtml %}
    {{ govukCharacterCount({
        label: {
          classes: "govuk-label--s",
          html: "Details of the qualification you’re studying for"
        },
        maxwords: 200,
        rows: 6
      }) }}
  {% endset %}

  {{ govukRadios({

    items: [{
      text: "Yes",
      value: "yes",
      conditional: {
        html: studyingForQualificationHtml
      }
    }, {
      text: "No",
      value: "no"
    }
    ]}) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
