{% extends "layouts/main.html" %}

{% set title = (id | capitalize) + " GCSE or equivalent" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% include "_includes/review/gcse.html" %}

  <form action="/details" method="post">
    {{ govukRadios({
      name: "completed[" + id + "]",
      value: data.completed[id],
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
