{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% if data.gcse[id].completed == "false" %}
  {% set title = "When will you get your " + subject + " qualification?" %}
{% else %}
  {% set title = "What year did you get your " + subject + " qualification?" %}
{% endif %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/gcse/" + id + "/grade"
  }) }}
{% endblock %}


{% block content %}
  <form action="/details/gcse/{{ id }}/review" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ govukInput({
            name: "gcse[" + id + "][year]",
            label: {
              classes: "govuk-label--l",
              text: title,
              isPageHeading: true
            },
            hint: {
              text: "For example, 1996"
            },
            value: data.gcse[id].year,
            classes: "govuk-input--width-4"
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </div>
      </div>
    </form>
{% endblock %}
