{% extends "layouts/main.html" %}

{% set reference = data.references[id] %}
{% set title = "What is " + reference.name + "’s email address?" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/accepted/references/" + id + "/name"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/accepted/references/{{ id }}/relationship" method="post">

        {{ govukInput({
          name: "references[" + id + "][email]",
          value: data.references[id].email,
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "In most cases, this should be a work address."
          }
        }) }}

        {{ govukButton({
          text: "Save changes" if referrer else "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
