{% extends "_form-question.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set title = "What is " + referee.name + "’s email address?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/accepted/" + "/references/" + id + "/relationship/" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/accepted/" + "/references/" + id + "/name/"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ govukInput({
    label: label,
    hint: {
      text: "In most cases, this should be a work address."
    }
  } | decorateApplicationAttributes(["references", id, "email"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
