{% extends "layouts/main.html" %}

{% set reference = data.references[id] %}
{% set title = "Request a referee" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/accepted"
  }) }}
{% endblock %}

{% block content %}
  <form action="/accepted/references/{{ id }}/type" method="post">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">You should choose people who can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm how long they have known you</li>
      <li>say whether they know of any reason why you should not work with children</li>
    </ul>

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
