{% extends "layouts/main.html" %}

{% set title = "What is the referee’s name?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/accepted/" + "/references/" + id + "/email/" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/accepted/" + "/references/" + id + "/type/"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

{{ govukInput({
  label: {
    text: "What is the referee’s name?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "You must not use family members, partners or friends as referees."
  },
  id: "name",
  name: "references"
} | decorateApplicationAttributes(["references", id, "name"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
