{% extends "layouts/main.html" %}

{% set reference = data.references[id] %}
{% set title = "How do you know " + reference.name + " and how long have you known them?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/accepted/" + "/references/" + id + "/request/" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/accepted/" + "/references/" + id + "/email/"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/accepted/references/{{ id }}/request" method="post">

        {% if reference.type == "Academic, such as a university tutor" %}
          {% set relationshipExample = "They were my course supervisor at university. I’ve known them for a year." %}
        {% elif reference.type == "Professional, such as a manager" %}
          {% set relationshipExample = "They were my line manager in my last job. I’ve known them for 2 years." %}
        {% elif reference.type == "Someone you know through experience working in a school" %}
          {% set relationshipExample = "They are the deputy head at the school where I currently volunteer. I’ve known them for 3 years." %}
        {% else %}
          {% set relationshipExample = "They are the head coach for my athletics club. I’ve known them for 5 years." %}
        {% endif %}

        {{ govukCharacterCount({
          name: "references[" + id + "][relationship]",
          value: data.references[id].relationship,
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, ‘" + relationshipExample + "’"
          },
          maxwords: 50,
          threshold: 85
        }) }}

        <p class="govuk-body">We’ll show your answer to {{reference.name}} and ask them whether it’s correct.</p>

        {{ govukButton({
          text: "Save changes" if referrer else "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
