{% extends "_form.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set title = "Check your answers before sending your request" %}
{% set allowsFeedback = true %}
{% set formaction = "/accepted/" + applicationId + "/references/" + id + "/request/decision" %}

{% block pageNavigation %}
    {{ govukBackLink({
      href: "/accepted/" + applicationId,
      text: "Back to application"
    }) }}
{% endblock %}

{% block primary %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Name"
      },
      value: {
        text: referee.name or "Not entered"
      },
      actions: {
        items: [{
          href: "/accepted/" + applicationId + "/references/" + id + "/name/?referrer=/accepted/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
    }, {
      key: {
        text: "Email address"
      },
      value: {
        text: referee.email or "Not entered"
      },
      actions: {
        items: [{
          href: "/accepted/" + applicationId + "/references/" + id + "/email/?referrer=/accepted/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "email address"
        }]
      }
    }, {
      key: {
        text: "Reference type"
      },
      value: {
        text: referee.type or "Not entered"
      },
      actions: {
        items: [{
          href: "/accepted/" + applicationId + "/references/" + id + "/type/?referrer=/accepted/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "reference type"
        }]
      }
    }, {
      key: {
        text: "Relationship to referee"
      },
      value: {
        text: referee.relationship or "Not entered"
      },
      actions: {
        items: [{
          href: "/accepted/" + applicationId + "/references/" + id + "/relationship/?referrer=/accepted/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "relationship to referee"
        }]
      }
    }]
  }) }}

  {{ govukButton({
    text: "Send reference request"
  }) }}
{% endblock %}
