{% extends "layouts/main.html" %}

{% set reference = data.references[id] %}
{% set title = "Check your answers before sending your request" %}
{% set allowsFeedback = true %}

{% block beforeContent %}
    {{ govukBackLink({
      href: "/accepted",
      text: "Back to application"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/accepted/references/{{ id }}/request" method="post">

        {{ govukSummaryList({
          rows: [{
            key: {
              text: "Name"
            },
            value: {
              text: reference.name or "Not entered"
            },
            actions: {
              items: [{
                href: "/accepted/" + "/references/" + id + "/name/?referrer=/accepted/" + "/references/" + id + "/request/",
                text: "Change",
                visuallyHiddenText: "name"
              }]
            }
          }, {
            key: {
              text: "Email address"
            },
            value: {
              text: reference.email or "Not entered"
            },
            actions: {
              items: [{
                href: "/accepted/" + "/references/" + id + "/email/?referrer=/accepted/" + "/references/" + id + "/request/",
                text: "Change",
                visuallyHiddenText: "email address"
              }]
            }
          }, {
            key: {
              text: "Reference type"
            },
            value: {
              text: reference.type or "Not entered"
            },
            actions: {
              items: [{
                href: "/accepted/" + "/references/" + id + "/type/?referrer=/accepted/" + "/references/" + id + "/request/",
                text: "Change",
                visuallyHiddenText: "reference type"
              }]
            }
          }, {
            key: {
              text: "Relationship to referee"
            },
            value: {
              text: reference.relationship or "Not entered"
            },
            actions: {
              items: [{
                href: "/accepted/" + "/references/" + id + "/relationship/?referrer=/accepted/" + "/references/" + id + "/request/",
                text: "Change",
                visuallyHiddenText: "relationship to referee"
              }]
            }
          }]
        }) }}

        {{ govukButton({
          text: "Send reference request"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
