{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Which university awarded your degree?" %}
{% set international = data.degrees[id].uk == "no" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/degree/" + id + "/type"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/details/degree/{{ id }}/completed" method="post">

        {{ govukInput({
          name: "degrees[" + id + "][institution]",
          value: data.degrees[id].institution,
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
