{% extends "layouts/main.html" %}

{% set title = "Degree" %}
{% set degreeCount = data.degrees | length %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% set addDegreeButton %}
        {{ govukButton({
          text: ("Add another degree" if degreeCount > 0 else "Add degree"),
          classes: ("govuk-button--secondary" if (meetsMinimumDegreeCriteria) else ""),
          href: "/details/degree/add"
        }) }}
      {% endset %}

      {% if degreeCount == 0 or not meetsMinimumDegreeCriteria  %}
        <p class="govuk-body">You need a bachelor’s degree or equivalent to start teacher training.</p>
        <p class="govuk-body">Add your bachelor’s degree even if you have not got your grade yet.</p>
        <p class="govuk-body">You can also add any other degrees that you have, or you’re working towards.</p>
        <p class="govuk-body">Find out how you can get qualified teacher status (QTS) as part of an <a href="https://getintoteaching.education.gov.uk/train-to-be-a-teacher/if-you-dont-have-a-degree">undergraduate degree</a> if you do not have a degree yet and are not already studying for one.</p>
        {{ addDegreeButton | safe }}
      {% else %}
        {{ addDegreeButton | safe }}
      {% endif %}
    </div>
  </div>


  {% if degreeCount > 0 %}

    {% include "_includes/review/degrees.html" %}

    {% if meetsMinimumDegreeCriteria %}
      <form action="/details" method="post">
        {{ govukRadios({
          name: "completed[degree]",
          value: data.completed.degree,
          fieldset: {
            classes: "govuk-!-width-two-thirds",
            legend: {
              text: "Have you completed this section?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "true",
            text: "Yes, I’ve completed this section"
          }, {
            value: "false",
            text: "No, I’ll come back to it later"
          }]
        } ) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    {% endif %}

  {% endif %}
{% endblock %}
