{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Are you already living in the UK?" %}
{% set formaction = referrer if referrer else "/application/" + "/personal-information/review" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer if referrer else "/application/" + "/personal-information/already-living-in-uk"
  }) }}
{% endblock %}

{% block content %}

    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "When did you start living in the UK?",
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: " For example, 31 3 2020. The length of time you’ve been living in the UK may affect the cost of courses."
      },
      id: "candidate-dateOfEntry",
      items: [{
        classes: "govuk-input--width-2",
        label: "Day",
        name: "applications[" + "][candidate][dateOfEntry][day]",
        value: applicationValue(["candidate", "dateOfEntry", "day"])
      }, {
        classes: "govuk-input--width-2",
        label: "Month",
        name: "applications[" + "][candidate][dateOfEntry][month]",
        value: applicationValue(["candidate", "dateOfEntry", "month"])
      }, {
        classes: "govuk-input--width-4",
        label: "Year",
        name: "applications[" + "][candidate][dateOfEntry][year]",
        value: applicationValue(["candidate", "dateOfEntry", "year"])
      }]
    }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
