{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set formaction = "/details/personal-information/immigration/answer" %}
{% set title = "Right to work or study in the UK" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/personal-information/nationality"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">You can use a visa which is due to expire before the end of your course, as long as you have the right to renew it.</p>
  <p class="govuk-body"><a href="https://www.gov.uk/check-uk-visa" class="govuk-link" target="_new">Check your immigration status and whether you’ll need to apply for a visa</a>.</p>
  <p class="govuk-body">If you do not currently have the right to work or study, you can apply for your visa when you have been accepted on to a teacher training course which sponsors visas.</p>

<form action="{{ formaction }}" method="post">
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you already have the right to work or study in the UK?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    name: "immigration",
    value: data.immigration,
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "No",
      text: "Not yet"
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

   </form>
   </div>
</div>
{% endblock %}
