{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set title = "What’s your immigration status?" %}
{% set formaction = "/details/personal-information/immigration-status" %}

{% block beforeContent %}
  {{ govukBackLink({
   href: "/details/personal-information/immigration"
  }) }}
{% endblock %}

{% block content %}

 <form action="/details/personal-information/review" method="post">
        {{ govukTextarea({
          name: "immigrationStatus",
          value: data.immigrationStatus,
          id: "immigration-status",
          label: {
            text: "What is your immigration status?",
            classes: "govuk-label--l"
          },
          hint: {
    text: "For example, 'I have permanent residence'."
  }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

{% endblock %}
