{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set formaction = "/details/personal-information/nationality/answer" %}
{% set title = "What’s your nationality?" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/personal-information/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

       <form action="{{ formaction }}" method="post">
{{ govukHint({id: describedBy, text: "Select all that apply." })}}
      {% set otherHtml %}
        <div class="app-add-another-nationality">
          {{ govukInput({
            name: "otherNationality",
            label: {
              text: "Nationality"
            },
            value: data.otherNationality
          }) }}
        </div>

      {% endset %}

{{ govukCheckboxes({
      name: "nationalities",
      value: data.nationalities,
      items: [{
        text: "British",
        value: "British"
      },
      {
        text: "Irish",
        value: "Irish"
      },
       {
        text: "Other",
        value: "Other",
        conditional: {
          html: otherHtml
        }
      }]
    }) }}
   
      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
