{% set complete = data.choices | length > 0 %}

{% for id, item in choices %}

    {{ govukSummaryList({
      card: {
        title: {
          text: item.providerName
        },
        actions: {
          items: [{
            href: "/application/choices/" + id + "/delete",
            text: "Delete choice"
          }]
        }
      },
      rows: [
        {
          key: {
            text: "Course"
          },
          value: {
            text: item.course
          },
          actions: {
            items: [
              {
                text: "Change",
                href: "/application/choices/" + id + "/course"
              }
            ]
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            html: "Main Site<br>United Teaching School, Station Road, JS9 8WP"
          }
        },
        {
          key: {
            text: "Type"
          },
          value: {
            text: "QTS full time"
          }
        },
        {
          key: {
            text: "Course length"
          },
          value: {
            text: "1 year"
          }
        },
        {
          key: {
            text: "Date course starts"
          },
          value: {
            text: "September 2023"
          }
        },
        {
          key: {
            text: "Degree required"
          },
          value: {
            text: "2:2 degree or higher (or equivalent)"
          }
        },
        {
          key: {
            text: "GCSE requirements"
          },
          value: {
            text: "This provider will not accept equivalency tests"
          }
        }

      ]

    })}}


{% endfor %}
