{% set applicationPath = "/application/" + applicationId %}
{% set addressHtml -%}
  {%- if contactDetails.address -%}
    {%- if contactDetails["address-type"] == "international" -%}
      {{ contactDetails.address["street-address"] }}
      {{ contactDetails.address.country }}
    {%- else -%}
      {%- if contactDetails.address.line1 -%}
        {{ contactDetails.address.line1 }}<br>
      {%- endif -%}
      {%- if contactDetails.address.line2 -%}
        {{ contactDetails.address.line2 }}<br>
      {%- endif -%}
      {%- if contactDetails.address.level2 -%}
        {{ contactDetails.address.level2 }}<br>
      {%- endif -%}
      {%- if contactDetails.address.level1 -%}
        {{ contactDetails.address.level1 }}<br>
      {%- endif -%}
      {%- if contactDetails.address["postal-code"] -%}
        {{ contactDetails.address["postal-code"] }}<br>
      {%- endif -%}
      {%- if contactDetails.address.country -%}
        {{ contactDetails.address.country }}
      {%- endif -%}
    {%- endif -%}
  {%- else -%}
    Not entered
  {%- endif %}
{%- endset %}

{% set contactDetailsHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Phone number"
      },
      value: {
        text: contactDetails["phone-number"] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "phone number"
        }]
      } if canAmend
    }, {
      key: {
        text: "Email address"
      },
      value: {
        text: data["account"]["email"] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "email"
        }]
      } if canAmend
    } if data.flags.self_amend_email_address, {
      key: {
        text: "Address"
      },
      value: {
        html: addressHtml | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details/where-do-you-live?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "address"
        }]
      } if canAmend
    }]
  }) }}
{% endset %}

{% set complete = "true" if applicationValue(["completed", "contact-details"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "contact-details" %}
  {% set incompleteText = "Contact details not marked as complete" %}
  {% set incompleteLink = "/contact-details/review?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: contactDetailsHtml
  }) }}
{% endif %}
