{% set completed = applicationValue(["completed", "contactInformation"]) %}
{% set entered = applicationValue(["contactInformation", "tel"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "contactInformation",
    title: "Contact information not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Enter your contact information",
        href: applicationPath + "/contact-information"
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "contactInformation",
    title: "Contact information are not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete contact information",
        href: applicationPath + "/contact-information/review"
      }]
    }
  }) if not completed and showIncomplete }}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Phone number"
        },
        value: {
          text: applicationValue(["contactInformation", "tel"]) or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "phone number"
          }]
        } if canAmend
      }, {
        key: {
          text: "Email address"
        },
        value: {
          text: data["account"]["email"] or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "email"
          }]
        } if canAmend
      } if data.flags.selfAmendEmailAddress, {
        key: {
          text: "Contact address"
        },
        value: {
          html: applicationValue(["contactInformation", "address"]) | formatAddress | nl2br | safe or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information/where-do-you-live?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "address"
          }]
        } if canAmend
      }, {
        key: {
          text: "Have you lived in the UK for longer than 3 years?"
        },
        value: {
          html: applicationValue(["contactInformation", "lengthOfStay"]) or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information/length-of-stay?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "if you lived in the UK for longer than 3 years"
          }]
        } if canAmend
      } if applicationValue(["contactInformation", "lengthOfStay"]) and not applicationValue(["contactInformation", "address", "country"]), {
        key: {
          text: "Previous country of residence"
        },
        value: {
          html: applicationValue(["contactInformation", "previousAddress", "country"]) or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information/length-of-stay?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "previous country of residence"
          }]
        } if canAmend
      } if applicationValue(["contactInformation", "lengthOfStay"] == "No") and not applicationValue(["contactInformation", "address", "country"]), {
        key: {
          text: "What is your permanent address?"
        },
        value: {
          html: applicationValue(["contactInformation", "contactAddressIsResidence"]) or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information/permanent-address?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "permanent address"
          }]
        } if canAmend
      } if applicationValue(["contactInformation", "contactAddressIsResidence"]) and applicationValue(["contactInformation", "address", "country"]), {
        key: {
          text: "Permanent address"
        },
        value: {
          html: applicationValue(["contactInformation", "permanentAddress"]) | formatAddress | nl2br | safe or "Not entered"
        },
        actions: {
          items: [{
            href: applicationPath + "/contact-information/permanent-address?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "permanent address"
          }]
        } if canAmend
      } if applicationValue(["contactInformation", "permanentAddress"]) and applicationValue(["contactInformation", "address", "country"])]
    })
  }) }}
{% endif %}
