{% set applicationPath = "/application/" + applicationId %}
{% set addressHtml -%}
  {%- if applicationValue(["contact-details", "address"]) -%}
    {%- if applicationValue(["contact-details", "address", "street-address"]) -%}
      {{ applicationValue(["contact-details", "address", "street-address"]) }}
    {%- else -%}
      {%- if applicationValue(["contact-details", "address", "line1"]) -%}
        {{ applicationValue(["contact-details", "address", "line1"]) }}<br>
      {%- endif -%}
      {%- if applicationValue(["contact-details", "address", "line2"]) -%}
        {{ applicationValue(["contact-details", "address", "line2"]) }}<br>
      {%- endif -%}
      {%- if applicationValue(["contact-details", "address", "level2"]) -%}
        {{ applicationValue(["contact-details", "address", "level2"]) }}<br>
      {%- endif -%}
      {%- if applicationValue(["contact-details", "address", "level1"]) -%}
        {{ applicationValue(["contact-details", "address", "level1"]) }}<br>
      {%- endif -%}
      {%- if applicationValue(["contact-details", "address", "postal-code"]) -%}
        {{ applicationValue(["contact-details", "address", "postal-code"]) }}<br>
      {%- endif -%}
      {%- if applicationValue(["contact-details", "address", "country"]) -%}
        {{ applicationValue(["contact-details", "address", "country"]) }}
      {%- endif -%}
    {%- endif -%}
  {%- else -%}
    Not entered
  {%- endif %}
{%- endset %}

{% set contactDetailsHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Phone number"
      },
      value: {
        text: applicationValue(["contact-details", "phone-number"]) or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "phone number"
        }]
      } if review == true
    }, {
      key: {
        text: "Email address"
      },
      value: {
        text: data["account"]["email"] or "Not entered"
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "email"
        }]
      } if review == true
    }, {
      key: {
        text: "Address"
      },
      value: {
        html: addressHtml | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/contact-details/where-do-you-live?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "address"
        }]
      } if review == true
    }]
  }) }}
{% endset %}

{% if applicationValue("contact-details") %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: contactDetailsHtml
  }) }}
{% else %}
  <p class="govuk-body">No contact details entered.</p>
{% endif %}
