
{% set addressHtml %}
  {{ data.address.line1 }}<br>
  {{ data.address.line2 }}<br>
  {{ data.address.town }}<br>
  {{ data.address.county }}<br>
  {{ data.address.postalCode }}
  {% if not data.livesInUk == 'yes' %}<br>{{ data.address.country }}{% endif %}

{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Phone number"
    },
    value: {
      text: data.phoneNumber
    },
    actions: {
      items: [{
        href: "/application/contact-information?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "phone number"
      }]
    }
  }, {
    key: {
      text: "Address"
    },
    value: {
      html: addressHtml
    },
    actions: {
      items: [{
        href: "/application/contact-information/where-do-you-live?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "address"
      }]
    }
  }]
}) }}
