{% set completed = applicationValue(["completed", "degree"]) %}
{% set entered = applicationValue(["degree"]) | length %}

{% if not entered %}
  {{ appSuggestion({
    id: "degree",
    title: "Degree not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Enter your degree",
        href: applicationPath + "/degree/add"
      }]
    }
  }) }}
{% else %}
  {{ govukInsetText({
    classes: "govuk-!-width-two-thirds",
    html: "<p>Training providers usually ask for a degree at 2:2 or above. You’ve entered ‘" + enteredGrade + "’.</p><p>Contact your chosen training provider for advice. You can also search for providers that accept ‘" + enteredGrade + "’ degrees on <a href=\"https:\/\/www.find-postgraduate-teacher-training.service.gov.uk\">Find postgraduate teacher training courses</a>.</p>"
  }) if not hasElligibleGrade and not showIncomplete }}

  {{ appSuggestion({
    id: "degree",
    title: "Degree section not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete the degree section",
        href: applicationPath + "/degree/review"
      }]
    }
  }) if not completed and showIncomplete }}

  {% include "_includes/item/degrees.njk" %}
{% endif %}
