{% set applicationPath = "/application/" + applicationId %}
{% set degrees = applicationValue(["degree"]) %}

{% if degrees %}
  {% set degrees = degrees | toArray | selectattr("id") %}
  {% for item in degrees %}
    {% set degreeHtml %}
      {% include "_includes/item/degree.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.type + " " + item.subject,
      actions: {
        items: [{
          href: applicationPath + "/degree/" + item.id + "/delete?referrer=" + referrer,
          text: "Delete degree"
        }]
      } if review == true,
      html: degreeHtml
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No degrees entered.</p>
{% endif %}
