{% set applicationPath = "/application/" + applicationId %}
{% set degrees = applicationValue(["degree"])
  | toArray
  | selectattr("id")
%}

{% if degrees.length >= 1 %}
  {% for item in degrees %}
    {% set degreeHtml %}
      {% include "_includes/item/degree.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.type + " " + item.subject,
      actions: {
        items: [{
          href: applicationPath + "/degree/" + item.id + "/remove?referrer=" + referrer,
          text: "Remove degree"
        }]
      } if review == true,
      html: degreeHtml
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No degrees entered.</p>
{% endif %}
