{% set applicationPath = "/application/" + applicationId %}
{% set disabilityDetailsHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Disclose a disability?"
      },
      value: {
        text: applicationValue(["disability", "disclose"])
      },
      actions: {
        items: [{
          href: applicationPath + "/disability?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "if you want to disclose a disability"
        }]
      } if canAmend
    }, {
      key: {
        text: "About your disability"
      },
      value: {
        html: applicationValue(["disability", "about-disability"])
      },
      actions: {
        items: [{
          href: applicationPath + "/disability?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "details about your disability"
        }]
      } if canAmend
    } if applicationValue(["disability", "disclose"]) == 'Yes']
  }) }}
{% endset %}

{% if applicationValue("disability") %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: disabilityDetailsHtml
  }) }}
{% else %}
  <p class="govuk-body">No choice made about disclosing a disability.</p>
{% endif %}
