{% set item = applicationValue(["english-language"]) %}
{% set complete = "true" if applicationValue(["completed", "english-language"]) %}

{% set englishLanguageHtml %}
  {% include "_includes/item/english-language.njk" %}
{% endset %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "english-language",
    title: "English as a foreign language not marked as complete",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Have you done an English as a foreign language assessment?",
        href: applicationPath + "/english-language/review?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "English as a foreign language assessment",
    html: englishLanguageHtml
  }) }}
{% endif %}
