{% set completed = applicationValue(["completed", id]) %}
{% set entered = applicationValue(["gcse", id, "type"]) %}
{% set gcseSubject = id | capitalize %}

{% if not entered %}
  {{ appSuggestion({
    id: "gcse-" + id,
    title: gcseSubject + " GCSE or equivalent not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Enter your " + gcseSubject + " GCSE or equivalent",
        href: applicationPath + "/gcse/" + id
      }]
    }
  }) if not completed and showIncomplete }}
{% else %}
  {% set hasFeedbackFromPreviousApplication = false %}
  {% set feedbackFromPreviousApplications = "" %}

  {% if applicationValue(["apply2"]) %}
    {% for previousApplicationId in applicationValue("previousApplications") %}
      {% for item in (data.applications[previousApplicationId].choices | toArray) %}
        {% if id == "maths" and item.feedback and item.feedback.qualifications and item.feedback.qualifications.noMathsGCSEOrEquivalent %}
          {% set hasFeedbackFromPreviousApplication = true %}
          {% set feedbackFromPreviousApplications %}
            <p class="govuk-body">You were unsuccessful with a previous application because you did not indicate that you have a grade 4 (C) or above in GCSE {{ id }} or equivalent.</p>
            <p class="govuk-body">We recommend that, when you’ve chosen a training provider, you contact them for advice about getting the right qualification or demonstrating a standard equivalent in time for your course.</p>
            <p class="govuk-body">You should ask if your provider offers or accepts ‘equivalency tests’, which show that you’ve reached the same educational level and breadth of knowledge as a {{ id }} GCSE grade 4 (C) or above. Ask if they recommend you do the test or if they will accept other evidence of attainment.</p>
            <p class="govuk-body">If you are already working towards this qualification, you can indicate this by changing your answer to “I don’t have this qualification yet” and giving details.</p>
          {% endset %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if hasFeedbackFromPreviousApplication %}
    {% set feedbackFromPreviousApplications %}
      <h2 class="govuk-heading-s">Feedback from previous applications</h2>
      {{ feedbackFromPreviousApplications | safe }}
    {% endset %}

    {{ govukInsetText({
      html: feedbackFromPreviousApplications | safe,
      classes: "govuk-!-width-two-thirds app-inset-text--review"
      })
    }}
  {% endif %}

  {{ govukInsetText({
    classes: "govuk-!-width-two-thirds",
    html: "<p>Training providers ask for " + gcseSubject + " grade 4 (C) or above. You’ve entered grade ‘" + enteredGrade + "’.</p><p>Contact your chosen training provider. You might be able to do an equivalency test to show that you’ve attained the same level as a grade 4 (C) or above.</p>"
  }) if not hasElligibleGrade and not showIncomplete }}

  {{ appSuggestion({
    id: "gcse-" + id,
    title: gcseSubject + " GCSE or equivalent not marked as complete",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete your " + gcseSubject + " GCSE or equivalent",
        href: applicationPath + "/gcse/" + id + "/review"
      }]
    }
  }) if not completed and showIncomplete }}

  {% set summaryCardHtml %}{% include "_includes/item/gcse.njk" %}{% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: gcseSubject + " GCSE or equivalent",
    html: summaryCardHtml
  }) }}
{% endif %}
