{% set item = applicationValue(["gcse", id]) %}
{% set complete = "true" if applicationValue(["completed", id]) %}

{% set gcseHtml %}
  {% include "_includes/item/gcse.njk" %}
{% endset %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "gcse-" + id %}
  {% set incompleteText = id | capitalize + " GCSE or equivalent not entered" %}
  {% set incompleteLink = "/" + id + "/review?referrer=" + referrer %}
  {% set incompleteLinkText = "Enter your " + id | capitalize + " GCSE or equivalent" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: id | capitalize + " GCSE or equivalent",
    html: gcseHtml
  }) }}
{% endif %}
