{% set bannerHtml %}
  <p class="govuk-body" id="missing-{{ incompleteId }}">{{ incompleteText }}</p>
  <a class="govuk-link" aria-describedby="missing-{{ incompleteId }}" href="{{ applicationPath }}{{ incompleteLink }}">Complete section</a>
{% endset %}

{{ appBanner({
  classes: "app-banner--missing-section",
  html: bannerHtml,
  type: incompleteType or "information",
  icon: false
}) }}
