{% set completed = applicationValue(["completed", "interview"]) %}
{% set entered = applicationValue(["interview-choice"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "interview",
    title: "Interview needs not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any interview needs?",
        href: applicationPath + "/interview/?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "safeguarding",
    title: "Safeguarding information not marked as complete",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete interview needs",
        href: applicationPath + "/interview/review?referrer=" + referrer
      }]
    }
  }) if not completed and showIncomplete }}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Do you have any interview needs?"
        },
        value: {
          text: applicationValue(["interview-choice"])
        },
        actions: {
          items: [{
            href: applicationPath + "/interview?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "interview needs"
          }]
        } if canAmend
      }, {
        key: {
          text: "What are your interview needs?"
        },
        value: {
          text: applicationValue(["interview"])
        },
        actions: {
          items: [{
            href: applicationPath + "/interview?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "interview needs"
          }]
        } if canAmend
      } if applicationValue(["interview-choice"]) == "Yes"]
    })
  }) }}
{% endif %}
