{% set completed = data.completed.interviewNeeds == 'true' %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Do you have any interview needs?"
    },
    value: {
      text: ("Yes" if data.interviewNeeds == "yes" else "No")
    },
    actions: {
      items: [{
        href: applicationPath + "/interview-needs?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "interview needs"
      }]
    } if canAmend
  }, {
    key: {
      text: "What are your interview needs?"
    },
    value: {
      text: data.interviewNeedsDetail
    },
    actions: {
      items: [{
        href: applicationPath + "/interview-needs?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "interview needs"
      }]
    } if canAmend
  } if data.interviewNeeds == "yes"]
}) }}
