{% set completed = data.completed.interviewNeeds == 'true' %}
{% set entered = data.interviewNeeds %}

{% if not entered %}
  {{ appSuggestion({
    id: "interviewNeeds",
    title: "Interview needs not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any interview needs?",
        href: applicationPath + "/interview-needs/?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "interviewNeeds",
    title: "Interview needs not marked as complete",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete interview needs",
        href: applicationPath + "/interview-needs/review?referrer=" + referrer
      }]
    }
  }) if not completed and showIncomplete }}

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have any interview needs?"
      },
      value: {
        text: ("Yes" if data.interviewNeeds == "yes" else "No")
      },
      actions: {
        items: [{
          href: applicationPath + "/interview-needs?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "interview needs"
        }]
      } if canAmend
    }, {
      key: {
        text: "What are your interview needs?"
      },
      value: {
        text: data.interviewNeedsDetail
      },
      actions: {
        items: [{
          href: applicationPath + "/interview-needs?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "interview needs"
        }]
      } if canAmend
    } if data.interviewNeeds == "yes"]
  }) }}
{% endif %}
