{% set applicationPath = "/application/" + applicationId %}
{% set interviewText = applicationValue(["interview"]) if applicationValue(["interview-choice"]) == "Yes" else "No" %}
{% set interviewHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Interview preferences"
      },
      value: {
        text: interviewText | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/interview?referrer=" + referrer,
          text: "Change" if applicationValue(["interview"]) else "Add",
          visuallyHiddenText: "interview preferences"
        }]
      } if canAmend
    }]
  }) }}
{% endset %}

{% if applicationValue(["interview"]) %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: interviewHtml
  }) }}
{% else %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "interview" %}
  {% set incompleteText = "Tell us your interview preferences" %}
  {% set incompleteLink = "/interview?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% endif %}