{% set completed = applicationValue(["completed", "interviewNeeds"]) %}
{% set entered = applicationValue(["interviewNeedsDisclose"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "interview-needs",
    title: "Interview needs not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any interview needs?",
        href: applicationPath + "/interview-needs/?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "interview-needs",
    title: "Interview needs not marked as complete",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete interview needs",
        href: applicationPath + "/interview-needs/review?referrer=" + referrer
      }]
    }
  }) if not completed and showIncomplete }}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Do you have any interview needs?"
        },
        value: {
          text: applicationValue(["interviewNeedsDisclose"])
        },
        actions: {
          items: [{
            href: applicationPath + "/interview-needs?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "interview needs"
          }]
        } if canAmend
      }, {
        key: {
          text: "What are your interview needs?"
        },
        value: {
          text: applicationValue(["interviewNeeds"])
        },
        actions: {
          items: [{
            href: applicationPath + "/interview-needs?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "interview needs"
          }]
        } if canAmend
      } if applicationValue(["interviewNeedsDisclose"]) == "Yes"]
    })
  }) }}
{% endif %}
