{{ govukSummaryList({
  rows: [{
    key: {
      text: "Do you have any times you cannot be available for interviews?"
    },
    value: {
      text: ("Yes" if data.interviewNeeds == "yes" else "No")
    },
    actions: {
      items: [{
        href: "/details/interview-needs?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "interview needs"
      }]
    }
  }, {
    key: {
      text: "Give details of your interview availability"
    },
    value: {
      text: data.interviewNeedsDetail
    },
    actions: {
      items: [{
        href: "/details/interview-needs?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "interview availability"
      }]
    }
  } if data.interviewNeeds == "yes"]
}) }}
