{% set completed = applicationValue(["completed", "otherQualifications"]) == "Yes" %}

{{ appSuggestion({
  id: "otherQualifications",
  title: "A levels and other qualifications not marked as complete",
  warning: true if errorList,
  actions: {
    items: [{
      text: "Complete your other qualifications",
      href: applicationPath + "/other-qualifications/review"
    }]
  }
}) if not completed and showIncomplete }}

{% include "_includes/item/other-qualifications.njk" %}
