{% set applicationPath = "/application/" + applicationId %}
{% set qualifications = applicationValue(["other-qualifications"]) %}
{% set qualifications = qualifications | toArray | selectattr("id") %}

{% if qualifications.length %}
  {% for item in qualifications %}

    {% set qualificationHtml %}
      {% include "_includes/item/other-qualification.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.type + " " + item.subject,
      actions: {
        items: [{
          href: applicationPath + "/other-qualifications/" + item.id + "/delete?referrer=" + referrer,
          text: "Delete qualification"
        }]
      } if canAmend,
      html: qualificationHtml
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No other qualifications entered.</p>
{% endif %}
