{% set international = data.otherNationality %}

{% if data.otherQualificationsAdded == "no" %}

  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Do you want to add any " + ("A levels or " if not international) + "other qualifications?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [{
          href: "/details/other-qualifications",
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}

{% else %}
  {% include "_includes/item/other-qualifications.html" %}
{% endif %}
