{% set applicationPath = "/application/" + applicationId %}
{% set qualifications = applicationValue("other-qualifications") | toArray %}
{% if qualifications.length >= 1 %}
  {% for item in qualifications %}
    {% set qualificationHtml %}
      {% include "_includes/item/other-qualification.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.type + " " + item.subject,
      actions: {
        items: [{
          href: applicationPath + "/other-qualifications/" + item.id + "/remove?referrer=" + referrer,
          text: "Remove qualification"
        }]
      } if review == true,
      html: qualificationHtml
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No other qualifications entered.</p>
{% endif %}
