{% set complete = "true" if applicationValue(["completed", "personal-details"]) %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "candidate",
    title: "Personal details are not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Enter your personal details",
        href: applicationPath + "/personal-details/review?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/personal-details.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Personal information",
    html: summaryBodyHtml
  }) }}
{% endif %}
