{% set complete = "true" if applicationValue(["completed", "personal-statement"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "personal-statement" %}
  {% set incompleteText = "Personal statement not entered" %}
  {% set incompleteLink = "/personal-statement/review?referrer=" + referrer %}
  {% set incompleteLinkText = "Why do you want to be a teacher?" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/personal-statement.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Why you want to teach",
    html: summaryBodyHtml
  }) }}
{% endif %}
