{% set statements = applicationValue(["personal-statements"]) %}
{% if statements %}
  {% for providerCode, item in statements %}
    {% set statementHtml %}
      {% include "_includes/item/personal-statement.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: providers[providerCode].name,
      html: statementHtml
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">No personal statements entered.</p>
{% endif %}
