{% set completed = data.completed.personalInformation %}
{% set entered = data.firstName %}

{% set dateOfBirthHtml %}
  {% if data.dateOfBirth.day %}
    {{ data.dateOfBirth | isoDateFromDateInput | govukDate  }}
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Name"
    },
    value: {
      text: data.firstName + " " + data.lastName
    },
    actions: {
      items: [{
        href: "/application/personal-information?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "name"
      }]
    }
  }, {
      key: {
        text: "Date of birth"
      },
      value: {
        text: dateOfBirthHtml
      },
      actions: {
        items: [{
          href: "/application/personal-information?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "date of birth"
        }]
      }
    }, {
      key: {
        text: "Nationality"
      },
      value: {
        html: (data.nationalities | join(", ")) if data.nationalities else data.otherNationality
      },
      actions: {
        items: [{
          href: "/details/personal-information/nationality?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "nationality"
        }]
      }
    },
    {
      key: {
        text: "Do you already have the right to work or study in the UK?"
      },
      value: {
        text: data.immigration
      },
      actions: {
        items: [{
          href: "/details/personal-information/immigration?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "if you have the right to work or study in the UK"
        }]
      }
    } , {
      key: {
        text: "Immigration status"
      },
      value: {
        text: data.immigrationStatus
      },
      actions: {
        items: [{
          href: "/details/personal-information/immigration-status?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "immigration status"
        }]
      }
    } if data.immigration == 'Yes'
  ]
}) }}
