{% set completed = applicationValue(["completed", "personalStatement"]) %}
{% set entered = applicationValue(["personalStatement"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "personalStatement",
    title: "Personal statement not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Why do you want to be a teacher?",
        href: applicationPath + "/personal-statement"
      }]
    }
  }) }}
{% else %}

  {% set hasFeedbackFromPreviousApplication = false %}
  {% set feedbackFromPreviousApplications = "" %}

  {% if applicationValue(["apply2"]) %}
    {% for previousApplicationId in applicationValue("previousApplications") %}
      {% for item in (data.applications[previousApplicationId].choices | toArray) %}
        {% if item.feedback and item.feedback.qualityOfApplication and item.feedback.qualityOfApplication.personalStatement %}
          {% set hasFeedbackFromPreviousApplication = true %}
          {% set feedbackFromPreviousApplications %}
            {{ feedbackFromPreviousApplications | safe }}

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ providers[item.providerCode].name }}</h3>
            <blockquote class="govuk-!-margin-left-0 govuk-!-margin-top-0">
              <p class="govuk-body">“{{ item.feedback.qualityOfApplication.personalStatement | safe }}”</p>
            </blockquote>
          {% endset %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if hasFeedbackFromPreviousApplication %}
    {% set feedbackFromPreviousApplications %}
      <h2 class="govuk-heading-m">Feedback from previous applications</h2>
      {{ feedbackFromPreviousApplications | safe }}
    {% endset %}

    {{ govukInsetText({
      html: feedbackFromPreviousApplications | safe,
      classes: "govuk-!-width-two-thirds"
      })
    }}
  {% endif %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Why do you want to be a teacher?"
        },
        value: {
          text: (applicationValue(["personalStatement"]) or "Not entered") | nl2br | safe
        },
        actions: {
          items: [{
            href: applicationPath + "/personal-statement?referrer=" + referrer,
            text: "Change" if applicationValue(["personalStatement"]) else "Add",
            visuallyHiddenText: "why you want to be a teacher"
          }]
        } if canAmend
      }]
    })
  }) }}
{% endif %}
