{% set complete = "true" if applicationValue(["completed", "personal-details"]) %}

{{ complete }}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "candidate" %}
  {% set incompleteText = "Personal details are not marked as completed" %}
  {% set incompleteLink = "/personal-details/review?referrer=" + referrer %}
  {% set incompleteLinkText = "Enter your personal details" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/personal-details.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Personal information",
    html: summaryBodyHtml
  }) }}
{% endif %}
