{% set applicationPath = "/application/" + applicationId %}
{% set personalStatementHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Why do you want to be a teacher?"
      },
      value: {
        text: (applicationValue(["personal-statement"]) or "Not entered") | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/personal-statement?referrer=" + referrer,
          text: "Change" if applicationValue(["personal-statement"]) else "Add",
          visuallyHiddenText: "why you want to be a teacher"
        }]
      } if canAmend
    }]
  }) }}
{% endset %}

{% if applicationValue(["personal-statement"]) %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: personalStatementHtml
  }) }}
{% else %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "personal-statement" %}
  {% set incompleteText = "Tell us why you want to be a teacher" %}
  {% set incompleteLink = "/personal-statement?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% endif %}
