{% set applicationPath = "/application/" + applicationId %}
{% set supportDetailsHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you want to ask for help to become a teacher?"
      },
      value: {
        text: "Yes" if applicationValue(["reasonable-adjustments", "disclose"]) == 'true' else 'No'
      },
      actions: {
        items: [{
          href: applicationPath + "/reasonable-adjustments?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "if you need support to become a teacher"
        }]
      } if canAmend
    }, {
      key: {
        text: "Relevant information"
      },
      value: {
        html: applicationValue(["reasonable-adjustments", "statement"])
      },
      actions: {
        items: [{
          href: applicationPath + "/reasonable-adjustments?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "your reasonable adjustments"
        }]
      } if canAmend
    } if applicationValue(["reasonable-adjustments", "disclose"]) == 'true']
  }) }}
{% endset %}

{% if applicationValue("reasonable-adjustments") %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: supportDetailsHtml
  }) }}
{% else %}
  <p class="govuk-body">No choice made about needing support to become a teacher.</p>
{% endif %}
