{% set complete = "true" if applicationValue(["completed", "reasonable-adjustments"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "reasonable-adjustments" %}
  {% set incompleteText = "Any disability or other needs not entered" %}
  {% set incompleteLink = "/reasonable-adjustments/review?referrer=" + referrer %}
  {% set incompleteLinkText = "Do you want to ask for help to become a teacher?" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/reasonable-adjustments.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Ask for support if you’re disabled",
    html: summaryBodyHtml
  }) }}
{% endif %}
