{% set complete = "true" if applicationValue(["completed", "reasonable-adjustments"]) %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "reasonable-adjustments",
    title: "Any disability or other needs not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you want to ask for help to become a teacher?",
        href: applicationPath + "/reasonable-adjustments/review?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/reasonable-adjustments.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Ask for support if you’re disabled",
    html: summaryBodyHtml
  }) }}
{% endif %}
