  {{ appSuggestion({
    id: "referees",
    title: "You need 2 references before you can submit your application",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Manage your references",
        href: applicationPath + "/referees"
      }]
    }
  }) if showIncomplete and references.length < 2 }}

  {% for item in references %}
    {% set allReferences = applicationValue(["references"]) | toArray %}
    {% set readyReferences = allReferences | selectattr("ready") %}

    {# Available actions #}
    {% set status = item.status %}
    {% set canAmendReferee = item.status == "Not requested yet" %}
    {% set canAmendEmailAddress = item.status == "Request failed" %}
    {% set canDelete = (item.status == "Not requested yet") or (item.status == "Request cancelled") or (item.status == "Reference declined") or (item.status == "Request failed") %}
    {% set canCancelRequest = (item.status == "Awaiting response") or (item.status == "Reference overdue") %}
    {% set canMakeRequest = ((item.status == "Not requested yet") or (item.status == "Request cancelled")) and readyReferences.length < 2 %}
    {% set canRetryRequest = (item.status == "Request failed") and readyReferences.length < 2 %}
    {% set canNudgeReferee = ((item.status == "Awaiting response") or (item.status == "Reference overdue")) and item.nudges < 1 %}

    {# Deactivating references is an idea we can return to later #}
    {# set canDeactivateReference = item.status == "Reference given" #}
    {% set canDeactivateReference = false %}
    {% set canReactivateReference = item.status == "Deactivated" %}

    {% set summaryCardHtml %}{% include "_includes/item/reference.html" %}{% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: "Reference from " + item.name,
      actions: {
        items: [{
          href: applicationPath + "/references/" + item.id + "/action/cancel?referrer=" + referrer,
          text: "Cancel request"
        } if canCancelRequest, {
          href: applicationPath + "/references/" + item.id + "/action/request?referrer=" + referrer,
          text: "Send request again" if (item.status == "Request cancelled" or item.status == "Request failed") else "Send request"
        } if canMakeRequest, {
          href: applicationPath + "/references/" + item.id + "/action/retry?referrer=" + referrer,
          text: "Retry request"
        } if canRetryRequest, {
          href: applicationPath + "/references/" + item.id + "/action/delete?referrer=" + referrer,
          text: "Delete referee" if item.status == "Not requested yet" else "Delete request"
        } if canDelete, {
          href: applicationPath + "/references/" + item.id + "/action/deactivate?referrer=" + referrer,
          text: "Deactivate reference"
        } if canDeactivateReference, {
          href: applicationPath + "/references/" + item.id + "/action/reactivate?referrer=" + referrer,
          text: "Reactivate reference"
        } if canReactivateReference]
      },
      html: summaryCardHtml
    }) }}
  {% endfor %}

