{% set complete = "true" if applicationValue(["completed", "references"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "referees" %}
  {% set incompleteText = "Referees not marked as completed" %}
  {% set incompleteLink = "/referees/review?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set references = references | toArray %}
  {% for item in references %}
    {% set refereeHtml %}
      {% include "_includes/item/reference.njk" %}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: item.id | capitalize + " referee",
      actions: {
        items: [{
          href: applicationPath + "/referees/" + item.id + "/delete?referrer=" + referrer,
          text: "Delete referee"
        }]
      } if canAmendReferences,
      html: refereeHtml
    }) }}
  {% endfor %}
{% endif %}

