{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-6",
  rows: [{
    key: {
      text: "Do you want to share any safeguarding issues?"
    },
    value: {
      text: data.safeguarding | title
    },
    actions: {
      items: [{
        href: "/application/safeguarding",
        text: ("" if numberOfApplicationsLeft < 4 else "Change"),
        visuallyHiddenText: "whether you need to share something"
      }]
    }
  }, {
    key: {
      text: "Give any relevant information"
    },
    value: {
      html: data.safeguardingDetail
    },
    actions: {
      items: [{
        href: "/application/safeguarding",
        text: ("" if numberOfApplicationsLeft < 4 else "Change"),
        visuallyHiddenText: "the information you are sharing"
      }]
    }
  } if data.safeguarding == "yes"]
}) }}
