{% set complete = "true" if applicationValue(["completed", "school-experience"]) %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "school-experience",
    title: "Volunteering with children and young people is not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any experience working with children and young people?",
        href: applicationPath + "/school-experience?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/school-experience.njk" %}
  {% endset %}
  {% if applicationValue(["school-experience","attained"]) == "false" %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: "Unpaid experience",
      html: summaryBodyHtml
    }) }}
  {% else %}
    <h3 class="govuk-heading-m">Unpaid experience</h3>
    {{ summaryBodyHtml | safe }}
  {% endif %}
{% endif %}
