{% set applicationPath = "/application/" + applicationId %}
{% set schoolExperience = applicationValue(["school-experience"]) %}

{% if schoolExperience %}
  {% set roles = schoolExperience | toArray | selectattr("id") | sort(attribute="start-date") %}
  {% if roles.length >= 1 %}
    {% for item in roles %}
      {% set roleHtml %}
        {% include "_includes/item/role.njk" %}
      {% endset %}
      {% set titleHtml %}
        {{ item.role }}
        {%- if item["worked-with-children"] == "Yes" %}
        <span class="app-summary-card__meta">{{ appIcon({
            classes: "govuk-!-margin-right-1",
            icon: "tick",
            hidden: true
          }) }} This role involved working with children</span>
        {%- endif %}
      {% endset %}
      {{ appSummaryCard({
        classes: "govuk-!-margin-bottom-6",
        headingLevel: 3,
        titleHtml: titleHtml,
        actions: {
          items: [{
            href: applicationPath + "/school-experience/" + item.id + "/delete?referrer=" + referrer,
            text: "Delete role"
          }]
        } if review == true,
        html: roleHtml
      }) }}
    {% endfor %}
  {% elif applicationValue(["school-experience","attained"]) == "false" %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      headingLevel: 3,
      titleText: "No school experiences entered",
      html: "You can still submit an application without school experience, but a few days observing in a school will help you decide if teaching is for you. <a href=\"https://schoolexperience.education.gov.uk/\">Get school experience</a>."
    }) }}
  {% endif %}
{% else %}
  <p class="govuk-body">No school experiences entered.</p>
{% endif %}
