{% set complete = "true" if applicationValue(["completed", "subject-knowledge"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "subject-knowledge" %}
  {% set incompleteText = "Subject knowledge not entered" %}
  {% set incompleteLink = "/subject-knowledge/review?referrer=" + referrer %}
  {% set incompleteLinkText = "What you know about the subject you want to teach?" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/subject-knowledge.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Your suitability to teach a subject or age group",
    html: summaryBodyHtml
  }) }}
{% endif %}
