{% set applicationPath = "/application/" + applicationId %}
{% set subjectKnowledgeHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Your knowledge about the subject you want to teach"
      },
      value: {
        text: (applicationValue(["subject-knowledge"]) or "Not entered") | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/subject-knowledge?referrer=" + referrer,
          text: "Change" if applicationValue(["subject-knowledge"]) else "Add",
          visuallyHiddenText: "evidence of subject knowledge"
        }]
      } if canAmend
    }]
  }) }}
{% endset %}

{% if applicationValue(["subject-knowledge"]) %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: subjectKnowledgeHtml
  }) }}
{% else %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "subject-knowledge" %}
  {% set incompleteText = "Tell us about your knowledge about the subject you want to teach" %}
  {% set incompleteLink = "/subject-knowledge?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% endif %}