{% set completed = applicationValue(["completed", "subject-knowledge"]) %}
{% set entered = applicationValue(["subject-knowledge"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "subject-knowledge",
    title: "Subject knowledge not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "What you know about the subject you want to teach?",
        href: applicationPath + "/subject-knowledge/review?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "subject-knowledge",
    title: "Subject knowledge not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete Subject knowledge",
        href: applicationPath + "/subject-knowledge/?referrer=" + referrer
      }]
    }
  }) if not completed and showIncomplete }}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Your knowledge about the subject you want to teach"
        },
        value: {
          text: (applicationValue(["subject-knowledge"]) or "Not entered") | nl2br | safe
        },
        actions: {
          items: [{
            href: applicationPath + "/subject-knowledge?referrer=" + referrer,
            text: "Change" if applicationValue(["subject-knowledge"]) else "Add",
            visuallyHiddenText: "evidence of subject knowledge"
          }]
        } if canAmend
      }]
    })
  }) }}
{% endif %}
