{% if applicationValue(["completed", "suitability"]) %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    html: govukSummaryList({
      rows: [{
        key: {
          text: "Do you want to share any safeguarding issues?"
        },
        value: {
          text: "Yes" if applicationValue(["suitability", "disclose"]) == 'true' else 'No'
        },
        actions: {
          items: [{
            href: applicationPath + "/suitability?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "whether you need to share something"
          }]
        } if canAmend
      }, {
        key: {
          text: "Give any relevant information"
        },
        value: {
          html: applicationValue(["suitability", "statement"])
        },
        actions: {
          items: [{
            href: applicationPath + "/suitability?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "the information you are sharing"
          }]
        } if canAmend
      } if applicationValue(["suitability", "disclose"]) == 'true']
    })
  }) }}
{% elif showIncomplete %}
  {{ appSuggestion({
    id: "safeguarding",
    title: "Safeguarding information not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you need to declare any safeguarding issues?",
        href: applicationPath + "/suitability/review?referrer=" + referrer
      }]
    }
  }) }}
{% endif %}
