{% set applicationPath = "/application/" + applicationId %}
{% set complete = "true" if applicationValue(["completed", "suitability"]) %}

{% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "safeguarding" %}
  {% set incompleteText = "Safeguarding information not entered" %}
  {% set incompleteLink = "/suitability/review?referrer=" + referrer %}
  {% set incompleteLinkText = "Do you need to declare any safeguarding issues?" %}
  {% include "_includes/review/incomplete.njk" %}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/suitability.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Declare any safeguarding issues",
    html: summaryBodyHtml
  }) }}
{% endif %}
