{% set applicationPath = "/application/" + applicationId %}
{% set complete = "true" if applicationValue(["completed", "suitability"]) %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "safeguarding",
    title: "Safeguarding information not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you need to declare any safeguarding issues?",
        href: applicationPath + "/suitability/review?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/suitability.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Declare any safeguarding issues",
    html: summaryBodyHtml
  }) }}
{% endif %}
