{% set completed = applicationValue(["completed", "unpaidExperience"]) %}
{% set entered = applicationValue(["unpaidExperienceDisclose"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "unpaidExperience",
    title: "Unpaid experience not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any experience working with children and young people?",
        href: applicationPath + "/unpaid-experience"
      }]
    }
  }) }}
{% else %}
  {{ govukInsetText({
    classes: "govuk-!-width-two-thirds govuk-!-margin-top-0",
    html: '<p class="govuk-body">The Department for Education have made it easier for teacher training applicants to gain experience in school.</p><p><a href="https://getintoteaching.education.gov.uk/get-school-experience">Learn about how to get school experience</a>.</p>'
  }) if applicationValue(["unpaidExperienceDisclose"]) == "No" and not showIncomplete }}

  {{ appSuggestion({
    id: "unpaidExperience",
    title: "Volunteering with children and young people is not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete your unpaid experience",
        href: applicationPath + "/unpaid-experience/review"
      }]
    }
  }) if not completed and showIncomplete }}

  {% include "_includes/item/unpaid-experiences.html" %}
{% endif %}
