{% set completed = applicationValue(["completed", "unpaid-experience"]) %}
{% set entered = applicationValue(["unpaid-experience-disclose"]) %}

{% if not entered %}
  {{ appSuggestion({
    id: "unpaid-experience",
    title: "Unpaid experience not entered",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Enter your unpaid experience",
        href: applicationPath + "/unpaid-experience/?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {{ appSuggestion({
    id: "unpaid-experience",
    title: "Volunteering with children and young people is not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Do you have any experience working with children and young people?",
        href: applicationPath + "/unpaid-experience?referrer=" + referrer
      }]
    }
  }) if not completed and showIncomplete }}

  {{ appSuggestion({
    title: "Get school experience",
    content: {
      html: "The Department for Education have made it easier for teacher training applicants to gain experience in school." | markdown
    },
    actions: {
      items: [{
        text: "Learn more at Get school experience",
        href: "https://schoolexperience.education.gov.uk"
      }]
    }
  }) if applicationValue(["unpaid-experience-disclose"]) == "No" }}

  {% include "_includes/item/unpaid-experience.njk" %}
{% endif %}
