{% set applicationPath = "/application/" + applicationId %}
{% set workHistory = applicationValue(["work-history"]) %}

{% if workHistory %}
  {% set history = workHistory | toArray | selectattr("id") | sort(attribute="start-date") %}
  {% if history.length >= 1 %}
    {% set hasAutomaticGaps = data.flags.automatic_gaps == true %}
    {% for item in history %}
      {% set jobHtml %}
        {% include "_includes/item/job.njk" %}
      {% endset %}

      {% set gapHtml %}
        {% include "_includes/item/gap.njk" %}
      {% endset %}

      {% if hasAutomaticGaps %}
        {# periodStart = Earliest date in required work history period #}
        {% set periodStart = "now" | date | replace("2019", "2014") %}
        {% set periodStartEpoch = periodStart | date("x") | int %}

        {# firstStart = Start date of first item in work history #}
        {% set firstStart = item["start-date"] %}
        {% set firstStartEpoch = firstStart | date("x") | int %}

        {% if loop.first and firstStartEpoch > periodStartEpoch %}
          {# Unexplained gap (prior to work history commencing) #}
          {% set itemStart = periodStart %}
          {% set itemStartEpoch = itemStart | date("x") | int %}
          {% set itemEnd = firstStart %}
          {% set itemEndEpoch = itemEnd | date("x") | int %}
          {% set itemDuration = itemEndEpoch - itemStartEpoch %}
          {{ appSummaryCard({
            classes: "govuk-!-margin-bottom-6",
            headingLevel: 3,
            titleText: "Unexplained gap (" + (itemDuration | duration) + ")",
            actions: {
              items: [{
                href: applicationPath + "/work-history/add/gap?start=" + itemStart | date("yyyy-LL") + "&end=" + itemEnd | date("yyyy-LL") + "&referrer=" + referrer,
                text: "Explain gap"
              }]
            } if review == true
          }) }}
        {% endif %}
      {% endif %}

      {% if item.category == "gap" %}
        {% set itemStart = item["start-date"] %}
        {% set itemStartEpoch = itemStart | date("x") | int %}
        {% set itemEnd = item["end-date"] %}
        {% set itemEndEpoch = itemEnd | date("x") | int %}
        {% set itemDuration = itemEndEpoch - itemStartEpoch %}
        {{ appSummaryCard({
          classes: "govuk-!-margin-bottom-6",
          headingLevel: 3,
          titleText: "Gap (" + (itemDuration | duration) + ")",
          actions: {
            items: [{
              href: applicationPath + "/work-history/" + item.id + "/delete?referrer=" + referrer,
              text: "Delete gap entry"
            }]
          } if review == true,
          html: gapHtml
        }) }}
      {% else %}
        {% set titleHtml %}
          {{ item.role }}
          {%- if item["worked-with-children"] == "Yes" %}
          <span class="app-summary-card__meta">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} This role involved working with children</span>
          {%- endif %}
        {% endset %}
        {{ appSummaryCard({
          classes: "govuk-!-margin-bottom-6",
          headingLevel: 3,
          titleHtml: titleHtml,
          actions: {
            items: [{
              href: applicationPath + "/work-history/" + item.id + "/delete?referrer=" + referrer,
              text: "Delete job"
            }]
          } if review == true,
          html: jobHtml
        }) }}
      {% endif %}

      {% if hasAutomaticGaps %}
        {# Unexplained gap (during work history) #}
        {% set nextItem = history[loop.index] %}
        {% set itemStart = item["end-date"] %}
        {% set itemStartEpoch = itemStart | date("x") | int %}
        {% set itemEnd = nextItem["start-date"] if nextItem else "now" %}
        {% set itemEndEpoch = itemEnd | date("x") | int %}
        {% set itemDuration = itemEndEpoch - itemStartEpoch %}
        {% if itemEndEpoch > itemStartEpoch and itemDuration > 2678400000 %}
          {{ appSummaryCard({
            classes: "govuk-!-margin-bottom-6",
            headingLevel: 3,
            titleText: "You have a gap in your work history (" + (itemDuration | duration) + ")",
            actions: {
              items: [{
                href: applicationPath + "/work-history/add/gap?start=" + itemStart | date("yyyy-LL") + "&end=" + itemEnd | date("yyyy-LL") + "&referrer=" + referrer,
                text: "Please explain gap"
              }, {
                href: applicationPath + "/work-history/add/job?start=" + itemStart | date("yyyy-LL") + "&end=" + itemEnd | date("yyyy-LL") + "&referrer=" + referrer,
                text: "Add another job"
              }]
            } if review == true
          }) }}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if not hasAutomaticGaps %}
      {% set gapsHtml %}
        {{ govukSummaryList({
          classes: "app-summary",
          rows: [{
            key: {
              text: "Please explain any breaks in your work history"
            },
            value: {
              text: applicationValue(["work-history", "gaps"]) | nl2br | safe
            },
            actions: {
              items: [{
                href: applicationPath + "/work-history/explain-gaps?referrer=" + referrer,
                text: "Enter explanation"
              }]
            }
          }]
        }) }}
      {% endset %}
      {{ appSummaryCard({
        classes: "govuk-!-margin-bottom-6",
        html: gapsHtml
      }) }}
    {% endif %}
  {% else %}
    {% set outofWorkHtml %}
      {{ govukSummaryList({
        classes: "app-summary",
        rows: [{
          key: {
            text: "Explanation of why you’ve been out of the workplace"
          },
          value: {
            text: (applicationValue(["work-history", "missing"]) or "Not entered") | nl2br | safe
          },
          actions: {
            items: [{
              href: applicationPath + "/work-history/missing?referrer=" + referrer,
              text: "Change",
              visuallyHiddenText: "explanation"
            }]
          }
        }]
      }) }}
    {% endset %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      html: outofWorkHtml
    }) }}
    {{ govukButton({
      text: "Add job",
      classes: "govuk-button--secondary",
      href: applicationPath + "/work-history/add/job?referrer="  + referrer
    }) }}
  {% endif %}
{% else %}
  <p class="govuk-body">No work history entered.</p>
{% endif %}
