{% set workHistory = applicationValue(["work-history"]) %}
{% set complete = "true" if applicationValue(["completed", "work-history"]) %}

{% if showIncomplete and complete != "true" %}
  {{ appSuggestion({
    id: "work-history",
    title: "Work history is not marked as completed",
    warning: true if errorList,
    actions: {
      items: [{
        text: "Complete your work history",
        href: applicationPath + "/work-history?referrer=" + referrer
      }]
    }
  }) }}
{% else %}
  {% set summaryBodyHtml %}
    {% include "_includes/item/work-history.njk" %}
  {% endset %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleText: "Work history",
    html: summaryBodyHtml
  }) }}
{% endif %}
