{% extends "_form.njk" %}

{% set title = "What is your contact address?" %}
{% set formaction = "/application/" + applicationId + "/contact-information/contact-address/answer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/contact-information/")
  }) }}
{% endblock %}

{% block primary %}
  {% set internationalCountryHtml %}
    {{ appAutocomplete({
      label: {
        text: "Which country?",
        classes: "govuk-label--m"
      },
      items: countries
    } | decorateApplicationAttributes(["contactInformation", "address", "country"])) }}
  {% endset %}

  {{ govukRadios({
    hint: {
      text: "Providers may send post to this address about your course or interviews."
    },
    items: [{
      text: "In the UK",
      value: "domestic"
    }, {
      text: "Outside the UK",
      value: "international",
      conditional: {
        html: internationalCountryHtml
      }
    }]
  } | decorateApplicationAttributes(["contactInformation", "addressType"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#contactInformation-address-country'),
      defaultValue: '{{ applicationValue(["contactInformation", "address", "country"]) }}'
    })
  </script>
{% endblock %}
