{% extends "_form.njk" %}

{% set title = "Contact information" %}
{% set formaction = referrer or "/application/" + applicationId + "/contact-information/where-do-you-live" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Phone number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Enter a landline or mobile. For non-UK numbers, include the country code"
    },
    classes: "govuk-input--width-20",
    autocomplete: "tel",
    type: "tel"
  } | decorateApplicationAttributes(["contactInformation", "tel"])) }}

  {% if data.flags.selfAmendEmailAddress %}
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Email address</h3>
    <p class="govuk-body">{{ data["account"]["email"] }} &nbsp; <a href="/account/change-email-address">Change</a></p>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
