{% extends "_form.njk" %}

{% set title = "What is your permanent address?" %}
{% set formaction = "/application/" + applicationId + "/contact-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer if referrer else "/application/" + applicationId + "/contact-information/where-do-you-live"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>"
    },
    autocomplete: "address-line1"
  } | decorateApplicationAttributes(["contactInformation", "permanentAddress", "line1"])) }}

  {{ govukInput({
    label: {
      html: "<span class=\"govuk-visually-hidden\">Building and street line 2 of 2</span>"
    },
    autocomplete: "address-line2"
  } | decorateApplicationAttributes(["contactInformation", "permanentAddress", "line2"])) }}

  {{ govukInput({
    label: {
      html: "City, town or village"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "address-level2"
  } | decorateApplicationAttributes(["contactInformation", "permanentAddress", "level2"])) }}

  {{ govukInput({
    label: {
      html: "Region, state or province"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "address-level1"
  } | decorateApplicationAttributes(["contactInformation", "permanentAddress", "level1"])) }}

  {{ govukInput({
    label: {
      text: "ZIP or postal code"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "postal-code"
  } | decorateApplicationAttributes(["contactInformation", "permanentAddress", "postalCode"])) }}

  {# Explictly mark this as an international address if came to this page via a link rather than by form submission on ‘Where is your permanent address?’ page #}
  {{ govukInput({
    name: "applications[" + applicationId + "][contactInformation][permanentAddressType]",
    type: "hidden",
    value: "international"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
