{% extends "_form.njk" %}

{% set title = "Have you lived in the UK for longer than 3 years?" %}
{% set formaction = referrer if referrer else "/application/" + applicationId + "/contact-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer if referrer else "/application/" + applicationId + "/contact-information/international-address"
  }) }}
{% endblock %}

{% block primary %}
  {% set permanentAddressHtml %}
    {{ appAutocomplete({
      label: {
        text: "Which country did you live in previously?",
        classes: "govuk-label--m"
      },
      items: countries
    } | decorateApplicationAttributes(["contactInformation", "previousAddress", "country"])) }}
  {% endset %}

  {{ govukRadios({
    items: [{
      text: "Yes",
      value: "Yes"
    }, {
      text: "No",
      value: "No",
      conditional: {
        html: permanentAddressHtml
      }
    }]
  } | decorateApplicationAttributes(["contactInformation", "lengthOfStay"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#contactInformation-previousAddress-country'),
      defaultValue: '{{ applicationValue(["contactInformation", "previousAddress", "country"]) }}'
    })
  </script>
{% endblock %}
