{% extends "_form.njk" %}

{% set title = "What is your address?" %}
{% set formaction = "/application/" + applicationId + "/contact-information/select-address" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId + "/contact-information/contact-address"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">If you live at more than one address (for example, during term time and the holidays) give us the one you’d like us to send important letters to.</p>

  {{ govukInput({
    label: {
      text: "Enter your postcode",
      classes: "govuk-label--m"
    },
    autocomplete: "postal-code",
    classes: "govuk-input--width-5"
  } | decorateApplicationAttributes(["contactInformation", "address", "postalCode"])) }}

  {{ govukButton({
    text: "Look up address"
  }) }}

  <p class="govuk-body">
    <a href="/application/{{ applicationId }}/contact-information/international-contact-address">I live outside the UK</a>
  </p>
{% endblock %}
