{% extends "_form-wide.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set referrer = applicationPath + "/contact-information/review" %}
{% set title = "Contact information" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  {% set contactDetails = applicationValue(["contactInformation"]) %}
  {% include "_includes/review/contact-information.html" %}

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-width-two-thirds",
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "true",
      text: "Yes, I’ve completed this section"
    }, {
      value: "false",
      text: "No, I’ll come back to it later"
    }]
  } | decorateApplicationAttributes(["completed", "contactInformation"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
