{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "What is your address?" %}
{% set formaction = "/application/" + applicationId + "/contact-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId + "/contact-information/lookup-address"
  }) }}
{% endblock %}

{% block primary %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Postcode</h2>
  <p class="govuk-body">{{ applicationValue(["contact-information", "address", "postal-code"]) }} &nbsp; <a href="{{ applicationPath }}/contact-information/lookup-address">Change</a></p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Select an address",
        classes: "govuk-label--m"
      }
    },
    items: [{
      text: "Flat 1, Park View Residence, 219 Baker Street, London",
      value: "Flat 1, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 2, Park View Residence, 219 Baker Street, London",
      value: "Flat 2, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 3, Park View Residence, 219 Baker Street, London",
      value: "Flat 3, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 4, Park View Residence, 219 Baker Street, London",
      value: "Flat 4, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 5, Park View Residence, 219 Baker Street, London",
      value: "Flat 5, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 6, Park View Residence, 219 Baker Street, London",
      value: "Flat 6, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 7, Park View Residence, 219 Baker Street, London",
      value: "Flat 7, Park View Residence, 219 Baker Street"
    }, {
      text: "Flat 8, Park View Residence, 219 Baker Street, London",
      value: "Flat 8, Park View Residence, 219 Baker Street"
    }, {
      text: "221B Baker Street, London",
      value: "221B Baker Street"
    }, {
      text: "Flat 1, 241-243 Baker Street, London",
      value: "Flat 1, 241-243 Baker Street"
    }, {
      text: "Flat 1A, 241-243 Baker Street, London",
      value: "Flat 1A, 241-243 Baker Street"
    }, {
      text: "Flat 1B, 241-243 Baker Street, London",
      value: "Flat 1B, 241-243 Baker Street"
    }, {
      text: "Flat 2, 241-243 Baker Street, London",
      value: "Flat 2, 241-243 Baker Street"
    }, {
      text: "Flat 3, 241-243 Baker Street, London",
      value: "Flat 3, 241-243 Baker Street"
    }, {
      text: "Flat 1, 245-247 Baker Street, London",
      value: "Flat 1, 245-247 Baker Street"
    }, {
      text: "Flat 2, 245-247 Baker Street, London",
      value: "Flat 2, 245-247 Baker Street"
    }, {
      text: "Flat 3, 245-247 Baker Street, London",
      value: "Flat 3, 245-247 Baker Street"
    }, {
      text: "Flat 4, 245-247 Baker Street, London",
      value: "Flat 4, 245-247 Baker Street"
    }, {
      text: "Flat 5, 245-247 Baker Street, London",
      value: "Flat 5, 245-247 Baker Street"
    }]
  } | decorateApplicationAttributes(["contact-information", "address", "line1"])) }}

  <p class="govuk-body"><a href="{{ applicationPath }}/contact-information/uk-address">I can’t find my address in the list</a></p>

  {{ govukInput({
    name: "applications[" + applicationId + "][contact-information][address][line2]",
    type: "hidden",
    value: "London"
  }) }}

  {{ govukInput({
    name: "applications[" + applicationId + "][contact-information][address][country]",
    type: "hidden",
    value: "United Kingdom"
  }) }}

  {# Remove international address if previously entered #}
  {{ govukInput({
    name: "applications[" + applicationId + "][contact-information][address][street-address]",
    type: "hidden",
    value: ""
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
