{% extends "_form.njk" %}

{% set formaction = referrer or "/application/" + applicationId + "/subject-knowledge/review" %}
{% set parent = provider.name %}
{% if hasPrimaryChoices() %}
  {% set title = "What knowledge and experience will you bring to teaching primary school?" %}
{% else %}
  {% set title = "What do you know about the subject you want to teach?" %}
{% endif %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if hasPrimaryChoices() %}
    <p class="govuk-body">You can include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the abilities and skills you would contribute</li>
      <li>your A level subjects</li>
      <li>expertise you’ve gained at work</li>
      <li>subjects you have a particular interest or talent in (for example, drama, music, art or sport)</li>
      <li>any familiarity you have with the primary curriculum</li>
    </ul>
  {% else %}
    <p class="govuk-body">Give us detailed evidence for the knowledge and interest you bring to {{ course.name }}.</p>
    <p class="govuk-body">Evidence can include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the subject of your undergraduate degree</li>
      <li>modules you studied as part of your degree</li>
      <li>postgraduate degrees (for example, a Masters or PhD)</li>
      <li>your A level subjects</li>
      <li>expertise you’ve gained at work</li>
    </ul>
  {% endif %}

  {{ govukCharacterCount({
    label: {
      text: "Enter knowledge and experience" if hasPrimaryChoices() else "Enter your subject knowledge",
      classes: "govuk-label--m govuk-!-margin-top-6"
    },

    maxwords: 400,
    rows: 24
  } | decorateApplicationAttributes(["subject-knowledge"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
