{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit subject knowledge" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Knowledge about the subject you want to teach" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% set guidanceHtml %}
    {% if data["settings"]["primary-application"] == "true" %}
      <p class="govuk-body">This section is optional for candidates applying to primary courses.</p>
      <p class="govuk-body">However, you can use it to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give an overview of subject knowledge you bring to the primary curriculum</li>
        <li>showcase the abilities and skills you would contribute</li>
      </ul>
      <p class="govuk-body">You can include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your A level subjects</li>
        <li>expertise you’ve gained at work</li>
        <li>subjects you have a particular interest or talent in (for example, drama, music, art or sport)</li>
      </ul>
    {% else %}
      <p class="govuk-body">Give us detailed evidence for the knowledge and interest you bring to the subject(s) you’re applying to teach.</p>
    {% endif %}
  {% endset %}

  {% if action == "edit" %}
    {{ govukDetails({
      summaryText: "Help completing this question",
      html: guidanceHtml
    }) }}
  {% else %}
    {{ guidanceHtml | safe }}
  {% endif %}

  {{ govukCharacterCount({
    label: {
      text: "Enter your knowledge about the subject you want to teach",
      classes: "govuk-label--m govuk-!-margin-top-6"
    },
    hint: {
      html: "Evidence can include: modules you studied as part of your undergraduate degree; postgraduate degrees (for example, a Masters or Phd); your A level subjects; or expertise you’ve gained at work."
    },
    maxwords: 400,
    rows: 12
  } | decorateApplicationAttributes(['subject-knowledge', 'statement'])) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
