{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set referrer = applicationPath + "/subject-knowledge/review" %}
{% set title = "Your suitability to teach a subject or age group" %}
{% set allowsFeedback = true %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/subject-knowledge.njk" %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "subjectKnowledge"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
