{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/subject-knowledge/review" %}
{% if hasPrimaryChoices() %}
  {% set title = "What knowledge and experience will you bring to teaching primary school?" %}
{% else %}
  {% set title = "What do you know about the subject you want to teach?" %}
{% endif %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/subject-knowledge.njk" %}
  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
