{% set applyAgainHtml %}
  <h2 class="govuk-heading-m">
    {% if numberOfOffersDeclined > 0 %}
      You’ve declined {{ "your offer" if numberOfOffersDeclined == 1 else "all of your offers" }}.
    {% elif numberOfApplicationsWithdrawn > 0 %}
      You’ve withdrawn your {{ "application" if numberOfApplicationsWithdrawn == 1 else "applications" }}
    {% else %}
      Your {{ "application was" if (choices | length) == 1 else "applications were"}} unsuccessful
    {% endif %}
  </h2>

  <p class="govuk-body">If now’s the right time, you can still apply for courses that start this academic year.</p>

  <p class="govuk-body">To talk about your options, get in touch with a <a href="https://beta-adviser-getintoteaching.education.gov.uk/">teacher training adviser</a>.</p>

  {{ govukButton({
    text: "Apply again",
    href: "/application/" + applicationId + "/apply2"
  }) }}
{% endset %}

{{ govukInsetText({
  html: applyAgainHtml,
  classes: "govuk-!-margin-top-0"
}) }}
