{% set applyAgainHtml %}
  <h2 class="govuk-heading-m">
    {% if numberOfOffersDeclined > 0 %}
      You’ve declined {{ "your offer" if numberOfOffersDeclined == 1 else "all of your offers" }}.
    {% elif numberOfApplicationsWithdrawn > 0 %}
      You’ve withdrawn your {{ "application" if numberOfApplicationsWithdrawn == 1 else "applications" }}
    {% else %}
      Your {{ "application was" if (choices | length) == 1 else "applications were"}} unsuccessful.
    {% endif %}
  </h2>

  <p class="govuk-body">If now’s the right time, you can still apply for courses that start this academic year.</p>

  <p class="govuk-body">Here’s what you could do next:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

    <li>Find out more about how <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student">visa sponsorships</a> work if you want to train to teach in the UK. You can also find a training provider that will sponsor a visa by filtering search results on ‘visa sponsorship‘ when you search for courses.</li>
  
    </ul>

  <p class="govuk-body">To talk about your options, get in touch with a <a href="https://beta-adviser-getintoteaching.education.gov.uk/">teacher training adviser</a>.</p>

  {{ govukButton({
    text: "Apply again",
    href: "/application/" + applicationId + "/apply2"
  }) }}
{% endset %}

{{ govukInsetText({
  html: applyAgainHtml,
  classes: "govuk-!-margin-top-0"
}) }}
