{% set applyAgainHtml %}
  <h2 class="govuk-heading-m">
    {% if numberOfOffersDeclined > 0 %}
      You’ve declined {{ "your offer" if numberOfOffersDeclined == 1 else "all of your offers" }}.
    {% elif numberOfApplicationsWithdrawn > 0 %}
      You’ve withdrawn your {{ "application" if numberOfApplicationsWithdrawn == 1 else "applications" }}
    {% else %}
      Your {{ "application was" if (choices | length) == 1 else "applications were"}} unsuccessful
    {% endif %}
  </h2>

  <p class="govuk-body">If now’s the right time, you can still apply for courses that start this academic year.</p>

  <p class="govuk-body">
    {% if gotAdviser %}
      You can talk about your options with your adviser Bob: <br><a href="#">bob.jones@ta-recruit.education.gov.uk</a>.
    {% else %}
      To talk about your options, <a href="https://beta-adviser-getintoteaching.education.gov.uk/">get a teacher training adviser</a>.
    {% endif %}
  </p>

  {{ govukButton({
    text: "Apply again",
    href: "/application/" + applicationId + "/apply2"
  }) }}
{% endset %}

{{ govukInsetText({
  html: applyAgainHtml,
  classes: "govuk-!-margin-top-0"
}) }}
