{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Application successfully submitted
  </h3>
  <p class="govuk-body"> You will get an email when something changes.</p>
  {{
    govukButton({href: "/survey", text: "Give feedback about this service"})
  }}
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}
