{% for item in choices %}
  {% set canRespond = item.status == "Offer received" %}

  {% set hasResponded =
    (item.status == "Conditions not met")
    or (item.status == "Conditions met")
    or (item.status == "Offer declined")
    or (item.status == "Unsuccessful")
    or (item.status == "Offer withdrawn")
    or (item.status == "Application withdrawn")
    or (item.status == "Application cancelled")
  %}

  {% set canWithdraw =
    (item.status != "Offer received")
    and (item.status != "Offer declined")
    and (item.status != "Application not sent")
    and (item.status != "Unsuccessful")
    and (item.status != "Offer withdrawn")
    and (item.status != "Application withdrawn")
    and (item.status != "Conditions not met")
  %}

  {% set statusHtml %}
    {{ govukTag({
      classes: item.status | statusClass,
      text: item.status
    }) }}

    {% if item.status == "Awaiting decision" %}
      <p class="govuk-body govuk-!-margin-top-2">The provider must make a decision by  {{ 14 | nowPlusDays("d MMMM yyyy") }}.</p>
    {% endif %}
  {% endset %}

  {% set interviewHtml %}{% include "dashboard/_course-choice-interview.njk" %}{% endset %}
  {% set feedbackHtml %}{% include "dashboard/_course-choice-feedback.njk" %}{% endset %}
  {% set conditionsHtml %}{% include "dashboard/_course-choice-conditions.njk" %}{% endset %}

  {% set actionsHtml %}
    {% if canWithdraw %}
      <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/withdraw" }}">Withdraw this application</a></p>
    {% endif %}
    {% if canRespond and not hasResponded %}
      <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/view" }}">View and respond to offer</a></p>
    {% endif %}
  {% endset %}

  {% set summaryHeaderHtml %}
    <a class="govuk-link govuk-link--no-visited-state" href="{{ applicationPath + "/submitted/" + item.id + "/delete?referrer=" + referrer }}">
      <span class="app-course-choice__provider-name">{{ providers[item.providerCode]["name"] }}</span>
      <span class="app-course-choice__course-name">{{ providers[item.providerCode].courses[item.courseCode].name_and_code }}</span>
    </a>
  {% endset %}

  {% set summaryBodyHtml %}
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: statusHtml | safe
        }
      }, {
        key: {
          text: "Interview"
        },
        value: {
          html: interviewHtml | safe
        }
      } if item.interview, {
        key: {
          text: "Feedback"
        },
        value: {
          html: feedbackHtml | safe
        }
      } if item.feedback, {
        key: {
          text: "Conditions of offer"
        },
        value: {
          html: conditionsHtml | safe
        }
      } if item.conditions, {
        key: {
          classes: "govuk-visually-hidden",
          text: "Actions"
        },
        value: {
          html: actionsHtml | safe
        }
      } if canAmend or canWithdraw or canRespond]
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "app-course-choice govuk-!-margin-top-6",
    titleHtml: summaryHeaderHtml,
    _actions: {
      items: [{
        href: applicationPath + "/" + item.id + "/withdraw",
        text: "Withdraw"
      } if canWithdraw, {
        href: applicationPath + "/" + item.id + "/view",
        text: "View and respond to offer"
      } if canRespond and not hasResponded]
    } if canAmend or canWithdraw or canRespond,
    html: summaryBodyHtml
  }) }}
{% endfor %}
