{% for id, item in data.choices %}

  {% set canRespond = item.status == "Offer received" %}

  {% set hasResponded =
    (item.status == "Conditions not met")
    or (item.status == "Offer confirmed")
    or (item.status == "Offer declined")
    or (item.status == "Unsuccessful")
    or (item.status == "Offer withdrawn")
    or (item.status == "Application withdrawn")
    or (item.status == "Application cancelled")
  %}

  {% set canWithdraw =
    (item.status != "Offer received")
    and (item.status != "Offer declined")
    and (item.status != "Application not sent")
    and (item.status != "Unsuccessful")
    and (item.status != "Offer withdrawn")
    and (item.status != "Application withdrawn")
    and (item.status != "Conditions not met")
  %}

  {% set statusHtml %}
    {{ govukTag({
      classes: "",
      text: item.status
    }) }}

    {% if item.status == "Offer received" or status == "Offer accepted" or status == "Offer confirmed" %}
      {{ govukDetails({
        classes: "govuk-!-margin-bottom-0 govuk-!-margin-top-2",
        summaryText: "What to do if you’re unable to start training in September 2023",
        html: "<p>You can defer your offer which means that you could start your course a year later.</p>
        <p>Contact " + item.providerName + " to ask if it‘s possible to defer, this will not affect your existing offer.</p>
        <p>If your provider agrees, you‘ll need to accept the offer on your account first and then defer it.</p>"
      }) }}
    {% endif %}

    {% if item.status == "Awaiting decision" %}
      <p class="govuk-body govuk-!-margin-top-2">The provider must make a decision by 18 March 2023.</p>
    {% endif %}

    {% if item.status == "Application withdrawn" and item.withdrawnByProvider == true %}
      <p class="govuk-body govuk-!-margin-top-2">The provider withdrew the application at your request.</p>

      <p class="govuk-body">If you did not request this, email <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
    {% endif %}

    {% if item.offeredCourseId %}

      {% if item.offeredProviderId %}
        {% set offeredCourse = providers[item.offeredProviderId].courses[item.offeredCourseId] %}
      {% else %}
        {% set offeredCourse = providers[item.providerCode].courses[item.offeredCourseId] %}
      {% endif %}

      {% if item.offeredProviderId != item.providerId %}
        <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from another provider:</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from the one you applied to:</p>
      {% endif %}

      {% set courseOfferedDescription %}

        {% if item.offeredProviderId != item.providerId %}
          <b>{{ providers[item.offeredProviderId].name }}</b><br>
        {% endif %}

        <a href="#">{{ offeredCourse.name }} ({{ item.offeredCourseId }})</a>
        <br>{{ offeredCourse.description }}<br>{{  offeredCourse.locations[0].name }}
      {% endset %}

      {{ govukInsetText({
        html: courseOfferedDescription,
        classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0"
      }) }}
    {% endif %}

  {% endset %}

  {% set interviewHtml %}
    {% if item.interview %}
      {% for interview in item.interview %}
        {% if (interview.date | date) > ("" | dateNow() | date) %}
          <p class="govuk-body">You have an interview scheduled for {{ interview.date | date("d LLLL yyyy, h:mma") }}</p>

          <p class="govuk-body govuk-!-margin-bottom-0">Information from provider:</p>

          {% set interviewDetails %}
            <p class="govuk-body">{{ interview.address | safe }}</p>

            {% if interview.additional_details %}
              <p class="govuk-body">{{ interview.additional_details | safe }}</p>
            {% endif %}
          {% endset %}

          {{ govukInsetText({
            html: interviewDetails,
            classes: "govuk-!-margin-top-1 govuk-!-margin-bottom-1"
          }) }}

          <p class="govuk-body">The provider will send more details about the interview by email.</p>

        {% else %}
          <p class="govuk-body">You had an interview on {{ interview.date | date("d LLLL yyyy") }}</p>
        {% endif %}
      {% endfor %}
    {% else %}
      The provider will be in touch if they want to invite you to an interview.
    {% endif %}
  {% endset %}

  {% set feedbackHtml %}{% include "dashboard/_feedback.html" %}{% endset %}

  {% set conditionsHtml %}
    {% if item.conditions | length > 0 %}
        <ul class="govuk-list govuk-list--bullet">
        {% for condition in item.conditions %}
          <li>{{ condition.title }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">Contact the provider to find out more about these conditions.</p>
      <p class="govuk-body">They’ll confirm your place once you’ve met the conditions.</p>
    {% else %}
      <p class="govuk-body">Contact the provider to find out more about any conditions.</p>
      <p class="govuk-body">They’ll confirm your place once you’ve met any conditions.</p>

    {% endif %}
  {% endset %}

  {% set actionsHtml %}
    {% if canWithdraw %}
      <p class="govuk-body"><a href="/dashboard/withdraw/{{ id }}">Withdraw this application</a></p>
    {% endif %}
    {% if canRespond and not hasResponded %}
      <p class="govuk-body"><a href="/dashboard/respond/{{ id }}">Respond to offer</a></p>

      <p class="govuk-body">
        {% if numberOfChoicesAwaitingDecision > 0 %}
          You can wait to hear back from everyone before you respond.
        {% else %}
          You have 14 days (until 12 December 2022) to respond.
        {% endif %}
      </p>
    {% endif %}
  {% endset %}

  {% set summaryHeaderHtml %}
    {{ item.providerName }}
    <div class="govuk-!-font-weight-regular">{{ item.course }}</div>
  {% endset %}
  
  {% set referencesHtml %}
     
    <p class="govuk-body">{{ item.providerName }} said:</p>

    <p class="govuk-body">2 references one from your current employer and one from your university professor.</p>
  {% endset %}

  {% if item.skeConditions %}
    {% set skeHtml %}
      {% set firstSkeCondition = item.skeConditions | first %}

      <p class="govuk-body">If you accept this offer, you’ll need to do a {{ firstSkeCondition.lengthInWeeks }}&nbsp;week {{ firstSkeCondition.subject }} course.  This is to help you improve your subject knowledge because {% if firstSkeCondition.reason == "degree-subject" %}your degree subject was not in maths{% else %}your degree was more than 5 years ago{% endif %}.</p>

      <p class="govuk-body">You should complete the course before your teacher training starts in September 2023.</p>

      <p class="govuk-body">The course will be free and you’ll receive £175 per week. How and when this is paid will depend on your provider.</p>

      <p class="govuk-body">You can choose how you study your course. Courses can be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>full time (about 25 hours of studying a week)</li>
        <li>part time (the course might take longer than 20 weeks if it's part time)</li>
        <li>online, in person, or a mixture of both</li>
      </ul>

    {% endset %}
  {% endif %}

    {{ govukSummaryList({
      card: {
        title: {
          html: summaryHeaderHtml
        }
      },
      classes: "govuk-!-margin-bottom-0",
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: statusHtml | safe
        }
      }, {
        key: {
          text: "Interview"
        },
        value: {
          html: interviewHtml | safe
        }
      } if item.status == "Awaiting decision", {
        key: {
          text: "Feedback"
        },
        value: {
          html: feedbackHtml | safe
        }
      } if item.feedback,
      {
        key: {
          text: "Subject knowledge enhancement course"
        },
        value: {
          html: skeHtml
        }
      } if item.skeConditions, 
      {
       key: {
          text: "References"
        },
        value: {
          html: referencesHtml | safe
        }
      },{
        key: {
          text: "Conditions"
        },
        value: {
          html: conditionsHtml | safe
        }
      } if item.status != 'Awaiting decision', {
        key: {
          classes: "govuk-visually-hidden",
          text: "Actions"
        },
        value: {
          html: actionsHtml | safe
        }
      } or canWithdraw or canRespond]
    }) }}

{% endfor %}
