{% for item in choices %}

  {% set canRespond = item.status == "Offer received" %}

  {% set hasResponded =
    (item.status == "Conditions not met")
    or (item.status == "Offer confirmed")
    or (item.status == "Offer declined")
    or (item.status == "Unsuccessful")
    or (item.status == "Offer withdrawn")
    or (item.status == "Application withdrawn")
    or (item.status == "Application cancelled")
  %}

  {% set canWithdraw =
    (item.status != "Offer received")
    and (item.status != "Offer declined")
    and (item.status != "Application not sent")
    and (item.status != "Unsuccessful")
    and (item.status != "Offer withdrawn")
    and (item.status != "Application withdrawn")
    and (item.status != "Conditions not met")
  %}

  {% set statusHtml %}
    {{ govukTag({
      classes: item.status | statusClass,
      text: item.status
    }) }}

    {% if item.status == "Awaiting decision" %}
      <p class="govuk-body govuk-!-margin-top-2">The provider must make a decision by  {{ 14 | nowPlusDays("d MMMM yyyy") }}.</p>
    {% endif %}

    {% if item.status == "Application withdrawn" and item.withdrawnByProvider == true %}
      <p class="govuk-body govuk-!-margin-top-2">The provider withdrew the application at your request.</p>

      <p class="govuk-body">If you did not request this, email <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
    {% endif %}

    {% if item.offeredCourseId %}

      {% if item.offeredProviderId %}
        {% set offeredCourse = providers[item.offeredProviderId].courses[item.offeredCourseId] %}
      {% else %}
        {% set offeredCourse = providers[item.providerCode].courses[item.offeredCourseId] %}
      {% endif %}

      {% if item.offeredProviderId != item.providerId %}
        <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from another provider:</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from the one you applied to:</p>
      {% endif %}

      {% set courseOfferedDescription %}

        {% if item.offeredProviderId != item.providerId %}
          <b>{{ providers[item.offeredProviderId].name }}</b><br>
        {% endif %}

        <a href="#">{{ offeredCourse.name }} ({{ item.offeredCourseId }})</a>
        <br>{{ offeredCourse.description }}<br>{{  offeredCourse.locations[0].name }}
      {% endset %}

      {{ govukInsetText({
        html: courseOfferedDescription,
        classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0"
      }) }}
    {% endif %}

  {% endset %}

  {% set interviewHtml %}{% include "dashboard/_course-choice-interview.html" %}{% endset %}
  {% set feedbackHtml %}{% include "_includes/item/feedback.html" %}{% endset %}
  {% set conditionsHtml %}{% include "dashboard/_course-choice-conditions.html" %}{% endset %}

  {% set actionsHtml %}
    {% if canWithdraw %}
      <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/withdraw" }}">Withdraw this application</a></p>
    {% endif %}
    {% if canRespond and not hasResponded %}
      <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/view" }}">Respond to offer</a></p>

      <p class="govuk-body">
        {% if numberOfChoicesAwaitingDecision > 0 %}
          You can wait to hear back from everyone before you respond.
        {% else %}
          You have 14 days (until 19 March 2021) to respond.
        {% endif %}
      </p>
    {% endif %}
  {% endset %}

  {% set summaryHeaderHtml %}
    <!--a class="govuk-link govuk-link--no-visited-state" href="{{ applicationPath + "/submitted/" + item.id + "/delete?referrer=" + referrer }}"-->
      <span class="app-course-choice__provider-name">{{ providers[item.providerCode]["name"] }}</span>
      <span class="app-course-choice__course-name">{{ providers[item.providerCode].courses[item.courseCode].name_and_code }}</span>
    <!--/a-->
  {% endset %}

  {% set summaryBodyHtml %}
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-0",
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: statusHtml | safe
        }
      }, {
        key: {
          text: "Interview"
        },
        value: {
          html: interviewHtml | safe
        }
      } if item.status == "Awaiting decision", {
        key: {
          text: "Feedback"
        },
        value: {
          html: feedbackHtml | safe
        }
      } if item.feedback, {
        key: {
          text: "Conditions"
        },
        value: {
          html: conditionsHtml | safe
        }
      } if item.status != 'Awaiting decision' and item.conditions, {
        key: {
          classes: "govuk-visually-hidden",
          text: "Actions"
        },
        value: {
          html: actionsHtml | safe
        }
      } if canAmend or canWithdraw or canRespond]
    }) }}
  {% endset %}

  {% if item.status == 'Offer accepted'  %}

    {% set taskItems = [] %}

    {% for condition in item.conditions %}

      {% if condition.title != 'References' %}
        {% set taskItems = taskItems | push({
          text: condition.title,
          tag: {
            classes: condition.status | statusClass,
            text: condition.status
          }
        }) %}
      {% endif %}
    {% endfor %}


    <h2 class="govuk-heading-m govuk-!-padding-top-4">References</h2>

    <p class="govuk-body">

      Contact Portsmouth Teaching School Alliance if you need help getting references.

    </p>

    {% set referenceCondition = {} %}
    {% for condition in item.conditions %}
      {% if condition.title == 'References' %}
        {% set referenceCondition = condition %}
      {% endif %}
    {% endfor %}

      {% set references = applicationValue(["references"]) | toArray %}

      {% set referenceItems = [] %}

      {% for item in references %}
        {% if item.name %}
          {% set itemText %}
            <a href="/dashboard/{{ applicationId }}/references/{{ item.id }}{% if item.status == "Not requested yet" %}/name{% endif %}">{{ item.name }}</a>

            {% if item.status == 'Requested' %}
              {% for entry in item.log %}
                <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  {{ entry.note }} on
                  {{ entry.date | date("DDD") }}

                  {% if entry.note == 'Request sent' %}
                    –
                    {% if referenceCondition.status == 'Pending' %}
                    <a href="/dashboard/{{ applicationId }}/references/{{ item.id }}/action/nudge">send a reminder</a> or
                    {% endif %}
                    <a href="/dashboard/{{ applicationId }}/references/{{ item.id }}/action/cancel">cancel request</a></span>
                  {% endif %}
                </p>
              {% endfor %}
            {% endif %}


          {% endset %}


          {% set referenceItems = referenceItems | push({
            text: itemText,
            tag: {
              text: item.status,
              classes: item.status | statusClass
            }
          }) %}
        {% endif %}
      {% endfor %}


    {% if references | length > 0 %}
      {{ appTaskList({
        items: referenceItems,
        classes: "govuk-!-margin-bottom-4"
      }) }}
    {% endif %}

    <div class="govuk-button-group govuk-!-margin-bottom-6">
      {{ govukButton({
        text: "Request another reference",
        href: "/dashboard/" + applicationId + "/references/add?referrer=" + referrer,
        classes: "govuk-button--secondary"
      }) }}
    </div>

    <h2 class="govuk-heading-m">Offer conditions</h2>

    <p class="govuk-body">
      Portsmouth Teaching School Alliance will mark these conditions as met once you’ve completed them.
    </p>

    {{ appTaskList({
      classes: "govuk-!-margin-bottom-5",
      items: taskItems
    }) }}




  {% else %}

    {{ appSummaryCard({
      classes: "app-course-choice govuk-!-margin-bottom-6",
      titleHtml: summaryHeaderHtml,
      actions: {
        items: [{
          href: applicationPath + "/submitted/?referrer=" + referrer,
          text: "View application"
        }]
      },
      html: summaryBodyHtml
    }) }}

  {% endif %}
{% endfor %}
