{% if item.feedback %}

  {% set feedbackHtml %}

    {% if item.feedback.course_full %}
      <h2 class="govuk-heading-s">Course was full</h2>
      <p class="govuk-body">The course you applied to was full.</p>
    {% endif %}

    {% if item.feedback.rejected_by_default %}
      <p class="govuk-body">Provider did not respond in time</p>
    {% endif %}

    {% if item.feedback.behaviour %}

      {% if item.feedback.behaviour.didNotReplyToMessages == true %}
        <p class="govuk-body">Did not reply to messages.</p>
      {% endif %}

      {% if item.feedback.behaviour.other %}
        <p class="govuk-body">{{ item.feedback.behaviour.other }}</p>
      {% endif %}

      {% if item.feedback.behaviour.whatTheyCouldToDoImprove %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">What you could do to improve</p>
        <p class="govuk-body">{{ item.feedback.behaviour.whatTheyCouldToDoImprove }}</p>
      {% endif %}

    {% endif %}

    {% if item.feedback.performanceAtInterview %}

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Performance at interview</h4>
      <p class="govuk-body">{{ item.feedback.performanceAtInterview | safe }}</p>

    {% endif %}

    {% if item.feedback.qualityOfApplication %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Quality of application</h4>

      {% if item.feedback.qualityOfApplication.personalStatement %}
        <p class="govuk-body">Personal statement could be improved.</p>
        <p class="govuk-body">{{ item.feedback.qualityOfApplication.personalStatement }}</p>
      {% endif %}

      {% if item.feedback.qualityOfApplication.subjectKnowledge %}
        <p class="govuk-body">Subject knowledge could be improved.</p>
        <p class="govuk-body">{{ item.feedback.qualityOfApplication.subjectKnowledge }}</p>
      {% endif %}
    {% endif %}

    {% if item.feedback.qualifications %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Qualifications</h4>

      {% if item.feedback.qualifications.degree_does_not_meet_requirements %}
        <p class="govuk-body">Your degree does not meet the course requirements.</p>
      {% endif %}
    {% endif %}

    {% if item.feedback.additionalFeedback %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Additional feedback</h4>
      <p class="govuk-body">{{ item.feedback.additionalFeedback }}</p>
    {% endif %}

    {% if item.feedback.interested_in_future_applications != null %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Future applications</h4>

      <p class="govuk-body">
        {% if item.feedback.interested_in_future_applications %}
          The provider would be interested in future applications from you.
        {% else %}
          The provider would not be interested in future applications from you.
        {% endif %}
      </p>
    {% endif %}
  {% endset %}


  <p class="govuk-body govuk-!-margin-top-3">Feedback from provider:</p>
  <div class="govuk-inset-text  govuk-!-margin-top-0">
    {{ feedbackHtml | safe }}
  </div>

{% endif  %}
