{% set rows = [] %}

{% for item in choices %}

  {% set statusHtml %}
    {{ govukTag({
      classes: "app-tag govuk-!-margin-bottom-2 " + item.status | statusClass,
      text: item.status
    }) }}

    {% include "dashboard/_interview_summary.njk" %}
    {% include "dashboard/_feedback_summary.njk" %}
    {% include "dashboard/_conditions_summary.njk" %}

    {% if item.status == "Awaiting decision" %}
      <p>The provider must make a decision by  {{ 14 | nowPlusDays("d MMMM yyyy") }}.</p>
    {% endif %}
  {% endset %}

  {% set result = rows.push({
    key: {
        classes: "app-summary-list__key--narrow govuk-!-font-weight-regular",
        html: "<b>" +  providers[item.providerCode]["name"] + "</b><br><span class=\"govuk-!-font-weight-regular\">" + providers[item.providerCode].courses[item.courseCode].name + " (" + item.courseCode + ")</span><br><a href=\"/application/" + applicationId + "/submitted/" + item.id + "?referrer=/dashboard/" + applicationId + "\" class=\"govuk-!-font-weight-regular\">View application</a>"
      },
      value: {
        classes: "app-summary-list__value--wide",
        html: statusHtml
      }
  }) %}
{% endfor %}


{{ govukSummaryList({
  rows: rows
}) }}
