<p class="govuk-body">You applied for {{ choices | length }} courses. All providers must respond by {{ 56 | nowPlusDays("d MMMM yyyy") }}</p>


{% set rows = [] %}

{% for item in choices %}

  {% set statusHtml %}
    {{ govukTag({
      classes: "app-tag " + item.status | statusClass,
      text: item.status
    }) }}
  {% endset %}

  {% set result = rows.push({
    key: {
        classes: "app-summary-list__key--wide",
        html: "<b>" +  providers[item.providerCode]["name"] + "</b><br><span class=\"govuk-!-font-weight-regular\">" + providers[item.providerCode].courses[item.courseCode].name + " (" + item.courseCode + ")</span><br><a href=\"#\" class=\"govuk-!-font-weight-regular\">View application</a>"
      },
      value: {
        classes: "app-summary-list__value--narrow",
        html: statusHtml
      }
  }) %}
{% endfor %}


{{ govukSummaryList({
  rows: rows
}) }}
