{% if canMakeDecision == false and application.endedWithoutSuccess == false %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Next steps</h2>

      {% if status == "awaiting-provider-decision" %}
        <p class="govuk-body">The provider will review your application and decide whether to interview you.</p>
      {% endif %}

      {% if status == "accepted" %}
        <p class="govuk-body">The provider has guaranteed you a place on the course as long as you meet the conditions.</p>

        <p class="govuk-body">Some providers will allow you to defer your offer. This means you will start the course a year later.</p>

        <p class="govuk-body">Contact Gorse SCITT for more information about your offer conditions and deferring.</p>

        <p class="govuk-body">You can <a href="/application/{{ applicationId }}/withdraw" class="govuk-link">withdraw your application</a> if you no longer want to enroll for this course.</p>

      {% elseif status == "deferred" %}

        <p class="govuk-body">You need to meet the offer conditions.</p>

        <p class="govuk-body">You can <a href="/application/{{ applicationId }}/withdraw" class="govuk-link">withdraw your application</a> if you no longer want to enroll for this course.</p>

      {% elseif status == "recruited-single" %}

        <p class="govuk-body">???</p>

      {% elseif choices | length > 1 %}

        <p class="govuk-body">Once all providers have made their decisions, you will have 10 working days to respond to any offers made.</p>

        <p class="govuk-body">You can <a href="/application/{{ applicationId }}/withdraw" class="govuk-link">withdraw an application</a> if you no longer want to apply for a course.</p>

        <p class="govuk-body">If you are not offered a place, or you withdraw all your applications, you can apply to a different course.</p>

      {% else %}

        <p class="govuk-body">If the provider offers you a place on the course, you have 10 working days to respond.</p>

        <p class="govuk-body">You can <a href="/application/{{ applicationId }}/withdraw" class="govuk-link">withdraw your application</a> if you no longer want to apply for this course.</p>

        <p class="govuk-body">If you are not offered a place, or you withdraw your application, you can apply to a different course.</p>
      {% endif %}
    </div>
  </div>

{% endif %}
