{% for application in data.applications | toArray %}
  {% if application.status == 'submitted' %}
    {% for item in application.choices | toArray %}

      {% set canRespond = item.status == "Offer received" %}

      {% set hasResponded =
        (item.status == "Conditions not met")
        or (item.status == "Offer confirmed")
        or (item.status == "Offer declined")
        or (item.status == "Unsuccessful")
        or (item.status == "Offer withdrawn")
        or (item.status == "Application withdrawn")
        or (item.status == "Application cancelled")
      %}

      {% set canWithdraw =
        (item.status != "Offer received")
        and (item.status != "Offer declined")
        and (item.status != "Application not sent")
        and (item.status != "Unsuccessful")
        and (item.status != "Offer withdrawn")
        and (item.status != "Application withdrawn")
        and (item.status != "Conditions not met")
      %}

      {% set statusHtml %}
        {{ govukTag({
          classes: item.status | statusClass,
          text: item.status
        }) }}

        {% if item.status == "Awaiting decision" %}
          <p class="govuk-body govuk-!-margin-top-2">The provider must make a decision by  {{ 14 | nowPlusDays("d MMMM yyyy") }}.</p>
        {% endif %}

        {% if item.offeredCourseId %}

          {% if item.offeredProviderId %}
            {% set offeredCourse = providers[item.offeredProviderId].courses[item.offeredCourseId] %}
          {% else %}
            {% set offeredCourse = providers[item.providerCode].courses[item.offeredCourseId] %}
          {% endif %}

          {% if item.offeredProviderId != item.providerId %}
            <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from another provider:</p>
          {% else %}
            <p class="govuk-body govuk-!-margin-top-2">You have been offered a place on a different course from the one you applied to:</p>
          {% endif %}

          {% set courseOfferedDescription %}

            {% if item.offeredProviderId != item.providerId %}
              <b>{{ providers[item.offeredProviderId].name }}</b><br>
            {% endif %}

            <a href="#">{{ offeredCourse.name }} ({{ item.offeredCourseId }})</a>
            <br>{{ offeredCourse.description }}<br>{{  offeredCourse.locations[0].name }}
          {% endset %}

          {{ govukInsetText({
            html: courseOfferedDescription,
            classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0"
          }) }}
        {% endif %}

      {% endset %}

      {% set interviewHtml %}{% include "dashboard/_course-choice-interview.njk" %}{% endset %}
      {% set feedbackHtml %}{% include "_includes/item/feedback.njk" %}{% endset %}
      {% set conditionsHtml %}{% include "dashboard/_course-choice-conditions.njk" %}{% endset %}

      {% set actionsHtml %}
        {% if canWithdraw %}
          <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/withdraw" }}">Withdraw this application</a></p>
        {% endif %}
        {% if canRespond and not hasResponded %}
          <p class="govuk-body"><a href="{{ applicationPath + "/" + item.id + "/view" }}">Respond to offer</a></p>

          <p class="govuk-body">
            {% if numberOfChoicesAwaitingDecision > 0 %}
              You can wait to hear back from everyone before you respond.
            {% else %}
              You have 14 days (until 19 March 2021) to respond.
            {% endif %}
          </p>
        {% endif %}
      {% endset %}

      {% set summaryHeaderHtml %}
        <!--a class="govuk-link govuk-link--no-visited-state" href="{{ applicationPath + "/submitted/" + item.id + "/delete?referrer=" + referrer }}"-->
          <span class="app-course-choice__provider-name">{{ providers[item.providerCode]["name"] }}</span>
          <span class="app-course-choice__course-name">{{ providers[item.providerCode].courses[item.courseCode].name_and_code }}</span>
        <!--/a-->
      {% endset %}

      {% set summaryBodyHtml %}
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-0",
          rows: [{
            key: {
              text: "Status"
            },
            value: {
              html: statusHtml | safe
            }
          }, {
            key: {
              text: "Interview"
            },
            value: {
              html: interviewHtml | safe
            }
          } if item.status == "Awaiting decision", {
            key: {
              text: "Feedback"
            },
            value: {
              html: feedbackHtml | safe
            }
          } if item.feedback, {
            key: {
              text: "Conditions"
            },
            value: {
              html: conditionsHtml | safe
            }
          } if item.conditions, {
            key: {
              classes: "govuk-visually-hidden",
              text: "Actions"
            },
            value: {
              html: actionsHtml | safe
            }
          } if canAmend or canWithdraw or canRespond]
        }) }}
      {% endset %}

      {{ appSummaryCard({
        classes: "app-course-choice govuk-!-margin-bottom-6",
        titleHtml: summaryHeaderHtml,
        actions: {
          items: [{
            href: applicationPath + "/submitted/?referrer=" + referrer,
            text: "View application"
          }]
        },
        html: summaryBodyHtml
      }) }}
    {% endfor %}
  {% endif %}
{% endfor %}
