{% set respondToOfferHtml %}
  <h2 class="govuk-heading-m">
    Congratulations on your {{ "offers" if 1 > 1 else "offer" }}
  </h2>
  <p class="govuk-body">You have 14 days (until 4 March 2021) to respond. If you do not respond, your {{ "offers" if numberOfOffersReceived > 1 else "offer" }} will automatically be declined.</p>
{% endset %}

{{ govukInsetText({
  classes: "govuk-!-margin-top-0",
  html: respondToOfferHtml
}) }}
