{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set firstChoice = choices | first %}
{% set firstChoiceProvider = providers[firstChoice["providerCode"]] %}
{% set firstChoiceCourse = firstChoiceProvider.courses[firstChoice.courseCode] %}

{% set item = firstChoice %}

<p class="govuk-body-l">You applied for the <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/{{ provider.code }}/{{ firstChoiceCourse.code }}">{{ firstChoiceCourse["name"] }} ({{ firstChoiceCourse.code }}) course</a>  at {{ providers[firstChoice["providerCode"]]["name"] }}</p>

{% set statusHtml %}
{{ govukTag({
  classes: "app-tag " + firstChoice.status | statusClass,
  text: firstChoice.status
}) }}

{% include "dashboard/_interview_summary.njk" %}

{% if status == "Awaiting decision" %}
  <p class="govuk-!-margin-top-3">The provider must make a decision by {{ 56 | nowPlusDays("d MMMM yyyy") }}.</p>
{% endif %}

{% if item.rejectedByDefault == true %}
  <p class="govuk-!-margin-top-3">Provider did not respond in time.</p>
{% endif %}

{% if item.feedback %}

  {% set feedbackHtml %}

    {% if item.feedback.course_full %}
      <h2 class="govuk-heading-s">Course was full</h2>
      <p class="govuk-body">The course you applied to was full.</p>
    {% endif %}

    {% if item.feedback.rejected_by_default %}
      <p class="govuk-body">Provider did not respond in time</p>
    {% endif %}

    {% if item.feedback.behaviour %}

      {% if item.feedback.behaviour.didNotReplyToMessages == true %}
        <p class="govuk-body">Did not reply to messages.</p>
      {% endif %}

      {% if item.feedback.behaviour.other %}
        <p class="govuk-body">{{ item.feedback.behaviour.other }}</p>
      {% endif %}

      {% if item.feedback.behaviour.whatTheyCouldToDoImprove %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">What you could do to improve</p>
        <p class="govuk-body">{{ item.feedback.behaviour.whatTheyCouldToDoImprove }}</p>
      {% endif %}

    {% endif %}


    {% if item.feedback.quality_of_application %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Quality of application</h4>

      {% if item.feedback.quality_of_application.subject_knowledge %}
        <p class="govuk-body">Subject knowledge</p>
        <p class="govuk-body">{{ item.feedback.quality_of_application.subject_knowledge }}</p>
      {% endif %}
    {% endif %}

    {% if item.feedback.qualifications %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Qualifications</h4>

      {% if item.feedback.qualifications.degree_does_not_meet_requirements %}
        <p class="govuk-body">Your degree does not meet the course requirements.</p>
      {% endif %}
    {% endif %}

    {% if item.feedback.interested_in_future_applications %}
      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Future applications</h4>
      <p class="govuk-body">The provider would be interested in future applications from you.</p>
    {% endif %}
  {% endset %}


  <p class="govuk-body govuk-!-margin-top-3">Feedback from provider:</p>
  <div class="govuk-inset-text  govuk-!-margin-top-0">
    {{ feedbackHtml | safe }}
  </div>

{% endif  %}


{% if (item.status == "Offer received" or item.status == "Offer accepted" or item.status == "Offer deferred" or item.status == "Conditions not met") and  item.conditions %}

  <h2 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">Conditions of offer</h2>

  <ul class="govuk-list govuk-list--bullet">
    {% for condition in item.conditions %}
      <li>{{ condition }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: statusHtml
        },
        actions: {}
      },
      {
        key: { text: "Contact details" },
        value: { html: "0113 4871777 <br> <a href=\"mailto:info@gorsescitt.org.uk\">info@gorsescitt.org.uk</a>" }
      }]
    }) }}
  </div>
</div>

<p class="govuk-body"><a href="#" class="govuk-link">View your application</a></p>

