{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set firstChoice = choices | first %}
{% set firstChoiceProvider = providers[firstChoice["providerCode"]] %}
{% set firstChoiceCourse = firstChoiceProvider.courses[firstChoice.courseCode] %}

{% set item = firstChoice %}

<p class="govuk-body-l">You applied for the <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/{{ provider.code }}/{{ firstChoiceCourse.code }}">{{ firstChoiceCourse["name"] }} ({{ firstChoiceCourse.code }}) course</a>  at {{ providers[firstChoice["providerCode"]]["name"] }}</p>

{% set statusHtml %}
{{ govukTag({
  classes: "app-tag " + firstChoice.status | statusClass,
  text: firstChoice.status
}) }}

{% include "dashboard/_interview_summary.njk" %}

{% if status == "Awaiting decision" %}
  <p class="govuk-!-margin-top-3">The provider must make a decision by {{ 56 | nowPlusDays("d MMMM yyyy") }}.</p>
{% endif %}

{% if item.rejectedByDefault == true %}
  <p class="govuk-!-margin-top-3">Provider did not respond in time.</p>
{% endif %}

{% include "dashboard/_feedback_summary.njk" %}
{% include "dashboard/_conditions_summary.njk" %}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: statusHtml
        },
        actions: {}
      },
      {
        key: { text: "Contact details" },
        value: { html: "0113 4871777 <br> <a href=\"mailto:info@gorsescitt.org.uk\">info@gorsescitt.org.uk</a>" }
      }]
    }) }}
  </div>
</div>

<p class="govuk-body"><a href="#" class="govuk-link">View your application</a></p>

