{% extends "_form.html" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/dashboard/" + applicationId + "/references/" + id
  }) }}
{% endblock %}

{% block primary %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

  <h1 class="govuk-heading-l">Confirm training provider</h1>

  <p class="govuk-body">You’ve said you want to do your 8 weeks maths course with University of East London.</p>

  <p class="govuk-body">We will share your details with the provider:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>your name</li>
    <li>your email address</li>
    <li>your phone number</li>
    <li>details of your degree and A levels</li>
  </ul>

  <p class="govuk-body">The provider will be in touch with details about how to complete your course and how they’ll pay you £175 a week.</p>

  {{ govukButton({text: "Continue", href: "/dashboard/12345?ske=started"}) }}

{% endblock %}


