{% extends "layouts/main.html" %}

{% set title = "Are you sure you want to decline this offer?" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/dashboard/respond/" + id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">If you decline this offer you can still apply again.</p>

      {% include "dashboard/_choice.html" %}

      <form action="/dashboard/decline/{{ id }}" method="post">
        {{ govukButton({
          classes: "govuk-button--warning",
          text: "Yes I’m sure - decline this offer"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
