{% extends "_content.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set choices = application.choices | toArray %}

{% if choices | length > 1  %}
  {% set title = "Your applications" %}
{% else %}
  {% set title = "Your application" %}
{% endif %}

{% set hasSecondary = true %}
{% set applicationPath = "/application/" + applicationId %}

{% if applicationStatus %}
  {% set referrer = "/dashboard/" + applicationId + "/" + applicationStatus %}
{% else %}
  {% set referrer = "/dashboard/" + applicationId %}
{% endif %}

{% block beforePrimary %}
  <h1 class="govuk-heading-xl">{{ title | safe }}</h1>
{% endblock %}

{% block primary %}
  {% include "dashboard/_next_steps.njk" %}

  {% set respondToOfferHtml %}
    <h2 class="govuk-heading-m">
    {% if numberOfOffersReceived > 1 %}
      You have received {{ numberOfOffersReceived }} conditional offers
    {% else %}
      You have received a conditional offer
    {% endif %}
    </h2>
    <p class="govuk-body">You have 14 days (until 4 March 2021) to accept or decline the
    {{ "offers" if numberOfOffersReceived > 1 else "offer" }}.</p>

    <p class="govuk-body">Your {{ "offers" if numberOfOffersReceived > 1 else "offer" }} will be withdrawn if you do not respond in time.</p>

    {% set buttonText %}
      Respond to {{ "offers" if numberOfOffersReceived > 1 else "offer" }}
    {% endset %}

    {{ govukButton({
      text: buttonText,
      href: "/application/" + applicationId + "/respond"
    }) }}
  {% endset %}

  {% if canMakeDecision == true %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      html: respondToOfferHtml
    }) }}
  {% endif %}

  {% if application.endedWithoutSuccess == true %}
    {% set applyAgainHtml %}
      <h2 class="govuk-heading-m">
        {% if choices.length == 1 and choices[0].status == "Application withdrawn" %}
          You withdrew your application
        {% elseif choices.length == 1 and choices[0].status == "Offer declined" %}
          You declined an offer
        {% else %}
          You did not get a place on a course this time
        {% endif %}
      </h2>

      <p class="govuk-body">You can apply again for courses starting in September 2021.</p>

      <p class="govuk-body">You have until 5 August 2021 to apply again.</p>

      {{ govukButton({
        text: "Apply again",
        href: "/application/" + applicationId + "/apply-again"
      }) }}
    {% endset %}

    {{ govukInsetText({
      html: applyAgainHtml,
      classes: "govuk-!-margin-top-0"
    }) }}
  {% endif %}

  {% include "dashboard/_course-choices.njk" %}

  {% include "dashboard/_previous-applications.njk" %}
{% endblock %}
