{% extends "_content-wide.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set title = "Your application" %}
{% set hasSecondary = true %}
{% set applicationPath = "/application/" + applicationId %}

{% if applicationStatus %}
  {% set referrer = "/dashboard/" + applicationId + "/" + applicationStatus %}
{% else %}
  {% set referrer = "/dashboard/" + applicationId %}
{% endif %}

{% if status == "awaiting-candidate-response" or status == "received-one-offer" or status == "received-two-offers" %}
  {% set statusTitle = "All your training providers have now reached a decision" %}
  {% set statusDesc = "You have 14 days (until " + 14 | nowPlusDays("d MMMM yyyy") + ") to respond to any offers. If you do not respond, your applications will be automatically withdrawn." %}
{% elif status == "offer-received" %}
  {% set statusTitle = "Your training provider has now reached a decision" %}
  {% set statusDesc = "You have 14 days (until " + 14 | nowPlusDays("d MMMM yyyy") + ") to respond to any offers. If you do not respond, your applications will be automatically withdrawn." %}
{% elif status == "ended-without-success" %}
  {% set statusTitle = "All your training providers have now reached a decision" %}
{% elif status == "withdrawn" or status == "did-not-respond-to-offer" %}
  {% set statusTitle = "You have withdrawn all your choices" %}
{% elif status == "pending-conditions" %}
  {% set statusTitle = "You have accepted an offer" %}
  {% set statusDesc = "We’ve sent you an email to confirm this. Your training provider will be in touch with you directly to explain what happens next." %}
{% elif status == "offer-deferred" %}
  {% set statusTitle = "Your original offer has been deferred" %}
  {% set statusDesc = "We’ve sent you an email to confirm this. Your training provider will be in touch with you directly to explain what happens next." %}
{% elif status == "recruited" or status == "recruited-single" %}
  {% set statusTitle = "You have met your conditions and are ready to be enrolled" %}
  {% set statusDesc = "Your training provider will be in touch with you directly to explain what happens next." %}
{% else %}
  {% if application.choices | toArray | length > 1 %}
    {% set statusTitle = "Courses you’ve applied to" %}
  {% else %}
    {% set statusTitle = "Course you’ve applied to" %}
  {% endif %}
  {% set statusDesc = "Training providers must respond by " + 56 | nowPlusDays("d MMMM yyyy") + "." %}
{% endif %}

{% block beforePrimary %}
  <h1 class="govuk-heading-xl">{{ title | safe }}</h1>
{% endblock %}

{% block primary %}

  {% set canMakeDecision = (status == "awaiting-provider-decisions") or (status == "awaiting-candidate-response" or status == "offer-received" or status == "received-two-offers") %}

  {% set respondToOfferHtml %}
    <h2 class="govuk-heading-m">
    {% if status == "received-two-offers" %}
      You have received 2 conditional offers
    {% else %}
      You have received a conditional offer
    {% endif %}
    </h2>
    <p class="govuk-body-l">You have until 4 March 2021 to accept or reject the
    {{ "offers" if status == "received-two-offers" else "offer" }}.</p>

    {% set buttonText %}
      Respond to  {{ "offers" if status == "received-two-offers" else "offer" }}
    {% endset %}

    {{ govukButton({
      text: buttonText,
      href: "#"
    }) }}
  {% endset %}

  {% if canMakeDecision == true %}
    {{ govukInsetText({
      html: respondToOfferHtml,
      classes: "app-inset-text--important govuk-!-margin-top-0"
    }) }}
  {% endif %}

  {% if application.endedWithoutSuccess == true %}

    {% set applyAgainHtml %}
      <h2 class="govuk-heading-m">You did not get a place on a course this time</h2>
      <p class="govuk-body-l">You can apply again for a course starting September 2021 up until 5 August 2021</p>
      {{ govukButton({
        text: "Apply again",
        href: "#"
      }) }}
    {% endset %}

    {{ govukInsetText({
      html: applyAgainHtml,
      classes: "govuk-!-margin-top-0 app-inset-text--important"
    }) }}
  {% endif %}

  {% set choices = application.choices | toArray %}

  {% if choices | length > 1 %}
    {% include "dashboard/_multiple_active_applications.njk" %}
  {% else %}
    {% include "dashboard/_single_active_application.njk" %}
  {% endif %}


  {% if canMakeDecision == false and application.endedWithoutSuccess == false %}
    <h2 class="govuk-heading-m">Next steps</h2>

    {% if status == "awaiting-provider-decision" %}
      <p class="govuk-body">The provider will review your application and decide whether to interview you.</p>
    {% endif %}

    {% if status == "accepted" %}
      <p class="govuk-body">You now need to meet the offer conditions. The provider will give you further instructions. Once you have met the conditions, you will be enrolled.</p>

      <p class="govuk-body">You can <a href="#" class="govuk-link">withdraw your application</a> if you no longer want to enroll for this course.</p>

    {% elseif status == "deferred" %}

      <p class="govuk-body">You need to meet the offer conditions.</p>

      <p class="govuk-body">You can <a href="#" class="govuk-link">withdraw your application</a> if you no longer want to enroll for this course.</p>

    {% elseif status == "recruited-single" %}

      <p class="govuk-body">???</p>

    {% else %}

      <p class="govuk-body">If the provider offers you a place on the course, you have 10 working days to respond.</p>

      <p class="govuk-body">You can <a href="#" class="govuk-link">withdraw your application</a> if you no longer want to apply for this course.</p>

      <p class="govuk-body">If you are not offered a place, or you withdraw your application, you can apply to a different course.</p>
    {% endif %}

  {% endif %}

  {% include "dashboard/_previous_applications_summary.njk" %}

{% endblock %}
