{% extends "_content-wide.njk" %}

{% set title = "Your application for teacher training" %}

{% block primary %}
  {% if applicationStatus == "complete" %}
    {% set buttonText = "Edit" %}
  {% elif applicationStatus == "incomplete" %}
    {% set buttonText = "Continue" %}
  {% else %}
    {% set buttonText = "Start" %}
  {% endif %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="profile">Personal teaching profile</h2>
  <p class="govuk-body">Enter your qualifications and work history and tell us about your subject knowledge and teaching vocation.</p>
  {{ govukButton({
    text: buttonText,
    href: "/profile",
    classes: "govuk-button--start"
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="courses">Course selection</h2>
  <p class="govuk-body">Check your selection of provider and course.</p>
  {% include "_includes/review-courses.njk" %}
{% endblock %}
