{% extends "_content.njk" %}

{% set hasSecondary = true %}
{% set title = "Dashboard" %}

{% block primary %}
  {% if applicationStatus == "complete" %}
    {% set buttonText = "Edit" %}
  {% elif applicationStatus == "incomplete" %}
    {% set buttonText = "Continue" %}
  {% else %}
    {% set buttonText = "Start" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="profile">Personal teaching profile</h2>
      <p class="govuk-body">Create a personal teaching profile listing your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>qualifications</li>
        <li>work history</li>
        <li>experience with young people</li>
        <li>knowledge about the subject you want to teach</li>
        <li>reasons for wanting to be a teacher</li>
      </ul>
      {{ govukButton({
        text: buttonText,
        href: "/profile",
        isStartButton: true
      }) }}
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="courses">Course selection</h2>
  <p class="govuk-body">Check and edit your choice of training provider and course.</p>
  {{ govukButton({
    text: "Find a course",
    href: "https://find-postgraduate-teacher-training.education.gov.uk"
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="courses">Applications</h2>
  <p class="govuk-body">Check the status of your applications once they have been submitted</p>
{% endblock %}

{% block secondary %}
  {{ appRelated ({
    title: "Account",
    name: "account",
    content: {
      text: "Create an account, to save, return and customise your application for different training providers"
    },
    items: [{
      text: "Create an account",
      href: "/account/create-account"
    }]
  }) }}
{% endblock %}
