{% extends "layouts/main.html" %}

{% set title = "Details of offer" %}
{% set referrer = "/application/" + "/" + choiceId + "/view" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/dashboard"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% include "_includes/item/offer.html" %}
      <form action="{{ formaction }}" method="post" novalidate>
        {{ govukRadios({
          fieldset: {
            classes: "govuk-!-margin-top-6",
            legend: {
              text: "How do you want to respond to this offer?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          id: "decision",
          name: "decision",
          items: [{
            value: "accept",
            hint: "words",
            text: "Accept offer and conditions"
          }, {
            value: "decline",
            text: "Decline offer"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    {% endblock %}
  </div>
</div>
