{% extends "_form.njk" %}

{% set title = "I needed to learn a lot of things before I could get going with this website" %}
{% set formaction = "/survey/improvements" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/survey/experience-9"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukRadios({
    id: "experience-learn-rating",
    name: "experience-learn-rating",
    items: [
      { text: "1 - strongly agree", value: "1" },
      { text: "2" },
      { text: "3" },
      { text: "4" },
      { text: "5 - strongly disagree", value: "5" }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
