{% extends "_content.njk" %}

{% set title = "Give feedback" %}

{% block primary %}
  <p class="govuk-body">We’ll ask you a series of questions that are phrased differently each time. Please ensure you read the question before answering.</p>

  {{ govukButton({
    text: "Continue",
    href: "/survey/experience-1"
  }) }}
{% endblock %}
