{% extends "_form.njk" %}

{% set title = "Your feedback" %}
{% set formaction = "/survey/thank-you" %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "How satisfied are you with this service?"
      }
    },
    items: [
      { text: "Very satisfied" },
      { text: "Satisfied" },
      { text: "Neither satisfied or dissatisfied" },
      { text: "Dissatisfied" },
      { text: "Very dissatisfied" }
    ]
  }) }}

  {{ govukCharacterCount({
    label: {
      classes: "govuk-label--m",
      text: "How could we improve this service?"
    },
    maxwords: 1200,
    rows: 6
  }) }}

  {{ govukButton({
    text: "Send feedback"
  }) }}
{% endblock %}
