{% extends "layouts/main.html" %}

{% set title = "Your feedback" %}
{% set formaction = "/survey" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/dashboard?confirmation=true" method="post">

        {{ govukRadios({
          name: "survey[satisfaction]",
          value: data.survey.satisfaction,
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "How satisfied are you with this service? (optional)"
            }
          },
          items: [
            { text: "Very satisfied" },
            { text: "Satisfied" },
            { text: "Neither satisfied or dissatisfied" },
            { text: "Dissatisfied" },
            { text: "Very dissatisfied" }
          ]
        }) }}

        {{ govukCharacterCount({
          name: "survey[suggestions]",
          value: data.survey.suggestions,
          label: {
            classes: "govuk-label--m",
            text: "How could we improve this service? (optional)"
          },
          maxwords: 1200,
          rows: 6
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
