{% extends "_content.njk" %}

{% set title = "Thank you" %}

{% block primary %}
  <p class="govuk-body">Thank you for your feedback.</p>
  <p class="govuk-body"><a href="/applications">Go to application dashboard</a></p>
{% endblock %}
