{% extends "_content.njk" %}

{% set title = "Thank you for your feedback" %}

{% block primary %}
  <p class="govuk-body"><a href="/applications">Go to your application dashboard</a></p>
{% endblock %}
