{% extends "_form.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Work history" %}
{% set action = "edit" if applicationValue(["work-history", id]) else "add" %}
{% set title = (action | capitalize) + " job" %}
{% set formaction = "/application/" + applicationId + "/work-history-2/" + id %}


{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: applicationPath + "/work-history-2/review"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}


{{ govukInsetText({
  html: "<p class=\"govuk-body\">Include all the jobs you’ve had since you turned 18.</p><p class=\"govuk-body\">You do not need to enter jobs you had while in full time education.</p>",
  attributes: {
    style: "margin-top: -20px;"
  }
}) }}


  {% set roleEndHTML %}
    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "When did you leave this job?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 5 2019"
      },
      namePrefix: id + "-end-date",
      items: [{
        label: "Month",
        name: "month",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('L'),
        classes: "govuk-input--width-2"
      },
      {
        label: "Year",
        name: "year",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('yyyy'),
        classes: "govuk-input--width-4"
      }]
    } | decorateApplicationAttributes(["work-history", id, "end-date"])) }}

      {{ govukCheckboxes({
    name: "start-date-approx",
    items: [
      {
        value: "start-date-approx",
        text: "Approximate date"
      }
    ]
  }) }}
  {% endset %}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you worked for yourself, enter ‘self-employed’."
    }
  } | decorateApplicationAttributes(["work-history", id, "org"])) }}


  {{ govukInput({
    label: {
      text: "Role",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you had more than one role with this employer, enter your last role."
    }
  } | decorateApplicationAttributes(["work-history", id, "role"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this job full time or part time?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Full time (usually at least 35 hours a week)"
    }, {
      text: "Part time"
    }]
  } | decorateApplicationAttributes(["work-history", id, "type"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "When did you start this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 5 2018. If you cannot remember the exact month or year, enter an estimate."
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Month",
      name: "month",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('L'),
      classes: "govuk-input--width-2"
    },
    {
      label: "Year",
      name: "year",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["work-history", id, "start-date"])) }}

  {% set approxStartHtml %}
    <p class="govuk-body">
      Enter an approximate month and year.
    </p>

    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
  {% endset %}


  {{ govukCheckboxes({
    name: "start-date-approx",
    items: [
      {
        value: "start-date-approx",
        text: "Approximate date"
      }
    ]
  }) }}


  <!--
  {{ govukDetails({
    summaryText: "I don’t remember the year or month",
    html: approxStartHtml
  }) }}
  -->

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Are you still working in this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: roleEndHTML
        }

      }
    ]
  } | decorateApplicationAttributes(["work-history", id, "end-date-present"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working with children?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes"
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(["work-history", id, "worked-with-children"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][work-history][" + id + "][category]",
    value: "job"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
