{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Work history" %}
{% set action = "edit" if applicationValue(["work-history", id]) else "add" %}
{% set title = (action | capitalize) + " job" %}
{% set formaction = "/application/" + applicationId + "/work-history-2/" + id %}


{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: applicationPath + "/work-history-2/review"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  {% set roleEndHTML %}
    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "When did you finish this role?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 5 2019"
      },
      namePrefix: id + "-end-date",
      items: [{
        label: "Month",
        name: "month",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('L'),
        classes: "govuk-input--width-2"
      }, {
        label: "Year",
        name: "year",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('yyyy'),
        classes: "govuk-input--width-4"
      }]
    } | decorateApplicationAttributes(["work-history", id, "end-date"])) }}
  {% endset %}


  {{ govukInput({
    label: {
      text: "Job title",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["work-history", id, "role"])) }}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you worked for yourself, enter ‘self-employed’. Include the name of your company if you had one."
    }
  } | decorateApplicationAttributes(["work-history", id, "org"])) }}

  {% set partTimeHtml %}
    {{ govukCharacterCount({
      label: {
        text: "Give details about your working pattern",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For example: ‘20 hours per week’"
      },
      maxwords: 50,
      threshold: 75,
      rows: 2
    } | decorateApplicationAttributes(["work-history", id, "part-time-details"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this job full time or part time?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Full time (usually at least 35 hours a week)"
    }, {
      text: "Part time"
    }]
  } | decorateApplicationAttributes(["work-history", id, "type"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "When did you begin this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 5 2018"
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Month",
      name: "month",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('L'),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["work-history", id, "start-date"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Are you still working in this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: roleEndHTML
        }

      }
    ]
  } | decorateApplicationAttributes(["work-history", id, "end-date-present"])) }}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working in a school or with children?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes"
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(["work-history", id, "worked-with-children"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][work-history][" + id + "][category]",
    value: "job"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
