{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Work history" %}
{% set referrer = applicationPath + "/work-history/review" %}
{% set canAmend = true %}

{% set workHistory = applicationValue(["work-history"]) or {} %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}

{% set workHistoryDecision = applicationValue(["work-history-decision"]) %}

{% if workHistoryDecision == "full-time-education" %}

  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Do you have any work history?"
      },
      value: {
        text: "No, I have always been in full time education"
      },
      actions: {
        items: [{
          href: applicationPath + "/work-history-2",
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}

{% elseif workHistoryDecision == "no" %}

  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Explanation of why you’ve been out of the workplace"
      },
      value: {
        text: (applicationValue(["work-history", "missing"]) or "Not entered") | nl2br | safe
      },
      actions: {
        items: [{
          href: applicationPath + "/work-history-2?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}

{% else %}

  <div style="max-width: 650px;">
    <p class="govuk-body">Include all the jobs you’ve had as an adult, including unpaid roles.</p>

    <p>Do not include part time jobs you had during full time education.</p>
  </div>

  {% set history = workHistory | toArray | selectattr("id") | sort(attribute="start-date") %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-m">Jobs and breaks in work history</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">From</th>
          <th class="govuk-table__header">To</th>
          <th class="govuk-table__header">Description</th>
          <!--<th class="govuk-table__header">Employer</th>-->
          <th class="govuk-table__header" style="text-align: right;">Actions</th>
        </tr>
      </thead>
      <tbody>

        {% if history.length >= 1 %}
          {% for item in history %}

          {# periodStart = Earliest date in required work history period #}
          {% set periodStart = "now" | date | replace("2019", "2014") %}
          {% set periodStartEpoch = periodStart | date("x") | int %}

          {# firstStart = Start date of first item in work history #}
          {% set firstStart = item["start-date"] %}
          {% set firstStartEpoch = firstStart | date("x") | int %}

            <tr>
              <td class="govuk-table__cell" style="white-space: nowrap">{{ item["start-date"] | date('LLL yyyy') }}</td>
              <td class="govuk-table__cell" style="white-space: nowrap">

              {% if item["end-date-present"] == "yes" %}
                Present
              {% else %}
                {{ item["end-date"] | date("LLL yyyy") if item["end-date"] != "now" else "Present" }}
              {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if item["category"] == "break" %}
                  <b>Break in work history</b>
                  <br><br>
                  {{ item["description"] }}
                {% else %}



                  <p class="govuk-body">
                    <b class="govuk-!-font-weight-bold">{{ item["role"] }}</b>
                    {% if item["type"] == "Part time" %}(Part time){% endif %}
                  <br>{{ item["org"] }}
                </p>

                  {% if item["worked-with-children"] == "Yes" %}
                    <p class="govuk-body-s govuk-!-margin-bottom-1">This role involved working with children</p>
                  {% endif %}
                {% endif %}
              </td>
              <td class="govuk-table__cell" style="text-align: right;">
                <a class="govuk-link" href="{{ applicationPath + "/work-history-2/" + item.id }}">Change</a>

                <br>
                <a class="govuk-link app-link--destructive" href="{{ applicationPath + "/work-history-2/" + item.id + "/remove" }}">Remove</a>
              </td>
            </tr>

            {# Unexplained break (during work history) #}
            {% set nextItem = history[loop.index] %}
            {% set itemStart = item["end-date"] %}
            {% set itemStartEpoch = itemStart | date("x") | int %}
            {% set itemEnd = nextItem["start-date"] if nextItem else "now" %}
            {% set itemEndEpoch = itemEnd | date("x") | int %}
            {% set itemDuration = itemEndEpoch - itemStartEpoch %}
            {% if itemEndEpoch > itemStartEpoch and itemDuration > 2678400000 %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" colspan="4" style="background-color: #f3f2f1; padding: 10px 10px;">
                You have a break in your work history ( {{ itemDuration | duration }})

                <a style="margin-left: 10px; margin-right: 10px;" href="{{ applicationPath + "/work-history-2/" + newId + "?start=" + itemStart | date("yyyy-LL") + "&end=" + itemEnd | date("yyyy-LL") + "&referrer=" + referrer }} ">Add another job</a>

                <a href="{{ applicationPath + "/work-history/add/break?start=" + itemStart | date("yyyy-LL") + "&end=" + itemEnd | date("yyyy-LL") + "&referrer=" + referrer }} ">Add reason for break</a>
              </tr>
            </td>


            {% endif %}


          {% endfor %}
        {% else %}
          <tr class="govuk-table__row">
            <td colspan="5" class="govuk-table__cell">
              No work history added yet.
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>


  {{ govukButton({
    text: "Add another job",
    href: "/application/" + applicationId + "/work-history-2/" + newId,
    classes: "govuk-button--secondary"
    }) }}


{% endif %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "work-history"])) }}

  {{ govukButton({
    text: "Return to application"
  }) }}


{% endblock %}
