{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Work history" %}
{% set canAmend = true %}
{% set workHistory = applicationValue(["work-history"]) or {} %}
{% set history = workHistory | toArray | selectattr("id") | sort(attribute="start-date") %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}

  <div class="govuk-!-width-two-thirds">
    <p class="govuk-body">Include all the jobs you’ve had since you turned 18, including unpaid roles.</p>

    <p>You do not need to enter jobs you had while in full time education.</p>
  </div>

  {% include "_includes/review/work-history-2.njk" %}

  {% set buttonText = "Add another job" if history.length > 0 else "Add a job" %}
  {% set buttonClasses = "govuk-button--secondary" if history.length > 0 %}

  {{ govukButton({
    text: buttonText,
    href: "/application/" + applicationId + "/work-history-2/" + newId,
    classes: buttonClasses
    }) }}

{% if history.length >= 1 %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "work-history"])) }}

  {{ govukButton({
    text: "Return to application"
  }) }}

{% endif %}

{% endblock %}
