{% extends "layouts/main.html" %}

{% set title = "Your application" %}

<!-- TODO -->
{% set ske = true %}

{% set hasSecondary = true %}
{% set applicationPath = "/application" %}

{% set providerName = providers[acceptedChoice.providerCode].name %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ title | safe }}</h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if acceptedChoice.status == "Offer deferred" %}

        <p class="govuk-body">You’ve chosen to defer your course.</p>

      {% else %}
        <p class="govuk-body">
          You’ve accepted an offer from {{ acceptedChoice.providerName }} to study {{ acceptedChoice.course }}.
        </p>
      {% endif %}

      <p class="govuk-body">
        Your place will be confirmed once they’ve:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          received your references
        </li>
        {% if ske %}
          <li>
            confirmed you’ve completed your 20 week maths course
          </li>
        {% endif %}
        {% if acceptedChoice.conditions | length > 0 %}
          <li>
            marked your offer conditions as met
          </li>
        {% endif %}
      </ul>

      <h2 class="govuk-heading-m govuk-!-padding-top-4">References</h2>

      <p class="govuk-body">Contact {{ acceptedChoice.providerName }} if you need help getting references.</p>

      {% set referenceCondition = {} %}
        {% for condition in item.conditions %}
          {% if condition.title == 'References' %}
            {% set referenceCondition = condition %}
          {% endif %}
        {% endfor %}

          {% set references = data.references %}

          {% set referenceItems = [] %}

          {% for id, item in data.references %}
            {% if item.name %}
              {% set itemText %}
                <a href="/accepted/references/{{ item.id }}{% if item.status == "Not sent" %}/name{% endif %}">{{ item.name }}</a>

                {% if item.status == 'Requested' %}
                  {% for entry in item.log %}
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                      {{ entry.note }} on
                      {{ entry.date }}

                      {% if entry.note == 'Request sent' %}
                        –
                        {% if referenceCondition.status == 'Pending' %}
                        <a href="/accepted/references/{{ item.id }}/action/nudge">send a reminder</a> or
                        {% endif %}
                        <a href="/accepted/references/{{ item.id }}/action/cancel">cancel request</a></span>
                      {% endif %}
                    </p>
                  {% endfor %}
                {% endif %}

                {% if item.status == 'Request failed' %}
                  <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                    Email could not be sent - check email address and send again
                  </p>
                {% endif %}

              {% endset %}

              {% set referenceItems = (referenceItems.push({
                title: {
                  text: item.name
                },
                hint: {
                  html: "<div class=\"govuk-!-font-size-16\">Requested on 14 March 2023 – send a reminder or cancel request</div>"
                } if item.status == "Requested",
                href: "/accepted/references/" + id,
                status: {
                  text: (item.status or "Requested"),
                  classes: ("govuk-task-list__status--black" if item.status == "Received by training provider" else "govuk-task-list__status--blue")
                }
              }), referenceItems) %}
            {% endif %}
          {% endfor %}

        {% if references | length > 0 %}
          {{ govukTaskList({
            items: referenceItems,
            classes: "govuk-!-margin-bottom-4"
          }) }}
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-bottom-6">
          {{ govukButton({
            text: "Request another reference",
            href: "/accepted/references/add",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {% if ske %}

        <h2 class="govuk-heading-m">Subject knowledge enhancement course</h2>

        {{ govukTaskList({
          classes: "govuk-!-margin-bottom-5",
          items: [
            {
              title: {
                text: "20 week maths course"
              },
              status: {
                text: "Not completed",
                classes: "govuk-task-list__status--blue"
              }
            }
          ]
        }) }}

        <p class="govuk-body">Contact {{ acceptedChoice.providerName }} if you think you may not finish this course before your teacher training starts.</p>
        <p class="govuk-body">You should start this course by April 2023 to give yourself enough time to finish it before your teacher training starts in September 2023.</p>

        <p class="govuk-body">The course will be free and you’ll receive £175 per week.</p>

      {% endif %}
      {% if acceptedChoice.conditions | length > 0 %}
        <h2 class="govuk-heading-m">Other conditions</h2>

          <p class="govuk-body">
            {{ acceptedChoice.providerName }} will mark these conditions as met once you’ve completed them.
          </p>

          {% set taskItems = [] %}

          {% for condition in acceptedChoice.conditions %}

            {% if condition.title != 'References' %}
              {% set taskItems = (taskItems.push({
                title: {
                  text: condition.title
                },
                status: {
                  classes: "govuk-task-list__status--blue",
                  text: condition.status
                }
              }), taskItems) %}
            {% endif %}
          {% endfor %}

          {{ govukTaskList({
            classes: "govuk-!-margin-bottom-5",
            items: taskItems
          }) }}
        {% endif %}

  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body-s"><a href="/application">View application</a></p>
    <p class="govuk-body-s"><a href="#">Withdraw from the course</a></p>
  </div>
</div>

{% endblock %}
