{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Selecting a training provider</h1>

      <p class="govuk-body">You can choose which training provider to do your 20 week maths course with.</p>

      <p class="govuk-body">Most are online. Others include face to face learning or a mixture of both.</p>

      <p class="govuk-body">Contact University of Sussex if you need advice.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/subject-knowledge-enhancement-course-directory/subject-knowledge-enhancement-ske-course-directory" class="govuk-link" rel="noreferrer noopener" target="_blank">Find a training provider (opens in a new tab)</a>.</p>

      <form action="/accepted/confirm-ske-provider" method="get">
        {{ govukRadios({
          name: "skeProvider",
          fieldset: {
            legend: {
              text: "Which training provider do you want to do your course with?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              text: "AAA Eureka MBITT SKE",
              value: "AAA Eureka MBITT SKE"
            },
            {
              text: "Birmingham City University",
              value: "Birmingham City University"
            },
            {
              text: "Bradford College",
              value: "Bradford College"
            },
            {
              text: "Carmel College",
              value: "Carmel College"
            },
            {
              text: "Canterbury Christ Church University",
              value: "Canterbury Christ Church University"
            },
            {
              text: "Delta Academies Trust",
              value: "Delta Academies Trust"
            },
            {
              text: "e-Qualitas",
              value: "e-Qualitas"
            },
            {
              text: "Leicestershire Secondary SCITT",
              value: "Leicestershire Secondary SCITT"
            },
            {
              text: "Liverpool Hope University",
              value: "Liverpool Hope University"
            },
            {
              text: "Lydiate Learning Trust",
              value: "Lydiate Learning Trust"
            },
            {
              text: "North East Learning Trust",
              value: "North East Learning Trust"
            },
            {
              text: "Priory Federation of Academies",
              value: "Priory Federation of Academies"
            },
            {
              text: "Tes Institute",
              value: "Tes Institute"
            },
            {
              text: "The Polesworth School",
              value: "The Polesworth School"
            },
            {
              text: "University of Brighton",
              value: "University of Brighton"
            },
            {
              text: "University of East London",
              value: "University of East London"
            },
            {
              text: "University of Sussex",
              value: "University of Sussex"
            }
          ]
        }) }}

        {{ govukButton({text: "Select" })
        }}
      </form>
  </div>
</div>

{% endblock %}


