{% extends "_form.njk" %}

{% set parent = "Eligibility and qualifications" %}
{% if action == "edit" %}
  {% set title = "Edit degree" %}
{% else %}
  {% set title = "Add a degree" %}
{% endif %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this degree awarded by an institution based in the UK?"
      }
    },
    items: [{
      value: "domestic",
      text: "Yes",
      checked: checked("['qualifications']['" + id + "']['provenance']", "domestic")
    }, {
      value: "international",
      text: "No",
      checked: checked("['qualifications']['" + id + "']['provenance']", "international")
    }],
    idPrefix: "qualifications-" + id + "-provenance",
    name: "qualifications[" + id + "][provenance]"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + id + "][category]",
    value: "degree"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
