{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% set idTitle = "English" if (id === "english") else id %}
{% set qualTitle = "GCSE equivalent" if international else "GCSE or equivalent" %}
{% if action == "edit" %}
  {% set title = "Edit " + idTitle + " " + qualTitle %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add " + idTitle + " " + qualTitle %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
{% if international == true %}
<p class="govuk-body-l">If you studied for this qualification outside the UK, you will need to check that it is valid here.</p>
<p class="govuk-body">Enter the details of your qualification as they appear on your certificate, translating them into English if necessary.</p>
<h3 class="govuk-heading-s">Before you submit your application</h3>
<p class="govuk-body">Contact your chosen training provider to check their policy on non-UK qualifications. They may ask you to sit ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE) and recommend an equivalency testing centre.</p>
<p class="govuk-body">Consider registering at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA can tell you if your qualifications make you eligible for teacher training and how they corresponds to UK qualifications.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endif %}

{% if id == "science" and international != true %}
  <p class="govuk-body">To be eligible to teach at primary level, you need one science GCSE at a minimum of grade 4 in any subject (for example, Chemistry, Physics, Biology or Double Award Science).</p>
  <p class="govuk-body">If you have more than one science GCSE, choose one of your highest graded to enter here and add the rest in the ‘Other relevant qualifications’ section.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endif %}

{% if international == true %}
  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    id: "qualifications-" + id + "-type",
    name: "qualifications[" + id + "][type]",
    value: data["qualifications"][id]["type"]
  }) }}
{% else %}
  {% set otherTypeHtml %}
    {{ govukInput({
      label: {
        text: "Please specify type of qualification"
      },
      id: "qualifications-" + id + "-type-other",
      name: "qualifications[" + id + "][type-other]",
      value: data["qualifications"][id]["type-other"]
    }) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of qualification",
        classes: "govuk-label--s"
      }
    },
    idPrefix: "qualifications-" + id + "-type",
    name: "qualifications[" + id + "][type]",
    items: [{
      value: "GCSE",
      text: "GCSE",
      checked: checked("['qualifications']['" + id + "']['type']", "GCSE")
    }, {
      value: "GCE O Level",
      text: "GCE O Level",
      checked: checked("['qualifications']['" + id + "']['type']", "GCE O Level")
    }, {
      value: "Scottish Higher",
      text: "Scottish Higher",
      checked: checked("['qualifications']['" + id + "']['type']", "Scottish Higher")
    }, {
      value: "Other",
      text: "Other",
      checked: checked("['qualifications']['" + id + "']['type']", "Other"),
      conditional: {
        html: otherTypeHtml
      }
    }]
  }) }}
{% endif %}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4",
    id: "qualifications-" + id + "-grade",
    name: "qualifications[" + id + "][grade]",
    value: data["qualifications"][id]["grade"]
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4",
    id: "qualifications-" + id + "-year",
    name: "qualifications[" + id + "][year]",
    value: data["qualifications"][id]["year"]
  }) }}

{% if international == true %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?",
      classes: "govuk-label--s"
    },
    id: "qualifications-" + id + "-country",
    name: "qualifications[" + id + "][country]",
    value: data["qualifications"][id]["country"],
    items: countries
  }) }}
{% else %}
  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + id + "][country]",
    value: "United Kingdom"
  }) }}
{% endif %}

{% if international == true %}
  {{ govukInput({
    label: {
      text: "Awarding organisation?",
      classes: "govuk-label--s"
    },
    id: "qualifications-" + id + "-award-org",
    name: "qualifications[" + id + "][award-org]",
    value: data["qualifications"][id]["award-org"]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% set validateNaricHtml %}
    {{ govukInput({
      label: {
        text: "What UK qualification is your qualification comparable to?"
      },
      id: "qualifications-" + id + "-naric-details",
      name: "qualifications[" + id + "][naric-details]",
      value: data["qualifications"][id]["naric-details"]
    }) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      html: "<a href=\"https://www.naric.org.uk/naric/Default.aspx/\">UK NARIC</a> gives advice on non-UK academic, vocational and professional qualifications. If you have applied to UK NARIC for a <a href=\"https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx/\">statement of comparability</a>, give details here."
    },
    idPrefix: "qualifications-" + id + "-naric",
    name: "qualifications[" + id + "][naric]",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("['qualifications']['" + id + "']['naric']", "yes"),
      conditional: {
        html: validateNaricHtml
      }
    }, {
      value: "no",
      text: "No",
      checked: checked("['qualifications']['" + id + "']['naric']", "no")
    }]
  }) }}
{% endif %}

  {# Override ‘missing’ subject #}
  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + id + "][missing]",
    value: ""
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}

{% if international == true %}
{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["qualifications"][id]["country"] }}',
      selectElement: document.querySelector('#qualifications-{{ id }}-country')
    })
  </script>
{% endblock %}
{% endif %}
