{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% set idTitle = "English" if (id === "english") else id %}
{% if action == "edit" %}
  {% set title = "Edit " + idTitle + " GCSE or equivalent" %}
{% else %}
  {% set title = "Add " + idTitle + " GCSE or equivalent" %}
{% endif %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this qualification awarded by an institution based in the UK?"
      }
    },
    idPrefix: "qualifications-" + id + "-provenance",
    name: "qualifications[" + id + "][provenance]",
    items: [{
      value: "domestic",
      text: "Yes",
      checked: checked("['qualifications']['" + id + "']['provenance']", "domestic")
    }, {
      value: "international",
      text: "No",
      checked: checked("['qualifications']['" + id + "']['provenance']", "international")
    }, {
      value: "missing",
      text: "I don’t have this qualification yet",
      checked: checked("['qualifications']['" + id + "']['provenance']", "missing")
    }]
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + id + "][category]",
    value: "gcse"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + id + "][subject]",
    value: (id | capitalize)
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
