{% extends "_content.njk" %}

{% set title = "Academic qualifications" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">To be eligible for teacher training, you need a:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>UK degree (or non-UK equivalent)</li>
    <li>GCSE in maths, grade 4 (previously grade C)</li>
    <li>GCSE in English, grade 4 (previously grade C)</li>
    <li>To teach at primary school, you also need a minimum grade 4 GCSE in science.</li>
  </ul>
  <p class="govuk-body">You can learn more about eligibility at <a href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training">Get into Teaching</a>.</p>

  {{ govukButton({
    text: "Continue" ,
    href: "/profile/qualifications/degree"
  }) }}
{% endblock %}
