{% extends "_content.njk" %}

{% set title = "Academic qualifications" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Enter your qualifications as completely as you can, including GCSEs, A levels and other postgraduate degrees. You’ll be asked to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>confirm your basic eligibility for teacher training</li>
    <li>give details of your other academic, vocational, practical and creative qualifications</li>
  </ul>
  <p class="govuk-body">Providers use this information to build a picture of your academic strengths and the broader contribution you’ll make to the school.</p>

  {{ govukButton({
    text: "Continue" ,
    href: "/profile/qualifications/add/degree"
  }) }}
{% endblock %}
