{% extends "_form.njk" %}

{% set title = "Academic qualifications" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% set category = "degree" %}
  {% set categoryTitle = "Degree(s)" %}
  {% include "_includes/review-qualifications.njk" %}
  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/degree/add"
  }) }}

  {% set category = "gcse" %}
  {% set categoryTitle = "Required subjects" %}
  {% include "_includes/review-qualifications.njk" %}

{% if data["branch"]["other-qualifications"] %}
  {% set category = "other" %}
  {% set categoryTitle = "Other relevant qualifications" %}
  {% include "_includes/review-qualifications.njk" %}
  {{ govukButton({
    html: "Add another qualification",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/other/add"
  }) }}
{% else %}
  <h2 class="govuk-heading-m">Other relevant qualifications</h2>
  <p class="govuk-body">Enter your remaining GCSEs, A levels, and any practical, vocational or arts-based qualifications. Providers use this information to assess your academic ability and the broader contribution you can make to a school.</p>
  {{ govukButton({
    html: "Add qualification",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/other/add"
  }) }}
{% endif %}

  {{ govukCharacterCount({
    label: {
      text: "Is there anything you’d like to tell us about your qualifications?",
      classes: "govuk-label--m"
    },
    maxwords: 600,
    rows: 12,
    id: "subject-knowledge-additional",
    name: "subject-knowledge-additional",
    value: data["subject-knowledge-additional"]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
