{% extends "_form-wide.njk" %}

{% set title = "Academic qualifications" %}
{% set categoryCaptionSize = "m" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: profileBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% set referrer = "/profile/qualifications/review" %}
  {% set category = "degree" %}
  {% set categoryTitle = "Degree(s)" %}
  {% include "_includes/review-qualifications.njk" %}
  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/add/degree"
  }) }}

  {% set category = "gcse" %}
  {% set categoryTitle = "Required subjects" %}
  {% include "_includes/review-qualifications.njk" %}

{% if data["settings"]["has-other-qualifications"] %}
  {% set category = "other" %}
  {% set categoryTitle = "Other relevant qualifications" %}
  {% include "_includes/review-qualifications.njk" %}
  {{ govukButton({
    text: "Add another qualification",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/add/other"
  }) }}
{% else %}
  <h2 class="govuk-heading-m">Other relevant qualifications</h2>
  <p class="govuk-body">Enter your remaining GCSEs, A levels, and any practical, vocational or arts-based qualifications.</p>
  {{ govukButton({
    text: "Add qualification",
    classes: "govuk-button--secondary",
    href: "/profile/qualifications/add/other"
  }) }}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukCharacterCount({
        label: {
          text: "Is there anything you’d like to tell us about your qualifications (optional)?",
          classes: "govuk-label--m"
        },
        hint: {
          html: "Tell us about any special circumstances related to your qualifications here. For example, you can explain how you plan to fill any gaps in your eligibility requirements or validate non-UK qualifications. For advice on missing qualifications, contact your chosen training provider or <a href=\"https://getintoteaching.education.gov.uk/get-help-and-support/\">Get into Teaching</a>."
        },
        maxwords: 200,
        rows: 12,
        id: "qualifications-additional",
        name: "qualifications[additional]",
        value: data["qualifications"]["additional"]
      }) }}
    </div>
  </div>

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
