{% extends "_form.njk" %}

{% set parent = "Eligibility and qualifications" %}
{% if action == "edit" %}
  {% set formAction = "/profile/qualifications/subject-answer/" + action + "/" + subject %}
  {% set title = "Edit " + subject + " GCSE or equivalent" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add " + subject + " GCSE or equivalent" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
{% set missingGCSE %}
  <p class="govuk-body">You can still apply for teacher training if you are missing a maths, English or science (for primary) GCSE at the right grade. But you should:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>contact your training provider for advice about getting the right qualification in time for your course</li>
    <li>ask if your provider accepts ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE), and where they recommend you sit the test</li>
  </ul>
  <p class="govuk-body">You can also visit the <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">National Careers Service</a> to find GCSE courses for people who are over 16 and have left school.</p>

  {{ govukInput({
    label: {
      text: "Please explain how you plan to meet this requirement in time for the start of your course",
      classes: "govuk-label--s"
    },
    id: "qualifications-" + subject + "-missing",
    name: "qualifications[" + subject + "][missing]",
    value: data["qualifications"][subject]["missing"]
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this qualification awarded by an institution based in the UK?"
      }
    },
    items: [{
      value: "domestic",
      text: "Yes",
      checked: checked("['branch']['" + subject + "']", "domestic")
    }, {
      value: "international",
      text: "No",
      checked: checked("['branch']['" + subject + "']", "international")
    }, {
      value: "missing",
      text: "I don’t have this qualification yet",
      checked: checked("['branch']['" + subject + "']", "missing"),
      conditional: {
        html: missingGCSE
      }
    }],
    idPrefix: "branch-" + subject,
    name: "branch[" + subject + "]"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + subject + "][category]",
    value: "subject"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "qualifications[" + subject + "][subject]",
    value: subject | capitalize
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
