// Custom component and modifiers
@import "components/grid";
@import "components/hidden-link";
@import "components/inset-text";
@import "components/section";
@import "components/phase-banner";
@import "components/header";
@import "components/secondary-nav";
@import "components/primary-navigation";

.govuk-body {
  word-wrap: break-word;
}

// Override GOV.UK Frontend print styles
@media print {
  .govuk-template {
    background-color: transparent;
  }

  .govuk-width-container {
    max-width: 95%;
  }

  .govuk-breadcrumbs,
  .govuk-button,
  .govuk-back-link,
  .govuk-footer,
  .govuk-header__menu-button,
  .govuk-header__navigation,
  .govuk-phase-banner,
  .govuk-summary-list__actions {
    display: none !important;
  }
}

// Add another nationality
.app-add-another-nationality {
  margin-bottom: govuk-spacing(4);
}

.app-add-another-nationality__remove {
  @include govuk-font($size: 19);
  display: block;
  padding: govuk-spacing(2) 0;
}

.app-button--link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  color: $govuk-link-colour;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: govuk-spacing(2) 0;
  margin: 0;
}

.app-button--link:active {
  top: 0;
}

.app-button--link:hover {
  background: transparent;
}


.app-feedback {
  line-height: 38px;
}

.app-feedback .govuk-button {
  margin-bottom: 0;
}

.app-\!-colour-secondary {
  color:  $govuk-secondary-text-colour;
}


.app-\!-background-grey {
  background-color: govuk-colour("light-grey");
}
