// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Components that aren't in Frontend
@import "components/autocomplete";
@import "components/cookie-banner";
@import "components/related";
@import "components/table";
@import "components/task-list";

// Temporary component overrides
// TODO: Move into dedicated app styles if required
#review.govuk-accordion {
  .govuk-accordion__section-content {
    padding-top: govuk-spacing(0) !important;
    padding-bottom: govuk-spacing(6) !important;
  }

  .govuk-accordion__section-content .govuk-summary-list__row:last-child > *,
  .govuk-table__row:last-child .govuk-table__header,
  .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: 0;
  }
}

// Align table and summary list action links with accordian controls
.govuk-table__header:last-child,
.govuk-table__cell:last-child,
.govuk-summary-list__actions {
  left: govuk-spacing(2);
  padding-right: govuk-spacing(2);
}

// Align table cell content to top of row
.govuk-table__cell {
  vertical-align: top;
}
