{% extends "_form.njk" %}

{% set formaction = referrer or "/application/" + applicationId + "/interview/review" %}
{% set title = "Interview preferences" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  <p class="govuk-body">Your interview will usually take place over the course of a day and you will need to attend in person. Please give details of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>any disability, health or personal issue you feel is relevant</li>
    <li>special arrangements or assistance you may need</li>
    <li>dates you are unavailable for interview</li>
  </ul>

  {{ govukCharacterCount({
    label: {
      text: "Interview preferences",
      classes: "govuk-label--m"
    },
    maxwords: 150,
    threshold: 75,
    rows: 6
  } | decorateApplicationAttributes(["interview"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
