{% extends "_form.njk" %}
{% set title = "Interview preferences" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: "/application/" + applicationId, text: 'Back to application' }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Is there anything your training provider should consider when scheduling an interview?</p>
  <p class="govuk-body">Your interview will usually take place over the course of a day and you will need to attend in person. Please give details of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>dates you are unavailable for interview</li>
    <li>any disability, special need or other health or personal issue you feel is relevant</li>
  </ul>

  {{ govukCharacterCount({
    label: {
      text: "Enter details relevant to your interview arrangements",
      classes: "govuk-label--m govuk-!-margin-top-6"
    },
    maxwords: 150
  } | decorateApplicationAttributes(["interview"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
