{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/interview/review" %}
{% set title = "Interview preferences" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-interview.njk" %}
  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
