{% extends "_form.njk" %}

{% set formaction = referrer or "/application/" + applicationId + "/personal-details/review" %}
{% set title = "How well do you speak English?" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set professionalHtml %}
    {{ govukCharacterCount({
      label: {
        html: "Give details"
      },
      hint: {
        text: "For example, ‘I’ve done a secure English language test (SELT) and I’m the equivalent of a level B2’"
      },
      maxwords: 200,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "english-proficiency-professional"])) }}
  {% endset -%}

  {% set fluentHtml %}
    {{ govukCharacterCount({
      label: {
        html: "Give details"
      },
      hint: {
        text: "For example, ‘I’m bilingual’ or ‘I’ve done a secure English language test (SELT) and I’m the equivalent of a level C2’"
      },
      maxwords: 200,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "english-proficiency-fluent"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "I know a few words or phrases",
      conditional: {
        html: "<p class=\"govuk-body\">Consider improving your level of English before applying.</p>"
      }
    }, {
      text: "I can have casual conversations",
      conditional: {
        html: "<p class=\"govuk-body\">If you’re unsure if your level is sufficient, ask your training provider for advice.</p>"
      }
    }, {
      text: "I can participate in any conversation easily",
      conditional: {
        html: professionalHtml
      }
    }, {
      text: "I’m completely fluent",
      conditional: {
        html: fluentHtml
      }
    }]
  } | decorateApplicationAttributes(["candidate", "english-proficiency"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
