{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit personal details" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Personal details" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--m"
    },
    autocomplete: "name"
  } | decorateApplicationAttributes(['candidate', 'name'])) }}

  {{ appAutocomplete({
    label: {
      text: "Nationality",
      classes: "govuk-label--m"
    },
    items: nationalities
  } | decorateApplicationAttributes(['candidate', 'nationality'])) }}

  {% set anotherNationality %}
    {{ appAutocomplete({
      label: {
        text: "Second nationality"
      },
      items: nationalities
    } | decorateApplicationAttributes(['candidate', 'second-nationality'])) }}
  {% endset -%}

  {{ govukDetails({
    summaryText: "Add another nationality",
    html: anotherNationality,
    open: ['candidate', 'second-nationality'] | ifSetForApplication
  }) }}

  {% set englishDetailHtml %}
    {{ govukCharacterCount({
      label: {
        text: "If you are bilingual or very familiar with languages other than English, you can tell us about them here."
      },
      maxwords: 200
    } | decorateApplicationAttributes(['language-skills', 'english'])) }}
  {% endset -%}
  {% set otherDetailHtml %}
    {{ govukCharacterCount({
      label: {
        text: "Please tell us about your English language qualifications (including grades or scores), and give details of other languages you are fluent in."
      },
      maxwords: 200
    } | decorateApplicationAttributes(['language-skills', 'other'])) }}
  {% endset -%}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Is English your main language?",
          classes: "govuk-label--m"
        }
      },
      items: [{
        text: "Yes",
        conditional: {
          html: englishDetailHtml
        }
      }, {
        text: "No",
        conditional: {
          html: otherDetailHtml
        }
      }]
    } | decorateApplicationAttributes(['language-skills', 'main'])) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data.applications[applicationId]["candidate"]["nationality"] }}',
      selectElement: document.querySelector('#candidate-nationality')
    })
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data.applications[applicationId]["candidate"]["second-nationality"] }}',
      selectElement: document.querySelector('#candidate-second-nationality')
    })
  </script>
{% endblock %}
