{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit personal details" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Personal details" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
{% set dualNationality %}
  {{ appAutocomplete({
    label: {
      text: "What is your second nationality?",
      classes: "govuk-label--s"
    },
    id: "candidate-second-nationality",
    name: "candidate[second-nationality]",
    value: data["candidate"]["second-nationality"],
    items: nationalities
  }) }}
{% endset -%}

  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--s"
    },
    autocomplete: "name",
    id: "candidate-name",
    name: "candidate[name]",
    value: data["candidate"]["name"]
  }) }}

  {# {{ govukInput({
    label: {
      text: "Name you prefer to be addressed by (optional)",
      classes: "govuk-label--s"
    },
    id: "candidate-optional-name",
    name: "candidate[optional-name]",
    value: data["candidate"]["optional-name"]
  }) }} #}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of birth",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 31 3 1980"
    },
    id: "candidate-date-of-birth",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      name: "candidate[date-of-birth][day]",
      value: data["candidate"]["date-of-birth"]["day"],
      autocomplete: "bday-day"
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      name: "candidate[date-of-birth][month]",
      value: data["candidate"]["date-of-birth"]["month"],
      autocomplete: "bday-month"
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "candidate[date-of-birth][year]",
      value: data["candidate"]["date-of-birth"]["year"],
      autocomplete: "bday-year"
    }]
  }) }}

  {{ appAutocomplete({
    label: {
      text: "What is your nationality?",
      classes: "govuk-label--s"
    },
    id: "candidate-nationality",
    name: "candidate[nationality]",
    value: data["candidate"]["nationality"],
    items: nationalities
  }) }}

  {{ govukDetails({
    summaryText: "Add another nationality",
    html: dualNationality,
    open: data["candidate"]["second-nationality"]
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["candidate"]["nationality"] }}',
      selectElement: document.querySelector('#candidate-nationality')
    })
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["candidate"]["second-nationality"] }}',
      selectElement: document.querySelector('#candidate-second-nationality')
    })
  </script>
{% endblock %}
