{% extends "_form.njk" %}

{% set formaction = "/application/" + applicationId + "/personal-details/nationality-answer" %}
{% set title = "What is your nationality?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-details/")
  }) }}
{% endblock %}

{% block primary %}
  {% set otherHtml %}
    <div class="app-add-another-nationality">
      {{ appAutocomplete({
        label: {
          text: "Nationality",
          attributes: {
            "aria-label": "1st nationality"
          }
        },
        items: nationalities
      } | decorateApplicationAttributes(["candidate", "other-nationality-1"])) }}
      {# {{ govukButton({
        html: "Remove <span class=\"govuk-visually-hidden\">1st nationality</span>",
        classes: "app-button--link"
      }) }} #}
    </div>
    {# <div class="app-add-another-nationality">
      {{ appAutocomplete({
        label: {
          text: "Nationality"
        },
        attributes: {
          "aria-label": "2nd nationality"
        },
        items: nationalities
      } | decorateApplicationAttributes(["candidate", "other-nationality-2"])) }}
      {{ govukButton({
        html: "Remove <span class=\"govuk-visually-hidden\">2nd nationality</span>",
        classes: "app-button--link"
      }) }}
    </div>
    <div class="app-add-another-nationality">
      {{ appAutocomplete({
        label: {
          text: "Nationality"
        },
        attributes: {
          "aria-label": "3rd nationality"
        },
        items: nationalities
      } | decorateApplicationAttributes(["candidate", "other-nationality-3"])) }}
      {{ govukButton({
        html: "Remove <span class=\"govuk-visually-hidden\">3rd nationality</span>",
        classes: "app-button--link"
      }) }}
    </div>#}
    {{ govukButton({
      text: "Add another nationality",
      classes: "govuk-button--secondary"
    }) }}
  {% endset -%}

  {{ govukCheckboxes({
    fieldset: {
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [{
      text: "British"
    }, {
      text: "Irish"
    }, {
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }]
  } | decorateApplicationAttributes(["candidate", "nationality"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#candidate-other-nationality-1'),
      defaultValue: '{{ applicationValue(["candidate", "other-nationality-1"]) }}'
    })
    {# accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#candidate-other-nationality-2'),
      defaultValue: '{{ applicationValue(["candidate", "other-nationality-2"]) }}'
    })
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#candidate-other-nationality-3'),
      defaultValue: '{{ applicationValue(["candidate", "other-nationality-3"]) }}'
    }) #}
  </script>
{% endblock %}
