{% extends "_form.njk" %}

{% set formaction = referrer or "/application/" + applicationId + "/personal-details/review" %}
{% set title = "Your right to work or study in the UK" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-details/nationality/")
  }) }}
{% endblock %}

{% block primary %}

<p class="govuk-body">To get help with student visas and your immigration status, speak to a <a href="https://beta-adviser-getintoteaching.education.gov.uk/">Get Into Teaching</a> adviser.</p>
<p class="govuk-body">Universities providing initial teacher training can usually sponsor student visas for courses without a salary.</p>
<p class="govuk-body">State funded schools, including those that are School Centred Initial Teacher Training (SCITT) providers, cannot sponsor student visas for courses without a salary.</p>
<p class="govuk-body"><a href="https://www.gov.uk/government/publications/register-of-licensed-sponsors-students">Check if a provider has a student visa sponsor licence</a>.</p>
<p class="govuk-body">You may be eligible for another type of visa that does not need your training provider to act as sponsor.</p>
<p class="govuk-body"><a href="https://beta-getintoteaching.education.gov.uk/international-candidates">Find out about student visas, visa routes that do not need a sponsor and visa options for trainees on courses with a salary</a>.</p>

  {% set rightToWorkStudy %}
    {{ govukCharacterCount({
      label: {
        html: "What is your immigration status?"
      },
      hint: {
        text: "For example, “I have settled status” or “I have permanent residence”."
      },
      maxwords: 200,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "residency-right-to-work"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you already have the right to work or study in the UK?",
        classes: "govuk-label--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      value: "I have the right to work or study in the UK",
      text: "Yes",
      conditional: {
        html: rightToWorkStudy
      }
    }, {
      value: "I will need to apply for permission to work or study in the UK",
      text: "Not yet, or not sure"
    }]
  } | decorateApplicationAttributes(["candidate", "residency"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
