{% extends "layouts/main.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "Have you completed your degree?" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + "/degree/" + id + "/completed" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block content %}
  {{ govukRadios({
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "No",
      text: "No, I am studying for my degree"
    }]
  } | decorateApplicationAttributes(["degree", id, "completed"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
