{% extends "_layout.html" %}

{% set formaction = "/application/" + applicationId + "/degree/" + id + "/country" %}
{% set degreeCount = applicationValue(["degree"]) | length %}

{% set title = "Which country was the degree from?" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer })
    }}
  {% else %}
    {{ govukBackLink({
      href: referrer or ("/application/" + applicationId + "/degree/review"),
      text: "Back"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">

        {% set ukConditionalHtml %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="degree-{{ id }}-typeUk">Enter degree type</label>
            <span id="degree-{{ id }}-typeUk-hint" class="govuk-hint">{{ ukHintText }}</span>
            <div id="type-uk-autocomplete-container"></div>
          </div>
        {% endset %}

        {% set countryHtml %}
          {{ appAutocomplete({
            label: {
              text: "Country",
              classes: "govuk-label--s"
            },
            items: countries
          } | decorateApplicationAttributes(["degree", id, "country"])) }}
        {% endset %}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: title,
              classes: "govuk-fieldset__legend--l",
              isPageTitle: true
            }
          },
          items: [{
            value: "domestic",
            text: "United Kingdom"
          }, {
            value: "international",
            text: "Another country",
            conditional: {
              html: countryHtml
            }
          }]
        } | decorateApplicationAttributes(["degree", id, "provenance"])) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
     selectElement: document.querySelector('#degree-{{ id }}-country'),
     defaultValue: '{{ applicationValue(["degree", id, "country"]) }}'
    })
  </script>
{% endblock %}
