{% extends "layouts/main.html" %}

{% set title = "Are you sure you want to delete this degree?" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/odegree/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/application/degree/{{ id }}/delete" method="post">
        {{ govukButton({
          text: "Yes I’m sure - delete this degree",
          classes: "govuk-button--warning"
        }) }}
      </form>
      <p class="govuk-body"><a href="{{ referrer }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
