{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "How your degree compares to a UK degree" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application"
  }) }}
{% endblock %}

{% block content %}
  <p class="govuk-body">You can get a statement from UK ENIC (the UK agency for international qualifications and skills) which shows how your qualifications compare to UK qualifications. Not all providers need this.</p>

  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "UK ENIC reference number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example ‘4000228363’"
      },
      classes: "govuk-input--width-20"
    }) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select the comparable UK degree",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "As shown on your statement"
      },
      items: [{
        text: "Bachelor (Ordinary) degree"
      }, {
        text: "Bachelor (Honours) degree"
      }, {
        text: "Postgraduate Certificate / Postgraduate Diploma"
      }, {
        text: "Master’s degree / Integrated Master’s degree"
      }, {
        text: "Doctor of Philosophy degree"
      } if degreeCount > 1, {
        text: "Post Doctoral award"
      } if degreeCount > 1]
    }) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body">Ask your training provider if they need a UK ENIC statement of comparability. You can get a free statement (this usually costs £49.50 plus VAT) by calling Get Into Teaching on Freephone 0800 389 2501.</p>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have a statement of comparability from UK ENIC (the UK agency for international qualifications and skills)?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
