{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}
{% set undergraduateDegree = applicationValue(["degree", id, "type-uk"]) | isUndergraduateDegree %}
{% set title = "What grade is your degree?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set predictedGradeHtml %}
    {{ govukInput({
      label: {
        text: "Please give details of your predicted grade"
      },
      hint: {
        text: "Predicted grades must be validated by an academic referee in the ‘References' section."
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["degree", id, "grade-predicted"])) }}
  {% endset %}

  {% set otherGradeHtml %}
    {{ govukInput({
      label: {
        text: "Enter your degree grade"
      },
      hint: {
        text: "For example, A, 4.5, 94%, Distinction"
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["degree", id, "grade-other"])) }}
  {% endset %}

  {% set otherUkGradeHtml %}
    <div class="govuk-form-group">
      <label class="govuk-label" for="degree-{{ id }}-grade-other">Enter your degree grade</label>
      <div id="grade-autocomplete-container" class="govuk-input--width-20"></div>
    </div>
  {% endset %}

  {{ govukRadios({
    items: [{
      value: "First-class honours",
      text: "First-class honours"
    } if not international, {
      value: "Upper second-class honours (2:1)",
      text: "Upper second-class honours (2:1)"
    } if not international, {
      value: "Lower second-class honours (2:2)",
      text: "Lower second-class honours (2:2)"
    } if not international, {
      value: "Third-class honours",
      text: "Third-class honours"
    } if not international, {
      text: "Distinction"
    } if not (undergraduateDegree or international), {
      text: "Merit"
    } if not (undergraduateDegree or international), {
      text: "Pass"
    } if not international, {
      text: "Not applicable"
    } if not undergraduateDegree, {
      text: "Unknown"
    } if not undergraduateDegree, {
      text: "Other",
      conditional: {
        html: otherGradeHtml if international else otherUkGradeHtml
      }
    }, {
      divider: "or"
    }, {
      value: "Pending",
      text: "I’m still studying for my degree",
      conditional: {
        html: predictedGradeHtml
      }
    }]
  } | decorateApplicationAttributes(["degree", id, "grade"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% if not international %}
  {% block pageScripts %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        element: document.querySelector('#grade-autocomplete-container'),
        id: 'degree-{{ id }}-grade-other',
        name: "applications[{{ applicationId }}][degree][{{ id }}][grade-other]",
        defaultValue: '{{ applicationValue(["degree", id, "grade-other"]) }}',
        placeholder: false,
        source: [
          'Aegrotat',
          'Fourth-class honours',
          'General degree',
          'Ordinary degree',
          'Unclassified'
        ]
      })
    </script>
  {% endblock %}
{% endif %}
