{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% if applicationValue(["degree", id, "provenance"]) == "international" %}
  {% set international = true %}
  {% set title = "Have you completed your degree?" %}
{% else %}
  {% set title = "What class is your degree?" %}
{% endif %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set predictedGradeHtml %}
    {{ govukInput({
      label: {
        text: "Please give details of your predicted grade."
      },
      hint: {
        text: "Predicted grades must be validated by an academic referee in the ‘References' section."
      },
      classes: "govuk-input--width-10"
    } | decorateApplicationAttributes(["degree", id, "grade-predicted"])) }}
  {% endset %}

  {% set otherGradeHtml %}
    {{ govukInput({
      label: {
        text: "Enter your degree grade"
      },
      classes: "govuk-input--width-10"
    } | decorateApplicationAttributes(["degree", id, "grade-other"])) }}
  {% endset %}

  {% if international == true %}
    {{ govukRadios({
      items: [{
        text: "Yes",
        conditional: {
          html: otherGradeHtml
        }
      }, {
        divider: "or"
      }, {
        value: "Pending",
        text: "I am still studying for my degree",
        conditional: {
          html: predictedGradeHtml
        }
      }]
    } | decorateApplicationAttributes(["degree", id, "grade"])) }}
  {% else %}
    {{ govukRadios({
      items: [{
        text: "First"
      }, {
        text: "Upper second (2:1)"
      }, {
        text: "Lower second (2:2)"
      }, {
        text: "Third"
      }, {
        text: "Other",
        conditional: {
          html: otherGradeHtml
        }
      }, {
        divider: "or"
      }, {
        value: "Pending",
        text: "I am still studying for my degree",
        conditional: {
          html: predictedGradeHtml
        }
      }]
    } | decorateApplicationAttributes(["degree", id, "grade"])) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
