{% extends "_form-question.njk" %}

{% set applicationPath = "/application/" + applicationId %}

{% set title = "What year will you graduate?" if applicationValue(["degree", id, "grade"]) == "Pending" else "What year did you graduate?" %}
{% set allowsFeedback = true %}

{% set graduatingYearExample = "2002" %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% if applicationValue(["degree", id, "grade"]) == "Pending" and degreeCount <= 1 %}
  {% set pendingFirstDegree = true %}
  {% set graduatingYearExample = "2020" %}
{% endif %}
{% set startYearExample = graduatingYearExample - 3 %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or ("/application/" + applicationId + "/degree/" + id + "/start-year")
  }) }}
{% endblock %}

{% block primary %}

  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--l"
    },
    hint: {
      text: "For example, " + graduatingYearExample
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "yearEnd"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
