{% extends "_form-question.njk" %}

{% set formaction = "/application/" + applicationId + "/degree/" + id + "/graduation-year" %}

{% set applicationPath = "/application/" + applicationId %}

{% set title = "What year will you graduate?" if applicationValue(["degree", id, "completed"]) == "No" else "What year did you graduate?" %}
{% set graduatingYearExample = "2022" if applicationValue(["degree", id, "completed"]) == "No" else "2019" %}

{% set allowsFeedback = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or ("/application/" + applicationId + "/degree/" + id + "/start-year")
  }) }}
{% endblock %}

{% block primary %}

  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--l"
    },
    hint: {
      text: "For example, " + graduatingYearExample
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "yearEnd"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
