{% extends "_form.njk" %}

{% set action = "edit" if applicationValue(["degree", id, "type"]) else "add" %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% if degreeCount >= 1 and action == "add" %}
  {% set title = (action | capitalize) + " another degree" %}
  {% set degreeTypes = degree.types.all %}
{% else %}
  {% set title = (action | capitalize) + " undergraduate degree" %}
  {% set degreeTypes = degree.types.undergraduate %}
{% endif %}

{% if degreeCount < 1 and action == "add" %}
  {% set typeHintText = "For example, BA, BSc or other (please specify)" %}
{% else %}
  {% set typeHintText = "For example, BA, BSc, Masters, PhD, or other (please specify)" %}
{% endif %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer })
    }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if degreeCount < 1 %}
    <p class="govuk-body">You need an undergraduate degree to apply for teacher training. If you have further degrees, you can add them after.</p>
  {% endif %}

  {% if data.flags.international_qualifications %}
    {% set ukConditionalHtml %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="degree-{{ id }}-type-uk">Enter degree type</label>
        <span id="degree-{{ id }}-type-uk-hint" class="govuk-hint">
          {{ typeHintText }}
        </span>
        <div id="type-uk-autocomplete-container"></div>
      </div>
    {% endset %}

    {% set internationalConditionalHtml %}
      {{ govukInput({
        label: {
          text: "Type of qualification"
        },
        hint: {
          text: typeHintText
        }
      } | decorateApplicationAttributes(["degree", id, "type-nonuk"])) }}

      {{ appAutocomplete({
        label: {
          text: "In which country is your institution based?"
        },
        items: countries
      } | decorateApplicationAttributes(["degree", id, "country"])) }}
    {% endset %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "What type of degree do you want to add?",
          classes: "govuk-label--m"
        }
      },
      items: [{
        value: "domestic",
        text: "UK degree",
        conditional: {
          html: ukConditionalHtml
        }
      }, {
        value: "international",
        text: "Non-UK degree",
        conditional: {
          html: internationalConditionalHtml
        }
      }]
    } | decorateApplicationAttributes(["degree", id, "provenance"])) }}
  {% else %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="degree-{{ id }}-type-uk">What type of degree do you want to add?</label>
      <span id="degree-{{ id }}-type-uk-hint" class="govuk-hint">{{ typeHintText }}</span>
      <div id="type-uk-autocomplete-container"></div>
    </div>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
  {% if data.flags.international_qualifications %}
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#degree-{{ id }}-country'),
      defaultValue: '{{ applicationValue(["degree", id, "country"]) }}'
    })
  {% endif %}
    function inputTemplate (result) {
      if (result) {
        const name = result.split(' - ')

        if (name[1]) {
          return name[0] && name[0]
        }

        return result && result
      }

      return result && result
    }

    function suggestionTemplate (result) {
      const name = result.split(' - ')

      if (name[1]) {
        return name[0] && `<strong>${name[0]}</strong> <span class="autocomplete__option--hint">${name[1]}</span>`
      }

      return result && `<strong>${result}</strong>`
    }

    accessibleAutocomplete({
      element: document.querySelector('#type-uk-autocomplete-container'),
      id: 'degree-{{ id }}-type-uk',
      name: "applications[{{ applicationId }}][degree][{{ id }}][type-uk]",
      defaultValue: '{{ applicationValue(["degree", id, "type-uk"]) }}',
      placeholder: false,
      source: [
        {% for item in degreeTypes %}"{{ item.text }}",{% endfor %}
      ],
      templates: {
        inputValue: inputTemplate,
        suggestion: suggestionTemplate
      }
    })
  </script>
{% endblock %}
