{% extends "_form.njk" %}

{% set action = "edit" if applicationValue(["degree", id, "type"]) else "add" %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% if degreeCount >= 1 and action == "add" %}
  {% set title = (action | capitalize) + " another degree" %}
{% else %}
  {% set title = (action | capitalize) + " undergraduate degree" %}
{% endif %}

{% if degreeCount >= 1 and action == "add" %}
  {% set hintText = "For example, Masters, PhD, or other (please specify)" %}
{% elif degreeCount < 1 and action == "add" %}
  {% set hintText = "For example, BA, BSc or other (please specify)" %}
{% else %}
  {% set hintText = "For example, BA, BSc, Masters, PhD, or other (please specify)" %}
{% endif %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer })
    }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if degreeCount < 1 %}
    <p class="govuk-body">Your undergraduate degree confirms your eligibility to teach. Enter the details of your degree as they appear on your certificate, translating them into English if necessary.</p>
    <p class="govuk-body">If you have further postgraduate degrees, you’ll be able to add them next.</p>
  {% endif %}

  {{ govukInput({
    label: {
      text: "Type of degree",
      classes: "govuk-label--m"
    },
    hint: {
      text: hintText
    }
  } | decorateApplicationAttributes(["degree", id, "type"])) }}

  {{ govukInput({
    label: {
      text: "Subject of degree",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["degree", id, "subject"])) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["degree", id, "institution"])) }}

  {% set internationalConditionalHtml %}
    {{ appAutocomplete({
      label: {
        text: "In which country is your institution based?"
      },
      items: countries
    } | decorateApplicationAttributes(["degree", id, "country"])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "This institution is based:"
      }
    },
    items: [{
      value: "domestic",
      text: "In the UK"
    }, {
      value: "international",
      text: "Outside the UK",
      conditional: {
        html: internationalConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["degree", id, "provenance"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  {% set defaultValue = data.applications[applicationId]["degree"][id]["country"] %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data.applications[applicationid]["degree"][id]["country"] }}',
      selectElement: document.querySelector('#degree-{{ id }}-country')
    })
  </script>
{% endblock %}
