{% set applicationPath = "/application/" + applicationId %}
{% set title = "Which university awarded your degree?" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + applicationId + "/degree/" + id + "/institution" %}

{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}

{% extends "_form-question.html" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}

  {% if international %}
    {{ govukInput({
      label: {
        text: title,
        classes: "govuk-label--l"
      }
    } | decorateApplicationAttributes(["degree", id, "org"])) }}
  {% else %}
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="degree-{{ id }}-org">{{ title }}</label></h1>
      <span id="degree-{{ id }}-org-hint" class="govuk-hint">Type your own or select from the suggestions. For example, 'Open University'.</span>
      <div id="org-autocomplete-container" class="suggestions"></div>
    </div>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script src="/public/javascripts/sort.js"></script>
  <script>
  {% if international %}
  {% else %}

    var allDegreeInstitutions = {{ allDegreeInstitutions | dump | safe }};

    function filter(query, populateResults) {
      populateResults(sort(query, allDegreeInstitutions))
    }

    accessibleAutocomplete({
      element: document.querySelector('#org-autocomplete-container'),
      id: 'degree-{{ id }}-org',
      name: "applications[{{ applicationId }}][degree][{{ id }}][org]",
      defaultValue: '{{ applicationValue(["degree", id, "org"]) }}',
      minLength: 2,
      showNoOptionsFound: false,
      placeholder: false,
      source: filter
    })
  {% endif %}
  </script>
{% endblock %}
