{% extends "_form-question.html" %}

{% set formaction = "/application/" + applicationId + "/degree/" + id + "/level" %}


{% set applicationPath = "/application/" + applicationId %}
{% set title = "What type of degree is it?" %}
{% set allowsFeedback = true %}
{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or "/application/" + applicationId + "/degree/" + id + "/country"
  }) }}
{% endblock %}

{% block primary %}
  {% if international %}

  {% else %}

    {% set anotherLevelHtml %}

      {{ govukInput({
        label: {
          text: "Qualification type"
        }
      } | decorateApplicationAttributes(["degree", id, "otherLevel"])) }}
    {% endset %}

    {{ govukRadios({
      name: "degree-type",
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Foundation",
          text: "Foundation degree"
        },
        {
          value: "Bachelor",
          text: "Bachelor degree",
          hint: {
            text: "Sometimes referred to as an ‘undergraduate’ or ‘first’ degree, this is the minimum level required to be eligible for teacher training."
          }
        },
        {
          value: "Master’s",
          text: "Master’s degree"
        },
        {
          value: "Doctorate",
          text: "Doctorate (PhD)"
        },
        {
          value: "Level 6 Diploma",
          text: "Level 6 Diploma"
        },
        {
          divider: "or"
        },
        {
          value: "other",
          text: "Another qualification equivalent to a degree",
          conditional: {
            html: anotherLevelHtml
          }
        }
      ]
    } | decorateApplicationAttributes(["degree", id, "level"])) }}


  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
