{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% set title = "How your degree compares to a UK degree" %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">You can get a statement from The National Recognition Information Centre for the United Kingdom (UK NARIC) which shows how your qualifications compare to UK qualifications. Not all providers need this.</p>

  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "UK NARIC reference number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example ‘4000228363’"
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["degree", id, "naric-reference"])) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select the comparable UK degree",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "As shown on your statement"
      },
      items: [{
        text: "Bachelor (Ordinary) degree"
      }, {
        text: "Bachelor (Honours) degree"
      }, {
        text: "Postgraduate Certificate / Postgraduate Diploma"
      }, {
        text: "Master’s degree / Integrated Master’s degree"
      }, {
        text: "Doctor of Philosophy degree"
      } if degreeCount > 1, {
        text: "Post Doctoral award"
      } if degreeCount > 1]
    } | decorateApplicationAttributes(["degree", id, "naric-comparability"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body">Ask your training provider if they need a UK NARIC statement of comparability. Register with <a href="https://register.getintoteaching.education.gov.uk/register">Get Into Teaching</a> for help if you need to get one.</p>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have a statement of comparability from The National Recognition Information Centre?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["degree", id, "naric"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
