{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath + "/degree/" + degreeId + "/" + action + "/grade" %}
{% if action == "edit" %}
  {% set parent = "Edit degree" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set parent = "Add a degree" %}
  {% set buttonText = "Continue" %}
{% endif %}
{% set title = "If you studied for your degree outside the UK, you will need to check that it is valid" %}

{% block primary %}
  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "Enter details here. If you have it, give us evidence."
      },
      hint: {
        text: "For example, ‘My degree is equivalent to a UK BA. I have a NARIC statement of comparability, UK NARIC reference 0000000000’"
      }
    } | decorateApplicationAttributes(["degree", degreeId, "naric-details"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <h3 class="govuk-heading-s">Before you submit your application</h3>
    <p class="govuk-body">Contact your chosen training provider to check their policy on non-UK qualifications.</p>
    <p class="govuk-body">Consider registering at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA can tell you if your degree makes you eligible for teacher training and how it corresponds to a UK degree.</p>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you know what UK degree your degree is equivalent to?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["degree", degreeId, "naric"])) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
