{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% set title = "Do you have a NARIC statement of comparability for your degree?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">This shows how your qualifications compare to UK qualifications.</p>

  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "UK NARIC reference number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example ‘4000228363’"
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["degree", id, "naric-reference"])) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select the comparable UK degree",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "As shown on your statement"
      },
      items: [{
        text: "Bachelor (Ordinary) degree"
      }, {
        text: "Bachelor (Honours) degree"
      }, {
        text: "Postgraduate Certificate / Postgraduate Diploma"
      }, {
        text: "Master’s degree / Integrated Master’s degree"
      }, {
        text: "Doctor of Philosophy degree"
      } if degreeCount > 1, {
        text: "Post Doctoral award"
      } if degreeCount > 1]
    } | decorateApplicationAttributes(["degree", id, "naric-comparability"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body">Check that your degree is valid for teacher training in the UK. You can ask your training provider or register with <a href="https://register.getintoteaching.education.gov.uk/register">Get Into Teaching</a> to talk to an adviser.</p>
  {% endset %}

  {{ govukRadios({
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["degree", id, "naric"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
