{% extends "_content-wide.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Degree" %}
{% set categoryCaptionSize = "m" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: "/application/" + applicationId, text: 'Back to application' }) }}
{% endblock %}

{% block primary %}
  {% set referrer = applicationPath + "/degree/review" %}
  {% set degrees = data.applications[applicationId]["degree"] | toArray %}
  {% for degree in degrees %}
    {% include "_includes/review-degree.njk" %}
  {% endfor %}
  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: applicationPath + "/degree/add?referrer=" + referrer
  }) }}

  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
