{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Degree" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/degree/review" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/degrees.njk" %}

  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: applicationPath + "/degree/add"
  }) }}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "degree"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
