{% extends "_form-wide.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Degree" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/degree/review" %}
{% set canAmend = true %}
{% set degreeCount = applicationValue(["degree"]) | length %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}

  {% if degreeCount == 0 %}
    <p class="govuk-body">You need an undergraduate degree to be eligible for teacher training.</p>
    <p class="govuk-body">You can also add any other degrees you have.</p>
  {% endif %}

  {{ govukButton({
    text: ("Add another degree" if degreeCount > 0 else "Add degree"),
    classes: ("govuk-button--secondary" if degreeCount > 0 else ""),
    href: applicationPath + "/degree/add"
  }) }}

  {% if degreeCount > 0 %}

    {% include "_includes/review/degrees.html" %}

    {{ govukRadios({
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    } | decorateApplicationAttributes(["completed", "degree"])) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  {% endif %}
{% endblock %}
