{% extends "_form-question.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "What subject is your degree?" %}
{% set allowsFeedback = true %}
{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}

{% set formaction = "/application/" + applicationId + "/degree/" + id + "/subject" %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}

<style>
  body .autocomplete__menu {
    top: 20px;
    border-top: 2px solid black;
  }

  body .autocomplete__wrapper ul::before {
    content: 'Suggestions';
    padding: 4px 8px;
    border-bottom: 2px solid black;
    background-color: #f3f2f1;
    width: 100%;
    display: block;

  }
</style>

  {% if international %}
    {{ govukInput({
      label: label,
      hint: {
        text: "For example, Liberal Arts, Marine Sciences, Psychology"
      }
    } | decorateApplicationAttributes(["degree", id, "subject"])) }}
  {% else %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l" for="degree-{{ id }}-subject">{{ title }}</label>
      <span id="degree-{{ id }}-subject-hint" class="govuk-hint">Type your own or select from the suggections. For example, 'French and History' or 'Mathematics'.</span>
      <div id="subject-autocomplete-container"></div>
    </div>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% if not international %}
  {% block pageScripts %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        element: document.querySelector('#subject-autocomplete-container'),
        id: 'degree-{{ id }}-subject',
        name: "applications[{{ applicationId }}][degree][{{ id }}][subject]",
        defaultValue: '{{ applicationValue(["degree", id, "subject"]) }}',
        showNoOptionsFound: false,
        minLength: 2,
        placeholder: false,
        source: [
          {% for item in degree.subjects %}"{{ item }}",{% endfor %}
        ]
      })
    </script>
  {% endblock %}
{% endif %}
