{% extends "_form-question.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "What subject is your degree?" %}
{% set allowsFeedback = true %}
{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}

{% set formaction = "/application/" + applicationId + "/degree/" + id + "/subject" %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}

  {% if international %}
    {{ govukInput({
      label: {
        text: title,
        classes: "govuk-label--l"
      },
      hint: {
        text: "For example, Liberal Arts, Marine Sciences, Psychology"
      }
    } | decorateApplicationAttributes(["degree", id, "subject"])) }}
  {% else %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l" for="degree-{{ id }}-subject">{{ title }}</label>
      <span id="degree-{{ id }}-subject-hint" class="govuk-hint">Type your own or select from the suggestions. For example, 'French and History' or 'Mathematics'.</span>
      <div id="subject-autocomplete-container" class="suggestions"></div>
    </div>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}

{% if not international %}
  {% block pageScripts %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script src="/public/javascripts/sort.js"></script>

    <script>

      var allDegreeSubjects = {{ allDegreeSubjects | dump | safe }};

      function filter(query, populateResults) {
        populateResults(sort(query, allDegreeSubjects))
      }

      accessibleAutocomplete({
        element: document.querySelector('#subject-autocomplete-container'),
        id: 'degree-{{ id }}-subject',
        name: "applications[{{ applicationId }}][degree][{{ id }}][subject]",
        defaultValue: '{{ applicationValue(["degree", id, "subject"]) }}',
        showNoOptionsFound: false,
        minLength: 2,
        placeholder: false,
        source: filter
      })
    </script>
  {% endblock %}
{% endif %}
