{% extends "_form-question.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "What subject is your degree?" %}
{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% if international %}
    {{ govukInput({
      label: label
    } | decorateApplicationAttributes(["degree", id, "subject"])) }}
  {% else %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-8" for="degree-{{ id }}-subject">{{ title }}</label>
      <div id="subject-autocomplete-container"></div>
    </div>
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% if not international %}
  {% block pageScripts %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        name: "applications[{{ applicationId }}][degree][{{ id }}][subject]",
        minLength: 2,
        element: document.querySelector('#subject-autocomplete-container'),
        id: 'degree-{{ id }}-subject',
        placeholder: false,
        defaultValue: '{{ applicationValue(["degree", id, "subject"]) }}',
        showNoOptionsFound: false,
        source: [
          {% for item in degree.subjects %}"{{ item }}",{% endfor %}
        ]
      })
    </script>
  {% endblock %}
{% endif %}