{% extends "_form-question.html" %}

{% set applicationPath = "/application/" + applicationId %}

{% set degreeLevel = applicationValue(["degree", id, "level"]) %}

{% if degreeLevel == "Foundation" %}
  {% set degreeDescription = "foundation degree" %}
{% elif degreeLevel == "Bachelor" %}
  {% set degreeDescription = "bachelor degree" %}
{% elif degreeLevel == "Master’s" %}
  {% set degreeDescription = "master’s degree" %}
{% elif degreeLevel == "Doctorate" %}
  {% set degreeDescription = "doctorate" %}
{% else %}
  {% set degreeDescription = "degree" %}
{% endif %}

{% set title = "What type of " + degreeDescription + " is it?" %}

{% set allowsFeedback = true %}
{% set formaction = "/application/" + "/degree/" + id + "/type" %}

{% set international = applicationValue(["degree", id, "provenance"]) == "international" %}


{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block content %}

  {% if international %}

    {{ govukInput({
      label: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: {
        text: "For example, Bachelor degree, Bachelor of Arts, Diplôme, Licenciatura"
      }
    } | decorateApplicationAttributes(["degree", id, "type"])) }}

  {% else %}

    {% if degreeLevel == "Bachelor" %}
      {% set otherLevelsHint = "Bachelor of Engineering (BEng)" %}
    {% elif degreeLevel == "Foundation" %}
      {% set otherLevelsHint = "Foundation of Engineering (FdEng)" %}
    {% elif degreeLevel == "Master’s" %}
      {% set otherLevelsHint = "Master of Engineering (MEng)" %}
    {% elif degreeLevel == "Doctorate" %}
      {% set otherLevelsHint = "Doctor of Science (DSc)" %}
    {% endif %}

    {% set otherDegreeTypeHtml %}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="degree-{{ id }}-typeUk">Degree type</label>
        <span id="degree-{{ id }}-typeUk-hint" class="govuk-hint">For example, {{ otherLevelsHint }}</span>
        <div id="type-uk-autocomplete-container"></div>
      </div>
    {% endset %}

    {% if not (degreeLevel == "other")  %}
      {% set radioItems = [] %}

      {% for degreeType in degreeTypes %}
        {% if degreeType.priority == 1 %}
          {% set radioItems = radioItems | push({value: degreeType.name, text: degreeType.name}) %}
        {% endif %}
      {% endfor %}

      {% set radioItems = radioItems | push({divider: "or"}) %}

      {% set radioItems = radioItems | push({
        value: "other",
        text: "Another " + degreeDescription + " type",
        conditional: {
          html: otherDegreeTypeHtml
        }
      }) %}

      {{ govukRadios({
        name: "degree-type",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: hint,
        items: radioItems
      } | decorateApplicationAttributes(["degree", id, "type"])) }}
    {% else %}

      {{ govukInput({
        label: {
          text: title,
          isPageHeading: true,
          classes: "govuk-label--l"
        }
      } | decorateApplicationAttributes(["degree", id, "type"])) }}

    {% endif %}

  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}


{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script src="/public/javascripts/sort.js"></script>
  <script>

    var degreeTypes = {{ degreeTypes | dump | safe }};

    function filter(query, populateResults) {
      populateResults(sort(query, degreeTypes))
    }

    accessibleAutocomplete({
      element: document.querySelector('#type-uk-autocomplete-container'),
      id: 'degree-{{ id }}-typeUk',
      name: "applications[{{ applicationId }}][degree][{{ id }}][otherType]",
      defaultValue: '{{ applicationValue(["degree", id, "otherType"]) }}',
      placeholder: false,
      showNoOptionsFound: false,
      minLength: 0,
      showAllValues: true,
      source: filter
    })
  </script>
{% endblock %}
