{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% if applicationValue(["degree", id, "grade"]) == "Pending" %}
  {% set pending = true %}
{% endif %}
{% set title = "When did you study for your degree?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% if pending %}
    <p class="govuk-body">You must have successfully graduated by the time you start your course.</p>
  {% endif %}

  {{ govukInput({
    label: {
      text: "Year started course"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "year-start"])) }}

  {{ govukInput({
    label: {
      text: "When will you graduate?"if pending else "Year graduated"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "year-end"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
