{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "When did you study for your degree?" %}
{% set allowsFeedback = true %}

{% set graduatingYearExample = "2002" %}
{% set degreeCount = applicationValue(["degree"]) | length %}
{% if applicationValue(["degree", id, "grade"]) == "Pending" and degreeCount <= 1 %}
  {% set pendingFirstDegree = true %}
  {% set graduatingYearExample = "2020" %}
{% endif %}
{% set startYearExample = graduatingYearExample - 3 %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Year started course",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, " + startYearExample
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "year-start"])) }}

  {{ govukInput({
    label: {
      text: "Graduation year",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, " + graduatingYearExample + (". You must have successfully graduated by the time you start your course." if pendingFirstDegree)
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", id, "year-end"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
