{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath + "/degree/review" %}

{% set parent = "Add a degree" %}
{% if applicationValue(["degree", degreeId, "grade"]) == "Pending" %}
  {% set pending = true %}
{% endif %}
{% if pending %}
  {% set title = "When will you graduate?" %}
{% else %}
  {% set title = "What year did you graduate?" %}
{% endif %}

{% block primary %}
  {% if pending %}
    <p class="govuk-body">You must have successfully graduated by the time you start your course.</p>
  {% endif %}

  {{ govukInput({
    label: {
      text: "Year",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["degree", degreeId, "year"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
