{% extends "_form.html" %}

{% set formaction = referrer or "/application/" + applicationId + "/personal-statement/review" %}
{% set title = "Why you want to teach" %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set guidanceHtml %}
    <p class="govuk-body">Use this section to showcase your motivation, commitment and teaching potential, backing up your answer with specific examples.</p>
    <p class="govuk-body">Give providers an insight into your personality by writing honestly and thoughtfully. Avoid cliché and write in clear, correct, concise English.</p>
    <p class="govuk-body">You can ask your training provider for examples written by successful applicants, or register with <a href="https://getintoteaching.education.gov.uk/">Get Into Teaching</a> for help from a teacher training adviser.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Suggested topics to cover include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>why you want to be a teacher</li>
      <li>your passion for your subject and the age group you’ve chosen to teach</li>
      <li>the welfare and education of children and/or young people</li>
      <li>the demands and rewards of the profession</li>
      <li>personal qualities that will make you a good teacher</li>
      <li>your contribution to the life of the school outside the classroom  – for example, running extra-curricular activities and clubs</li>
      <li>if you have school experience or have worked as a volunteer with children or young people, give details of what this has taught you</li>
    </ul>
  {% endset %}

  {{ guidanceHtml | safe }}

  {{ govukCharacterCount({
    label: {
      text: "Tell us why you want to be a teacher",
      classes: "govuk-label--m govuk-!-margin-top-6"
    },
    rows: 20,
    maxwords: 600
  } | decorateApplicationAttributes(["personalStatement"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
