{% extends "_form.njk" %}

{% set title = "Declaring any safeguarding issues" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
<p class="govuk-body">Teacher training providers need to make sure that it’s safe for you to work with children and young people.</p>

<p class="govuk-body">Providers check your identity and that you're allowed to work in the UK. They also look at:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your criminal record in the UK (through an enhanced <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service/about#dbs-checks">DBS check)</a> and abroad where relevant</li>
  <li>whether you’ve been banned from teaching or working with children</li>
  <li>your professional behaviour - such as whether you've been taken off a teacher training course, and what your referees say about you</li>
</ul>

<p class="govuk-body">Sharing any potential safeguarding issues (such as cautions or offences) means that providers can give advice about whether it'll affect your application.</p>

<p class="govuk-body">A criminal conviction won’t necessarily stop you becoming a teacher.</p>

{% set disabilityConditional %}
  {{ govukCharacterCount({
    label: {
      html: "Share any relevant information",
      classes: "govuk-label--s"
    },
    maxwords: 400,
    rows: 8
  } | decorateApplicationAttributes(["suitability", "statement"])) }}
{% endset %}

{{ govukRadios({
  fieldset: {
    classes: "govuk-!-margin-top-7",
    legend: {
      text: "Do you want to share any safeguarding issues?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [{
    value: "true",
    text: "Yes, I want to share something",
    hint: {
      text: "Your provider may need to discuss it with you. Declaring something won’t stop you from submitting your application. If you prefer, you can contact your provider directly."
    },
    conditional: {
      html: disabilityConditional
    }
  }, {
    value: "false",
    text: "No"
  }]
} | decorateApplicationAttributes(["suitability", "disclose"])) }}

{{ govukButton({
  text: "Continue"
}) }}
{% endblock %}
