{% extends "_form.njk" %}

{% set title = "Declaring any safeguarding issues" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
<p class="govuk-body">
Teacher training providers need to check that it’s safe for you to work with children and young people. They’ll check:
</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>your criminal record (they’ll do an enhanced DBS Check)</li>
  <li>official records from other countries if you’ve been travelling or lived abroad</li>
  <li>official ‘barred lists’ which show if you’ve been banned from working with children</li>
  <li>your references</li>
</ul>

<p class="govuk-body">
  Tell your provider sooner rather than later about any potential safeguarding issues, such as criminal convictions. They’ll be able to give advice about whether this will affect your application or not.
</p>

<p class="govuk-body">
  A criminal conviction won’t necessarily stop you becoming a teacher.
</p>

{% set disabilityConditional %}
  {{ govukCharacterCount({
    label: {
      html: "Give any relevant information",
      classes: "govuk-label--s"
    },
    maxwords: 400,
    rows: 8
  } | decorateApplicationAttributes(["suitability", "statement"])) }}
{% endset %}

{{ govukRadios({
  fieldset: {
    classes: "govuk-!-margin-top-7",
    legend: {
      text: "Do you want to share any safeguarding issues?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [{
    value: "true",
    text: "Yes, I want to share something",
    hint: {
      text: "You talk to your provider directly or tell us about it here. This won’t stop you from submitting your application."
    },
    conditional: {
      html: disabilityConditional
    }
  }, {
    value: "false",
    text: "No"
  }]
} | decorateApplicationAttributes(["suitability", "disclose"])) }}

{{ govukButton({
  text: "Continue"
}) }}
{% endblock %}
