<div class="govuk-width-container">
  <aside class="app-feedback" data-module="feedback">
    <template id="feedback-close-button-template">
      {{ govukButton({
        classes: "app-button--tertiary app-feedback__button app-feedback__button--close",
        text: "Close",
        type: "button",
        attributes: {
          "aria-expanded": "false"
        }
      }) }}
    </template>

    <form class="app-feedback__form" id="feedback-form" action="/feedback/thank-you" method="get">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ caller() }}
        </div>
      </div>
    </form>

    {% if params.askIfSomethingWrong %}
      <form class="app-feedback__form" id="problem-form" method="get">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% if params.validate == "problem" %}
              {{ govukErrorSummary({
                classes: "govuk-!-margin-bottom-6",
                titleText: "There is a problem",
                errorList: [{
                  text: "Tell us what is wrong with this page",
                  href: "#problem"
                }]
              }) }}
            {% endif %}

            <h3 class="govuk-heading-m">Help us improve this service</h3>
            <p class="govuk-body">We don’t check responses every day, and cannot respond to comments. If you need support, please email <a href="mailto:becomingateacher@digital.education.gov.uk">contact us by email</a>.</p>

            {{ govukCharacterCount({
              id: "problem",
              label: {
                classes: "govuk-label--s",
                text: "What is wrong with this page?"
              },
              maxwords: 300,
              errorMessage: {
                text: "Tell us what is wrong with this page"
              } if params.validate == "problem"
            }) }}

            {{ govukInput({
              name: "validate",
              value: "problem",
              type: "hidden"
            }) }}

            {{ govukButton({
              classes: "govuk-!-margin-bottom-0",
              text: "Send",
              type: "submit"
            }) }}
          </div>
        </div>
      </form>
    {% endif %}

    <template id="feedback-prompt-template">
      <div class="app-feedback__container" id="feedback-prompt" tabindex="-1">
        <h2 class="app-feedback__container-title">{{ params.title }}</h2>
        <!-- Maybe button exists only to try and capture clicks by bots -->
        <button hidden>Maybe</button>

        <ul class="app-feedback__list">
        {% for option in params.options %}
          {% set buttonHtml %}
            {{ option.text }}
            {%- if action.visuallyHiddenText -%}
              <span class="govuk-visually-hidden"> {{ option.visuallyHiddenText }}</span>
            {% endif -%}
          {% endset %}
          <li class="app-feedback__list-item">
            {{ govukButton({
              classes: "app-button--tertiary app-feedback__button" + (" js-show-feedback-success" if option.showSuccessMessage),
              html: buttonHtml,
              type: "button",
              attributes: option.attributes
            }) }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </template>

    <template id="feedback-success-template">
      <div class="app-feedback__container app-feedback__container--success" id="feedback-success" role="alert" hidden>
        <p class="app-feedback__container-title">Thank you for your feedback</p>
      </div>
    </template>
  </aside>
</div>
