{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <aside class="app-feedback" data-module="feedback">
        <form class="app-feedback__form" id="feedback-form" action="{{ params.formaction }}" method="get" aria-hidden="{{ "false" if params.validate == "feedback" else "true" }}">
          <template id="feedback-close-button-template">
            {{ govukButton({
              classes: "govuk-button--secondary app-feedback__button app-feedback__button--close",
              text: "Close",
              type: "button",
              attributes: {
                "aria-controls": "feedback-form",
                "aria-expanded": "true" if params.validate == "feedback" else "false"
              }
            }) }}
          </template>

          {% call govukFieldset({
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "Help us improve this service"
            }
          }) %}
            {{ caller() }}
          {% endcall %}
        </form>

        <template id="feedback-prompt-template">
          <div class="app-feedback__container{{ " govuk-visually-hidden" if params.validate == "feedback" }}" id="feedback-prompt" tabindex="-1">
            <h2 class="app-feedback__container-title">{{ params.title }}</h2>
            <!-- Maybe button exists only to try and capture clicks by bots -->
            <button hidden aria-hidden="true">Maybe</button>

            <ul class="app-feedback__list">
            {% for option in params.options %}
              <li class="app-feedback__list-item">
                {{ govukButton({
                  classes: "app-button--tertiary app-feedback__button" + (" js-show-feedback-success" if option.showSuccessMessage),
                  html: option.text + "<span class=\"govuk-visually-hidden\">" + option.visuallyHiddenText + "</span>",
                  type: "button",
                  attributes: option.attributes
                }) }}
              </li>
            {% endfor %}
            </ul>
          </div>
        </template>

        <template id="feedback-success-template">
          <div class="app-feedback__container" id="feedback-success" role="alert" aria-hidden="true">
            <p class="app-feedback__container-title">Thank you for your feedback</p>
          </div>
        </template>
      </aside>

    </div>
  </div>
</div>
