{% extends "_form.njk" %}

{% set title = "Personal details" %}
{% set formAction = "/profile/personal-details/answer" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set dualNationality %}
  {{ appAutocomplete({
    label: {
      text: "What is your second nationality?"
    },
    id: "candidate-second-nationality",
    name: "candidate[second-nationality]",
    value: data["candidate"]["second-nationality"],
    items: nationalities
  }) }}
{% endset -%}

  {{ govukInput({
    label: {
      text: "First name(s)",
      classes: "govuk-label--s"
    },
    autocomplete: "given-name",
    id: "candidate-first-name",
    name: "candidate[first-name]",
    value: data["candidate"]["first-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "Name you prefer to be addressed by (optional)",
      classes: "govuk-label--s"
    },
    id: "candidate-optional-name",
    name: "candidate[optional-name]",
    value: data["candidate"]["optional-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "Last name",
      classes: "govuk-label--s"
    },
    autocomplete: "family-name",
    id: "candidate-family-name",
    name: "candidate[family-name]",
    value: data["candidate"]["family-name"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of birth",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 12 11 1997"
    },
    id: "candidate-date-of-birth",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      name: "candidate[date-of-birth][day]",
      value: data["candidate"]["date-of-birth"]["day"],
      autocomplete: "bday-day"
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      name: "candidate[date-of-birth][month]",
      value: data["candidate"]["date-of-birth"]["month"],
      autocomplete: "bday-month"
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "candidate[date-of-birth][year]",
      value: data["candidate"]["date-of-birth"]["year"],
      autocomplete: "bday-year"
    }]
  }) }}

  {{ appAutocomplete({
    label: {
      text: "What is your nationality?",
      classes: "govuk-label--s"
    },
    id: "candidate-nationality",
    name: "candidate[nationality]",
    value: data["candidate"]["nationality"],
    items: nationalities
  }) }}

  {{ govukDetails({
    summaryText: "I have dual nationality",
    html: dualNationality,
    open: data["candidate"]["second-nationality"]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["candidate"]["nationality"] | safe }}',
      selectElement: document.querySelector('#candidate-nationality')
    })
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["candidate"]["second-nationality"] | safe }}',
      selectElement: document.querySelector('#candidate-second-nationality')
    })
  </script>
{% endblock %}
