{% extends "_form.njk" %}

{% set title = "Personal details" %}
{% set formAction = "/profile/personal-details/answer" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Title",
      classes: "govuk-label--s"
    },
    hint: {
      text: "How would you like us to address you? For example, Mr, Mrs, Miss, Ms, Mx."
    },
    id: "title",
    name: "title",
    value: data["title"]
  }) }}

  {{ govukInput({
    label: {
      text: "First name(s)",
      classes: "govuk-label--s"
    },
    autocomplete: "given-name",
    id: "first-name",
    name: "first-name",
    value: data["first-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "Name you prefer to be addressed by (optional)",
      classes: "govuk-label--s"
    },
    id: "optional-name",
    name: "optional-name",
    value: data["optional-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "Last name",
      classes: "govuk-label--s"
    },
    autocomplete: "family-name",
    id: "family-name",
    name: "family-name",
    value: data["family-name"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Is this your date of birth?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 12 11 1997"
    },
    id: "date-of-birth",
    namePrefix: "date-of-birth",
    items: [{
      name: "day",
      value: data["date-of-birth-day"],
      classes: "govuk-input--width-2",
      autocomplete: "bday-day"
    }, {
      name: "month",
      value: data["date-of-birth-month"],
      classes: "govuk-input--width-2",
      autocomplete: "bday-month"
    }, {
      name: "year",
      value: data["date-of-birth-year"],
      classes: "govuk-input--width-4",
      autocomplete: "bday-year"
    }]
  }) }}

  {{ appAutocomplete({
    label: {
      text: "What is your nationality?",
      classes: "govuk-label--s"
    },
    id: "nationality",
    name: "nationality",
    value: data["nationality"],
    items: nationalities
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["nationality"] | safe }}',
      selectElement: document.querySelector('#nationality')
    })
  </script>
{% endblock %}
