{% extends "_content.njk" %}

{% set parent = "Personal details" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-personal-details.njk" %}

  {{ govukButton({
    text: "Continue",
    href: "/profile/"
  }) }}
{% endblock %}
