{% extends "_form.njk" %}

{% set formAction = "/profile/" %}
{% set parent = "Personal details" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set name %}{{ data["title"] + " " + data["first-name"] + " " + data["family-name"] }}{{ " (" + data["optional-name"] + ")" if data["optional-name"] }}{% endset %}
{% set name = name | safe %}

{% set dob %}{{ data["date-of-birth-day"] + "/" + data["date-of-birth-month"] + "/" + data["date-of-birth-year"] }}{% endset %}

{% if data["residency-status"] == "right-to-study" %}
  {% set residencyStatus %}
    I have the right to study and/or work in the UK{{ ": “" + data["residency-status-right-to-study-details"] + "”" if data["residency-status-right-to-study-details"] }}
  {% endset %}
  {% set residencyStatus = residencyStatus | safe %}
{% endif %}

{% if data["residency-status"] == "require-tier-2" %}
  {% set residencyStatus = "I will need to apply for a general work visa (Tier 2) to work in the UK" %}
{% endif %}

{% if data["residency-status"] == "require-tier-4" %}
  {% set residencyStatus = "I will need to apply for a general student visa (Tier 4) to study in the UK" %}
{% endif %}

{% if data["residency-status"] == "unknown" %}
  {% set residencyStatus %}
    I don’t know my residency status{{ ": “" + data["residency-status-unknown-details"] + "”" if data["residency-status-unknown-details"] }}
  {% endset %}
  {% set residencyStatus = residencyStatus | safe %}
{% endif %}

{% if data["residency-status"] != true %}
  {% set residencyStatus = "UK citizen" %}
{% endif %}

  {{ govukSummaryList({
    classes: "govuk-!-font-size-16",
    rows: [{
      key: {
        text: "Name"
      },
      value: {
        text: name
      },
      actions: {
        items: [{
          href: "/profile/personal-details",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
    }, {
      key: {
        text: "Date of birth"
      },
      value: {
        text: dob
      },
      actions: {
        items: [{
          href: "/profile/personal-details",
          text: "Change",
          visuallyHiddenText: "date of birth"
        }]
      }
    }, {
      key: {
        text: "Nationality"
      },
      value: {
        html: data["nationality"] + ( " and " + data["second-nationality"] if data["second-nationality"])
      },
      actions: {
        items: [{
          href: "/profile/personal-details",
          text: "Change",
          visuallyHiddenText: "nationality"
        }]
      }
    }, {
      key: {
        text: "Residency status"
      },
      value: {
        html: residencyStatus
      },
      actions: {
        items: [{
          href: "/profile/personal-details" + ( "/residency-status" if data["residency-status"] ),
          text: "Change",
          visuallyHiddenText: "residency status"
        }]
      }
    }]
  }) }}

  {{ govukInput({
    id: "personal-details-completed",
    name: "personal-details-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
