{% extends "_form.html" %}

{% set title = "What’s your immigration status?" %}
{% set formaction = "/application/" + applicationId + "/nationality-residency/immigration-status" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/nationality-residency/immigration/")
  }) }}
{% endblock %}

{% block formBody %}
    {{ govukRadios({
      fieldset: {
        legend: {
          html: title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        },
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        value: "EU settled status",
        text: "EU settled status"
      }, {
        value: "EU pre-settled status",
        text: "EU pre-settled status"
      }, {
        value: "Indefinite leave to remain",
        text: "Indefinite leave to remain"
      }, {
        value: "Right of abode",
        text: "Right of abode"
      }, {
        value: "other",
        text: "Another immigration status",
        conditional: {
          html: govukCharacterCount({
            label: {
              text: "Give details",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example, “I’ve been granted humanitarian protection in the UK”."
            },
            threshold: 90,
            maxwords: 200,
            rows: 5
          } | decorateApplicationAttributes(["candidate", "immigrationStatusDetails"]))
        }
      }]
    } | decorateApplicationAttributes(["candidate", "immigrationStatus"])) }}


  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
