{% extends "_form-question.html" %}

{% set formaction = "/application/" + applicationId + "/nationality-residency/review" %}
{% set title = "Residency" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/nationality-residency/nationality/")
  }) }}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">We ask about your residency because it helps teacher training providers assess whether you’re eligible for ‘home’ or ‘international’ course fees.</p>

  <p class="govuk-body">You should select ‘yes’ if you've only been away temporarily. For example, for holidays. </p>

{% set questionText %}

    {% if data.applications[applicationId].candidate.nationality == "British" %}
    Will you have been living in the UK, Channel Islands or Isle of Man for 3 years by the time the course starts?
    {% endif %}

    {% if data.applications[applicationId].candidate.nationality == "Irish" %}
    Will you have been living in the UK, Ireland, Channel Islands or Isle of Man for 3 years by the time the course starts?
    {% endif %}

    {% if data.applications[applicationId].candidate.nationality == "Other" and data.applications[applicationId].candidate.immigrationStatus == "Indefinite leave to remain" %}
    Will you have been living in the UK, Channel Islands or Isle of Man for 3 years by the time the course starts?
    {% endif %}

    {% if data.applications[applicationId].candidate.nationality == "Other" and data.applications[applicationId].candidate.immigrationStatus == "EU settled status" %}
    Will you have been living in the the UK, Channel Islands, Isle of Man, European Economic Area, British Overseas Territories, Switzerland or Gibraltar for 3 years by the time the course starts?
    {% endif %}

    {% if data.applications[applicationId].candidate.nationality == "Other" and data.applications[applicationId].candidate.immigrationStatus == "EU pre-settled status" %}
    Will you have been living in the the UK, Channel Islands, Isle of Man, European Economic Area, British Overseas Territories, Switzerland or Gibraltar for 3 years by the time the course starts?
    {% endif %}

  {% endset %}

  {% set livingDetails %}
    {{ govukTextarea({
      label: {
        text: "Give details",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Include where you lived, when you lived there, and how long you were there for."
      },
      maxwords: 200,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "livingDetails"])) }}
  {% endset %}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: questionText,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "No",
      text: "No",
      conditional: {
        html: livingDetails
      }
    }]
  } | decorateApplicationAttributes(["candidate", "living"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
