{% extends "_form-question.html" %}

{% set formaction = "/application/" + applicationId + "/nationality-residency/living-more-answer" %}
{% set title = "Residency" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/nationality-residency/living")
  }) }}
{% endblock %}

{% block primary %}

 {% set questionText %}
    Where will you have been living for the 3 years before the course starts?
 {% endset %}

 {% set items = [
    {
      text: "UK"
    },
    {
      text: "Ireland"
    }]
  %}

  <!-- These items only added for people with British or Irish nationality, or EU settled or pre-settled status - ie not those who have indefinite leave to remain or another immigration status -->
  {% if data.applications[applicationId].candidate.nationality.includes('British') or data.applications[applicationId].candidate.nationality.includes('Irish') or data.applications[applicationId].candidate.immigrationStatus == "EU settled status"  or data.applications[applicationId].candidate.immigrationStatus == "EU pre-settled status" %}
    {% set items = items | addItems([
      {
        text: "European Union"
      },
      {
        text: "Iceland"
      },
      {
        text: "Liechtenstein"
      },
      {
        text: "Norway"
      },
      {
        text: "Switzerland"
      }
    ]) %}
  {% endif %}

  <!-- These countries aren’t allowed if you have EU pre-settled status. We’re not sure why. -->
  {% if data.applications[applicationId].candidate.immigrationStatus != "EU pre-settled status" %}
    {% set items = items | addItems([{
        text: "Channel Islands"
      },
      {
        text: "Isle of Man"
      }
    ]) %}
  {% endif %}

  {% set items = items | addItems([
    {
      text: "British Overseas Territories"
    },
    {
      text: "Somewhere else",
      hint: {
        text: "Do not check this box if you normally lived in a place listed above but went away temporarily, for example for a gap year."
      }
    }]) %}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: questionText,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select every place you’ll have lived in. If you’ll have lived in one or more of these places, but also somewhere else, select ‘somewhere else’ as well."
    },
    items: items
  } | decorateApplicationAttributes(["candidate", "livingMore"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
