{% extends "_form-question.html" %}

{% set formaction = "/application/" + applicationId + "/nationality-residency/living-answer" %}
{% set title = "Residency" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/nationality-residency/nationality/")
  }) }}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">We ask about your residency because it helps teacher training providers assess whether you’re eligible for ‘home’ or ‘international’ course fees.</p>

  <!-- <p class="govuk-body">You should select ‘yes’ if you've only been away temporarily. For example, for holidays or a gap year. </p> -->

  {% set questionText %}
    Will you have been living in the UK or Ireland for 3 years by the time the course starts?
 {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: questionText,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "Yes",
      text: "Yes",
      hint: {
        text: "It’s ok if you’ve been away temporarily, for example for a gap year."
      }
    }, {
      value: "No",
      text: "No"
    }]
  } | decorateApplicationAttributes(["candidate", "living"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
