{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set applicationPath = "/details/" %}
{% set formaction = applicationPath %}
{% set referrer = applicationPath + "/interview-needs/review" %}
{% set title = "Interview needs" %}
{% set canAmend = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: applicationPath,
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% include "_includes/review/interview-needs.html" %}

  <form action="/details">
    {{ govukRadios({
      name: "completed[interviewNeeds]",
      value: data.completed.interviewNeeds,
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
