{% extends "_form-question.njk" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "In which country did you study for your " + subject + " qualification?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {{ appAutocomplete({
    label: label,
    items: countries
  } | decorateApplicationAttributes(["gcse", id, "country"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#gcse-{{ id }}-country'),
      defaultValue: '{{ applicationValue(["gcse", id, "country"]) }}'
    })
  </script>
{% endblock %}
