{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "In which country did you study for your " + subject + " qualification?" %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block content %}
  {{ appAutocomplete({
    label: label,
    items: countries
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
