{% extends "layouts/main.html" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "How your " + subject + " qualification compares to a UK qualification" %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block content %}
  <p class="govuk-body">You can get a statement from UK ENIC (the UK agency for international qualifications and skills) which shows how your qualifications compare to UK qualifications. Not all providers need this.</p>

  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "UK ENIC reference number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example ‘4000228363’"
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["gcse", id, "enicReference"])) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select the comparable UK qualification",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "As shown on your statement"
      },
      items: [{
        text: "GCSE (grades A*-C / 9-4)"
      }, {
        text: "Between GCSE and GCE AS level"
      }, {
        text: "GCE Advanced Subsidiary (AS) level"
      }, {
        text: "GCE Advanced (A) level"
      }]
    } | decorateApplicationAttributes(["gcse", id, "enicComparability"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body">Ask your training provider if they need a UK ENIC statement of comparability. You can get a free statement (this usually costs £49.50 plus VAT) by calling Get Into Teaching on Freephone 0800 389 2501.</p>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have a statement of comparability from UK ENIC (the UK agency for international qualifications and skills)?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["gcse", id, "enic"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
