{% extends "_form.njk" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "What grade is your " + subject + " qualification?" %}

{% if applicationValue(["gcse", id, "type"]) == "GCSE" %}
  {# Available grades: U,1,2,3,4,5,6,7,8,9 or U,G,F,E,D,C,C*,B,A,A* #}
  {% if id == "science" %}
    {# Maximum number of grades: 3 #}
    {% set guidance %}
      <p class="govuk-body">If you have a single, double (also known as combined) or triple GCSE in science, enter your total grade.</p>
    {% endset %}
    {% set hintText = "For example: ‘A*A*A*’, ‘AA’, ‘B’, ‘999’, ‘88’, ‘7’" %}
  {% elif id == "english" %}
    {% set guidance %}
      <p class="govuk-body">Enter your grade for English Language GCSE.</p>
      <p class="govuk-body">If you have a GCSE in English Literature only, enter this grade – but be aware that providers may want further evidence of your abilities in English.</p>
    {% endset %}
    {% set hintText = "For example, ‘C’ or ‘4’" %}
  {% else %}
    {# Maximum number of grades: 1 #}
    {% set hintText = "For example, ‘C’ or ‘4’" %}
  {% endif %}

{% elif applicationValue(["gcse", id, "type"]) == "GCE O Level" %}
  {# Available grades: U,E,D,C,B,A #}
  {% if id == "science" %}
    {# Maximum number of grades: 3 #}
    {% set guidance %}
      <p class="govuk-body">If you have a single, double or triple O Level in science, enter your total grade.</p>
    {% endset %}
    {% set hintText = "For example, ‘ABC’, ‘AA’, ‘B’" %}
  {% elif id == "english" %}
    {% set guidance %}
      <p class="govuk-body">Enter your grade for English Language O level.</p>
      <p class="govuk-body">If you have an O level in English Literature only, enter this grade – but be aware that providers may want further evidence of your abilities in English.</p>
    {% endset %}
    {% set hintText = "For example, ‘C’" %}
  {% else %}
    {# Maximum number of grades: 1 #}
    {% set hintText = "For example, ‘C’" %}
  {% endif %}

{% elif applicationValue(["gcse", id, "type"]) == "Scottish National 5" %}
  {# Available grades: 7,6,5,4,3,2,1 or D,B,C,A #}
  {% if id == "science" %}
    {# Maximum number of grades: 1 or 3 #}
    {% set guidance %}
      <p class="govuk-body">If you studied three science subjects separately or took a general science qualification, enter your total grade.</p>
    {% endset %}
    {% set hintText = "For example, ‘A*A*A*’, ‘ABC’, ‘A’, ‘777’, ‘654’, ‘6’" %}
  {% else %}
    {# Maximum number of grades: 1 #}
    {% set hintText = "For example, ‘C’ or ‘4’" %}
  {% endif %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {{ guidance | safe }}

  {{ govukInput({
    label: {
      classes: "govuk-label--m",
      text: "Please specify your grade"
    },
    hint: {
      text: hintText
    } if hintText,
    classes: "govuk-input--width-10"
  } | decorateApplicationAttributes(["gcse", id, "grade"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
