{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set subject = (id | capitalize) if id == "english" else id %}

{% set type = data.gcse[id].type %}

{% if type == "GCSE" and id == "english" %}
  {% set title = "Which GCSEs in English do you have?" %}
{% elif type == "GCSE" and id == "science" %}
  {% set title = "Which science GCSEs did you do?" %}
{% elif type == "GCSE" or type == "O level" or type == "Scottish National 5" %}
  {% set title = "What grade is your " + subject + " " + type + "?" %}
{% else %}
  {% set title = "What grade is your " + subject + " qualification?" %}
{% endif %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/gcse/" + id
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form action="/application/gcse/{{ id }}/year" method="post">

    {# Structured GCSE grade #}
    {% macro gradeHtml(params) %}
      {{ govukInput({
        label: {
          text: params.label or "Grade",
          classes: params.classes
        },
        hint: {
          text: params.hint or "For example, ‘C’ or ‘4’"
        },
        value: data.gcse[id].grade,
        classes: "govuk-input--width-2"
      }) }}
    {% endmacro %}

    {# Structured English GCSE grade for other English exam #}
    {% set otherEnglishSubjectHtml %}
      {{ govukInput({
        label: {
          text: "What English GCSE do you have?"
        }
      }) }}
      {{ gradeHtml({
        name: "Other"
      }) }}
    {% endset %}

    {# Structured Science GCSE grade for tripple award exam #}
    {% set tripleScienceGradeHtml %}
      {{ gradeHtml({
        name: "Biology",
        label: "Biology grade"
      }) }}
      {{ gradeHtml({
        name: "Chemistry",
        label: "Chemistry grade"
      }) }}
      {{ gradeHtml({
        name: "Physics",
        label: "Physics grade"
      }) }}
    {% endset %}

    {# Unstructured UK grade #}
    {% macro otherUkGradeHtml(hintText) %}
      {{ govukInput({
        label: {
          classes: "govuk-label--m",
          text: "Grade"
        },
        hint: {
          text: hintText
        } if hintText,
        classes: "govuk-input--width-10"
      }) }}
    {% endmacro %}

    {# Unstructured international  grade #}
    {% set otherGradeHtml %}
      {{ govukInput({
        name: "gcse[" + id + "][grade]",
        label: {
          classes: "govuk-label--m",
          text: "Grade"
        },
        hint: {
          text: "For example, ‘A’, ‘4.5’, ‘94%’"
        },
        value: data.gcse[id].grade,
        classes: "govuk-input--width-10"
      }) }}
    {% endset %}

    {# Structured GCSE #}
    {% if type == "GCSE" %}
      {% if id == "science" %}
        {{ govukRadios({
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "Select the GCSEs you did and include your grade"
            }
          },
          items: [{
            value: "Single award",
            text: "Single award",
            hint: {
              text: "You have one science grade"
            },
            conditional: {
              html: gradeHtml({
                name: "Single"
              })
            }
          }, {
            value: "Double (or combined) award",
            text: "Double award",
            hint: {
              text: "You have a combined science grade"
            },
            conditional: {
              html: gradeHtml({
                name: "Double",
                hint: "For example, ‘CD’ or ‘4-3’"
              })
            }
          }, {
            value: "Triple award",
            text: "Triple award",
            hint: {
              text: "You have a grade for each science subject"
            },
            conditional: {
              html: tripleScienceGradeHtml
            }
          }]
        }) }}
      {% elif id == "english" %}
        {{ govukCheckboxes({
          items: [{
            value: "English",
            text: "English",
            conditional: {
              html: gradeHtml({
                name: "English",
                hint: "For example, ‘CD’, ‘4-3’, ‘C’ or ‘4’"
              })
            }
          }, {
            value: "English Language",
            text: "English Language",
            conditional: {
              html: gradeHtml({
                name: "Language"
              })
            }
          }, {
            value: "English Literature",
            text: "English Literature",
            conditional: {
              html: gradeHtml({
                name: "Literature"
              })
            }
          }, {
            value: "English Studies",
            text: "English Studies",
            conditional: {
              html: gradeHtml({
                name: "Studies",
                hint: "For example, ‘CD’, ‘4-3’, ‘C’ or ‘4’"
              })
            }
          }, {
            value: "Another English subject",
            text: "Another English subject",
            conditional: {
              html: otherEnglishSubjectHtml
            }
          }]
        }) }}
      {% else %}
        {{ gradeHtml({
          name: "Single",
          classes: "govuk-label--m"
        }) }}
      {% endif %}

    {% elif type == "O level" %}
      {# Available grades: U,E,D,C,B,A #}
      {% if id == "science" %}
        {# Maximum number of grades: 3 #}
        <p class="govuk-body">If you have a combined or triple GCSE in science, enter your total grade.</p>
        {% set hintText = "For example, ‘ABC’, ‘AA’, ‘B’" %}
      {% elif id == "english" %}
        {{ govukDetails({
          classes: "govuk-!-margin-bottom-2",
          summaryText: "If you have an O level in English Literature only",
          text: "Enter your grade here – but be aware that providers may want further evidence of your abilities in English."
        }) }}
        {{ govukDetails({
          summaryText: "If you have more than one English qualification",
          text: "Enter any English Literature qualifications under ‘Other qualifications’"
        }) }}
        {% set hintText = "For example, ‘C’" %}
      {% else %}
        {# Maximum number of grades: 1 #}
        {% set hintText = "For example, ‘C’" %}
      {% endif %}
      {{ otherUkGradeHtml(hintText) | safe }}

    {% elif type == "Scottish National 5" %}
      {# Available grades: 7,6,5,4,3,2,1 or D,B,C,A #}
      {% if id == "science" %}
        {# Maximum number of grades: 1 or 3 #}
        <p class="govuk-body">If you studied three science subjects separately or took a general science qualification, enter your total grade.</p>
        {% set hintText = "For example, ‘A*A*A*’, ‘ABC’, ‘A’, ‘777’, ‘654’, ‘6’" %}
      {% else %}
        {# Maximum number of grades: 1 #}
        {% set hintText = "For example, ‘C’ or ‘4’" %}
      {% endif %}
      {{ otherUkGradeHtml(hintText) | safe }}

    {% elif type == "Non-UK qualification" %}
      {{ govukRadios({
        items: [{
          text: "Not applicable"
        } if not undergraduateDegree, {
          text: "Unknown"
        } if not undergraduateDegree, {
          text: "Other",
          conditional: {
            html: otherGradeHtml
          }
        }]
      }) }}

    {% else %}
      {{ otherGradeHtml | safe }}
    {% endif %}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>
{% endblock %}
