{% extends "_form.njk" %}

{% set parent = (gcseId | capitalize) + " GCSE or equivalent" %}
{% set title = "What grade is your qualification?" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: paths.back }) }}
{% endblock %}

{% block primary %}
  {% set otherGradeHtml %}
    {{ govukInput({
      label: {
        text: "Please specify the grade"
      },
      classes: "govuk-input--width-10"
    } | decorateApplicationAttributes(["gcse", gcseId, "grade"])) }}
  {% endset %}

  {{ govukRadios({
    items: [{
      value: "true",
      text: "I completed my qualification",
      conditional: {
        html: otherGradeHtml
      }
    }, {
      divider: "or"
    }, {
      value: "false",
      text: "I am still studying for my qualification"
    }]
  } | decorateApplicationAttributes(["gcse", gcseId, "completed"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
