{% extends "_form.njk" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "Do you have a NARIC statement of comparability for your " + subject + " qualification?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">This shows how your qualifications compare to UK qualifications. Not all providers ask for a NARIC statement of comparability.</p>

  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "UK NARIC reference number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example ‘4000228363’"
      },
      classes: "govuk-input--width-20"
    } | decorateApplicationAttributes(["gcse", id, "naric-reference"])) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select the comparable UK qualification",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "As shown on your statement"
      },
      items: [{
        text: "GCSE (grades A*-C / 9-4)"
      }, {
        text: "Between GCSE and GCE AS level"
      }, {
        text: "GCE Advanced Subsidiary (AS) level"
      }, {
        text: "GCE Advanced (A) level"
      }]
    } | decorateApplicationAttributes(["gcse", id, "naric-comparability"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body">Ask your training provider if they need a NARIC statement of comparability. Register with <a href="https://register.getintoteaching.education.gov.uk/register">Get Into Teaching</a> for help if you need to get one.</p>
  {% endset %}

  {{ govukRadios({
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["gcse", id, "naric"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
