{% extends "_form.njk" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "Do you know what UK qualification your " + subject + " qualification is equivalent to?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set yesConditionalHtml %}
    {{ govukInput({
      label: {
        text: "Enter details here, giving evidence if you have it."
      },
      hint: {
        text: "For example, ‘My qualification is equivalent to a UK GCSE. I have a NARIC statement of comparability, UK NARIC reference 0000000000’"
      }
    } | decorateApplicationAttributes(["gcse", id, "naric-details"])) }}
  {% endset -%}

  {% set noConditionalHtml %}
    <p class="govuk-body"><strong>If you studied for this qualification outside the UK, you will need to check that it is valid.</strong></p>
    <p class="govuk-body">Contact your chosen training provider to check their policy on non-UK qualifications.</p>
    <p class="govuk-body">Register at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA can tell you if your qualification makes you eligible for teacher training and how it corresponds to a UK GCSE.</p>
  {% endset %}

  {{ govukRadios({
    items: [{
      text: "Yes",
      conditional: {
        html: yesConditionalHtml
      }
    }, {
      text: "No",
      conditional: {
        html: noConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["gcse", id, "naric"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
