{% extends "layouts/main.html" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% set title = "You need a GCSE in " + subject + " at grade 4 (C) or above, or equivalent" %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">You can still apply for teacher training if you do not have this. Providers may allow you to sit an equivalency test, or you can retake your GCSE.</p>

      <p class="govuk-body">For advice, speak to a <a href="https://adviser-getintoteaching.education.gov.uk">teacher training adviser</a>.</p>

      <form action="/application/gcse/{{ id }}/currently-retaking" method="post">
        {{ govukRadios({
          name: "gcse[" + id + "][currentlyRetaking]",
          value: data.gcse[id][currentlyRetaking],
          fieldset: {
            legend: {
              text: "Are you currently studying to retake your GCSE in " + subject + "?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            text: "Yes",
            value: "yes",
            hint: {
              text: "This must be completed before you start your teacher training course."
            }
          }, {
            text: "No",
            value: "no"
          }
          ]}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
