{% extends "_form.njk" %}

{% set subject = ("an " + id | capitalize) if id == "english" else "a " + id %}
{% set type = applicationValue(["gcse", id, "type"]) %}
{% set title = "Are you currently studying for " + subject + " qualification?" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + applicationId + "/gcse/" + id + "/not-yet" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId + "/gcse/" + id
  }) }}
{% endblock %}

{% block primary %}

  {% set studyingForQualificationHtml %}
    {{ govukCharacterCount({
        label: {
          classes: "govuk-label--s",
          html: "Details of the qualification you are studying for"
        },
        maxwords: 200,
        rows: 6
      } | decorateApplicationAttributes(["gcse", id, "missing"])) }}
  {% endset %}

  {{ govukRadios({

    items: [{
      text: "Yes",
      value: "yes",
      conditional: {
        html: studyingForQualificationHtml
      }
    }, {
      text: "No",
      value: "no"
    }
    ]} | decorateApplicationAttributes(["gcse", id, "currentlyStudying"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
