{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set referrer = applicationPath + "/gcse/" + id + "/review" %}
{% set title = (id | capitalize) + " GCSE or equivalent" %}
{% set allowsFeedback = true %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/gcse.njk" %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", id])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
