{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/gcse/" + id + "/review" %}
{% set title = (id | capitalize) + " GCSE or equivalent" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% set gcses = data.applications[applicationId]["gcse"] | toArray %}
  {% for gcse in gcses %}
    {% if gcse.id == applicationValue(['gcse', id, "id"]) %}
      {% include "_includes/review-gcse.njk" %}
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
