{% extends "layouts/main.html" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% if applicationValue(["gcse", id, "completed"]) == "false" %}
  {% set title = "When will you get your " + subject + " qualification?" %}
{% else %}
  {% set title = "What year did you get your " + subject + " qualification?" %}
{% endif %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}


{% block content %}
  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ govukInput({
            label: {
              classes: "govuk-label--xl",
              text: title
            },
            hint: {
              text: "For example, 1996"
            },
            classes: "govuk-input--width-4"
          } | decorateApplicationAttributes(["gcse", id, "year"])) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </div>
      </div>
    </form>
{% endblock %}
