{% extends "_form.njk" %}

{% set subject = (id | capitalize) if id == "english" else id %}
{% if applicationValue(["gcse", id, "completed"]) == "false" %}
  {% set title = "When will you get your " + subject + " qualification?" %}
{% else %}
  {% set title = "When was your " + subject + " qualification awarded?" %}
{% endif %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer or paths.back
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      classes: "govuk-label--m",
      text: "Enter year"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["gcse", id, "year"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
