{% extends "_form.njk" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: paths.back }) }}
{% endblock %}

{% set parent = (id | capitalize) + " GCSE or equivalent" %}
{% if applicationValue(["gcse", id, "completed"]) == "false" %}
  {% set title = "When will you get your qualification?" %}
{% else %}
  {% set title = "When was your qualification awarded?" %}
{% endif %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Enter year"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["gcse", id, "year"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
