{% extends "layouts/main.html" %}
{% set title = "Equality and diversity questions" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">Before you submit your application, you’ll be asked questions to help prevent discrimination in teacher recruitment.</p>

      <p class="govuk-body">You can answer ’Prefer not to say’ to any question.</p>

      {{ govukButton({
        text: "Continue",
        href: "/equality-monitoring/sex"
      }) }}
    </div>
  </div>
{% endblock %}
