{% extends "_content.njk" %}
{% set applicationPath = "/application/12345" %}
{% set choices = 2 %}
{% set providerPlural = "providers" if choices > 1 else "provider" %}
{% if reason2 %}
  {% set title = "You need to add 2 new references" %}
{% else %}
  {% set title = "You need to add a new referee" %}
{% endif %}

{% macro content(reason, refereeName) %}
  <h2 class="govuk-heading-m">
  {% if reason == "overdue" %}
    {{ refereeName }} has not responded
  {% elif reason == "cancelled" %}
    You cancelled your request for a reference from {{ refereeName }}
  {% elif reason == "declined" %}
    {{ refereeName }} declined to give a reference
  {% endif %}
  </h2>
  <p class="govuk-body">Add a new referee as soon as possible.</p>
  {% if reason == "overdue" %}
    <p class="govuk-body">Adding a new referee will not prevent {{ refereeName }} from giving a reference. You can keep chasing {{ refereeName }} if you know they’re planning on giving a reference.</p>
  {% endif %}
{% endmacro %}

{% block primary %}
  {% if reason2 %}
    <ul class="govuk-list govuk-list--bullet">
      <li>
        {{ content(reason1, "Carmel Kohler")}}
      </li>
      <li>
        {{ content(reason2, "Glinda Baumbach")}}
      </li>
    </ul>
  {% else %}
    {{ content(reason1, "Carmel Kohler")}}
  {% endif %}

  <p class="govuk-body">Courses can become full at any time and your {{ providerPlural }} will not consider your application without 2 references.</p>

  <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-4">
    {{ govukButton({
      text: "Add a new referee",
      href: applicationPath + "/references/alternative"
    }) }}
  </div>

  <p><a href="/applications">Continue without adding a new referee</a></p>
{% endblock %}
