{% extends "layouts/main.html" %}

{% set title = "Confirm your reference details and accept your offer" %}
{% set primaryNavId = "applications" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/respond"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">When you accept your offer, we’ll send emails to the people you said could give you references.</p>

      <p class="govuk-body">Your referees can decide whether you will be able to view their reference.</p>

      <p class="govuk-body">You can change the reference details before you accept the offer.</p>

      {{ govukButton({
        text: "Add another reference",
        href: "/details/references/" + id + "/type",
        classes: "govuk-button--secondary"
      }) }}

      {% include "_includes/review/references.html" %}

    </div>
  </div>

  {% if numberOfOffersReceived > 1 %}
    <p class="govuk-body">Your other applications will be withdrawn and any upcoming interviews will be cancelled.</p>
  {%  endif %}

  <form action="/applications/{{ id }}/accept" method="post">
    {{ govukButton({
      text: "Accept offer"
    }) }}
  </form>
{% endblock %}
