{% extends "layouts/main.html" %}

{% set title = "Confirm your reference details and accept your offer" %}
{% set primaryNavId = "applications" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/respond"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">When you accept your offer, we’ll send emails to the people you said could give you references.</p>

      <div class="govuk-inset-text">
      <p class="govuk-body">{{ data.applications[id].providerName }} said:</p>
      <p class="govuk-body">You need 2 references to be accepted.</p>
      </div>

      <p class="govuk-body">You can change the reference details before you accept the offer.</p>

      {{ govukButton({
        text: "Add details for another reference",
        href: "/dashboard/references/add",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>


  {% include "_includes/review/references.html" %}

  {% if numberOfOffersReceived > 1 %}
    <p class="govuk-body">Your other applications will be withdrawn and any upcoming interviews will be cancelled.</p>
  {%  endif %}

  <form action="/applications/{{ id }}/accept" method="post">
    {{ govukButton({
      text: "Accept offer"
    }) }}
  </form>
{% endblock %}
