{% extends "_content.njk" %}

{% set title = "Application dashboard" %}
{% set hasSecondary = true %}
{% set referrer = "/applications" %}
{% set applications = applications or data.applications %}

{% block primary %}
  {% for applicationId, application in applications %}
    {% set applicationPath = "/application/" + applicationId %}
    {% set canAmend = application.status == "amending" %}
    {% set canWithdraw = (phase == "selection") or (phase == "decision") %}
    {% set canMakeDecision = (phase == "decision") or (phase == "dbd") %}
    {% set showChoiceStatus = true %}

    {# Application summary #}
    <p class="govuk-body">You submitted your application on {{ "now" | date("d MMMM yyyy") }}.</p>

    <p class="govuk-body"><a href="/application/{{ applicationId }}/submitted">View your application</a></p>

    {# Amending an application #}
    {% if phase == "amend" and application.status != "amended" %}
      <div class="govuk-inset-text govuk-!-margin-top-0">
      {% if application.status == "submitted" %}
        <p class="govuk-body">You have 5 days (until {{ 5 | nowPlusDays("d MMMM yyyy") }}) to edit your application or change your choice of provider, course or training location.</p>

        {{ govukButton({
          text: "Edit your application",
          href: "/application/" + applicationId + "/edit"
        }) }}
      {% elif application.status == "amending" %}
        <p class="govuk-body">You have 5 days remaining (until {{ 5 | nowPlusDays("d MMMM yyyy")}}) to submit the edits to your application or change your choice of provider, course or training location.</p>
        {{ govukButton({
          text: "Continue editing application",
          href: "/application/" + applicationId
        }) }}
      {% endif %}
      </div>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-font-size-27">Courses you’ve applied to</h2>
    {# Decline by default (DBD) #}
    {% if phase == "dbd" %}
      {{ govukInsetText({
        text: "You have 10 days (until " + (10 | nowPlusDays("d MMMM yyyy")) + ") to make a decision."
      })}}
    {% elif phase != "completed" %}
      <p class="govuk-body">Training providers must respond to you by {{ 40 | nowPlusDays("d MMMM yyyy") }}.</p>
    {% endif %}

    {# Course choices #}
    {% set choices = application.choices | toArray %}
    {% include "_includes/review/choices.njk" %}

    {# Guidance about making a decision #}
    {% if canMakeDecision %}
      <h3 class="govuk-heading-s">Responding to offers</h3>
      <p class="govuk-body"><mark>[Candidates are free to wait to make a decision once all providers have communicated their offers]</mark></p>
    {% endif %}

    {# Guidance about withdrawing #}
    {% if canWithdraw %}
      <h3 class="govuk-heading-s">Withdrawing an application</h3>
      <p class="govuk-body">You can withdraw an application from your chosen training providers at any point during the application process. You won’t be penalised, but at this stage, you can’t substitute a different provider.</p>
      <p class="govuk-body"> You can learn more  about applying to different providers after this first round of applications by visiting <a href=\"https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/applying-through-ucas-teacher-training/\">Get into Teaching.</a></p>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    <p>We’ve contacted your references.</p>
    <ul class="govuk-list">
    {% for id, referee in application.referees %}
      <li>{{ referee.name }} has not yet responded</li>
      {# Examples:
      [name] has responded
      [name] has been sent a reminder email
      [name] has declined to give a reference
      [name] has failed to respond before the 10-day deadline #}
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block secondary %}
  {{ appRelated({
    title: "Need help?",
    content: {
      html: "Call <a href=\"https://getintoteaching.education.gov.uk/\">Get into Teaching</a> on Freephone 0800 389 2500 or chat to an adviser using their <a href=\"https://getintoteaching.education.gov.uk/lp/live-chat\">online chat service</a> between 8am and 8pm, Monday to Friday"
    }
  }) }}
{% endblock %}
