{% extends "layouts/main.html" %}
{% set section = "applications" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">Your applications</h1>


    {% if data | allSectionsCompleted %}

      {% if applicationAccepted %}

        <p class="govuk-body">You have accepted an application for {{applicationAccepted.course }} from {{ applicationAccepted.providerName }}.</p>

        <p class="govuk-body">[conditions, SKE, references, etc...]</p>

        <p class="govuk-body">Option to withdraw</p>

      {% else %}
        {% if numberOfApplicationsLeft > 0 %}

          {% if numberOfApplicationsLeft == 4 %}
            <p class="govuk-body">You can add up to 4 applications at a time.</p>
          {% else %}
            <p class="govuk-body">You can add {{ numberOfApplicationsLeft }} more {{ "applications" if  numberOfApplicationsLeft > 1 else "application" }}.</p>
          {% endif %}

          <div class="govuk-inset-text">
            <p class="govuk-body">Providers offer places as people apply through the year, and courses stay open until they are full.</p>

            <p class="govuk-body">If you’re keen to join a popular course it’s wise to apply as soon as you’re ready rather than putting it off.</p>
          </div>

          {{ govukButton({
            text: "Add application",
            href: "/applications/start"
          }) }}

        {% else %}
          <p class="govuk-body">You cannot add any more applications because you’re waiting for decisions on 4 others.</p>
          <p class="govuk-body">If one of your applications is unsuccessful, or you withdraw it, you will be able to add another application.</p>

        {% endif %}


      {% for id, application in data.applications %}

        {% set courseHtml %}
          {{ application.course }}
          <br>PGCE <br>1 year full time

          {% if application.otherCourses | first == "no" %}
          {% else %}
            <br><br>
              Also interested in:
            <br>
            {% for otherCourse in application.otherCourses %}
              {{ otherCourse }}<br>
            {% endfor %}
          {% endif %}
        {% endset %}


        {% set statusHtml %}
          {% if application.status == "Awaiting decision" %}
            <span class="govuk-tag govuk-tag--purple"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">The provider must make a decision by 18 May 2023.</div>
          {% elseif application.status == "Offer received" %}
            <span class="govuk-tag govuk-tag--green"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">
              <a href="/applications/{{ id }}/respond">Respond to offer</a>
            </div>
            <div class="govuk-!-margin-top-2">
              You have until 14 May 2023 to respond
            </div>
          {% elseif application.status == "Not sent" %}
            <span class="govuk-tag govuk-tag--blue"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2"><a href="/applications/{{ id }}/review">Continue application</a></div>
          {% elseif application.status == "Offer declined" %}
            <span class="govuk-tag govuk-tag--red"> {{ application.status }}</span>
          {% elseif application.status == "Unsuccessful" %}
            <span class="govuk-tag govuk-tag--orange"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">
            Feedback from the provider:
            <br>
            <div class="govuk-inset-text govuk-!-margin-top-2">
              {{ application.rejectionFeedback }}
            </div>
            Is this feedback helpful? <a href="#">Yes</a> or  <a href="#">No</a>
            </div>
          {% else  %}
            <span class="govuk-tag"> {{ application.status }}</span>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: application.providerName
            },
            actions: {
              items: [
              {
                href: "/applications/" + id + "/delete",
                text: ("Withdraw" if application.status === "Awaiting decision" else "Remove"),
                visuallyHiddenText: "from " + application.providerName,
                classes: ""
              }
            ]
            }
          },
          classes: "govuk-!-margin-bottom-0",
          rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: courseHtml
            },
            actions: {
              items: [
              {
                href: "/applications/" + id + "/course",
                text: "Change"
              } if application.status == 'Not sent'
            ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: statusHtml
            }
          },
          {
            key: {
              text: "Interview"
            },
            value: {
              html: "The provider will be in touch if they want to invite you to an interview."
            }
          } if application.status === 'Awaiting decision']
        }) }}

      {% endfor %}


      {% endif %}


    {% else %}

      <div class="govuk-inset-text">
        You need to complete <a href="/details" class="govuk-link">your details</a> before you can apply to any courses.
      </div>
    {% endif %}

    {% if applicationAccepted %}

    {% else %}
      <h2 class="govuk-heading-m">How applications work</h2>

      <p class="govuk-body">Most courses are for 1 year (or 2 years part time) and start in September.</p>

      <p class="govuk-body">For courses starting in September 2024, the applications process works like this:</p>

      <h2>Deadline version:</h2>

      <ol class="govuk-list xgovuk-list--number  govuk-list--spaced">
        <li><b>10 October 2023</b><br>
          The list of courses is published.
        </li>
        <li><b>17 October 2023 – 19 November 2023</b><br>
          You can prepare your application and select up to 4 courses
        </li>
        <li><b>19 November 2023, 23:59pm</b><br>
          Application deadline: all applications will be sent to the providers you selected.
        </li>
        <li><b>20 November 2023 to 4 January 2024</b><br>
          Providers will assess applications and run interviews
        </li>
        <li><b>5 January 2024</b><br>
          You will receive the outcome of each of your applications, including any offers
        </li>
        <li><b>21 January 2024</b><br>
          Deadline to accept any offers you have received
        </li>
        <li><b>27 January 2024</b><br>
          The list of courses will be updated to show which ones still have spaces
        </li>
        <li><b>27 January 2024 to 17 September 2024</b><br>
          Applications re-open. You can apply to up to 4 courses at a time, with providers assessing applications on a continual basis.
        </li>
        <li>
          <b>17 September 2024, 6pm</b><br>
          Final deadline for applications
        </li>
      </ol>


      <h2>Pure continuous applications</h2>

      <ol class="govuk-list xgovuk-list--number  govuk-list--spaced">
        <li><b>10 October 2023</b><br>
          The list of courses is published.
        </li>
        <li><b>17 October 2023 – 1 July 2024</b><br>
          You can apply to up to 4 providers at a time. Applications are continually assessed and courses can fill up at any time so you should apply as soon as you can.
          <br>
          <br>
          When you apply, providers have 40 working days to make a decision.
          <br><br>
          You will have 10 working days to make a decision on any offer.
          <br><br>
          If you decline any offers, or withdraw an application, you can continue to apply to other providers.
        </li>
        <li>
          <b>1 July 2024 to 17 September 2024</b><br>
          Applications are still open, but the time for providers to make a decision on any applications reduces from 40 working days to 20 working days.
        </li>

        <li>
          <b>17 September 2024, 6pm</b><br>
          Final deadline for applications
        </li>
        <li>
          <b>25 September 2024</b><br>
          A final decision is made on all open applications
        </li>
      </ol>
    {% endif %}

  </div>
</div>
{% endblock %}
