{% extends "_content.njk" %}

{% set title = "Application dashboard" %}
{% set hasSecondary = true %}
{% set referrer = "/applications" %}
{% set applications = applications or data.applications %}

{% block beforePrimary %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ title | safe }}</h1>
  <p class="govuk-hint govuk-!-margin-bottom-8">Application submitted on {{ "now" | date("d MMMM yyyy") }}. <a href="/application/{{ applicationId }}/submitted">View application</a></p>
{% endblock %}

{% block primary %}
  {% for applicationId, application in applications %}
    {% set applicationPath = "/application/" + applicationId %}
    {% set canAmend = application.status == "amending" or phase == "amend" %}
    {% set canWithdraw = (phase == "selection") or (phase == "decision") %}
    {% set canMakeDecision = (phase == "decision") or (phase == "dbd") %}
    {% set showChoiceStatus = true %}
    {% set showReferenceStatus = true %}

    {# Amending an application #}
    {% if canAmend %}
      <div class="govuk-inset-text govuk-!-margin-top-0">
      {% if application.status == "submitted" %}
        <p class="govuk-body">You have 5 working days (until {{ 7 | nowPlusDays("d MMMM yyyy") }}) to edit your application or change your choice of provider, course or training location.</p>

        {{ govukButton({
          text: "Edit your application",
          href: "/application/" + applicationId + "/edit"
        }) }}
      {% else %}
        <p class="govuk-body">You have 5 working days remaining (until {{ 7 | nowPlusDays("d MMMM yyyy")}}) to confirm your edits and resubmit your application, or change your choice of provider, course or training location.</p>
        {{ govukButton({
          text: "Continue editing application",
          href: "/application/" + applicationId
        }) }}
      {% endif %}
      </div>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-font-size-27">Courses you’ve applied to</h2>
    {# Decline by default (DBD) #}
    {% if phase == "dbd" %}
      {{ govukInsetText({
        html:"<b> All of your training providers have now reached a decision.</b> You have 10 working days (until " + (12 | nowPlusDays("d MMMM yyyy")) + ") to respond to any offers."
      })}}
    {% elif phase != "completed" %}
      <p class="govuk-body">Training providers must respond to you within 40 working days (by {{ 56 | nowPlusDays("d MMMM yyyy") }}).</p>
    {% endif %}

    {# Course choices #}
    {% set choices = application.choices | toArray %}
    {% include "_includes/review/choices.njk" %}
    {% if choices | length < 3 and canAmend %}
      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-bottom-9",
        text: "Add another course",
        href: applicationPath + "/choices/add"
      }) }}
    {% endif %}

    {# Guidance about making a decision #}
    {% if canMakeDecision and phase == "decision" %}
      <h2 class="govuk-heading-m govuk-!-font-size-27">Choosing how to respond to training providers</h2>
      <p class="govuk-body">You can accept or decline an offer from a training provider as soon as it comes in (if you do this, all your other applications will be withdrawn).
      <p class="govuk-body">Or, you can wait to hear back from all your training providers before making a decision.</p>
      <p class="govuk-body">Remember:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are under no obligation to accept or decline an offer until all the decisions are in</li>
        <li>you can only accept one offer, across both Apply for teacher training and UCAS Teacher Training</li>
      </ul>
    {% elif canMakeDecision and phase == "dbd" %}
      <h2 class="govuk-heading-m govuk-!-font-size-27">Responding to training providers</h2>
      <p class="govuk-body">Now all of your training providers have reached a decision, you have 10 working days to respond to any offers.</p>
      <p class="govuk-body">If you don’t respond, all your applications will be automatically withdrawn.</p>
      <p class="govuk-body">Remember:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you can only accept one offer, across both Apply for teacher training and UCAS teacher training</li>
        <li>if you fail to respond, or you decline all your offers, you can still apply to other courses in future</li>
        <li>you can get advice about future applications by registering with <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a></li>
      </ul>
    {% endif %}

    {% if canWithdraw %}
      <h3 class="govuk-heading-s">Withdrawing an application</h3>
      <p class="govuk-body">You can withdraw an application from your chosen training providers at any point during the application process. You won’t be penalised, but at this stage, you can’t substitute a different provider.</p>
      <p class="govuk-body"> You can learn more  about applying to different providers after this first round of applications by visiting <a href=\"https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/applying-through-ucas-teacher-training/\">Get into Teaching.</a></p>
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    {% set references = application.referees %}
    {% include "_includes/review/references.njk" %}
  {% endfor %}
{% endblock %}

{% block secondary %}
  {{ appRelated({
    title: "Need help?",
    content: {
      html: "Call <a href=\"https://getintoteaching.education.gov.uk/\">Get into Teaching</a> on Freephone 0800 389 2500 or chat to an adviser using their <a href=\"https://getintoteaching.education.gov.uk/lp/live-chat\">online chat service</a> between 8am and 8pm, Monday to Friday"
    }
  }) }}
{% endblock %}
