{% extends "layouts/main.html" %}
{% set section = "applications" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {% if data | allSectionsCompleted %}

      {% if applicationAccepted %}

        <h1 class="govuk-heading-l">Your teacher training course</h1>

        <p class="govuk-body">You have accepted an application for {{applicationAccepted.course }} from {{ applicationAccepted.providerName }}.</p>

        <p class="govuk-body">Your place will be confirmed once they've:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>received your references</li>
            <li>marked your offer conditions as met</li>
          </ul>

        <p class="govuk-body">[conditions, SKE, references, etc...]</p>

        <p class="govuk-body">Option to withdraw</p>

      {% else %}
        {% if numberOfApplicationsLeft > 0 %}

        <h1 class="govuk-heading-l">Your applications</h1>

          {% if numberOfApplicationsLeft == 4 %}

            <p class="govuk-body">You can add up to 4 applications at a time.</p>
          {% else %}
            <p class="govuk-body">You can add {{ numberOfApplicationsLeft }} more {{ "applications" if  numberOfApplicationsLeft > 1 else "application" }}.</p>
          {% endif %}

          <div class="govuk-inset-text">
            <p class="govuk-body">Training providers offer places on courses as people apply throughout the year. Courses stay open until they are full.</p>

            <p class="govuk-body">Courses can fill up quickly, so you should apply as soon as you’re ready rather than putting it off.</p>
          </div>

          {{ govukButton({
            text: "Add application",
            href: "/applications/start"
          }) }}

        {% else %}
          <h1 class="govuk-heading-l">Your applications</h1>
          <p class="govuk-body">You cannot add any more applications because you’re waiting for decisions on 4 others.</p>
          <p class="govuk-body">If one of your applications is unsuccessful, or you withdraw it, you will be able to add another application.</p>

        {% endif %}

      {% for id, application in data.applications %}

        {% set courseHtml %}
          {{ application.course }}
          <br>PGCE <br>1 year full time

          {% if application.otherCourses %}
            {% if application.otherCourses | first == "no" %}
            {% else %}
              <br><br>
                Also interested in:
              <br>
              {% for otherCourse in application.otherCourses %}
                {{ otherCourse }}<br>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endset %}


        {% set statusHtml %}
          {% if application.status == "Awaiting decision" %}
            <span class="govuk-tag govuk-tag--purple"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">If you do not receive a response from this training provider, you can withdraw this application and apply to another provider.</div>
          {% elseif application.status == "Offer received" %}
            <span class="govuk-tag govuk-tag--green"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">
              <a href="/applications/{{ id }}/respond">Respond to offer</a>
            </div>
            <div class="govuk-!-margin-top-2">
              You have until 14 May 2023 to respond
            </div>
          {% elseif application.status == "Not sent" %}
            <span class="govuk-tag govuk-tag--blue"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2"><a href="/applications/{{ id }}/review">Continue application</a></div>
          {% elseif application.status == "Offer declined" %}
            <span class="govuk-tag govuk-tag--red"> {{ application.status }}</span>
          {% elseif application.status == "Unsuccessful" %}
            <span class="govuk-tag govuk-tag--orange"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">
            Feedback from the training provider:
            <br>
            <div class="govuk-inset-text govuk-!-margin-top-2">
              {{ application.rejectionFeedback }}
            </div>
            Is this feedback helpful? <a href="#">Yes</a> or  <a href="#">No</a>
            </div>
            {% elseif application.status == "Inactive" %}
            <span class="govuk-tag govuk-tag--pink"> {{ application.status }}</span>
            <div class="govuk-!-margin-top-2">
            The training provider has not made a decision within 40 working days.
            <br><br>
            You can add an application for a different training provider while you wait for a decision on this application
          {% else  %}
            <span class="govuk-tag"> {{ application.status }}</span>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: application.providerName
            },
            actions: {
              items: [
              {
                href: "/applications/" + id + "/delete",
                text: ("Withdraw" if application.status === "Awaiting decision" or application.status === "Inactive"  else "Remove"),
                visuallyHiddenText: "from " + application.providerName,
                classes: ""
              }
            ]
            }
          },
          classes: "govuk-!-margin-bottom-0",
          rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: courseHtml
            },
            actions: {
              items: [
              {
                href: "/applications/" + id + "/course",
                text: "Change"
              } if application.status == 'Not sent'
            ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: statusHtml
            }
          },
          {
            key: {
              text: "Interview"
            },
            value: {
              html: "The provider will be in touch if they want to invite you to an interview."
            }
          } if application.status === 'Awaiting decision' and 1==2]
        }) }}

      {% endfor %}


      {% endif %}


    {% else %}

      <div class="govuk-inset-text">
        You need to complete <a href="/details" class="govuk-link">your details</a> before you can apply to any courses.
      </div>
    {% endif %}

    {% if applicationAccepted %}

    {% else %}
<h2 class="govuk-heading-m">How the application process works</h2>

<p class="govuk-body">Most courses are one year and start in September. Part time courses are usually 2 years.</p>

<p class="govuk-body">For courses starting in September 2024, the applications process works like this:</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">What happens</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10&nbsp;October&nbsp;2023</th>
      <td class="govuk-table__cell">All teacher training courses are published.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 October 2023 to <br>1 July 2024</th>
      <td class="govuk-table__cell">You can apply to 4 training providers at a time. Training providers will assess applications on a continual basis.<br><br>When you apply, providers have 40 working days to make a decision. If they do not, your application will become inactive. <br><br>The training provider can still make an offer if your application becomes inactive. While you wait, you’ll be able to add another application to a different provider. <br><br>You’ll have 20 working days to make a decision on any offer. <br><br>If you decline any offers, or withdraw an application, you can continue to apply to other providers.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1 July 2024 to <br>17&nbsp;September&nbsp;2024</th>
      <td class="govuk-table__cell">Applications are still open. The time for training providers to make a decision on any application before it becomes inactive reduces from 40 working days to 20 working days.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 September 2024, 6pm</th>
      <td class="govuk-table__cell">Application deadline<br>You should submit all your applications by this date to be accepted onto a course starting in September 2024.</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 September 2024</th>
      <td class="govuk-table__cell">A final decision is made on all open applications.</td>
    </tr>
  </tbody>
</table>
<!--
<h2 class="govuk-!-margin-top-9">NO MORE REJECT BY DEFAULT</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">What happens</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10 October 2023</th>
      <td class="govuk-table__cell">All teacher training courses are published.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 October 2023 to <br>17 September 2024</th>
      <td class="govuk-table__cell">You can apply to 4 training providers at a time. Training providers will assess applications on a continual basis. <br><br>If a training provider takes a long time to respond to your application, you can withdraw it and add another one. <br><br>You will have 10 working days to make a decision on any offer.<br><br>If you decline any offers, or withdraw an application, you can continue to apply to other providers.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 September 2024, 6pm</th>
      <td class="govuk-table__cell">Application deadline<br>You should submit all your applications by this date to be accepted onto a course starting in September 2024.</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 September 2024</th>
      <td class="govuk-table__cell">A final decision is made on all open applications.</td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-!-margin-top-9">ALTERNATIVE DEADLINE IDEA:</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">What happens</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10 October 2023</th>
      <td class="govuk-table__cell">All teacher training courses are published.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 October 2023 to <br>19 November 2023</th>
      <td class="govuk-table__cell">You can prepare up to 4 applications to different training providers.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">19 November 2023, 23:59pm</th>
      <td class="govuk-table__cell">Application deadline<br>Your 4 applications will be sent to the training providers you selected.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">20 November 2023 to <br>4 January 2024</th>
      <td class="govuk-table__cell">Training providers will assess your applications and have interviews.</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5 January 2024</th>
      <td class="govuk-table__cell">You’ll receive the outcome of each of your applications, including any offers.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">21 January 2024</th>
      <td class="govuk-table__cell">Deadline to accept offers<br>You must accept any offers you’ve received by this date.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">27 January 2024</th>
      <td class="govuk-table__cell">Courses that still have spaces will be published.</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">27 January 2024 to <br>17 September 2024</th>
      <td class="govuk-table__cell">Applications open again. You can apply to up to 4 training providers at a time. Training providers will continue to assess applications as they receive them.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">17 September 2024, 6pm</th>
      <td class="govuk-table__cell">Final deadline<br>You should submit all your applications by this date to be accepted onto a course starting in September 2024.</td>
    </tr>
  </tbody>
</table>
-->
    {% endif %}


  </div>
</div>
{% endblock %}
