{% extends "layouts/main.html" %}
{% from "_components/application-status/macro.njk" import appApplicationStatus %}

{% set primaryNavId = "applications" %}
{% set title = "Your applications" %}

{% block content %}

{% if showDeclineBanner or showWithdrawnBanner or showPoolBanner %}

  {% set application = data.applications[id] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if showDeclineBanner %}

        {{ govukNotificationBanner({
          text: "You have declined your offer for " + application.course + " at " + application.providerName,
          type: 'success'
        }) }}

      {% endif %}

      {% if showWithdrawnBanner %}

        {{ govukNotificationBanner({
          text: "You application for " + application.course + " at " + application.providerName + " has been withdrawn",
          type: 'success'
        }) }}
      {% endif %}

      {% if showPoolBanner %}

        {{ govukNotificationBanner({
          text: ("Other providers can now see your application details" if data['candidatePool'] == "true" else "Other providers can no longer see your application details")          ,
          type: 'success'
        }) }}
      {% endif %}

    </div>
  </div>

{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if numberOfApplicationsLeft > 0 %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

      {% if numberOfApplicationsLeft == 4 %}

        <p class="govuk-body">You can add up to 4 applications at a time.</p>

        {% if not (data | allSectionsCompleted) %}
          <p class="govuk-body">You will not be able to submit applications until you have completed <a class="govuk-link" href="/details">your details</a>.</p>
        {% endif %}
      {% else %}
        <p class="govuk-body">You can add {{ numberOfApplicationsLeft }} more {{ "applications" if  numberOfApplicationsLeft > 1 else "application" }}.</p>
      {% endif %}

      <div class="govuk-inset-text">
        <p class="govuk-body">Training providers offer places on courses as people apply throughout the year. Courses stay open until they are full.</p>

        <p class="govuk-body">Courses can fill up quickly, so you should apply as soon as you’re ready rather than putting it off.</p>

        <p class="govuk-body"><a class="govuk-link" href="/application-process">Read about how the application process works.</a></p>
      </div>

      {{ govukButton({
        text: "Add application",
        href: "/applications/start"
      }) }}

    {% else %}
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">You cannot add any more applications.</p>
      <p class="govuk-body">You can add more applications if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">one of your submitted applications becomes unsuccessful</li>
        <li class="govuk-body">you withdraw or remove an application</li>
      </ul>
      <p class="govuk-body">Once you have a total of 15 unsuccessful or withdrawn applications, you will not be able to apply for any more courses until October 2024.</p>
      <p class="govuk-body"><a class="govuk-link" href="/application-process">Read about how the application process works.</a></p>

    {% endif %}

    {% for id, application in data.applications %}

      {% set courseHtml %}
        {{ application.course }}
        <br>PGCE <br>1 year full time

        {% if application.otherCourses %}
          {% if application.otherCourses | first == "no" %}
          {% else %}
            <br><br>
              Also interested in:
            <br>
            {% for otherCourse in application.otherCourses %}
              {{ otherCourse }}<br>
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endset %}

      {% if application.status == "Awaiting decision" %}
          <h2 class="govuk-heading-m">In progress</h2>
      {% elseif application.status == "Not sent" %}
          <h2 class="govuk-heading-m">Unsubmitted applications</h2>
      {% elseif application.status == "Offer declined" %}
          <h2 class="govuk-heading-m">Declined offers</h2>
      {% elseif application.status == "Unsuccessful" %}
          <h2 class="govuk-heading-m">Unsuccessful applications</h2>
      {% elseif application.status == "Inactive" %}
         <h2 class="govuk-heading-m">In progress</h2>
      {% elseif application.status == "Offer received" %}
         <h2 class="govuk-heading-m">Offers received</h2>
      {% elseif application.status == "Offer withdrawn" %}
         <h2 class="govuk-heading-m">Withdrawn applications</h2>
          {% elseif application.status == "Offer withdrawn" %}
         <h2 class="govuk-heading-m">Withdrawn applications</h2>
      {% else  %}
         <h2 class="govuk-heading-m"></h2>
      {% endif %}


      {% if application.status == "Awaiting decision" %}
          <h2 class="govuk-heading-m">In progress</h2>
      {% elseif application.status == "Not sent" %}
          <h2 class="govuk-heading-m">Unsubmitted applications</h2>
      {% elseif application.status == "Offer declined" %}
          <h2 class="govuk-heading-m">Declined offers</h2>
      {% elseif application.status == "Unsuccessful" %}
          <h2 class="govuk-heading-m">Unsuccessful applications</h2>
      {% elseif application.status == "Inactive" %}
         <h2 class="govuk-heading-m">In progress</h2>
      {% elseif application.status == "Offer received" %}
         <h2 class="govuk-heading-m">Offers received</h2>
      {% elseif application.status == "Offer withdrawn" %}
         <h2 class="govuk-heading-m">Withdrawn applications</h2>
      {% else  %}
         <h2 class="govuk-heading-m"></h2>
      {% endif %}

      {{ govukSummaryList({
        card: {
          title: {
            html: application.providerName
          },
          actions: {
            items: [
            {
              href: "/applications/" + id + "/review-application",
              text: ("View application" if application.status === "Awaiting decision" or application.status === "Inactive" or application.status === "Withdrawn" or application.status === "Unsuccessful" or application.status === "Offer received"),
              visuallyHiddenText: "to " + application.providerName,
              classes: ""
            },
            {
              href: ("/applications/" + id + "/withdraw" if application.status === "Awaiting decision" or application.status === "Inactive"  or application.status === "Offer received"  or application.status === "Interviewing"  else "/applications/" + id + "/delete"),
              text: ("Withdraw" if application.status === "Awaiting decision" or application.status === "Inactive"  or application.status === "Offer received"  or application.status === "Interviewing" else "Remove"),
              visuallyHiddenText: "from " + application.providerName,
              classes: ""
            }
          ]

          }
        },
        classes: "govuk-!-margin-bottom-0",
        rows: [
        {
          key: {
            text: "Course"
          },
          value: {
            html: courseHtml
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: appApplicationStatus( application, id, true )
          }
        },
        {
          key: {
            text: "Interview"
          },
          value: {
            html: "The provider will be in touch if they want to invite you to an interview."
          }
        } if application.status === 'Awaiting decision' and 1==2]
      }) }}

    {% endfor %}

    {% if data.applications %}
    <h3 class="govuk-heading-m">Sharing your application details</h3>
    <p class="govuk-body">
      {% if data.candidatePool == "true" %}
      Your application details are visible to training providers that you have not submitted an application to.
      You can <a href="/applications/candidate-pool" class="govuk-link">change this setting to stop providers viewing your details</a>.
      {% else %}
      Your application details are not visible to training providers that you have not submitted an application to.
      <a href="/applications/candidate-pool" class="govuk-link">You can change this setting to allow providers to view your details</a>.
      {% endif %}
    </p>
    {% endif %}

  </div>
</div>
{% endblock %}
