{% extends "_content.njk" %}

{% set title = "Applications" %}

{% block primary %}
  {% if hasStartedApplications() %}
    <p>You have started a new application.</p>
    {{ govukButton({
      text: "Edit current application",
      href: "/application/started"
    }) }}
  {% else %}
    <p>Start a new application and we’ll copy everything over from your last application to get you started.</p>
    {{ govukButton({
      text: "Start a new application",
      href: "/application/start/course",
      isStartButton: true
    }) }}
  {% endif %}

  <hr class="govuk-section-break govuk-section-break--m">

  {% for applicationId, application in data.applications %}
    {% if application.status == 'submitted' %}
      <h3 class="govuk-heading-l">Application submitted {{ "now" | date("d MMMM yyyy") }}</h3>
      <p><a href="/application/{{ applicationId }}/submitted">View application</a></p>
      <p>Training providers must respond by {{ "now" | date | addDays("40") | date("d MMMM yyyy") }}.</p>

      {% for id, c in application.courses %}
        {% set provider = providers[c.providerCode] %}
        {% set course = provider.courses[c.courseCode] %}
        <h4 class="govuk-heading-m">{{ provider.name }}</h4>
        {{ govukSummaryList({
          classes: "app-summary",
          rows: [{
            key: {
              text: "Course"
            },
            value: {
              html: "<a href=\"#\">" + course.name_and_code + "</a>"
            }
          }, {
            key: {
              text: "Description"
            },
            value: {
              html: course.description
            }
          }, {
            key: {
              text: "Response"
            },
            value: {
              html: "No response yet"
            }
          }]
        }) }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
