{% extends "layouts/main.html" %}

{% set title = "Interview needs for " + data.applications[id].providerName %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/personal-statement",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">Providers do not usually have much flexibility when setting a date and time for interview unless you need adjustments due to a <a href="/application/additional-support">health condition or disability</a>.</p>
      <p class="govuk-body">However, if you need flexibility for other reasons you can tell us about it here.</p>
      <p class="govuk-body">For example: you have commitments like caring responsibilities or employment.</p>
      <p class="govuk-body">Contact {{ data.applications[id].providerName }} if you’re concerned about the interview process.</p>

      <form action="/applications/{{ id }}/additional-information" method="post">
        {% set interviewHtml %}
          {{ govukCharacterCount({
            name: "applications[" + id + "][interviewNeedsDetail]",
            id: "interview-needs-detail",
            value: data.applications[id].interviewNeedsDetail,
            label: {
              text: "What are your interview needs?",
              classes: "govuk-label--s"
            },
            maxlength: 150,
            threshold: 75
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "applications[" + id + "][interviewNeeds]",
          value: data.applications[id].interviewNeeds,
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "Do you have any interview needs?"
            }
          },
          items: [{
            text: "Yes",
            value: "yes",
            conditional: {
              html: interviewHtml
            }
          }, {
            text: "No",
            value: "no"
          }]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
