{% extends "layouts/main.html" %}
{% set section = "applications" %}
{% set title = "Cover letter" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/courses-other",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>


      {% set guidanceHtml %}

        <p class="govuk-body">Use this to tell {{ data.applications[id].providerName }} why you want to train to be a teacher with them.</p>

        <p class="govuk-body">You could write about:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% set primaryRegex = r/^Primary\s.*/g %}
          {% set courseCodeRegex = r/\([^)]+\)/ %}
          {% if primaryRegex.test(data.applications[id].course) %}
          {% else %}
            <li>your interest in {{ data.applications[id].course | replace(courseCodeRegex, "") | lower }}</li>
          {% endif %}

          <li>skills you have that are relevant to teaching</li>
          <li>any experience of working with young people</li>
          <li>your understanding of why teaching is important</li>
        </ul>

        <p>You can write up to 600 words.</p>

      {% endset %}

      {{ guidanceHtml | safe }}

      <form action="/applications/{{ id }}/interview-needs" method="post">
        {{ govukCharacterCount({
          name: "applications[" + id + "][personalStatement]",
          value: data.applications[id].personalStatement,
          id: "personal-statement",
          label: {
            text: "Your cover letter",
            classes: "govuk-label--m govuk-!-margin-top-6"
          },
          rows: 10,
          maxwords: 600
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
