{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Personal statement" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/course",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>


      {% set guidanceHtml %}
      <div class="govuk-inset-text">
        <p class="govuk-body">We've copied your statement from your details. You can edit it further if you want to.</p>
        <p class="govuk-body">Any changes you make will be saved for this application and on your statement in your details.</p>
      </div>
        <p class="govuk-body">You should write 500 words for your personal statement.</p>
        <p class="govuk-body">Here are some examples you could add (they are just a guide, you do not need to write about all of them):</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>why you're applying to {{ data.applications[id].providerName }}</li>

          {% set primaryRegex = r/^Primary\s.*/g %}
          {% set courseCodeRegex = r/\([^)]+\)/ %}
          {% if primaryRegex.test(data.applications[id].course) %}
          {% else %}
            <li>your interest in {{ data.applications[id].course | replace(courseCodeRegex, "") | lower }}</li>
          {% endif %}
        </ul>

      {% endset %}

      {{ guidanceHtml | safe }}

      <form action="/applications/{{ id }}/review" method="post">
        {{ govukCharacterCount({
          name: "personalStatement",
          value: data.personalStatement,
          id: "personal-statement",
          label: {
            text: "Your personal statement",
            classes: "govuk-label--m govuk-!-margin-top-6"
          },
          rows: 15,
          maxwords: 500
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
