{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Personal statement" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/course",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>


      {% set guidanceHtml %}

        {% if lastApplication %}
          <div class="govuk-inset-text">
           <p class="govuk-body">We've copied your personal statement from your previous application.</p>

           <p class="govuk-body">You can make changes to your statement for this application, or leave it the same.</p>
          </div>
        {% endif %}


        <p class="govuk-body">You should write between 500 words for your personal statement.</p>
        <p class="govuk-body">Here are some examples you could write about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>skills you have that are relevant to teaching</li>
          <li>any experience of working with young people</li>

          {% set primaryRegex = r/^Primary\s.*/g %}
          {% set courseCodeRegex = r/\([^)]+\)/ %}
          {% if primaryRegex.test(data.applications[id].course) %}
          {% else %}
            <li>your interest in {{ data.applications[id].course | replace(courseCodeRegex, "") | lower }}</li>
          {% endif %}
          <li>any activities you’ve done that could be relevant to teaching like first aid courses, sports coaching or volunteering</li>
        </ul>

      {% endset %}

      {{ guidanceHtml | safe }}



      {% set personalStatementHtml %}
        {{ govukCharacterCount({
          name: "applications[" + id + "][personalStatement]",
          value: data.applications[id].personalStatement,
          id: "personal-statement",
          label: {
            text: "Your personal statement",
            classes: "govuk-label--m govuk-!-margin-top-6"
          },
          rows: 15,
          maxwords: 500
        }) }}
      {% endset %}


      {% set hint %}
        You can finish your statement later if you're not ready to write it now.
      {% endset %}


      <form action="/applications/{{ id }}/review" method="post">
        {{ govukCharacterCount({
          name: "applications[" + id + "][personalStatement]",
          value: data.application.id.personalStatement or lastApplication.personalStatement,
          id: "personal-statement",
          label: {
            text: "Your personal statement ",
            classes: "govuk-label--m govuk-!-margin-top-6"
          },
          hint: {
            text: hint
          },
          rows: 15,
          maxwords: 500
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
