{% extends "layouts/main.html" %}
{% set section = "applications" %}

{% set title = "Which training provider are you applying to?" %}
{% set formaction = paths.next %}
{% block beforeContent %}
  {{ govukBackLink({ href: "/applications" }) }}
  {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title}}</h1>

      <form action="/applications/{{ id }}/course" method="post">
        {{ govukSelect({
          name: "applications[" + id + "][providerName]",
          value: applications[id].providerName,
          label: {
            text: "Provider name"
          },
          items: providerItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
