{% from "_components/offer-summary/macro.njk" import appOfferSummary %}

{% extends "layouts/main.html" %}

{% set choice = data.choices[id] %}
{% set primaryNavId = "applications" %}
{% set title = "Details of offer" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ appOfferSummary( data.applications[id] ) }}

      <form action="/applications/{{ id}}/decision" method="post">
        {{ govukRadios({
          fieldset: {
            classes: "govuk-!-margin-top-6",
            legend: {
              text: "How do you want to respond to this offer?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          id: "decision",
          name: "decision",
          items: [
            {
              value: "accept",
              text: "Accept offer and conditions"
            },
            {
              value: "decline",
              text: "Decline offer"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
