{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Your application to " + data.applications[id].providerName %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% if not application.submittedAt %}
        <p class="govuk-body">This information and your details will be shared with {{ application.providerName }}.</p>
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: application.course + "<br>PGCE"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
                }
              ]
            } if not application.submittedAt
          },
          {
            key: {
              text: "Study mode"
            },
            value: {
              html: "Full time"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
                }
              ]
            } if 1 ==2
          }

        ]

      })}}

      <div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Personal statement</h2>
    {% if application.personalStatement and not application.submittedAt %}
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action"> <a class="govuk-link govuk-!-font-weight-regular" href="/applications/{{ id }}/personal-statement">Edit your personal statement</a>
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        {% if application.personalStatement %}
          {{ application.personalStatement | govukMarkdown | safe }}
        {% else %}
          <a class="govuk-link govuk-!-font-size-19" href="/applications/{{ id }}/personal-statement">Add your personal statement</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% if not application.submittedAt %}
      {% if numberOfApplicationsLeft > 0 and (data | allSectionsCompleted) and application.personalStatement %}
        <form action="/applications/{{ id }}/submit" method="post">
          {{ govukRadios({
            name: "submitNow",
            fieldset: {
              legend: {
                text: "Do you want to submit your application?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, submit it now"
              },
              {
                value: "no",
                text: "No, save it as a draft"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          })}}
        </form>
      {% else %}



        {% if not application.personalStatement %}
          <p class="govuk-body">You cannot submit this application, it will be saved as a draft until you’ve written your personal statement.</p>
        {% elseif not (data | allSectionsCompleted) %}

          <p class="govuk-body">You cannot submit this application until you’ve completed your details.</p>

        {% else %}
          <p class="govuk-body">You cannot submit this application because you’re waiting for decisions on 4 others.</p>
          <p class="govuk-body">If one of your other applications is unsuccessful, or you withdraw it, you will be able to submit this one.</p>
        {% endif %}
      {% endif %}
    {% endif %}
    </div>
  </div>
{% endblock %}
