{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Your application to " + data.applications[id].providerName %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to your applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">This information and your details will be shared with {{ application.providerName }} when you submit your application.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: application.course + "<br>PGCE"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
                }
              ]
            } if not application.submittedAt
          },
          {
            key: {
              text: "Study mode"
            },
            value: {
              html: "Full time"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
            }
          ]
        }
      }
    ]
      })}}

      {% if data.immigration == "No"  %}
        <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
           Visa sponsorship is not available for this course.
        </strong>
        </div>
        <p class="govuk-body"><a href="https://www.find-postgraduate-teacher-training.service.gov.uk" class="govuk-link">Find a course that has visa sponsorship</a></p>

      {% elif numberOfApplicationsLeft > 0 and (data | allSectionsCompleted) %}
        <form action="/applications/{{ id }}/submit" method="post">
          <h2 class="govuk-heading-m">Review and submit your application</h2>
            <p class="govuk-body"> You will have the opportunity to review your application in full before you submit it.</p>
          <div class="govuk-button-group">
           {{ govukButton({
          name: "submitNow",
           value: "yes",
           text: "Review application"
            }) }}

          <a class="govuk-link" href="/applications">Save as a draft</a>
          </div>
        </form>
      {% else %}

        {% if not (data | allSectionsCompleted) %}

          <p class="govuk-body">You need to <a class="govuk-link" href="/details">complete your details</a> before you can submit this application.</p>
          <p class="govuk-body ">This application will be saved as a draft while you finish your details.</p>

        {% elif data.immigration == "Yes" %}

        <p> this course does not offer visa sponsorship </p>

        {% else %}
          <p class="govuk-body">You cannot submit this application because you’re waiting for decisions on 4 others.</p>
          <p class="govuk-body">If one of your other applications is unsuccessful, or you withdraw it, you will be able to submit this one.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
