{% extends "layouts/main.html" %}

{% set title = "Your application to " + data.applications[id].providerName %}
{% set section = "applications" %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">This information and your details will be shared with {{ application.providerName }}.</p>

      {% set otherCoursesHtml %}
        {% if application.otherCourses | first == "no" %}
          None
        {% else %}
          <ul class="govuk-list">
          {% for course in application.otherCourses %}
            <li>{{ course }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: application.course + "<br>PGCE<br>Full time"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
                }
              ]
            }
          },
          {
            key: {
              text: "Other courses you’re interested in"
            },
            value: {
              html: otherCoursesHtml
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/courses-other"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Personal statement"
            },
            value: {
              text: application.personalStatement
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/personal-statement"
                }
              ]
            }
          },
          {
            key: {
              text: "Interview needs"
            },
            value: {
              text: (application.interviewNeedsDetail or "None")
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/interview-needs"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: (application.additionalInformationDetail or "None")
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/additional-information"
                }
              ]
            }
          }


        ]

      })}}

      {% if numberOfApplicationsLeft > 0 %}

        <form action="/applications/{{ id }}/submit" method="post">
          {{ govukRadios({
            name: "submitNow",
            fieldset: {
              legend: {
                text: "Do you want to submit your application?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, submit it now"
              },
              {
                value: "no",
                text: "No, save it as a draft"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          })}}
        </form>
      {% else %}
        <p class="govuk-body">ou cannot submit this application because you’re waiting for decisions on 4 others.</p>
        <p class="govuk-body">If one of your other applications is unsuccessful, or you withdraw it, you will be able to submit this one.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
