{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}

{% set title = "Which location are you interested in?" %}
{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/course"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">{{ application.providerName }}</span>
      <h1 class="govuk-heading-l">School placement location</h1>

      <p class="govuk-body">You can select a preferred placement location, but there is no guarantee you will be placed in the school you choose.</p>
      <p class="govuk-body">The training provider will contact you to discuss your choice to help them select a location that suits you.</p>

      <form action="/applications/{{ id }}/review" method="post">


    {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--m"
        }
      },
      idPrefix: "placement",
      items: placementItems,
      name: "applications[" + id + "][placement][" + priority + "]",
      value: data.applications[id].placement[" + priority + "]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
</div>
</div>
{% endblock %}
