{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}

{% set title = "Select your " + priority + " choice placement" %}
{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + id + "/course"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">{{ application.providerName }}</span>
      <h1 class="govuk-heading-l">Placement schools</h1>

      {% if priority == 'first' %}
      <p class="govuk-body">Your training provider will select at least 2 different placement schools to give you experience of teaching in a real classroom. They will choose placements based on both your practical needs, such as location and transport, and their knowledge of the different strengths and features of the schools in their network.</p>
      <p class="govuk-body">You can select the schools that you are most interested in, but this does not guarantee that you will be placed in them.</p>
      <p class="govuk-body"> The schools that training providers work with can change, so schools may be added or removed from this list at any time.</p>

      <form action="/applications/{{ id }}/school-placement-second" method="post">
      {% else %}
      <form action="/applications/{{ id }}/school-placement-preferences" method="post">
      {% endif %}


    {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--m"
        }
      },
      idPrefix: "placement",
      items: placementItems,
      name: "applications[" + id + "][placement][" + priority + "]",
      value: data.applications[id].placement[" + priority + "]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
</div>
</div>
{% endblock %}
