{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Reasons for withdrawing" %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/applications/{{ id }}/withdraw" method="post">

      {% set otherHtml %}
        {{ govukTextarea({
          name: "moreDetail",
          id: "more-detail",
          label: {
            text: "Details",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "reason",
        fieldset: {
          legend: {
            text: "Why are you withdrawing this application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "I am going to apply (or have applied) to a different training provider",
            value: "different-provider"
          },
          {
            text: "I am going to change or update my application with this training provider",
            value: "update"
          },
          {
            text: "I plan to apply for teacher training in the future",
            value: "future"
          },
          {
            text: "I do not want to train to teach anymore",
            value: "change-mind"
          },
          {
            text: "Other",
            value: "other",
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
