{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Reasons for withdrawing" %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">The reasons you select may be shared with {{ application.providerName }}. They will receive these reasons as anonymous feedback so they will not know it was you.</p>

      <form action="/applications/{{ id }}/withdraw-reason" method="post">

      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "Why are you withdrawing this aplication? (optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: 'Select all that apply.'
        },
        items: [
          { text: "I'm going to apply (or have applied) to a different training provider" },
          { text: "I'm going to apply (or have applied) to a different course at the same training provider" },
          { text: "I have concerns about the cost of doing the course" },
          { text: "The course is not available anymore" },
          { text: "The wait to start the course is too long" },
          { text: "I've decided to apply for teacher training next year" },
          { text: "The training provider has asked me to withdraw" },
          { text: "The training provider has not responded to me" },
          { text: "The location I'm expected to train at is too far away" },
          { text: "I have concerns that I will not have time to train" },
          { text: "I have concerns about training with a disability or health condition" },
          { text: "I do not want to train to be a teacher anymore" }
        ]
      }) }}

      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: "Is there anything else you'd like to tell us? (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "This will not be shared with " + application.providerName + "."
        }
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
