{% extends "layouts/main.html" %}

{% set primaryNavId = "applications" %}
{% set title = "Are you sure you want to withdraw this application?" %}

{% set application = data.applications[id] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              html: application.course + "<br>PGCE"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
                }
              ]
            } if not application.submittedAt
          },
          {
            key: {
              text: "Full time or part time"
            },
            value: {
              html: "Full time"
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/course"
            }
          ]
        }
      },
      {
            key: {
              text: "Location"
            },
            value: {
              html: application.placement
            },
            actions: {
              items: [
                {
                  text: "Change",
                  href: "/applications/" + id + "/school-placement"
            }
          ]
        }
      }
    ]
      })}}

      <p class="govuk-body">Once you have a total of 15 unsuccessful or withdrawn applications, you will not be able to apply for any more courses until October 2024.</p>
      <p class="govuk-body">Do not withdraw if you need to change information on your application. Tell your training provider instead.</p>
      <form action="/applications/{{ id }}/withdraw" method="post">
        {{ govukButton({
          text: "Yes I’m sure - withdraw this application",
          classes: "govuk-button--warning"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
