{% extends "_layout.njk" %}

{% set parent = "Prototype admin" %}
{% set title = "Clear data?" %}
{% set hasAccountLinks = false %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/admin"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukWarningText({
    text: "This will clear all of the data entered in this session",
    iconFallbackText: "Warning"
  }) }}

  <form action="/admin/clear-data" method="post">
    {{ govukButton({
      text: "Clear the data"
    }) }}
  </form>
{% endblock %}
