{% extends "layouts/main.html" %}

{% set parent = "Prototype admin" %}
{% set title = "Feature flags" %}
{% set hasAccountLinks = false %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/admin"
  }) }}
{% endblock %}

{% block content %}
  {% set rows = [] %}
  {% for flag, value in flags %}
    {% set result = rows.push({
      key: {
        classes: "govuk-!-width-three-quarters",
        html: "<code>" + flag + "</code>"
      },
      value: {
        html: "<code>" + value + "</code>"
      }
    }) %}
  {% endfor %}
  {{ govukSummaryList({
    rows: rows
  }) }}
{% endblock %}
