{% extends "_form.njk" %}

{% set parent = "Prototype admin" %}
{% set title = "Application states" %}
{% set hasAccountLinks = false %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/admin"
  }) }}
{% endblock %}

{% block primary %}
  <h2 class="govuk-heading-m">Application</h2>
  <dl class="govuk-list app-list--definition">
    <dt><a href="/application/start">Have not started form</a></dt>
    <dd>The candidate has signed in but has not edited the form yet.</dd>
    <dt><a href="/application/12345">Form started but unsubmitted</a></dt>
    <dd>The candidate has started editing but has not submitted the form yet.</dd>
    <dt><a href="/application/12346">Form started but unsubmitted (apply again)</a></dt>
    <dd>The candidate has started apply again but has not submitted the form yet.</dd>
  </dl>

  <h2 class="govuk-heading-m">Post-submission</h2>

  <h3 class="govuk-heading-s">Applied for a single course</h3>

  <dl class="govuk-list app-list--definition">
    <dt><a href="/dashboard/45678/awaiting-provider-decision">Awaiting decision from provider</a></dt>
    <dd>Candidate needs to wait</dd>
    <dt><a href="/dashboard/45678/future-interview">Interview scheduled in future</a></dt>
    <dd>Candidate needs to attend interview</dd>
    <dt><a href="/dashboard/45678/post-interview">After interview, still awaiting decision</a></dt>
    <dd>Candidate needs to wait</dd>
    <dt><a href="/dashboard/45678/offer-received">Received an offer with conditions</a></dt>
    <dd>Candidate needs to respond to the offer</dd>
    <dt><a href="/dashboard/45678/offer-received-different-course">Received an an offer for a different course</a></dt>
    <dd>Candidate needs to respond to the offer</dd>
    <dt><a href="/dashboard/45678/offer-received-different-provider">Received an an offer for a course from a different provider</a></dt>
    <dd>Candidate needs to respond to the offer</dd>
    <dt><a href="/dashboard/45678/unsuccessful-with-feedback">Unsuccessful - provider has given feedback</a></dt>
    <dd>Candidate can apply again using feedback</dd>
    <dt><a href="/dashboard/45678/unsuccessful-course-full">Unsuccessful - course was full</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/unsuccessful-provider-did-not-respond">Unsuccessful - provider did not respond in time</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/withdrawn">Candidate withdrew application</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/withdrawn-by-provider">Provider withdrew application at candidate’s request</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/offer-withdrawn">Offer withdrawn by provider</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/accepted">Accepted (pending conditions)</a></dt>
    <dd>Candidate needs to meet the conditions</dd>
    <dt><a href="/dashboard/45678/declined">Declined</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/deferred">Deferred</a></dt>
    <dd>Candidate needs to meet conditions before next year</dd>
    <dt><a href="/dashboard/45678/did-not-respond-to-offer">Candidate did not respond to offer in time</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/conditions-not-met">Candidate did not meet offer conditions in time</a></dt>
    <dd>Candidate can apply again</dd>
    <dt><a href="/dashboard/45678/recruited-single">Candidate recruited</a></dt>
    <dd>Signposting of onward services?</dd>

  </dl>

  <h3 class="govuk-heading-s">Applied for multiple courses</h3>

  <dl class="govuk-list app-list--definition">
    <dt><a href="/dashboard/12345/awaiting-all-provider-decisions">Awaiting decisions from all providers</a></dt>
    <dd>We’ve sent the applications to the providers, but haven’t yet heard back from any of them</dd>

    <dt><a href="/dashboard/12345/interviewing">Interviewing</a></dt>
    <dd>Some providers have indicated that they’ve invited the candidate to interview.</dd>

    <dt><a href="/dashboard/12345/awaiting-one-provider-decision-one-offer">One offer received, still awaiting one provider decision</a></dt>
    <dd>Candidate has received one offer and one rejection but is still waiting on the third provider</dd>

    <dt><a href="/dashboard/12345/awaiting-one-provider-decision-no-offers">Two rejections received, still awaiting third provider decision</a></dt>
    <dd>Candidate has received two rejections but is still waiting on the third provider</dd>

    <dt><a href="/dashboard/12345/received-one-offer">Received one offer</a></dt>
    <dd>All providers have responded and one offer has been made</dd>

    <dt><a href="/dashboard/12345/received-two-offers">Received two offers</a></dt>
    <dd>All providers have responded and two offers have been made</dd>

    <dt><a href="/dashboard/12345/ended-without-success">Ended without success (actionable feedback)</a></dt>
    <dd>All of the candidate’s applications were unsuccessful, but they were given clear, actionable feedback.</dd>

    <dt><a href="/dashboard/12345/ended-without-success-vague-feedback">Ended without success (vague feedback)</a></dt>
    <dd>All of the candidate’s applications were unsuccessful, but the feedback was vague.</dd>

    <dt><a href="/dashboard/12345/ended-without-success-qualifications-feedback">Ended without success (feedback suggests did not meet entry criteria)</a></dt>
    <dd>All of the candidate’s applications were unsuccessful, and the feedback suggests it was because the entry criteria was not met.</dd>

    <dt><a href="/dashboard/12345/pending-conditions">Accepted offer, pending conditions</a></dt>
    <dd>The candidate has accepted an offer. The provider now has to confirm to us that the candidate has met the conditions in the offer.</dd>
    <dt><a href="/dashboard/12345/offer-deferred">Offer deferred</a></dt>
    <dd>The candidate has deferred their offer until the next academic year.</dd>
    <dt><a href="/dashboard/12345/recruited">Recruited</a></dt>
    <dd>The candidate has been recruited.</dd>
  </dl>

  <h3 class="govuk-heading-s">Entry requirements</h3>

  <dl class="govuk-list app-list--definition">
    <dt><a href="/application/52614">Has a 2:2 degree, applying to a course requiring a 2:1</a></dt>
    <dd>The candidate will see some guidance</dd>

    <dt><a href="/application/21234">Does not yet have right to work in the UK, applying to a course which can sponsor a visa</a></dt>
    <dd>The candidate will see some guidance</dd>
  </dl>


  <h3 class="govuk-heading-s">Applying again</h3>

  <dl class="govuk-list app-list--definition">
    <dt><a href="/dashboard/23456/awaiting-apply-again-response">Awaiting decision from the 'apply again' application</a></dt>
    <dd>The candidate can also see a summary of their previous applications</dd>
  </dl>

  <h3 class="govuk-heading-s">End of cycle</h3>

  <dl class="govuk-list app-list--definition">
    <dt><a href="/application/45678/unsubmitted-deadline-passed">Unsubmitted by Apply 1 or 2 deadline </a></dt>
    <dd>The candidate sees a 'carry over' interstitial inviting them to apply again for the following year.</dd>

    <dt><a href="/dashboard/45678/end-of-cycle-unsuccessful">Unsuccessful, apply 2 deadline closed</a></dt>
    <dd>The candidate sees a 'carry over' message inviting them to apply again for the following year.</dd>
  </dl>

{% endblock %}
