{% extends "_form.njk" %}

{% set title = "Add maths GCSE or equivalent" %}
{% set parent = "Eligibility and qualifications" %}
{% set formAction = "/profile/academic-qualifications" %}

{% block primary %}
{% set validateEquivalence %}
  {{ govukInput({
    label: {
      text: "Please explain how you plan to validate this qualification"
    },
    id: "maths-qualification-equivalence",
    name: "maths-qualification-equivalence"
  }) }}
{% endset -%}

{% set internationalQualification %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "maths-qualification-country",
    name: "maths-qualification-country",
    items: countries
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?"
      }
    },
    idPrefix: "maths-qualification-naric",
    name: "maths-qualification-naric",
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No",
      conditional: {
        html: validateEquivalence
      }
    }]
  }) }}
{% endset -%}

  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "GCSE, O level, or other (please specify)."
    },
    id: "maths-qualification-type",
    name: "maths-qualification-type"
  }) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    id: "maths-qualification-grade",
    name: "maths-qualification-grade"
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    id: "maths-qualification-year",
    name: "maths-qualification-year",
    classes: "govuk-input--width-4"
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this an international qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "maths-qualification-international",
    name: "maths-qualification-international",
    items: [{
      value: "yes",
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukInput({
    label: {
      text: "I don’t have this qualification yet",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Please explain how you plan to meet this requirement in time for the start of your course."
    },
    id: "maths-qualification-missing",
    name: "maths-qualification-missing"
  }) }}

  {{ govukButton({
    text: "Add maths GCSE or equivalent"
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#maths-qualification-country')
    })
  </script>
{% endblock %}
