{% extends "_form.njk" %}

{% set title = "Add English GCSE or equivalent" %}
{% set parent = "Eligibility and qualifications" %}
{% set formAction = "/profile/academic-qualifications" %}

{% block primary %}
{% set validateEquivalence %}
  {{ govukInput({
    label: {
      text: "Please explain how you plan to validate this qualification"
    },
    id: "english-qualification-equivalence",
    name: "english-qualification-equivalence"
  }) }}
{% endset -%}

{% set internationalQualification %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "english-qualification-country",
    name: "english-qualification-country",
    items: countries
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?"
      }
    },
    idPrefix: "english-qualification-naric",
    name: "english-qualification-naric",
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No",
      conditional: {
        html: validateEquivalence
      }
    }]
  }) }}
{% endset -%}

{% if international == true %}
  <p class="govuk-body">If you studied for your degree or other qualifications overseas, you will need to check that they are valid in the UK.</p>
  <p class="govuk-body">As a first step, you should register at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA will be able to tell you if your international qualifications make you eligible for teacher training and how they correspond to English exam grades.</p>
  <h3 class="govuk-heading-s">Check with your provider</h3>
  <p class="govuk-body">You should also contact your chosen training provider to check their policy on international qualifications. They may ask you to sit ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE) and recommend an equivalency testing centre.</p>
  <p class="govuk-body">If you have already been in touch with <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> and have a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx">statement of comparability</a> for your qualifications, you’ll have the opportunity to tell us below.</p>
{% endif %}

  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "GCSE, O level, or other (please specify)."
    },
    id: "english-qualification-type",
    name: "english-qualification-type"
  }) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    id: "english-qualification-grade",
    name: "english-qualification-grade"
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    id: "english-qualification-year",
    name: "english-qualification-year",
    classes: "govuk-input--width-4"
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this an international qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "english-qualification-international",
    name: "english-qualification-international",
    items: [{
      value: "yes",
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukInput({
    label: {
      text: "I don’t have this qualification yet",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Please explain how you plan to meet this requirement in time for the start of your course."
    },
    id: "english-qualification-missing",
    name: "english-qualification-missing"
  }) }}

  {{ govukButton({
    text: "Add English GCSE or equivalent"
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#english-qualification-country')
    })
  </script>
{% endblock %}
