{% extends "_form.njk" %}

{% set parent = "Eligibility and qualifications" %}

{% block primary %}
{% set validateEquivalence %}
  {{ govukInput({
    label: {
      text: "Please explain how you plan to validate this qualification"
    },
    id: "degrees[" + id + "][equivalence]",
    name: "degrees[" + id + "][equivalence]",
    value: data["degrees"][id].equivalence
  }) }}
{% endset -%}
{% if international == true %}
  <p class="govuk-body-l">If you studied for your degree overseas, you will need to check that it is valid in the UK.</p>
  <p class="govuk-body">Enter an English translation of the details of your degree as they appear on your certificate.</p>
  <p class="govuk-body">Next, register at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA will be able to tell you if your non-UK degree makes you eligible for teacher training and how it corresponds to an English degree.</p>
  <p class="govuk-body">If you have already been in touch with <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> and have a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx">statement of comparability</a> for your degree, you’ll have the opportunity to tell us below.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% else %}
  <p class="govuk-body">Individual training providers set specific requirements for their courses. Contact your chosen training provider to check your degree meets the standard they’ve set for your course.</p>
{% endif %}

  {{ govukInput({
    label: {
      text: "Type of degree",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, BA, BSc, Masters, Phd, or other (please specify)."
    },
    id: "degrees[" + id + "][type]",
    name: "degrees[" + id + "][type]",
    value: data["degrees"][id].type
  }) }}

  {{ govukInput({
    label: {
      text: "Subject of degree",
      classes: "govuk-label--s"
    },
    id: "degrees[" + id + "][subject]",
    name: "degrees[" + id + "][subject]",
    value: data["degrees"][id].subject
  }) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--s"
    },
    id: "degrees[" + id + "][institution]",
    name: "degrees[" + id + "][institution]",
    value: data["degrees"][id].institution
  }) }}

{% if international == true %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this degree?",
      classes: "govuk-label--s"
    },
    id: "degrees-" + id + "-country",
    name: "degrees[" + id + "][country]",
    value: data["degrees"][id].country,
    items: countries
  }) }}
{% endif %}

  {{ govukInput({
    label: {
      text: "Degree grade",
      classes: "govuk-label--s"
    },
    hint: {
      text: "If you enter a predicted grade, you must choose an academic referee (in the ‘References’ section) who can validate it."
    },
    classes: "govuk-!-width-one-third",
    id: "degrees[" + id + "][grade]",
    name: "degrees[" + id + "][grade]",
    value: data["degrees"][id].grade
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    hint: {
      text: "If you are still studying, give us your predicted grade and date of graduation. You must have successfully graduated by the time you start your course."
    },
    classes: "govuk-input--width-4",
    id: "degrees[" + id + "][year]",
    name: "degrees[" + id + "][year]",
    value: data["degrees"][id].year
  }) }}

{% if international == true %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "degrees[" + id + "][naric]",
    name: "degrees[" + id + "][naric]",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("['degrees']['" + id + "']['naric']", "yes")
    }, {
      value: "no",
      text: "No",
      checked: checked("['degrees']['" + id + "']['naric']", "no"),
      conditional: {
        html: validateEquivalence
      }
    }]
  }) }}
{% endif %}

  {{ govukInput({
    id: "degree-completed",
    name: "degree-completed",
    type: "hidden",
    value: true
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    html: "Save and add another degree",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/profile/academic-qualifications/degree"
    }
  }) }}
{% endif %}
  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
{% block pageScripts %}
{% if international == true %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#degrees-{{ code }}-country')
    })
  </script>
{% endif %}
{% endblock %}
