{% extends "_form.njk" %}

{% set parent = "Eligibility and qualifications" %}

{% block primary %}
{% set internationalQualification %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "qualification-country",
    name: "qualification-country",
    value: data["qualification-country"],
    items: countries
  }) }}
{% endset -%}
  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, BA, BSc, Masters, Phd, or other (please specify)."
    },
    id: "qualification-type",
    name: "qualification-type",
    value: data["qualification-type"]
  }) }}

  {{ govukInput({
    label: {
      text: "Subject",
      classes: "govuk-label--s"
    },
    id: "qualification-subject",
    name: "qualification-subject",
    value: data["qualification-subject"]
  }) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--s"
    },
    id: "qualification-institution",
    name: "qualification-institution",
    value: data["qualification-institution"]
  }) }}

  {{ govukInput({
    label: {
      text: 'Grade',
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-10",
    id: "qualification-grade",
    name: "qualification-grade",
    value: data["qualification-grade"]
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4",
    id: "qualification-year",
    name: "qualification-year",
    value: data["qualification-year"]
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this a non-UK qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "qualification-international",
    name: "qualification-international",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("qualification-international", "yes"),
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No",
      checked: checked("qualification-international", "no")
    }]
  }) }}

  {{ govukInput({
    id: "qualification-completed",
    name: "qualification-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#qualification-country')
    })
  </script>
{% endblock %}
