{% extends "_form.njk" %}

{% set title = "Academic qualifications" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Your teaching potential",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% set qualification = data["degree-type"] + " " + data["degree-subject"] %}
  {% set qualificationHref = "/profile/academic-qualifications/add-degree" %}
  {% set qualificationLink = "<a href=\"" + qualificationHref + "?edit=true\" aria-label=\"Edit " + qualification + "\">Edit</a>" %}
  {% set qualificationLink = qualificationLink | safe %}
  {{ govukTable({
    caption: "Degree(s)",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: qualification
      }, {
        text: data["degree-class"]
      }, {
        text: data["degree-year"]
      }, {
        html: qualificationLink
      }]
    ]
  }) }}

  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/degree"
  }) }}

  <h2 class="govuk-heading-m">Required GCSEs</h2>
  {{ govukButton({
    text: "Add maths GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/add-maths-gcse"
  }) }}

  {{ govukButton({
    text: "Add English GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/add-english-gcse"
  }) }}

  {{ govukButton({
    text: "Add science GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/add-science-gcse"
  }) }}

  {% set qualification = data["qualification-type"] + " " + data["qualification-subject"] %}
  {% set qualificationHref = "/profile/academic-qualifications/add-qualification" %}
  {% set qualificationLink = "<a href=\"" + qualificationHref + "?edit=true\" aria-label=\"Edit " + qualification + "\">Edit</a>" %}
  {% set qualificationLink = qualificationLink | safe %}
  {{ govukTable({
    caption: "Other qualifications",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: qualification
      }, {
        text: data['qualification-grade']
      }, {
        text: data['qualification-year']
      }, {
        text: qualificationLink
      }]
    ]
  }) }}

  {{ govukButton({
    text: "Add another qualification",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/add-qualification"
  }) }}

  <hr class="govuk-section-break">

  {{ govukInput({
    id: "academic-qualifications-completed",
    name: "academic-qualifications-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
