{% extends "_form.njk" %}

{% set title = "Academic qualifications" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% set qualification = data["degree-type"] + " " + data["degree-subject"] %}
  {% set qualificationHref = "/profile/academic-qualifications/edit-degree" %}
  {% set qualificationLink = "<a href=\"" + qualificationHref + "\">Edit</a>" %}
  {% set qualificationLink = qualificationLink | safe %}
  {{ govukTable({
    caption: "Degree(s)",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: qualification
      }, {
        text: data["degree-class"]
      }, {
        text: data["degree-year"]
      }, {
        html: qualificationLink
      }]
    ]
  }) }}

  {{ govukButton({
    text: "Add another degree",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/degree"
  }) }}

  {{ govukTable({
    caption: "Required subjects",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: "Maths " + data["maths-qualification-type"]
      }, {
        text: data['maths-qualification-grade']
      }, {
        text: data['maths-qualification-year']
      }, {
        html: "<a href=\"/profile/academic-qualifications/edit-maths-gcse\">Edit</a>"
      }], [{
        text: "English " + data["english-qualification-type"]
      }, {
        text: data['english-qualification-grade']
      }, {
        text: data['english-qualification-year']
      }, {
        html: "<a href=\"/profile/academic-qualifications/edit-english-gcse\">Edit</a>"
      }], [{
        text: "Science " + data["science-qualification-type"]
      }, {
        text: data['science-qualification-grade']
      }, {
        text: data['science-qualification-year']
      }, {
        html: "<a href=\"/profile/academic-qualifications/edit-science-gcse\">Edit</a>"
      }]
    ]
  }) }}

{% if data["qualification-completed"] %}
  {{ govukTable({
    caption: "Other relevant qualifications",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: data['qualification-subject']
      }, {
        text: data['qualification-grade']
      }, {
        text: data['qualification-year']
      }, {
        html: "<a href=\"/profile/academic-qualifications/edit-qualification\">Edit</a>"
      }]
    ]
  }) }}
{% else %}
  <h2 class="govuk-heading-m">Other relevant qualifications</h2>
  <p class="govuk-body">Enter your remaining GCSEs, A levels, and any practical, vocational or arts-based qualifications. Providers use this information to assess your academic ability and the broader contribution you can make to a school.</p>
{% endif %}

  {{ govukButton({
    text: "Add another qualification",
    classes: "govuk-button--secondary",
    href: "/profile/academic-qualifications/add-qualification"
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Is there anything you’d like to tell us about your qualifications?",
      classes: "govuk-label--m"
    },
    id: "subject-knowledge-additional",
    name: "subject-knowledge-additional",
    value: data["subject-knowledge-additional"],
    maxwords: 600,
    rows: 12
  }) }}

  {{ govukInput({
    id: "academic-qualifications-completed",
    name: "academic-qualifications-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
