{% extends "_form.njk" %}

{% set parent = "Eligibility and qualifications" %}

{% block primary %}
{% set validateEquivalence %}
  {{ govukInput({
    label: {
      text: "Please explain how you plan to validate this qualification"
    },
    id: subject + "-qualification-equivalence",
    name: subject + "-qualification-equivalence",
    value: data[subject + "-qualification-equivalence"]
  }) }}
{% endset -%}
  <p class="govuk-body">If you studied for your qualifications overseas, you will need to check that they are valid in the UK.</p>
  <p class="govuk-body">As a first step, you should register at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA will be able to tell you if your non-UK qualifications make you eligible for teacher training and how they correspond to English exam grades.</p>
  <h3 class="govuk-heading-s">Check with your provider</h3>
  <p class="govuk-body">You should also contact your chosen training provider to check their policy on non-UK qualifications. They may ask you to sit ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE) and recommend an equivalency testing centre.</p>
  <p class="govuk-body">If you have already been in touch with <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> and have a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx">statement of comparability</a> for your qualifications, you’ll have the opportunity to tell us below.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    id: subject + "-qualification-type",
    name: subject + "-qualification-type",
    value: data[subject + "-qualification-type"]
  }) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4",
    id: subject + "-qualification-grade",
    name: subject + "-qualification-grade",
    value: data[subject + "-qualification-grade"]
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4",
    id: type + "-qualification-year",
    name: type + "-qualification-year",
    value: data[subject + "-qualification-year"]
  }) }}

  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?",
      classes: "govuk-label--s"
    },
    id: subject + "-qualification-country",
    name: subject + "-qualification-country",
    value: data[subject + "-qualification-country"],
    items: countries
  }) }}

  {{ govukInput({
    label: {
      text: "Awarding organisation?",
      classes: "govuk-label--s"
    },
    id: subject + "-qualification-award-org",
    name: subject + "-qualification-award-org",
    value: data[subject + "-qualification-award-org"]
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: subject + "-qualification-naric",
    name: subject + "-qualification-naric",
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No",
      conditional: {
        html: validateEquivalence
      }
    }]
  }) }}

  {{ govukInput({
    id: subject + "-qualification-completed",
    name: subject + "-qualification-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#{{ subject }}-qualification-country')
    })
  </script>
{% endblock %}
