{% extends "_form.njk" %}

{% set title = "Find a course" %}
{% set formaction = paths.next %}
{% block pageNavigation %}{{ govukBackLink({ href: paths.back }) }}{% endblock %}

{% block primary %}
  <p class="govuk-body-l">Search for courses near you on Find postgraduate teacher&nbsp;training.</p>

  {{ govukButton({
    text: 'Start now',
    href: 'http://find-postgraduate-teacher-training.education.gov.uk',
    isStartButton: true
  }) }}

  <p>
    <a href="/application/{{ applicationId }}">Return to your application</a>
  </p>
{% endblock %}
