{% extends "_form.njk" %}

{% set title = "Have you found a course to apply to?" %}
{% set formaction = paths.current %}
{% block pageNavigation %}{{ govukBackLink({ href: paths.back }) }}{% endblock %}

{% block primary %}
  {{ govukRadios({
    items: [{
      value: "know",
      text: "Yes, I know who I want to apply to"
    }, {
      value: "need",
      text: "No, I need to find a course"
    }]
  } | decorateApplicationAttributes(['temporaryCourses', courseId, 'found'])) }}

  {{ govukButton({
    text: 'Continue'
  }) }}
{% endblock %}
