{% extends "_form.njk" %}

{% set title = "Which training provider are you applying to?" %}
{% set formaction = paths.next %}
{% block pageNavigation %}{{ govukBackLink({ href: paths.back }) }}{% endblock %}

{% block primary %}
  <div class="govuk-form-group">
    <label for="courses-{{ courseId }}-provider" class="govuk-label">Training provider name</label>
    <span id="courses-{{ courseId }}-provider-hint" class="govuk-hint">Enter the name of your training provider</span>
    <div id="provider-autocomplete-containter"></div>
  </div>

  {{ govukButton({
    text: 'Continue'
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete({
      defaultValue: '{{ applicationValue(["temporaryCourses", courseId, "provider"]) }}',
      name: "applications[{{ applicationId }}][temporaryCourses][{{ courseId }}][provider]",
      element: document.querySelector('#provider-autocomplete-containter'),
      id: '#courses-{{ courseId }}-provider',
      source: [
        {% for id, item in providers %}"{{ item.name_and_code }}",{% endfor %}
      ]
    })
  </script>
{% endblock %}
