{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Unpaid experience" %}
{% set referrer = applicationPath + "/unpaid-experience/review" %}
{% set canAmend = true %}
{% set unpaidExperience = applicationValue("unpaidExperience") | toArray | selectattr("id") %}
{% set addButtonText = "Add another role" if unpaidExperience.length >= 1 else "Add a role" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/unpaid-experience.njk" %}

  {% if applicationValue(["unpaidExperienceDisclose"]) != "No" %}
    {{ govukButton({
      text: addButtonText,
      href: applicationPath + "/unpaid-experience/add/role?referrer=" + referrer,
      classes: "govuk-button--secondary"
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-width-two-thirds",
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "true",
      text: "Yes, I’ve completed this section"
    }, {
      value: "false",
      text: "No, I’ll come back to it later"
    }]
  } | decorateApplicationAttributes(["completed", "unpaidExperience"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
