{% extends "layouts/main.html" %}

{% set title = "Unpaid experience" %}
{% set addButtonText = "Add another role" if data.unpaidExperience.length >= 1 else "Add a role" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% if data.unpaidExperienceAdded != "no" %}
    {{ govukButton({
      text: addButtonText,
      href: "/application/unpaid-experience/add",
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}

  {% include "_includes/review/unpaid-experience.html" %}

  <form action="/application" method="post">
    {{ govukRadios({
      name: "completed[unpaidExperience]",
      value: data.completed.unpaidExperience,
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
