{% extends "_form.njk" %}

{% set title = "Which features do you what to enable in the prototype?" %}

{% block beforeContent %}
  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Mimic primary course application",
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-radios--inline",
    idPrefix: "settings-primary-application",
    name: "settings[primary-application]",
    items: [{
      value: "true",
      text: "Yes",
      checked: checked("['settings']['primary-application']", "true")
    }, {
      value: "false",
      text: "No",
      checked: checked("['settings']['primary-application']", "false")
    }]
  }) }}

  {{ govukButton({
    text: "Update"
  }) }}
{% endblock %}
