{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "School experience and volunteering with young people" %}
{% set formaction = applicationPath + "/school-experience/answer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Use this section to enter any school experience or volunteering roles with children and young people. This can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>school experience</li>
    <li>one-off observations</li>
    <li>volunteering with children or young people in a school setting</li>
    <li>volunteering with children or young people outside school</li>
  </ul>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "Do you have school or volunteering experience?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "true",
      text: "Yes"
    }, {
      value: "false",
      text: "No"
    }]
  } | decorateApplicationAttributes(["school-experience", "attained"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
