{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "Children and young people: volunteering and experience in school" %}
{% set formaction = applicationPath + "/school-experience/answer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Use this section to tell us about any unpaid experience you've gained in school or volunteering roles you've had in the wider community. You can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>one-off observations in school</li>
    <li>volunteering with children or young people in a school setting</li>
    <li>volunteering with children or young people outside school</li>
    <li>general involvement with school (for example as a parent governor)</li>
  </ul>
  <p class="govuk-body">You can also tell us about volunteering with other age groups in your community.</p>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "Do you have experience volunteering with young people or in school?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "true",
      text: "Yes"
    }, {
      value: "false",
      text: "No"
    }]
  } | decorateApplicationAttributes(["school-experience", "attained"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
