{% extends "_content-wide.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "School experience and volunteering with young people" %}
{% set referrer = applicationPath + "/school-experience/review" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-school-experience.njk" %}

{% if applicationValue(["school-experience", "missing"]) != "true" %}
  {{ govukButton({
    text: "Add another role",
    href: applicationPath + "/school-experience/add/role",
    classes: "govuk-button--secondary"
  }) }}
{% endif %}

  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
