{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Volunteering with children and young people" %}
{% set referrer = applicationPath + "/school-experience/review" %}
{% set review = true %}
{% set schoolExperience = applicationValue("school-experience") | toArray | selectattr("id") %}
{% set addButtonText = "Add another role" if schoolExperience.length >= 1 else "Add a role" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/school-experience.njk" %}
  {% if applicationValue(["school-experience", "missing"]) != "true" %}
    {{ govukButton({
      text: addButtonText,
      href: applicationPath + "/school-experience/add/role?referrer=" + referrer,
      classes: "govuk-button--secondary"
    }) }}

    {{ govukCheckboxes({
      items: [{
        value: "true",
        text: "I have completed this section"
      }]
    } | decorateApplicationAttributes(["completed", "school-experience"])) }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
