{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Children and young people" %}
{% set action = "edit" if applicationValue(["school-experience", id, "role"]) else "add" %}
{% set title = (action | capitalize) + " role" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: applicationPath + "/school-experience"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Don’t include paid work in a school – enter these roles in ‘Work history’.</p>
  {{ govukInput({
    label: {
      text: "Your role",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["school-experience", id, "role"])) }}

  {{ govukInput({
    label: {
      text: "Organisation where you gained experience or volunteered",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["school-experience", id, "org"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working in a school or with children?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    classes: "govuk-radios--inline",
    items: [{
      text: "Yes"
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(["school-experience", id, "worked-with-children"])) }}

  <h2 class="govuk-heading-m">How long have you been in this role and what does it involve?</h2>
  {% set startDate = applicationValue(["school-experience", id, "start-date"]) %}
  {% set endDate = applicationValue(["school-experience", id, "end-date"]) %}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 3 2018"
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Month",
      name: "month",
      value: startDate | date("L"),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: startDate | date("yyyy"),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["school-experience", id, "start-date"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 3 2019"
    },
    namePrefix: id + "-end-date",
    items: [{
      label: "Month",
      name: "month",
      value: endDate | date("L"),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: endDate | date("yyyy"),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["school-experience", id, "end-date"])) }}

  {{ govukCharacterCount({
    label: {
      text: "Enter details of your time commitment and responsibilities",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, ‘I volunteer in the classroom every Friday morning’ or ‘I spent 1 day observing in this school’ or ‘I am a Scout Leader involved in activities throughout the year’"
    },
    maxwords: 150
  } | decorateApplicationAttributes(["school-experience", id, "time-commitment"])) }}

  {# Only ask if want to add another if:
    * not editing an existing item
    * not referred from a review page (which has an ‘Add another…’ button)
    * feature flag enabled
  #}
  {% if action != "edit" and not referrer and data.flags.add_another %}
    {{ govukRadios({
      name: "next",
      fieldset: {
        legend: {
          text: "Do you want to add another role?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "add",
        text: "Yes"
      }, {
        value: "review",
        text: "No"
      }]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
