{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "School experience and volunteering with young people" %}
{% set action = "edit" if applicationValue(["school-experience", id, "role"]) else "add" %}
{% set title = (action | capitalize) + " role" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: applicationPath + "/school-experience"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set detailsHtml %}
    <p class="govuk-body govuk-!-font-weight-bold">Include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>school experience</li>
      <li>one-off observations</li>
      <li>volunteering with children or young people in a school setting</li>
      <li>volunteering with children or young people outside school</li>
    </ul>
    <p class="govuk-body govuk-!-font-weight-bold">Don't include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>regular, paid, full or part-time work in a school (this should be entered in ‘Work history’)</li>
    </ul>
    <p class="govuk-body">We’ll ask you to write in detail about what you’ve learnt through your school experience and volunteering in ‘Why you want to be a teacher’.</p>
  {% endset %}
  {{ govukDetails({
    summaryText: "Help with what to include",
    html: detailsHtml
  }) }}

  {{ govukInput({
    label: {
      text: "Your role",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["school-experience", id, "role"])) }}

  {{ govukInput({
    label: {
      text: "Organisation where you gained experience or volunteered",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["school-experience", id, "org"])) }}

  {% set startDate = applicationValue(["school-experience", id, "start-date"]) %}
  {% set endDate = applicationValue(["school-experience", id, "end-date"]) %}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 01 05 2018"
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Day",
      name: "day",
      value: startDate | date("LL"),
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "month",
      value: startDate | date("LL"),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: startDate | date("yyyy"),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["school-experience", id, "start-date"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 01 05 2019"
    },
    namePrefix: id + "-end-date",
    items: [{
      label: "Day",
      name: "day",
      value: endDate | date("LL"),
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "month",
      value: endDate | date("LL"),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: endDate | date("yyyy"),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["school-experience", id, "end-date"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
