{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "School experience and volunteering with young people" %}
{% set title = "Role" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({ href: referrer }) }}
  {% else %}
    {{ govukBackLink({ href: applicationPath + "/school-experience" }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Your role",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['school-experience', id, 'role'])) }}

  {{ govukInput({
    label: {
      text: "Organisation where you gained experience or volunteered",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['school-experience', id, 'org'])) }}

  {% set startDate = applicationValue(['school-experience', id, 'start-date']) %}
  {% set endDate = applicationValue(['school-experience', id, 'end-date']) %}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 01 05 2018"
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Day",
      name: "day",
      value: startDate | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "month",
      value: startDate | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: startDate | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(['school-experience', id, 'start-date'])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 01 05 2019"
    },
    namePrefix: id + "-end-date",
    items: [{
      label: "Day",
      name: "day",
      value: endDate | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "month",
      value: endDate | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: endDate | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(['school-experience', id, 'end-date'])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
