{% extends "_form.njk" %}

{% set title = "Contact details" %}
{% set formAction = "/profile/contact-details/address-answer" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Phone number",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For non-UK numbers, include the country code."
    },
    autocomplete: "tel",
    classes: "govuk-input--width-20",
    type: "tel",
    id: "contact-details-phone-number",
    name: "contact-details[phone-number]",
    value: data["contact-details"]["phone-number"]
  }) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Don’t give us a work or university email address you might lose access to."
    },
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email",
    id: "contact-details-email",
    name: "contact-details[email]",
    value: data["contact-details"]["email"]
  }) }}

{% set internationalAddressHtml %}
  {{ govukTextarea({
    label: {
      text: "Enter your address"
    },
    autocomplete: "street-address",
    id: "contact-details-address",
    name: "contact-details[address][street-address]",
    value: data["contact-details"]["address"]["street-address"]
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Where do you live?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "candidate-address-type",
    name: "contact-details[address-type]",
    items: [{
      text: "In the UK",
      value: "domestic",
      checked: checked("['contact-details']['address-type']", "domestic")
    }, {
      text: "Outside the UK",
      value: "international",
      checked: checked("['contact-details']['address-type']", "international"),
      conditional: {
        html: internationalAddressHtml
      }
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
