{% extends "_content.njk" %}

{% set parent = "Contact details" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-contact-details.njk" %}

  {{ govukButton({
    text: "Continue",
    href: "/profile"
  }) }}
{% endblock %}
