{% extends "_form.njk" %}

{% set parent = "Contact details" %}
{% set title = "What is your address?" %}
{% set formAction = "/profile/contact-details/review" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your teaching potential",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Postcode</h2>
  <p class="govuk-body">{{ data["address-postal-code"] }} &nbsp; <a href="/profile/contact-details/address">Change</a></p>

  {{ govukSelect({
    label: {
      text: "Select an address",
      classes: "govuk-label--s"
    },
    id: "address",
    name: "address",
    items: [
      { text: "96 addresses found", value: "" },
      { text: "Flat 84, 219 Baker Street, London", value: "" },
      { text: "Flat 85, 219 Baker Street, London", value: "" },
      { text: "Flat 86, 219 Baker Street, London", value: "" },
      { text: "Flat 1-86, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 1, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 2, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 3, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 4, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 5, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 6, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 7, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 8, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 9, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 11, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 12, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 13, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 14, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 15, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 16, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 22, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 26, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 23, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 24, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 25, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 33, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 21, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 20, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 19, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 18, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 17, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 27, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 28, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 29, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 30, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 31, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 32, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 10, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 34, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 35, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 36, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 37, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 38, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 39, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 40, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 41, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 42, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 43, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 44, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 45, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 46, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 47, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 48, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 49, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 50, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 51, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 52, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 53, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 54, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 55, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 56, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 57, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 62, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 63, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 64, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 65, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 66, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 67, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 68, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 69, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 70, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 71, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 72, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 73, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 74, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 75, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 76, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 77, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 78, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 79, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 80, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 81, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 82, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 83, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 84, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 85, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "Flat 86, Park View Residence, 219 Baker Street, London", value: "" },
      { text: "221B Baker Street, London", value: "" },
      { text: "Flat 1, 241-243, Baker Street, London", value: "" },
      { text: "Flat 1A, 241-243, Baker Street, London", value: "" },
      { text: "Flat 1B, 241-243, Baker Street, London", value: "" },
      { text: "Flat 2, 241-243, Baker Street, London", value: "" },
      { text: "Flat 3, 241-243, Baker Street, London", value: "" },
      { text: "Flat 1, 245-247, Baker Street, London", value: "" },
      { text: "Flat 2, 245-247, Baker Street, London", value: "" },
      { text: "Flat 3, 245-247, Baker Street, London", value: "" },
      { text: "Flat 4, 245-247, Baker Street, London", value: "" },
      { text: "Flat 5, 245-247, Baker Street, London", value: "" }
    ]
  }) }}

  <p class="govuk-body"><a href="/profile/contact-details/enter-address">I can’t find my address in the list</a></p>

  {{ govukInput({
    id: "address-line-1",
    name: "address-line-1",
    type: "hidden",
    value: "221B Baker Street"
  }) }}

  {{ govukInput({
    name: "address-level-2",
    type: "hidden",
    value: "London"
  }) }}

  {{ govukInput({
    name: "address-country",
    type: "hidden",
    value: "United Kingdom"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
