{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/cover-letter/" + providerCode + "/review" %}
{% set parent = provider.name %}
{% set title = "Cover letter" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% for coverLetter in applicationValue(["cover-letters"]) | toArray %}
    {% if coverLetter.id == applicationValue(["cover-letters", providerCode, "id"]) %}
      {% include "_includes/review-cover-letter.njk" %}
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
