{% extends "_form.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Work history" %}
{% set action = "edit" if applicationValue(["work-history", id]) else "add" %}
{% set title = (action | capitalize) + " job" %}
{% set formaction = "/application/" + applicationId + "/work-history/" + id %}


{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: applicationPath + "/work-history/review"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set roleEndHTML %}
    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "When did you leave this job?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 5 2019.  If you cannot remember the exact month or year, enter an estimate."
      },
      namePrefix: id + "-end-date",
      items: [{
        label: "Month",
        name: "month",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('L'),
        classes: "govuk-input--width-2"
      },
      {
        label: "Year",
        name: "year",
        value: (applicationValue(["work-history", id, "end-date"]) or "") | date('yyyy'),
        classes: "govuk-input--width-4"
      }]
    } | decorateApplicationAttributes(["work-history", id, "end-date"])) }}

      {{ govukCheckboxes({
    items: [
      {
        value: "end-date-approx",
        text: "I’m not sure of the exact month or year I left"
      }
    ]
  } | decorateApplicationAttributes(["work-history", id, "end-date-approx"])) }}

  {% endset %}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you worked for yourself, enter ‘self-employed’."
    }
  } | decorateApplicationAttributes(["work-history", id, "org"])) }}


  {{ govukInput({
    label: {
      text: "Role",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you had more than one role with this employer, enter your last role."
    }
  } | decorateApplicationAttributes(["work-history", id, "role"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this job full time or part time?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Full time (usually at least 35 hours a week)",
      value: "Full time"
    }, {
      text: "Part time"
    }]
  } | decorateApplicationAttributes(["work-history", id, "type"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "When did you start this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 5 2018. If you cannot remember the exact month or year, enter an estimate."
    },
    namePrefix: id + "-start-date",
    items: [{
      label: "Month",
      name: "month",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('L'),
      classes: "govuk-input--width-2"
    },
    {
      label: "Year",
      name: "year",
      value: (applicationValue(["work-history", id, "start-date"]) or start or "") | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  } | decorateApplicationAttributes(["work-history", id, "start-date"])) }}

  {{ govukCheckboxes({
    items: [
      {
        value: "start-date-approx",
        text: "I’m not sure of the exact month or year I started"
      }
    ]
  } | decorateApplicationAttributes(["work-history", id, "start-date-approx"])) }}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Are you still working in this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: roleEndHTML
        }

      }
    ]
  } | decorateApplicationAttributes(["work-history", id, "end-date-present"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did you use skills relevant to teaching in this job?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "You can go into more detail about this in your personal statement."
    },
    items: [{
      text: "Yes"
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(["work-history", id, "worked-with-children"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][work-history][" + id + "][category]",
    value: "job"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
