{% extends "_form.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Work history" %}
{% set title = "Please tell us what you were doing over this period" %}
{% set formaction = "/application/" + applicationId + "/work-history/break/" + id %}

{% block pageNavigation %}
  {{ govukBackLink({
      href: applicationPath + "/work-history/review"
    }) }}
{% endblock %}

{% block primary %}
  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start of break",
        classes: "govuk-fieldset__legend--m"
      }
    },
    namePrefix: id + "-startDate",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (applicationValue(["workHistory", id, "startDate"]) or start) | date('L')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (applicationValue(["workHistory", id, "startDate"]) or start) | date('yyyy')
    }]
  } | decorateApplicationAttributes(["workHistory", id, "startDate"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End of break",
        classes: "govuk-fieldset__legend--m"
      }
    },
    namePrefix: id + "-endDate",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (applicationValue(["workHistory", id, "endDate"]) or end) | date('L')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (applicationValue(["workHistory", id, "endDate"]) or end) | date('yyyy')
    }]
  } | decorateApplicationAttributes(["workHistory", id, "endDate"])) }}

  {{ govukCharacterCount({
    label: {
      text: "Enter reasons for break in work history",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, ‘I was unemployed’, ‘I had health issues’ or ‘I was caring for a child’"
    },
    threshold: 90,
    maxwords: 400
  } | decorateApplicationAttributes(["workHistory", id, "description"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][workHistory][" + id + "][category]",
    value: "break"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
