{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Please tell us what you were doing over this period" %}

{% block beforeContent %}
  {{ govukBackLink({
      href: "/application/work-history/review"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <form action="/application/work-history/review" method="post">

        {{ govukDateInput({
          namePrefix: "",
          fieldset: {
            legend: {
              text: "Start of break",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [{
            label: "Month",
            name: "workHistory[" + id + "][startMonth]",
            value: data.workHistory[id].startMonth,
            classes: "govuk-input--width-2"
          }, {
            label: "Year",
            name: "workHistory[" + id + "][startYear]",
            value: data.workHistory[id].startYear,
            classes: "govuk-input--width-4"
          }]
        }) }}

        {{ govukDateInput({
          namePrefix: "",
          fieldset: {
            legend: {
              text: "End of break",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [{
            label: "Month",
            name: "workHistory[" + id + "][endMonth]",
            value: data.workHistory[id].endMonth,
            classes: "govuk-input--width-2"
          }, {
            label: "Year",
            name: "workHistory[" + id + "][endYear]",
            value: data.workHistory[id].endYear,
            classes: "govuk-input--width-4"
          }]
        }) }}

        {{ govukCharacterCount({
          name: "workHistory[" + id + "][breakReason]",
          value: data.workHistory[id].breakReason,
          label: {
            text: "Enter reasons for break in work history",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, ‘I was unemployed’, ‘I had health issues’ or ‘I was caring for a child’"
          },
          threshold: 90,
          maxwords: 400
        }) }}

        {{ govukInput({
          type: "hidden",
          name: "workHistory[" + id + "][category]",
          value: "break"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
