{% extends "_form.njk" %}

{% set parent = "Work history" %}
{% set title = "Explain gap in work history" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({ href: referrer }) }}
  {% else %}
    {{ govukBackLink({ href: applicationPath + "/work-history" }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start of gap",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 5 2018"
    },
    namePrefix: id + "-start-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (applicationValue(["work-history", id, "start-date"]) or start) | date('L')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (applicationValue(["work-history", id, "start-date"]) or start) | date('yyyy')
    }]
  } | decorateApplicationAttributes(["work-history", id, "start-date"])) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End of gap",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "For example, 8 2018"
    },
    namePrefix: id + "-end-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (applicationValue(["work-history", id, "end-date"]) or end) | date('L')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (applicationValue(["work-history", id, "end-date"]) or end) | date('yyyy')
    }]
  } | decorateApplicationAttributes(["work-history", id, "end-date"])) }}

  {{ govukCharacterCount({
    label: {
      text: "Reason(s) for this gap in your work history",
      classes: "govuk-label--m"
    },
    maxwords: 400
  } | decorateApplicationAttributes(["work-history", id, "description"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][work-history][" + id + "][category]",
    value: "gap"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
