{% extends "_form.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "Work history" %}
{% set formaction = applicationPath + "/work-history/answer" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: "/application/" + applicationId, text: 'Back to application' }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">We’ll ask you to enter your last 5 years of work history. Training providers need this information to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>safeguard children</li>
    <li>get a more rounded sense of you as a candidate</li>
    <li>identify areas of knowledge or expertise you could bring to teaching</li>
  </ul>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "How long have you been working?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "less",
      text: "Less than 5 years",
      conditional: {
        html: "<p class=\"govuk-body\">Give us as much of your work history as you can. For example, if you are a recent graduate, tell us about your employment before, during and since leaving university.</p>"
      }
    }, {
      value: "more",
      text: "More than 5 years",
      conditional: {
        html: "<p class=\"govuk-body\">You can list your complete work history – or just the roles you think are relevant – going back further than 5 years if you wish.</p>"
      }
    }, {
      value: "gaps",
      text: "More than 5 years, but with gaps",
      conditional: {
        html: "<p class=\"govuk-body\">You’ll be able to give details once you’ve entered your employment history. We’ll ask you to explain any gap longer than a month.</p>"
      }
    }, {
      value: "none",
      text: "I have not worked in the last 5 years",
      conditional: {
        html: "<p class=\"govuk-body\">You’ll be able to explain why you’ve been out of the workplace.</p>"
      }
    }]
  } | decorateApplicationAttributes(['work-history', 'length'])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
