{% extends "layouts/main.html" %}
{% set title = "Do you have any work history?" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  {% set noWorkHistoryHtml %}
    {{ govukCharacterCount({
      name: "noWorkHistoryDetail",
      value: data.noWorkHistoryDetail,
      id: "no-work-history-detail",
      label: {
        text: "Tell us why you’ve been out of the workplace"
      },
      hint: {
        text: "For example, ‘I have been unemployed’, ‘I have been volunteering’ or ‘I have been caring for a child’"
      },
      threshold: 90,
      maxwords: 400
    }) }}
  {% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/application/work-history/review" method="post">
        {{ govukRadios({
          name: "workHistoryAdded",
          value: data.workHistoryAdded,
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl",
              text: title,
              isPageHeading: true
            }
          },
          items: [{
            value: "yes",
            text: "Yes"
          }, {
            value: "no-full-time-education",
            text: "No, I have always been in full time education"
          }, {
            value: "no",
            text: "No, I do not have any work history",
            conditional: {
              html: noWorkHistoryHtml
            }
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
