{% extends "_form.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Work history" %}
{% set formaction = applicationPath + "/work-history/answer" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Training providers need a complete picture of your work history, including time out of the workplace, to safeguard children.</p>
  <p class="govuk-body">Breaks in work history will not impact your application if you have a reasonable explanation for them (for example, parenting responsibilities, redundancy, illness or personal reasons such as study or travel).</p>
  {{ govukRadios({
    name: "decision",
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Do you have any work history to add?"
      }
    },
    items: [{
      value: "yes",
      text: "Yes, I have a complete work history",
      hint: {
        text: "You’ll be able to give details of any breaks once you’ve entered your employment history"
      }
    }, {
      value: "no",
      text: "No, I do not have any work history"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
