{% extends "_form.njk" %}

{% set parent = "Work history" %}
{% if action == "edit" %}
  {% set title = "Edit job" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add job" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
<p class="govuk-body">Start with your most recent position, and work backwards. If you did more than one job in the same period, list them both.</p>
  {{ govukInput({
    label: {
      text: "Job title",
      classes: "govuk-label--s"
    },
    id: "work-history-" + id + "-role",
    name: "work-history[" + id + "][role]",
    value: data["work-history"][id]["role"]
  }) }}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--s"
    },
    id: "work-history-" + id + "-org",
    name: "work-history[" + id + "][org]",
    value: data["work-history"][id]["org"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2018"
    },
    id: "work-history-" + id + "-start-date",
    namePrefix: id + "-start-date",
    items: [{
      label: "Month",
      name: "month",
      value: data["work-history"][id]["start-date"] | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: data["work-history"][id]["start-date"] | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2019"
    },
    id: "work-history-" + id + "-end-date",
    namePrefix: id + "-end-date",
    items: [{
      label: "Month",
      name: "month",
      value: data["work-history"][id]["end-date"] | date('LL'),
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "year",
      value: data["work-history"][id]["end-date"] | date('yyyy'),
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Skills and experience relevant to teaching you gained in this role",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Give examples showing how you developed transferable skills like communication, creativity and organisation. Enter experience relevant to your subject in ‘Subject knowledge’."
    },
    maxwords: 150,
    id: "work-history-" + id + "-description",
    name: "work-history[" + id + "][description]",
    value: data["work-history"][id]["description"]
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working in a school or with children?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-radios--inline",
    idPrefix: "work-history-" + id + "-worked-with-children",
    name: "work-history[" + id + "][worked-with-children]",
    items: [{
      value: "Yes",
      text: "Yes",
      checked: checked("['work-history']['" + id + "']['worked-with-children']", "Yes")
    }, {
      value: "No",
      text: "No",
      checked: checked("['work-history']['" + id + "']['worked-with-children']", "No")
    }]
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "work-history[" + id + "][category]",
    value: "job"
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    text: "Save and add another job",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/application/work-history/update/job/"+ id + "?next=/application/work-history/add/job"
    }
  }) }}
{% endif %}
  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
