{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Work history" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% if data.workHistoryAdded == "yes" %}
    {% if data.workHistory | length >= 1 %}
      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Add another job",
        href: "/application/work-history/job/" + newId
      }) }}

      {# Show list of jobs added, with prompt to add another #}
      {% include "_includes/review/work-history.html" %}
    {% else %}
      {# Introduce work history, with prompt to add first job #}
      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">Enter all the jobs you’ve had since you left school.</p>
        <p class="govuk-body">Explain any gaps in your work history. For example, raising children, unemployment or illness.</p>
      </div>

      {{ govukButton({
        text: "Add a job",
        href: "/application/work-history/job/" + newId
      }) }}
    {% endif %}
  {% else %}
    {% include "_includes/review/work-history.html" %}
  {% endif %}

  {% if data.workHistory | length >= 1 or data.workHistoryAdded != "yes" %}
    <form action="/application" method="post">
      {{ govukRadios({
        name: "completed[workHistory]",
        value: data.completed.workHistory,
        fieldset: {
          classes: "govuk-!-width-two-thirds",
          legend: {
            text: "Have you completed this section?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Ensure you’ve added all the jobs you’ve had since you left school. Remember to explain any gaps in your work history."
        },
        items: [{
          value: "true",
          text: "Yes, I’ve completed this section"
        }, {
          value: "false",
          text: "No, I’ll come back to it later"
        }]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  {% endif %}
{% endblock %}
