{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Work history" %}
{% set referrer = applicationPath + "/work-history/review" %}
{% set review = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/work-history.njk" %}
  {% if applicationValue(["work-history", "length"]) != "none" %}
    {{ govukButton({
      text: "Add another job",
      href: applicationPath + "/work-history/add/job?referrer=" + referrer,
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "work-history"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
