{% extends "_content-wide.njk" %}

{% set title = "Work history" %}
{% set referrer = "/application/work-history/review" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-work-history.njk" %}

{% if not data["work-history"]["missing"] %}
  {{ govukButton({
    text: "Add another job",
    classes: "govuk-button--secondary",
    href: "/application/work-history/add/job"
  }) }}
{% endif %}

  {{ govukButton({
    text: "Continue",
    href: "/application/"
  }) }}
{% endblock %}
