{% extends "_content-wide.njk" %}

{% set applicationPath = '/application/' + applicationId %}
{% set title = "Courses" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {# <p class="govuk-body">You can apply for up to 3 courses.</p> #}

  {% if applicationValue("courses") %}
    {% include "_includes/review-courses.njk" %}
    {% if applicationValue("courses") | length < 3 %}
      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Add another course",
        href: applicationPath + "/course/add"
      }) }}

      <div>
      {{ govukButton({
        text: "Continue",
        href: applicationPath
      }) }}
      </div>
    {% endif %}
  {% else %}
    {{ govukButton({
      text: "Add course",
      href: applicationPath + "/course/add"
    }) }}
  {% endif %}
{% endblock %}
