{% if allowsFeedback %}
  {% call appFeedback({
    title: "Are there any issues with this section?",
    formaction: "/feedback/thank-you",
    options: [{
      text: "Yes",
      visuallyHiddenText: ", there are issues with this section",
      attributes: {
        "aria-controls": "feedback-form",
        "aria-expanded": true if validate == 'feedback' else false
      }
    }, {
      text: "No",
      visuallyHiddenText: ", there are no issues with this section",
      showSuccessMessage: true
    }]
  }) %}
    {{ govukCheckboxes({
      idPrefix: "issues",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "What issues are there in this section?"
        }
      },
      items: [{
        text: "I do not understand this section"
      }, {
        text: "I do not have the information needed at the moment"
      }, {
        text: "My answers do not fit the format"
      }]
    }) }}

    {{ govukCharacterCount({
      id: "feedback",
      label: {
        classes: "govuk-label--s",
        text: "Do you have any other feedback about this section?"
      },
      maxwords: 300
    }) }}

    {{ govukRadios({
      idPrefix: "contact",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Can we contact you about your feedback?"
        }
      },
      items: [{
        text: "Yes"
      }, {
        text: "No"
      }]
    }) }}

    {{ govukButton({
      text: "Submit feedback",
      type: "submit"
    }) }}
  {% endcall %}
{% endif %}
