{% set nameText %}
  {% if data["candidate"]["first-name"] or data["candidate"]["family-name"] %}
    {{ data["candidate"]["first-name"] }}
    {{ data["candidate"]["family-name"] }}
    {% if data["candidate"]["optional-name"] %}
      ({{ data["candidate"]["optional-name"] }})
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set dateOfBirth = data["candidate"]["date-of-birth"] %}
{% if dateOfBirth %}
  {% set dob = dateOfBirth.year+"-"+dateOfBirth.month+"-"+dateOfBirth.day %}
  {% set dateOfBirthText = dob | date("DDD") %}
{% else %}
  {% set dateOfBirthText = "Not entered" %}
{% endif %}

{% set nationalityText %}
  {% if data["candidate"]["nationality"] %}
    {{ data["candidate"]["nationality"] }}
    {% if data["candidate"]["second-nationality"] %}
      and {{ data["candidate"]["second-nationality"] }}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set residencyStatus = data["candidate"]["residency-status"] %}
{% set residencyStatusText %}
  {% if residencyStatus == "right-to-study" %}
    I have the right to study and/or work in the&nbsp;UK{{ ': ' + data["candidate"]["residency-status-right-to-study"] if data["candidate"]["residency-status-right-to-study"] }}
  {% elif residencyStatus == "require-tier-2" %}
    I will need to apply for a general work visa (Tier 2) to work in the&nbsp;UK
  {% elif residencyStatus == "require-tier-4" %}
    I will need to apply for a general student visa (Tier 4) to study in the&nbsp;UK
  {% elif residencyStatus == "unknown" %}
    I don’t know my residency status{{ ': ' + data["candidate"]["residency-status-unknown"] if data["candidate"]["residency-status-unknown"] }}
  {% else %}
    UK citizen
  {% endif %}
{% endset %}

{% set nameRow = {
  key: {
    text: "Name"
  },
  value: {
    text: nameText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: "/profile/personal-details/edit?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "name"
    }]
  }
} %}

{% set dateOfBirthRow = {
  key: {
    text: "Date of birth"
  },
  value: {
    text: dateOfBirthText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: "/profile/personal-details/edit?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "date of birth"
    }]
  }
} %}

{% set nationalityRow = {
  key: {
    text: "Nationality"
  },
  value: {
    html: nationalityText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: "/profile/personal-details/edit?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "nationality"
    }]
  }
} %}

{% set residencyStatusRow = {
  key: {
    text: "Residency status"
  },
  value: {
    html: residencyStatusText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: "/profile/personal-details/residency-status/edit?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "residency status"
    }]
  }
} %}

{% if residencyStatus %}
  {{ govukSummaryList({
    classes: "govuk-!-font-size-16",
    rows: [nameRow, dateOfBirthRow, nationalityRow, residencyStatusRow]
  }) }}
{% else %}
  {{ govukSummaryList({
    classes: "govuk-!-font-size-16",
    rows: [nameRow, dateOfBirthRow, nationalityRow]
  }) }}
{% endif %}
