{{ govukSummaryList({
  classes: "govuk-!-font-size-16",
  rows: [{
    key: {
      text: "Vocation"
    },
    value: {
      text: (data["vocation"] | default("Not entered")) | nl2br | safe
    },
    actions: {
      items: [{
        href: "/profile/vocation?referrer=" + referrer,
        text: "Edit",
        visuallyHiddenText: "teaching vocation"
      }]
    }
  }]
}) }}
