{% set applicationPath = "/application/" + applicationId %}
{% set workHistory = applicationValue("work-history")
  | toArray
  | sort(attribute="start-date")
  | selectattr("id")
%}

{% if workHistory.length >= 1 %}
  <table class="govuk-table app-summary">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" width="30%">Job</th>
        <th class="govuk-table__header" scope="col">Description</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        {% if review != true %}
        <th class="govuk-table__header app-table__cell--action" scope="col">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for item in workHistory %}
      {# periodStart = Earliest date in required work history period #}
      {% set periodStart = "now" | date | replace("2019", "2014") %}
      {% set periodStartEpoch = periodStart | date("x") %}

      {# firstStart = Start date of first item in work history #}
      {% set firstStart = item["start-date"] %}
      {% set firstStartEpoch = firstStart | date("x") %}

      {% if loop.first and firstStartEpoch > periodStartEpoch %}
        {# Unexplained gap (prior to work history commencing #}
        {% set gapStart = periodStart %}
        {% set gapStartEpoch = gapStart | date("x") %}
        {% set gapEnd = firstStart %}
        {% set gapEndEpoch = gapEnd | date("x") %}
        {% set gapDuration = gapEndEpoch - gapStartEpoch %}
        <tr class="govuk-table__row app-table__row--muted">
          <th class="govuk-table__cell">
            <span class="govuk-!-font-weight-regular">Gap ({{ gapDuration | duration }})</span>
          </th>
          <td class="govuk-table__cell">–</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ gapStart | date("LL/yyyy") }}
            -&nbsp;{{ gapEnd | date("LL/yyyy") }}
          </td>
          {% if review != true %}
          <td class="govuk-table__cell app-table__cell--action">
            <a href="{{ applicationPath }}/work-history/add/gap?start={{ gapStart | date("yyyy-LL") }}&end={{ gapEnd | date("yyyy-LL") }}&referrer={{ referrer }}">Explain&nbsp;gap</a>
          </td>
          {% endif %}
        </tr>
      {% endif %}

      {# Job/gap item #}
      {% set itemStart = item["start-date"] %}
      {% set itemStartEpoch = itemStart | date("x") %}
      {% set itemEnd = item["end-date"] if item["end-date"] else "now" %}
      {% set itemEndEpoch = itemEnd | date("x") %}
      {% set itemDuration = itemEndEpoch - itemStartEpoch %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header">
        {% if item.category == "job" %}
          <h3 class="govuk-heading-s govuk-!-margin-0">{{ item.role }}</h3>
          <p class="app-caption-s govuk-!-margin-0">
            <span class="govuk-visually-hidden">at</span>{{ item.org }}
          </p>
        {% elif item.category == "gap" %}
          <p>Gap ({{ itemDuration | duration }})</p>
        {% endif %}
        </th>
        <td class="govuk-table__cell">
          <p>{{ item.description | nl2br | safe }}</p>
        {% if item["worked-with-children"] == "Yes" %}
          <p>
            {{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }}
            This role involved working with children.
          </p>
        {% endif %}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ itemStart | date("LL/yyyy") }}
          -&nbsp;{{ itemEnd | date("LL/yyyy") if item["end-date"] else "Present" }}
        </td>
        {% if review != true %}
        <td class="govuk-table__cell app-table__cell--action">
          <a href="{{ applicationPath }}/work-history/{{ item.category }}/{{ item.id }}?referrer={{ referrer }}">Change<span class="govuk-visually-hidden"> {{ item.category }}</span></a>
        </td>
        {% endif %}
      </tr>

      {# Unexplained gap (during work history) #}
      {% set nextItem = workHistory[loop.index] %}
      {% set gapStart = item["end-date"] %}
      {% set gapStartEpoch = gapStart | date("x") %}
      {% set gapEnd = nextItem["start-date"] if nextItem else "now" %}
      {% set gapEndEpoch = gapEnd | date("x") %}
      {% set gapDuration = gapEndEpoch - gapStartEpoch %}
      {% if gapEndEpoch > gapStartEpoch and gapDuration > 2678400000 %}
        <tr class="govuk-table__row app-table__row--muted">
          <th class="govuk-table__cell">
            <span class="govuk-!-font-weight-regular">Gap ({{ gapDuration | duration }})</span>
          </th>
          <td class="govuk-table__cell">–</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ gapStart | date("LL/yyyy") }}
            -&nbsp;{{ gapEnd | date("LL/yyyy") if nextItem else "Present" }}
          </td>
          {% if review != true %}
          <td class="govuk-table__cell app-table__cell--action">
            <a href="{{ applicationPath }}/work-history/add/gap?start={{ gapStart | date("yyyy-LL") }}&end={{ gapEnd | date("yyyy-LL") }}&referrer={{ referrer }}">Explain&nbsp;gap</a>
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="app-summary">
    <p class="govuk-body govuk-!-margin-bottom-0">No work history entered</p>
  </div>
{% endif %}

{% if applicationValue(["work-history", "missing"]) and not workHistory.length %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Explanation of why you’ve been out of the workplace"
      },
      value: {
        text: applicationValue(["work-history", "missing"]) | nl2br | safe
      },
      actions: {
        classes: "govuk-!-padding-right-2",
        items: [{
          href: applicationPath + "/work-history/missing?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "explanation"
        }]
      }
    }]
  }) }}
  {{ govukButton({
    text: "Add job",
    classes: "govuk-button--secondary",
    href: applicationPath + "/work-history/add/job?referrer="  + referrer
  }) }}
{% endif %}
