{% set workHistory = data["work-history"] | toArray %}
{% if workHistory.length >= 1 %}
  <table class="govuk-table govuk-!-font-size-16">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Dates</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Job title</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Organisation</th>
        <th class="govuk-table__header" scope="col">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% if data["work-history"]["missing"] %}
      <tr class="govuk-table__row app-table__cell--muted">
        <td class="govuk-table__cell" colspan="3">
          <strong>No work history</strong>. {{ data["work-history"]["missing"] }}
        </td>
        <td class="govuk-table__cell">
          <a href="/profile/work-history/edit/missing?referrer={{ referrer }}">Edit<span class="govuk-visually-hidden"> missing</span></a>
        </td>
      </tr>
    {% endif %}

    {# Calculate start of 5 year work history period #}
    {% set nowDate = "now" | date %}
    {% set nowYear = "now" | date("yyyy") %}
    {% set prevEndDate = nowDate | replace(nowYear, nowYear - 5) %}

    {% for item in workHistory | sort(attribute="start-date") %}
      {% set startDate = item["start-date"] %}
      {% set nextStartDate = workHistory[loop.index - 1]["start-date"] %}

      {# Unexplained gap #}
      {% if startDate > prevEndDate %}
        <tr class="govuk-table__row app-table__cell--muted">
          <td class="govuk-table__cell">
            {{ prevEndDate }} -
            {{ nextStartDate | date("LL/yyyy") }}
          </td>
          <td class="govuk-table__cell" colspan="2">Unexplained gap</td>
          <td class="govuk-table__cell">
            <a href="/profile/work-history/add/gap?start={{ nextStartDate }}">Explain&nbsp;gap</a>
          </td>
        </tr>
      {% endif %}

      {# Explained gap #}
      {% if item.category == "gap" %}
        <tr class="govuk-table__row app-table__cell--muted">
          <td class="govuk-table__cell">
            {{ startDate | date("LL/yyyy") }} -
            {{ endDate | date("LL/yyyy") }}
          </td>
          <td class="govuk-table__cell" colspan="2">
            Gap: {{ item.description }}
          </td>
          <td class="govuk-table__cell">
            <a href="/profile/work-history/edit/gap/{{ item.id }}?referrer={{ referrer }}">Edit<span class="govuk-visually-hidden"> gap</span></a>
          </td>
        </tr>

      {# Job #}
      {% elif item.category == "job" %}
        {% if item["end-date"] != "-" %}
          {% set endDate = item["end-date"] | date("LL/yyyy") %}
        {% else %}
          {% set endDate = "Present" %}
        {% endif %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{ startDate | date("LL/yyyy") }} -
            {{ endDate }}
          </td>
          <td class="govuk-table__cell">{{ item.role }}</td>
          <td class="govuk-table__cell">{{ item.org }}</td>
          <td class="govuk-table__cell">
            <a href="/profile/work-history/edit/job/{{ item.id }}?referrer={{ referrer }}">Edit<span class="govuk-visually-hidden"> job</span></a>
          </td>
        </tr>
      {% endif %}

      {% set prevEndDate = endDate %}
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="govuk-body-s">No work history entered</p>
{% endif %}
