{% set courses = applicationValue("courses") | toArray %}

{% for c in courses %}
  {% set provider = providers[c.providerCode] %}
  {% set course = provider.courses[c.courseCode] %}

  <h4 class="govuk-heading-m">{{ provider.name }}</h4>
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: '<a href="#">' + course.name_and_code + '</a>'
        }
      },
      {
        key: {
          text: "Description"
        },
        value: {
          html: course.description
        }
      }
    ]
  }) }}
{% endfor %}
