{% set skillsTestHTML %}
  <p class="govuk-body govuk-!-font-size-16">
    Candidate number: {{ data["professional-skills"]["test"]["candidate-number"] }}<br>
    Date of litracy test: {{ data["professional-skills"]["test"]["literacy-date"]["day"] }}/{{ data["professional-skills"]["test"]["literacy-date"]["month"] }}/{{ data["professional-skills"]["test"]["literacy-date"]["year"] }}<br>
    Date of numeracy test: {{ data["professional-skills"]["test"]["numeracy-date"]["day"] }}/{{ data["professional-skills"]["test"]["numeracy-date"]["month"] }}/{{ data["professional-skills"]["test"]["numeracy-date"]["year"] }}
  </p>
{% endset %}

{% set skillsTest = {
  key: {
    text: "Professional skills test"
  },
  value: {
    html: (skillsTestHTML if data["professional-skills"]["test"]["completed"] == "true" else "Not passed")
  },
  actions: {
    items: [{
      href: "/profile/professional-skills?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "professional skills test details"
    }]
  }
} %}

{% set languages = {
  key: {
    text: "Is English your first language?"
  },
  value: {
    text: ("Yes" if data["professional-skills"]["languages"]["first"] == "english" else "No: " + data["professional-skills"]["languages"]["detail"])
  },
  actions: {
    items: [{
      href: "/profile/professional-skills/languages?referrer=" + referrer,
      text: "Edit",
      visuallyHiddenText: "English language qualifications"
    }]
  }
} %}

{{ govukSummaryList({
  classes: "govuk-!-font-size-16",
  rows: [skillsTest, languages]
}) }}
