{% set path = "/equality-monitoring/" %}

{% set disabilityText %}
  {% set disabilities = data.equalityMonitoring.disabilities %}
  {% if disabilities.length >= 1 %}
    <ul class="govuk-list">
      {%- for disability in disabilities -%}
        <li>{{ disability }}</li>
      {%- endfor -%}
    </ul>
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set ethnicGroupText %}
  {% if data.equalityMonitoring.ethnicGroup %}
    {% if data.equalityMonitoring.ethnicGroup != "Prefer not to say" %}
      {% if data.equalityMonitoring.ethnicBackground != "Prefer not to say" %}
        {{ data.equalityMonitoring.ethnicBackground }}
      {% endif %}
    {% else %}
      Prefer not to say
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set freeSchoolMealsText %}
  {% if data.equalityMonitoring.freeSchoolMeals == "Yes" %}
    I received free school meals at some point during my school years
  {% elif data.equalityMonitoring.freeSchoolMeals == "No" %}
    I did not receive free school meals at any point during my school years
  {% elif data.equalityMonitoring.freeSchoolMeals == "I do not know" %}
    I do not know whether I received free school meals at any point during my school years
  {% else %}
    {{ data.equalityMonitoring.freeSchoolMeals }}
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Sex"
    },
    value: {
      text: data.equalityMonitoring.sex or "Not entered"
    },
    actions: {
      items: [{
        href: path + "sex?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "sex"
      }]
    }
  }, {
    key: {
      text: "Disabilities or health conditions"
    },
    value: {
      text: disabilityText | safe
    },
    actions: {
      items: [{
        href: path + "disabilities?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "disability status"
      }]
    }
  }, {
    key: {
      text: "Ethnicity"
    },
    value: {
      text: ethnicGroupText
    },
    actions: {
      items: [{
        href: path + "ethnic-group?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group?"
      }]
    }
  }, {
    key: {
      text: "Free school meals"
    },
    value: {
      text: freeSchoolMealsText
    },
    actions: {
      items: [{
        href: path + "free-school-meals?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "eligibility for free school meals"
      }]
    }
  }]
}) }}
