{% set path = "/application/" + applicationId + "/equality-monitoring/" %}

{% set disabilityText %}
  {% if applicationValue(["equality-monitoring", "disability-status"]).includes("Yes") %}
    {{ applicationValue(["equality-monitoring", "disability-status"]) }}
    ({%- for item in applicationValue(["equality-monitoring", "disabilities"]) -%}
      {{ (" and " if loop.last else ", ") if not loop.first }}{%- if item == "Other" %}
        {{ applicationValue(["equality-monitoring", "disabilities-other"]) }}
      {%- else -%}
        {{ item }}
      {%- endif -%}
    {%- endfor -%})
  {% else %}
    {{ applicationValue(["equality-monitoring", "disability-status"]) }}
  {% endif %}
{% endset %}

{% set ethnicGroupText %}
  {{ applicationValue(["equality-monitoring", "ethnic-group"]) }}
  {% if not applicationValue(["equality-monitoring", "ethnic-group"]).includes("Prefer not to say") %}
    ({{ applicationValue(["equality-monitoring", "ethnic-background-other"]) or applicationValue(["equality-monitoring", "ethnic-background"]) }})
  {% endif %}
{% endset %}

{% set religionText %}
  {{ applicationValue(["equality-monitoring", "religious-belief"]) }}
  {% if applicationValue(["equality-monitoring", "religious-belief-other"]) %}
    ({{ applicationValue(["equality-monitoring", "religious-belief-other"]) }})
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Sex"
    },
    value: {
      text: applicationValue(["equality-monitoring", "sex"])
    },
    actions: {
      items: [{
        href: path + "sex?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "sex"
      }]
    }
  }, {
    key: {
      text: "Sexual orientation"
    },
    value: {
      text: applicationValue(["equality-monitoring", "sexual-orientation"])
    },
    actions: {
      items: [{
        href: path + "sexual-orientation?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "sexual orientation"
      }]
    }
  }, {
    key: {
      text: "Health problems or disabilities"
    },
    value: {
      text: disabilityText | safe
    },
    actions: {
      items: [{
        href: path + "disability-status?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "disability status"
      }]
    }
  }, {
    key: {
      text: "Ethnicity"
    },
    value: {
      text: ethnicGroupText
    },
    actions: {
      items: [{
        href: path + "ethnic-group?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group?"
      }]
    }
  }, {
    key: {
      text: "Religion"
    },
    value: {
      text: religionText
    },
    actions: {
      items: [{
        href: path + "religious-belief?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "religious belief?"
      }]
    }
  }]
}) }}
