{% set schoolExperience = data["school-experience"]
  | toArray
  | sort(attribute="start-date")
  | selectattr("id")
%}

{% if schoolExperience.length >= 1 %}
  <table class="govuk-table govuk-!-font-size-16">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Dates</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Role</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Organisation</th>
        <th class="govuk-table__header govuk-!-padding-right-2" scope="col">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for item in schoolExperience %}
      {% set startDate = item["start-day"] + "/" + item["start-month"] + "/" + item["start-year"] %}
      {% if item.end-year != "" %}
        {% set endDate = item["end-day"] + "/" + item["end-month"] + "/" + item["end-year"] %}
      {% else %}
        {% set endDate = 'Present' %}
      {% endif %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ startDate }} - {{ endDate }}</td>
        <td class="govuk-table__cell">{{ item.role }}</td>
        <td class="govuk-table__cell">{{ item.org }}</td>
        <td class="govuk-table__cell govuk-!-padding-right-2">
          <a href="/profile/school-experience/edit/role/{{ item.id }}?referrer={{ referrer }}">Edit<span class="govuk-visually-hidden"> role</span></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">No school experiences entered</h2>
{% endif %}

{% if data["school-experience"]["missing"] and not schoolExperience.length %}
  <p class="govuk-body-s govuk-!-width-two-thirds">You can still submit an application without school experience but a few days observing in a school will help you decide if teaching is for you. <a href="https://schoolexperience.education.gov.uk/">Get school experience</a>.</p>
  {{ govukButton({
    text: "Add school experience or role",
    classes: "govuk-button--secondary",
    href: "/profile/school-experience/add/role?referrer=" + referrer
  }) }}
{% endif %}
