{% set qualifications = data["qualifications"] | toArray %}
<table class="govuk-table govuk-!-font-size-16">
  <caption class="govuk-table__caption govuk-heading-m">{{ categoryTitle }}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Qualification</th>
      <th class="govuk-table__header" scope="col">Grade</th>
      <th class="govuk-table__header" scope="col">Year awarded</th>
      <th class="govuk-table__header" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
{% for item in qualifications %}
  {% if item.category == category %}
    {% if item.missing %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ item.type }} {{ item.subject }}</td>
      <td class="govuk-table__cell" colspan="2">{{ item.missing }}</td>
      <td class="govuk-table__cell"><a href="/profile/qualifications/{{ category }}/edit/{{ item.id }}">Edit {{ category }}</a></td>
    </tr>
    {% else %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ item.type }} {{ item.subject }}</td>
      <td class="govuk-table__cell">{{ item.grade }}</td>
      <td class="govuk-table__cell">{{ item.year }}</td>
      <td class="govuk-table__cell"><a href="/profile/qualifications/{{ category }}/edit/{{ item.id }}">Edit {{ category }}</a></td>
    </tr>
    {% endif %}
  {% endif %}
{% endfor %}
  </tbody>
</table>
