{% set addressHtml %}
{% if data["contact-details"]["address"]["street-address"] %}
  {{ data["contact-details"]["address"]["street-address"] | nl2br | safe }}
{% else %}
  {% if data["contact-details"]["address"]["line1"] %}
    {{ data["contact-details"]["address"]["line1"] }}<br>
  {% endif %}
  {% if data["contact-details"]["address"]["line2"] %}
    {{ data["contact-details"]["address"]["line2"] }}<br>
  {% endif %}
  {% if data["contact-details"]["address"]["level2"] %}
    {{ data["contact-details"]["address"]["level2"] }}<br>
  {% endif %}
  {% if data["contact-details"]["address"]["level1"] %}
    {{ data["contact-details"]["address"]["level1"] }}<br>
  {% endif %}
  {% if data["contact-details"]["address"]["postal-code"] %}
    {{ data["contact-details"]["address"]["postal-code"] }}<br>
  {% endif %}
  {% if data["contact-details"]["address"]["country"] %}
    {{ data["contact-details"]["address"]["country"] }}
  {% endif %}
{% endif %}
{% endset %}
{% set addressEditHref = "/profile/contact-details" if data["contact-details"]["address"]["street-address"] else "/profile/contact-details/address/edit" %}
{{ govukSummaryList({
  classes: "govuk-!-font-size-16 govuk-summary-list--no-border",
  rows: [{
    key: {
      text: "Phone number"
    },
    value: {
      text: data["contact-details"]["phone-number"]
    },
    actions: {
      items: [{
        href: "/profile/contact-details",
        text: "Change",
        visuallyHiddenText: "phone number"
      }]
    }
  }, {
    key: {
      text: "Email address"
    },
    value: {
      text: data["contact-details"]["email"]
    },
    actions: {
      items: [{
        href: "/profile/contact-details/",
        text: "Change",
        visuallyHiddenText: "email"
      }]
    }
  }, {
    key: {
      text: "Address"
    },
    value: {
      html: addressHtml
    },
    actions: {
      items: [{
        href: addressEditHref,
        text: "Change",
        visuallyHiddenText: "address"
      }]
    }
  }]
}) }}
