{% set applicationPath = '/application/' + applicationId %}
{% set addressHtml %}
  {% if applicationValue(["contact-details", "address"]) %}
    {% if applicationValue(["contact-details", "address", "street-address"]) %}
      {{ applicationValue(["contact-details", "address", "street-address"]) | nl2br | safe }}
    {% else %}
      {% if applicationValue(["contact-details", "address", "line1"]) %}
        {{ applicationValue(["contact-details", "address", "line1"]) }}<br>
      {% endif %}
      {% if applicationValue(["contact-details", "address", "line2"]) %}
        {{ applicationValue(["contact-details", "address", "line2"]) }}<br>
      {% endif %}
      {% if applicationValue(["contact-details", "address", "level2"]) %}
        {{ applicationValue(["contact-details", "address", "level2"]) }}<br>
      {% endif %}
      {% if applicationValue(["contact-details", "address", "level1"]) %}
        {{ applicationValue(["contact-details", "address", "level1"]) }}<br>
      {% endif %}
      {% if applicationValue(["contact-details", "address", "postal-code"]) %}
        {{ applicationValue(["contact-details", "address", "postal-code"]) }}<br>
      {% endif %}
      {% if applicationValue(["contact-details", "address", "country"]) %}
        {{ applicationValue(["contact-details", "address", "country"]) }}
      {% endif %}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}
{% set addressEditHref = applicationPath + "/contact-details" if data["contact-details"]["address"]["street-address"] else applicationPath + "/contact-details/address" %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Phone number"
    },
    value: {
      text: (applicationValue(["contact-details", "phone-number"]) | default("Not entered"))
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/contact-details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "phone number"
      }]
    } if review != true
  }, {
    key: {
      text: "Email address"
    },
    value: {
      text: (applicationValue(["contact-details", "email"]) | default("Not entered"))
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/contact-details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "email"
      }]
    } if review != true
  }, {
    key: {
      text: "Address"
    },
    value: {
      html: addressHtml
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: addressEditHref + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "address"
      }]
    } if review != true
  }]
}) }}
