{% set path = "/application/" + applicationId + "/equality-monitoring/" %}

{% set disabilityText %}
  {% set disabilities = applicationValue(["equality-monitoring", "disabilities"]) | split %}
  {% if disabilities.length >= 1 %}
    <ul class="govuk-list">
      {%- for disability in disabilities -%}
        <li>{{ disability }}</li>
      {%- endfor -%}
    </ul>
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set ethnicGroupText %}
  {% if applicationValue(["equality-monitoring", "ethnic-group"]) %}
    {% if applicationValue(["equality-monitoring", "ethnic-group"]) != "Prefer not to say" %}
      {% if applicationValue(["equality-monitoring", "ethnic-background"]) != "Prefer not to say" %}
        {{ applicationValue(["equality-monitoring", "ethnic-background-other"]) or applicationValue(["equality-monitoring", "ethnic-background"]) }}
      {% endif %}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set freeSchoolMealsText %}
  {% if applicationValue(["equality-monitoring", "free-school-meals"]) == "Yes" %}
    I received free school meals at some point during my school years
  {% elif applicationValue(["equality-monitoring", "free-school-meals"]) == "No" %}
    I did not receive free school meals at any point during my school years
  {% elif applicationValue(["equality-monitoring", "free-school-meals"]) == "I do not know" %}
    I do not know whether I received free school meals at any point during my school years
  {% else %}
    {{ applicationValue(["equality-monitoring", "free-school-meals"]) }}
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Sex"
    },
    value: {
      text: applicationValue(["equality-monitoring", "sex"]) or "Not entered"
    },
    actions: {
      items: [{
        href: path + "sex?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "sex"
      }]
    }
  }, {
    key: {
      text: "Disabilities or health conditions"
    },
    value: {
      text: disabilityText | safe
    },
    actions: {
      items: [{
        href: path + "disabilities?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "disability status"
      }]
    }
  }, {
    key: {
      text: "Ethnicity"
    },
    value: {
      text: ethnicGroupText
    },
    actions: {
      items: [{
        href: path + "ethnic-group?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group?"
      }]
    }
  }, {
    key: {
      text: "Free school meals"
    },
    value: {
      text: freeSchoolMealsText
    },
    actions: {
      items: [{
        href: path + "free-school-meals?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "eligibility for free school meals"
      }]
    }
  }]
}) }}
