{% set applicationPath = '/application/' + applicationId %}
{{ govukSummaryList({
  rows: [{
    key: {
      text: "Evidence of subject knowledge"
    },
    value: {
      text: (applicationValue(["subject-knowledge", "statement"]) | default("Not entered")) | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/subject-knowledge?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review != true
  }]
}) }}
