{% set qualifications = applicationValue("other-qualifications") | toArray %}
{% set applicationPath = "/application/" + applicationId %}
{% if qualifications.length >= 1 %}
  {% for qualification in qualifications %}
    {{ govukSummaryList({
      classes: "app-summary",
      rows: [{
        key: {
          text: "Qualification"
        },
        value: {
          text: qualification.type or "Not entered"
        },
        actions: {
          classes: "govuk-!-padding-right-2",
          items: [{
            href: applicationPath + "/other-qualifications/" + qualification.id + "?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "year"
          }]
        } if review == true
      }, {
        key: {
          text: "Institution"
        },
        value: {
          text: (qualification.org + " " + qualification.country if qualification.org) or "Not entered"
        },
        actions: {
          classes: "govuk-!-padding-right-2",
          items: [{
            href: applicationPath + "/other-qualifications/" + qualification.id + "?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "year"
          }]
        } if review == true
      }, {
        key: {
          text: "Year awarded"
        },
        value: {
          text: qualification.year or "Not entered"
        },
        actions: {
          classes: "govuk-!-padding-right-2",
          items: [{
            href: applicationPath + "/other-qualifications/" + qualification.id + "?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "year"
          }]
        } if review == true
      }, {
        key: {
          text: "Grade"
        },
        value: {
          text: qualification.grade  or "Not entered"
        },
        actions: {
          classes: "govuk-!-padding-right-2",
          items: [{
            href: applicationPath + "/other-qualifications/" + qualification.id + "?referrer=" + referrer,
            text: "Change",
            visuallyHiddenText: "grade"
          }]
        } if review == true
      }]
    }) }}
  {% endfor %}
{% else %}
  <div class="app-summary">
    <p class="govuk-body govuk-!-margin-bottom-0">No other qualifications entered</p>
  </div>
{% endif %}
