{% set applicationPath = "/application/" + applicationId %}
{% set schoolExperience = applicationValue("school-experience")
  | toArray
  | sort(attribute="start-date")
  | selectattr("id")
%}

{% if schoolExperience.length >= 1 %}
  <table class="govuk-table app-summary">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" width="30%">Role</th>
        <th class="govuk-table__header" scope="col">Organisation</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header govuk-!-padding-right-2" scope="col">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for item in schoolExperience %}
      {% set itemStart = item["start-date"] %}
      {% set itemEnd = item["end-date"] if item["end-date"] else "now" %}
      <tr class="govuk-table__row">
        <th class="govuk-table__header">{{ item.role }}</th>
        <td class="govuk-table__cell">{{ item.org }}</td>
        <td class="govuk-table__cell">
          {{ itemStart | date("dd/LL/yyyy") }}&nbsp;-
          {{ itemEnd | date("dd/LL/yyyy") if item["end-date"] else "Present" }}
        </td>
        <td class="govuk-table__cell govuk-!-padding-right-2">
          <a href="{{ applicationPath }}/school-experience/role/{{ item.id }}?referrer={{ referrer }}">Change<span class="govuk-visually-hidden"> role</span></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="app-summary">
    {% if review != true %}
      {% if applicationValue(["school-experience","attained"] == "false") and not schoolExperience.length %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">No school experiences entered</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">You can still submit an application without school experience, but a few days observing in a school will help you decide if teaching is for you. <a href="https://schoolexperience.education.gov.uk/">Get school experience</a>.</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-bottom-0">No school experiences entered</p>
      {% endif %}
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-0">No school experiences entered</p>
    {% endif %}
  </div>
{% endif %}
