{% set applicationPath = "/application/" + applicationId %}

{{ govukSummaryList({
  classes: "app-summary",
  rows: [{
    key: {
      text: "Qualification"
    },
    value: {
      text: (degree.type + " " + degree.subject if degree.type) or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/degree/" + degree.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if review == true
  }, {
    key: {
      text: "Institution"
    },
    value: {
      text: (degree.org + " " + degree.country if degree.org) or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/degree/" + degree.id + "?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if review == true
  }, {
    key: {
      text: "Year awarded"
    },
    value: {
      text: degree.year or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/degree/" + degree.id + "/year?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "year"
      }]
    } if review == true
  }, {
    key: {
      text: "Grade"
    },
    value: {
      text: (degree["grade-predicted"] + " (Predicted)" if degree["grade"] == "Pending") or degree["grade-other"] or degree.grade or "Not entered"
    },
    actions: {
      classes: "govuk-!-padding-right-2",
      items: [{
        href: applicationPath + "/degree/" + degree.id + "/grade?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "grade"
      }]
    } if review == true
  }]
}) }}
