{% set path = "/application/" + applicationId + "/equality-monitoring/" %}

{% set disabilityText %}
  {% if applicationValue(["equality-monitoring", "disability-status"]).includes("Yes") %}
    {{ applicationValue(["equality-monitoring", "disability-status"]) }}
    {% set disabilities = applicationValue(["equality-monitoring", "disabilities"]) %}
    {% if disabilities.length >= 1 %}
      ({%- for disability in disabilities -%}
        {{ (" and " if loop.last else ", ") if not loop.first }}{%- if disability == "Other" %}
          {{ applicationValue(["equality-monitoring", "disabilities-other"]) }}
        {%- else -%}
          {{ disability }}
        {%- endif -%}
      {%- endfor -%})
    {% endif %}
  {% else %}
    {{ applicationValue(["equality-monitoring", "disability-status"]) }}
  {% endif %}
{% endset %}

{% set ethnicGroupText %}
  {{ applicationValue(["equality-monitoring", "ethnic-group"]) }}
  {% if not applicationValue(["equality-monitoring", "ethnic-group"]).includes("Prefer not to say") %}
    ({{ applicationValue(["equality-monitoring", "ethnic-background-other"]) or applicationValue(["equality-monitoring", "ethnic-background"]) }})
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Sex"
    },
    value: {
      text: applicationValue(["equality-monitoring", "sex"]) or "Not entered"
    },
    actions: {
      items: [{
        href: path + "sex?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "sex"
      }]
    }
  }, {
    key: {
      text: "Disability(s)"
    },
    value: {
      text: disabilityText | safe
    },
    actions: {
      items: [{
        href: path + "disability-status?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "disability status"
      }]
    }
  }, {
    key: {
      text: "Ethnicity"
    },
    value: {
      text: ethnicGroupText
    },
    actions: {
      items: [{
        href: path + "ethnic-group?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group?"
      }]
    }
  }]
}) }}
