{% set references = applicationValue('referees') | toArray %}
{% set applicationPath = '/application/' + applicationId %}
{% if references.length >= 1 %}
  {% for item in references %}
    {% set typeRow = {
      key: {
        text: "Referee type"
      },
      value: {
        text: item.type
      },
      actions: {
        items: [{
          href: applicationPath + "/references/type/" + item.id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "referee"
        }]
      }
    } %}
    {% set nameRow = {
      key: {
        text: "Name"
      },
      value: {
        text: item.name
      },
      actions: {
        items: [{
          href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "referee"
        }]
      }
    } %}
    {% set emailRow = {
      key: {
        text: "Email"
      },
      value: {
        text: item.email
      },
      actions: {
        items: [{
          href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "referee"
        }]
      }
    } %}
    {% set relationshipRow = {
      key: {
        text: "Relationship"
      },
      value: {
        text: item.relationship
      },
      actions: {
        items: [{
          href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "referee"
        }]
      }
    } %}
    {% set characterRow = {
      key: {
        text: "Reason for providing a character reference"
      },
      value: {
        text: item["character-explanation"]
      },
      actions: {
        items: [{
          href: applicationPath + "/references/details/" + item.id + "?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "referee"
        }]
      }
    } %}
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ item.id | capitalize }} referee</h3>
    {% if item["character-explanation"] %}
      {{ govukSummaryList({
        rows: [typeRow, nameRow, emailRow, relationshipRow, characterRow]
      }) }}
    {% else %}
      {{ govukSummaryList({
        rows: [typeRow, nameRow, emailRow, relationshipRow]
      }) }}
    {% endif %}
  {% endfor %}
{% else %}
  <p class="govuk-body">No references entered</p>
{% endif %}
