{% set applicationPath = '/application/' + applicationId %}
{% set nameText %}
  {% if applicationValue(["candidate", "name"]) %}
    {{ applicationValue(["candidate", "name"]) }}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set nationalityText %}
  {% if applicationValue(["candidate", "nationality"]) %}
    {{ applicationValue(["candidate", "nationality"]) }}
    {% if applicationValue(["candidate", "second-nationality"]) %}
      and {{ applicationValue(["candidate", "second-nationality"]) }}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set residencyStatus = applicationValue(["candidate", "residency-status"]) %}
{% set residencyStatusText %}
  {% if residencyStatus == "right-to-study" %}
    I have the right to study and/or work in the&nbsp;UK{{ ": " + applicationValue(["candidate", "residency-status-right-to-study"]) if applicationValue(["candidate", "residency-status-right-to-study"]) }}
  {% elif residencyStatus == "require-tier-2" %}
    I will need to apply for a general work visa (Tier 2) to work in the&nbsp;UK
  {% elif residencyStatus == "require-tier-4" %}
    I will need to apply for a general student visa (Tier 4) to study in the&nbsp;UK
  {% elif residencyStatus == "unknown" %}
    I don’t know my residency status{{ ": " + applicationValue(["candidate", "residency-status-unknown"]) if applicationValue(["candidate", "residency-status-unknown"]) }}
  {% else %}
    UK citizen
  {% endif %}
{% endset %}

{% set nameRow = {
  key: {
    text: "Name"
  },
  value: {
    text: nameText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "name"
    }]
  } if review != true
} %}

{% set nationalityRow = {
  key: {
    text: "Nationality"
  },
  value: {
    html: nationalityText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "nationality"
    }]
  } if review != true
} %}

{% set residencyStatusRow = {
  key: {
    text: "Residency status"
  },
  value: {
    html: residencyStatusText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details/residency-status?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "residency status"
    }]
  } if review != true
} %}

{% set textContent %}
  {% if applicationValue(["language-skills", "main"]) %}
    {{ applicationValue(["language-skills", "main"]) }}
    {% if applicationValue(["language-skills", "english"]) %}
      {{ applicationValue(["language-skills", "english"]) }}
    {% elif applicationValue(["language-skills", "other"]) %}
      {{ applicationValue(["language-skills", "other"]) }}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set languageRow  = {
  key: {
    text: "Is English your first language?"
  },
  value: {
    text: textContent
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "English language qualifications"
    }]
  } if review != true
} %}

{% if residencyStatus %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [nameRow, nationalityRow, languageRow, residencyStatusRow]
  }) }}
{% else %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [nameRow, nationalityRow, languageRow]
  }) }}
{% endif %}
