{% set applicationPath = '/application/' + applicationId %}
{{ govukSummaryList({
  classes: "app-summary",
  rows: [{
    key: {
      text: "Why do you want to be a teacher?"
    },
    value: {
      text: (statement["vocation"] | default("Not entered")) | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statementId + "/vocation?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "why you want to be a teacher"
      }]
    } if review != true
  }, {
    key: {
      text: "Your knowledge about the subject you want to teach"
    },
    value: {
      text: (statement["subject-knowledge"] | default("Not entered")) | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statementId + "/subject-knowledge?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review != true
  }, {
    key: {
      text: "Interview preferences"
    },
    value: {
      text: (statement["interview"] | default("Not entered")) | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statementId + "/interview?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review != true
  }]
}) }}
