{% set courses = data["courses"] %}
<table class="govuk-table govuk-!-font-size-16 govuk-!-margin-bottom-3">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Application</th>
      <th class="govuk-table__header app-table__cell--action" scope="col">
        <span class="govuk-visually-hidden">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for course in courses %}
    {% set provider = providers[course.provider] %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="/applications/{{ provider.code }}/{{ course.code }}/review">{{ course.name }} ({{ course.code }}) with {{ provider.name }}</a></h3>
        <p class="app-caption-xs govuk-!-margin-0">{{ course.qualification }}</p>
      </td>
      <td class="govuk-table__cell app-table__cell--action">
        <strong class="govuk-tag" id="{{ item.id }}-completed">Submitted</strong>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
