{% set qualifications = data["qualifications"] | toArray %}
<table class="govuk-table govuk-!-font-size-16">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col">{{ categoryTitle }}</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Grade</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Year awarded</th>
      <th class="govuk-table__header" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
{% for item in qualifications %}
  {% if item.category == category %}
    {% if item.provenance == "missing" %}
    <tr class="govuk-table__row app-table__cell--muted">
      <td class="govuk-table__cell">{{ item.subject }} (Missing)</td>
      <td class="govuk-table__cell" colspan="2">Have you considered how you will meet this requirement in time for the start of your course? You can’t enrol without it. Contact your training provider for advice on missing qualifications.</td>
      <td class="govuk-table__cell">
        <a href="/profile/qualifications/edit/{{ category }}/{{ item.id }}">Change<span class="govuk-visually-hidden"> {{ category}} qualification</span></a>
      </td>
    </tr>
    {% else %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {{ item["type-other"] if item["type-other"] else item.type }} {{ item.subject }}
        {% if item.country != "United Kingdom" %}
          <br>{{ item.institution }}
        {% endif %}
        {% if item.country != "United Kingdom" %}
          <br>{{ item.country }}
        {% endif %}
      </td>
      <td class="govuk-table__cell">{{ item["grade-other"] if item["grade-other"] else item.grade }}</td>
      <td class="govuk-table__cell">{{ item.year }}</td>
      <td class="govuk-table__cell"><a href="/profile/qualifications/edit/{{ category }}/{{ item.id }}">Change<span class="govuk-visually-hidden"> {{ category}} qualification</span></a></td>
    </tr>
    {% endif %}
  {% endif %}
{% endfor %}
  </tbody>
</table>
