{% set applicationPath = "/application/" + applicationId %}
{{ govukSummaryList({
  classes: "app-summary",
  rows: [{
    key: {
      text: "Why do you want to be a teacher?"
    },
    value: {
      text: (statement["vocation"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statement.id + "/vocation?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "why you want to be a teacher"
      }]
    } if review == true
  }, {
    key: {
      text: "Your knowledge about the subject you want to teach"
    },
    value: {
      text: (statement["subject-knowledge"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statement.id + "/subject-knowledge?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review == true
  }, {
    key: {
      text: "Interview preferences"
    },
    value: {
      text: (statement["interview"] or "Not entered") | nl2br | safe
    },
    actions: {
      items: [{
        classes: "govuk-!-padding-right-2",
        href: applicationPath + "/personal-statement/" + statement.id + "/interview?referrer=" + referrer,
        text: "Change" if statement["vocation"] else "Add",
        visuallyHiddenText: "evidence of subject knowledge"
      }]
    } if review == true
  }]
}) }}
