{% set applicationPath = '/application/' + applicationId %}
{% set nameText %}
  {% if applicationValue(["candidate", "given-name"]) or applicationValue(["candidate", "family-name"]) %}
    {{ applicationValue(["candidate", "given-name"]) }} {{ applicationValue(["candidate", "family-name"]) }}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set dateOfBirthDay = applicationValue(["candidate", "date-of-birth", "day"]).padStart(2, '0') %}
{% set dateOfBirthMonth = applicationValue(["candidate", "date-of-birth", "month"]).padStart(2, '0') %}
{% set dateOfBirthYear = applicationValue(["candidate", "date-of-birth", "year"]) %}
{% set dateOfBirth = dateOfBirthYear + "-" + dateOfBirthMonth + "-" + dateOfBirthDay %}
{% set dateOfBirthText = dateOfBirth | date("d MMMM yyyy") %}

{% set nationalityText %}
  {% if applicationValue(["candidate", "nationality"]) %}
    {{ applicationValue(["candidate", "nationality"]) }}
    {% if applicationValue(["candidate", "second-nationality"]) %}
      and {{ applicationValue(["candidate", "second-nationality"]) }}
    {% endif %}
  {% else %}
    Not entered
  {% endif %}
{% endset %}

{% set residencyStatus = applicationValue(["candidate", "residency-status"]) %}
{% set residencyStatusText %}
  {% if residencyStatus == "right-to-study" %}
    I have the right to study and/or work in the&nbsp;UK{{ ": " + applicationValue(["candidate", "residency-status-right-to-study"]) if applicationValue(["candidate", "residency-status-right-to-study"]) }}
  {% elif residencyStatus == "require-tier-2" %}
    I will need to apply for a general work visa (Tier 2) to work in the&nbsp;UK
  {% elif residencyStatus == "require-tier-4" %}
    I will need to apply for a general student visa (Tier 4) to study in the&nbsp;UK
  {% elif residencyStatus == "unknown" %}
    I don’t know my residency status{{ ": " + applicationValue(["candidate", "residency-status-unknown"]) if applicationValue(["candidate", "residency-status-unknown"]) }}
  {% else %}
    UK citizen
  {% endif %}
{% endset %}

{% set nameRow = {
  key: {
    text: "Name"
  },
  value: {
    text: nameText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "name"
    }]
  } if review != true
} %}

{% set dateofBirthRow = {
  key: {
    text: "Date of birth"
  },
  value: {
    text: dateOfBirthText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "date of birth"
    }]
  } if review != true
} %}

{% set nationalityRow = {
  key: {
    text: "Nationality"
  },
  value: {
    html: nationalityText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "nationality"
    }]
  } if review != true
} %}

{% set residencyStatusRow = {
  key: {
    text: "Residency status"
  },
  value: {
    html: residencyStatusText
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details/residency-status?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "residency status"
    }]
  } if review != true
} %}

{% set englishIsMain = applicationValue(["language-skills", "main"]) == "Yes" and applicationValue(["language-skills", "yes-details"]) %}
{% set englishIsOther = applicationValue(["language-skills", "main"]) == "No" and applicationValue(["language-skills", "no-details"]) %}

{% set languageRow  = {
  key: {
    text: "Is English your main language?"
  },
  value: {
    html: "<p>" + applicationValue(["language-skills", "main"]) + "</p>" + ("<p>Other languages spoken: " + applicationValue(["language-skills", "yes-details"]) + "</p>" if englishIsMain) + ("<p>English language qualifications: " + applicationValue(["language-skills", "no-details"]) + "</p>" if englishIsOther)
  },
  actions: {
    classes: "govuk-!-padding-right-2",
    items: [{
      href: applicationPath + "/personal-details?referrer=" + referrer,
      text: "Change",
      visuallyHiddenText: "if English is your main language"
    }]
  } if review != true
} %}

{% if residencyStatus %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [nameRow, dateofBirthRow, nationalityRow, residencyStatusRow, languageRow]
  }) }}
{% else %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [nameRow, dateofBirthRow, nationalityRow, languageRow]
  }) }}
{% endif %}
