{% if not data.flags.selfAmendContactDetails %}
  {{ appRelated({
    title: "Updating your contact information",
    content: {
      html: "<p class=\"govuk-body-s\">You can update your contact information at any point during the application process. To do this, email us at <a href=\"mailto:becomingateacher@digital.education.gov.uk\">becomingateacher<wbr>@digital.education.gov.uk</a>.</p>"
    }
  }) }}
{% endif %}
