{% extends "_layout-git.njk" %}

{% set title = "Training to teach if you have a disability" %}

{% block content %}
  <div class="git-content">
    <h1 class="govuk-heading-xl govuk-!-margin-top-4">{{ title }}</h1>
    <p class="govuk-body">Teachers with disabilities make valuable contributions both to classrooms and the culture of schools where they work. If you have a disability, don’t be dissuaded from applying to train.</p>

    <h2 class="govuk-heading-m">Your rights</h2>
    <p class="govuk-body">It’s against the law for teacher training providers to discriminate against you because you’re disabled or have special educational needs.</p>
    <p class="govuk-body">Under the Equality Act 2010, providers must make adjustments to help you do a course or go to an interview, providing your requests are reasonable.</p>
    <p class="govuk-body">Common reasonable adjustments include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>making modifications to buildings</li>
      <li>offering flexible working hours</li>
      <li>providing specialist equipment, such as a hearing loop or adapted keyboard</li>
    </ul>
    <p class="govuk-body">If the help you need is not covered by your provider making reasonable adjustments, you may also be able to get support from <a href="https://www.gov.uk/access-to-work">Access to Work</a>. This could include a grant to help cover the costs of practical support in the workplace.</p>

    <h2 class="govuk-heading-m">Telling a training provider about your disability</h2>
    <p class="govuk-body">It’s up to you if you want to tell your school or training provider about your disability. The main advantage of doing this is it allows them to put support in place.</p>
    <p class="govuk-body">Any information you give about your disability is protected under the <a href="https://www.gov.uk/data-protection/the-data-protection-act">Data Protection Act 2018</a>.</p>

    <h2 class="govuk-heading-m">Completing a fitness questionnaire</h2>
    <p class="govuk-body">If you’re offered a place on a teacher training course, you may have to complete a fitness questionnaire before you start. Training providers should only ask relevant questions to make sure you’re able to train to teach.</p>

    <h2 class="govuk-heading-m">Useful resources</h2>
    <h3><a href="https://www.gov.uk/disabled-students-allowances-dsas/overview">Disabled Students’ Allowances</a></h3>
    <p class="govuk-body">These allowances cover additional expenditure for disabled students while on higher education courses. They’re not means tested and you don’t have to pay them back.

    <h3><a href="http://www.equalityhumanrights.com/en">The Equality and Human Rights Commission (EHRC)</a></h3>
    <p class="govuk-body">The EHRC website offers information about the Equality Act for schools and teacher training providers. It also has details on the codes of practice that relate to equal pay, race, disability and gender discrimination.</p>

    <h3><a href="http://www.abilitynet.org.uk/">AbilityNet</a></h3>
    <p class="govuk-body">This gives specialist advice on the use of computers and communication technology for disabled people.</p>

    <h3><a href="http://www.disabilityrightsuk.org/adjustments-disabled-students">Disability Rights UK</a></h3>
    <p class="govuk-body">This has information on adjustments for disabled students while studying.</p>

    <p class="govuk-body">We recommend you <a href="https://getintoteaching.education.gov.uk/node/2278">register with us</a> to receive more information about becoming a teacher.</p>
  </div>
{% endblock %}
