.app-course-choice {
  // background-color: govuk-colour("light-grey");
  // border: 0 none !important;

  .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
      width: 20%;
    }
  }

  .app-summary-card__title a {
    text-decoration: none;
  }
}

.app-course-choice__provider-name {
  @include govuk-font($size: 19, $weight: "bold");
}

.app-course-choice__course-name {
  // @include govuk-font($size: 24, $weight: "bold");
  display: block;
  // text-decoration: underline;
}
