.app-feedback {
  @include govuk-responsive-margin(6, "bottom");
}

.app-feedback__button {
  @include govuk-font(19);
  margin: 0;
  min-width: 100px;

  @include govuk-media-query($from: tablet) {
    @include govuk-font(16);
  }
}

.app-feedback__button--close {
  float: right;
  margin-top: govuk-spacing(1) * -1;
  margin-bottom: govuk-spacing(4);
}

.app-feedback__container {
  @include govuk-clearfix;
  align-items: center;
  background-color: govuk-colour("light-grey");
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: center;
  outline: 0;
  padding: govuk-spacing(2) govuk-spacing(5);
  min-height: 80px;

  .js-enabled & {
    display: flex;

    &[aria-hidden="true"] {
      display: none;
    }
  }

  @include govuk-media-query($from: tablet) {
    text-align: left;
  }
}

.app-feedback__container-title {
  @include govuk-font(19, $weight: bold);
  display: inline-block;
  margin: govuk-spacing(3) 0;
  margin-right: govuk-spacing(4);

  &:focus {
    outline: 0;
  }

  @include govuk-media-query($from: tablet) {
    @include govuk-font(16, $weight: bold);
  }
}

.app-feedback__list {
  list-style-type: none;
  margin: govuk-spacing(2) 0;
  padding: 0;
}

.app-feedback__list-item {
  + .app-feedback__list-item {
    margin-left: govuk-spacing(4);
  }

  @include govuk-media-query($from: mobile) {
    display: inline-block;
  }
}

.app-feedback__form {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  border-top: $govuk-border-width solid govuk-colour("blue");
  outline: 0;

  .js-enabled & {
    display: block;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}
