.app-inset-text--narrow-border {
  border-left-width: $govuk-border-width-narrow;
}

.app-inset-text--important {
  border-color: govuk-colour("blue");

  .app-inset-text__title {
    color: govuk-colour("blue");
  }
}

.app-inset-text--error {
  border-color: $govuk-error-colour;
  border-left-width: $govuk-border-width;

  .govuk-heading-s {
    color: $govuk-error-colour;
  }
}

.app-inset-text--review {
  border-color: govuk-tint(govuk-colour("pink"), 40);

  .govuk-heading-s {
    color: govuk-shade(govuk-colour("pink"), 40);
  }
}
