.app-summary-text {
  border-color: govuk-colour("blue");
  border-style: solid;
  border-width: 0 0 0 $govuk-border-width;
  padding: govuk-spacing(3);
  padding-left: govuk-spacing(4);
  @include govuk-responsive-margin(4, "bottom");
}

.app-summary-text--error {
  border-color: $govuk-error-colour;

  .app-summary-text__text {
    color: $govuk-error-colour;
  }
}

.app-summary-text__text {
  @include govuk-font($size: 19, $weight: bold);

  color: govuk-colour("blue");
  clear: both;
  display: block;
  margin-bottom: 0;
}

.app-summary-text__link {
  font-weight: normal;
}
