.app-summary {
  margin-bottom: govuk-spacing(8);
  padding: govuk-spacing(2);
  outline: 2px solid govuk-colour("mid-grey");

  &.govuk-summary-list {
    padding: 0;
  }

  .govuk-summary-list__row:last-child > * {
    border-bottom: 0;
  }

  .govuk-summary-list__row {
    margin: 0;
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions {
    padding: govuk-spacing(2);
    margin: 0;
  }

  .govuk-summary-list__key {
    background-color: govuk-colour("light-grey");
  }

  .govuk-table__head {
    background-color: govuk-colour("light-grey");
  }

  .govuk-table__header,
  .govuk-table__cell {
    padding-left: govuk-spacing(2);
    padding-right: govuk-spacing(2);
  }

  .govuk-summary-list__row:last-of-type,
  .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: 0 none;
  }
}
