.app-summary {
  margin-bottom: govuk-spacing(8);
  padding: govuk-spacing(2);
  outline: 2px solid govuk-colour("mid-grey");

  &.govuk-summary-list {
    padding: 0;
  }

  .govuk-summary-list__row:last-child > * {
    border-bottom: 0;
  }

  .govuk-summary-list__key {
    padding-left: govuk-spacing(2);
    background-color: govuk-colour("light-grey");
  }

  .govuk-summary-list__actions,
  .govuk-summary-list__value {
    padding-left: govuk-spacing(2);
    padding-right: govuk-spacing(2);
  }

  .govuk-table__head {
    background-color: govuk-colour("light-grey");
  }

  .govuk-table__head .govuk-table__header {
    border-bottom: 0 none;
  }

  .govuk-table__header,
  .govuk-table__cell {
    padding-left: govuk-spacing(2);
  }
}
