@mixin tag($color: "blue", $filled: true) {
  white-space: nowrap;

  @if $filled {
    background-color: govuk-colour($color);
    color: govuk-colour("white");
  } @else {
    background-color: govuk-colour("white");
    outline: 3px solid govuk-colour($color);
    color: govuk-colour($color);
  }
}

// Course decision statuses
.app-tag--offer {
  @include tag("turquoise", $filled: false);
}

.app-tag--accepted {
  @include tag("turquoise");
}

.app-tag--declined {
  @include tag("orange");
}

.app-tag--rejected,
.app-tag--withdrawn {
  @include tag($color: "red");
}

// Section completion statuses
.app-tag--unamended {
  @include tag("light-grey", $filled: true);
  color: govuk-colour("dark-grey");
}

.app-tag--submitted {
  @include tag("dark-grey", $filled: true);
}

.app-tag--not-complete {
  @include tag("blue", $filled: false);
}

// Newer tags

.govuk-tag {
  white-space: nowrap;
}

.app-tag--grey {
  color: govuk-shade(govuk-colour("dark-grey"), 30);
  background: govuk-tint(govuk-colour("dark-grey"), 90);
}

.app-tag--purple {
  color: govuk-shade(govuk-colour("purple"), 20);
  background: govuk-tint(govuk-colour("purple"), 80);
}

.app-tag--turquoise {
  color: govuk-shade(govuk-colour("turquoise"), 60);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.app-tag--blue {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.app-tag--orange {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}

.app-tag--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.app-tag--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}
