@mixin tag($color: "blue", $filled: true) {
  white-space: nowrap;

  @if $filled {
    background-color: govuk-colour($color);
    color: govuk-colour("white");
  } @else {
    background-color: govuk-colour("white");
    outline: 3px solid govuk-colour($color);
    color: govuk-colour($color);
  }
}

// Course decision statuses
.app-tag--offer {
  @include tag("turquoise", $filled: false);
}

.app-tag--accepted {
  @include tag("turquoise");
}

.app-tag--declined {
  @include tag("orange");
}

.app-tag--rejected,
.app-tag--withdrawn {
  @include tag($color: "red");
}

// Section completion statuses
.app-tag--unamended {
  @include tag("light-grey", $filled: true);
  color: govuk-colour("dark-grey");
}

.app-tag--submitted {
  @include tag("dark-grey", $filled: true);
}

.app-tag--not-complete {
  @include tag("blue", $filled: false);
}
