$govuk-header-link-underline-thickness: 3px;

// START OLD HEADER STYLES
// Delete below once rebrand is complete
.cross-service-header__button {
  display: none;

  .toggle-enabled & {
    display: inline;
    display: flex;

    @include govuk-media-query ($from: tablet) {
      display: none;
    }
  }

  @include govuk-font($size: 19, $weight: bold);
  position: relative;
  align-items: center;
  cursor: pointer;
  min-width: 240px;
  min-width: max-content;
  border: 0;
  margin: 0;
  padding: govuk-spacing(2) 0 govuk-spacing(1) govuk-spacing(4);
  background: none;

  &:before {
    content: "";
    position: absolute;
    left: .15rem;
    top: 50%;
    box-sizing: border-box;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    transform: translateY(-65%) rotate(135deg);
    border-top: 0.15rem solid;
    border-right: 0.15rem solid;
  }

  &.cross-service-header__button--open {
    &:before {
      transform: translateY(-15%) rotate(-45deg);
    }
  }

    color: govuk-colour("white");
    // apply focus style on :focus for browsers which support :focus but not :focus-visible
    &:focus {
      @include govuk-focused-text;
  
      // overwrite previous styles for browsers which support :focus-visible
      &:not(:focus-visible) {
        outline: none;
        color: govuk-colour("white");
        background: none;
        box-shadow: none;
      }
  
      // apply focus style on :focus-visible for browsers which support :focus-visible
      &-visible {
        @include govuk-focused-text;
      }
    }
}

.cross-service-header__button-icon {
  margin-left: govuk-spacing(2);
  font-size: 0;

  &.cross-service-header__button-icon--focus {
    display: none;
  }

  // apply focus style on :focus for browsers which support :focus but not :focus-visible
  .cross-service-header__button:focus & {
    &.cross-service-header__button-icon--default {
      display: none;
    }

    &.cross-service-header__button-icon--focus {
      display: inline;
    }
  }

  // overwrite previous styles for browsers which support :focus-visible
  .cross-service-header__button:focus:not(:focus-visible) & {
    &.cross-service-header__button-icon--default {
      display: inline;
    }

    &.cross-service-header__button-icon--focus {
      display: none;
    }
  }

  // apply focus style on :focus-visible for browsers which support :focus-visible
  .cross-service-header__button:focus-visible & {
    &.cross-service-header__button-icon--default {
      display: none;
    }

    &.cross-service-header__button-icon--focus {
      display: inline;
    }
  }
}

.one-login-header {
  @include govuk-font($size: 19);
  color: govuk-colour("white");
  background: govuk-colour("black");
  border-bottom: govuk-spacing(2) solid $govuk-link-colour;
  position: relative;
}

.one-login-header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one-login-header__logo {
  min-width: max-content;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  max-width: 33.33%;
  @include govuk-media-query ($from: desktop) {
    width: 33.33%;
    padding-right: govuk-spacing(3);
  }
}

.one-login-header__link,
.one-login-header__nav__link {
  &:link,
  &:visited {
    @include govuk-typography-common;
    @include govuk-link-style-inverse;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: $govuk-header-link-underline-thickness;
  
      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }
  
    &:focus {
      @include govuk-focused-text;
    }
  }
}

.one-login-header__logotype {
  display: inline-block;
  position: relative;
  top: -3px;

  // Add a gap after the logo in case it's followed by a product name. This
  // gets removed later if the logotype is a :last-child.
  margin-right: govuk-spacing(1);
  fill: currentcolor;
  vertical-align: top;

  // Prevent readability backplate from obscuring underline in Windows High
  // Contrast Mode
  @media (forced-colors: active) {
    forced-color-adjust: none;
    color: linktext;
  }

  // Remove the gap after the logo if there's no product name to keep hover
  // and focus states neat
  &:last-child {
    margin-right: 0;
  }
}

.one-login-header__link--homepage {
  // Font size needs to be set on the link so that the box sizing is correct
  // in Firefox
  @include govuk-font($size: false, $weight: bold);

  display: inline-block;
  margin-right: govuk-spacing(2);
  font-size: 30px; // We don't have a mixin that produces 30px font size
  line-height: 1;

  @include govuk-media-query($from: tablet) {
    display: inline;

    &:focus {
      // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
      // This is to stop the logo getting cut off by the box shadow when focused on above a product name
      box-shadow: 0 0 $govuk-focus-colour;
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    // Negate the added border
    margin-bottom: $govuk-header-link-underline-thickness * -1;
    // Omitting colour will use default value of currentColor – if we
    // specified currentColor explicitly IE8 would ignore this rule.
    border-bottom: $govuk-header-link-underline-thickness solid;
  }

  // Remove any borders that show when focused and hovered.
  &:focus {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.one-login-header__nav {
  @include govuk-media-query ($until: tablet) {
    width: 100%;
  }

  @include govuk-media-query ($from: tablet) {
    max-width: 66%;
  } 
}

.one-login-header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;

  // if JS is unavailable, the nav links are expanded and the toggle button is hidden

  .toggle-enabled & {
    @include govuk-media-query ($until: tablet) {
      display: none;
    }

    @include govuk-media-query ($from: tablet) {
      display: flex;
    } 
  }

  .one-login-header__nav--open & {
    @include govuk-media-query ($until: tablet) {
      display: block;
    }
  }

  @include govuk-media-query ($from: tablet) {
    padding: govuk-spacing(2) 0;
    display: flex;
    align-items: center;
  } 
}

.one-login-header__nav__list-item {
  display: inline-block;
  padding: govuk-spacing(2) 0;

  @include govuk-media-query ($from: tablet) {
    padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(6);
    border-left: 1px solid $govuk-border-colour;
    align-self: stretch;

    &:not(:last-child) {
      margin-right: govuk-spacing(4);
    }
  }

  @include govuk-media-query ($until: tablet) {
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }
}

.one-login-header__nav__link {
  font-weight: bold;

  &.one-login-header__nav__link--one-login {
    @include govuk-media-query ($from: tablet) {
      display: flex;
      justify-content: center;

      &:focus {
        .cross-service-header__button-icon {
          display: none;
        }

        .cross-service-header__button-icon--focus {
          display: inline;
        }
      }
    } 

    @include govuk-media-query ($until: tablet) {
      .cross-service-header__button-icon {
        display: none;
      }
    } 
  }
}
// END OLD HEADER STYLES
// Delete above once rebrand is complete

// START REBRANDED HEADER STYLES 
$toggle-content-spacing: 8px;
$toggle-padding-bottom: 18px;
$block-link-spacing: govuk-spacing(3);
$logo-height: 30px;
$toggle-border-height: 3px;

.rebranded-one-login-header {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  position: relative;
  border-bottom: 1px solid transparent;
  background: $govuk-brand-colour;
}

.rebranded-one-login-header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

  .rebranded-one-login-header__logo {
    min-width: max-content;
    max-width: 33.33%;
    // this strange non-standard spacing came from the Design System
    padding-top:16px;
    padding-bottom:12px;

    @include govuk-media-query ($from: desktop) {
      width: 33.33%;
      padding-right: govuk-spacing(3);
    }
  }

  .rebranded-one-login-header__logotype {
    display: inline-block;
    position: relative;
    top: -3px;
    // this is in place to ensure the GOVUK logo doesn't overflow when text magnification is used
    max-width: 80vw;
    fill: currentcolor;
    vertical-align: top;
  
    // Prevent readability backplate from obscuring underline in Windows High
    // Contrast Mode
    @media (forced-colors: active) {
      forced-color-adjust: none;
      color: linktext;
    }
  }

  .rebranded-one-login-header__link--homepage {
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox
    @include govuk-font($size: false, $weight: bold);
    display: inline-block;
    margin-right: govuk-spacing(2);
    font-size: 30px; // We don't have a mixin that produces 30px font size
    line-height: 1;
  
    @include govuk-media-query($from: tablet) {  
      &:focus {
        // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
        // This is to stop the logo getting cut off by the box shadow when focused on above a product name
        box-shadow: 0 0 $govuk-focus-colour;
      }
    }
  
    &:link,
    &:visited {
      text-decoration: none;
    }
  
    &:hover,
    &:active {
      // Negate the added border
      margin-bottom: $govuk-header-link-underline-thickness * -1;
      // Omitting colour will use default value of currentColor – if we
      // specified currentColor explicitly IE8 would ignore this rule.
      border-bottom: $govuk-header-link-underline-thickness solid;
    }
  
    // Remove any borders that show when focused and hovered.
    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .rebranded-one-login-header__link,
  .rebranded-one-login-header__nav__link {
    &:link,
    &:visited {
      @include govuk-typography-common;
      @include govuk-link-style-inverse;
      text-decoration: none;
    
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: $govuk-header-link-underline-thickness;
    
        @if $govuk-link-underline-offset {
          text-underline-offset: $govuk-link-underline-offset;
        }
      }
    
      &:focus {
        @include govuk-focused-text;
      }
    }
  }

  .rebranded-one-login-header__link {
    word-spacing:-.375rem;
  
    &>* {
      word-spacing:0;
    }
  
    &:not(:focus){
      background-color:$govuk-brand-colour;
    }
  }

  .rebranded-one-login-header__nav {
    @include govuk-media-query ($until: tablet) {
      width: 100%;
    }
  
    @include govuk-media-query ($from: tablet) {
      max-width: 66%;
    } 
  }

  .rebranded-one-login-header__nav__link {
    font-weight: bold;

    @include govuk-media-query ($from: tablet) {
      position: relative;
      padding: $block-link-spacing 0;

      &:after {
        content: '';
        display: none;
        position: absolute;
        height: $toggle-border-height;
        width: calc(100% - $block-link-spacing*2);
        bottom: 0;
        left: $block-link-spacing;
      }

      // this degree of specificity is only needed in order to overrule DS rules
      &:link:link,
      &:link:visited,
      &:visited:link,
      &:visited:visited {
        &:hover,
        &:active {
          text-decoration: none;

          &:after {
            display: block;
            background-color: govuk-colour("white");
          }
        }

        &:focus {
          box-shadow: none;
  
          &:after {
            display: block;
            background-color: $govuk-focus-text-colour;
          }
        }
      }
    }

    @include govuk-media-query ($until: tablet) {
      &:link:link,
      &:link:visited,
      &:visited:link,
      &:visited:visited {
        color: $govuk-brand-colour;
        &:focus {
          color: $govuk-focus-text-colour;
        }
      }
    }
  }

  .rebranded-one-login-header__nav__link-content {
    @include govuk-media-query ($from: tablet) {
      padding: 0 $block-link-spacing;
      display: flex;
      align-items: center;

      &--sign-out {
        height: $logo-height;
        border-left: 1px solid govuk-colour("white");
      }
    }
  }

  .rebranded-one-login-header__nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include govuk-media-query ($from: tablet) {
      display: flex;
      align-items: center;
    }

    @include govuk-media-query ($until: tablet) {
      background-color: govuk-colour("white");
      color: $govuk-brand-colour;
      margin-right: -(govuk-spacing(3));
      margin-left: -(govuk-spacing(3));
      padding: 0 govuk-spacing(3);
      border-bottom: 1px solid $govuk-brand-colour;
    }
  }

  // if JS is unavailable, the nav links are expanded and the toggle button is hidden
  .toggle-enabled .rebranded-one-login-header__nav__list {
    @include govuk-media-query ($until: tablet) {
      display: none;
    }

    @include govuk-media-query ($from: tablet) {
      display: flex;
    } 
  }
  .rebranded-one-login-header__nav--open .rebranded-one-login-header__nav__list {
    @include govuk-media-query ($until: tablet) {
      display: block;
    }
  }

  .rebranded-one-login-header__nav__list-item {
    @include govuk-media-query ($from: tablet) {
      border-left: none;
      margin-right: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
  
    @include govuk-media-query ($until: tablet) {
      padding: govuk-spacing(3) 0;

      &:not(:last-child) {
        border-bottom: 1px solid govuk-colour("mid-grey");
      }
    }
  }

  .rebranded-cross-service-header__logo {
    margin-right: $toggle-content-spacing;
  }

  .rebranded-cross-service-header__logo--nav {
    @include govuk-media-query ($until: tablet) {
      display: none;
    }
  }

.rebranded-cross-service-header__toggle {
  display: none;
  @include govuk-font($size: 16, $weight: bold);
  position: relative;
  cursor: pointer;
  border: 0;
  margin: 0;
  background: none;
  color: inherit;
  padding: govuk-spacing(3) govuk-spacing(3) $toggle-padding-bottom govuk-spacing(3);
  margin-right: -(govuk-spacing(3));
  align-self: start;

  @mixin toggle-button-focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    outline: 3px solid transparent;
  }

  &:focus {
    @include toggle-button-focus;

    &.rebranded-cross-service-header__toggle--open {
      @include toggle-button-focus;
    }

    // apply focus style on :focus-visible for browsers which support :focus-visible
    &-visible {
      @include toggle-button-focus;

      &.rebranded-cross-service-header__toggle--open {
        @include toggle-button-focus;
      }
    }
  }

  &.rebranded-cross-service-header__toggle--open {
    background-color: govuk-colour("white");
    color: $govuk-brand-colour;

    &:before {
      transform: translateY(-20%) rotate(-45deg);
    }
  }
}

.toggle-enabled .rebranded-cross-service-header__toggle {
  display: inline;

  @include govuk-media-query ($from: tablet) {
    display: none;
  }
}

.rebranded-cross-service-header__toggle-content-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    margin-left: $toggle-content-spacing;
    top: 50%;
    width: 0.6rem;
    height: 0.6rem;
    // this is in place to ensure the caret renders as intended when text magnification is useds
    min-width: 0.6rem;
    transform: translateY(-20%) rotate(135deg);
    border-top: 0.15rem solid;
    border-right: 0.15rem solid;
    .rebranded-cross-service-header__toggle--open & {
      transform: translateY(30%) rotate(-45deg);
    }
  }

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: $toggle-border-height;
    background-color: transparent;
    bottom: -$toggle-padding-bottom;
  
    .rebranded-cross-service-header__toggle:hover & {
      background-color: govuk-colour("white");
    }
        
    .rebranded-cross-service-header__toggle--open &,
    .rebranded-cross-service-header__toggle--open:hover & {
      background-color: $govuk-brand-colour;
    }

    .rebranded-cross-service-header__toggle:focus &,
    .rebranded-cross-service-header__toggle:focus-visible & {
      background-color: $govuk-focus-text-colour;
      &:hover {
        background-color: $govuk-focus-text-colour;
      }
    }
  }
}

.rebranded-one-login-header__logo-dot {
  fill: #00ffe0;
  
    // Override Dot colour when printing
    @include govuk-media-query($media-type: print) {
      fill: currentcolor;
    }

    // Override Dot colour on forced colours mode
    @media (forced-colors: active) {
      fill: currentcolor;
    }

    // Override Dot colour on focus
    :focus & {
      fill: currentcolor;
    }
}
// end REBRANDED HEADER STYLES 
