<div class="app-banner{% if params.type == "success" %} app-banner--success{% elif params.type == "warning" %} app-banner--warning{% endif %}{{- " " + params.classes if params.classes}}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="app-banner__message">
    {% if params.iconFallbackText %}<span class="app-banner__assistive">{{ params.iconFallbackText }}</span>{% endif %}
    {{- params.html | safe if params.html else params.text -}}
  </div>
</div>