{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = referrer or "/application/" + applicationId + "/english-language/review" %}
{% set ielts = type == "IELTS" %}
{% set toefl = type == "TOEFL" %}

{% set qualificationName = "English language" %}
{% if ielts %}
  {% set qualificationName = "IELTS" %}
  {% set certificateLabelText = "Test report form (TRF) number" %}
  {% set certificateHintText = "For example, 02GB0674SOOM599A" %}
  {% set gradeLabelText = "Overall band score" %}
  {% set gradeHintText = "For example, 7.5" %}
  {% set gradeWidth = 4 %}
{% elif toefl %}
  {% set qualificationName = "TOEFL" %}
  {% set certificateLabelText = "TOEFL registration number" %}
  {% set certificateHintText = "For example, 0000 0000 2500 2147" %}
  {% set gradeLabelText = "Total score" %}
  {% set gradeHintText = "For example, 92" %}
  {% set gradeWidth = 4 %}
{% endif %}

{% set parent = "English as a foreign language" %}
{% set action = "edit" if applicationValue(["english-language", "subject"]) else "add" %}
{% set title = (action | capitalize) + " " + qualificationName + " qualification" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/english-language/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if ielts or toefl %}
    {{ govukInput({
      label: {
        text: certificateLabelText,
        classes: "govuk-label--m"
      },
      hint: {
        text: certificateHintText
      }
    } | decorateApplicationAttributes(["english-language", "certificate-number"])) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "Qualification name",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For example, CAE (Cambridge Advanced English), Pearson Test of English"
      }
    } | decorateApplicationAttributes(["english-language", "type-other"])) }}
  {% endif %}

  {{ govukInput({
    label: {
      text: gradeLabelText or "Score or grade",
      classes: "govuk-label--m"
    },
    hint: {
      text: gradeHintText
    },
    classes: "govuk-input--width-" + (gradeWidth | default(10))
  } | decorateApplicationAttributes(["english-language", "grade"])) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["english-language", "year"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
