{% extends "_form.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "English as a foreign language" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set missingConditionalHtml %}
    <p class="govuk-hint">If English is a foreign language to you, or if you do not have an English GCSE or equivalent, you may have to give evidence for your level of English.</p>
    <p class="govuk-hint">Contact your provider for advice about showing your level of English.</p>

    {{ govukCharacterCount({
      label: {
        classes: "govuk-label--s",
        html: "If you’re planning on doing an assessment, give details here"
      },
      maxwords: 200,
      rows: 6
    } | decorateApplicationAttributes(["englishLanguage", "answer-missing"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you done an English as a foreign language assessment?",
        classes: "govuk-fieldset__legend--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "Yes"
    }, {
      text: "No, English is not a foreign language to me"
    }, {
      text: "No, I have not done an English as a foreign language assessment",
      conditional: {
        html: missingConditionalHtml
      }
    }]
  } | decorateApplicationAttributes(["englishLanguage", "answer"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
