{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "English as a foreign language" %}
{% set referrer = applicationPath + "/english-language/review" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/english-language.njk" %}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "englishLanguage"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
