{% extends "layouts/main.html" %}

{% set applicationPath = "/application" %}
{% set formaction = "/application/" + "/english-language/details" %}
{% set parent = "English as a foreign language" %}
{% set title = "What English language assessment did you do?" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
       href: "/application/" + "/english-language"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ govukRadios({
    fieldset: {
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      value: "IELTS",
      text: "International English Language Testing System (IELTS)"
    }, {
      value: "TOEFL",
      text: "Test of English as a Foreign Language (TOEFL)"
    }, {
      text: "Other"
    }]
  } | decorateApplicationAttributes(["englishLanguage", "type"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
