{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set title = "Declare any safeguarding issues" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% include "_includes/review/safeguarding.html" %}
{# this statement shows either radio buttons to ask if the section is completed
or shows an inset with contact details to change this section if at least 1 application is submitted #}
{% if numberOfApplicationsLeft >= 4 %}
<form action="/details" method="post">
  {{ govukRadios({
      name: "completed[" + id + "]",
      value: data.completed[id],
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

  {{ govukButton({
      text: "Continue"
    }) }}
</form>
{% else %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  html: 'Contact <a class="govuk-link" href="becomingateacher@education.gov.uk">becomingateacher@education.gov.uk</a> if you need to update this section.'
}
      ) }}
{% endif %}
{% endblock %}
