{% extends "_form.njk" %}

{% set title = "Subject knowledge" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% if data["settings"]["primary-application"] == "true" %}
  <p class="govuk-body-l">This section is optional for candidates applying to primary courses.</p>
  <p class="govuk-body">However, you can use it to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>give an overview of subject knowledge you bring to the primary curriculum</li>
    <li>showcase the abilities and skills you would contribute</li>
  </ul>
  <p class="govuk-body">You can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your A level subjects</li>
    <li>expertise you’ve gained at work</li>
    <li>subjects you have a particular interest or talent in (for example, drama, music, art or sport)</li>
  </ul>
{% else %}
  <p class="govuk-body-l">Use this section to give evidence of the knowledge and interest you bring to the subject(s) you'd like to teach.</p>
  <p class="govuk-body">This is particularly important if your choice of subject is different from that of your degree. Check your provider’s course listing page on <a href="https://find-postgraduate-teacher-training.education.gov.uk/">Find postgraduate teacher training</a> for their specific subject knowledge requirements.</p>
  <p class="govuk-body">Evidence can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>modules you studied as part of your undergraduate degree</li>
    <li>other tertiary qualifications (for example a Masters or Phd)</li>
    <li>your A level subjects</li>
    <li>expertise you’ve gained at work</li>
  </ul>
  <p class="govuk-body">Providers may ask you to sit a <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses/">subject knowledge enhancement</a> (SKE) course to top up your subject knowledge. If you are not a recent graduate, a SKE course could also help you update your knowledge of the curriculum. Learn more at <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses/">Get into Teaching</a>.</p>
{% endif %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukCharacterCount({
    label: {
      text: "Give detailed evidence of your subject knowledge.",
      classes: "govuk-label--s"
    },
    maxwords: 600,
    rows: 12,
    id: "subject-knowledge-statement",
    name: "subject-knowledge[statement]",
    value: data["subject-knowledge"]["statement"]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
