{% extends "_form.njk" %}

{% set title = "Subject knowledge" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body-l">Use this section to give evidence of the knowledge and interest you bring to the subject(s) you'd like to teach.</p>
  <p class="govuk-body">This is particularly important if your choice of subject is different from that of your degree. Check your provider’s course listing page on <a href="https://find-postgraduate-teacher-training.education.gov.uk/">Find postgraduate teacher training</a> for their specific subject knowledge requirements.</p>
  <p class="govuk-body">Evidence can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>modules you studied as part of your undergraduate degree</li>
    <li>other tertiary qualifications (for example a Masters or Phd)</li>
    <li>your A level subjects</li>
    <li>expertise you’ve gained at work</li>
  </ul>
  <p class="govuk-body">Providers may ask you to sit a <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses/">subject knowledge enhancement</a> (SKE) course to top up your subject knowledge. If you are not a recent graduate, a SKE course could also help you update your knowledge of the curriculum. Learn more at <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses/">Get into Teaching</a>.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% set skeExplanation %}
  {{ govukCharacterCount({
    label: {
      html: "Explain why you believe a SKE would benefit you (optional)"
    },
    maxwords: 300,
    rows: 6,
    id: "subject-knowledge-enhancement-details",
    name: "subject-knowledge[enhancement-details]",
    value: data["subject-knowledge"]["enhancement-details"]
  }) }}
{% endset -%}

  {{ govukCharacterCount({
    label: {
      text: "Give detailed evidence of your subject knowledge.",
      classes: "govuk-label--s"
    },
    maxwords: 600,
    rows: 12,
    id: "subject-knowledge-statement",
    name: "subject-knowledge[statement]",
    value: data["subject-knowledge"]["statement"]
  }) }}

  {{ govukRadios({
    idPrefix: "subject-knowledge-enhancement",
    name: "subject-knowledge[enhancement]",
    fieldset: {
      legend: {
        text: "Would you be interested in taking a subject knowledge enhancement (SKE) course?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("['subject-knowledge']['enhancement']", "yes"),
      conditional: {
        html: skeExplanation
      }
    }, {
      value: "no",
      text: "No",
      checked: checked("['subject-knowledge']['enhancement']", "no")
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
