{% extends "_form.njk" %}

{% set choices = applicationValue("choices") | toArray %}
{% set choicesRemaining = 3 - ((pendingChoices() | length) + (choices | length)) %}

{% set count = choices.length %}
{% set provider = providers[choices[count - 1].providerCode] %}
{% set courseCode = choices[count - 1].courseCode %}
{% set course = provider.courses[courseCode] %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: "You’ve added " + course.name_and_code + " to your application",
    type: "success"
  }) }}
{% endblock %}

{% if choicesRemaining == 1 %}
  {% set title = "You can choose 1 more course" %}
{% else %}
  {% set title = "You can choose " + choicesRemaining + " more courses" %}
{% endif %}

{% set formaction = paths.current %}
{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId + "/choices"
  }) }}
{% endblock %}

{% block primary %}

  {{ pendingChoices() | dump }}

  {{ govukRadios({
    name: 'add-another-course',
    fieldset: {
      legend: {
        text: "Do you want to add another course?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes, add another course"
    }, {
      value: "no",
      text: "No, not at the moment"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
