{% extends "layouts/main.html" %}

{% set title = "Are you sure you want to delete this course choice?" %}
{% set formaction = "/application/" + "/choices/" + id + "/delete" %}
{% set backLinkHref = "/application/" + "/choices" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkHref
  }) }}
{% endblock %}

{% block content %}
  {{ govukButton({
    text: "Yes I’m sure - delete this course choice",
    classes: "govuk-button--warning"
  }) }}
  <p class="govuk-body"><a href="{{ backLinkHref }}" class="govuk-link">Cancel</a></p>
{% endblock %}
