{% extends "layouts/main.html" %}

{% set title = "Find a course" %}
{% set formaction = paths.next %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/" + "/choices/" + choiceId + "/found"
  }) }}
{% endblock %}

{% block content %}
  <p class="govuk-body-l">Search for courses near you on Find postgraduate teacher&nbsp;training.</p>
  <p class="govuk-body">A <a href="https://adviser-getintoteaching.education.gov.uk/">teacher training adviser</a> can help you understand your course options and support you with your application.</p>

  {{ govukButton({
    html: "Start now <span class=\"govuk-visually-hidden\">(Opens in a new window)</span>",
    href: data.findUrl,
    isStartButton: true,
    classes: "govuk-!-margin-bottom-2",
    attributes: {
      target: "_blank",
      "aria-describedby": "find-new-window"
    }
  }) }}
  <p class="govuk-body-s govuk-!-margin-bottom-6" id="find-new-window" aria-hidden="true">Opens in a new window</p>

  <p class="govuk-body"><a href="/application/{{ applicationId }}">Return to your application</a></p>
{% endblock %}
