{% extends "_form.njk" %}
{% set hasCourseFromFind = data.course_from_find %}
{% if hasCourseFromFind %}
  {% set provider = providers[data.course_from_find.providerCode] %}
  {% set course = provider.courses[data.course_from_find.courseCode] %}
  {% set title = "You selected a course" %}
{% else %}
  {% set title = "Have you chosen a course to apply to?" %}
{% endif %}
{% set formaction = paths.current %}

{% block pageNavigation %}
  {% if not applicationValue("welcomeFlow") %}
    {{ govukBackLink({
      href: paths.back
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/before-you-start"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if hasCourseFromFind %}
    {% set courseHtml %}
      <a href="{{ data.find_url }}/course/T92/X130" target="_blank" class="govuk-!-font-weight-bold" style="text-decoration: none">
        <span class="govuk-!-font-size-19">
          {{ provider.name }}
        </span><br>
        <span class="search-result-link-name govuk-!-font-size-24" style="text-decoration: underline">
          {{ course.name_and_code }}
        </span>
      </a>
    {% endset %}


    {{ govukInsetText({
        html: courseHtml,
        classes: "govuk-!-margin-top-0"
    }) }}

    <h2 class="govuk-heading-m">Do you want to apply to this course?</h2>

    {{ govukRadios({
      items: [{
        value: "yes",
        text: "Yes"
      }, {
        value: "no",
        text: "No"
      }]
    } | decorateApplicationAttributes(["temporaryChoices", choiceId, "fromFind"])) }}
  {% else %}
    {{ govukRadios({
      items: [{
        value: "know",
        text: "Yes, I know where I want to apply"
      }, {
        value: "need",
        text: "No, I need to find a course"
      }]
    } | decorateApplicationAttributes(["temporaryChoices", choiceId, "found"])) }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
