{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set showChoiceStatus = false %}
{% set choices = applicationValue("choices") | toArray %}
{% set choiceCount = choices | length %}
{% if choiceCount >= 1 %}
  {% if applicationValue(["apply2"]) %}
    {% set title = "Course choice" %}
  {% else %}
    {% set title = "Course choices" %}
  {% endif %}
{% else %}
  {% if applicationValue(["apply2"]) %}
    {% set title = "Choosing a course" %}
  {% else %}
    {% set title = "Choosing courses" %}
  {% endif %}
{% endif %}

{% block pageNavigation %}
  {% if not applicationValue('welcomeFlow') %}
    {% if referrer %}
      {{ govukBackLink({
        href: referrer
      }) }}
    {% else %}
      {{ govukBackLink({
        href: "/application/" + applicationId,
        text: "Back to application"
      }) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set guidance %}
    {% if applicationValue(["apply2"]) %}
      <p class="govuk-body">You can only apply to 1 course at a time at this stage of your application.</p>
    {% else %}
      <p class="govuk-body">You can apply to up to 3 courses at this stage of your application.</p>
    {% endif %}
    <p class="govuk-body">Not all courses and training providers are signed up to Apply for teacher training. If you choose a course that isn’t signed up to the service, you’ll be directed to UCAS to continue your application.</p>
    <p class="govuk-body">You can preview <a href="/apply/providers">courses currently available</a> on Apply for teacher training.</p>
  {% endset %}

  {% if choices %}
    {% set referrer = applicationPath + "/choices" %}
    {% set canAmend = true %}
    {% include "_includes/review/choices.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not choices or choiceCount == 0 %}
        {{ guidance | safe }}

        {{ govukButton({
          text: "Continue",
          href: applicationPath + "/choices/add"
        }) }}
      {% endif %}

      {% if choiceCount >= 1 and choiceCount < 3 %}
        {{ govukButton({
          classes: "govuk-button--secondary govuk-!-margin-bottom-9",
          text: "Add another course",
          href: applicationPath + "/choices/add"
        }) }}
      {% endif %}

      {% if choiceCount >= 1 %}
        {{ govukCheckboxes({
          items: [{
            value: "true",
            text: "I have completed this section"
          }]
        } | decorateApplicationAttributes(["completed", "choices"])) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
