{% extends "layouts/main.html" %}
{% set hasCourseFromFind = data.course_from_find %}
{% set choices = data.choices %}

{% if hasCourseFromFind %}
  {% set provider = providers[data.course_from_find.providerCode] %}
  {% set course = provider.courses[data.course_from_find.courseCode] %}
  {% set title = "You selected a course" %}
{% else %}
  {% set title = "Do you know which course you want to apply to?" %}
{% endif %}
{% set formaction = paths.current %}

{% if data["from"] == "application" or (choices | length) == 0 %}
  {% set backLinkHref = "/application/" %}
{% else %}
  {% set backLinkHref = "/application/choices/review" %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkHref
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% if hasCourseFromFind %}
        {% set courseHtml %}
          <a href="{{ data.findUrl }}/course/T92/X130" target="_blank" class="govuk-!-font-weight-bold" style="text-decoration: none">
            <span class="govuk-!-font-size-19">
              {{ provider.name }}
            </span><br>
            <span class="search-result-link-name govuk-!-font-size-24" style="text-decoration: underline">
              {{ course.name_and_code }}
            </span>
          </a>
        {% endset %}


        {{ govukInsetText({
            html: courseHtml,
            classes: "govuk-!-margin-top-0"
        }) }}

        <h2 class="govuk-heading-m">Do you want to apply to this course?</h2>

        {{ govukRadios({
          items: [{
            value: "yes",
            text: "Yes"
          }, {
            value: "no",
            text: "No"
          }]
        } ) }}
      {% else %}

        <form action="/application/choices/course-known" method="post">
          {{ govukRadios({
            name: "courseKnown",
            fieldset: {
              legend: {
                text: title,
                isPageTitle: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [{
              value: "yes",
              text: "Yes, I know where I want to apply"
            }, {
              value: "no",
              text: "No, I need to find a course"
            }]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>
      {% endif %}


    </div>
  </form>
{% endblock %}
