{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set choices = applicationValue("choices") | toArray %}
{% set title = "Course choices" %}

{% block pageNavigation %}
  {% if not applicationValue('welcomeFlow') %}
    {% if referrer %}
      {{ govukBackLink({
        href: referrer
      }) }}
    {% else %}
      {{ govukBackLink({
        href: "/application/" + applicationId,
        text: "Back to application"
      }) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if choices %}
    {% set referrer = applicationPath + "/choices" %}
    {% set review = true %}
    {% include "_includes/review/choices.njk" %}
    {% if choices | length < 3 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Do you want to add another course?</h2>
          <p class="govuk-body">You can apply to up to 3 courses at this stage of your application.</p>
          {# <p class="govuk-body">Once you’ve chosen your courses, you’ll be able to tailor your application to suit different courses and training providers.</p> #}
          <p class="govuk-body">Not all courses and training providers are signed up to GOV.UK Apply. If you choose a course that isn’t signed up to the service, you’ll be directed to UCAS to continue your application.</p>
        </div>
      </div>

      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-bottom-9",
        text: "Add another course",
        href: applicationPath + "/choices/add"
      }) }}
    {% endif %}
    {{ govukCheckboxes({
      items: [{
        value: "true",
        text: "I have completed this section"
      }]
    } | decorateApplicationAttributes(["completed", "choices"])) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  {% else %}
    {{ govukButton({
      text: "Add course",
      href: applicationPath + "/choices/add"
    }) }}
  {% endif %}
{% endblock %}
