{% extends "_form.njk" %}

{% set title = "Pick a course location" %}
{% set formaction = paths.next %}
{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  <p>This course is offered in different locations. Pick the location you would prefer to be based in.</p>

  {{ govukRadios({
    items: locationOptions
  } | decorateApplicationAttributes(["temporaryChoices", choiceId, "location"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
