{% extends "_form.njk" %}

{% set editing = applicationValue(["choices", choiceId]) %}
{% if editing %}
  {% set providerCode = applicationValue(["choices", choiceId, "providerCode"]) %}
{% else %}
  {% set providerCode = applicationValue(["temporaryChoices", choiceId, "provider"]) | providerCode %}
{% endif %}
{% set provider = providers[providerCode] %}
{% set providerOnDfEApply = false if providerCode == 'B20' else true %}
{% set title = "Which course are you applying to?" if providerOnDfEApply else "You need to apply on UCAS" %}
{% set formaction = paths.next %}
{% set applicationPath = "/application/" + applicationId %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% if providerOnDfEApply %}
    {% set courseAutocompleteHtml %}
      <div class="govuk-form-group">
        <label for="courses-{{ choiceId }}-course" class="govuk-label">Enter course name and code</label>
        <div id="course-autocomplete-container"></div>
      </div>
    {% endset %}

    {% if data.course_from_find and providerCode == data.course_from_find.providerCode %}
      {% set course = provider.courses[data.course_from_find.courseCode] %}

      {{ govukRadios({
        items: [{
          text: course.name_and_code
        }, {
          divider: "or"
        }, {
          text: "Another course",
          value: "another",
          conditional: {
            html: courseAutocompleteHtml
          }
        }]
      } | decorateApplicationAttributes(["temporaryChoices", choiceId, "courseFromFind"])) }}
    {% else %}
      {{ courseAutocompleteHtml | safe }}
    {% endif %}

    {{ govukButton({
      text: "Continue"
    }) }}
  {% else %}
    <p>For now, the Department for Education’s Apply for teacher training service is limited to just a few training providers.</p>
    <p>The training provider you’ve chosen is not signed up to the new service. This means you must apply for it using UCAS.</p>
    <p>You’ll need to register with UCAS before you can apply.</p>

    <p class="govuk-body">You can also:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/apply/get-into-teaching">Learn more about changes to teacher training applications</a></li>
      <li><a href="/apply/providers">Check the list of training providers</a> signed up to Apply for teacher training</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--l">
    <p class="govuk-body"><a href="https://2020.teachertraining.apply.ucas.com/apply/student/login.do" class="govuk-button govuk-!-margin-bottom-0">Apply on UCAS</a></p>
    <p class="govuk-body">or</p>
    <p class="govuk-body">
      <a href="{{ applicationPath }}" class="govuk-button govuk-button--secondary">Return to your application</a>
    </p>
  {% endif %}
{% endblock %}

{% block pageScripts %}
  {% if providerOnDfEApply %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      {% if editing %}
        {% set defaultValue = provider.courses[applicationValue(["choices", choiceId, "courseCode"])].name_and_code %}

        accessibleAutocomplete({
          defaultValue: "",
          name: "applications[{{ applicationId }}][temporaryChoices][{{ choiceId }}][course]",
          element: document.querySelector('#course-autocomplete-container'),
          id: 'courses-{{ choiceId }}-course',
          showAllValues: true,
          source: [
            {% for id, item in provider.courses %}"{{ item.name_and_code }}",{% endfor %}
          ]
        })
      {% else %}
        accessibleAutocomplete({
          defaultValue: '{{ applicationValue(["temporaryChoices", choiceId, "course"]) }}',
          name: "applications[{{ applicationId }}][temporaryChoices][{{ choiceId }}][course]",
          element: document.querySelector('#course-autocomplete-container'),
          id: 'courses-{{ choiceId }}-course',
          showAllValues: true,
          source: [
            {% for id, item in provider.courses %}"{{ item.name_and_code }}",{% endfor %}
          ]
        })
      {% endif %}
    </script>
  {% endif %}
{% endblock %}
