{% extends "layouts/main.html" %}

{% set choices = data.choices %}
{% set choicesCount = choices | length %}
{% set choicesRemaining = 3 - choicesCount %}
{% if choicesCount >= 1 %}
  {% set title = "Course choices" %}
{% else %}
  {% set title = "Choosing courses" %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      {% if choicesRemaining != 0 %}

        {% set addAnotherHtml %}

          <p class="govuk-body">
            {% if choicesRemaining == 1 %}
              You can add 1 more course.
            {% else %}
              You can add {{ choicesRemaining }} more courses.
            {% endif %}
          </p>

          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Add another course",
            href: "/application/choices"
          }) }}
        {% endset %}

        {{ govukInsetText({html: addAnotherHtml}) }}
      {% endif %}

      {% set referrer = applicationPath + "/choices" %}
      {% set canAmend = true %}
      {% set showChoiceStatus = false %}
      {% include "_includes/review/choices.html" %}

      <form action="/application" method="post">
        {{ govukRadios({
          name: "completed[choices]",
          value: data.completed.choices,
          fieldset: {
            classes: "govuk-!-width-two-thirds",
            legend: {
              text: "Have you completed this section?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You can add " + choicesRemaining + (" more courses" if choicesRemaining > 1 else " more course")
          } if choicesRemaining != 0,
          items: [{
            value: "true",
            text: "Yes, I’ve completed this section"
          }, {
            value: "false",
            text: "No, I’ll come back to it later"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
