<p class="govuk-body">You can apply for this course through Apply for teacher training.</p>
<p class="govuk-body">Apply for teacher training is a new application process designed to make it easier to apply for teacher training courses. It also offers personalised support.</p>
<p class="govuk-body">It will eventually replace UCAS as the way to apply for teacher training.</p>
<p class="govuk-body"><a href="/apply/get-into-teaching">Learn more about changes to teacher training applications</a></p>

<h2 class="govuk-heading-l">Is this new service right for you?</h2>
<p class="govuk-body">We’re still working on Apply for teacher training, so it might not be possible to apply to all the courses you’d like to through the service.</p>
<p class="govuk-body">To apply to those courses you’ll need to make a second application through UCAS.</p>
<p class="govuk-body">Unfortunately the service isn’t ready for international candidates or candidates who’ve studied outside the UK.</p>

{{ govukButton({
  text: "Apply through the new service",
  classes: "govuk-!-margin-bottom-5 govuk-!-margin-top-5"
}) }}

<p>or</p>
<p><a href="https://2020.teachertraining.apply.ucas.com/apply/student/login.do">Apply on UCAS</a></p>
