<p class="govuk-body">You can apply for this course through UCAS or by using a new GOV.UK service, Apply for teacher training.</p>
<p class="govuk-body"><a href="/apply/get-into-teaching">Learn more about Apply for teacher training</a></p>

<h2 class="govuk-heading-l">Choose how to apply</h2>
{{ govukRadios({
  idPrefix: "apply-route",
  name: "apply-route",
  classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-6",
  items: [{
    value: "dfe",
    text: "Apply through the new GOV.UK service",
    label: {
      classes: "govuk-label--m govuk-!-margin-bottom-3"
    },
    hint: {
      html: "
        <p>If you apply using the new service, we’ll invite you to help us with research, and give you £50 as a thank you.</p>
        <p>The service is still in development and is limited to <a href=\"/apply/providers\">just a few training providers</a>.</p>
        <p>To apply to most courses and training providers, you will need to make a separate application through UCAS.</p>
        <p>Additionally, the service isn’t ready yet for international candidates or candidates who’ve studied outside the UK.</p>"
    }
  }, {
    value: "ucas",
    text: "Apply through UCAS",
    label: {
      classes: "govuk-label--m"
    }
  }]
}) }}

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-5"
}) }}
