{% extends "_form.njk" %}

{% set title = "Before you start" %}
{% set isSignedOut = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">The {{ serviceName }} service is currently in pilot, and for this reason, we need to limit the number of candidate participants.</p>
  <p class="govuk-body">Please answer the following questions to check your eligibility.</p>

  {{ govukRadios({
    idPrefix: "eligibility-nationality",
    name: "eligibility-nationality",
    fieldset: {
      legend: {
        text: "Are you a citizen of the UK/EU/EEA?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No",
      conditional: {
        html: "<p class=\"govuk-body\">We’re sorry, but the service can’t accept candidates from outside the UK, EU or EEA at this stage. You should <a href=\"https://2019.teachertraining.apply.ucas.com/apply/student/login.do\">apply to this course through UCAS</a>.</p>"
      }
    }]
  }) }}

  {{ govukRadios({
    idPrefix: "eligibility-equivalencies",
    name: "eligibility-equivalencies",
    fieldset: {
      legend: {
        text: "Did you gain all your qualifications at institutions based in the UK?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No",
      conditional: {
        html: "<p class=\"govuk-body\">We’re sorry, but the service can’t accept candidates with qualifications from non-UK institutions at this stage. You should <a href=\"https://2019.teachertraining.apply.ucas.com/apply/student/login.do\">apply to this course through UCAS</a>.</p>"
      }
    }]
  }) }}

  {{ govukButton({
    text: "Apply",
    href: "/",
    isStartButton: true
  }) }}
{% endblock %}
