{% extends "_content.njk" %}

{% set title = "Submit application" %}

{% block content %}
  {% set panelText %}Thank you for applying for postgraduate teacher training in {{ courses[course].name }} ({{ courses[course].code }}) at {{ providers[provider].name }}{% endset %}
  {{ govukPanel({
    classes: "govuk-!-margin-bottom-8",
    titleText: "Application submitted",
    text: panelText
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The Apply for postgraduate teacher training service will contact your referees to ask for your references. When we receive them, we will send them to your training provider. Your provider then has 10 working days to respond to your application.</p>
      <p class="govuk-body">If they decide to offer you an interview, they will get in touch directly to organise a date and give you all the information you need.</p>
      <h2 class="govuk-heading-m">Want to apply to more training providers?</h2>

      <p class="govuk-body">Go to <a href="https://find-postgraduate-teacher-training.education.gov.uk/">Find postgraduate teacher training</a> to search providers.</p>
      <p class="govuk-body"><a href="/dashboard#courses">Return to your dashboard</a> to tailor your application to suit different providers.</p>
    </div>
  </div>
{% endblock %}
