{% extends "_content.njk" %}

{% set title = "Submit application" %}
{% set formaction = "/apply/confirmation" %}

{% block pageNavigation %}
  {{ govukBackLink({
    "text": "Back",
    "href": "/apply/interview"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application submitted",
        text: "Thank you for submitting your application for postgraduate teacher training."
      }) }}

      <p class="govuk-body">Your training provider will respond to your application via email within 10 working days of receipt of your references. If they decide to progress your application, they will communicate with you directly to organise an interview date and give you all the information you need.</p>

      <p class="govuk-body"><a href="/dashboard">Return to dashboard</a></p>
    </div>
  </div>
{% endblock %}
