{% extends "_layout-git.njk" %}

{% set title = "Applying for teacher training is changing" %}

{% block content %}
  <img src="/public/git/hero.png" alt="">
  <div class="git-content">
    <h1 class="govuk-heading-xl govuk-!-margin-top-4">{{ title }}</h1>
    <p class="govuk-body">The Department for Education (DfE) is building a new GOV.UK application service for candidates for teacher training. DfE’s Apply for teacher training service (‘DfE Apply’) will eventually replace UCAS.</p>
    <p class="govuk-body">DfE Apply will be simplified, user-friendly and flexible. It will allow candidates from a wider and more diverse pool of talent to showcase their skills, experience and potential to be excellent teachers.</p>

    <h2 class="govuk-heading-m">Timings</h2>
    <p class="govuk-body">DfE Apply will be rolled out slowly, starting with just a few training providers in November 2019.</p>
    <p class="govuk-body">Over time, the new service will gradually sign up all training providers, all courses and all routes into teaching. We aim to switch off UCAS in 2021.</p>
    <p class="govuk-body">Between November 2019 and October 2021, therefore, there will be two teacher training application services running in parallel.</p>

    <h2 class="govuk-heading-m">What does this mean for candidates?</h2>
    <p class="govuk-body">We want to minimise inconvenience and confusion for candidates. We’ll be keeping this page regularly updated as well as offering you personalised support throughout your journey to become a teacher.</p>
    <p class="govuk-body">If at any stage you want immediate help, you can get in touch with us using the contact details on this page under ‘Help and advice’.</p>

    <h2 class="govuk-heading-m">A few things to bear in mind</h2>
    <p class="govuk-body">1. The qualifications you need to apply for teacher training remain the same, whether you apply through UCAS or DfE Apply.</p>
    <p class="govuk-body">2. Training providers will state clearly on their websites and on their <a href="https://find-postgraduate-teacher-training.education.gov.uk">Find postgraduate teacher training</a> listing whether they are signed up to DfE Apply.</p>
    <p class="govuk-body">3. Training providers who are signed up to DfE Apply will also continue to make their courses available through UCAS, for now. We’ll let you know when this changes.</p>
    <p class="govuk-body">4. Training providers and candidates using DfE Apply will stick to the existing <a href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/applying-through-ucas-teacher-training">Apply 1 and Apply 2 deadlines</a> and timeframes.</p>
    <p class="govuk-body">5. Applications will be processed by training providers in exactly the same way, regardless of whether candidates have made them via DfE Apply or UCAS.</p>
    <p class="govuk-body">6. When you apply using DfE Apply, you’ll be guided through the process and given all the support you need to complete it.</p>

    <h2 class="govuk-heading-m">Choosing which service to use for your application</h2>
    <p class="govuk-body">When you search for a course on <a href="https://find-postgraduate-teacher-training.education.gov.uk">Find postgraduate teacher training</a>, you’ll be given a choice about which service you’d like to use.</p>
    <p class="govuk-body">Remember that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>providers who are signed up to DfE Apply will list their courses on Apply and UCAS</li>
      <li>all other providers will list their courses on UCAS alone</li>
    </ul>
    <p class="govuk-body">We suggest you use DfE Apply if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for now, you have one course on your shortlist, and the training provider running it is signed up to DfE Apply</li>
      <li>you want to trial a streamlined, modern GOV.UK service with personalised support</li>
    </ul>
    <p class="govuk-body">We suggest you use UCAS if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have already started your application journey in UCAS</li>
      <li>you are in the Apply 2 stage of your application</li>
      <li>you have chosen 3 training providers, and only 1 of them is signed up to DfE Apply</li>
    </ul>
    <h2 class="govuk-heading-m">Participating providers</h2>
    <p class="govuk-body">To check whether your chosen training providers are part of our trial, search DfE Apply's continually updated list of <a href="/apply/providers">participating courses and providers</a>.</p>

    <h2 class="govuk-heading-m">Help and advice</h2>
    <p class="govuk-body">If you’d like to access immediate information and guidance about the DfE Apply roll-out, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>call Get into Teaching on Freephone 0800 389 2500</li>
      <li>use Get into Teaching's <a href="https://getintoteaching.education.gov.uk/lp/live-chat">online chat service</a> between 8am and 8pm, Monday to Friday</li>
    </ul>
    <p class="govuk-body">You can also contact the Apply for teacher training team on <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
  </div>
{% endblock %}
