{% extends "_form.njk" %}

{% set course = providerCode | getCourse(courseCode) %}
{% if course %}
  {% if dualRunning %}
    {% set title = "Choose how to apply" %}
  {% elif ineligible %}
    {% set title = "Please continue your application using UCAS" %}
  {% else %}
    {% set title = "Apply for this course" %}
  {% endif %}
  {% set parent = course.name_and_code %}
{% else %}
  {% set title = serviceName %}
{% endif %}
{% set isSignedOut = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block pageBanner %}
  {% if ineligible %}
    {{ appBanner({
      classes: "govuk-!-margin-bottom-0",
      type: "information",
      html: "<h2 class=\"govuk-heading-s govuk-!-margin-bottom-0\">We’re sorry, but you’re not eligible to use the Apply for teacher training service.</h2><p class=\"govuk-body\">It’s still in development, so we have to limit candidate numbers.</p>",
      iconFallbackText: "Information"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set courseCodeHtml %}
    <p class="govuk-body">When you apply, you’ll need these codes for the Choices section of your application form:</p>
    <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-2">
        Training provider code: <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ providerCode }}</span>
      </li>
      <li>
        Training programme code: <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ courseCode }}</span>
      </li>
    </ul>
    <p>Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training</a>.</p>
  {% endset %}

  {% if course and dualRunning %}
    <p class="govuk-body-l">The training provider you have chosen is participating in the trial of a new GOV.UK service called &lsquo;{{ serviceName }}&rsquo;.</p>
    <p class="govuk-body">Apply for teacher training will eventually replace UCAS. However, for now, the service is limited to just a few courses.</p>
    <p class="govuk-body"><a href="/apply/get-into-teaching">Learn more about changes to teacher training applications</a></p>

    {% set govukHtml %}
      <ul class="govuk-list govuk-list--bullet">
        <li>for now, this is the only training provider on your shortlist</li>
        <li>you want to trial a streamlined, modern GOV.UK service with personalised support</li>
      </ul>
    {% endset %}

    {% set ucasHtml %}
      <ul class="govuk-list govuk-list--bullet">
        <li>you’ve chosen your other training providers, and they are not <a href="/apply/providers">participants in the trial</a></li>
        <li>you have an application underway with UCAS</li>
        <li>you are in the Apply 2 stage of your application</li>
      </ul>
    {% endset %}

    {{ govukRadios({
      classes: "govuk-!-margin-top-8",
      idPrefix: "apply-route",
      name: "apply-route",
      items: [{
        value: "dfe",
        text: "Apply for this course using GOV.UK if:",
        label: {
          classes: "govuk-label--m"
        },
        hint: {
          html: govukHtml
        }
      }, {
        value: "ucas",
        text: "Apply for this course using UCAS if:",
        label: {
          classes: "govuk-label--m"
        },
        hint: {
          html: ucasHtml
        },
        conditional: {
          html: courseCodeHtml
        }
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  {% elif course and ineligible %}
    {{ courseCodeHtml | safe }}

    {{ govukButton({
      text: "Apply through UCAS",
      href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do",
      isStartButton: true
    }) }}
  {% elif course and not dualRunning %}
    <p class="govuk-body">You must apply for this course on UCAS. You’ll need to register with UCAS before you can apply.</p>
    {{ courseCodeHtml | safe }}

    {{ govukButton({
      text: "Apply through UCAS",
      href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do",
      isStartButton: true
    }) }}
  {% else %}
    <p class="govuk-body">We couldn’t find the course you’re looking for – there may be a problem with the training provider and/or course code(s).</p>
    <p class="govuk-body">Go back to <a href="https://find-postgraduate-teacher-training.education.gov.uk">Find postgraduate teacher training</a> and try selecting your course again, or choose a different course.</p>

    {{ govukButton({
      text: "Find postgraduate teacher training",
      href: "https://find-postgraduate-teacher-training.education.gov.uk",
      isStartButton: true
    }) }}
  {% endif %}
{% endblock %}
