{% extends "layouts/main.html" %}

{% set course = providerCode | getCourse(courseCode) %}
{% if course %}
  {% set parent = course.name_and_code %}
  {% set title = "Apply for this course" %}
{% else %}
  {% set title = serviceName %}
{% endif %}
{% set hasAccountLinks = false %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  {# Choice of services available #}
  {% if course and dualRunning %}
    <p class="govuk-body">The course you’ve chosen is available through a new GOV.UK service called {{ serviceName }}.</p>
    <p class="govuk-body">This will eventually replace UCAS as the way candidates apply for all teacher training. However, for now, the service is limited to certain providers.</p>
    <p class="govuk-body"><a href="/apply/providers">See a list of available training providers and courses</a>.</p>

    {{ govukRadios({
      idPrefix: "apply-route",
      name: "apply-route",
      fieldset: {
        classes: "govuk-!-margin-top-6",
        legend: {
          text: "Do you want to apply using a new GOV.UK service?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "dfe",
        text: "Yes, I want to apply using the new service",
        label: {
          classes: "govuk-label--s govuk-!-margin-bottom-2"
        },
        hint: {
          html: "
            <p class=\"govuk-body govuk-!-margin-bottom-2\">Choose this option if:</p>
            <ul class=\"govuk-list govuk-list--bullet\">
              <li>all your chosen providers are available on the new service</li>
              <li>you want to try a streamlined service with personalised support</li>
            </ul>"
        }
      }, {
        value: "ucas",
        text: "No, I want to apply with UCAS",
        label: {
          classes: "govuk-label--s govuk-!-margin-bottom-2"
        },
        hint: {
          html: "
            <p class=\"govuk-body govuk-!-margin-bottom-2\">Choose this option if:</p>
            <ul class=\"govuk-list govuk-list--bullet\">
              <li>some of your chosen providers are not available on " +  serviceName + " and you don’t want to use 2 different services.</li>
              <li>you’ve already started applying with UCAS</li>
            </ul>"
        }
      }]
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-5"
    }) }}

  {# Must apply through UCAS #}
  {% elif course and not dualRunning %}
    <p class="govuk-body">You must apply for this course on UCAS. You’ll need to register with UCAS before you can apply. Visit Get Into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training">guidance on applying for teacher training</a>.</p>
    <p class="govuk-body">When you apply you’ll need these codes for the Choices section of your application form:</p>

    <div class="govuk-inset-text">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2">
          Training provider code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ providerCode }}</span>
        </li>
        <li>
          Training programme code:
          <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ courseCode }}</span>
        </li>
      </ul>
    </div>

    {{ govukButton({
      text: "Apply through UCAS",
      href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do",
      isStartButton: true
    }) }}

  {# Can’t find course #}
  {% else %}
    <p class="govuk-body">We couldn’t find the course you’re looking for – there may be a problem with the training provider and/or course code(s).</p>
    <p class="govuk-body">Go back to <a href="{{ data.findUrl }}">Find postgraduate teacher training</a> and try selecting your course again, or choose a different course.</p>

    {{ govukButton({
      text: "Find postgraduate teacher training",
      href: data.findUrl,
      isStartButton: true
    }) }}
  {% endif %}
{% endblock %}
