{% extends "_form.njk" %}
{% set dualRunning = true %}
{% set course = providerCode | getCourse(courseCode) %}
{% if course %}
  {% if dualRunning %}
    {% set title = "Apply for this course" %}
  {% else %}
    {% set title = "Apply for this course" %}
  {% endif %}
  {% set parent = course.name_and_code %}
{% else %}
  {% set title = serviceName %}
{% endif %}
{% set isSignedOut = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block primary %}
  {% set courseCodeHtml %}
    <p class="govuk-body">When you apply using UCAS, you’ll need these codes for the Choices section of your application form:</p>
    <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-2">
        Training provider code: <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ providerCode }}</span>
      </li>
      <li>
        Training programme code: <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ courseCode }}</span>
      </li>
    </ul>
    <p>Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training</a>.</p>
  {% endset %}

  {% if course and dualRunning %}
    <p>You can apply for this course through UCAS or by using a new service, Apply for teacher training.</p>

    <p class="govuk-body"><a href="/apply/get-into-teaching">Learn more about Apply for teacher training</a></p>

    <h2 class="govuk-heading-l">Choose how to apply</h2>



    {{ govukRadios({
      idPrefix: "apply-route",
      name: "apply-route",
      classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-6",
      items: [{
        value: "dfe",
        text: "Apply through the new service",
        label: {
          classes: "govuk-label--m govuk-!-margin-bottom-3"
        },
        hint: {
          html: '
                <p>It might not be possible to apply to all the courses you’d like to. To apply to those courses you’ll need to make a second application through UCAS.</p>
                <p>Because of this inconvenience we’ll give you £50 once a teacher training provider has confirmed whether your application was successful.</p>
                <p><a href="#">View a list of available teacher training providers</a></p>
                <p>Unfortunately the service isn’t ready for international candidates or candidates who’ve studied outside the UK.</p>'
        }
      }, {
        value: "ucas",
        text: "Apply through UCAS",
        label: {
          classes: "govuk-label--m"
        }
      }]
    }) }}

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-bottom-5"
    }) }}

    {# <p>or</p>
    <p>
      <a href="#">Apply on UCAS</a>
    </p> #}
  {% elif course and not dualRunning %}
    <p class="govuk-body">You must apply for this course on UCAS. You’ll need to register with UCAS before you can apply.</p>
    {{ courseCodeHtml | safe }}

    {{ govukButton({
      text: "Apply through UCAS",
      href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do",
      isStartButton: true
    }) }}
  {% else %}
    <p class="govuk-body">We couldn’t find the course you’re looking for – there may be a problem with the training provider and/or course code(s).</p>
    <p class="govuk-body">Go back to <a href="{{ data['find_url'] }}">Find postgraduate teacher training</a> and try selecting your course again, or choose a different course.</p>

    {{ govukButton({
      text: "Find postgraduate teacher training",
      href: data['find_url'],
      isStartButton: true
    }) }}
  {% endif %}
{% endblock %}
