{% extends "_content.njk" %}

{% set title = "Ready to submit?" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
<p class="gov-uk-body">Please check your course choice and teacher training profile.</p>
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Course"
      },
      value: {
        text: courses[course].name
      }
    }, {
      key: {
        text: "Qualification"
      },
      value: {
        text: courses[course].qualification
      }
    }, {
      key: {
        text: "Training provider"
      },
      value: {
        text: providers[provider].name
      }
    }]
  }) }}


  {{ govukInsetText({
    html: "<a href=\"/profile/review\">Review and edit your teacher training profile</a>"
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/apply/" + provider + "/" + course + "/interview"
  }) }}
{% endblock %}
