{% extends "_form.njk" %}
{% set parent = "Equality and diversity questionnaire" %}
{% set title = "Are you disabled?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {{ govukRadios({
    items: [{
      text: "Yes"
    }, {
      text: "No"
    }, {
      divider: "or"
    }, {
      text: "Prefer not to say"
    }]
  } | decorateApplicationAttributes(["equality-monitoring", "disability-status"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
