{% extends "_form.html" %}
{% set parent = "Equality and diversity questions" %}
{% set title = "Disabilities and health conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set otherDisabilityHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Your disability or health condition (optional)"
      }
    } | decorateApplicationAttributes(["equality-monitoring", "disabilities-other"])) }}
  {% endset -%}

  <p class="govuk-body">Training providers will not see your answer to this question when deciding whether to offer you a place.</p>

  <p class="govuk-body">They will only see your answer if you accept an offer from them.</p>

  <!-- IF they haven’t put anything in the Ask for support if you’re disabled field -->
  <p class="govuk-body">
You can <a href="/application/{{ applicationId }}/additional-support" class="govuk-link">ask for support as part of your application</a> if you want to tell training providers about your needs straight away.    </p>
  <!-- end if -->


  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Do you have any of these disabilities or health conditions?",
        classes: "govuk-fieldset__legend--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "Blindness or a visual impairment not corrected by glasses"
    }, {
      text: "Deafness or a serious hearing impairment"
    }, {
      text: "Dyslexia, dyspraxia or ADHD"
    }, {
      text: "Long-term illness",
      hint: {
        text: "For example, cancer, HIV, diabetes, chronic heart disease or epilepsy"
      }
    }, {
      text: "Mental health condition",
      hint: {
        text: "For example, depression, schizophrenia or anxiety disorder"
      }
    }, {
      text: "Physical disability or mobility issue",
      hint: {
        text: "For example, impaired use of arms or legs, use of a wheelchair or crutches"
      }
    }, {
      text: "Autistic spectrum disorder or a speech and language impairment"
    }, {
      text: "A condition affecting motor, cognitive, social and emotional skills, speech or language since childhood"
    },
     {
      text: "Another disability, health condition, impairment or learning difference affecting day to day activities",
      conditional: {
        html: otherDisabilityHtml
      }
    },
    {
      divider: "or"
    },
    {
      text: "I do not have any of these disabilities or health conditions",
      behaviour: "exclusive"
    },
    {
      divider: "or"
    }, {
      text: "Prefer not to say",
      behaviour: "exclusive"
    }]
  } | decorateApplicationAttributes(["equality-monitoring", "disabilities"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
