{% extends "_form.html" %}
{% set parent = "Equality and diversity questions" %}
{% set title = "Disabilities and health conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set otherDisabilityHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Your disability or health condition (optional)"
      }
    } | decorateApplicationAttributes(["equality-monitoring", "disabilities-other"])) }}
  {% endset -%}

  <p class="govuk-body">(Some content here to explain how this information will be used, and that it won't be seen by providers making a decision, and possibly reminding candidates that they can go back and add information about interview needs or any other support needed.)</p>

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Do you have any of these disabilities or health conditions?",
        classes: "govuk-fieldset__legend--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "Blindness or a visual impairment not corrected by glasses"
    }, {
      text: "Deafness or a serious hearing impairment"
    }, {
      text: "Dyslexia, dyspraxia or ADHD"
    }, {
      text: "Long-term illness",
      hint: {
        text: "For example, cancer, HIV, diabetes, chronic heart disease or epilepsy"
      }
    }, {
      text: "Mental health condition",
      hint: {
        text: "For example, depression, schizophrenia or anxiety disorder"
      }
    }, {
      text: "Physical disability or mobility issue",
      hint: {
        text: "For example, impaired use of arms or legs, use of a wheelchair or crutches"
      }
    }, {
      text: "Autistic spectrum disorder or a speech and language impairment"
    }, {
      text: "A condition that you have had since childhood which affects your motor, cognitive, social and emotional skills, speech or language"
    },
     {
      text: "Another disability, health condition, impairment or learning difference",
      conditional: {
        html: otherDisabilityHtml
      }
    },
    {
      divider: "or"
    },
    {
      text: "I do not have a disability or health condition",
      behaviour: "exclusive"
    },
    {
      divider: "or"
    }, {
      text: "Prefer not to say",
      behaviour: "exclusive"
    }]
  } | decorateApplicationAttributes(["equality-monitoring", "disabilities"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
