{% extends "layouts/main.html" %}
{% set parent = "Equality and diversity questions" %}
{% set ethnicGroup = applicationValue(["equality-monitoring", "ethnic-group"]) %}

{% if applicationValue(["equality-monitoring", "ethnic-group"]) == "Another ethnic group" %}
  {% set title = "Which of the following best describes your background?" %}
{% elif applicationValue(["equality-monitoring", "ethnic-group"]) == "Mixed or multiple ethnic groups" %}
  {% set title = "Which of the following best describes your Mixed or Multiple ethnic groups background?" %}
{% else %}
  {% set title = "Which of the following best describes your " + ethnicGroup + " background?" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "How would you describe your background? (optional)"
      }
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
  {% endset -%}

  {% if ethnicGroup == "Asian or Asian British" %}
    {{ govukRadios({
      fieldset: {
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        text: "Indian"
      },
      {
        text: "Pakistani"
      },
      {
        text: "Bangladeshi"
      }, {
        text: "Chinese"
      }, {
        text: "Any other Asian background",
        conditional: {
          html: otherHtml
        }
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background"])) }}
  {% elif ethnicGroup == "Black, African, Caribbean or Black British" %}
    {{ govukRadios({
      fieldset: {
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        text: "African"
      }, {
        text: "Caribbean"
      }, {
        text: "Any other Black, African or Caribbean background",
        conditional: {
          html: otherHtml
        }
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background"])) }}
  {% elif ethnicGroup == "Mixed or multiple ethnic groups" %}
    {{ govukRadios({
      fieldset: {
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        text: "White and Black Caribbean"
      }, {
        text: "White and Black African"
      }, {
        text: "White and Asian"
      }, {
        text: "Any other Mixed or Multiple ethnic background",
        conditional: {
          html: otherHtml
        }
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background"])) }}
  {% elif ethnicGroup == "White" %}
    {{ govukRadios({
      fieldset: {
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        text: "English, Welsh, Scottish, Northern Irish or British"
      }, {
        text: "Irish"
      }, {
        text: "Gypsy or Irish Traveller"
      }, {
        text: "Roma"
      }, {
        text: "Any other White background",
        conditional: {
          html: otherHtml
        }
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background"])) }}
  {% else %}
    {{ govukRadios({
      fieldset: {
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        text: "Arab"
      }, {
        text: "Any other ethnic group",
        conditional: {
          html: otherHtml
        }
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background"])) }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
