{% extends "layout.html" %}
{% set parent = "Equality and diversity questions" %}
{% set title = "Did you ever get free school meals in the UK?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}

  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{ parent }}</span>
        <h1 class="govuk-heading-l">Free school meals</h1>

        <p class="govuk-body">Training providers will not see your answer to this question.</p>

        <p class="govuk-body">This question helps the Department for Education understand the financial background of trainee teachers. This is because free school meals have generally only been available to children from  families that receive benefits.</p>

        {{ govukRadios({
          fieldset: {
            legend: {
              text: title,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            text: "Yes"
          }, {
            text: "No"
          }, {
            text: "I did not go to school in the UK"
          }, {
            text: "I do not know"
          }, {
            divider: "or"
          }, {
            text: "Prefer not to say"
          }]
        } | decorateApplicationAttributes(["equality-monitoring", "free-school-meals"])) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
