{% extends "_form.njk" %}
{% set title = "Equality and diversity questionnaire" %}
{% set applicationPath = "/application/" + applicationId %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath + "/review"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">The Department for Education (DfE) uses equality and diversity data to improve the teacher training application process and make government policy better.</p>
  <p class="govuk-body">We use the information you give in this questionnaire to help prevent discrimination in teacher recruitment. We also share it with your teacher training provider if you accept a place on their course.</p>
  <p class="govuk-body"><a href="#">Find out how we use and look after your data</a></p>
  <p class="govuk-body">Completing the questionnaire is optional and will not affect the progress of your application.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you want to answer a few questions about your sex, disability and ethnicity?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    name: "answer",
    items: [{
      value: "yes",
      text: "Yes",
      checked: "checked"
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
