{% extends "_content.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Equality and diversity" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath + "/review"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body-l">Your application is now ready to submit. Before you do so, will you complete a 3-minute questionnaire?</p>
  <p class="govuk-body">This questionnaire is optional and has no impact on the progress of your application.</p>
  <p class="govuk-body">We collect this data to reduce discrimination on the basis of sex, disability and ethnicity.</p>
  <p class="govuk-body">Your data will only be shared with training providers when you are enrolled on a course.</p>

  {{ govukButton({
    text: "Continue",
    href: paths.next
  }) }}

  <p class="govuk-body"><a href="{{ applicationPath }}/submit">Continue without completing questionnaire</a></p>
{% endblock %}
