{% extends "_content.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Equality and diversity" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath + "/review"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">The Department for Education collects data from teacher training candidates to help make the application process fair for all candidates.</p>
  <p class="govuk-body">We try to ensure candidates are not discriminated against on the basis of their sex, age, ethnicity, sexual orientation, religious belief or disability.</p>
  <p class="govuk-body">The information you give us will not be shared with training providers until after the application process is over.</p>
  <p class="govuk-body">This section is entirely optional and has no impact on the progress of your application.</p>

  {{ govukButton({
    text: "Continue",
    href: paths.next
  }) }}
{% endblock %}
