{% extends "_form.njk" %}
{% set parent = "Equality and diversity" %}
{% set title = "What is your religion?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block primary %}
  {% set otherReligionHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Your religion (optional)"
      }
    } | decorateApplicationAttributes(["equality-monitoring", "religious-belief-other"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "No religion"
    }, {
      text: "Atheist"
    }, {
      text: "Buddhist"
    }, {
      text: "Christian"
    }, {
      text: "Hindu"
    }, {
      text: "Jewish"
    }, {
      text: "Muslim"
    }, {
      text: "Sikh"
    }, {
      text: "Other",
      conditional: {
        html: otherReligionHtml
      }
    }, {
      divider: "or"
    }, {
      text: "Prefer not to say"
    }]
  } | decorateApplicationAttributes(["equality-monitoring", "religious-belief"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
