{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set parent = "Equality and diversity" %}
{% set title = "Check your answers" %}
{% set referrer = applicationPath + "/equality-monitoring/review" %}
{% set review = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: applicationPath + "/review"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-equality-monitoring.njk" %}

  {{ govukButton({
    text: "Continue",
    href: applicationPath + "/submit"
  }) }}
{% endblock %}
