{% extends "layouts/main.html" %}
{% set parent = "Equality and diversity questions" %}
{% set title = "Sex" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}

  <p class="govuk-body">Training providers will not see your answer to this question when deciding whether to offer you a place.</p>

  <p class="govuk-body">They will only see your answer if you accept an offer from them.</p>

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "What is your sex?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        text: "Female"
      }, {
        text: "Male"
      }, {
        text: "Other"
      }, {
        divider: "or"
      }, {
        text: "Prefer not to say"
      }]
    } | decorateApplicationAttributes(["equality-monitoring", "sex"])) }}

    {{ govukButton({
      text: "Continue"
    }) }}
{% endblock %}
