{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Unpaid experience" %}
{% set addButtonText = "Add another role" if data.unpaidExperience.length >= 1 else "Add a role" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% if data.unpaidExperienceAdded != "no" %}
    {{ govukButton({
      text: addButtonText,
      href: "/details/unpaid-experience/add",
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}

  {% set completed = data.completed.unpaidExperience %}

  {{ govukInsetText({
    classes: "govuk-!-width-two-thirds govuk-!-margin-top-0",
    html: '<p class="govuk-body">The Department for Education have made it easier for teacher training applicants to gain experience in school.</p><p><a href="https://getintoteaching.education.gov.uk/get-school-experience">Learn about how to get school experience</a>.</p>'
  }) if data.unpaidExperienceAdded == "no" }}

  {% include "_includes/review/unpaid-experience.html" %}

  <form action="/details" method="post">
    {{ govukRadios({
      name: "completed[unpaidExperience]",
      value: data.completed.unpaidExperience,
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
