{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set title = "Add role" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/unpaid-experience"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">Do not include paid work in a school – enter these roles in ‘Work history’.</p>

      <form action="/details/unpaid-experience/review" method="post">
        {{ govukInput({
          name: "unpaidExperience[" + id + "][role]",
          value: data.unpaidExperience[id].role,
          label: {
            text: "Your role",
            classes: "govuk-label--m"
          }
        }) }}

        {{ govukInput({
          name: "unpaidExperience[" + id + "][employerName]",
          value: data.unpaidExperience[id].employerName,
          label: {
            text: "Organisation where you gained experience or volunteered",
            classes: "govuk-label--m"
          }
        }) }}

        {{ govukRadios({
          name: "unpaidExperience[" + id + "][involvedWorkingWithChildren]",
          value: data.unpaidExperience[id].involvedWorkingWithChildren,
          fieldset: {
            legend: {
              text: "Did this role involve working in a school or with children?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "yes",
            text: "Yes"
          }, {
            text: "No",
            value: "no"
          }]
        }) }}

        {{ govukDateInput({
          namePrefix: "",
          fieldset: {
            legend: {
              text: "When did you start this role?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 5 2018. If you cannot remember the exact month or year, enter an estimate."
          },
          items: [{
            label: "Month",
            name: "unpaidExperience[" + id + "][startMonth]",
            value: data.unpaidExperience[id].startMonth,
            classes: "govuk-input--width-2"
          }, {
            label: "Year",
            name: "unpaidExperience[" + id + "][startYear]",
            value: data.unpaidExperience[id].startYear,
            classes: "govuk-input--width-4"
          }]
        }) }}

        {{ govukCheckboxes({
          name: "unpaidExperience[" + id + "][startDateApprox]",
          values: data.unpaidExperience[id].startDateApprox,
          items: [{
            value: "true",
            text: "I’m not sure the exact month or year I started"
          }]
        }) }}

        {% set endDateHtml %}
          {{ govukDateInput({
            id: "end-date",
            namePrefix: "",
            fieldset: {
              legend: {
                text: "When did you finish this role?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 5 2018. If you cannot remember the exact month or year, enter an estimate."
            },
            items: [{
              label: "Month",
              name: "unpaidExperience[" + id + "][endMonth]",
              value: data.unpaidExperience[id].endMonth,
              classes: "govuk-input--width-2"
            }, {
              label: "Year",
              name: "unpaidExperience[" + id + "][endYear]",
              value: data.unpaidExperience[id].endYear,
              classes: "govuk-input--width-4"
            }]
          }) }}

          {{ govukCheckboxes({
            name: "unpaidExperience[" + id + "][endDateApprox]",
            values: data.unpaidExperience[id].endDateApprox,
            items: [{
              value: "true",
              text: "I’m not sure the exact month or year I left"
            }]
          }) }}
        {% endset %}

        {{ govukRadios({
          id: "still-working-in-role",
          name: "unpaidExperience[" + id + "][stillWorkingInRole]",
          value: data.unpaidExperience[id].stillWorkingInRole,
          fieldset: {
            legend: {
              text: "Are you still working in this role?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            text: "Yes",
            value: "yes"
          }, {
            value: "no",
            text: "No",
            conditional: {
              html: endDateHtml
            }
          }]
        }) }}

        {{ govukCharacterCount({
          id: "time-and-responsibilities",
          name: "unpaidExperience[" + id + "][timeCommitmentAndResponsibilities]",
          value: data.unpaidExperience[id].timeCommitmentAndResponsibilities,
          label: {
            text: "Enter details of your time commitment and responsibilities",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, ‘I volunteer in the classroom every Friday morning’ or ‘I spent 1 day observing in this school’ or ‘I am a Scout Leader involved in activities throughout the year’"
          },
          maxwords: 150
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
