{% extends "layouts/main.html" %}
{% set primaryNavId = "application-sharing" %}
{% set invite = data.invites[id] %}
{% set title = "Your invitation from " + invite.providerName %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/candidate-pool/sharing",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-button-group">
          <form action="/candidate-pool/{{ id }}/invite" method="post">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            {{ title }}
          </h1>


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Course"
          },
          value: {
            text: invite.course
          }
        },
        {
          key: {
            text: "Course fee"
          },
          value: {
            html: 'UK students: £9,250<br />International students: £16,600'
          }
        },
        {
          key: {
            text: "Course length"
          },
          value: {
            text: "1 year - full time"
          }
        },
        {
          key: {
            text: "Age range"
          },
          value: {
            text: "11 to 16 secondary"
          }
        },
        {
          key: {
            text: "Qualification"
          },
          value: {
            text: "QTS with PGCE"
          }
        },
        {
          key: {
            text: "Start date"
          },
          value: {
            text: "September 2026"
          }
        }

      ]

    })}}


        <p class="govuk-body">
          <a href="https://qa.find-teacher-training-courses.service.gov.uk/course/2AT/3CXF" class="govuk-link" target="_blank">View full course details (opens in new tab)</a>
        </p>

            {{ govukRadios({
              name: "inviteResponse",
              fieldset: {
                legend: {
                  text: "Do you want to apply for this course?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              classes: "govuk-radios",
              items: [
                {
                  value: "true",
                  text: "Yes I want to submit an application to this course",
                  checked: ( data.candidatePool['feeFunded'] == "true")
                },
                {
                  value: "false",
                  text: "No, I am not interested in this course",
                  hint: {
                    text: "You can still apply for this course later if you change your mind."
                  },
                  checked: ( data.candidatePool['feeFunded'] == "false")
                }
              ]
            }) }}

              {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>

      </div>
    </div>
{% endblock %}
