{% extends "_form.njk" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% if action == "delete" %}
  {% set title = "Are you sure you want to delete this referee?" %}
  {% set buttonText = "Yes I’m sure - delete this referee" %}
  {% set destructive = true %}
{% elif action == "request" %}
  {% set title = "Are you ready to send a reference request?" %}
  {% set buttonText = "Yes I’m sure - send my reference request" %}
  {% set status = "Awaiting response" %}
{% elif action == "cancel" %}
  {% set title = "Are you sure you want to cancel this reference request?" %}
  {% set buttonText = "Yes I’m sure - cancel this reference request" %}
  {% set status = "Request cancelled" %}
  {% set destructive = true %}
{% elif action == "nudge" %}
  {% set title = "Would you like to send a reminder to this referee?" %}
  {% set buttonText = "Yes I’m sure - send a reminder" %}
{% elif action == "deactivate" %}
  {% set title = "Are you sure you want to deactivate this reference?" %}
  {% set buttonText = "Yes I’m sure - deactivate this reference" %}
  {% set status = "Deactivated" %}
{% elif action == "reactivate" %}
  {% set title = "Are you sure you want to reactivate this reference?" %}
  {% set buttonText = "Yes I’m sure - reactivate this reference" %}
  {% set status = "Reference given" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer
  }) }}
{% endblock %}

{% block primary %}
  {% if action == "request" %}
    <p class="govuk-body">We’ll send {{ referee.name }} an email asking them to give you a reference.</p>
  {% elif action == "cancel" %}
    <p class="govuk-body">We’ll tell {{ referee.name }} that they no longer need to give a reference.</p>
  {% elif action == "nudge" %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: "You can only send one reminder to this referee."
    }) }}
    <!-- TODO: Make this use real date (now + 7 days) -->
    <!-- TODO: Only show if there is an upcoming automatic reminder -->
    <p class="govuk-body">The referee will also get an automatic reminder on 16 September 2020.</p>
  {% elif action == "deactivate" %}
    <p class="govuk-body">We will keep your reference but we won’t sent it to any providers.</p>
  {% elif action == "reactivate" %}
    <p class="govuk-body">This reference will be sent to providers.</p>
  {% endif %}

  {{ govukButton({
    value: status,
    name: "status",
    text: buttonText,
    classes: "govuk-button--warning" if destructive
  }) }}

  <p class="govuk-body"><a href="{{ referrer }}">No - I’ve changed my mind</a></p>
{% endblock %}
