{% extends "_form.njk" %}

{% set title = "Give your name so the referee knows who you are" %}
{% set formaction = "/application/" + applicationId + "/references/" + id + "/request/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/relationship/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
{{ govukInput({
    label: {
      text: "First name",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Or given names"
    },
    autocomplete: "given-name",
    attributes: {
      spellcheck: "false"
    }
  } | decorateApplicationAttributes(["candidate", "given-name"])) }}

  {{ govukInput({
    label: {
      text: "Last name",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Or family name"
    },
    autocomplete: "family-name",
    attributes: {
      spellcheck: "false"
    }
  } | decorateApplicationAttributes(["candidate", "family-name"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
