{% extends "_form.njk" %}

{% set type = applicationValue(["referees", id, "type"]) | lower %}
{% set parent = (id | capitalize) + " referee" %}
{% set title = "Details of " + type + " referee" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/type/" + id
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Contact your referee in advance to check they are:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>happy to give you a reference</li>
    <li>able to submit the reference in a week or two</li>
    <li>comfortable submitting a reference online</li>
  </ul>

  {% if applicationValue('apply2') %}
    <input type="hidden" name="applications[{{applicationId}}][referees][{{id}}][status]" value="Not requested yet">
  {% endif %}

  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--m govuk-!-margin-top-6"
    }
  } | decorateApplicationAttributes(["referees", id, "name"])) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    hint: {
      text: ("In most cases, this should be a work address. " if type != "character") + "We won’t contact your referees until you submit your application."
    }
  } | decorateApplicationAttributes(["referees", id, "email"])) }}

{% if type == "academic" %}
  {% set relationshipExample = "He was my course supervisor at university. I’ve known him for a year" %}
{% elif type == "professional" %}
  {% set relationshipExample = "He was my line manager in my last job. I’ve known him for 2 years" %}
{% elif type == "school-based" %}
  {% set relationshipExample = "She’s the deputy head at the school where I currently volunteer. I’ve known her for 3 years" %}
{% else %}
  {% set relationshipExample = "She’s the head coach for my athletics club. I’ve known her for 5 years" %}
{% endif %}

  {{ govukCharacterCount({
    label: {
      text: "What is your relationship to this referee and how long have you known them?",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, ‘" + relationshipExample + "’."
    },
    maxwords: 50
  } | decorateApplicationAttributes(["referees", id, "relationship"])) }}
  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
