{% extends "_form-question.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set title = "What is " + referee.name + "’s email address?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/application/" + applicationId + "/references/" + id + "/relationship/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/name/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: label,
    hint: {
      text: "This should be a work email address if they have one."
    },
    type: "email",
    autocomplete: "email",
    spellcheck: false
  } | decorateApplicationAttributes(["references", id, "email"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
