{% extends "layouts/main.html" %}
{% set title = "References to be requested if you accept an offer" %}
{% set references = data.references %}
{% set addReferenceButtonText = "Add a reference" if references | length == 0 else "Add another reference" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">You need to give the email address of 2 people who can give a reference for you. They’ll be only be contacted if you accept an offer.</p>

      <p class="govuk-body">You should include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an academic tutor if you graduated in the past 5 years or are still studying</li>
        <li>the headteacher if you’ve been working in a school</li>
      </ul>

      <p class="govuk-body">They’ll be asked if they know any reason why you should not work with children.</p>

      <div class="govuk-body">
        {% set referencesButtonClass = "govuk-button--secondary" if references | length > 1 else "" %}
        {{ govukButton({
          text: addReferenceButtonText,
          href: "/application/references/add",
          classes: referencesButtonClass
        }) }}
      </div>
    </div>
  </div>

  {% if references | length > 0 %}
    {% for id, item in references %}
      {% include "_includes/item/reference.html" %}
    {% endfor %}
  {% endif %}

{% if references | length > 1 and incompleteReferences | length == 0 %}

  <form action="/application" method="get">
    {{ govukRadios({
      name: "completed[references]",
      value: data.completed.references,
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({text: "Continue"}) }}
  </form>
{% endif %}

{% endblock %}
