{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set referee = applicationValue(["references", id]) %}
{% set title = "Choose a referee" %}

{% block beforeContent %}
  {% else %}
    {{ govukBackLink({
      href: "/application/references"
    }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Request a reference</h1>

  <p class="govuk-body">You should choose people who can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm how long they have known you</li>
      <li>say whether they know of any reason why you should not work with children</li>
    </ul>

  {{ govukButton({
    text: "Continue",
    href: "/application/" + "/references/" + id + "/type/"
  }) }}
{% endblock %}
