{% extends "_form-question.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "Choose a referee" %}
{% set allowsFeedback = true %}
{% set formaction = "/dashboard/" + applicationId + "/references/" + id + "/type/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/dashboard/" + applicationId
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">Request a reference</h1>

  <p class="govuk-body">The provider has asked you to provide these references:</p>

  <div class="govuk-inset-text">
    <p>2 references, one should be an academic reference from Birmingham University.</p>
  </div>

  <p class="govuk-body">Contact the provider if you cannot provide these references.</p>

  <h2 class="govuk-heading-m">What your referees are asked to do when you request a reference</h2>

  <p class="govuk-body">Your referees will receive an email from the Department for Education.</p>

  <p class="govuk-body">We’ll ask them to use an online form to give their reference, as references sent by email are not accepted.</p>

  <p class="govuk-body">The form asks referees to write up to 500 words about your potential to teach. It says that they could talk about your:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>communication skills</li>
    <li>reliability and professionalism</li>
    <li>transferable skills</li>
    <li>ability to work with children</li>
    <li>academic skills</li>
  </ul>

  <p class="govuk-body">They’ll also need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>confirm how they know you</li>
      <li>say whether they know of any reason why you should not work with children</li>
    </ul>

  <p class="govuk-body">Referees cannot see the content of your application.</p>

  <p class="govuk-body">It's a good idea to contact referees before requesting a reference so that they know what to expect.</p>


  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
