{% extends "_form-question.html" %}

{% set title = "What’s the name of the person who can give a reference?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/application/" + applicationId + "/references/" + id + "/email/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/type/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

{{ govukInput({
  label: {
    text: "What’s the name of the person who can give you a reference?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not give details of a family member, partner or friend."
  },
  id: "name",
  name: "references"
} | decorateApplicationAttributes(["references", id, "name"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
