{% extends "_form.njk" %}

{% set parent = "References" %}
{% if action == "edit" %}
  {% set title = "Edit " + id + " referee" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add " + id + " referee" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% set insetHtml %}
  <p class="govuk-body">Contact your referee in advance to check they are:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>happy to give you a reference</li>
    <li>available to do so within a reasonable timeframe</li>
    <li>comfortable submitting a reference online</li>
  </ul>
  <p class="govuk-body">Your referee will be given a short questionnaire about you and a free text box to describe you in their own words. They will not be given access to your completed application form.</p>
{% endset %}

{% block primary %}
  {{ govukInsetText({
    html: insetHtml
  }) }}

  {{ govukInput({
    label: {
      text: "Full name of referee",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['referees', id, 'name'])) }}

  {{ govukInput({
    label: {
      text: "Email address of referee",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['referees', id, 'email'])) }}

  {{ govukCharacterCount({
    label: {
      text: "What is your relationship to this referee and how long have you known them?",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, ‘They were my tutor at university from 2000 to 2003’, ‘I have been employed by them since January 2018’, ‘I spent 2 weeks volunteering at their school in May 2019’"
    },
    maxwords: 50
  } | decorateApplicationAttributes(['referees', id, 'relationship'])) }}

{% set explainCharacter %}
  {{ govukTextarea({
    label: {
      text: "Explain why you’ve chosen a character referee (optional)."
    }
  } | decorateApplicationAttributes(['referees', id, 'character-explanation'])) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of referee",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      text: "Academic"
    }, {
      text: "Professional"
    }, {
      value: "School senior leadership",
      text: "Teacher at a school where you work or volunteer"
    }, {
      divider: "or"
    }, {
      text: "Character",
      hint: {
        text: "If you are having difficulty providing an academic, professional or school referee, you can give us a character referee (a responsible person who will confirm you are suitable for teaching)."
      },
      conditional: {
        html: explainCharacter
      }
    }]
  } | decorateApplicationAttributes(['referees', id, 'type'])) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
