{% extends "_form.njk" %}

{% set title = (id | capitalize) + " referee" %}

{% block primary %}
  {% set CharacterRefereeHintHtml %}
    <p class="govuk-hint">If you are finding it difficult to supply academic, professional or school-based references, choose a responsible person who can confirm you are suitable for teaching</p>
    {% set suitableCharacterRefereesHtml %}
      <ul class="govuk-hint govuk-list govuk-list--bullet">
        <li>your local doctor</li>
        <li>your local priest, or other faith leader</li>
        <li>your family solicitor</li>
        <li>your former headteacher</li>
        <li>a former mentor or probation officer</li>
        <li>a responsible member of your community who knows you well</li>
      </ul>
    {% endset %}

    {{ govukDetails({
      summaryText: "Examples of suitable character referees",
      html: suitableCharacterRefereesHtml
    }) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What kind of reference is this?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "Academic",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example, your university tutor or supervisor – recommended if you are giving a predicted grade for your degree, or graduated less than 5 years ago"
      }
    }, {
      text: "Professional",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example, your current line manager or a previous employer"
      }
    }, {
      text: "School-based",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example, a teacher at a school where you have volunteered or gained experience"
      }
    }, {
      divider: "or"
    }, {
      text: "Character",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        html: CharacterRefereeHintHtml
      }
    }]
  } | decorateApplicationAttributes(["referees", id, "type"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
