{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set parent = "Edit " + id + " referee" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set parent = "Add " + id + " referee" %}
  {% set buttonText = "Save and continue" %}
{% endif %}
{% set title = "What type of referee do you want to give?" %}

{% block primary %}
  {% set CharacterRefereeHintHtml %}
    <p class="govuk-hint">If you are finding it difficult to supply an appropriate professional or academic reference, you can give us details of a responsible person who will confirm you are suitable for teaching.</p>
    {% set suitableCharacterRefereesHtml %}
      <ul class="govuk-hint govuk-list govuk-list--bullet">
        <li>your local doctor</li>
        <li>your local priest, or other faith leader</li>
        <li>your family solicitor</li>
        <li>your former headteacher</li>
        <li>a former mentor or probation officer</li>
        <li>a responsible member of your community who knows you well</li>
      </ul>
    {% endset %}

    {{ govukDetails({
      summaryText: "Examples of suitable character referees",
      html: suitableCharacterRefereesHtml
    }) }}
  {% endset %}

  {{ govukRadios({
    items: [{
      text: "Academic",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example your tutor or supervisor. This type of reference is recommended if you are giving a predicted grade for your degree."
      }
    }, {
      text: "Professional",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example your current line manager or a previous employer."
      }
    }, {
      text: "School based",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "For example a teacher at a school you volunteered at."
      }
    }, {
      divider: "or"
    }, {
      text: "Character",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        html: CharacterRefereeHintHtml
      }
    }]
  } | decorateApplicationAttributes(["referees", id, "type"])) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
