{% extends "_form-question.njk" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "How do you know this referee and how long have you known them?" %}
{% if applicationValue(["candidate", "given-name"]) %}
  {% set formaction = referrer or "/application/" + applicationId + "/references/" + id + "/request/" %}
{% else %}
  {% set formaction = "/application/" + applicationId + "/references/" + id + "/candidate/" %}
{% endif %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/email/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if referee.type == "Academic" %}
    {% set relationshipExample = "He was my course supervisor at university. I’ve known him for a year" %}
  {% elif referee.type == "Professional" %}
    {% set relationshipExample = "He was my line manager in my last job. I’ve known him for 2 years" %}
  {% elif referee.type == "School-based" %}
    {% set relationshipExample = "She’s the deputy head at the school where I currently volunteer. I’ve known her for 3 years" %}
  {% else %}
    {% set relationshipExample = "She’s the head coach for my athletics club. I’ve known her for 5 years" %}
  {% endif %}

  {{ govukCharacterCount({
    label: label,
    hint: {
      text: "For example, ‘" + relationshipExample + "’."
    },
    maxwords: 50
  } | decorateApplicationAttributes(["references", id, "relationship"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
