{% extends "_form-question.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set title = "How do you know " + referee.name + " and how long have you known them?" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/application/" + applicationId + "/references/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/email/"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if referee.type == "Academic, such as a university tutor" %}
    {% set relationshipExample = "They were my course supervisor at university. I’ve known them for a year." %}
  {% elif referee.type == "Professional, such as a manager" %}
    {% set relationshipExample = "They were my line manager in my last job. I’ve known them for 2 years." %}
  {% elif referee.type == "Someone you know through experience working in a school" %}
    {% set relationshipExample = "They are the deputy head at the school where I currently volunteer. I’ve known them for 3 years." %}
  {% else %}
    {% set relationshipExample = "They are the head coach for my athletics club. I’ve known them for 5 years." %}
  {% endif %}

  {{ govukCharacterCount({
    label: label,
    hint: {
      text: "For example, ‘" + relationshipExample + "’"
    },
    maxwords: 50,
    threshold: 85
  } | decorateApplicationAttributes(["references", id, "relationship"])) }}

  <p class="govuk-body">We’ll show your answer to {{referee.name}} and ask them whether it’s correct.</p>

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
