{% extends "_form.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "Check your answers before sending your request" %}
{% set allowsFeedback = true %}
{% set formaction = "/application/" + applicationId + "/references/" + id + "/request/decision" %}

{% block primary %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Name"
      },
      value: {
        text: referee.name or "Not entered"
      },
      actions: {
        items: [{
          href: "/application/" + applicationId + "/references/" + id + "/name/?referrer=/application/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
    }, {
      key: {
        text: "Email address"
      },
      value: {
        text: referee.email or "Not entered"
      },
      actions: {
        items: [{
          href: "/application/" + applicationId + "/references/" + id + "/email/?referrer=/application/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "email address"
        }]
      }
    }, {
      key: {
        text: "Reference type"
      },
      value: {
        text: referee.type or "Not entered"
      },
      actions: {
        items: [{
          href: "/application/" + applicationId + "/references/" + id + "/type/?referrer=/application/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "reference type"
        }]
      }
    }, {
      key: {
        text: "Relationship to referee"
      },
      value: {
        text: referee.relationship or "Not entered"
      },
      actions: {
        items: [{
          href: "/application/" + applicationId + "/references/" + id + "/relationship/?referrer=/application/" + applicationId + "/references/" + id + "/request/",
          text: "Change",
          visuallyHiddenText: "relationship to referee"
        }]
      }
    }]
  }) }}

  {{ govukRadios({
    name: "decision",
    formGroup: {
      classes: "govuk-!-margin-top-8"
    },
    fieldset: {
      legend: {
        text: "Are you ready to send a reference request to " + referee.name + "?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "now",
      text: "Yes, send a reference request now"
    }, {
      value: "later",
      text: "No, not at the moment"
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
