{% extends "_form.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}


{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/references/review" %}
{% set references = applicationValue(["references"]) | toArray %}
{% set pendingReferences = references | selectattr("pending") | reverse %}
{% set readyReferences = references | selectattr("ready") | reverse %}
{% set otherReferences = references | rejectattr("pending") | rejectattr("ready") | reverse %}
{% set showReferenceRequestLog = true %}

{% if references | length > 0 %}
  {% set title = "References" %}
{% else %}
  {% set title = "What will happen after you add contact details for references" %}
{% endif %}



{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: messages[0],
    type: "success"
  }) if messages.length > 0 }}
{% endblock %}

{% set guidanceHtml %}
<p class="govuk-body">Training providers will only see the contact details if you accept an offer from them. They’ll contact your referees to ask them to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>confirm how they know you</li>
  <li>say whether they know of any reason why you should not work with children</li>
</ul>

<p class="govuk-body">Referees will not be able to see your application.</p>

<p class="govuk-body">It's a good idea to contact referees before you accept an offer so that they know what to expect.</p>

{% endset %}

{% block primary %}
  {% if references | length == 1 %}
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">You need to give details of 2 referees before you can submit your application.</p>
      {{ govukButton({
        text: "Add contact details for a second reference",
        href: "/application/" + applicationId + "/references/add?referrer=" + referrer
      }) }}
    </div>

    {{ govukDetails({
      summaryHtml: "What your referees will be asked to do if you accept an offer",
      html: guidanceHtml
    }) }}

  {% elif references | length > 1 %}
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">You can request as many references as you like but you can only submit 2 with your application.</p>
      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Request another reference",
        href: "/application/" + applicationId + "/references/add"
      }) }}
    </div>

    {{ govukDetails({
      summaryHtml: "What your referees will be asked to do if you accept an offer",
      html: guidanceHtml
    }) }}
  {% else %}
    {{ guidanceHtml | safe}}

    {{ govukButton({
      text: "Add contact details for a reference",
      href: "/application/" + applicationId + "/references/add"
    }) }}
  {% endif %}

  {% set references = otherReferences %}
  {% include "_includes/review/references.html" %}


  {% if references | length > 1 %}
    {{ govukRadios({
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    } | decorateApplicationAttributes(["completed", "references"])) }}

      {{ govukButton({
      text: "Continue"
    }) }}
  {% endif %}

{% endblock %}
