{% extends "_content-wide.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "References" %}
{% set referrer = applicationPath + "/references/review" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-references.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">Once we have submitted your completed application form to your training provider, we will contact your referees.</p>
      <p>We will send them a short questionnaire and ask them to describe you in their own words. They will not be given access to your completed application form.</p>
      <p class="govuk-body">We’ll let you know if they can’t or won’t supply a reference, so you have the opportunity to choose a new referee.</p>
      {{ govukButton({
        text: "Continue",
        href: applicationPath
      }) }}
    </div>
  </div>
{% endblock %}
