{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "References" %}
{% set referrer = applicationPath + "/references/review" %}
{% set references = applicationValue(["references"]) | toArray %}
{% set pendingReferences = references | selectattr("pending") | reverse %}
{% set readyReferences = references | selectattr("ready") | reverse %}
{% set otherReferences = references | rejectattr("pending") | rejectattr("ready") | reverse %}
{% set showReferenceRequestLog = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block beforePageTitle %}

  {% if messages[0] %}
    {{ appBanner({
      html: "<h2 class=\"govuk-heading-m\">" + messages[0] + "</h2>",
      type: "success",
      icon: false
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if readyReferences | length < 2 %}
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <p class="govuk-body">You need 2 references before you can submit your application.</p>
      {{ govukButton({
        text: "Add another referee",
        href: "/application/" + applicationId + "/references/add?referrer=" + referrer
      }) }}
    </div>
  {% endif %}

  {% if readyReferences.length %}
    <h2 class="govuk-heading-m">References that have been given</h2>
    {% set references = readyReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {% if pendingReferences.length %}
    <h2 class="govuk-heading-m">Requests waiting to be sent</h2>
    {% set references = pendingReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {% if otherReferences.length %}
    <h2 class="govuk-heading-m">Reference requests</h2>
    {% set references = otherReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
