{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "References" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/references/review" %}
{% set references = applicationValue(["references"]) | toArray %}
{% set pendingReferences = references | selectattr("pending") | reverse %}
{% set readyReferences = references | selectattr("ready") | reverse %}
{% set otherReferences = references | rejectattr("pending") | rejectattr("ready") | reverse %}
{% set showReferenceRequestLog = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: messages[0],
    type: "success"
  }) if messages.length > 0 }}
{% endblock %}

{% set guidanceHtml %}
  <p class="govuk-body">We will ask your referee to complete an online form.</p>

  <p class="govuk-body">We’ll ask them to write up to 500 words about your potential to teach, suggesting they comment on your:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>academic skills</li>
    <li>communication skills</li>
    <li>reliability and professionalism</li>
    <li>ability to work with children</li>
    <li>transferable skills</li>
  </ul>

  <p class="govuk-body">We’ll also ask them to confirm how they know you, and whether they know of of any reason you should not work with children.</p>
{% endset %}

{% block primary %}
  <div class="govuk-!-width-two-thirds">
    {% if references | length == 1 %}
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <p class="govuk-body">You need to get 2 references back before you can submit your application.</p>
        {{ govukButton({
          text: "Request a second reference",
          href: "/application/" + applicationId + "/references/add?referrer=" + referrer
        }) }}
      </div>

      {{ govukDetails({
        summaryHtml: "What your referee is asked to do when you request a reference",
        html: guidanceHtml
      }) }}

    {% elif refences | length > 1 %}
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <p class="govuk-body">You can request as many references as you like but you can only submit 2 with your application.</p>
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Request another reference",
          href: "/application/" + applicationId + "/references/add?referrer=" + referrer
        }) }}
      </div>

      {{ govukDetails({
        summaryHtml: "What your referee is asked to do when you request a reference",
        html: guidanceHtml
      }) }}
    {% else %}
      <p class="govuk-body">Your application needs to include 2 references.</p>

      <h2 class="govuk-heading-m">What your referee is asked to do when you request a reference</h2>
      {{ guidanceHtml | safe}}

      {{ govukButton({
        text: "Add reference",
        href: "/application/" + applicationId + "/references/add"
      }) }}
    {% endif %}


  </div>


  {% if readyReferences.length %}
    <h2 class="govuk-heading-m">References that have been given</h2>
    {% set references = readyReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {% if pendingReferences.length %}
    <h2 class="govuk-heading-m">Requests waiting to be sent</h2>
    {% set references = pendingReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {% if otherReferences.length %}
    <h2 class="govuk-heading-m">Reference requests</h2>
    {% set references = otherReferences %}
    {% include "_includes/review/references.njk" %}
  {% endif %}

  {# {{ govukButton({
    text: "Continue"
  }) }} #}
{% endblock %}
