{% extends "_form.njk" %}

{% set title = "Add a secondary referee"%}
{% set parent = "References" %}
{% set formAction = "/application/references/overview" %}

{% block primary %}
{% set insetHtml %}
  <p class="govuk-body">Contact your referee in advance to check they are:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>happy to give you a reference</li>
    <li>available to do so within a reasonable timeframe</li>
    <li>comfortable submitting a reference online</li>
  </ul>
  <p class="govuk-body">Your referee will be given a short questionnaire about you and a free text box to describe you in their own words. They will not be given access to your completed application form.</p>
{% endset %}
  {{ govukInsetText({
    html: insetHtml
  }) }}

  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--s"
    },
    id: "referee-secondary-name",
    name: "referee-secondary-name",
    value: data["referee-secondary-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "Referee’s relationship to you",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, academic tutor, manager, other (please specify)"
    },
    id: "referee-secondary-relationship",
    name: "referee-secondary-relationship",
    value: data["referee-secondary-relationship"]
  }) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    type: "email",
    id: "referee-secondary-email",
    name: "referee-secondary-email",
    value: data["referee-secondary-email"]
  }) }}

{% set explainCharacter %}
  {{ govukTextarea({
    label: {
      text: "If you are unable to provide an academic, professional or school senior leadership referee and are therefore requesting a character reference, you can explain why here (optional)."
    },
    id: "referee-secondary-character-explaination",
    name: "referee-secondary-character-explaination",
    value: data["referee-secondary-character-explaination"]
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of referee",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "referee-secondary-type",
    name: "referee-secondary-type",
    items: [{
      value: "academic",
      text: "Academic"
    }, {
      value: "professional",
      text: "Professional"
    }, {
      value: "school-based",
      text: "School senior leadership"
    }, {
      value: "character",
      text: "Character",
      conditional: {
        html: explainCharacter
      }
    }]
  }) }}

  {{ govukInput({
    id: "references-completed",
    name: "references-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
