{% extends "_content.njk" %}

{% set title = "Choose your referees" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Referees should not be family members, partners or friends.</p>
  <p class="govuk-body">Choose at least one academic referee if you graduated in the last 5 years or you do not have a grade for your degree yet.</p>
  <p class="govuk-body">Training providers will only accept a character reference if there’s also an academic or professional reference.</p>
  <p class="govuk-body">Contact your referees in advance to check they can submit a reference quickly online.</p>

  {{ govukButton({
    text: "Continue",
    href: "/application/" + applicationId + "/references/" + id + "/name/"
  }) }}
{% endblock %}
