{% extends "_content.njk" %}

{% set title = "Requesting a reference" %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <h2 class="govuk-heading-m">Who to choose as a referee</h2>
  <p class="govuk-body">Referees should not be family members, partners or friends.</p>
  <p class="govuk-body">If you graduated in the last 5 years, or you do not yet have a grade for your degree, choose at least one academic referee.</p>
  <p class="govuk-body">If you’re applying for a salaried course, one of your references must be from an employer.</p>
  <p class="govuk-body">Training providers will only accept a character reference if there’s also an academic or professional reference.</p>

  <h2 class="govuk-heading-m">Contact your referee</h2>
  <p class="govuk-body">Your referee will receive a link to an online form to complete. References sent to providers by email will not be accepted.</p>
  <p class="govuk-body">Contact your referee in advance to check that they can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>type or paste their reference into an online form (with a 500-word limit)</li>
    <li>submit a reference quickly, so as not to delay your application</li>
    <li>give you a full reference – providers need to know if you’re suitable to become a teacher</li>
  </ul>
  {{ govukButton({
    text: "Continue",
    href: "/application/" + applicationId + "/references/" + id + "/type/"
  }) }}

{% endblock %}
