{% extends "_form-question.html" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "Choose a referee" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/application/" + "/references/" + id + "/name" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + "/references/"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What type of reference do you want to add?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    items: [{
      text: "Academic, such as a university tutor"
    }, {
      text: "Professional, such as a manager"
    }, {
      text: "School experience, such as from the headteacher of a school you’ve been working in"
    }, {
      text: "Character, such as from a mentor or someone you know from volunteering"
    }]
  } | decorateApplicationAttributes(["references", id, "type"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
