{% extends "layouts/main.html" %}

{% set title = "Choose a referee" %}

{% block beforeContent %}
  {{ govukBackLink({
      href: "/application/references"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/application/references/{{ id }}/name" method="post">
        {{ govukRadios({
          name: "references[" + id + "][type]",
          value: data.references[id].type,
          fieldset: {
            legend: {
              text: "What type of reference do you want to add?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [{
            value: "academic",
            text: "Academic, such as a university tutor"
          }, {
            value: "professional",
            text: "Professional, such as a manager"
          }, {
            value: "school-experience",
            text: "School experience, such as from the headteacher of a school you’ve been working in"
          }, {
            value: "character",
            text: "Character, such as from a mentor or someone you know from volunteering"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
