{% extends "_form-question.njk" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "Choose a referee" %}
{% set allowsFeedback = true %}
{% set formaction = referrer or "/application/" + applicationId + "/references/" + id + "/name/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/review"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">Referees should not be family members, partners or friends.</p>

      <p class="govuk-body">You should choose referees who can meet the <a href="/application/XGCVQ/references/review">reference requirements</a>. You may want to contact them first to make sure.</p>

      <p class="govuk-body govuk-!-margin-bottom-7"><a href="https://getintoteaching.education.gov.uk/#talk-to-us">Talk to us</a> if you need help choosing a referee.</p>


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Choose your referee type",
        classes: "govuk-fieldset__legend--m"
      },
      hint: {
        text: "afsdaf"
      }
    },
    items: [{
      text: "Academic, such as a university tutor",
      hint: {
        text: "You need at least one of these if you graduated in the last 5 years or you do not  have a grade for your degree yet."
      }
    }, {
      text: "Professional, such as a manager",
      hint: {
        text: "If you’re applying for a salaried course, one of your references must be from an employer."
      }
    }, {
      text: "Someone you know through experience working in a school",
      hint: {
        text: ""
      }
    }, {
      divider: "or"
    }, {
      text: "Character, such as a mentor or someone you know from volunteering.",
      hint: {
        text: "You can use one character reference if you also have a professional or academic reference."
      }
    }]
  } | decorateApplicationAttributes(["references", id, "type"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
