{% extends "_form-question.njk" %}

{% set referee = applicationValue(["references", id]) %}
{% set parent = referee.name %}
{% set title = "What kind of referee do you want to add?" %}
{% set formaction = referrer or "/application/" + applicationId + "/references/" + id + "/name/" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/references/" + id + "/start/"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: label,
      hint: {
        text: "afsdaf"
      }
    },
    items: [{
      text: "Academic",
      hint: {
        text: "For example: a university tutor."
      }
    }, {
      text: "Professional",
      hint: {
        text: "For example: a manager."
      }
    }, {
      text: "School-based",
      hint: {
        text: "For example: a colleague from a school where you did experience."
      }
    }, {
      divider: "or"
    }, {
      text: "Character",
      hint: {
        text: "For example: a mentor, or someone you know from volunteering."
      }
    }]
  } | decorateApplicationAttributes(["references", id, "type"])) }}

  {{ govukButton({
    text: "Save changes" if referrer else "Save and continue"
  }) }}
{% endblock %}
