{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit your language skills" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Language skills" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set firstLanguage %}
  {{ govukTextarea({
    label: {
      text: "Please tell us about your English language qualifications (including grades or scores), and give details of other languages you are fluent in."
    },
    id: "language-skills-detail",
    name: "language-skills[detail]",
    value: data["language-skills"]["detail"]
  }) }}
{% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is English your first language?",
        classes: "govuk-label--s"
      }
    },
    idPrefix: "language-skills-first",
    name: "language-skills[first]",
    items: [{
      value: "english",
      text: "Yes",
      checked: checked("['language-skills']['first']", "english")
    }, {
      value: "other",
      text: "No",
      checked: checked("['language-skills']['first']", "other"),
      conditional: {
        html: firstLanguage
      }
    }]
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
