{% extends "_form.njk" %}

{% set parent = "Language skills" %}
{% set title = "Is English your first language?" %}
{% set formaction = "/profile" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set firstLanguage %}
  {{ govukTextarea({
    label: {
      text: "Please tell us about your English language qualifications (including grades or scores), and give details of other languages you are fluent in."
    },
    id: "language-skills-detail",
    name: "language-skills[detail]",
    value: data["language-skills"]["detail"]
  }) }}
{% endset -%}

  {{ govukRadios({
    idPrefix: "language-skills-first",
    name: "language-skills[first]",
    items: [{
      value: "english",
      text: "Yes",
      checked: checked("['language-skills']['first']", "english")
    }, {
      value: "other",
      text: "No",
      checked: checked("['language-skills']['first']", "other"),
      conditional: {
        html: firstLanguage
      }
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
