{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set title = "References to be requested if you accept an offer" %}
{% set references = data.references %}
{% set addReferenceButtonText = "Add a reference" if references | length == 0 else "Add another reference" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">You need to give the email address of 2 people who can give a reference for you. They’ll only be contacted if you accept an offer on a course.</p>

      <p class="govuk-body">You should include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an academic tutor if you graduated in the past 5 years or are still studying</li>
        <li>the headteacher if you’ve been working in a school</li>
      </ul>

      <p class="govuk-body">They’ll be asked if they know any reason why you should not work with children.</p>

      <div class="govuk-body">
        {% set referencesButtonClass = "govuk-button--secondary" if references | length > 1 else "" %}
        {{ govukButton({
          text: addReferenceButtonText,
          href: "/details/references/add",
          classes: referencesButtonClass
        }) }}
      </div>
    </div>
  </div>

  {% if references | length > 0 %}
    {% for id, item in references %}
      {% include "_includes/item/reference.html" %}
    {% endfor %}
  {% endif %}

{% if references | length > 1 and incompleteReferences | length == 0 %}
{# this statement shows either radio buttons to ask if the section is completed
or shows an inset with contact details to change this section if at least 1 application is submitted #}
{% if numberOfApplicationsLeft >= 4 %}
  <form action="/details" method="get">
    {{ govukRadios({
      name: "completed[references]",
      value: data.completed.references,
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

    {{ govukButton({text: "Continue"}) }}
  </form>
  {% else %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  html: 'Contact <a class="govuk-link" href="becomingateacher@education.gov.uk">becomingateacher@education.gov.uk</a> if you need to update this section.'
}
      ) }}
{% endif %}
{% endif %}

{% endblock %}
