{% from "govuk/components/select/macro.njk" import govukSelect %}
{{ govukSelect({
  label: {
    text: params.label.text,
    classes: params.label.classes
  },
  classes: params.classes,
  id: params.id,
  name: params.name,
  items: params.items
}) }}
