{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% from "govuk/components/hint/macro.njk" import govukHint %}

{% set title = "What is your address?" %}
{% set formaction = "/details/contact-information/review" %}

{% set describedBy = "address-hint" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/contact-information/where-do-you-live"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="{{ formaction }}" method="post">

        {{ govukInput({
          name: "address[line1]",
          label: {
            html: "Address line 1</span>"
          },
          autocomplete: "address-line1",
          value: data.address.line1
        }) }}

        {{ govukInput({
          name: "address[line2]",
          label: {
            html: "Address line 2</span>"
          },
          autocomplete: "address-line2",
          value: data.address.line2
        }) }}

        {{ govukInput({
          name: "address[town]",
          label: {
            text: "Address line 3"
          },
          autocomplete: "address-level2",
          value: data.address.town
        }) }}

        {{ govukInput({
          name: "address[county]",
          label: {
            text: "Address line 4"
          },
          autocomplete: "address-level1",
          value: data.address.county
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
