{% extends "_form.njk" %}

{% set parent = "Work history" %}
{% set title = "Explain gap in work history" %}
{% if action == "edit" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
  start {{ (data["work-history"][id]["start-date"] or start) | date('LL') }}<br>
  end {{ (data["work-history"][id]["end-date"] or end) | date('LL') }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start of gap",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 01 2018"
    },
    id: "work-history-" + id + "-start-date",
    namePrefix: id + "-start-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (data["work-history"][id]["start-date"] or start) | date('LL')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (data["work-history"][id]["start-date"] or start) | date('yyyy')
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End of gap",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2018"
    },
    id: "work-history-" + id + "-end-date",
    namePrefix: id + "-end-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Month",
      name: "month",
      value: (data["work-history"][id]["end-date"] or end) | date('LL')
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      name: "year",
      value: (data["work-history"][id]["end-date"] or end) | date('yyyy')
    }]
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Reason(s) for this gap in your work history",
      classes: "govuk-label--s"
    },
    maxwords: 400,
    id: "work-history-" + id + "-description",
    name: "work-history[" + id + "][description]",
    value: data["work-history"][id]["description"]
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "work-history[" + id + "][category]",
    value: "gap"
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
