{% extends "_form.njk" %}

{% set parent = "Work history" %}
{% set formAction = "/profile/work-history/review" %}
{% if action == "edit" %}
  {% set title = "Edit job" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add job" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Job title",
      classes: "govuk-label--s"
    },
    id: "work-history-" + id + "-role",
    name: "work-history[" + id + "][role]",
    value: data["work-history"][id]["role"]
  }) }}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--s"
    },
    id: "work-history-" + id + "-org",
    name: "work-history[" + id + "][org]",
    value: data["work-history"][id]["org"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2018"
    },
    id: "work-history-" + id + "-start",
    items: [{
      label: "Month",
      id: "work-history-" + id + "-start-month",
      name: "work-history[" + id + "][start-month]",
      value: data["work-history"][id]["start-month"],
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      id: "work-history-" + id + "-start-year",
      name: "work-history[" + id + "][start-year]",
      value: data["work-history"][id]["start-year"],
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2019"
    },
    id: "work-history-" + id + "-end",
    items: [{
      label: "Month",
      id: "work-history-" + id + "-end-month",
      name: "work-history[" + id + "][end-month]",
      value: data["work-history"][id]["end-month"],
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      id: "work-history-" + id + "-end-month",
      name: "work-history[" + id + "][end-year]",
      value: data["work-history"][id]["end-year"],
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Skills and experience relevant to teaching you gained in this role",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Give examples showing how you developed transferrable skills like communication, creativity and organisation. Enter experience relevant to your subject in the subject knowledge section"
    },
    id: "work-history-" + id + "-job_description",
    name: "work-history[" + id + "][job_description]",
    value: data["work-history"][id]["job_description"],
    maxwords: 150
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working in a school or with children?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-radios--inline",
    idPrefix: "work-history-" + id + "-worked_with_children",
    name: "work-history[" + id + "][worked_with_children]",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("['work-history']['" + id + "']['worked_with_children']", "yes")
    }, {
      value: "no",
      text: "No",
      checked: checked("['work-history']['" + id + "']['worked_with_children']", "no")
    }]
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    html: "Save and add another job",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/profile/work-history/job/add"
    }
  }) }}
{% endif %}
  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
