{% extends "_content.njk" %}

{% set title = "Work history" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-work-history.njk" %}
  {{ govukButton({
    html: "Add another job",
    classes: "govuk-button--secondary",
    href: "/profile/work-history/job/add"
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/profile/"
  }) }}
{% endblock %}
