{% extends "_content-wide.njk" %}

{% set title = "Work history" %}
{% set referrer = "/profile/work-history/review" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-work-history.njk" %}
  {{ govukButton({
    text: "Add another job",
    classes: "govuk-button--secondary",
    href: "/profile/work-history/add/job"
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/profile/"
  }) }}
{% endblock %}
