{% extends "_form.html" %}

{% set title = "Ask for support if you’re disabled" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set disabilityConditional %}
    {{ govukCharacterCount({
      label: {
        html: "Give any relevant information",
        classes: "govuk-label--s"
      },
      maxwords: 400,
      rows: 8
    } | decorateApplicationAttributes(["additionalSupport"])) }}
  {% endset %}

  <p class="govuk-body">You might benefit from extra support if you’re disabled, have a mental health condition or educational needs.</p>
  <p class="govuk-body">If you choose to tell us you need support, we’ll let your training provider know. They can then make adjustments so you can attend an interview or do the training.</p>
  <p class="govuk-body">Examples of support could be:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>organising equipment like a hearing loop or an adapted keyboard</li>
    <li>putting you in touch with support staff if you have a mental health condition</li>
    <li>making sure classrooms are wheelchair accessible</li>
  </ul>
  <p class="govuk-body">If the help you need is not covered by your provider making adjustments, you might also be able to get support from <a href="https://www.gov.uk/access-to-work">Access to Work</a>. This could include a grant to help cover the costs of practical support in the workplace.</p>

  <h2 class="govuk-heading-m">It’s against the law to discriminate</h2>
  <p class="govuk-body">If you’re disabled, it’s against the law to discriminate against you. Training providers must not:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>ask disability or health questions if they’re not relevant to your ability to become a teacher</li>
    <li>reject your application because you’re disabled</li>
  </ul>
  <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/funding-and-support/if-youre-disabled">Get support training to teach if you’re disabled.</a></p>
  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "Do you want to ask for help to become a teacher?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "Yes",
      text: "Yes, I want to share information about myself so my provider can take steps to support me",
      conditional: {
        html: disabilityConditional
      }
    }, {
      value: "No",
      text: "No"
    }]
  } | decorateApplicationAttributes(["additionalSupportDisclose"])) }}

  {{ govukInput({
    name: "option",
    type: "hidden",
    value: option
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
