{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set referrer = applicationPath + "/additional-support/review" %}
{% set title = "Ask for support if you’re disabled" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/additional-support.njk" %}

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-width-two-thirds",
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "true",
      text: "Yes, I’ve completed this section"
    }, {
      value: "false",
      text: "No, I’ll come back to it later"
    }]
  } | decorateApplicationAttributes(["completed", "additionalSupport"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
