{% extends "_form.njk" %}

{% set title = "Add a job" %}
{% set parent = "Employment history" %}
{% set formAction = "/application/employment-history" %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Job title",
      classes: "govuk-label--s"
    },
    id: "employment-history-role",
    name: "employment-history-role"
  }) }}

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--s"
    },
    id: "employment-history-org",
    name: "employment-history-org"
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2018"
    },
    items: [{
      name: "month",
      classes: "govuk-input--width-2"
    }, {
      name: "year",
      classes: "govuk-input--width-4"
    }],
    id: "employment-history-start",
    namePrefix: "employment-history-start"
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2019"
    },
    items: [{
      name: "month",
      classes: "govuk-input--width-2"
    }, {
      name: "year",
      classes: "govuk-input--width-4"
    }],
    id: "employment-history-end",
    namePrefix: "employment-history-end"
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Skills and experience relevant to teaching you gained in this role",
      classes: "govuk-label--s"
    },
    id: "employment-history-learnt",
    name: "employment-history-learnt",
    maxlength: 150
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did this job involve working in a school or with children?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    classes: "govuk-radios--inline",
    idPrefix: "employment-history-with-children",
    name: "employment-history-with-children",
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukInput({
    id: "employment-history-completed",
    name: "employment-history-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Add job"
  }) }}
{% endblock %}
