{% extends "_form.njk" %}

{% set title = "Explain gap in work history" %}
{% set parent = "Employment history" %}
{% set formAction = "/application/employment-history/overview" %}

{% block primary %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Start of gap"
      },
      value: {
        text: "05/2013"
      }
    },
    {
      key: {
        text: "End of gap"
      },
      value: {
        text: "11/2013"
      }
    }]
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Reason(s) for this gap in your work history",
      classes: "govuk-label--s"
    },
    id: "work-gap-explaination",
    name: "work-gap-explaination",
    maxlength: 400
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
