{% extends "_form.njk" %}

{% set title = "Employment history" %}
{% set formAction = "/application/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Application",
      href: "/application"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Use this section to enter details of your last 5 years of work history. Training providers need this information to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>safeguard children</li>
    <li>get a more rounded sense of you as a candidate</li>
    <li>identify areas of knowledge or expertise you could bring to teaching.</li>
  </ul>
  <p class="govuk-body">Include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>paid work</li>
    <li>regular full and part-time work</li>
    <li>work in a school (for example as a teaching assistant)</li>
  </ul>
  <p class="govuk-body">Don’t include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>short-term school experience, one-off observations and volunteering with children – we’ll ask you about this next</li>
  </ul>

  {{ govukDetails({
    summaryText: "I have more than 5 years of employment history",
    text: "You can include your complete employment history going back further than 5 years if you wish. Training providers will be interested in skills and experience you can transfer to a school setting."
  }) }}

  {{ govukDetails({
    summaryText: "I have less than 5 years of employment history",
    text: "If you are a recent graduate, tell us about your employment since leaving university."
  }) }}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% if data['employment-history-completed'] %}
  {{ govukTable({
    caption: "Your employment history",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Dates",
      classes: "govuk-!-width-one-quarter"
    }, {
      text: "Job title"
    }, {
      text: "Organisation"
    }],
    rows: [
      [{
        text: data['employment-history-end-month'] + '/' + data['employment-history-end-year'] + ' - Present'
      }, {
        html: "<a href=\"/application/employment-history/explain-gap\">Explain gap</a>",
        colspan: 2
      }], [{
        text: data['employment-history-start-month'] + '/' + data['employment-history-start-year'] + ' - ' + data['employment-history-end-month'] + '/' + data['employment-history-end-year']
      }, {
        text: data['employment-history-role']
      }, {
        text: data['employment-history-org']
      }]
    ]
  }) }}
  {% set buttonText = "Add another job" %}
{% else %}
  <h2 class="govuk-heading-m">Your employment history</h2>
  <p class="govuk-body">Start with your most recent position, and work backwards. If you did more than one job in the same period, list them both.</p>
  {% set buttonText = "Add a job" %}
{% endif %}

  {{ govukButton({
    text: buttonText,
    classes: "govuk-button--secondary",
    href: "/application/employment-history/add"
  }) }}

  <hr class="govuk-section-break">

  {{ govukInput({
    id: "employment-history-completed",
    name: "employment-history-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
