{% extends "layouts/main.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = referrer or applicationPath + "/interview-needs/review" %}
{% set title = "Interview needs" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <p class="govuk-body">Providers do not usually have much flexibility when setting a date and time for interview unless you need adjustments due to a <a href="{{ applicationPath }}/additional-support">health condition or disability</a>.</p>
  <p class="govuk-body">However, if you need flexibility for other reasons you can tell us about it here.</p>
  <p class="govuk-body">For example: you have commitments like caring responsibilities or employment.</p>
  <p class="govuk-body">Interview processes might be different at the moment because of coronavirus (COVID-19).</p>
  <p class="govuk-body">Contact your provider if you’re concerned about the interview process.</p>

  {% set interviewHtml %}
    {{ govukCharacterCount({
      label: {
        text: "What are your interview needs?",
        classes: "govuk-label--s"
      },
      maxwords: 150,
      threshold: 75,
      rows: 6
    } | decorateApplicationAttributes(["interviewNeeds"])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Do you have any interview needs?"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: interviewHtml
      }
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(["interviewNeedsDisclose"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
