{% extends "_form.njk" %}

{% set parent = "Literacy, numeracy and language skills" %}
{% set title = "Professional skills test" %}
{% set formAction = "/profile/professional-skills/languages" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">You will need to sit tests in literacy and numeracy before you start your teacher training.</p>
  <p class="govuk-body">If you’ve yet to pass your skills tests, please bear in mind that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>there is no limit to the number of times you can sit your tests, and the first 3 are free</li>
    <li>test centres get busy, so book in advance</li>
    <li>you can only sit the test once you’ve submitted your application, so choose a date when you’re confident you’ll have done so</li>
  </ul>
  <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/how-to-apply/passing-the-skills-tests">Learn more about booking and preparing for professional skills tests</a></p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% set skillsTestDetails %}
  {{ govukInput({
    label: {
      text: "Please enter your professional skills tests candidate number"
    },
    id: "skills-test-number",
    name: "skills-test-number",
    value: data["skills-test-number"]
  }) }}

  {{ govukDateInput({
    id: "skills-test-literacy-date",
    namePrefix: "skills-test-literacy-date",
    fieldset: {
      legend: {
        text: "Date of literacy test"
      }
    },
    hint: {
      text: "For example, 28 05 2019"
    },
    items: [{
      name: "day",
      value: data["skills-test-literacy-date-day"],
      classes: "govuk-input--width-2"
    }, {
      name: "month",
      value: data["skills-test-literacy-date-month"],
      classes: "govuk-input--width-2"
    }, {
      name: "year",
      value: data["skills-test-literacy-date-year"],
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukDateInput({
    id: "skills-test-numeracy-date",
    namePrefix: "skills-test-numeracy-date",
    fieldset: {
      legend: {
        text: "Date of numeracy test"
      }
    },
    hint: {
      text: "For example, 28 05 2019"
    },
    items: [{
      name: "day",
      value: data["skills-test-numeracy-date-day"],
      classes: "govuk-input--width-2"
    }, {
      name: "month",
      value: data["skills-test-numeracy-date-month"],
      classes: "govuk-input--width-2"
    }, {
      name: "year",
      value: data["skills-test-numeracy-date-year"],
      classes: "govuk-input--width-4"
    }]
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you passed your professional skills test?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "skills-test",
    name: "skills-test",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("skills-test", "yes"),
      conditional: {
        html: skillsTestDetails
      }
    }, {
      value: "no",
      text: "No",
      checked: checked("skills-test", "no")
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
