{% extends "_form.njk" %}

{% set parent = "Literacy, numeracy and language skills" %}
{% set title = "Professional skills test" %}
{% set formaction = "/profile/professional-skills/languages" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">You will need to sit tests in literacy and numeracy before you start your teacher training.</p>
  <p class="govuk-body">If you’ve yet to pass your skills tests, please bear in mind that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>there is no limit to the number of times you can sit your tests, and the first 3 are free</li>
    <li>test centres get busy, so book in advance</li>
    <li>you can only sit the test once you’ve submitted your application, so choose a date when you’re confident you’ll have done so</li>
  </ul>
  <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/how-to-apply/passing-the-skills-tests">Learn more about booking and preparing for professional skills tests</a></p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% set skillsTestDetails %}
  {{ govukInput({
    label: {
      text: "Please enter your professional skills tests candidate number"
    },
    id: "professional-skills-test-candidate-number",
    name: "professional-skills[test][candidate-number]",
    value: data["professional-skills"]["test"]["candidate-number"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of literacy test"
      }
    },
    hint: {
      text: "For example, 28 05 2019"
    },
    id: "professional-skills-test-literacy-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      id: "professional-skills-test-literacy-date-day",
      name: "professional-skills[test][literacy-date][day]",
      value: data["professional-skills"]["test"]["literacy-date"]["day"]
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      id: "professional-skills-test-literacy-date-month",
      name: "professional-skills[test][literacy-date][month]",
      value: data["professional-skills"]["test"]["literacy-date"]["month"]
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      id: "professional-skills-test-literacy-date-year",
      name: "professional-skills[test][literacy-date][year]",
      value: data["professional-skills"]["test"]["literacy-date"]["year"]
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of numeracy test"
      }
    },
    hint: {
      text: "For example, 28 05 2019"
    },
    id: "professional-skills-test-numeracy-date",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      id: "professional-skills-test-numeracy-date-day",
      name: "professional-skills[test][numeracy-date][day]",
      value: data["professional-skills"]["test"]["numeracy-date"]["day"]
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      id: "professional-skills-test-numeracy-date-month",
      name: "professional-skills[test][numeracy-date][month]",
      value: data["professional-skills"]["test"]["numeracy-date"]["month"]
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      id: "professional-skills-test-numeracy-date-year",
      name: "professional-skills[test][numeracy-date][year]",
      value: data["professional-skills"]["test"]["numeracy-date"]["year"]
    }]
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you passed your professional skills test?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "professional-skills-test-completed",
    name: "professional-skills[test][completed]",
    items: [{
      value: "true",
      text: "Yes",
      checked: checked("['professional-skills']['test']['completed']", "true"),
      conditional: {
        html: skillsTestDetails
      }
    }, {
      value: "false",
      text: "No",
      checked: checked("['professional-skills']['test']['completed']", "false")
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
