{% extends "_form.njk" %}

{% set parent = "Literacy, numeracy and language skills" %}
{% set title = "Is English your first language?" %}
{% set formaction = "/profile" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set firstLanguage %}
  {{ govukTextarea({
    label: {
      text: "Please tell us about your English language qualifications (including grades or scores), and give details of other languages you are fluent in."
    },
    id: "professional-skills-languages-detail",
    name: "professional-skills[languages][detail]",
    value: data["professional-skills"]["languages"]["detail"]
  }) }}
{% endset -%}

  {{ govukRadios({
    idPrefix: "professional-skills-languages-first",
    name: "professional-skills[languages][first]",
    items: [{
      value: "english",
      text: "Yes",
      checked: checked("['professional-skills']['languages']['first']", "english")
    }, {
      value: "other",
      text: "No",
      checked: checked("['professional-skills']['languages']['first']", "other"),
      conditional: {
        html: firstLanguage
      }
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
