{% extends "_form.njk" %}

{% set parent = "Literacy, numeracy and language skills" %}
{% set title = "Is English your first language?" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Your teaching potential",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set firstLanguage %}
  {{ govukTextarea({
    label: {
      text: "Please tell us about your English language qualifications (including grades or scores), and give details of other languages you are fluent in."
    },
    id: "languages-first",
    name: "languages-first",
    value: data["languages-first"]
  }) }}
{% endset -%}

  {{ govukRadios({
    idPrefix: "languages",
    name: "languages",
    items: [{
      value: "yes",
      text: "Yes",
      checked: checked("languages", "yes")
    }, {
      value: "no",
      text: "No",
      checked: checked("languages", "no"),
      conditional: {
        html: firstLanguage
      }
    }]
  }) }}

  {{ govukInput({
    id: "professional-skills-completed",
    name: "professional-skills-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
