{% extends "_form.njk" %}

{% set formAction = "/profile/" %}
{% set parent = "Literacy, numeracy and language skills" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-professional-skills.njk" %}

  {{ govukInput({
    id: "professional-skills-completed",
    name: "professional-skills-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
