{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% set parent = "Equality and diversity questions" %}
{% set title = "Ethnicity" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/equality-diversity/disabilities"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">We ask this question to prevent discrimination in teacher recruitment.</p>

      <p class="govuk-body">Training providers will not see your answer when deciding to offer you a place. They'll only see your answer if you accept an offer from them.</p>

      <form action="/application/equality-diversity/ethnic-background" method="post">
        {{ govukRadios({
          name: "equalityMonitoring[ethnicGroup]",
          value: data.equalityMonitoring.ethnicGroup,
          fieldset: {
            legend: {
              text: "What is your ethnic group?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "White",
            text: "White",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Includes any White background"
            }
          },{
            value: "Mixed or multiple ethnic groups",
            text: "Mixed or multiple ethnic groups",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Includes any Mixed background"
            }
          },{
            value: "Asian or Asian British",
            text: "Asian or Asian British",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani"
            }
          }, {
            value: "Black, African, Caribbean or Black British",
            text: "Black, African, Caribbean or Black British",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Includes any Black background"
            }
          }, {
            value: "Another ethnic group",
            text: "Another ethnic group",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Includes any other ethnic group, for example, Arab"
            }
          }, {
            divider: "or"
          }, {
            value: "Prefer not to say",
            text: "Prefer not to say"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
