{% extends "layouts/main.html" %}
{% set title = "Equality and diversity questions" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application",
    href: "/application"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>


      {% include "_includes/review/equality-and-diversity.html" %}


    <form action="/application" method="post">
      {{ govukRadios({
        name: "completed[equalityAndDiversity]",
        fieldset: {
          classes: "govuk-!-width-two-thirds",
          legend: {
            text: "Have you completed this section?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "true",
          text: "Yes, I’ve completed this section",
          checked: (data.completed.equalityAndDiversity == 'true')
        }, {
          value: "false",
          text: "No, I’ll come back to it later",
          checked: (data.completed.equalityAndDiversity == 'false')
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>
{% endblock %}
