{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}
{% set title = "Personal statement" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>


      {% set guidanceHtml %}
        <p class="govuk-body">You should write between 500 and 1000 words for your personal statement.</p>
        <p class="govuk-body">Here are some examples you could write about (they are just a guide, you do not need to write about all of them):</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>skills you have that are relevant to teaching</li>
          <li>any experience of working with young people</li>
          <li>for secondary teacher training: your interest in the subject you want to teach</li>
          <li>your understanding of why teaching is important</li>
          <li>your reasons for wanting to train to be a teacher</li>
          <li>any activities you’ve done that could be relevant to teaching like first aid courses, sports coaching or volunteering</li>
        </ul>
        <p class="govuk-body">Get support with your personal statement by speaking to our<a class="govuk-link" href="https://getintoteaching.education.gov.uk/teacher-training-advisers"> teacher training advisers</a>.</p>
      {% endset %}

      {{ guidanceHtml | safe }}

      <form action="/details/personal-statement/review" method="post">
        {{ govukCharacterCount({
          name: "personalStatement",
          value: data.personalStatement,
          id: "personal-statement",
          label: {
            text: "Your personal statement",
            classes: "govuk-label--m govuk-!-margin-top-6"
          },
          rows: 15,
          maxwords: 1000
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}