{% extends "layouts/email.html" %}

{% set title = "Teacher training reference needed for Jane Doe" %}
{% set type = data['referee_type'] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Dear [your name],</p>
      <p class="govuk-body">[Example training provider] has reviewed your application details and would like you to submit an application to:</p>

      <h1 class="govuk-heading-s">[Example course subject]</h1>

      <ul class="govuk-list">
        <li>Course fee: £9,535 for UK citizens, £15,430 for non-UK citizens</li>
        <li>Course length: 1 year - full time</li>
        <li>Age range: 11 to 16 secondary</li>
        <li>Qualification: QTS with PGCE</li>
        <li>Start date: September 2025</li>
      </ul>

      <p class="govuk-body">
        <a href="/admin/add-invite-view" class="govuk-link">Review and respond to this invitation</a>
      </p>

      <p class="govuk-body">You are receiving this email because you chose to share your application details with training providers. <a href="/candidate-pool/check" class="govuk-link">You can change your preferences</a>.</p>

    </div>
  </div>
{% endblock %}
