{% extends "layouts/main.html" %}
{% set primaryNavId = "applications" %}
{% set title = "Do you want to be invited to apply to similar courses?" %}
{% set application = data.applications[id] %}
{% set degreeGrade = data.degrees[id]%}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to your applications"
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-button-group">
          <form action="/candidate-pool" method="post">

          {% if not hideBanner %}
          {{ govukNotificationBanner({
            text: "Application submitted",
            type: "success"
          }) }}
          {% endif %}

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Do you want to be invited to apply to similar courses?
          </h1>

          <p class="govuk-body">You can choose to make your application details visible to other training providers. If they think you are suitable they can invite you to submit an application to their course.</p>
          <p class="govuk-body">Your details will only be visible when you have no applications waiting for a response from a provider.</p>

            {{ govukRadios({
              name: "candidatePool[optedIn]",
              classes: "govuk-radios--inline",
              items: [
                {
                  value: "true",
                  text: "Yes",
                  checked: ( data.candidatePool['optedIn'] == "true")
                },
                {
                  value: "false",
                  text: "No",
                  checked: ( data.candidatePool['optedIn'] == "false")
                }
              ]
            }) }}

              {{ govukButton({
              text: "Continue"
            }) }}
          </form>

          <p><a href="/candidate-pool/info" class="govuk-link">How application sharing works</a></p>
        </div>

      </div>
    </div>
{% endblock %}
