{% extends "layouts/main.html" %}
{% set primaryNavId = "applications" %}
{% set title = "Location preferences" %}
{% set application = data.applications[id] %}
{% set degreeGrade = data.degrees[id]%}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to your application"
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-button-group">
          <form action="/candidate-pool/opt-in" method="post">


          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Location preferences
          </h1>

          <p class="govuk-body">Training providers will use the locations you enter here to search for candidates near their courses. You should add all locations that you can train in.</p>

          <h2 class="govuk-heading-m">Add, change or remove preferred locations</h2>

          <table class="govuk-table app-table__row--no-bottom-border">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Location</th>
                <th class="govuk-table__header" scope="col">Distance from location</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for location in data.candidatePool.locations %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ location.location }}</td>
                <td class="govuk-table__cell">{{ location.distance }} miles</td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/candidate/preferences/234/location-preferences/736/edit">Change<span class="govuk-visually-hidden"> {{ location.name }}</span></a>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/candidate/preferences/234/location-preferences/736">Remove<span class="govuk-visually-hidden"> {{ location.name }}</span></a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>


            {{ govukCheckboxes({
              name: "candidatePool[locationsAddNew]",
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: "true",
                  text: "Add new course locations to my preferences when I apply to new courses"
                }
              ]
            }) }}


              {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>

      </div>
    </div>
{% endblock %}
