{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit why you want to be a teacher" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Why you want to be a teacher" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% set guidanceHtml %}
    <p class="govuk-body">Use this section to showcase your motivation, commitment and teaching potential, backing up your answer with specific examples.</p>
    <p class="govuk-body">Give providers an insight into your personality and character by writing honestly and thoughtfully. Avoid cliché and write in clear, correct, concise English.</p>
    <p class="govuk-body">You can ask your training provider for examples written by successful applicants, or register with <a href="https://getintoteaching.education.gov.uk/">Get into Teaching</a> for help from a teacher training advisor.</p>
    <p class="govuk-body">Suggested topics to cover include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>reflections on why you want to be a teacher</li>
      <li>your passion for your subject and the age group you’ve chosen to teach</li>
      <li>your engagement with the welfare and education of children and/or young people</li>
      <li>an understanding of the demands and rewards of the profession</li>
      <li>the personal qualities that will make you a good teacher</li>
      <li>your contribution to the life of the school outside the classroom  – for example, running extra-curricular activities and clubs</li>
      <li>if you have school experience or have worked as a volunteer with children or young people, give details of what this has taught you</li>
    </ul>
    <p class="govuk-body">You should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>draft your answer and check it’s not over the 600 word limit</li>
      <li>proofread it carefully for spelling and grammar</li>
      <li>ask someone you trust for their opinion before you submit</li>
      <li>ensure this piece of writing is all your own work – plagiarism will be penalised</li>
    </ul>
  {% endset %}

  {% if action == "edit" %}
    {{ govukDetails({
      summaryText: "Help completing this question",
      html: guidanceHtml
    }) }}
  {% else %}
    {{ guidanceHtml | safe }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  {{ govukCharacterCount({
    label: {
      text: "Enter your answer",
      classes: "govuk-label--s"
    },
    rows: 20,
    maxwords: 600,
    id: "vocation-statement",
    name: "vocation[statement]",
    value: data["vocation"]["statement"]
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
