{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/vocation/review" %}
{% set title = "Why do you want to be a teacher?" %}
{% set review = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body govuk-!-font-weight-bold">Before you submit your application:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>proofread your answer carefully for spelling and grammar</li>
    <li>ask someone you trust for their opinion</li>
    <li>ensure this piece of writing is all your own work – plagiarism will be penalised</li>
  </ul>
  {% include "_includes/review-vocation.njk" %}
  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
