{% extends "_content.njk" %}

{% set title = "Your course choices" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="gov-uk-body"><mark>Section TBD, but in addition to status and information regarding course selection, the following pages may also appear somewhere within this section.</mark></p>

  {{ appTaskList({
    items: [{
      text: "Interview",
      href: "/courses/interview",
      id: "interview",
      completed: data['interview']
    }, {
      text: "Agree to terms and conditions"
    }, {
      text: "Confirmation of application"
    }]
  }) }}
{% endblock %}
