{% extends "_content.njk" %}

{% set title = "Your course choices" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="gov-uk-body">Your course details are prefilled with the selection you made in Find postgraduate teacher training. You can change your choice of provider by going back to Find and searching again. Or, you can enter new details yourself.<p>

When you’ve submitted your first application, you can apply to up to X other providers using this service, as long as they are opted in to our trial. For most providers, you’ll still need to apply through UCAS. When you search on Find, you’ll be guided through this process.</p>

  {{ appTaskList({
    items: [{
      text: "Interview",
      href: "/courses/interview",
      id: "interview",
      completed: data['interview']
    }, {
      text: "Agree to terms and conditions"
    }, {
      text: "Confirmation of application"
    }]
  }) }}
{% endblock %}
