{% extends "_form.njk" %}

{% set title = "Interview" %}
{% set formAction = "/profile/" %}

{% block primary %}
  <p class="govuk-body-l">Is there anything your training provider should consider when scheduling an interview?</p>
  <p class="govuk-body">Your interview will usually take place over the course of a day and you will need to attend in person. Please give details of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>dates you are unavailable for interview</li>
    <li>any disability, special need or other health or personal issue you feel is relevant</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukCharacterCount({
    label: {
      text: "Enter details relevant to your interview arrangements",
      classes: "govuk-label--s"
    },
    id: "interview-notes",
    name: "interview-notes",
    value: data["interview-notes"],
    maxwords: 150
  }) }}

  {{ govukCharacterCount({
    label: {
      text: "Is there anything else you would like to tell us about your application?",
      classes: "govuk-label--s"
    },
    id: "interview-miscellaneous",
    name: "interview-miscellaneous",
    value: data["interview-miscellaneous"],
    rows: 10,
    maxwords: 600
  }) }}

  {{ govukInput({
    id: "interview-completed",
    name: "interview-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
