{% extends "layouts/main.html" %}
{% set primaryNavId = "applications" %}
{% set title = "Location preferences" %}
{% set application = data.applications[id] %}
{% set degreeGrade = data.degrees[id]%}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/candidate-pool/locations",
    text: "Back"
  }) }}
{% endblock %}



{% set htmlLocationRows = '' %}
{% set countShown = 0 %}

{% for location in data.candidatePool.locations %}

  {% if not location.removed %}

    {% set countShown = countShown+1 %}
    {% set htmlLocationRows %}
    {{htmlLocationRows | safe}}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ location.distance }} miles</td>
      <td class="govuk-table__cell">{{ location.location }}</td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/candidate-pool/locations/{{loop.index-1}}/change">Change<span class="govuk-visually-hidden"> {{ location.name }}</span></a>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/candidate-pool/locations/{{loop.index-1}}/remove">Remove<span class="govuk-visually-hidden"> {{ location.name }}</span></a>
      </td>
    </tr>
    {% endset %}
  {% endif %}

{% endfor %}


{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

          <form action="/candidate-pool/locations/areas" method="post">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              Areas you can train in
            </h1>

            <p class="govuk-body">Training providers will use the locations you enter here to search for candidates near their courses. You should add all locations that you can train in.</p>

            <h2 class="govuk-heading-m">Add, change or remove areas</h2>

            <table class="govuk-table app-table__row--no-bottom-border">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col" style="text-wrap-mode: nowrap">I can travel up to</th>
                  <th class="govuk-table__header" scope="col">from town, city or postcode</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {{ htmlLocationRows | safe }}
              </tbody>
            </table>

            {{ govukButton({
              text: ("Add another area" if countShown > 0 else "Add an area"),
              href: '/candidate-pool/locations/add',
              classes: "govuk-button--secondary"
            }) }}

            <p class="govuk-body">
              {{ govukButton({
                text: "Continue"
              }) }}
            </p>

          </form>

      </div>
    </div>
{% endblock %}
