{% extends "layouts/main.html" %}
{% set primaryNavId = "application-sharing" %}
{% set title = "Add the locations of courses you apply to" %}
{% set application = data.applications[id] %}
{% set degreeGrade = data.degrees[id]%}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/candidate-pool/locations/areas",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-button-group">
          <form action="/candidate-pool/locations/auto-add" method="post">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              Add the locations of courses you apply to
          </h1>

          <p class="govuk-body">Each time you apply to a new course, we can add the course location to the places you can train. You will receive invitations for these locations as well.</p>

            {{ govukRadios({
              name: "candidatePool[locationsAddNew]",
              classes: "govuk-radios--inline",
              items: [
                {
                  value: "true",
                  text: "Yes",
                  checked: ( data.candidatePool['locationsAddNew'] == "true")
                },
                {
                  value: "false",
                  text: "No",
                  checked: ( data.candidatePool['locationsAddNew'] == "false")
                }
              ]
            }) }}

              {{ govukButton({
              text: "Continue"
            }) }}
          </form>

        </div>

      </div>
    </div>
{% endblock %}
