{% extends "layouts/main.html" %}
{% set primaryNavId = "applications" %}
{% set title = "Where can you train?" %}
{% set application = data.applications[id] %}
{% set degreeGrade = data.degrees[id]%}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/candidate-pool",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-button-group">
          <form action="/candidate-pool/locations" method="post">


          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Where can you train?
          </h1>

            {{ govukRadios({
              name: "candidatePool[locationPreferences]",
              classes: "govuk-radios",
              items: [
                {
                  value: "false",
                  text: "Anywhere in England",
                  checked: ( data.candidatePool['locationPreferences'] == "false")
                },
                {
                  value: "true",
                  text: "In specific locations",
                  checked: ( data.candidatePool['locationPreferences'] == "true"),
                  hint: {
                    text: "Only receive invitations to apply to courses near your chosen locations"
                  }
                }
              ]
            }) }}

              {{ govukButton({
              text: "Continue"
            }) }}
          </form>
        </div>

      </div>
    </div>
{% endblock %}
