{% extends "_form.njk" %}

{% set parent = "Contact details" %}
{% set title = "What is your address?" %}

{% block primary %}
  {{ govukInput({
    label: {
      html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    autocomplete: "address-line1"
  } | decorateApplicationAttributes(['contact-details', 'address', 'line1'])) }}

  {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    autocomplete: "address-line2"
  } | decorateApplicationAttributes(['contact-details', 'address', 'line2'])) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "address-level2"
  } | decorateApplicationAttributes(['contact-details', 'address', 'level2'])) }}

  {{ govukInput({
    label: {
      text: "County"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "address-level1"
  } | decorateApplicationAttributes(['contact-details', 'address', 'level1'])) }}

  {{ govukInput({
    label: {
      text: "Postal code"
    },
    classes: "govuk-input--width-10",
    autocomplete: "postal-code"
  } | decorateApplicationAttributes(['contact-details', 'address', 'postal-code'])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
