{% extends "_form.njk" %}

{% set title = "Contact details" %}
{% set formaction = referrer or "/application/" + applicationId + "/contact-details/where-do-you-live" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Phone number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For non-UK numbers, include the country code"
    },
    classes: "govuk-input--width-20",
    autocomplete: "tel",
    type: "tel"
  } | decorateApplicationAttributes(["contact-details", "phone-number"])) }}

{% if urStudy %}
  {{ govukInput({
    id: "account-email",
    name: "account[email]",
    value: data["account"]["email"],
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Don’t use a work or university email address you might lose access to"
    },
    classes: "govuk-input--width-20",
    autocomplete: "tel",
    type: "tel"
  }) }}
{% else %}
  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Email address</h3>
  <p class="govuk-body">{{ data["account"]["email"] }} &nbsp; <a href="/account/change-email-address">Change</a></p>
{% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
