{% extends "_form.njk" %}

{% set title = "Contact details" %}
{% set formaction = referrer or "/application/" + applicationId + "/contact-details/where-do-you-live" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer,
      text: "Back"
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Phone number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For non-UK numbers, include the country code"
    },
    classes: "govuk-input--width-20",
    autocomplete: "tel",
    type: "tel"
  } | decorateApplicationAttributes(["contact-details", "phone-number"])) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Don’t use a work or university email address you might lose access to"
    },
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email"
  } | decorateApplicationAttributes(["contact-details", "email"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
