{% extends "_form.njk" %}

{% if action == "edit" %}
  {% set title = "Edit contact details" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Contact details" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({ href: "/application/" + applicationId, text: 'Back to application' }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Phone number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For non-UK numbers, include the country code"
    },
    classes: "govuk-input--width-20",
    autocomplete: "tel",
    type: "tel"
  } | decorateApplicationAttributes(['contact-details', 'phone-number'])) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Don’t use a work or university email address you might lose access to"
    },
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email"
  } | decorateApplicationAttributes(['contact-details', 'email'])) }}

{% set internationalAddressHtml %}
  {{ govukTextarea({
    label: {
      text: "Enter your address"
    },
    autocomplete: "street-address"
  } | decorateApplicationAttributes(['contact-details', 'street-address'])) }}
{% endset %}

{% if referrer != true %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Where do you live?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      text: "In the UK",
      value: "domestic"
    }, {
      text: "Outside the UK",
      value: "international",
      conditional: {
        html: internationalAddressHtml
      }
    }]
  } | decorateApplicationAttributes(['contact-details', 'address-type'])) }}
{% endif %}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
