{% extends "_form.njk" %}

{% set parent = "Contact details" %}
{% set title = "What is your address?" %}
{% set formAction = "/application/contact-details/select-address" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Application",
      href: "/application"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">If you live at more than one address (for example, during term time and the holidays) give us the one you’d like us to send letters to.</p>

  {{ govukInput({
    label: {
      text: "Enter your postcode",
      classes: "govuk-label--s"
    },
    autocomplete: "postal-code",
    classes: "govuk-input--width-5",
    id: "address-postal-code",
    name: "address-postal-code"
  }) }}

  {{ govukButton({
    text: "Look up address"
  }) }}

  <p class="govuk-body"><a href="/application/contact-details/enter-address">I live outside the UK</a></p>
{% endblock %}
