{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set qualificationName = data.otherQualifications[id].type %}

{% if data.otherQualifications[id].type == 'non-uk' %}
  {% set title = "Add non-UK qualification" %}
{% elif data.otherQualifications[id].type == 'other-uk' %}
  {% set title = "Add UK qualification" %}
{% else %}
  {% set title = "Add " + " " + qualificationName + " qualification" %}
{% endif %}

{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details/other-qualifications/" + id + "/type"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
        <form action="/details/other-qualifications/review" method="post">

          {{ govukInput({
            name: "otherQualifications[" + id + "][subject]",
            value: data.otherQualifications[id].subject,
            label: {
              text: "Subject",
              classes: "govuk-label--s"
            }
          }) }}


        {% if data.otherQualifications[id].type == 'non-uk' %}
          {{ govukInput({
            name: "otherQualifications[" + id + "][country]",
            value: data.otherQualifications[id].country,
            label: {
              text: "Country where you studied",
              classes: "govuk-label--s"
            },
            items: countries
          }) }}
        {% endif %}

        {{ govukInput({
          name: "otherQualifications[" + id + "][grade]",
          value: data.otherQualifications[id].grade,
          label: {
            text: "Grade (optional)",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, ‘C’, ‘CD’, ‘4’ or ‘4-3’"
          } if type == "GCSE",
          classes: "govuk-input--width-" + ("4" if type == "GCSE" or type == "AS level" or type == "A level" else "10")
        } ) }}

        {{ govukInput({
          name: "otherQualifications[" + id + "][year]",
          value: data.otherQualifications[id].year,
          label: {
            text: "Year qualification was awarded",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, 1998"
          },
          classes: "govuk-input--width-4"
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
