{% extends "layouts/main.html" %}

{% set international = true if data.otherNationality else false %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set itemName = "other qualifications" if international else "A levels and other qualifications" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">Adding {{ "A levels and " if not international }} other qualifications can make your application stronger.</p>

      <p class="govuk-body">Training providers may ask to see them later if you do not include them in your application.</p>

      <form action="/details/other-qualifications/answer" method="post">

        {{ govukRadios({
          name: "otherQualificationsAdded",
          value: data.otherQualificationsAdded,
          fieldset: {
            legend: {
              text: "Do you want to add " + ("a qualification" if international else "any A levels or other qualifications") + "?",
              classes: "govuk-label--m"
            },
            attributes: {
              "data-module": "clear-hidden"
            }
          },
          items: [{
            value: "yes",
            text: "Yes"
          }, {
            value: "no",
            text: "No, I do not want to add " + ("a qualification" if international else "any A levels or other qualifications") + ""
          }]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
