{% extends "layouts/main.html" %}

{% set applicationPath = "/application" %}
{% set formaction = applicationPath %}
{% set international = data.otherNationality %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set canAmend = true %}
{% set otherQualifications = data.otherQualifications %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

    {% if data.otherQualificationsAdded == "no" %}

      {% include "_includes/review/other-qualifications.html" %}

    {% else %}

      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">Adding A levels and other qualifications can make your application stronger.</p>
        <p class="govuk-body">Training providers may ask to see them later if you do not include them in your application.</p>
      </div>

      {% if data.otherQualifications | length == 0 %}
        {{ govukButton({text: "Add qualification", href: applicationPath + "/other-qualifications/add"}) }}

      {% else %}
        {{ govukButton({text: "Add another qualification", href: applicationPath + "/other-qualifications/add", classes: "govuk-button--secondary"}) }}
      {% endif %}

      <div class="govuk-!-width-two-thirds">
        {% include "_includes/review/other-qualifications.html" %}
      </div>

    {% endif %}


    {% if data.otherQualificationsAdded == "no"  or data.otherQualifications | length > 0 %}
      <form action="/application" method="post">
        {{ govukRadios({
          name: "completed[otherQualifications]",
          value: data.completed.otherQualifications,
          fieldset: {
            classes: "govuk-!-width-two-thirds",
            legend: {
              text: "Have you completed this section?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Ensure you’ve added all your A levels and other qualifications."
          } if data.otherQualificationsAdded != "no",
          items: [{
            value: "true",
            text: "Yes, I’ve completed this section"
          }, {
            value: "false",
            text: "No, I’ll come back to it later"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    {% endif %}
{% endblock %}
