{% extends "layouts/main.html" %}

{% set primaryNavId = "details" %}

{% set applicationPath = "/application" %}
{% set formaction = applicationPath %}
{% set international = data.otherNationality %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set canAmend = true %}
{% set otherQualifications = data.otherQualifications %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/details",
    text: "Back to your details"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

    {% if data.otherQualificationsAdded == "no" %}

      {% include "_includes/review/other-qualifications.html" %}

    {% else %}

      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">Adding A levels and other qualifications can make your application stronger.</p>
        <p class="govuk-body">Training providers may ask to see them later if you do not include them in your application.</p>
      </div>

      {% if data.otherQualifications | length == 0 %}
    {{ govukButton({text: "Add qualification", href: "/details" + "/other-qualifications/add"}) }}

      {% else %}
       {% if numberOfApplicationsLeft >= 4 %}
        {{ govukButton({text: "Add another qualification", href: "/details" + "/other-qualifications/add", classes: "govuk-button--secondary"}) }}
       {% else %}

{% endif %}
      {% endif %}

      <div class="govuk-!-width-two-thirds">
        {% include "_includes/review/other-qualifications.html" %}
      </div>

    {% endif %}


    {% if data.otherQualificationsAdded == "no"  or data.otherQualifications | length > 0 %}
{# this statement shows either radio buttons to ask if the section is completed
or shows an inset with contact details to change this section if at least 1 application is submitted #}
{% if numberOfApplicationsLeft >= 4 %}
<form action="/details" method="post">
  {{ govukRadios({
      name: "completed[" + id + "]",
      value: data.completed[id],
      fieldset: {
        classes: "govuk-!-width-two-thirds",
        legend: {
          text: "Have you completed this section?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "true",
        text: "Yes, I’ve completed this section"
      }, {
        value: "false",
        text: "No, I’ll come back to it later"
      }]
    }) }}

  {{ govukButton({
      text: "Continue"
    }) }}
</form>
{% else %}
<!-- {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  html: 'Contact <a class="govuk-link" href="becomingateacher@education.gov.uk">becomingateacher@education.gov.uk</a> if you need to update this section.'
}
      ) }} -->
{% endif %}
    {% endif %}
{% endblock %}
