{% extends "_content.njk" %}

{% set title = "Welcome to Apply for teacher training" %}

{% block primary %}
  <p>Thank you for confirming your email address.</p>
  <p>Your information will now be stored when you save and continue, so you can complete the application in your own time.</p>
  <p>We've also sent you a welcome email with a link to the service, to help you find it when you need to.</p>
  <p>For security, each time you return, you’ll be asked to sign in using your email address.</p>

  <hr class="govuk-section-break govuk-section-break--m">
  {{ govukButton({
    text: "Continue",
    href: "/application/start"
  }) }}
{% endblock %}
