{% extends "_content.njk" %}

{% set title = "Account created" %}

{% block primary %}
  <p>You have successfully created an account on GOV.UK Apply for teacher training.</p>
  <p>Your information will now be stored when you save and continue, so you can complete the application in your own time.</p>
  <p>We've also sent you a welcome email with a link to the service and contact details to get support or report a problem.</p>
  <p>For security, each time you return, you’ll be asked to sign in using your email address.</p>

  <hr class="govuk-section-break govuk-section-break--m">
  {{ govukButton({
    text: "Continue",
    href: "/application/start"
  }) }}
{% endblock %}
