{% extends "_form.njk" %}

{% set title = "Create an Apply for teacher training account" %}
{% set formaction = "/send-email/create-account" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Don’t use a work or university email address you might lose access to"
    },
    classes: "govuk-!-width-two-thirds",
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email",
    id: "account-email",
    name: "account[email]"
  }) }}

  <h2 class="govuk-heading-m">Password</h2>
  <p class="govuk-body">We won’t ask you to create a password when you use this service.</p>
  <p class="govuk-body">When you want to return to your saved application, we’ll ask for your email address and send you a link to sign back in.</p>

  <h2 class="govuk-heading-m">Terms and conditions</h2>
  <p class="govuk-body">The <a href="/terms-conditions">terms and conditions</a> have important information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>how the application process works</li>
    <li>how you can contact us</li>
    <li>how we use your data</li>
    <li>how we check you’re allowed to work with children</li>
  </ul>

  {{ govukButton({
    classes: "govuk-!-margin-top-4",
    text: "Accept terms and continue"
  }) }}
{% endblock %}
