{% extends "_form.njk" %}

{% set title = "Create an account" %}
{% set formaction = "/dashboard" %}
{% set hasSecondary = true %}
{% set isExternal = true %}

{% block primary %}
  <p class="govuk-body-l">You’ll be able to save and return to your applications as often as you need to.</p>

  {{ govukInput({
    label: {
      text: "First name(s)",
      classes: "govuk-label--s"
    },
    autocomplete: "given-name",
    id: "candidate-first-name",
    name: "candidate[first-name]"
  }) }}

  {{ govukInput({
    label: {
      text: "Last name",
      classes: "govuk-label--s"
    },
    autocomplete: "family-name",
    id: "candidate-family-name",
    name: "candidate[family-name]"
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Date of birth",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 12 11 1997"
    },
    id: "candidate-date-of-birth",
    items: [{
      label: "Day",
      name: "candidate[date-of-birth][day]",
      value: data["candidate"]["date-of-birth"]["day"],
      classes: "govuk-input--width-2",
      autocomplete: "bday-day"
    }, {
      label: "Month",
      name: "candidate[date-of-birth][month]",
      value: data["candidate"]["date-of-birth"]["month"],
      classes: "govuk-input--width-2",
      autocomplete: "bday-month"
    }, {
      label: "Year",
      name: "candidate[date-of-birth][year]",
      value: data["candidate"]["date-of-birth"]["year"],
      classes: "govuk-input--width-4",
      autocomplete: "bday-year"
    }]
  }) }}

  {{ govukInput({
    label: {
      text: "Email address
    ",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Don’t use a work or university email address you might lose access to"
    },
    classes: "govuk-!-width-two-thirds",
    autocomplete: "email",
    type: "email",
    id: "contact-details-email",
    name: "contact-details[email]"
  }) }}

  {{ govukInput({
    label: {
      text: "Password",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds",
    type: "password",
    id: "account-password",
    name: "_account[password]"
  }) }}

  {{ govukInput({
    label: {
      text: "Confirm password",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds",
    type: "password",
    id: "account-confirm-password",
    name: "_account[confirm-password]"
  }) }}

  {{ govukButton({
    text: "Create an account"
  }) }}
{% endblock %}
{% block secondary %}
  {{ appRelated ({
    title: "Forgot your passsword?",
    name: "forgot-password",
    items: [{
      href: "/account/reset-password",
      text: "Reset your password"
    }]
  }) }}
  {{ appRelated ({
    title: "Already registered?",
    name: "sign-in",
    items: [{
      href: "/account/sign-in",
      text: "Sign in"
    }]
  }) }}
{% endblock %}
