{% extends "_form.njk" %}

{% set title = "Check we’re ready for you to use this service" %}

{% set formaction = "/account/eligibility/answer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">This service is new so it’s not ready for everyone yet. You can still apply for teacher training through <a href="https://2020.teachertraining.apply.ucas.com/apply/student/login.do">UCAS</a> if you do not meet the criteria below.<p class="govuk-body govuk-!-margin-bottom-7">

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "eligibile-nationality",
    name: "eligibile-nationality",
    fieldset: {
      legend: {
        text: "Are you a citizen of the UK or the EU?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "eligibile-equivalencies",
    name: "eligibile-equivalencies",
    fieldset: {
      legend: {
        text: "Did you gain all your qualifications at institutions based in the UK?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
