{% extends "layouts/main.html" %}

{% set signedIn = false %}

{% set title = "Create an account or sign in" %}
{% set hasAccountLinks = false %}
{% set signedIn = false %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/account" method="post" novalidate="true">
        <h1 class="govuk-heading-l">Create an account or sign in</h1>
        <p><a href="/details">Skip sign in pages and go to prototype</a>.</p>

        {% set signinHtml %}
          {{ govukInput({
            label: {
              text: "Email address",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Enter the email address you used to register, and we’ll send you a link to sign in."
            },
            attributes: {
              spellcheck: "false"
            },
            autocomplete: "email",
            type: "email",
            id: "account-email",
            name: "account[email]"
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "has-account",
          name: "has-account",
          fieldset: {
            legend: {
              text: "Do you already have an account?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "yes",
            text: "Yes, sign in",
            conditional: {
              html: signinHtml
            }
          }, {
            value: "no",
            text: "No, I need to create an account"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body">You can usually start applying for teacher training in October, the year before your course starts. Courses can fill up quickly, so apply as soon as you can. <a href="/application-process">Read how the application process works</a>.</p>
      <br>
    </div>
  </div>
{% endblock %}
