{% extends "_form.njk" %}

{% set title = "Reset password" %}
{% set hasSecondary = true %}

{% block primary %}
  <p class="govuk-body-l">Enter your email address to reset your password.</p>

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    autocomplete: "email",
    classes: "govuk-!-width-two-thirds",
    id: "email",
    name: "email",
    type: "email"
  }) }}

  {{ govukButton({
    text: "Reset password"
  }) }}
{% endblock %}
