{% extends "_content.njk" %}

{% set title = "Check you can use this service" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body govuk-!-margin-bottom-6">{{ serviceName }} is a new GOV.UK service that will eventually replace UCAS, but it is not suitable for everyone yet.</p>
  <p>Check if you should use this service by answering the series of questions that follow.</p>

  {{ govukButton({
    text: "Continue",
    href: "/check-you-can-use-this-service/application-on-ucas"
  }) }}
{% endblock %}
