{% extends "_document.njk" %}

{% set title = "We’re sorry, but we’re not ready for you yet" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "/check-you-can-use-this-service"
  }) }}
{% endblock %}

{% set content %}
{{ serviceName}} is still in development, so for now, we have to limit candidate numbers.

**You can apply for all teacher training courses and providers using UCAS**.

You’ll need to register with UCAS before you can apply.

[Apply on UCAS](https://2020.teachertraining.apply.ucas.com/apply/student/login.do)
{% endset %}
