{% extends "_content.njk" %}

{% set title = "We’re not ready for you yet" %}
{% set hasAccountLinks = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    "href": "/check-you-can-use-this-service"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">{{ serviceName}} is still in development, so for now, we have to limit candidate numbers.</p>
  <p class="govuk-body govuk-!-margin-bottom-6">You can apply for all teacher training courses and providers using UCAS.</p>

  {{ govukButton({
    text: "Apply on UCAS",
    href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do"
  }) }}
{% endblock %}
