{% extends "_content.njk" %}

{% set title = "School experience and volunteering with children and young people" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your teaching potential",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Use this section to enter any school experience or volunteering roles. Include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>school experience</li>
    <li>one-off observations</li>
    <li>volunteering with children in a school setting</li>
    <li>volunteering with children outside school</li>
  </ul>

  <p class="govuk-body">Start by adding your most recent activity or role, and work backwards. If you did more than one activity in the same period, list them both, one after the other.</p>

  {{ govukDetails({
    summaryText: "I don’t have any school experience",
    html: "You can still submit an application without school experience but a few days observing in a school will help you decide if teaching is for you. <a href=\"https://getintoteaching.education.gov.uk/school-experience\">Find out more</a>."
  }) }}

  {{ govukInput({
    id: "school-experience-completed",
    name: "school-experience-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/profile/school-experience/add-role"
  }) }}
{% endblock %}
