{% extends "_form.njk" %}

{% set title = "School experience and volunteering with children and young people" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-school-experience.njk" %}

  {{ govukButton({
    html: "Add another role",
    href: "/profile/school-experience/role/add",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
