{% extends "_content-wide.njk" %}

{% set title = "School experience and volunteering with children and young people" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review-school-experience.njk" %}
  {{ govukButton({
    text: "Add another role",
    href: "/profile/school-experience/add/role",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/profile/"
  }) }}
{% endblock %}
