{% extends "_form.njk" %}

{% set title = "School experience and volunteering with children and young people" %}
{% set formAction = "/profile/" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your details",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {% set school_experience = data['school_experience'] | toArray %}
  <table class="govuk-table govuk-!-font-size-16">
    <caption class="govuk-table__caption govuk-heading-m">Your school experience and roles</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Role</th>
        <th class="govuk-table__header" scope="col">Organisation</th>
        <th class="govuk-table__header" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in school_experience %}
      {% set start_date = item.start-day + '/' + item.start-month + '/' + item.start-year %}
      {% if item.end-year != "" %}
        {% set end_date = item.end-day + '/' + item.end-month + '/' + item.end-year %}
      {% else %}
        {% set end_date = 'Present' %}
      {% endif %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ start_date }} - {{ end_date }}</td>
        <td class="govuk-table__cell">{{ item.role }}</td>
        <td class="govuk-table__cell">{{ item.org }}</td>
        <td class="govuk-table__cell"><a href="/profile/school-experience/edit-role/{{ item.id }}">Edit role</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ govukButton({
    html: "Add another role",
    href: "/profile/school-experience/add-role",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukInput({
    id: "school-experience-completed",
    name: "school-experience-completed",
    type: "hidden",
    value: true
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
