{% extends "_form.njk" %}

{% set parent = "School experience and volunteering with children and young people" %}
{% if action == "edit" %}
  {% set title = "Edit role" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add role" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Your role",
      classes: "govuk-label--s"
    },
    id: "school-experience-" + id + "-role",
    name: "school-experience[" + id + "][role]",
    value: data["school-experience"][id]["role"]
  }) }}

  {{ govukInput({
    label: {
      text: "Organisation where you gained experience or volunteered",
      classes: "govuk-label--s"
    },
    id: "school-experience-" + id + "-org",
    name: "school-experience[" + id + "][org]",
    value: data["school-experience"][id]["org"]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 01 05 2018"
    },
    id: "school-experience-" + id + "-start",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      id: "school-experience-" + id + "-start-day",
      name: "school-experience[" + id + "][start-day]",
      value: data["school-experience"][id]["start-day"]
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      id: "school-experience-" + id + "-start-month",
      name: "school-experience[" + id + "][start-month]",
      value: data["school-experience"][id]["start-month"]
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      id: "school-experience-" + id + "-start-year",
      name: "school-experience[" + id + "][start-year]",
      value: data["school-experience"][id]["start-year"]
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 01 05 2019"
    },
    id: "school-experience-" + id + "-end",
    items: [{
      classes: "govuk-input--width-2",
      label: "Day",
      id: "school-experience-" + id + "-end-day",
      name: "school-experience[" + id + "][end-day]",
      value: data["school-experience"][id]["end-day"]
    }, {
      classes: "govuk-input--width-2",
      label: "Month",
      id: "school-experience-" + id + "-end-month",
      name: "school-experience[" + id + "][end-month]",
      value: data["school-experience"][id]["end-month"]
    }, {
      classes: "govuk-input--width-4",
      label: "Year",
      id: "school-experience-" + id + "-end-year",
      name: "school-experience[" + id + "][end-year]",
      value: data["school-experience"][id]["end-year"]
    }]
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    text: "Save and add another role",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/profile/school-experience/add/role"
    }
  }) }}
{% endif %}
  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
