{% extends "_form.njk" %}

{% set parent = "School experience and volunteering with children and young people" %}
{% set formAction = "/profile/school-experience/review" %}

{% block primary %}
  {{ govukInput({
    label: {
      text: "Your role",
      classes: "govuk-label--s"
    },
    id: "school_experience["+code+"][role]",
    name: "school_experience["+code+"][role]",
    value: data["school_experience"][code].role
  }) }}

  {{ govukInput({
    label: {
      text: "Organisation where you gained experience or volunteered",
      classes: "govuk-label--s"
    },
    id: "school_experience["+code+"][org]",
    name: "school_experience["+code+"][org]",
    value: data["school_experience"][code].org
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "Start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2018"
    },
    id: "school_experience["+code+"][start]",
    items: [{
      label: "Day",
      name: "school_experience["+code+"][start_day]",
      value: data["school_experience"][code]["start_day"],
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "school_experience["+code+"][start_month]",
      value: data["school_experience"][code]["start_month"],
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "school_experience["+code+"][start_year]",
      value: data["school_experience"][code]["start_year"],
      classes: "govuk-input--width-4"
    }]
  }) }}

  {{ govukDateInput({
    fieldset: {
      legend: {
        text: "End date (leave blank if this is your current role)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 05 2019"
    },
    id: "school_experience["+code+"][end]",
    items: [{
      label: "Day",
      name: "school_experience["+code+"][end_day]",
      value: data["school_experience"][code]["end_day"],
      classes: "govuk-input--width-2"
    }, {
      label: "Month",
      name: "school_experience["+code+"][end_month]",
      value: data["school_experience"][code]["end_month"],
      classes: "govuk-input--width-2"
    }, {
      label: "Year",
      name: "school_experience["+code+"][end_year]",
      value: data["school_experience"][code]["end_year"],
      classes: "govuk-input--width-4"
    }]
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    html: "Save and add another role",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/profile/school-experience/add-role"
    }
  }) }}
{% endif %}
  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
