{% extends "_email.njk" %}

{% set title = "Thank you for submitting your teacher training application" %}
{% set from = "apply-for-teacher-training@education.gov.uk" %}
{% set to = data.candidate["email"] %}
{% set courses = applicationValue("courses") | toArray %}

{% block content %}
  <h1 class="govuk-heading-m">Thank you for completing your teacher training application</h1>

  <p class="govuk-body"><strong>Your application reference is #{{ applicationId }}.</strong></p>

  <p>You have successfully submitted an application to:</p>
  <ul class="govuk-list govuk-list--bullet">
  {% for c in courses %}
    {% set provider = providers[c.providerCode] %}
    {% set course = provider.courses[c.courseCode] %}
    <li class="govuk-body">
      <strong>{{ provider.name }}</strong><br>
      {{ course.name_and_code }}
    </li>
  {% endfor %}
  </ul>

  <p>You can track the progress of your application here:<br /><a href="/applications">https://apply-for-postgraduate-teacher-training.service.gov.uk/applications</a></p>

  <p>Your training provider will respond to your application within 40 working days via email. If they decide to progress your application, they will communicate with you directly to organise an interview date and give you all the information you need.</p>

  <p>You can apply to 3 different training providers. If you’re ready to apply to another training provider, visit the <a href="/applications">Applications</a> page to start a new application.</p>
{% endblock %}
