{% extends "_email.njk" %}

{% set title = "Thank you for submitting your teacher training application" %}
{% set from = "apply-for-teacher-training@education.gov.uk" %}
{% set to = data.account.email %}
{% set choices = applicationValue("choices") | toArray %}

{% block content %}
  <h1 class="govuk-heading-l">Thank you for completing your teacher training application</h1>

  <p class="govuk-body">You have submitted an application to:</p>
  <ul class="govuk-list govuk-list--bullet">
  {% for choice in choices %}
    {% set provider = providers[choice.providerCode] %}
    {% set course = provider.courses[choice.courseCode] %}
    <li class="govuk-body">
      <strong>{{ provider.name }}</strong><br>
      {{ course.name_and_code }}
    </li>
  {% endfor %}
  </ul>
  <p class="govuk-body">You can track the progress of your application here:<br /><a href="/applications">https://{{ serviceSlug }}.service.gov.uk/applications</a></p>
  <p class="govuk-body"><strong>Your application reference is {{ applicationId }}</strong></p>

  <h2 class="govuk-heading-m">Next steps</h2>
  <h3 class="govuk-heading-s">References</h3>
  <p class="govuk-body">The {{ serviceName}} service will now contact your referees to ask them for references.</p>
  <p class="govuk-body">Your referees will be given a short questionnaire about you and a free text box to describe you in their own words. They will not be given access to your completed application form.</p>
  <p class="govuk-body">We will send a reminder email to your referees after 5 days. If we haven’t heard back from them after 10 days, or they refuse to give a reference, we’ll get back in touch with you to ask for a replacement.</p>

  <h3 class="govuk-heading-s">Interview</h3>
  <p class="govuk-body">Most training providers don’t reach a decision about interview until they’ve seen references.</p>

  <h3 class="govuk-heading-s">Application decision</h3>
  <p class="govuk-body">Your training provider will respond to your application within 40 working days via email. If they decide to progress your application, they will communicate with you directly to organise an interview date and give you all the information you need.</p>
  <p class="govuk-body">You can apply to 3 different training providers. If you’re ready to apply to another training provider, visit the <a href="/applications">Applications</a> page to start a new application.</p>
{% endblock %}
