{% extends "_email.njk" %}

{% if action == "create-account" %}
  {% set title = "Thank you for using {{ serviceName }}" %}
{% elif action == "change-email-address" %}
  {% set title = "Thank you for using {{ serviceName }}" %}
{% else %}
  {% set title = "Sign in to " + serviceName %}
{% endif %}
{% set to = data.account.email %}

{% block content %}
  {% if action == "create-account" %}
    <h1 class="govuk-heading-m">{{ title }}</h1>
    <p>Please bookmark this link, so you can return to the service when you need to.
    <p><a href="/application/start">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
    <p>For security, you’ll be asked to sign in using your email each time you use the service.</p>

  {% elif action == "change-email-address" %}
    <h1 class="govuk-heading-m">{{ title }}</h1>
    <p>Click the link below to confirm your new email address and go back to the <b>{{ serviceName }}</b> service.</p>
    <p><a href="/applications">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
  {% else %}
    <h1 class="govuk-heading-m">{{ title }}</h1>
    <p>Click the link below to sign in to the <b>{{ serviceName }}</b> service.</p>
    <p><a href="/applications">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
  {% endif %}
{% endblock %}
