{% extends "_email.njk" %}

{% set title = "Please confirm your email address" %}
{% set to = data.account.email %}

{% block content %}
  <h1 class="govuk-heading-m">Please confirm your email address</h1>
  {% if action == "create-account" %}
    <p>Click the link below to confirm your email address and go back to the <b>Apply for teacher training</b> service.</p>
    <p><a href="/application/start">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
    <p>You will then be able to save and return to your application.</p>
    <p>By signing in, you also agree to the <a href="#">terms and conditions</a> of the ‘{{ serviceName }}’ service.
  {% elif action == "change-email-address" %}
    <p>You have successfully changed the email address you use to sign in to the <b>{{ serviceName }}</b> service.</p>
    <p>Click on the link below to return to the service.</p>
    <p><a href="/applications">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
  {% else %}
    <p>Click the link below to sign in to the <b>Apply for postgraduate teacher training</b> service.</p>
    <p><a href="/applications">https://{{ serviceSlug }}.service.gov.uk/verify?token=wCsix7SbCR9e9Pv2SQ3Q</a></p>
  {% endif %}
{% endblock %}
