{% extends "_email.njk" %}

{% set title = "There are no more places for Primary (2XT2) at Gorse SCITT: update your course choice now" %}
{% set to = "email@example.com" %}

{% block content %}
  <p class="govuk-body">Dear Janina,</p>
  <h2 class="govuk-heading-m">Your course is now full</h2>
  <p class="govuk-body">There are no more places for Primary (2XT2) at Gorse SCITT.</p>
  <p class="govuk-body">The places filled up while we were waiting for your references, so the provider has not got your application.</p>
  <h2 class="govuk-heading-m">Update course choice now</h2>
  <p class="govuk-body">Update your course choice:</p>
  <p class="govuk-body"><a href="/application/VWXYZ/ABCDE/update">https://www.apply-for-teacher-training.service.gov.uk/candidate/authenticate?token=J-eszzKJ-_rs-39ehJ9P&u=sWzbIUx2--cGaEAaI3n%2Fjc5Lmb--B9wLV5RKnbS40wqLLpYb8A%3D%3D</a></p>
  <p class="govuk-body">If you do nothing, we’ll send your application to the provider when your references come in. There’s no guarantee they’ll consider it.</p>
{% endblock %}










