{% extends "_email.njk" %}

{% set title = "Thank you for using " + serviceName %}
{% set to = data.account.email %}

{% block content %}
  <h1 class="govuk-heading-m">{{ title }}</h1>
  <p class="govuk-body">Please bookmark this link, so you can return to the service when you need to:
  <p class="govuk-body"><a href="/account/sign-in">https://{{ serviceSlug }}.service.gov.uk</a></p>
  <p class="govuk-body">For security, you’ll be asked to sign in using your email each time you use the service.</p>
  <h2 class="govuk-heading-m">Need help with your teacher training application?</h2>
  <p class="govuk-body">Call <a href="https://getintoteaching.education.gov.uk/">Get into Teaching</a> on Freephone 0800 389 2500 or chat to an adviser using their <a href="https://getintoteaching.education.gov.uk/lp/live-chat">online chat service</a> between 8am and 8pm, Monday to Friday.</p>
  <h2 class="govuk-heading-m">Give feedback or report a problem</h2>
  <p class="govuk-body">Please contact the team on <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>

{% endblock %}
