{% from "govuk/components/inset-text/njk.html" import govukInsetText %}

{%- macro _actionLink(action) %}
  <a class="govuk-link {%- if action.classes %} {{ action.classes }}{% endif %}" href="{{ action.href }}" {%- for attribute, value in action.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    {{ action.html | safe if action.html else action.text }}
    {%- if action.visuallyHiddenText -%}
      <span class="govuk-visually-hidden"> {{ action.visuallyHiddenText }}</span>
    {% endif -%}
  </a>
{% endmacro -%}

{% set insetTextHtml %}
  {% if params.title %}
    <h4 class="govuk-heading-s">{{ params.title }}</h4>
  {% endif %}
  {% if params.content %}
    {{ params.content.html | safe if params.content.html else params.content.text }}
  {% endif %}
  {% if params.actions.items.length %}
    {% if params.actions.items.length == 1 %}
      <p class="govuk-body">{{ _actionLink(params.actions.items[0]) | indent(6) | trim }}</p>
    {% else %}
      <ul class="govuk-list govuk-list--bullet">
      {% for action in params.actions.items %}
        {% if action %}
          <li class="app-summary-card__actions-list-item">
            {{ _actionLink(action) | indent(12) | trim }}
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endset %}

{{ govukInsetText({
  id: params.id if params.id,
  classes: ("app-inset-text--error" if params.warning else "app-inset-text--important") + " app-inset-text--narrow-border " + params.classes,
  html: insetTextHtml
}) }}
