{% extends "_email.njk" %}
{% set choices = applicationValue(["choices"]) | toArray %}
{% set choice = choices[0] %}
{% set provider = providers[choice.providerCode] %}
{% set course = provider.courses[choice.courseCode] %}
{% set name = applicationValue(["candidate", "given-name"]) + " " + applicationValue(["candidate", "family-name"]) %}

{% set title = "Interview arranged - " + provider.name %}

{% block content %}
  <p class="govuk-body">Dear {{ name }}</p>

  <h2 class="govuk-heading-m">Interview arranged</h2>
  <p class="govuk-body">You have an interview with {{ provider.name }} about your application to study {{ course.name_and_code }}.</p>
  <p class="govuk-body">The details are as follows:</p>
  <div class="govuk-inset-text">
    <p class="govuk-body">4 January 2021 at 11am</p>
    <p class="govuk-body">{{ choice.locationName }}<br>{{ choice.locationAddress }}</p>
    <p class="govuk-body">Give your name at reception when you arrive and someone will collect you.</p>
    <p class="govuk-body">There will be a panel interview in the morning, which should take around an hour. We’ll take a break for lunch then there will be a two-hour exercise to complete in the afternoon.</p>
  </div>
  <p class="govuk-body">Contact {{ provider.name }} if you have any questions or you will not be able to attend the interview.</p>

  <h2 class="govuk-heading-m">Get support</h2>
  <p class="govuk-body">Contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a> if you have problems applying online or want to give feedback.</p>
{% endblock %}
