{% extends "_email.html" %}
{% set references = applicationValue(["references"]) | toArray %}
{% set referee = references[0] %}

{% set title = "Referee request did not reach " + referee.name %}

{% block content %}
  <h1 class="govuk-heading-m">{{ title }}</h1>
  <p class="govuk-body">Check you gave the correct email address and request the reference again.</p>
  <p class="govuk-body">You can add as many referees as you like to increase the chances of getting 2 references quickly.</p>
  <p class="govuk-body">You can also send one reminder to each referee from your account.</p>
  <p class="govuk-body">Manage your references:</p>
  <p class="govuk-body"><a href="/application/{{ applicationId }}/references/mock/bounced">https://{{ serviceSlug }}.service.gov.uk/<wbr>candidate/<wbr>confirm_authentication?token=FPoZNtUaGsqPevCd5GV&amp;<wbr>u=elM2TVdzZnBzRUJ1LzdSMmlOYW10QT09LS1MLy8xcVdSUmlpVVNkdzNiTG11bTdRPT0%3D</a></p>
  <p class="govuk-body">You cannot submit your application without 2 references. Courses can become full anytime - get your references as soon as possible.</p>
{% endblock %}
