{% extends "_email.html" %}
{% set choices = applicationValue(["choices"]) | toArray %}

{% set provider = providers[choices[0].providerCode] %}
{% set course = provider.courses[choices[0].courseCode] %}

{% set name = applicationValue(["candidate", "givenName"]) + " " + applicationValue(["candidate", "familyName"]) %}

{% set title = "Update on your application - all decisions now made"%}

{% block content %}
  <p class="govuk-body">Dear {{ name }}</p>

  <h2 class="govuk-heading-m">Update on your application</h2>
  <p class="govuk-body">{{ provider.name }} has decided not to make you an offer to study {{ course.name_and_code }}.</p>
  <p class="govuk-body">They’ve given feedback to explain this decision:</p>
  <div class="govuk-inset-text">
    <h2 class="govuk-heading-m">Quality of application</h2>
    <p class="govuk-body">Your subject knowledge could be improved.</p>
    <p class="govuk-body">Understand the purpose of primary education and then learn more about the procedures related to safeguarding.</p>
    <h2 class="govuk-heading-m">Qualifications</h2>
    <p class="govuk-body">Your degree does not meet the course requirements.</p>
    <h2 class="govuk-heading-m">Future applications</h2>
    <p class="govuk-body">The provider would not be interested in future applications from you.</p>
  </div>
  <p class="govuk-body">Contact {{ provider.name }} directly if you have any questions about their feedback.</p>

  <h2 class="govuk-heading-m">You can apply again</h2>
  <p class="govuk-body">You’ve now had decisions about all the courses you applied for. You did not get any offers, so you can apply again.</p>
  <p class="govuk-body">Your last application has been saved. You can make changes before you submit your new application.</p>
  <p class="govuk-body"><a href="/dashboard/{{ applicationId }}/ended-without-success">https://{{ serviceSlug }}.service.gov.uk/<wbr>candidate/<wbr>confirm_authentication?token=FPoZNtUaGsqPevCd5GV&amp;<wbr>u=elM2TVdzZnBzRUJ1LzdSMmlOYW10QT09LS1MLy8xcVdSUmlpVVNkdzNiTG11bTdRPT0%3D</a></p>

  <h2 class="govuk-heading-m">Get support</h2>
  <p class="govuk-body">If you need help getting a place on a course, contact Get Into Teaching (8:30am to 5pm Monday to Friday). Call for free on 0800 389 2500 or chat to an adviser online:</p>
  <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/lp/live-chat">https://getintoteaching.education.gov.uk/lp/live-chat</a></p>
  <p class="govuk-body">Contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a> if you have problems applying online or want to give feedback.</p>
{% endblock %}
