{% extends "_content.njk" %}

{% set title = "References" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: profileBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Good references are advocates for your:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>teaching vocation and potential</li>
    <li>fitness to work with children</li>
    <li>academic abilities</li>
    <li>reliability and professionalism</li>
  </ul>

  <p class="govuk-body">You should aim to give contact details for 2 references. Training providers look for a combination of academic (from university) and professional (from work) referees.</p>
  <p class="govuk-body">If you graduated less than five years ago, it will strengthen your application if one of your referees comes from university. If you are not a recent graduate, both your referees can come from work.</p>
  <p class="govuk-body">Suitable referees include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your university tutor or supervisor (especially if you have given a predicted grade for your degree)</li>
    <li>your current line manager at work</li>
    <li>previous employers</li>
    <li>if you work, volunteer or have gained experience in a school, a teacher at that school</li>
  </ul>
  <p class="govuk-body">Referees should not be family members, partners or friends.</p>

{% set characterReference %}
  <p class="govuk-body">If you are finding it very difficult to supply appropriate professional or academic references, you can give a character reference.</p>
  <p class="govuk-body">Suitable character referees include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your local doctor</li>
    <li>your local priest, or other faith leader</li>
    <li>your family solicitor</li>
    <li>your former headteacher</li>
    <li>a former mentor or probation officer</li>
    <li>a responsible member of your community who knows you well</li>
  </ul>
{% endset %}

  {{ govukDetails({
    summaryText: "I haven’t got a professional or academic reference",
    html: characterReference
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "/profile/references/add/referee/principle"
  }) }}
{% endblock %}
