{% extends "_form.njk" %}

{% set parent = "References" %}
{% if action == "edit" %}
  {% set formAction = "/profile/references/review" %}
  {% set title = "Edit " + id + " referee" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set formAction = "/profile/references/referee/add/secondary" if (id === "principle") else "/profile/references/review" %}
  {% set title = "Add " + id + " referee" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% set insetHtml %}
  <p class="govuk-body">Contact your referee in advance to check they are:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>happy to give you a reference</li>
    <li>available to do so within a reasonable timeframe</li>
    <li>comfortable submitting a reference online</li>
  </ul>
  <p class="govuk-body">Your referee will be given a short questionnaire about you and a free text box to describe you in their own words. They will not be given access to your completed application form.</p>
{% endset %}

{% block primary %}
  {{ govukInsetText({
    html: insetHtml
  }) }}

  {{ govukInput({
    label: {
      text: "Full name of referee",
      classes: "govuk-label--s"
    },
    id: "referees-" + id + "-name",
    name: "referees[" + id + "][name]",
    value: data["referees"][id].name
  }) }}

  {{ govukInput({
    label: {
      text: "Referee’s relationship to you",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, academic tutor, manager, other (please specify)."
    },
    id: "referees-" + id + "-relationship",
    name: "referees[" + id + "][relationship]",
    value: data["referees"][id].relationship
  }) }}

  {{ govukInput({
    label: {
      text: "Over what time period has this person known you?",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, ‘They were my tutor at university from 2000 to 2003’, ‘I have been employed by them since January 2018’, ‘I spent 2 weeks volunteering at their school in May 2019’"
    },
    id: "referees-" + id + "-relationship",
    name: "referees[" + id + "][relationship]",
    value: data["referees"][id].relationship
  }) }}

  {{ govukInput({
    label: {
      text: "Email address of referee",
      classes: "govuk-label--s"
    },
    id: "referees-" + id + "-email",
    name: "referees[" + id + "][email]",
    value: data["referees"][id].email
  }) }}

{% set explainCharacter %}
  {{ govukTextarea({
    label: {
      text: "If you are unable to provide an academic, professional or school senior leadership referee and are therefore requesting a character reference, you can explain why here (optional)."
    },
    id: "referees-" + id + "-character_explaination",
    name: "referees[" + id + "][character_explaination]",
    value: data["referees"][id].character_explaination
  }) }}
{% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of referee",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "referees-" + id + "-type",
    name: "referees[" + id + "][type]",
    items: [{
      value: "academic",
      text: "Academic",
      checked: checked("['referees']['" + id + "']['type']", "academic")
    }, {
      value: "professional",
      text: "Professional",
      checked: checked("['referees']['" + id + "']['type']", "professional")
    }, {
      value: "school-based",
      text: "School senior leadership",
      checked: checked("['referees']['" + id + "']['type']", "school-based")
    }, {
      value: "character",
      text: "Character",
      checked: checked("['referees']['" + id + "']['type']", "character"),
      conditional: {
        html: explainCharacter
      }
    }]
  }) }}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
