{% extends "_form.njk" %}

{% set formAction = "/profile/" %}
{% set parent = "References" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Your teaching potential",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ govukTable({
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: true,
    head: [{
      text: "Name"
    }, {
      text: "Email"
    }, {
      text: "Actions"
    }],
    rows: [
      [{
        text: data["referee-principle-name"]
      }, {
        text: data["referee-principle-email"]
      }, {
        html: "<a href=\"/profile/references/edit-principle-referee\">Edit principle referee</a>"
      }], [{
        text: data["referee-secondary-name"]
      }, {
        text: data["referee-secondary-email"]
      }, {
        html: "<a href=\"/profile/references/edit-secondary-referee\">Edit secondary referee</a>"
      }]
    ]
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">Once DfE has submitted your completed application form to your training provider, we’ll contact your referees to ask for their references.</p>
  <p class="govuk-body">We’ll let you know if they can’t or won’t supply a reference, so you have the opportunity to choose a new referee.</p>
{% endblock %}
