{% extends "_content.njk" %}

{% set title = "Before you start" %}

{% block message %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
      Your Apply for teacher training account has been created
    </h3>
  </div>
{% endblock %}

{% block primary %}
  <p>Apply for teacher training is a new GOV.UK service still in development.</p>
  <p>The service will eventually replace UCAS as the way candidates apply for teacher training. However, for now, the service is limited to just a few courses.</p>
  <p>For this reason, we suggest you choose a course first. That way, you can make sure your training provider is available on the service before you fill out the application form.</p>
  <p>If you choose a course which isn’t yet available on Apply for teacher training, you’ll be guided back to UCAS so you can apply to it using their service.</p>
  <p class="govuk-body">View <a href="/apply/providers">courses currently available</a> on Apply for teacher training.</p>
  <hr class="govuk-section-break govuk-section-break--m">
  {{ govukButton({
    text: "Choose a course",
    href: "/application/" + applicationId + "/choices/add"
  }) }}
 <h3 class="govuk-heading-m">Preview the application</h3>
  <p class="govuk-body"><a href="/application/{{ applicationId }}">View the application form</a> to see what you'll need to do to complete it.</p>
{% endblock %}
