{% extends "_content.njk" %}

{% set status = applicationValue(["status"]) %}
{% if status == "amended" %}
  {% set title = "Application successfully resubmitted" %}
{% else %}
  {% set title = "Application successfully submitted" %}
{% endif %}

{% block content %}
  {{ govukPanel({
    classes: "govuk-!-margin-bottom-8",
    titleText: title,
    text: "Your application number is " + applicationId
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">You’ll get an email to confirm that your application has been submitted.</p>
      <h2 class="govuk-heading-m">References</h2>
      <p class="govuk-body">We’ll contact your referees to ask for your references. When we receive them, we’ll add them to your application and send it to your training provider(s).</p>
      <p class="govuk-body">We can’t send your application to your training provider(s) without your references.</p>
      <h2 class="govuk-heading-m">Interview</h2>
      <p class="govuk-body">Your training provider will be in touch with you if they want to arrange an interview.</p>
{% if status == "amended" %}
      <h2 class="govuk-heading-m">Track or withdraw</h2>
      <p class="govuk-body">Visit your <a href="/applications">Application dashboard</a> to check the status of an application, or withdraw a course choice. You can update your contact details, but you won’t be able to edit other sections.</p>
{% else %}
      <h2 class="govuk-heading-m">Track, edit or withdraw</h2>
      <p class="govuk-body">You have 7 days to make changes to a submitted application. We won’t send your application to your training provider(s) until the 5 working days are up.</p>
      <p class="govuk-body"><a href="/applications">To edit your application, return to your Application dashboard</a>.</p>
{% endif %}
      <h2 class="govuk-heading-m">Tell us what you think of this service</h2>
      <p class="govuk-body">Your feedback will help us improve.</p>
      {{ govukButton({
        text: "Give feedback",
        href: "/survey"
      }) }}
    </div>
  </div>
{% endblock %}
