{% extends "_content.njk" %}

{% set status = applicationValue(["status"]) %}
{% set choices = applicationValue(["choices"]) | length %}
{% set providerPlural = "providers" if choices > 1 else "provider" %}
{% set title = "Application successfully submitted" %}

{% block content %}
  {{ govukPanel({
    classes: "govuk-!-margin-bottom-8",
    titleText: title,
    text: "Your application number is " + applicationId
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">You’ll get an email to confirm that your application has been submitted.</p>

      <h2 class="govuk-heading-m">Interview</h2>
      <p class="govuk-body">Your training provider will be in touch with you if they want to arrange an interview.</p>

      <h2 class="govuk-heading-m">Track or withdraw</h2>
      <p class="govuk-body">You can track or withdraw your application from your application dashboard.</p>
      <p class="govuk-body"><a href="/applications">To view your application, return to your application dashboard</a>.</p>

      <h2 class="govuk-heading-m">Tell us what you think of this service</h2>
      <p class="govuk-body">Your feedback will help us improve.</p>
      {{ govukButton({
        text: "Give feedback",
        href: "/survey"
      }) }}
    </div>
  </div>
{% endblock %}
