{% extends "_form.njk" %}

{% set title = "Are you sure you want to delete this " + type + "?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer
  }) }}
{% endblock %}

{% block primary %}
  {{ govukButton({
    text: "Yes I’m sure - delete this " + type,
    classes: "govuk-button--warning"
  }) }}
  <p class="govuk-body"><a href="{{ referrer }}">Cancel</a></p>
{% endblock %}
