{% extends "_form.njk" %}

{% set title = "Editing your application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications?state=isWithinAmendPeriod"
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">You have 5 days after submission to edit most sections of your application and change your choice of training provider, course or training location.</p>
  <p class="govuk-body">During this period, your application can only be edited and resubmitted once. If you have applied to more than one provider, you will be able to edit and resubmit each application separately.</p>
  <h2 class="govuk-heading-m">References</h2>
  <p class="govuk-body">You can’t edit your choice of referees unless they refuse to give a reference. We’ll email you if this happens, so you can put forward a replacement referee.</p>
  <h2 class="govuk-heading-m">Course choices</h2>
  <p class="govuk-body"><mark>[Content about being able to change and remove course choices within the 5-day period. After that you can withdraw.]</mark></p>
  <h2 class="govuk-heading-m">Contact details</h2>
  <p class="govuk-body">You can edit your contact details throughout the application process. Sign into your account and visit <a href="/applications">Application dashboard.</a></p>
  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
