{% extends "_form.njk" %}

{% set title = "Edit your application" %}

{% block primary %}
  <p class="govuk-body">You have 5 working days after submission to edit sections within your application, or change your choice of provider, course or training location.</p>
  <p class="govuk-body">You won't be able to change your choice of referees.</p>
  <p class="govuk-body">During this period, your application can only be edited once. If you have applied to more than one provider, you will be able to edit each application separately.</p>
  <p class="govuk-body">Once the 5 days are up, you'll still be able to sign into your account if you need to update your contact details.</p>
  <p class="govuk-body">You can also withdraw your application at any stage.</p>
  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
