{% extends "layouts/main.html" %}

{% set primaryNavId = "application" %}

{% macro tagClassesForSection(completed=false, apply2=false) %}
  {% if completed %}
    govuk-task-list__status--black
  {% else %}
    govuk-task-list__status--blue
  {% endif %}
{% endmacro %}

{% macro tagTextForSection(completed=false) %}
  {% if completed %}
    Completed
  {% else %}
    Incomplete
  {% endif %}
{% endmacro %}

{% set title = "Your application" %}
{% set reviewText = "Check your answers before submitting" %}
{% set hasSecondary = true %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: "We’ve copied your application. Please review all sections.",
    type: "success"
  }) if showCopiedBanner }}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-notification-banner__heading\">Applications for courses starting this year have now closed</h2><p class=\"govuk-body\">Submit your application from 13 October for courses starting in 2022.</p>"
  }) if closed }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

    {% if apply2 %}
      {{ govukDetails({
        summaryText: "See feedback from your previous application",
        html: previousApplicationSummaryHtml
      }) }}
    {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <p class="govuk-body">Courses can fill up quickly, so you should apply as soon as you can. <a href="/application-process">Read how the application process works</a>.</p>
      <br>
      <section class="app-section">

        <h2 class="govuk-heading-m">Personal details</h2>
        {{ govukTaskList({
          items: [{
            title: {
              text: "Personal information"
            },
            href: "/application/personal-information",
            id: "personal-information",
            status: {
              classes: tagClassesForSection(completed=data.completed.personalInformation == 'true'),
              text: tagTextForSection(completed=data.completed.personalInformation == 'true')
            }
          }, {
            title: {text: "Contact information"},
            href: "/application/contact-information",
            id: "contact-information",
            status: {
              classes: tagClassesForSection(completed=data.completed.contactInformation == 'true'),
              text: tagTextForSection(completed=data.completed.contactInformation == 'true')
            }
          }]
        }) }}
      </section>


      <section class="app-section">
        <h2 class="govuk-heading-m">Courses</h2>
        {% if findNotOpen == "true" %}
          <p class="govuk-body">You can apply for courses from 13 October.</p>
        {% else %}
          <p class="govuk-body">You can apply for up to 4 courses.</p>
        {% endif %}

        {% if data.choices | length == 0 %}
          {% set choicesHref = "/application/choices" %}
        {% else %}
          {% set choicesHref = "/application/choices/review" %}
        {% endif %}

        {{ govukTaskList({
          items: [{
            title: { text: "Choose your courses" },
            href: choicesHref,
            id: "personal-information",
            status: {
              classes: tagClassesForSection(completed=data.completed.choices == 'true'),
              text: tagTextForSection(completed=data.completed.choices == 'true')
            }
          }]
        }) if not findNotOpen }}
      </section>

        <section class="app-section">
        <h2 class="govuk-heading-m">Qualifications</h2>

        {{ govukTaskList({
          items: [{
            title: {text: "English GCSE or equivalent"},
            href: "/application/gcse/english",
            id: "english-gcse",
            status: {
              classes: tagClassesForSection(completed=data.completed.english, apply2=apply2),
              text: tagTextForSection(completed=data.completed.english, apply2=apply2)
            }
          }, {
            title: { text: "Maths GCSE or equivalent" },
            href: "/application/gcse/maths",
            id: "maths-gcse",
            status: {
              classes: tagClassesForSection(completed=data.completed.maths == 'true'),
              text: tagTextForSection(completed=data.completed.maths == 'true')
            }
          }, {
            title: { text: "Science GCSE or equivalent" },
            href: "/application/gcse/science",
            status: {
              classes: tagClassesForSection(completed=data.completed.science == 'true'),
              text: tagTextForSection(completed=data.completed.science == 'true')
            }
          }, {
            title: { text: "Other qualifications" if international else "A levels and other qualifications" },
            href: "/application/other-qualifications",
            status: {
              classes: tagClassesForSection(completed=data.completed.otherQualifications == 'true'),
              text: tagTextForSection(completed=data.completed.otherQualifications == 'true')
            }
          }, {
            title: { text: "Degree" },
            href: "/application/degree/review",
            id: "degree",
            status: {
              classes: tagClassesForSection(completed=data.completed.degree == 'true'),
              text: tagTextForSection(completed=data.completed.degree == 'true')
            }
          }]
        }) }}
      </section>

      <section class="app-section">
        <h2 class="govuk-heading-m">Work experience</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Work history" },
            href: "/application/work-history",
            status: {
              classes: tagClassesForSection(completed=data.completed.workHistory == 'true'),
              text: tagTextForSection(completed=data.completed.workHistory == 'true')
            }
          }, {
            title: { text: "Unpaid experience" },
            href: "/application/unpaid-experience",
            status: {
              classes: tagClassesForSection(completed=data.completed.unpaidExperience == 'true'),
              text: tagTextForSection(completed=data.completed.unpaidExperience == 'true')
            }
          }]
        }) }}
      </section>

      <section class="app-section">
        <h2 class="govuk-heading-m">Personal statement</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Your personal statement" },
            href: "/application/personal-statement",
            status: {
              classes: tagClassesForSection(completed=data.completed.personalStatement == 'true'),
              text: tagTextForSection(completed=data.completed.personalStatement == 'true')
            }
          }]
        }) }}
      </section>

      <section class="app-section">
        <h2 class="govuk-heading-m">Adjustments</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Ask for support if you’re disabled" },
            href: "/application/additional-support",
            status: {
              classes: tagClassesForSection(completed=data.completed.additionalSupport == 'true'),
              text: tagTextForSection(completed=data.completed.additionalSupport == 'true')
            }
          }, {
            title: { text: "Interview needs" },
            href: "/application/interview-needs",
            status: {
              classes: tagClassesForSection(completed=data.completed.interviewNeeds == 'true'),
              text: tagTextForSection(completed=data.completed.interviewNeeds == 'true')
            }
          }]
        }) }}
      </section>

      <section class="app-section">
        <h2 class="govuk-heading-m">Safeguarding</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "References to be requested if you accept an offer" },
            href: "/application/references",
            id: "references",
            status: {
              classes: tagClassesForSection(completed=data.completed.references == 'true'),
              text: tagTextForSection(completed=data.completed.references == 'true')
            }
          },
          {
            title: { text: "Declare any safeguarding issues" },
            href: "/application/safeguarding",
            status: {
              classes: tagClassesForSection(completed=data.completed.safeguarding == 'true'),
              text: tagTextForSection(completed=data.completed.safeguarding == 'true')
            }
          }]
        }) }}
      </section>

      <section class="app-section">
        <h2 class="govuk-heading-m">Equality and diversity</h2>
        <p class="govuk-body">Training providers will only see your answers to this section if you accept an offer from them.</p>
        {{ govukTaskList({
          items: [{
            title: { text: "Equality and diversity questions" },
            href: "/application/equality-diversity" + ("/sex" if not data.equalityMonitoring.sex),
            id: "references",
            status: {
              classes: tagClassesForSection(completed=data.completed.equalityAndDiversity == 'true'),
              text: tagTextForSection(completed=data.completed.equalityAndDiversity == 'true')
            }
          }]
        }) }}
      </section>
      <section>
          <h2 class="govuk-heading-m">Review and send</h2>
          <p class="govuk-body">Review and send your application to your training providers.</p>

        {{ govukButton({
          text: "Review your application",
          href: "/application/review"
        }) }}

      </section>
   </div>

    <div class="govuk-grid-column-one-third">
      <hr>
      <aside>
<!--
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">The application process</h2>

          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="/application-process">Read how the application process works</a>.
           </ul>
-->
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Get help</h2>

          <ul class="govuk-list govuk-!-font-size-16">
            <li>Call 0800 389 2500 or chat online</li>
            <li>Monday to Friday, 8:30am to 5:30pm (except public holidays)</li>
            <li>Free of charge</li>
           </ul>
      </aside>
    </div>
  </div>
{% endblock %}

{% block secondary %}
  {% include "_includes/get-support.html" %}
{% endblock %}
