{% extends "_content.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "Your application" %}

{% block pageNavigation %}
  {% if hasSubmittedApplications() %}
    {{ govukBreadcrumbs({
      items: [{
        text: "Applications",
        href: "/applications"
      }, {
        text: title | safe
      }]
    }) }}
  {% endif %}
{% endblock %}
{% block primary %}
  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Courses</h2>
  <p class="govuk-body govuk-!-margin-bottom-0">You can apply for up to 3 courses at a time.</p>

  {% if applicationValue("courses") %}
    {% include "_includes/application-courses.njk" %}
    {% if applicationValue("courses") | length <= 3 %}
      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Add another course",
        href: applicationPath + "/course/add"
      }) }}
    {% endif %}
  {% else %}
    {{ govukButton({
      text: "Add course",
      href: applicationPath + "/course/add"
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-4">About you</h2>
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-8",
    items: [{
      text: "Personal details",
      href: applicationPath + "/personal-details/" + ("review" if applicationValue(["candidate"])),
      id: "personal-details",
      completed: applicationValue("candidate")
    }, {
      text: "Contact details",
      href: applicationPath + "/contact-details/" + ("review" if applicationValue(["contact-details", "address"])),
      id: "contact-details",
      completed: applicationValue(["contact-details", "address"])
    }, {
      text: "Work history",
      href: applicationPath + "/work-history/" + ("review" if applicationValue("work-history")),
      id: "work-history",
      completed: applicationValue("work-history")
    }, {
      text: "School experience and volunteering with young people",
      href: applicationPath + "/school-experience/" + ("review" if applicationValue("school-experience") and hasSchoolExperience),
      id: "school-experience",
      completed: applicationValue("school-experience")
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Qualifications</h2>
  <p class="govuk-body">Enter your qualifications as completely as you can, including your GCSEs, A levels, and undergraduate and postgraduate degrees.</p>
  {% set degree = {
    text: "Degree",
    href: applicationPath + "/degree/" + ("review" if applicationValue(["degree"]) else "add"),
    id: "degree",
    completed: applicationValue(["degree"])
  } %}
  {% set mathsGcse = {
    text: "Maths GCSE or equivalent",
    href: applicationPath + "/gcse/maths/" + ("review" if applicationValue(["gcse", "maths"])),
    id: "maths-gcse",
    completed: applicationValue(["gcse", "maths"])
  } %}
  {% set englishGcse = {
    text: "English GCSE or equivalent",
    href: applicationPath + "/gcse/english/" + ("review" if applicationValue(["gcse", "english"])),
    id: "english-gcse",
    completed: applicationValue(["gcse", "english"])
  } %}
  {% set scienceGcse = {
    text: "Science GCSE or equivalent",
    href: applicationPath + "/gcse/science/" + ("review" if applicationValue(["gcse", "science"])),
    id: "science-gcse",
    completed: applicationValue(["gcse", "science"])
  } %}
  {% set otherQualifications = {
    text: "Other relevant qualifications",
    href: applicationPath + "/other-qualifications/" + ("review" if applicationValue(["other-qualifications"]) else "add"),
    id: "other-qualifications",
    completed: applicationValue(["other-qualifications"])
  } %}
  {% if hasPrimaryCourses() or applicationValue(["gcse", "science"]) %}
    {{ appTaskList({
      classes: "govuk-!-margin-bottom-8",
      items: [degree, mathsGcse, englishGcse, scienceGcse, otherQualifications]
    }) }}
  {% else %}
    {{ appTaskList({
      classes: "govuk-!-margin-bottom-8",
      items: [degree, mathsGcse, englishGcse, otherQualifications]
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-4">Personal statement</h2>
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-8",
    items: [{
      text: "Your choice of teaching subject",
      href: applicationPath + "/subject-knowledge/" + ("review" if applicationValue("subject-knowledge")),
      id: "subject-knowledge",
      completed: applicationValue("subject-knowledge")
    }, {
      text: "Why do you want to be a teacher?",
      href: applicationPath + "/vocation/" + ("review" if applicationValue("vocation")),
      id: "vocation",
      completed: applicationValue("vocation")
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-8",
    items: [{
      text: "Referees",
      href: applicationPath + "/references/" + ("review" if applicationValue(["referees"])),
      id: "references",
      completed: applicationValue(["referees"])
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Interview</h2>
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-8",
    items: [{
      text: "Interview preferences",
      href: applicationPath + "/interview/" + ("review" if applicationValue("interview")),
      id: "interview",
      completed: applicationValue("interview")
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Review and submit</h2>
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-8",
    items: [{
      text: "Check your answers before submitting",
      href: applicationPath + "/review",
      id: "review",
      completed: applicationValue("review")
    }]
  }) }}
{% endblock %}
