{% extends "layouts/main.html" %}
{% set applicationPath = "/application" %}
{% set status = "todo" %}
{% set completedTagText = "Completed" %}
{% set incompleteTagClass = "govuk-tag--grey" %}
{% set incompleteTagText = "Incomplete" %}
{% set inprogressTagClass = "govuk-tag--purple" %}
{% set inprogressTagText = "In progress" %}
{% set referrer = applicationPath %}
{% set international = false %}

{% set apply2 = false %}

{% macro tagClassesForSection(completed=false, apply2=false) %}
  {% if completed %}
    govuk-task-list__status--black
  {% else %}
    govuk-task-list__status--blue
  {% endif %}
{% endmacro %}

{% macro tagTextForSection(completed=false) %}
  {% if completed %}
    {{ completedTagText }}
  {% elif apply2 %}
    Review
  {% else %}
    {{ incompleteTagText }}
  {% endif %}
{% endmacro %}

{% if apply2 %}
  {% set title = "Your new application" %}
{% else %}
  {% set title = "Your application" %}
{% endif %}
{% set reviewText = "Check your answers before submitting" %}
{% set hasSecondary = true %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: "We’ve copied your application. Please review all sections.",
    type: "success"
  }) if showCopiedBanner }}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-notification-banner__heading\">Applications for courses starting this year have now closed</h2><p class=\"govuk-body\">Submit your application from 13 October for courses starting in 2022.</p>"
  }) if closed }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{{ data | dump }}

      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {% if apply2 %}
        {{ govukDetails({
          summaryText: "See feedback from your previous application",
          html: previousApplicationSummaryHtml
        }) }}
      {% endif %}

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
        {{ govukTaskList({
          items: [{
            title: {
              text: "Personal information"
            },
            href: applicationPath + "/personal-information",
            id: "personal-information",
            status: {
              classes: tagClassesForSection(completed=data.completed.personalInformation == 'true'),
              text: tagTextForSection(completed=data.completed.personalInformation == 'true')
            }
          }, {
            title: {text: "Contact information"},
            href: applicationPath + "/contact-information",
            id: "contact-information",
            status: {
              classes: tagClassesForSection(completed=data.completed.contactInformation == 'true'),
              text: tagTextForSection(completed=data.completed.contactInformation == 'true')
            }
          }]
        }) }}
      </section>


      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>
        {% if findNotOpen == "true" %}
          <p class="govuk-body">You can apply for courses from 13 October.</p>
        {% else %}
          <p class="govuk-body">You can apply for up to 3 courses.</p>
        {% endif %}

        {% if choices | length == 0 %}
          {% set choicesHref = applicationPath + "/choices/add?from=application" %}
        {% else %}
          {% set choicesHref = applicationPath + "/choices" %}
        {% endif %}

        {{ govukTaskList({
          items: [{
            title: { text: "Choose your courses" },
            href: choicesHref,
            id: "personal-information",
            status: {
              classes: tagClassesForSection(completed=false),
              text: tagTextForSection(completed=false)
            }
          }]
        }) if not findNotOpen }}
      </section>

        <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>

        {{ govukTaskList({
          items: [{
            title: {text: "English GCSE or equivalent"},
            href: applicationPath + "/gcse/english",
            id: "english-gcse",
            status: {
              classes: tagClassesForSection(completed=data.completed.english, apply2=apply2),
              text: tagTextForSection(completed=data.completed.english, apply2=apply2)
            }
          }, {
            title: { text: "Maths GCSE or equivalent" },
            href: applicationPath + "/gcse/maths",
            id: "maths-gcse",
            status: {
              classes: tagClassesForSection(completed=data.completed.maths == 'true'),
              text: tagTextForSection(completed=data.completed.maths == 'true')
            }
          }, {
            title: { text: "Science GCSE or equivalent" },
            href: applicationPath + "/gcse/science",
            status: {
              classes: tagClassesForSection(completed=data.completed.science == 'true'),
              text: tagTextForSection(completed=data.completed.science == 'true')
            }
          }, {
            title: { text: "Other qualifications" if international else "A levels and other qualifications" },
            href: applicationPath + "/other-qualifications",
            status: {
              classes: tagClassesForSection(completed=data.completed.otherQualifications == 'true'),
              text: tagTextForSection(completed=data.completed.otherQualifications == 'true')
            }
          }, {
            title: { text: "Degree" },
            href: applicationPath + "/degree/review",
            id: "degree",
            status: {
              classes: tagClassesForSection(completed=data.completed.degree == 'true'),
              text: tagTextForSection(completed=data.completed.degree == 'true')
            }
          }]
        }) }}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Work experience</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Work history" },
            href: applicationPath + "/work-history",
            status: {
              classes: tagClassesForSection(completed=false),
              text: tagTextForSection(completed=false)
            }
          }, {
            title: { text: "Unpaid experience" },
            href: applicationPath + "/unpaid-experience",
            status: {
              classes: tagClassesForSection(completed=false),
              text: tagTextForSection(completed=false)
            }
          }]
        }) }}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Why you want to teach" },
            href: applicationPath + "/personal-statement",
            status: {
              classes: tagClassesForSection(completed=data.completed.personalStatement == 'true'),
              text: tagTextForSection(completed=data.completed.personalStatement == 'true')
            }
          }, {
            title: { text: "Your suitability to teach a subject or age group" },
            href: applicationPath + "/subject-knowledge",
            status: {
              classes: tagClassesForSection(completed=data.completed.subjectKnowledge == 'true'),
              text: tagTextForSection(completed=data.completed.subjectKnowledge == 'true')
            }
          }]
        }) }}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Adjustments</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "Ask for support if you’re disabled" },
            href: applicationPath + "/additional-support",
            status: {
              classes: tagClassesForSection(completed=data.completed.additionalSupport == 'true'),
              text: tagTextForSection(completed=data.completed.additionalSupport == 'true')
            }
          }, {
            title: { text: "Interview needs" },
            href: applicationPath + "/interview-needs",
            status: {
              classes: tagClassesForSection(completed=data.completed.interviewNeeds == 'true'),
              text: tagTextForSection(completed=data.completed.interviewNeeds == 'true')
            }
          }]
        }) }}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Safeguarding</h2>
        {{ govukTaskList({
          items: [{
            title: { text: "References to be requested if you accept an offer" },
            href: applicationPath + "/references",
            id: "references",
            status: {
              classes: tagClassesForSection(completed=data.completed.references == 'true'),
              text: tagTextForSection(completed=data.completed.references == 'true')
            }
          },
          {
            title: { text: "Declare any safeguarding issues" },
            href: applicationPath + "/safeguarding",
            status: {
              classes: tagClassesForSection(completed=data.completed.safeguarding == 'true'),
              text: tagTextForSection(completed=data.completed.safeguarding == 'true')
            }
          }]
        }) }}
      </section>

      <section>
        {% if cycleNotOpen == "true" %}
          <h2 class="govuk-heading-m govuk-!-font-size-27">Review</h2>
          <p class="govuk-body">You cannot submit your application until 15 June 2022. You can keep making changes to the rest of your application until then.</p>
        {% else %}
          <h2 class="govuk-heading-m govuk-!-font-size-27">Review and send</h2>
          <p class="govuk-body">Review and send your application to your training providers.</p>
        {% endif %}

        {{ govukButton({
          text: "Review your application",
          href: applicationPath + "/review"
        }) }}

      </section>
    </div>
  </div>
{% endblock %}

{% block secondary %}
  {% include "_includes/get-support.html" %}
{% endblock %}
