{% extends "_content.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set status = applicationValue(["status"]) %}
{% set incompleteTagClass = "govuk-tag--grey" %}
{% set incompleteTagText = "Incomplete" %}
{% set inprogressTagClass = "govuk-tag--purple" %}
{% set inprogressTagText = "In progress" %}
{% set notStartedTagClass = "govuk-tag--grey" %}
{% set notStartedTagText = "Not started" %}
{% set referrer = applicationPath %}
{% set international = applicationValue(["candidate", "otherNationality1"]) %}

{% set apply2 = applicationValue('apply2') %}

{% macro tagClassesForSection(completed=false,apply2=false) %}
  {% if completed %}
    govuk-tag
  {% elif apply2 %}
    govuk-tag--pink
  {% else %}
    govuk-tag--grey
  {% endif %}
{% endmacro %}

{% macro tagTextForSection(completed=false,apply2=false) %}
  {% if completed %}
    Completed
  {% elif apply2 %}
    Review
  {% else %}
    Incomplete
  {% endif %}
{% endmacro %}

{% if apply2 %}
  {% set title = "Your new application" %}
{% else %}
  {% set title = "Your application" %}
{% endif %}
{% set tagText = "Completed" %}
{% set reviewText = "Check your answers before submitting" %}
{% set hasSecondary = true %}

{% block beforePageTitle %}
  {{ govukNotificationBanner({
    text: "We’ve copied your application. Please review all sections.",
    type: "success"
  }) if showCopiedBanner }}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-notification-banner__heading\">Applications for courses starting this year have now closed</h2><p class=\"govuk-body\">Submit your application from 13 October for courses starting in 2021.</p>"
  }) if closed }}
{% endblock %}

{% block beforePrimary %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ title | safe }}</h1>
  <p class="govuk-hint govuk-!-margin-bottom-8">Last saved on {{ "now" | date("d MMMM yyyy") }} at {{ "now" | date("t") }}</p>
{% endblock %}

{% block primary %}
  {% if apply2 %}
    {% set previousApplicationSummaryHtml %}

      {% for previousApplicationId in applicationValue("previousApplications") %}
        {% set choices = (data.applications[previousApplicationId].choices | toArray) %}
        {% set showChoiceDetails = false %}
        {% set showChoiceFeedback = true %}
        {% set showChoiceStatus = true %}

        {% include "_includes/review/choices.njk" %}
      {% endfor %}

    {% endset %}
    {{ govukDetails({
      summaryText: "See feedback from your previous application",
      html: previousApplicationSummaryHtml
    }) }}
  {% endif %}

  <section class="govuk-!-margin-bottom-8">
    {% if apply2 %}
      <h2 class="govuk-heading-m govuk-!-font-size-27">Course</h2>
    {% else %}
      <h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>
      {% if closed == "true" %}
        <p class="govuk-body">You can apply for courses from 13 October.</p>
      {% else %}
        <p class="govuk-body">You can apply for up to 3 courses.</p>
      {% endif %}
    {% endif %}

    {{ appTaskList({
      items: [{
        text: "Choose your course" if apply2 else "Choose your courses",
        href: applicationPath + "/choices",
        id: "personal-information",
        tag: {
          classes: tagClass if applicationValue(["completed", "choices"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "choices"]) else incompleteTagText
        }
      }]
    }) if not closed }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    {% set references = applicationValue(["references"]) | toArray %}
    {% set readyReferences = references | selectattr("ready") | reverse %}
    {% set referencesContent %}
      <ul class="govuk-list">
      {% for reference in references %}
        <li class="govuk-body-s"><span class="app-status-indicator {{ reference.status | statusClass("app-status-indicator") }}"></span> <b>{{ reference.name }}</b>: {{ reference.status }}</li>
      {% endfor %}
      </ul>
    {% endset %}

    {% if readyReferences | length >= 2 %}
      {% set referencesItemText = "Review your references" %}
      {% set referencesTagText = tagText %}
      {% set referencesTagClass = tagClass %}
      {% set showReferencesContent = true %}
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-2">You have to get 2 references back before you can send your application to training providers.</p>
      <p class="govuk-body">It takes 8 days to get a reference on average.</p>
      {% if references | length > 0 %}
        {% set referencesItemText = "Manage your references" %}
        {% set referencesTagText = inprogressTagText %}
        {% set referencesTagClass = inprogressTagClass %}
        {% set showReferencesContent = true %}
      {% else %}
        {% set referencesItemText = "Add your references" %}
        {% set referencesTagText = incompleteTagText %}
        {% set referencesTagClass = incompleteTagClass %}
        {% set showReferencesContent = false %}
      {% endif %}
    {% endif %}

    {{ appTaskList({
      items: [{
        text: referencesItemText,
        href: applicationPath + "/references",
        id: "references",
        tag: {
          classes: referencesTagClass,
          text: referencesTagText
        },
        content: referencesContent | safe if showReferencesContent
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
    {{ appTaskList({
      items: [{
        text: "Personal information",
        href: applicationPath + "/personal-information" + ("/review" if applicationValue(["candidate"]) | length > 0),
        id: "personal-information",
        tag: {
          classes: tagClass if applicationValue(["completed", "personalInformation"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "personalInformation"]) else incompleteTagText
        }
      }, {
        text: "Contact information",
        href: applicationPath + "/contact-information" + ("/review" if applicationValue(["contactInformation", "address"])),
        id: "contact-information",
        tag: {
          classes: tagClass if applicationValue(["completed", "contactInformation"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "contactInformation"]) else incompleteTagText
        }
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>

    {{ appTaskList({
      items: [{
        text: "English GCSE or equivalent",
        href: applicationPath + "/gcse/english" + ("/review" if applicationValue(["gcse", "english"]) | length > 0),
        id: "english-gcse",
        tag: {
          classes: tagClassesForSection(completed=applicationValue(["completed", "english"]),apply2=apply2),
          text: tagTextForSection(completed=applicationValue(["completed", "english"]),apply2=apply2)
        }
      }, {
        text: "English as a foreign language assessment",
        href: applicationPath + "/english-language" + ("/review" if applicationValue(["englishLanguage"]) | length > 0),
        id: "english-language",
        tag: {
          classes: tagClassesForSection(completed=applicationValue(["completed", "english-language"]),apply2=apply2),
          text: tagTextForSection(completed=applicationValue(["completed", "english-language"]),apply2=apply2)
        }
      } if international, {
        text: "Maths GCSE or equivalent",
        href: applicationPath + "/gcse/maths" + ("/review" if applicationValue(["gcse", "maths"]) | length > 0),
        id: "maths-gcse",
        tag: {
          classes: tagClassesForSection(completed=applicationValue(["completed", "maths"]),apply2=apply2),
          text: tagTextForSection(completed=applicationValue(["completed", "maths"]),apply2=apply2)
        }
      }, {
        text: "Science GCSE or equivalent",
        href: applicationPath + "/gcse/science" + ("/review" if applicationValue(["gcse", "science"]) | length > 0),
        id: "science-gcse",
        tag: {
          classes: tagClassesForSection(completed=applicationValue(["completed", "science"]),apply2=apply2),
          text: tagTextForSection(completed=applicationValue(["completed", "science"]),apply2=apply2)
        }
      } if hasPrimaryChoices() or applicationValue(["gcse", "science"]), {
        text: "Other qualifications" if international else "A levels and other qualifications",
        href: applicationPath + "/other-qualifications" + ("/review" if applicationValue(["otherQualificationsDisclose"]) else "/add"),
        id: "other-qualifications",
        tag: {
          classes: tagClass if applicationValue(["completed", "otherQualifications"]) | length > 0 else incompleteTagClass,
          text: tagText if applicationValue(["completed", "otherQualifications"]) | length > 0 else incompleteTagText
        }
      }, {
        text: "Degree",
        href: applicationPath + "/degree" + ("/review" if applicationValue(["degree"]) | length > 0 else "/add"),
        id: "degree",
        tag: {
          classes: tagClass if applicationValue(["completed", "degree"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "degree"]) else incompleteTagText
        }
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Work experience</h2>
    {{ appTaskList({
      items: [{
        text: "Work history",
        href: applicationPath + "/work-history" + ("/review" if applicationValue("workHistoryDisclose")),
        id: "work-history",
        tag: {
          classes: tagClass if applicationValue(["completed", "workHistory"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "workHistory"]) else incompleteTagText
        }
      }, {
        text: "Unpaid experience",
        href: applicationPath + "/unpaid-experience" + ("/review" if applicationValue("unpaidExperienceDisclose")),
        id: "unpaid-experience",
        tag: {
          classes: tagClass if applicationValue(["completed", "unpaidExperience"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "unpaidExperience"]) else incompleteTagText
        }
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement</h2>
    {{ appTaskList({
      items: [{
        text: "Why you want to teach",
        href: applicationPath + "/personal-statement" + ("/review" if applicationValue(["personalStatement"]) | length > 0),
        id: "personal-statement",
        tag: {
          classes: tagClassesForSection(completed=(applicationValue(["completed", "personalStatement"]) | length > 0),apply2=apply2),
          text: tagTextForSection(completed=(applicationValue(["completed", "personalStatement"]) | length > 0),apply2=apply2)
        }
      }, {
        text: "Your suitability to teach a subject or age group",
        href: applicationPath + "/subject-knowledge" + ("/review" if applicationValue(["subjectKnowledge"]) | length > 0),
        id: "subject-knowledge",
        tag: {
          classes: tagClassesForSection(completed=(applicationValue(["completed", "subjectKnowledge"]) | length > 0),apply2=apply2),
          text: tagTextForSection(completed=(applicationValue(["completed", "subjectKnowledge"]) | length > 0),apply2=apply2)
        }
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Adjustments</h2>
    {{ appTaskList({
      items: [{
        text: "Ask for support if you’re disabled",
        href: applicationPath + "/additional-support" + ("/review" if applicationValue("additionalSupportDisclose")),
        id: "additional-support",
        tag: {
          classes: tagClass if applicationValue(["completed", "additionalSupport"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "additionalSupport"]) else incompleteTagText
        }
      }, {
        text: "Interview needs",
        href: applicationPath + "/interview-needs" + ("/review" if applicationValue(["interviewNeedsDisclose"])),
        id: "interview",
        tag: {
          classes: tagClass if applicationValue(["completed", "interviewNeeds"]) | length > 0 else incompleteTagClass,
          text: tagText if applicationValue(["completed", "interviewNeeds"]) | length > 0 else incompleteTagText
        }
      }]
    }) }}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Safeguarding</h2>
    {{ appTaskList({
      items: [{
        text: "Declare any safeguarding issues",
        href: applicationPath + "/safeguarding" + ("/review" if applicationValue("safeguardingDisclose")),
        id: "safeguarding",
        tag: {
          classes: tagClass if applicationValue(["completed", "safeguarding"]) else incompleteTagClass,
          text: tagText if applicationValue(["completed", "safeguarding"]) else incompleteTagText
        }
      }]
    }) }}
  </section>

  <section>
    <h2 class="govuk-heading-m govuk-!-font-size-27">Review and send</h2>
    <p class="govuk-body">Review and send your application to your training providers.</p>
    {{ govukButton({
      text: "Review your application",
      href: applicationPath + "/review"
    }) }}
  </section>

{% endblock %}

{% block secondary %}
  {% include "_includes/get-support.njk" %}
{% endblock %}
