{% extends "_content.njk" %}

{% set title = "Your application" %}

{% block primary %}
  {{ appTaskList({
    items: [{
      text: "Personal details",
      href: "/application/personal-details",
      id: "personal-details",
      completed: data['personal-details-completed']
    }, {
      text: "Contact details",
      href: "/application/contact-details" + ( "/review" if data["school-experience-completed"] ),
      id: "contact-details",
      completed: data['contact-details-completed']
    }, {
      text: "Academic qualifications",
      href: "/application/academic-qualifications",
      id: "academic-qualifications",
      completed: data['academic-qualifications-completed']
    }, {
      text: "Subject knowledge",
      href: "/application/subject-knowledge",
      id: "subject-knowledge",
      completed: data['subject-knowledge-completed']
    }, {
      text: "Literacy, numeracy and language skills",
      href: "/application/professional-skills",
      id: "professional-skills",
      completed: data['professional-skills-completed']
    }, {
      text: "Employment history",
      href: "/application/employment-history",
      id: "employment-history",
      completed: data['employment-history-completed']
    }, {
      text: "School experience and volunteering with children and young people",
      href: "/application/school-experience" + ( "/overview" if data["school-experience-completed"] ),
      id: "school-experience",
      completed: data['school-experience-completed']
    }, {
      text: "References",
      href: "/application/references" + ( "/review" if data["references-completed"] ),
      id: "references",
      completed: data['references-completed']
    }, {
      text: "Motivation",
      href: "/application/motivation",
      id: "motivation",
      completed: data['motivation-completed']
    }, {
      text: "Interview",
      href: "/application/interview",
      id: "interview",
      completed: data['interview-completed']
    }]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l">

  {{ govukButton({
    text: "Review and submit",
    href: "/application/review"
  }) }}
{% endblock %}
