{% extends "_form.njk" %}
{% set title = "Motivation" %}
{% set formAction = "/application/interview" %}
{% block fieldset %}
  <p class="govuk-body">Use this section of the application form to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>convince providers of your passion for teaching</li>
    <li>explain why you want to work with children</li>
    <li>make the case for your teaching potential</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukCharacterCount({
    label: {
      text: "Why do you want to become a teacher?",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Use specific examples drawn from your work history, interactions with children or life experience to back up your answer. Draft your answer, proofread it carefully and ask someone you trust for their opinion before you submit."
    },
    id: "motivation",
    name: "motivation",
    rows: 20,
    maxlength: 600
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
