{% extends "_content-wide.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "Review your application" %}
{% set referrer = applicationPath + "/review" %}

{% block pageNavigation %}
  {{ govukBackLink({ href: "/application/" + applicationId, text: 'Back to application' }) }}
{% endblock %}

{% block primary %}
  {% if applicationValue("courses") %}
    {% include "_includes/review-courses.njk" %}
    {% if courses | length <= 3 %}
      {{ govukButton({
        classes: "govuk-!-font-size-16 govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-button--secondary",
        text: "Add another course",
        href: applicationPath + "/course/add"
      }) }}
    {% endif %}
  {% else %}
    {{ govukButton({
      classes: "govuk-button--secondary govuk-!-font-size-16 govuk-!-padding-top-1 govuk-!-padding-bottom-1",
      text: "Add course",
      href: applicationPath + "/course/add"
    }) }}
  {% endif %}

  <h2 class="govuk-heading-l">About you</h2>
  <h2 class="govuk-heading-m">Personal details</h2>
  {% include "_includes/review-personal-details.njk" %}

  <h2 class="govuk-heading-m">Contact details</h2>
  {% include "_includes/review-contact-details.njk" %}

  <h2 class="govuk-heading-m">Knowledge about the subject you want to teach</h2>
  {% include "_includes/review-subject-knowledge.njk" %}

  <h2 class="govuk-heading-m">Work history</h2>
  {% include "_includes/review-work-history.njk" %}

  <h2 class="govuk-heading-m">School experience and volunteering with young people</h2>
  {% include "_includes/review-school-experience.njk" %}

  <h2 class="govuk-heading-m">Why you want to be a teacher</h2>
  {% include "_includes/review-vocation.njk" %}

  <h2 class="govuk-heading-l">Qualifications</h2>
  <h3 class="govuk-heading-m">Degree(s)</h3>
  {% set degrees = data.applications[applicationId]["degree"] | toArray %}
  {% for degree in degrees %}
    {% include "_includes/review-degree.njk" %}
  {% endfor %}

  {% set gcses = data.applications[applicationId]["gcse"] | toArray %}
  {% for gcse in gcses %}
    <h3 class="govuk-heading-m">{{ gcse.id | capitalize }} GCSE or equivalent</h3>
    {% include "_includes/review-gcse.njk" %}
  {% endfor %}

  <h3 class="govuk-heading-m">Other relevant qualifications</h3>
  {% set qualifications = data.applications[applicationId]["other-qualifications"] | toArray %}
  {% for qualification in qualifications %}
    {% include "_includes/review-other-qualification.njk" %}
  {% endfor %}

  <h3 class="govuk-heading-m">Anything else?</h3>
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Is there anything you’d like to tell us about your qualifications?"
      },
      value: {
        text: (applicationValue(["qualifications", "additional"]) | default("Not entered")) | nl2br | safe
      },
      actions: {
        classes: "govuk-!-padding-right-2",
        items: [{
          href: applicationPath + "/qualifications?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "additional detail"
        }]
      }
    }]
  }) }}

  <h2 class="govuk-heading-l">References</h2>
  {% include "_includes/review-references.njk" %}

  <h2 class="govuk-heading-l">Interview preferences</h2>
  {% include "_includes/review-interview.njk" %}

  {{ govukButton({
    text: "Continue",
    href: applicationPath + "/submit"
  }) }}
{% endblock %}
