{% extends "layouts/main.html" %}

{% set title = "Review your application" %}


{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <section class="app-section">
    <h2 class="govuk-heading-l">Personal details</h2>

    <h3 class="govuk-heading-m">Personal information</h3>
   <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/personal-information.html" %}
      </div>
   </div>

    <h3 class="govuk-heading-m">Contact information</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
       {% include "_includes/review/contact-information.html" %}
      </div>
    </div>
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Courses</h2>
    {% include "_includes/review/choices.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Qualifications</h2>

    <h3 class="govuk-heading-m">GCSEs or equivalent</h3>
    {% set id = "english" %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">English</h4>
      </div>
      <div class="govuk-summary-card__content">
        {% include "_includes/review/gcse.html" %}
      </div>
    </div>

    {% if international %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h4 class="govuk-summary-card__title">English as a foreign language</h4>
        </div>
        <div class="govuk-summary-card__content">
          {% include "_includes/review/english-language.html" %}
        </div>
     </div>
    {% endif %}

    {% set id = "maths" %}

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">Mathematics</h4>
      </div>
      <div class="govuk-summary-card__content">
        {% include "_includes/review/gcse.html" %}
      </div>
    </div>

    {% set hasPrimaryChoice = false %}
    {% for id, choice in data.choices %}
      {% if choice.course == "Primary (7S9D)" %}
        {% set hasPrimaryChoice = true %}
      {% endif %}
    {% endfor %}

    {% if hasPrimaryChoice or data.gcse.science %}
      {% set id = "science" %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h4 class="govuk-summary-card__title">Science</h4>
        </div>
        <div class="govuk-summary-card__content">
          {% include "_includes/review/gcse.html" %}
        </div>
      </div>
    {% endif %}

    <h3 class="govuk-heading-m">{{ "Other qualifications" if international else "A levels and other qualifications" }}</h3>
     {% include "_includes/review/other-qualifications.html" %}

    <h3 class="govuk-heading-m">Degree</h3>
    {% include "_includes/review/degrees.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Work experience</h2>

    <h3 class="govuk-heading-m">Work history</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/work-history.html" %}
      </div>
    </div>

    <h3 class="govuk-heading-m">Unpaid experience</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/unpaid-experience.html" %}
      </div>
    </div>
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Personal statement</h2>
    {% include "_includes/review/personal-statement.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Adjustments</h2>

    <h3 class="govuk-heading-m">Ask for support if you’re disabled</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/additional-support.html" %}
      </div>
    </div>

    <h3 class="govuk-heading-m">Interview needs</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/interview-needs.html" %}
      </div>
    </div>
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Safeguarding</h2>
    <h3 class="govuk-heading-m">References to be requested if you accept an offer</h3>
    {% if data.references | length > 0 %}
      {% for id, item in data.references %}
        {% include "_includes/item/reference.html" %}
      {% endfor %}
    {% endif %}

    <h3 class="govuk-heading-m">Declare any safeguarding issues</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__content">
        {% include "_includes/review/safeguarding.html" %}
      </div>
    </div>
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-l">Equality and diversity</h2>

      <p class="govuk-body">These will only be shared with a provider if you accept an offer from them.</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__content">
          {% include "_includes/review/equality-and-diversity.html" %}
        </div>
     </div>

  </section>


  {{ govukButton({
    text: "Continue",
    href: "/equality-monitoring"
  }) }}

{% endblock %}
