{% extends "layouts/main.html" %}

{% set title = "Review your application" %}


{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>
    {% include "_includes/review/choices.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>

    <h3 class="govuk-heading-m">Personal information</h3>
    {% include "_includes/review/personal-information.html" %}

    <h3 class="govuk-heading-m">Contact information</h3>
    {% include "_includes/review/contact-information.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>

    <h3 class="govuk-heading-m">GCSEs or equivalent</h3>
    {% set id = "english" %}
    <h4 class="govuk-heading-s">English</h4>
    {% include "_includes/review/gcse.html" %}

    {% if international %}
      {% include "_includes/review/english-language.html" %}
    {% endif %}

    {% set id = "maths" %}
    <h4 class="govuk-heading-s">Mathematics</h4>
    {% include "_includes/review/gcse.html" %}

    {% set hasPrimaryChoice = false %}
    {% for id, choice in data.choices %}
      {% if choice.course == "Primary (7S9D)" %}
        {% set hasPrimaryChoice = true %}
      {% endif %}
    {% endfor %}

    {% if hasPrimaryChoice or data.gcse.science %}
      {% set id = "science" %}
      <h4 class="govuk-heading-s">Science</h4>
      {% include "_includes/review/gcse.html" %}
    {% endif %}

    <h3 class="govuk-heading-m">{{ "Other qualifications" if international else "A levels and other qualifications" }}</h3>
    {% include "_includes/review/other-qualifications.html" %}

    <h3 class="govuk-heading-m">Degree</h3>
    {% include "_includes/review/degrees.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Work experience</h2>

    <h3 class="govuk-heading-m">Work history</h3>
    {% include "_includes/review/work-history.html" %}

    <h3 class="govuk-heading-m">Unpaid experience</h3>
    {% include "_includes/review/unpaid-experience.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement</h2>

    <h3 class="govuk-heading-m">Why you want to teach</h3>
    {% include "_includes/review/personal-statement.html" %}

    <h3 class="govuk-heading-m">Your suitability to teach a subject or age group</h3>
    {% include "_includes/review/subject-knowledge.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Adjustments</h2>

    <h3 class="govuk-heading-m">Ask for support if you’re disabled</h3>
    {% include "_includes/review/additional-support.html" %}

    <h3 class="govuk-heading-m">Interview needs</h3>
    {% include "_includes/review/interview-needs.html" %}
  </section>

  <section class="app-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Safeguarding</h2>
    <h3 class="govuk-heading-m">References to be requested if you accept an offer</h3>
    {% include "_includes/review/references.html" %}


    {% include "_includes/review/safeguarding.html" %}
  </section>



  {{ govukButton({
    text: "Continue",
    href: "/equality-monitoring"
  }) }}

{% endblock %}
