{% extends "_content.njk" %}

{% set title = "Review your application" %}

{% block primary %}
  <h2 class="govuk-heading-m">Personal details</h2>
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Name"
      },
      value: {
        text: data["title"] + " " + data["first-name"] + " " + data["family-name"]
      },
      actions: {
        items: [{
          href: "/application/personal-details",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
    }, {
      key: {
        text: "Preferred name"
      },
      value: {
        text: data["optional-name"]
      },
      actions: {
        items: [
          {
            href: "/application/personal-details",
            text: "Change",
            visuallyHiddenText: "preferred name"
          }
        ]
      }
    }, {
      key: {
        text: "Date of birth"
      },
      value: {
        html: data["date-of-birth-day"] + "/" + data["date-of-birth-month"] + "/" + data["date-of-birth-year"]
      },
      actions: {
        items: [
          {
            href: "/application/personal-details",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Nationality"
      },
      value: {
        html: data["nationality"]
      },
      actions: {
        items: [
          {
            href: "/application/personal-details",
            text: "Change",
            visuallyHiddenText: "nationality"
          }
        ]
      }
    }]
  }) }}

  <h2 class="govuk-heading-m">Contact details</h2>
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Phone number"
      },
      value: {
        text: data["phone-number"]
      },
      actions: {
        items: [{
          href: "/application/contact-details",
          text: "Change",
          visuallyHiddenText: "phone number"
        }]
      }
    }, {
      key: {
        text: "Email address"
      },
      value: {
        text: data["email"]
      },
      actions: {
        items: [
          {
            href: "/application/contact-details",
            text: "Change",
            visuallyHiddenText: "email"
          }
        ]
      }
    }, {
      key: {
        text: "Address"
      },
      value: {
        html: data["address"]
      },
      actions: {
        items: [
          {
            href: "/application/contact-details",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }]
  }) }}
{% endblock %}
