{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath + "/review-complete" %}
{% set status = applicationValue(["status"]) %}
{% set title = "Review your application" %}
{% set referrer = applicationPath + "/review" %}
{% set international = applicationValue(["candidate", "other-nationality"]) or applicationValue(["candidate", "multiple-nationalities"]) %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block beforePageTitle %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: "Your application cannot be submitted because it’s incomplete",
      errorList: errorList
    }) }}
  {% endif %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-notification-banner__heading\">Applications for courses starting this year have now closed</h2><p class=\"govuk-body\">Submit your application from 13 October for courses starting in 2021.</p>"
  }) if closed }}
{% endblock %}

{% block primary %}
  <section class="govuk-!-margin-bottom-8">
  {% if applicationValue(["apply2"]) %}
    <h2 class="govuk-heading-m govuk-!-font-size-27">Course</h2>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>
  {% endif %}
  {% if not closed %}
    {% set choices = applicationValue(["choices"]) | toArray %}
    {% set showChoiceStatus = false %}
    {% set showIncomplete = true %}
    {% include "_includes/review/choices.njk" %}
  {% else %}
    <p>You can apply for courses from 13 October.</p>
  {% endif %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    {% set references = applicationValue(["references"]) | toArray | selectattr("ready") %}
    {% include "_includes/review/references.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
    <h3 class="govuk-heading-m">Personal information</h3>
    {% include "_includes/review/personal-details.njk" %}

    <h3 class="govuk-heading-m">Contact information</h3>
    {% set contactDetails = applicationValue(["contact-details"]) %}
    {% include "_includes/review/contact-details.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>
    <h3 class="govuk-heading-m">Degree</h3>
    {% include "_includes/review/degrees.njk" %}

    <h3 class="govuk-heading-m">English GCSE or equivalent</h3>
    {% set id = "english" %}
    {% include "_includes/review/gcse.njk" %}

    {% if international %}
      <h3 class="govuk-heading-m">English as a foreign language assessment</h3>
      {% include "_includes/review/english-language.njk" %}
    {% endif %}

    <h3 class="govuk-heading-m">Maths GCSE or equivalent</h3>
    {% set id = "maths" %}
    {% include "_includes/review/gcse.njk" %}

    {% if hasPrimaryChoices() or applicationValue(["gcse", "science"]) %}
      <h3 class="govuk-heading-m">Science GCSE or equivalent</h3>
      {% set id = "science" %}
      {% include "_includes/review/gcse.njk" %}
    {% endif %}

    <h3 class="govuk-heading-m">Academic and other relevant qualifications</h3>
    {% include "_includes/review/other-qualifications.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Work experience</h2>
    <h3 class="govuk-heading-m">Work history</h3>
    {% include "_includes/review/work-history.njk" %}

    <h3 class="govuk-heading-m">Unpaid experience</h3>
    {% include "_includes/review/school-experience.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement</h2>
    {% include "_includes/review/personal-statement.njk" %}
    {% include "_includes/review/subject-knowledge.njk" %}
  <section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Adjustments</h2>
    {% include "_includes/review/reasonable-adjustments.njk" %}
    {% include "_includes/review/interview.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Safeguarding</h2>
    {% include "_includes/review/suitability.njk" %}
  </section>

  {{ govukButton({
    text: "Continue"
  }) if not closed }}
{% endblock %}
