{% extends "_form.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "Submit application" %}
{% set formaction = applicationPath + "/confirmation" %}

{% block pageNavigation %}
  {{ govukBackLink({
    "text": "Back",
    "href": applicationPath + "/review"
  }) }}
{% endblock %}

{% block primary %}
  {% set dbsCheckHtml %}
    <p class="govuk-body">As prospective teachers, all candidates must consent to an enhanced DBS check. This will show up any past criminal convictions, both spent and unspent. Some convictions, even if they are spent, will disbar you from teaching.</p
    <p class="govuk-body">However, not all past convictions prevent you from training to be a teacher. Talk to your provider about their policy on criminal convictions.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/exoffenders-and-employment">Learn more about telling an employer about your conviction</a>.</p>
  {% endset %}

    <p>I understand I will have to undergo an enhanced <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service">Disclosure and Barring Check</a> as part of my application.</p>
    {{ govukInsetText({
      html: dbsCheckHtml
    }) }}

    {% set miscellaneousHtml %}
      {{ govukCharacterCount({
        label: {
          text: "Examples of further information include any disability, health or other personal or professional issue you feel is relevant to your application"
        },
        rows: 10,
        maxwords: 300
      } | decorateApplicationAttributes(["application", provider + "-" + course, "miscellaneous"])) }}
    {% endset %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Is there anything else you would like to tell us about your application?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        text: "Yes",
        conditional: {
          html: miscellaneousHtml
        }
      }, {
        text: "No"
      }]
    } | decorateApplicationAttributes(["application", provider + "-" + course, "miscellaneous-choice"])) }}

    <p class="govuk-body">By submitting, I confirm that the information given is true, complete and accurate and I agree to the <a href="#">terms and conditions</a> of the ‘{{ serviceName }}’ service.</p>

    {{ govukButton({
      text: "Submit application"
    }) }}
{% endblock %}
