{% extends "layouts/main.html" %}

{% set providerText = "providers" if (data.choices | length > 1) else "provider" %}
{% set title = "Send application to training " + providerText %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/equality-monitoring/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% set dbsCheckHtml %}
        <p class="govuk-body">As prospective teachers, all candidates must consent to an enhanced DBS check. This will show up any past criminal convictions, both spent and unspent. Some convictions, even if they are spent, will disbar you from teaching.</p>
        <p class="govuk-body">However, not all past convictions prevent you from training to be a teacher. Talk to your provider about their policy on criminal convictions.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/exoffenders-and-employment">Learn more about telling an employer about your conviction</a>.</p>
      {% endset %}

      <p>I understand I will have to undergo an enhanced <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service">Disclosure and Barring Check</a> as part of my application.</p>

      {{ govukInsetText({
        html: dbsCheckHtml
      }) }}

      {% set yesConditionalHtml %}
        {{ govukCharacterCount({
          id: "additional-information",
          name: "additionalInformation",
          value: data.additionalInformation,
          label: {
            text: "Enter further information"
          },
          maxwords: 300
        }) }}
      {% endset -%}

      <form action="/survey" method="post">
        {{ govukRadios({
          name: "additionalInformationAdded",
          value: data.additionalInformationAdded,
          fieldset: {
            legend: {
              text: "Is there anything else you would like to tell us about your application?",
              classes: "govuk-label--m"
            },
            attributes: {
              "data-module": "clear-hidden"
            }
          },
          items: [{
            text: "Yes",
            conditional: {
              html: yesConditionalHtml
            }
          }, {
            text: "No"
          }]
        }) }}

        <p class="govuk-body">By sending this application to {{ providerText }}, I confirm that the information given is true, complete and accurate.</p>

        {{ govukButton({
          text: "Send application"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
