{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set status = applicationValue(["status"]) %}
{% set title = "Your submitted application" %}
{% set referrer = applicationPath + "/review" %}
{% set canAmend = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications" + ("?phase=" + phase if phase),
    text: "Back to application dashboard"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Date submitted"
      },
      value: {
        html: "now" | date("d MMMM yyyy")
      }
    }]
  }) }}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Course choices</h2>
  {% set choices = applicationValue(["choices"]) | toArray %}
  {% set showChoiceStatus = false %}
  {% include "_includes/review/choices.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">About you</h2>
  <h3 class="govuk-heading-m">Personal details</h3>
  {% include "_includes/review/personal-details.njk" %}

  <h3 class="govuk-heading-m">Contact details</h3>
  {% set contactDetails = applicationValue(["contact-details"]) %}
  {% include "_includes/review/contact-details.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>
  {% include "_includes/review/work-history.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Volunteering with children and young people</h2>
  {% include "_includes/review/school-experience.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Training with a disability</h2>
  {% include "_includes/review/disability.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>
  <h3 class="govuk-heading-m">Degree(s)</h3>
  {% include "_includes/review/degrees.njk" %}

  <h3 class="govuk-heading-m">Maths GCSE or equivalent</h3>
  {% set id = "maths" %}
  {% include "_includes/review/gcse.njk" %}

  <h3 class="govuk-heading-m">English GCSE or equivalent</h3>
  {% set id = "english" %}
  {% include "_includes/review/gcse.njk" %}

  {% if hasPrimaryChoices() or applicationValue(["gcse", "science"]) %}
    <h3 class="govuk-heading-m">Science GCSE or equivalent</h3>
    {% set id = "science" %}
    {% include "_includes/review/gcse.njk" %}
  {% endif %}

  <h3 class="govuk-heading-m">Other relevant qualifications</h3>
  {% include "_includes/review/other-qualifications.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement and interview</h2>
  {% include "_includes/review/personal-statement.njk" %}
  {% include "_includes/review/subject-knowledge.njk" %}
  {% include "_includes/review/interview.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
  {% set references = applicationValue(["referees"]) %}
  {% include "_includes/review/references.njk" %}
{% endblock %}
