{% extends "_content-wide.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Your submitted application" %}
{% set referrer = applicationPath + "/review" %}
{% set review = false %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications",
    text: "Back to your applications"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukSummaryList({
    classes: "app-summary",
    rows: [{
      key: {
        text: "Date submitted"
      },
      value: {
        html: "now" | date("d MMMM yyyy")
      }
    }]
  }) }}

  <h2 class="govuk-heading-l">Courses</h2>
  {% include "_includes/review-courses.njk" %}

  <h2 class="govuk-heading-l">About you</h2>
  <h2 class="govuk-heading-m">Personal details</h2>
  {% include "_includes/review-personal-details.njk" %}

  <h2 class="govuk-heading-m">Contact details</h2>
  {% include "_includes/review-contact-details.njk" %}

  <h2 class="govuk-heading-m">Work history</h2>
  {% include "_includes/review-work-history.njk" %}

  <h2 class="govuk-heading-m">School experience and volunteering with young people</h2>
  {% include "_includes/review-school-experience.njk" %}

  <h2 class="govuk-heading-l">Qualifications</h2>
  <h3 class="govuk-heading-m">Degree(s)</h3>
  {% for degree in applicationValue(["degree"]) | toArray %}
    {% include "_includes/review-degree.njk" %}
  {% endfor %}

  {% for gcse in applicationValue(["gcse"]) | toArray %}
    <h3 class="govuk-heading-m">{{ gcse.id | capitalize }} GCSE or equivalent</h3>
    {% include "_includes/review-gcse.njk" %}
  {% endfor %}

  <h3 class="govuk-heading-m">Other relevant qualifications</h3>
  {% for qualification in applicationValue(["other-qualifications"]) | toArray %}
    {% include "_includes/review-other-qualification.njk" %}
  {% endfor %}

  <h2 class="govuk-heading-l">Personal statement and interview</h2>
  {% for statementId, statement in applicationValue(["personal-statements"]) %}
    {% set provider = providers[statementId] %}
    <h3 class="govuk-heading-m">{{ provider.name }}</h3>
    {% include "_includes/review-personal-statement.njk" %}
  {% endfor %}

  <h2 class="govuk-heading-l">References</h2>
  {% include "_includes/review-references.njk" %}
{% endblock %}
