{% extends "layouts/main.html" %}

{% set providerText = "providers" if (data.choices | length > 1) else "provider" %}
{% set title = "Send application to training " + providerText %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/application/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">By sending this application to {{ providerText }}, I confirm that the information given is true, complete and accurate.</p>

      <form action="/application/submit" method="post">
        {{ govukButton({
          text: "Send application"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
