{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set status = applicationValue(["status"]) %}
{% set title = "Your submitted application" %}
{% set referrer = referrer or applicationPath + "/review" %}
{% set international = applicationValue(["candidate", "other-nationality"]) or applicationValue(["candidate", "multiple-nationalities"]) %}
{% set canAmend = false %}
{% set showChoiceStatus = true %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/dashboard",
      text: "Back to application dashboard"
    }) }}
  {% endif %}
{% endblock %}

{% block beforePrimary %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ title | safe }}</h1>
  <p class="govuk-hint govuk-!-margin-bottom-8">Submitted on {{ "now" | date("d MMMM yyyy") }} at {{ "now" | date("t") }}</p>
{% endblock %}

{% block primary %}
  <section class="govuk-!-margin-bottom-8">
  {% if applicationValue(["apply2"]) or choiceId or (applicationValue(["choices"]) | toArray | length == 1) %}
    <h2 class="govuk-heading-m govuk-!-font-size-27">Course</h2>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-font-size-27">Courses</h2>
  {% endif %}

    {% if choiceId %}
      {% set choices = [applicationValue(["choices"])[choiceId]] %}
    {% else %}
      {% set choices = applicationValue(["choices"]) | toArray %}
    {% endif %}
    {% set showChoiceStatus = true %}
    {% set showIncomplete = true %}
    {% include "_includes/review/choices.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">References</h2>
    {% set references = applicationValue(["references"]) | toArray | selectattr("ready") %}
    {% include "_includes/review/references.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
    <h3 class="govuk-heading-m">Personal information</h3>
    {% include "_includes/review/personal-information.njk" %}

    <h3 class="govuk-heading-m">Contact information</h3>
    {% set contactDetails = applicationValue(["contact-information"]) %}
    {% include "_includes/review/contact-information.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Qualifications</h2>
    <h3 class="govuk-heading-m">Degree</h3>
    {% include "_includes/review/degrees.njk" %}

    <h3 class="govuk-heading-m">English GCSE or equivalent</h3>
    {% set id = "english" %}
    {% include "_includes/review/gcse.njk" %}

    {% if international %}
      <h3 class="govuk-heading-m">English as a foreign language assessment</h3>
      {% include "_includes/review/english-language.njk" %}
    {% endif %}

    <h3 class="govuk-heading-m">Maths GCSE or equivalent</h3>
    {% set id = "maths" %}
    {% include "_includes/review/gcse.njk" %}

    {% if hasPrimaryChoices() or applicationValue(["gcse", "science"]) %}
      <h3 class="govuk-heading-m">Science GCSE or equivalent</h3>
      {% set id = "science" %}
      {% include "_includes/review/gcse.njk" %}
    {% endif %}

    <h3 class="govuk-heading-m">Other qualifications</h3>
    {% include "_includes/review/other-qualifications.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Work experience</h2>
    <h3 class="govuk-heading-m">Work history</h3>
    {% include "_includes/review/work-history.njk" %}

    <h3 class="govuk-heading-m">Unpaid experience</h3>
    {% include "_includes/review/unpaid-experience.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Personal statement</h2>
    {% include "_includes/review/personal-statement.njk" %}
    {% include "_includes/review/subject-knowledge.njk" %}
  <section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Adjustments</h2>
    {% include "_includes/review/additional-support.njk" %}
    {% include "_includes/review/interview.njk" %}
  </section>

  <section class="govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Safeguarding</h2>
    {% include "_includes/review/safeguarding.njk" %}
  </section>
{% endblock %}
