{% extends "layout.html" %}

{% set title = "Continue your application" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">You started an application for courses starting in the 2022 to 2023 academic year, which have now closed.</p>

      <p class="govuk-body">Continue your application to apply for courses starting in the 2023 to 2024 academic year instead.</p>

      <p class="govuk-body">The way training providers use references has changed. They will no longer consider references when deciding whether to offer you a place on a course.</p>

      <p class="govuk-body">Training providers will only request references if you accept an offer from them.</p>

      {{ govukButton({
        text: "Continue",
        href: "/application/" + applicationId + "/apply2?from=unsubmitted"
      }) }}
    </div>
  </div>
{% endblock %}
