{% extends "_form.njk" %}

{% set parent = provider.name + " - " + course.name_and_code %}
{% set title = "Withdrawal" %}

{% block primary %}
  <p class="govuk-body">You can withdraw your application to <strong>{{ course.name_and_code }}</strong> by emailing us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
  <p class="govuk-body">We’ll contact your training provider and send you an email confirming that your application has been withdrawn.</p>
  <p class="govuk-body">You can get support with future applications by registering with <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>.</p>
  {# govukButton({
    classes: "govuk-button--warning",
    text: "Withdraw application"
  }) #}
{% endblock %}
