{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% set title = "Your degree" %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this degree awarded by an institution based in the UK?"
      }
    },
    items: [{
      value: "domestic",
      text: "Yes"
    }, {
      value: "international",
      text: "No"
    }]
  } | decorateApplicationAttributes(['qualifications', id, 'provenance'])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][category]",
    value: "degree"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
