{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% set title = (id | capitalize) + " GCSE or equivalent" %}

{% block primary %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Was this qualification awarded by an institution based in the UK?"
      }
    },
    items: [{
      value: "domestic",
      text: "Yes"
    }, {
      value: "international",
      text: "No"
    }, {
      value: "missing",
      text: "I don’t have this qualification yet"
    }]
  } | decorateApplicationAttributes(['qualifications', id, "provenance"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][category]",
    value: "gcse"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][subject]",
    value: (id | capitalize)
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
