{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% set title = (id | capitalize) + " GCSE or equivalent" %}

{% block primary %}
{% if international == true %}
<p class="govuk-body-l">If you studied for this qualification outside the UK, you will need to check that it is valid here.</p>
<p class="govuk-body">Enter the details of your qualification as they appear on your certificate, translating them into English if necessary.</p>
<h3 class="govuk-heading-s">Before you submit your application</h3>
<p class="govuk-body">Contact your chosen training provider to check their policy on non-UK qualifications. They may ask you to sit ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE) and recommend an equivalency testing centre.</p>
<p class="govuk-body">Consider registering at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA can tell you if your qualifications make you eligible for teacher training and how they corresponds to UK qualifications.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endif %}

{% if id == "science" and international != true %}
  <p class="govuk-body">To be eligible to teach at primary level, you need one science GCSE at a minimum of grade 4 in any subject (for example, Chemistry, Physics, Biology or Double Award Science).</p>
  <p class="govuk-body">If you have more than one science GCSE, choose one of your highest graded to enter here and add the rest in the ‘Other relevant qualifications’ section.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endif %}

{% if international == true %}
  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['qualifications', id, "type"])) }}
{% else %}
  {% set otherTypeHtml %}
    {{ govukInput({
      label: {
        text: "Please specify type of qualification"
      }
    } | decorateApplicationAttributes(['qualifications', id, "type-other"])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of qualification",
        classes: "govuk-label--s"
      }
    },
    items: [{
      text: "GCSE"
    }, {
      text: "GCE O Level"
    }, {
      text: "Scottish Higher"
    }, {
      text: "Other",
      conditional: {
        html: otherTypeHtml
      }
    }]
  } | decorateApplicationAttributes(['qualifications', id, "type"])) }}
{% endif %}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(['qualifications', id, "grade"])) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(['qualifications', id, "year"])) }}

{% if international == true %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?",
      classes: "govuk-label--s"
    },
    items: countries
  } | decorateApplicationAttributes(['qualifications', id, "country"])) }}
{% else %}
  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][country]",
    value: "United Kingdom"
  }) }}
{% endif %}

{% if international == true %}
  {{ govukInput({
    label: {
      text: "Awarding organisation?",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['qualifications', id, "award-org"])) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% set validateNaricHtml %}
    {{ govukInput({
      label: {
        text: "What UK qualification is your qualification comparable to?"
      }
    } | decorateApplicationAttributes(['qualifications', id, "naric-details"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you got a NARIC statement of comparability?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      html: "<a href=\"https://www.naric.org.uk/naric/Default.aspx/\">UK NARIC</a> gives advice on non-UK academic, vocational and professional qualifications. If you have applied to UK NARIC for a <a href=\"https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx/\">statement of comparability</a>, give details here."
    },
    items: [{
      text: "Yes",
      conditional: {
        html: validateNaricHtml
      }
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(['qualifications', id, "naric"])) }}
{% endif %}

  {# Override ‘missing’ subject #}
  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][missing]",
    value: ""
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% if international == true %}
{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data.applications[applicationId]["qualifications"][id]["country"] }}',
      selectElement: document.querySelector('#qualifications-{{ id }}-country')
    })
  </script>
{% endblock %}
{% endif %}
