{% extends "_content.njk" %}

{% set title = "Academic qualifications" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Enter your qualifications as completely as you can, including your GCSEs, A levels, and undergraduate and postgraduate degrees. You’ll be asked to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>confirm your basic eligibility for teacher training</li>
    <li>if you are still studying, give a predicted grade for your degree</li>
    <li>tell us about your other academic, vocational, practical and creative qualifications</li>
  </ul>
  <p class="govuk-body">Providers use this information to build a picture of your academic strengths and the broader contribution you’ll make to the school.</p>

  {{ govukButton({
    text: "Continue" ,
    href: "/application/" + applicationId + "/qualifications/add/gcse/maths"
  }) }}
{% endblock %}
