{% extends "_form.njk" %}

{% set parent = "Academic qualifications" %}
{% if action == "edit" %}
  {% set title = "Edit qualification" %}
  {% set buttonText = "Save changes" %}
{% else %}
  {% set title = "Add qualification" %}
  {% set buttonText = "Save and continue" %}
{% endif %}

{% block primary %}
{% set internationalQualification %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    items: countries
  } | decorateApplicationAttributes(['qualifications', id, "country"])) }}
{% endset -%}
  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, GCSE, A level, BTEC, NVQ or non-UK other, please specify"
    }
  } | decorateApplicationAttributes(['qualifications', id, "type"])) }}

  {{ govukInput({
    label: {
      text: "Subject",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['qualifications', id, "subject"])) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--s"
    }
  } | decorateApplicationAttributes(['qualifications', id, "institution"])) }}

  {{ govukInput({
    label: {
      text: 'Grade',
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-10"
  } | decorateApplicationAttributes(['qualifications', id, "grade"])) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(['qualifications', id, "year"])) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this a non-UK qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      text: "No"
    }]
  } | decorateApplicationAttributes(['qualifications', id, "international"])) }}

  {{ govukInput({
    type: "hidden",
    name: "applications[" + applicationId + "][qualifications][" + id + "][category]",
    value: "other"
  }) }}

  {{ govukInput({
    type: "hidden",
    name: "settings[has-other-qualifications]",
    value: "true"
  }) }}

{% if action != "edit" %}
  {{ govukButton({
    html: "Save and add another qualification",
    classes: "govuk-button--secondary",
    attributes: {
      formaction: "/application/" + applicationId + "/qualifications/add/other"
    }
  }) }}
{% endif %}

  {{ govukButton({
    text: buttonText
  }) }}
{% endblock %}
{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ data["qualifications"][id]["country"] }}',
      selectElement: document.querySelector('#qualifications-{{ id }}-country')
    })
  </script>
{% endblock %}
