{% extends "_form-wide.njk" %}
{% set applicationPath = '/application/' + applicationId %}
{% set title = "Academic qualifications" %}
{% set categoryCaptionSize = "m" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: applicationBreadcrumbItems
  }) }}
{% endblock %}

{% block primary %}
  {% set referrer = applicationPath + "/qualifications/review" %}

  {% set category = "gcse" %}
  {% set categoryTitle = "Required subjects" %}
  {% include "_includes/review-qualifications.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukCharacterCount({
        label: {
          text: "Is there anything you’d like to tell us about your qualifications (optional)?",
          classes: "govuk-label--m"
        },
        hint: {
          html: "Tell us about any special circumstances related to your qualifications here. For example, you can explain how you plan to fill any gaps in your eligibility requirements or validate non-UK qualifications. For advice on missing qualifications, contact your chosen training provider or <a href=\"https://getintoteaching.education.gov.uk/get-help-and-support/\">Get into Teaching</a>."
        },
        maxwords: 200,
        rows: 12
      } | decorateApplicationAttributes(['qualifications', 'additional'])) }}
    </div>
  </div>

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
