{% extends "_layout.njk" %}

{% block content %}
  {% block beforePageTitle %}{% endblock %}
  {% block beforePrimary %}
    {% if title %}
      <h1 class="govuk-heading-xl">
        {% if parent %}<span class="govuk-caption-xl">{{ parent }}</span>{% endif %}
        {{ title | safe }}
      </h1>
    {% endif %}
  {% endblock %}
  {% block primary %}
  {% endblock %}
{% endblock %}
