{% extends "layout.html" %}

{% block content %}
  {% block beforePageTitle %}{% endblock %}

  {% block beforePrimary %}
    {% if title %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {% if parent %}<span class="govuk-caption-xl">{{ parent }}</span>{% endif %}
          {{ title | safe }}
        </h1>
      </div>
    </div>
    {% endif %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block primary %}
      {% endblock %}
    </div>
    {% if hasSecondary %}
    <div class="govuk-grid-column-one-third">
      {% block secondary %}
      {% endblock %}
    </div>
    {% endif %}
  </div>
{% endblock %}
