{% extends "_layout.njk" %}

{% set labelHtml %}
  {% if parent %}<span class="govuk-caption-l">{{ parent }}</span>{% endif %}
  {{ title }}
{% endset %}

{% set label = {
  classes: "govuk-label--l",
  html: labelHtml,
  isPageHeading: true
} %}

{% block content %}
  {% block beforePageTitle %}{% endblock %}
  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block primary %}{% endblock %}
      </div>
      {% if hasSecondary %}
      <div class="govuk-grid-column-one-third">
        {% block secondary %}{% endblock %}
      </div>
      {% endif %}
    </div>
  </form>
{% endblock %}
