{% extends "_layout.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <form class="govuk-grid-column-two-thirds" action="{{ formAction | default('#') }}" method="post">
  {% set legendHtml %}
    {% if parent %}
      <span class="govuk-caption-xl">{{ parent }}</span> {{ title }}
    {% else %}
      {{ title }}
    {% endif %}
  {% endset %}
  {% call govukFieldset({
    legend: {
      html: legendHtml,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}
    {% block primary %}
    {% endblock %}
  {% endcall %}
  </form>
  {% if hasSecondary %}
  <div class="govuk-grid-column-one-third">
    {% block secondary %}
    {% endblock %}
  </div>
  {% endif %}
</div>
{% endblock %}
