{% extends "_layout.njk" %}

{% block content %}
  {% block beforePageTitle %}{% endblock %}
  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set legendHtml %}
          {% if parent %}<span class="govuk-caption-xl">{{ parent }}</span>{% endif %}
          {{ title | safe }}
        {% endset %}
        {% call govukFieldset({
          legend: {
            html: legendHtml,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6",
            isPageHeading: true
          }
        }) %}
          {% block primary %}{% endblock %}
        {% endcall %}
      </div>
      {% if hasSecondary %}
      <div class="govuk-grid-column-one-third">
        {% block secondary %}{% endblock %}
      </div>
      {% endif %}
    </div>
  </form>
{% endblock %}
