{% extends "_layout.html" %}

{% block content %}
  {% block beforePageTitle %}{% endblock %}
  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block formBody %}
          {% set legendHtml %}
            {% if parent %}<span class="govuk-caption-l">{{ parent }}</span>{% endif %}
            {{ title | safe }}
          {% endset %}
          {% call govukFieldset({
            legend: {
              html: legendHtml,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            },
            describedBy: describedBy if describedBy,
            attributes: {
              "data-module": "clear-hidden"
            }
          }) %}
            {% block primary %}{% endblock %}
          {% endcall %}
        {% endblock %}
      </div>
      {% if hasSecondary %}
      <div class="govuk-grid-column-one-third">
        {% block secondary %}{% endblock %}
      </div>
      {% endif %}
    </div>
  </form>
{% endblock %}
