{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{% set assetPath = "/govuk/assets" %}

{#- Hide cookie message -#}
{% set shouldShowCookieMessage = false %}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% from "_components/autocomplete/macro.njk"   import appAutocomplete %}
{% from "_components/banner/macro.njk"         import appBanner %}
{% from "_components/cookie-banner/macro.njk"  import appCookieBanner %}
{% from "_components/footer/macro.njk"         import appFooter %}
{% from "_components/icon/macro.njk"           import appIcon %}
{% from "_components/related/macro.njk"        import appRelated %}
{% from "_components/summary-card/macro.njk"   import appSummaryCard %}
{% from "_components/task-list/macro.njk"      import appTaskList %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {% if shouldShowCookieMessage %}
  {{ appCookieBanner({
    text: cookieText
  })}}
  {% endif %}

  {% if applicationValue(["candidate", "given-name"]) %}
    {% set signOutText = "Sign out (" + applicationValue(["candidate", "given-name"]) + " " + applicationValue(["candidate", "family-name"]) + ")" %}
  {% else %}
    {% set signOutText = "Sign out" %}
  {% endif %}

  {% if data.token %}
    {% if applicationValue(["status"]) == "started" %}
      {% set serviceUrl = "/application/" + applicationId %}
    {% else %}
      {% set serviceUrl = "/applications" %}
    {% endif %}
  {% else %}
    {% set serviceUrl = "/" %}
  {% endif %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    containerClasses: "govuk-width-container",
    navigation: [{
      href: "/account/sign-out",
      text: signOutText
    } if data.token, {
      href: "/account/sign-in",
      text: "Sign in"
    } if not data.token] if hasAccountLinks != false
  }) }}
{% endblock %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block beforeContent %}
  {% if showPhaseBanner != false %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: "This is a prototype of a new service. Some parts may not work yet."
    }) }}
  {% endif %}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set metaHtml %}
  <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
    <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
    <li>We respond within 5 working days, or one working day for more urgent queries</li>
  </ul>
{% endset %}

{% block footer %}
  {{ appFooter({
    classes: "govuk-footer--app",
    meta: {
      title: "Get support",
      html: metaHtml,
      items: [{
        href: "/admin",
        text: "Prototype admin"
      }, {
        href: "/admin/clear-data",
        text: "Clear data"
      }, {
        href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=1",
        text: "v1"
      } if providerCode and courseCode, {
        href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=2",
        text: "v2"
      } if providerCode and courseCode, {
        href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=3",
        text: "v3"
      } if providerCode and courseCode]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  </div>

  {% block scripts %}
    {{ data | log }}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
