{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{% set assetPath = "/govuk/assets" %}
{% set htmlClasses = "git-template" %}
{% set bodyClasses = "git-template__body" %}
{% set mainClasses = "git-main-wrapper" %}

{% extends "govuk/template.njk" %}

{% block pageTitle %}
  {% if title %}{{ title }} | {% endif %}Get Into Teaching
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/git.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block header %}{% endblock %}

{% block beforeContent %}
  <header class="git-header">
    {% include "_includes/git/logo.svg" %}
    <p class="git-header__tagline">Get into teaching with support and advice from the Department for Education.</p>
  </header>
  <nav class="git-navigation">
    <ul class="govuk-list">
      <li>Home</li>
      <li>Eligibility</li>
      <li>Explore my options</li>
      <li>Funding my training</li>
      <li>Get help and support</li>
      <li>How to apply</li>
      <li>Life as a teacher</li>
      <li>School experience</li>
      <li>Teachers’ salary</li>
      <li>Teaching events</li>
    </ul>
  </nav>
{% endblock %}

{% block footer %}{% endblock %}