{% extends "layouts/main.html" %}

{% set title = "How applications work" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">How the application process works</h2>

      <p class="govuk-body">Most teacher training courses are one year and start in September when the academic year in England starts. Part time courses are usually 2 years.</p>

      <h2 class="govuk-heading-m">The application process for courses starting in September 2023</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date and time</th>
              <th scope="col" class="govuk-table__header">What happens</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">4&nbsp;October&nbsp;2022 at 9am</td>
              <td class="govuk-table__cell">You can start to <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">find postgraduate teacher training courses</a> you might want to apply to.</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">11&nbsp;October&nbsp;2022 at 9am</td>
              <td class="govuk-table__cell">You can start submitting your applications to training providers.<br><br>You can add 4 course choices to your application.</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">11 October 2022 to <br>1 July 2023</td>
             <td class="govuk-table__cell">Once you submit your application, the providers you apply to will have 40 working days to make a decision.<br><br>You’ll have 20 working days to make a decision on any offer. <br><br>If you decline any offers, or withdraw an application, you can continue to apply to other providers.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 July 2024 to <br>17&nbsp;September&nbsp;2024</th>
              <td class="govuk-table__cell">Applications are still open. The time for training providers to make a decision on any application before it becomes inactive reduces from 40 working days to 20 working days.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">17 September 2024, 6pm</th>
              <td class="govuk-table__cell">Application deadline<br>You should submit all your applications by this date to be accepted onto a course starting in September 2024.</td>
            </tr>
                <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">25 September 2024</th>
              <td class="govuk-table__cell">A final decision is made on all open applications.</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
