{% extends "layouts/main.html" %}

{% set title = "How applications work" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application",
    text: "Back to application"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">How the application process works</h1>

      <p class="govuk-body">Most teacher training courses are one year and start in September when the academic year in England starts. Part time courses are usually 2 years.</p>

      <h2 class="govuk-heading-m">The application process for courses starting in September 2023</h2>

      <p class="govuk-body">You can start applying for courses a year before they start. For courses starting in September 2023, you can start applying in October 2022.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date and time</th>
              <th scope="col" class="govuk-table__header">What happens</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">4&nbsp;October&nbsp;2022 at 9am</td>
              <td class="govuk-table__cell">You can start to <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">find postgraduate teacher training courses</a> you might want to apply to.</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">11&nbsp;October&nbsp;2022 at 9am</td>
              <td class="govuk-table__cell">You can submit your application to training providers.<br><br>You can apply to 4 courses and each course will be treated as a different application.<br><br>You should make sure each course you choose is to a different training provider so you can have a better chance of success.<br><br>Training providers will have 40 working days to decide to offer you a place on a course you applied to. If they do not respond in time, your application will become unsuccessful.<br><br>If all your applications become unsuccessful, you can apply to any courses again.<br><br>You will have 20 working days to respond to any offers you receive. If you do not respond, the offer will be automatically declined.</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">9 December 2022 to <br>6 January 2023</td>
             <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">27 March 2023 to <br>10&nbsp;April&nbsp;2023</td>
              <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">1 July 2023</td>
              <td class="govuk-table__cell">The time training providers have to make a decision about your application is reduced from 40 working days to 20 working days.</td>
            </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell">5 September 2023 at 6pm</td>
              <td class="govuk-table__cell">If you have not already applied between October 2022 and this date, you will not be able to apply after 5 September 2023.<br><br> If you've already applied, but your applications were unsuccessful, you can continue to submit new applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">19 September 2023 at 6pm</td>
              <td class="govuk-table__cell">This is the last day you can apply for courses starting in September 2023.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">27 September 2023 at 11:59pm</td>
              <td class="govuk-table__cell">Training providers need to make a decision on all applications for courses starting in September 2023.</td>
            </tr>
          </tbody>
        </table>

   <h2>Continuous application process</h2>

       <h1 class="govuk-heading-l">How the application process works</h1>

      <p class="govuk-body">Most teacher training courses are one year and start in September when the academic year in England starts. Part time courses are usually 2 years.</p>

      <h2 class="govuk-heading-m">The application process for courses starting in September 2024</h2>

      <p class="govuk-body">You can start applying for courses a year before they start. For courses starting in September 2023, you can start applying in October 2023.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date and time</th>
              <th scope="col" class="govuk-table__header">What happens</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">3&nbsp;October&nbsp;2023 at 9am</td>
              <td class="govuk-table__cell">You can start to <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">find postgraduate teacher training courses</a> you might want to apply to.</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">10&nbsp;October&nbsp;2023 at 9am</td>
              <td class="govuk-table__cell">You can start submitting your applications to training providers.<br><br>You can submit up to 4 applications at a time. You should make sure each course you choose is to a different training provider so you can have a better chance of success.<br><br>You can withdraw an application at any time and apply to a different training provider if you want to.<br><br>Training providers will have 40 working days to decide to offer you a place on a course. If they do not respond in time, you'll be able to submit another application while you wait for a response. We'll tell you if the provider has not responded in time.<br><br>We'll tell you when you receive an offer from a training provider, so you can respond.</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">18 December 2022 to <br>5 January 2024</td>
             <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">17 March 2024 to <br>1&nbsp;April&nbsp;2024</td>
              <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">1 July 2024</td>
              <td class="govuk-table__cell">The time training providers have to make a decision about your application is reduced from 40 working days to 20 working days.</td>
            </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell">3 September 2024 at 6pm</td>
              <td class="govuk-table__cell">If you have not already applied for teacher training, you will not be able to apply after 3 September 2024.<br><br> If you've already applied, but your applications were unsuccessful, you can continue to submit new applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">17 September 2024 at 6pm</td>
              <td class="govuk-table__cell">This is the last day you can apply for courses starting in September 2024.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25 September 2024 at 11:59pm</td>
              <td class="govuk-table__cell">Training providers need to make a decision on all applications for courses starting in September 2023.</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
