{% extends "_content.html" %}

{% set title = "Make a complaint about this service" %}
{% set hasAccountLinks = false %}

{% block primary %}
  <p class="govuk-body">The Department for Education is committed to providing a high level of customer service, and takes complaints seriously. Letting us know if something is wrong means we can fix it and improve the service for everyone.</p>

  <h2 class="govuk-heading-m">Giving feedback</h2>
  <p class="govuk-body">If you have feedback about the service, or want to give suggestions for improvement, you can email us as <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacer@digital.education.gov.uk</a>.</p>

  <h2 class="govuk-heading-m">How to make a complaint</h2>
  <p class="govuk-body">To make a complaint about the Apply for teacher training service, please <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdkaYmy03JP0s9gxfEOkBMvMwNuU7IYO_MLwFONg5GdVFBuFg/viewform">complete our complaints form</a>.</p>

  <h2 class="govuk-heading-m">How we’ll respond</h2>
  <p class="govuk-body">Our support team will respond to your complaint within 5-7 working days.</p>
  <p class="govuk-body">If we need more time to complete our investigation we’ll get in touch, and keep you updated regularly.</p>
{% endblock %}
