{% extends "layouts/main.html" %}

{% set title = "Apply for teacher training" %}
{% set hasAccountLinks = false %}
{% set hasSecondary = true %}
{% set showPhaseBanner = false %}
{% set serviceName = false %}
{% set signedIn = false %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
    }, {
      text: "Education and learning",
      href: "https://www.gov.uk/browse/education"
    }, {
      text: "Universities and higher education",
      href: "https://www.gov.uk/browse/education/universities-higher-education"
    }]
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Apply for teacher training</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Use this service to apply for a postgraduate teacher training course to teach in a state primary or secondary school, or in further education.</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">This service is for courses in England. Learn more about teacher training in <a href="https://www.discoverteaching.wales/routes-into-teaching/">Wales</a>, <a href="https://teachinscotland.scot/">Scotland</a> and <a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a>.</p>
      </div>

      <p class="govuk-body">You can save your application and come back to it at any time.</p>

      {{ govukButton({
        classes: "govuk-!-margin-bottom-8",
        text: "Start now",
        href: "/account",
        isStartButton: true
      }) }}

      <!--

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">Check what qualifications you’ll need. You’ll also need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">confirm you have the health and physical capacity to start training</li>
        <li class="govuk-body">get a Disclosure and Barring Service (DBS) certificate if you’re teaching students under 18</li>
      </ul>

      <h3 class="govuk-heading-s">Primary and secondary postgraduate teacher training</h3>
      <p class="govuk-body">You’ll need the following or equivalents:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">a degree</li>
        <li class="govuk-body">grade 4 (C) or above in English and maths GCSEs</li>
        <li class="govuk-body">grade 4 (C) or above in GCSE science if you want to teach primary</li>
      </ul>
      <p class="govuk-body">If you do not have GCSE grade 4 (C), you’ll need to show that you can meet an equivalent level. The training provider may ask you to take an equivalence test or show other evidence of your ability.</p>

      <h3 class="govuk-heading-s">Further education postgraduate teacher training</h3>
      <p class="govuk-body">Training providers usually prefer you to have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">a degree, or relevant vocational or technical qualification</li>
        <li class="govuk-body">grade 4 (C) or above in English and maths GCSEs (or equivalent)</li>
      </ul>

      <h2 class="govuk-heading-m">Get advice and support</h2>
      <p class="govuk-body">You can <a href="https://getintoteaching.education.gov.uk/">register with Get Into Teaching</a>, the Department for Education’s free support and advice service.</p>

      <p class="govuk-body">A specialist adviser will help you prepare your application and advise you on funding options (including loans and tax-free bursaries and scholarships). You can also book school experience and access teaching events.</p>

      <h3 class="govuk-heading-s">If you studied overseas</h3>
      <p class="govuk-body">You can <a href="https://www.enic.org.uk/Qualifications/SOC/Default.aspx">get a statement from UK ENIC (the UK agency for international qualifications and skills)</a> that shows how your qualifications compare to UK qualifications. Some training providers may ask to see it as part of your application.</p>
      <p class="govuk-body">Find out how to <a href="https://getintoteaching.education.gov.uk/train-to-teach-in-england-as-an-international-student">train to teach in England as an international student</a>.</p>

      <h3 class="govuk-heading-s">If you’re disabled or have a health condition</h3>
      <p class="govuk-body">Email <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a> if you need extra support with your application.</p>

      <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability">Find out how training providers can support you if you’re disabled</a>. They may be able to make adjustments for the interview stages of the application and throughout the course.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div  class="govuk-!-padding-top-4" style="border-top: 2px solid #1d70b8;">
        <h2 class="govuk-heading-s">Related content</h2>

        <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">Find postgraduate teacher training course</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-3">

        <h3 class="govuk-body-s">Collection</h3>

        <a href="https://www.gov.uk/government/collections/non-uk-teachers-and-trainees" class="govuk-link govuk-!-font-weight-bold">Non-UK teachers and trainees</a>
      </div>
      -->

      <h2 class="govuk-heading-m">How the teacher training application process works for courses starting in September 2024</h2>

      <p class="govuk-body">Most teacher training courses are one year and start in September when the academic year in England starts. Part time courses are usually 2 years.</p>

      <p class="govuk-body">You can start applying for courses a year before they start. For courses starting in September 2024, you can start applying in October 2023.</p>
      <br>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date and time</th>
              <th scope="col" class="govuk-table__header">What happens</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">3&nbsp;October&nbsp;2023 at 9am</td>
              <td class="govuk-table__cell">You can start to <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">find postgraduate teacher training courses</a> you might want to apply to.</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell">10&nbsp;October&nbsp;2023 at 9am</td>
              <td class="govuk-table__cell">You can start submitting your applications to training providers.<br><br>You can submit up to 4 applications at a time. You should make sure each course you choose is to a different training provider so you can have a better chance of success.<br><br>You can withdraw an application at any time and apply to a different training provider if you want to.<br><br>Training providers will have 40 working days to decide to offer you a place on a course. If they do not respond in time, you'll be able to submit another application while you wait for a response. We'll tell you if the provider has not responded in time.<br><br>We'll tell you when you receive an offer from a training provider, so you can respond.</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">18 December 2022 to <br>5 January 2024</td>
             <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">17 March 2024 to <br>1&nbsp;April&nbsp;2024</td>
              <td class="govuk-table__cell">This period is not included in the ‘40 working days’ that training providers have to make a decision on your applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">1 July 2024</td>
              <td class="govuk-table__cell">The time training providers have to make a decision about your application is reduced from 40 working days to 20 working days.</td>
            </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell">3 September 2024 at 6pm</td>
              <td class="govuk-table__cell">If you have not already applied for teacher training, you will not be able to apply after 3 September 2024.<br><br> If you've already applied, but your applications were unsuccessful, you can continue to submit new applications.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">17 September 2024 at 6pm</td>
              <td class="govuk-table__cell">This is the last day you can apply for courses starting in September 2024.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25 September 2024 at 11:59pm</td>
              <td class="govuk-table__cell">Training providers need to make a decision on all applications for courses starting in September 2023.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Get advice and support</h2>
      <p class="govuk-body">You can <a href="https://getintoteaching.education.gov.uk/">register with Get Into Teaching</a>, the Department for Education’s free support and advice service.</p>

      <p class="govuk-body">A specialist adviser will help you prepare your application and advise you on funding options (including loans and tax-free bursaries and scholarships). You can also book school experience and access teaching events.</p>

    </div>
  </div>
{% endblock %}
