{% extends "_content.njk" %}

{% set title = serviceName %}
{% set hasSecondary = true %}
{% set isExternal = true %}

{% block primary %}
  <p class="govuk-body-l">Apply for postgraduate teacher training is a new GOV.UK service being trialled with a small number of training providers, including the one you have selected.</p>
  <p class="govuk-body">Use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>apply to your chosen course and other providers who have opted in to the trial</li>
    <li>be enrolled in the same way as any other candidate, if you're successful</li>
    <li>get support from the Department for Education (DfE) when you apply</li>
    <li>tailor your application to suit different providers</li>
  </ul>

  {{ govukButton({
    text: "Create an account",
    href: "/account/create-account",
    classes: "govuk-button--start"
  }) }}

  <p class="govuk-body">If you already have an account, please <a href="/account/sign-in">Sign in</a></p>
{% endblock %}

{% block secondary %}
  {% set eligibilityHtml %}
    <p class="govuk-body-s">To be eligible for teacher training, you need&nbsp;a:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body-s">UK degree (or non-UK equivalent)</li>
      <li class="govuk-body-s">GCSE in maths, grade 4 (previously grade C)</li>
      <li class="govuk-body-s">GCSE in English, grade 4 (previously grade C)</li>
    </ul>
    <p class="govuk-body-s">To teach at primary school, you also need a minimum grade 4 GCSE in science.</p>
    <p class="govuk-body-s">You can learn more about eligibility at <a href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training">Get into Teaching</a>.</p>
  {% endset %}
  {{ appRelated ({
    title: "Eligibility",
    name: "eligibility",
    content: {
      html: eligibilityHtml
    }
  }) }}
{% endblock %}
