{% extends "_content.njk" %}

{% set title = serviceName %}
{% set hasSecondary = true %}

{% block primary %}
  {% set insetHtml %}
    <p class="govuk-body">If you’re not looking for courses in England, learn about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.discoverteaching.wales/routes-into-teaching/">training in Wales</a></li>
      <li><a href="https://teachinscotland.scot">training in Scotland</a></li>
      <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">training in Northern Ireland</a></li>
    </ul>
  {% endset %}

  <p class="govuk-body-l">{{ serviceName}} is a new service that being testing with a few teacher training providers in England.</p>
  {{ govukInsetText({
    html: insetHtml
  }) }}

  <h2 class="govuk-heading-l">What you need to know before you&nbsp;start</h2>

  <h3 class="govuk-heading-m">You need certain qualifications </h3>
  <p class="govuk-body">You need these qualifications (or their non-UK equivalents):</p>
  <ul class="govuk-list govuk-list--bullet">
    <li class="govuk-body">a degree</li>
    <li class="govuk-body">grade 4 (C) or above in English and maths GCSEs</li>
    <li class="govuk-body">grade 4 (C) or above in GCSE science if you want to teach primary</li>
  </ul>
  <p>If you don’t have a degree, you may still be able to teach. <a href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training">Learn more about eligibility for teacher training</a>.</p>

  <h3 class="govuk-heading-m">You may be asked some questions about your health</h3>
  <p class="govuk-body">Your training provider may need to ask some relevant questions about your health to check you’re able to teach.</p>
  <p class="govuk-body">However, it’s unlawful to discriminate against you if you’re disabled and you don’t have to disclose a disability. <a href="https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability">Learn more about training to teach if you have a disability</a>.</p>

  <h3 class="govuk-heading-m">You will need to have a criminal record check</h3>
  <p class="govuk-body">You will need to have a criminal record check and your name will be checked against a list of people who’ve been banned from working with children.</p>
  <p class="govuk-body">Not all convictions will stop you from teaching. <a href="https://www.gov.uk/exoffenders-and-employment">Talk to your provider about their policy on criminal convictions</a>.</p>

  <h3 class="govuk-heading-m">You can only apply for 3 courses and accept one offer</h3>
  <p class="govuk-body">You can only apply for 3 courses and accept one offer even if you’re using both Apply for teacher training and UCAS Teacher Training.</p>
  <p class="govuk-body">If your application isn’t successful or you’re not happy with your offers, we’ll support you to apply for more courses.</p>

  <h3 class="govuk-heading-m">You will have to declare that what you’ve said is true</h3>
  <p class="govuk-body">Before you submit your application we’ll ask you to confirm that the information you’ve given is true, complete and accurate.</p>

  {{ govukButton({
    text: "Start now",
    href: "/account/eligibility",
    isStartButton: true,
    classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-3"
  }) }}
  <p class="govuk-body">If you have teacher training applications in progress, please <a href="/account/sign-in">sign in</a></p>
{% endblock %}
