{% extends "layouts/main.html" %}

{% set title = "Apply for teacher training" %}
{% set hasAccountLinks = false %}
{% set hasSecondary = true %}
{% set showPhaseBanner = false %}
{% set serviceName = false %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
    }, {
      text: "Education and learning",
      href: "https://www.gov.uk/browse/education"
    }, {
      text: "Universities and higher education",
      href: "https://www.gov.uk/browse/education/universities-higher-education"
    }]
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Apply for teacher training</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Use this service to apply for a postgraduate teacher training course to teach in a state primary or secondary school, or in further education.</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">This service is for courses in England. Learn more about teacher training in <a href="https://www.discoverteaching.wales/routes-into-teaching/">Wales</a>, <a href="https://teachinscotland.scot/">Scotland</a> and <a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a>.</p>
      </div>

      <p class="govuk-body">You can save your application and come back to it at any time.</p>

      {{ govukButton({
        classes: "govuk-!-margin-bottom-8",
        text: "Start now",
        href: "/account",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">Check what qualifications you’ll need. You’ll also need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">confirm you have the health and physical capacity to start training</li>
        <li class="govuk-body">get a Disclosure and Barring Service (DBS) certificate if you’re teaching students under 18</li>
      </ul>

      <h3 class="govuk-heading-s">Primary and secondary postgraduate teacher training</h3>
      <p class="govuk-body">You’ll need the following or equivalents:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">a degree</li>
        <li class="govuk-body">grade 4 (C) or above in English and maths GCSEs</li>
        <li class="govuk-body">grade 4 (C) or above in GCSE science if you want to teach primary</li>
      </ul>
      <p class="govuk-body">If you do not have GCSE grade 4 (C), you’ll need to show that you can meet an equivalent level. The training provider may ask you to take an equivalence test or show other evidence of your ability.</p>

      <h3 class="govuk-heading-s">Further education postgraduate teacher training</h3>
      <p class="govuk-body">Training providers usually prefer you to have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">a degree, or relevant vocational or technical qualification</li>
        <li class="govuk-body">grade 4 (C) or above in English and maths GCSEs (or equivalent)</li>
      </ul>

      <h2 class="govuk-heading-m">Get advice and support</h2>
      <p class="govuk-body">You can <a href="https://getintoteaching.education.gov.uk/">register with Get Into Teaching</a>, the Department for Education’s free support and advice service.</p>

      <p class="govuk-body">A specialist adviser will help you prepare your application and advise you on funding options (including loans and tax-free bursaries and scholarships). You can also book school experience and access teaching events.</p>

      <h3 class="govuk-heading-s">If you studied overseas</h3>
      <p class="govuk-body">You can <a href="https://www.enic.org.uk/Qualifications/SOC/Default.aspx">get a statement from UK ENIC (the UK agency for international qualifications and skills)</a> that shows how your qualifications compare to UK qualifications. Some training providers may ask to see it as part of your application.</p>
      <p class="govuk-body">Find out how to <a href="https://getintoteaching.education.gov.uk/train-to-teach-in-england-as-an-international-student">train to teach in England as an international student</a>.</p>

      <h3 class="govuk-heading-s">If you’re disabled or have a health condition</h3>
      <p class="govuk-body">Email <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a> if you need extra support with your application.</p>

      <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/train-to-teach-with-a-disability">Find out how training providers can support you if you’re disabled</a>. They may be able to make adjustments for the interview stages of the application and throughout the course.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div  class="govuk-!-padding-top-4" style="border-top: 2px solid #1d70b8;">
        <h2 class="govuk-heading-s">Related content</h2>

        <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="govuk-link">Find postgraduate teacher training course</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-3">

        <h3 class="govuk-body-s">Collection</h3>

        <a href="https://www.gov.uk/government/collections/non-uk-teachers-and-trainees" class="govuk-link govuk-!-font-weight-bold">Non-UK teachers and trainees</a>
      </div>
    </div>
  </div>
{% endblock %}
