{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{% set assetPath = "/govuk/assets" %}

{#- Hide cookie message -#}
{% set shouldShowCookieMessage = false %}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "_components/autocomplete/macro.html" import appAutocomplete %}
{% from "_components/cookie-banner/macro.html" import appCookieBanner %}
{% from "_components/footer/macro.html" import appFooter %}
{% from "_components/feedback/macro.html" import appFeedback %}
{% from "_components/icon/macro.html" import appIcon %}
{% from "_components/related/macro.html" import appRelated %}
{% from "_components/suggestion/macro.html" import appSuggestion %}
{% from "_components/summary-card/macro.html" import appSummaryCard %}
{% from "_components/task-list/macro.html" import appTaskList %}

{% block head %}
  {% include "_includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  {% if serviceName %}
    {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
  {% else %}
    {% if title %}{{ title }} - {% endif %}GOV.UK
  {% endif %}
{% endblock %}

{% block header %}
  {% if shouldShowCookieMessage %}
    {{ appCookieBanner({
      text: cookieText
    })}}
  {% endif %}

  {% set accountEmail = data.applications[applicationId].account.email or data.account.email %}

  {% if applicationId %}
    {% if applicationValue(["status"]) == "started" %}
      {% set serviceUrl = "/application/" + applicationId %}
    {% else %}
      {% set serviceUrl = "/dashboard/" + applicationId %}
    {% endif %}
  {% else %}
    {% set serviceUrl = "/" %}
  {% endif %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    containerClasses: "govuk-width-container",
    navigation: [{
      text: accountEmail
    }, {
      href: "/account/sign-out",
      text: "Sign out"
    }] if accountEmail and hasAccountLinks != false
  }) }}
{% endblock %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) if showPhaseBanner != false }}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block footer %}
  {% block beforeFooter %}
  {% endblock %}

  {% set metaHtml %}
    <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
      <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
      <li>We respond within 5 working days, or one working day for more urgent queries</li>
    </ul>
  {% endset %}

  {{ appFooter({
    meta: {
      title: "Get support",
      html: metaHtml,
      items: [{
        href: "/admin",
        text: "Admin"
      }, {
        href: "/admin/clear-data",
        text: "Clear data"
      },
      {
        href: "/dashboard/45678/offer-received",
        text: "Receive offer"
      },
      {
        href: "/admin/complete-ske-course?applicationId=" + applicationId,
        text: "Complete SKE course"
      }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  </div>

  {% block scripts %}
    {{ data | log }}
    {% include "_includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
