{% extends "_content.njk" %}

{% set title = serviceName %}
{% set hasSecondary = true %}

{% block primary %}
  <p class="govuk-body-l">{{ serviceName }} is a new GOV.UK service being trialled with a small number of training providers in England.</p>
  {{ govukInsetText({
    html: "Learn more about teacher training in <a href=\"https://www.discoverteaching.wales/routes-into-teaching/\">Wales</a>, <a href=\"https://teachinscotland.scot/\">Scotland</a> and <a href=\"https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland\">Northern Ireland</a>"
  }) }}

  <h2 class="govuk-heading-m">Already have a {{serviceName }} account with us?</h2>
  <p class="govuk-body">Please <a href="/account/sign-in">sign in and continue your application</a>.</p>

  <h2 class="govuk-heading-m">First visit to Apply for teacher training?</h2>
  <p class="govuk-body">We’re sorry, but this service isn’t ready for any more new candidates at the moment.</p>
  <p class="govuk-body">You can still apply to all teacher training courses and training providers through UCAS.</p>
  {{ govukButton({
    text: "Apply through UCAS",
    href: "https://2020.teachertraining.apply.ucas.com/apply/student/login.do"
  }) }}
{% endblock %}
