{% extends "_content.njk" %}

{% set title = "Terms and conditions" %}

{% block primary %}
  <p class="govuk-body">Thank you for using Apply for teacher training, run by the Department for Education (DfE). Please check you are happy with our terms of use for the service.</p>
  <ol class="govuk-list govuk-list--number">
    <li>DfE will respond to email enquiries regarding your application form within 1 working day.</li>
    <li>We can’t provide support over the weekend.</li>
    <li>As prospective teachers, all candidates must consent to an enhanced DBS check. This will show up any past criminal convictions, both spent and unspent. Some convictions, <a href="https://www.gov.uk/exoffenders-and-employment">even if they are spent</a>, will disbar you from teaching.</li>
    <li>Before you submit your form, you’ll be asked to confirm that the information you’ve given is true, complete and accurate.</li>
    <li>You can only apply to three courses in total. This is the case even if you’re submitting applications through both Apply for teacher training and UCAS.</li>
    <li>If you are rejected by your chosen provider(s), you will not be able to reapply to the same course(s) (either through UCAS or Apply for teacher training) in the same year. You are free to reapply to the same course in subsequent years.</li>
    <li>You will still be eligible to apply to other courses available through UCAS if you haven’t already applied to three courses. If you <a href="https://www.ucas.com/postgraduate/teacher-training/ucas-teacher-training-apply-and-track">apply via UCAS</a>, your application will be subject to the terms and conditions set by UCAS.</li>
  </ol>
  <p class="govuk-body-s">Last updated: 17 October 2019</p>
{% endblock %}
