{% extends "_content.njk" %}

{% set title = "Terms and conditions" %}

{% block primary %}
  <p class="govuk-body">Thank you for using Apply for teacher training, a digital service run by the Department for Education.</p>
  <p class="govuk-body">Using Apply for teacher training means you agree to these terms of use.</p>

  <h2 class="govuk-heading-l">How to apply for teacher training courses</h2>
  <h3 class="govuk-heading-m">Stage one: submitting your initial application(s)</h3>
  <p class="govuk-body">You can apply for up to three courses through Apply for teacher training at this stage. You can also apply to three courses through UCAS if you want to. You can only accept one offer, even if you use both services.</p>

  <h3 class="govuk-heading-m">Stage two: trying again if you’re unsuccessful</h3>
  <p class="govuk-body">You can apply for more courses at this stage if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you’re rejected by all of your choices</li>
    <li>you decline all the offers you receive</li>
    <li>you withdraw your application from all of your choices</li>
  </ul>
  <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/get-help-and-support">Get Into Teaching</a> can guide you through the process of applying for more courses. Contact them on Freephone 0800 389 2500, or <a href="https://getintoteaching.education.gov.uk/lp/live-chat">chat to an adviser using the online chat service</a>.</p>

  <h3 class="govuk-heading-m">Making changes to your application</h3>
  <p class="govuk-body">You have five working days to make any changes after submitting your application. You can sign back in to do this only once. You may want to add more courses if you haven’t already reached your limit of three, or amend your course choices.</p>
  <p class="govuk-body">You can sign back in to change your name or contact details at any point, up until enrolment. We’ll pass this information on to the training provider(s).</p>

  <h3 class="govuk-heading-m">Withdrawing your application</h3>
  <p class="govuk-body">You can withdraw your application to course(s) at any point, even after you've accepted an offer. Sign into your account and click ‘withdraw’ next to the course(s) you want to withdraw. We'll let your training provider(s) know.</p>

  <h3 class="govuk-heading-m">Declaring that what you’ve said is true</h3>
  <p class="govuk-body">Before you submit your application we’ll ask you to confirm that the information you’ve given is true, complete and accurate.</p>

  <h2 class="govuk-heading-l">How we check your suitability for working with children</h2>
  <p class="govuk-body">All candidates must agree to have an enhanced DBS check. This will show up any spent or unspent criminal convictions.</p>
  <p class="govuk-body">Not all convictions will stop you from teaching. <a href="https://www.gov.uk/exoffenders-and-employment">Talk to your training provider about their policy on criminal convictions</a>.</p>
  <p class="govuk-body">Your name will also be checked against a DBS list of people who have been barred from working with children.</p>

  <h2 class="govuk-heading-l">How we use your personal data</h2>
  <p class="govuk-body">If you apply for teacher training through our service we will collect personal data to process your application, build a better teacher training application process and get insight to help us improve government policy.</p>
  <p class="govuk-body">See our <a href="#">privacy notice</a> to find out how we use and share your data.</p>

  <h2 class="govuk-heading-l" id="how-you-can-contact-us">How you can contact us</h2>
  <p class="govuk-body">You can get in touch with us by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>phone: <mark>[insert no.]</mark></li>
    <li>email: <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a></li>
  </ul>
  <p class="govuk-body">We typically respond within one working day for urgent queries. It can take up to five working days for less urgent queries. Unfortunately, we can’t provide support over the weekend.</p>
  <p class="govuk-body-s">Last updated: 4 November 2019</p>
{% endblock %}
