{% extends "_layout-git.njk" %}

{% set title = "[Page about training with a disability]" %}

{% block content %}
  <img src="/public/git/hero.png" alt="">
  <div class="git-content">
    <h1 class="govuk-heading-xl govuk-!-margin-top-4">{{ title }}</h1>
    <p class="govuk-body"><mark>[TBD]</mark></p>
  </div>
{% endblock %}
