{% extends "_content.njk" %}

{% set title = "Personal teaching profile" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}
{% block primary %}
  <p class="govuk-body">We’ll save all your personal, academic and professional details, so that you can complete your application in your own time.</p>
  <p class="govuk-body">After you’ve submitted your first application, you’ll be able to tailor your details to suit subsequent applications.</p>

  {% set hasSchoolExperience = data["school-experience"]["missing"] != "true" %}
  {{ appTaskList({
    classes: "govuk-!-margin-bottom-4",
    items: [{
      text: "Personal details",
      href: "/profile/personal-details" + ("/edit" if data["candidate"]["nationality"] else "/add"),
      id: "personal-details",
      completed: data["candidate"]["nationality"]
    }, {
      text: "Contact details",
      href: "/profile/contact-details",
      id: "contact-details",
      completed: data["contact-details"]["address"]
    }, {
      text: "Academic qualifications",
      href: "/profile/qualifications" + ("/review" if data["qualifications"]),
      id: "qualifications",
      completed: data["qualifications"]
    }, {
      text: "Subject knowledge",
      href: "/profile/subject-knowledge" + ("/edit" if data["subject-knowledge"] else "/add"),
      id: "subject-knowledge",
      completed: data["subject-knowledge"]
    }, {
      text: "Language skills",
      href: "/profile/language-skills" + ("/edit" if data["language-skills"] else "/add"),
      id: "language-skills",
      completed: data["language-skills"]
    }, {
      text: "Work history",
      href: "/profile/work-history" + ("/review" if data["work-history"]),
      id: "work-history",
      completed: data["work-history"]
    }, {
      text: "School experience and volunteering with children and young people",
      href: "/profile/school-experience" + ("/review" if data["school-experience"] and hasSchoolExperience),
      id: "school-experience",
      completed: data["school-experience"]
    }, {
      text: "References",
      href: "/profile/references" + ("/review" if data["referees"]),
      id: "references",
      completed: data["referees"]
    }, {
      text: "Your teaching vocation",
      href: "/profile/vocation" + ("/edit" if data["vocation"] else "/add"),
      id: "vocation",
      completed: data["vocation"]
    }]
  }) }}
{% endblock %}
