{% extends "_content.njk" %}

{% set title = "Your details" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ appTaskList({
    items: [{
      text: "Personal details",
      href: "/profile/personal-details" + ( "/review" if data["candidate"]["nationality"] ),
      id: "personal-details",
      completed: data["candidate"]["nationality"]
    }, {
      text: "Contact details",
      href: "/profile/contact-details" + ( "/review" if data["contact-details"]["address"] ),
      id: "contact-details",
      completed: data["contact-details"]["address"]
    }, {
      text: "Academic qualifications",
      href: "/profile/qualifications" + ( "/review" if data["qualifications-completed"] ),
      id: "qualifications",
      completed: data["qualifications-completed"]
    }, {
      text: "Subject knowledge",
      href: "/profile/subject-knowledge" + ( "/primary" if checked("settings", "primary-application")),
      id: "subject-knowledge",
      completed: data["subject-knowledge"]
    }, {
      text: "Literacy, numeracy and language skills",
      href: "/profile/professional-skills" + ( "/review" if data["professional-skills"] ),
      id: "professional-skills",
      completed: data["professional-skills"]
    }, {
      text: "Work history",
      href: "/profile/work-history" + ( "/review" if data["work-history"] ),
      id: "work-history",
      completed: data["work-history"]
    }, {
      text: "School experience and volunteering with children and young people",
      href: "/profile/school-experience" + ( "/review" if data["school-experience"] ),
      id: "school-experience",
      completed: data["school-experience"]
    }, {
      text: "References",
      href: "/profile/references" + ( "/review" if data["referees"] ),
      id: "references",
      completed: data["referees"]
    }, {
      text: "Your teaching vocation",
      href: "/profile/vocation",
      id: "vocation",
      completed: data["vocation"]
    }]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l">
{% endblock %}
