{% extends "_content.njk" %}

{% set title = "Your details" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ appTaskList({
    items: [{
      text: "Personal details",
      href: "/profile/personal-details" + ( "/review" if data["personal-details-completed"] ),
      id: "personal-details",
      completed: data['personal-details-completed']
    }, {
      text: "Contact details",
      href: "/profile/contact-details" + ( "/review" if data["contact-details-completed"] ),
      id: "contact-details",
      completed: data["contact-details-completed"]
    }, {
      text: "Academic qualifications",
      href: "/profile/academic-qualifications" + ( "/review" if data["academic-qualifications-completed"] ),
      id: "academic-qualifications",
      completed: data["academic-qualifications-completed"]
    }, {
      text: "Subject knowledge",
      href: "/profile/subject-knowledge",
      id: "subject-knowledge",
      completed: data['subject-knowledge-completed']
    }, {
      text: "Literacy, numeracy and language skills",
      href: "/profile/professional-skills",
      id: "professional-skills",
      completed: data['professional-skills-completed']
    }, {
      text: "Work history",
      href: "/profile/work-history" + ( "/review" if data["work-history-completed"] ),
      id: "work-history",
      completed: data['work-history-completed']
    }, {
      text: "School experience and volunteering with children and young people",
      href: "/profile/school-experience" + ( "/review" if data["school-experience-completed"] ),
      id: "school-experience",
      completed: data['school-experience-completed']
    }, {
      text: "References",
      href: "/profile/references" + ( "/review" if data["references-completed"] ),
      id: "references",
      completed: data['references-completed']
    }, {
      text: "Teaching vocation",
      href: "/profile/vocation",
      id: "vocation",
      completed: data['vocation-completed']
    }]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l">
{% endblock %}
