{% extends "_content-wide.njk" %}

{% set parent = "Personal teaching profile" %}
{% set title = "Review your answers" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: "Personal teaching profile",
      href: "/profile"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Personal details</h2>
  {% include "_includes/review-personal-details.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contact details</h2>
  {% include "_includes/review-contact-details.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Academic qualifications</h2>
  {% set category = "degree" %}
  {% set categoryTitle = "Degree(s)" %}
  {% include "_includes/review-qualifications.njk" %}

  {% set category = "gcse" %}
  {% set categoryTitle = "Required subjects" %}
  {% include "_includes/review-qualifications.njk" %}

  {% set category = "other" %}
  {% set categoryTitle = "Other relevant qualifications" %}
  {% include "_includes/review-qualifications.njk" %}
  {{ govukSummaryList({
    classes: "govuk-!-font-size-16",
    rows: [{
      key: {
        text: "Is there anything you’d like to tell us about your qualifications?"
      },
      value: {
        text: (data["qualifications"]["additional"] | default("Not entered"))
      },
      actions: {
        items: [{
          href: "/profile/qualifications/review",
          text: "Change",
          visuallyHiddenText: "additional detail"
        }]
      }
    }]
  }) }}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Subject knowledge</h2>
  {% include "_includes/review-subject-knowledge.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Literacy, numeracy and language skills</h2>
  {% include "_includes/review-professional-skills.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Work history</h2>
  {% include "_includes/review-work-history.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">School experience and volunteering with children and young people</h2>
  {% include "_includes/review-school-experience.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">References</h2>
  {% include "_includes/review-references.njk" %}
  <hr class="govuk-section-break govuk-section-break--xl">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your teaching vocation</h2>
  {% include "_includes/review-vocation.njk" %}
{% endblock %}
