{% extends "_content.njk" %}

{% set title = "Your details" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
{% set personalDetails %}
  {% include "_includes/review-personal-details.njk" %}
{% endset %}

{% set contactDetails %}
  {% include "_includes/review-contact-details.njk" %}
{% endset %}

{% set subjectKnowledge %}
  {% include "_includes/review-subject-knowledge.njk" %}
{% endset %}

{% set professionalSkills %}
  {% include "_includes/review-professional-skills.njk" %}
{% endset %}

{% set workHistory %}
  {% include "_includes/review-work-history.njk" %}
{% endset %}

{% set references %}
  {% include "_includes/review-references.njk" %}
{% endset %}

{% set vocation %}
  {% include "_includes/review-vocation.njk" %}
{% endset %}

  {{ govukAccordion({
    id: "review",
    items: [{
      expanded: true,
      heading: {
        text: "Personal details"
      },
      content: {
        html: personalDetails
      }
    }, {
      heading: {
        text: "Contact details"
      },
      content: {
        html: contactDetails
      }
    }, {
      heading: {
        text: "Academic qualifications"
      }
    }, {
      heading: {
        text: "Subject knowledge"
      },
      content: {
        html: subjectKnowledge
      }
    }, {
      heading: {
        text: "Literacy, numeracy and language skills"
      },
      content: {
        html: professionalSkills
      }
    }, {
      heading: {
        text: "Work history"
      },
      content: {
        html: workHistory
      }
    }, {
      heading: {
        text: "School experience and volunteering with children and young people"
      }
    }, {
      heading: {
        text: "References"
      },
      content: {
        html: references
      }
    }, {
      heading: {
        text: "Your teaching vocation"
      },
      content: {
        html: vocation
      }
    }]
  }) }}
{% endblock %}
