{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set qualificationName =
  applicationValue(["other-qualifications", id, "type-uk"])
  or type | replace("qualification", "") | replace("Other UK", "UK") | replace("Non", "non")
%}
{% set international = type == "Non-UK qualification" %}
{% set parent = "Other qualifications" %}
{% set action = "edit" if applicationValue(["other-qualifications", id, "subject"]) else "add" %}
{% set title = (action | capitalize) + " " + qualificationName + " qualification" %}
{% set allowsFeedback = true %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/other-qualifications/" + id
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {# Suggest subjects if GCSE, AS level or A level qualification #}
  {% if type == "GCSE"
    or type == "AS level"
    or type == "A level"
  %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="other-qualifications-{{ id }}-subject">Subject</label>
      <div id="subject-autocomplete-container"></div>
    </div>
  {% else %}
    {{ govukInput({
      label: {
        text: "Subject",
        classes: "govuk-label--m"
      }
    } | decorateApplicationAttributes(["other-qualifications", id, "subject"])) }}
  {% endif %}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["other-qualifications", id, "org"])) }}

  {% if international %}
    {{ appAutocomplete({
      label: {
        text: "Country where you studied",
        classes: "govuk-label--m"
      },
      items: countries
    } | decorateApplicationAttributes(["other-qualifications", id, "country"])) }}
  {% endif %}

  {# Suggest grades if GCSE, AS level, A level or vocational qualification #}
  {% if type == "GCSE"
    or type == "AS level"
    or type == "A level"
    or type == "BTEC"
    or type == "NVQ"
    or type == "VRQ"
  %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="other-qualifications-{{ id }}-grade">Grade</label>
      <div id="grade-autocomplete-container" class="govuk-input--width-10"></div>
    </div>
  {% else %}
    {{ govukInput({
      label: {
        text: "Grade" + (" (optional)" if international),
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-10"
    } | decorateApplicationAttributes(["other-qualifications", id, "grade"])) }}
  {% endif %}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["other-qualifications", id, "year"])) }}

  {# Only ask if want to add another if:
    * not editing an existing item
    * not referred from a review page (which has an ‘Add another…’ button)
    * feature flag enabled
  #}
  {% if action != "edit" and not referrer %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    {{ govukRadios({
      name: "next",
      fieldset: {
        legend: {
          text: "Do you want to add another qualification?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "add-type",
        text: "Yes, add another " + qualificationName + " qualification",
        checked: true
      }, {
        value: "add",
        text: "Yes, add a different qualification"
      }, {
        value: "review",
        text: "No, not at the moment"
      }]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  {% if type == "GCSE"
    or type == "AS level"
    or type == "A level"
  %}
    {% if type == "GCSE" %}
      {% set subjectData = gcse.subjects %}
      {% set gradeData = gcse.grades %}
    {% elif type == "AS level" %}
      {% set subjectData = asLevel.subjects %}
      {% set gradeData = asLevel.grades %}
    {% elif type == "A level" %}
      {% set subjectData = aLevel.subjects %}
      {% set gradeData = aLevel.grades %}
    {% endif %}

    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        element: document.querySelector('#subject-autocomplete-container'),
        id: 'other-qualifications-{{ id }}-subject',
        name: "applications[{{ applicationId }}][other-qualifications][{{ id }}][subject]",
        defaultValue: '{{ applicationValue(["other-qualifications", id, "subject"]) }}',
        showNoOptionsFound: false,
        minLength: 2,
        placeholder: false,
        source: [
          {% for item in subjectData %}"{{ item }}",{% endfor %}
        ]
      })

      accessibleAutocomplete({
        element: document.querySelector('#grade-autocomplete-container'),
        id: 'other-qualifications-{{ id }}-grade',
        name: "applications[{{ applicationId }}][other-qualifications][{{ id }}][grade]",
        defaultValue: '{{ applicationValue(["other-qualifications", id, "grade"]) }}',
        minLength: 1,
        placeholder: false,
        source: [
          {% for item in gradeData %}"{{ item }}",{% endfor %}
        ]
      })
    </script>
  {% elif type == "BTEC"
    or type == "NVQ"
    or type == "VRQ"
  %}
    {% set gradeData = [
      'Distinction',
      'Merit',
      'Pass',
      'Unclassified',
      'Not applicable'
    ] %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        element: document.querySelector('#grade-autocomplete-container'),
        id: 'other-qualifications-{{ id }}-grade',
        name: "applications[{{ applicationId }}][other-qualifications][{{ id }}][grade]",
        defaultValue: '{{ applicationValue(["other-qualifications", id, "grade"]) }}',
        minLength: 1,
        placeholder: false,
        source: [
          {% for item in gradeData %}"{{ item }}",{% endfor %}
        ]
      })
  {% elif international %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#other-qualifications-{{ id }}-country'),
        defaultValue: '{{ applicationValue(["other-qualifications", id, "country"]) }}'
      })
  {% endif %}
    </script>
{% endblock %}
