{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set qualificationType = applicationValue(["other-qualifications", id, "type-uk"]) or type %}
{% set parent = "Academic and other relevant qualifications" %}
{% set action = "edit" if applicationValue(["other-qualifications", id, "subject"]) else "add" %}
{% set title = (action | capitalize) + " " + qualificationType + " qualification" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId + "/other-qualifications/" + id
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if type == "GCSE" %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="other-qualifications-{{ id }}-subject">Subject</label>
      <div id="subject-autocomplete-container"></div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="other-qualifications-{{ id }}-grade">Grade</label>
      <div id="grade-autocomplete-container" class="govuk-input--width-10"></div>
    </div>
  {% else %}
    {{ govukInput({
      label: {
        text: "Subject",
        classes: "govuk-label--m"
      }
    } | decorateApplicationAttributes(["degree", id, "subject"])) }}

    {{ govukInput({
      label: {
        text: "Grade",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-10"
    } | decorateApplicationAttributes(["other-qualifications", id, "grade"])) }}
  {% endif %}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-4"
  } | decorateApplicationAttributes(["other-qualifications", id, "year"])) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--m"
    }
  } | decorateApplicationAttributes(["other-qualifications", id, "org"])) }}

  {# Only ask if want to add another if:
    * not editing an existing item
    * not referred from a review page (which has an ‘Add another…’ button)
    * feature flag enabled
  #}
  {% if action != "edit" and not referrer %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    {{ govukRadios({
      name: "next",
      fieldset: {
        legend: {
          text: "Do you want to add another qualification?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "add-type",
        text: "Yes, add another " + qualificationType,
        checked: true
      }, {
        value: "add",
        text: "Yes, add a different qualification"
      }, {
        value: "review",
        text: "No, not right now"
      }]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% if type == "GCSE"  %}
  {% block pageScripts %}
    <script src="/public/javascripts/autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete({
        element: document.querySelector('#subject-autocomplete-container'),
        id: 'other-qualifications-{{ id }}-subject',
        name: "applications[{{ applicationId }}][other-qualifications][{{ id }}][subject]",
        defaultValue: '{{ applicationValue(["other-qualifications", id, "subject"]) }}',
        minLength: 2,
        placeholder: false,
        source: [
          {% for item in gcse.subjects %}"{{ item }}",{% endfor %}
        ]
      })

      accessibleAutocomplete({
        element: document.querySelector('#grade-autocomplete-container'),
        id: 'other-qualifications-{{ id }}-grade',
        name: "applications[{{ applicationId }}][other-qualifications][{{ id }}][grade]",
        defaultValue: '{{ applicationValue(["other-qualifications", id, "grade"]) }}',
        minLength: 1,
        placeholder: false,
        source: [
          {% for item in gcse.grades %}"{{ item }}",{% endfor %}
        ]
      })
    </script>
  {% endblock %}
{% endif %}