{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set international = applicationValue(["candidate", "otherNationality1"]) %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set itemName = "other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}
{% set formaction = applicationPath + "/other-qualifications/answer" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}

  <p class="govuk-body">Adding A levels and other qualifications makes your application stronger. They demonstrate subject knowledge not covered in your degree or work experience.</p>
  <p class="govuk-body">Training providers usually ask you for them later in the process.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you want to add " + ("a qualficaiton" if international else "an A level or other qualification") + "?",
        classes: "govuk-label--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "No",
      text: "No, I don’t want to add any other qualifications"
    }]
  } | decorateApplicationAttributes(["otherQualificationsDisclose"])) }}


  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
