{% extends "_form.njk" %}
{% set applicationPath = "/application/" + applicationId %}
{% set title = "Other relevant qualifications" %}
{% set formaction = applicationPath + "/other-qualifications/answer" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  <p class="govuk-body">Providers use information about your other qualifications to assess your academic ability and the broader contribution you can make to a school.</p>
  <p class="govuk-body">You can include your GCSEs, A levels and vocational, practical and creative qualifications.</p>
  <p class="govuk-body">Undergraduate and postgraduate degrees should be included in the ‘Degree’ section.</p>

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-margin-top-6",
      legend: {
        text: "Would you like to add other relevant qualifications?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: "Yes"
    }, {
      value: "no",
      text: "No"
    }]
  } | decorateApplicationAttributes(["include-other-qualifications"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
