{% extends "_form.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set title = "Academic and other relevant qualifications" %}

{% block pageNavigation %}
  {% if referrer %}
    {{ govukBackLink({
      href: referrer
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + applicationId,
      text: "Back to application"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% set otherUkConditionalHtml %}
    {{ govukInput({
      label: {
        text: "Enter type of qualification"
      }
    } | decorateApplicationAttributes(["other-qualifications", id, "type-uk"])) }}
  {% endset %}

  {% set nonUkConditionalHtml %}
    {{ govukInput({
      label: {
        text: "Enter type of qualification"
      }
    } | decorateApplicationAttributes(["other-qualifications", id, "type-non-uk"])) }}
    {{ appAutocomplete({
      label: {
        text: "In which country did you gain this qualification?"
      },
      items: countries
    } | decorateApplicationAttributes(["other-qualifications", id, "country"])) }}
  {% endset %}

  <p class="govuk-body">Enter your qualifications as completely as you can, including all your GCSEs and A levels (or equivalents), and any other qualifications where you showed skills that might help you as a teacher.</p>
  <p class="govuk-body">Undergraduate and postgraduate degrees should be included in the ‘Degree’ section.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of qualification",
        classes: "govuk-label--m"
      },
      attributes: {
        "data-module": "clear-hidden"
      }
    },
    items: [{
      text: "GCSE"
    }, {
      text: "AS level"
    }, {
      text: "A level"
    }, {
      text: "Other UK qualification",
      conditional: {
        html: otherUkConditionalHtml
      }
    }, {
      text: "Non-UK qualification",
      conditional: {
        html: nonUkConditionalHtml
      }
    } if data.flags.international_qualifications]
  } | decorateApplicationAttributes(["other-qualifications", id, "type"])) }}

  {% set internationalConditionalHtml %}
    {{ appAutocomplete({
      label: {
        text: "In which country is your institution based?"
      },
      items: countries
    } | decorateApplicationAttributes(["other-qualifications", id, "country"])) }}
  {% endset %}

  {# Only ask if want to add another if:
    * not editing an existing item
    * not referred from a review page (which has an ‘Add another…’ button)
    * feature flag enabled
  #}
  {% if action != "edit" and not referrer and data.flags.add_another %}
    {{ govukRadios({
      name: "next",
      fieldset: {
        legend: {
          text: "Do you want to add another qualification?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [{
        value: "add",
        text: "Yes"
      }, {
        value: "review",
        text: "No"
      }]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '{{ valueOrPreviousQualificationValue(["other-qualifications", id, "country"]) }}',
      selectElement: document.querySelector('#other-qualifications-{{ id }}-country')
    })
  </script>
{% endblock %}
