{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set title = "Academic and other relevant qualifications" %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/other-qualifications.njk" %}
  {{ govukButton({
    text: "Add another qualification",
    href: applicationPath + "/other-qualifications/add",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukCheckboxes({
    items: [{
      value: "true",
      text: "I have completed this section"
    }]
  } | decorateApplicationAttributes(["completed", "other-qualifications"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
