{% extends "_form-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set international = applicationValue(["candidate", "otherNationality1"]) %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set canAmend = true %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% include "_includes/review/other-qualifications.njk" %}

  {{ govukButton({
    text: "Add a qualification",
    classes: "govuk-button--secondary",
    href: applicationPath + "/other-qualifications/add"
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-width-two-thirds",
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Ensure you’ve added all your A levels and other qualifications."
    } if applicationValue(["otherQualificationsDisclose"] != "No"),
    items: [{
      value: "true",
      text: "Yes, I’ve completed this section"
    }, {
      value: "false",
      text: "No, I’ll come back to it later"
    }]
  } | decorateApplicationAttributes(["completed", "otherQualifications"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
