{% extends "_content-wide.njk" %}

{% set applicationPath = "/application/" + applicationId %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set title = "Other qualifications" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}
  {% set qualifications = data.applications[applicationId]["other-qualifications"] | toArray %}
  {% for qualification in qualifications %}
    {% include "_includes/review-other-qualification.njk" %}
  {% endfor %}
  {{ govukButton({
    text: "Add another qualification",
    classes: "govuk-button--secondary",
    href: applicationPath + "/other-qualifications/add?referrer=" + referrer
  }) }}

  {{ govukButton({
    text: "Continue",
    href: applicationPath
  }) }}
{% endblock %}
