{% extends "_form-wide.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set formaction = applicationPath %}
{% set international = applicationValue(["candidate", "otherNationality1"]) %}
{% set title = "Other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}
{% set referrer = applicationPath + "/other-qualifications/review" %}
{% set canAmend = true %}
{% set otherQualifications = applicationValue(["otherQualifications"]) | toArray %}


{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + applicationId,
    text: "Back to application"
  }) }}
{% endblock %}

{% block primary %}

    {% if applicationValue(["otherQualificationsDisclose"]) == "No" %}

      {% include "_includes/review/other-qualifications.html" %}

    {% else %}

      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">Adding A levels and other qualifications can make your application stronger.</p>
        <p class="govuk-body">Training providers may ask to see them later if you do not include them in your application.</p>
      </div>

      {{ govukButton({text: "Add another qualification", href: applicationPath + "/other-qualifications/add", classes: "govuk-button--secondary"}) }}

      {% include "_includes/review/other-qualifications.html" %}

    {% endif %}


  {{ govukRadios({
    fieldset: {
      classes: "govuk-!-width-two-thirds",
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Ensure you’ve added all your A levels and other qualifications."
    } if applicationValue(["otherQualificationsDisclose"] != "No"),
    items: [{
      value: "true",
      text: "Yes, I’ve completed this section"
    }, {
      value: "false",
      text: "No, I’ll come back to it later"
    }]
  } | decorateApplicationAttributes(["completed", "otherQualifications"])) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}
