{% extends "layouts/main.html" %}

{% set applicationPath = "/application/" + applicationId %}
{% set international = data.otherNationality %}
{% set title = "What type of qualification do you want to add?" %}
{% set itemName = "other qualifications" if international else "A levels and other qualifications" %}
{% set allowsFeedback = true %}

{% block beforeContent %}
  {{ govukBackLink({
      href: "/application/" + "/other-qualifications/review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set otherUkConditionalHtml %}
        {{ govukInput({
          name: "otherQualifications[" + id + "][otherUkType]",
          value: data.otherQualifications[id].otherUkType,
          label: {
            text: "Qualification name",
            classes: "govuk-label--s"
          }
        }) }}
      {% endset %}

      {% set nonUkConditionalHtml %}
        {{ govukInput({
          name: "otherQualifications[" + id + "][nonUkType]",
          value: data.otherQualifications[id].nonUkType,
          label: {
            text: "Qualification name",
            classes: "govuk-label--s"
          },
          hint: {
            html: "For example, High school diploma, Higher Secondary School Certificate, <span lang=\"fr\">Baccalauréat Général</span>, <span lang=\"es\">Título de Bachiller</span>"
          }
        }) }}
      {% endset %}

      <form action="/application/other-qualifications/{{ id }}/details" method="post">

        {{ govukRadios({
          name: "otherQualifications[" + id + "][type]",
          value: data.otherQualifications[id].type,
          fieldset: {
            legend: {
              text: "What type of qualification do you want to add?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            attributes: {
              "data-module": "clear-hidden"
            }
          },
          items: [{
            value: "A level",
            text: "A level"
          }, {
            value: "AS level",
            text: "AS level"
          }, {
            value: "GCSE",
            text: "GCSE"
          }, {
            value: "other-uk",
            text: "Another UK qualification",
            conditional: {
              html: otherUkConditionalHtml
            }
          }, {
            value: "non-uk",
            text: "A qualification not from the UK",
            conditional: {
              html: nonUkConditionalHtml
            }
          }]
        }) }}

        {{ govukInput({
          value: "Yes",
          type: "hidden"
        }) }}

        {% set internationalConditionalHtml %}
          {{ govukInput({
            label: {
              text: "In which country is your institution based?"
            },
            items: countries
          }) }}
        {% endset %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
