{% extends "_form.njk" %}
{% set title = "Add maths GCSE or equivalent" %}
{% set parent = "Eligibility and qualifications" %}
{% set formAction = "/application/eligibility-and-qualifications" %}
{% block fieldset %}

{% set internationalQualification %}
  {{ appAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "maths-gcse-country",
    name: "maths-gcse-country",
    items: countries
  }) }}

  {{ govukInput({
    id: "maths-gcse-naric",
    name: "maths-gcse-naric",
    label: {
      html: "Have you got a NARIC statement of comparability?"
    }
  }) }}
{% endset -%}

  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "GCSE, O level, or other (please specify)"
    },
    id: "maths-gcse-type",
    name: "maths-gcse-type"
  }) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    id: "maths-gcse-grade",
    name: "maths-gcse-grade"
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    id: "maths-gcse-year",
    name: "maths-gcse-year",
    classes: "govuk-input--width-4"
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this an international qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "maths-gcse-international",
    name: "maths-gcse-international",
    items: [{
      value: "yes",
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukInput({
    label: {
      text: "I don’t have this qualification yet",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Please explain how you plan to meet this requirement in time for the start of your course."
    },
    id: "maths-gcse-missing",
    name: "maths-gcse-missing"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#maths-gcse-country')
    })
  </script>
{% endblock %}
