{% extends "_form.njk" %}
{% set title = "Add degree" %}
{% set formAction = "/application/eligibility-and-qualifications" %}
{% block fieldset %}

{% set internationalQualification %}
  {{ appLocationAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "degree-country",
    name: "degree-country"
  }) }}

  {{ govukInput({
    id: "degree-naric",
    name: "degree-naric",
    label: {
      html: "Have you got a NARIC statement of comparability?"
    }
  }) }}
{% endset -%}

  {{ govukDetails({
    summaryText: "I haven't completed my degree",
    text: "If you are still studying, give us your predicted grade and date of graduation. You must have successfully graduated by the time you start your course. If you enter a predicted grade, you must choose an academic referee (in the ‘References’ section) who will be able to validate it."
  }) }}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukInput({
    label: {
      text: "Type of degree",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, BA, BSc, Masters, Phd, or other (please specify)"
    },
    id: "degree-type",
    name: "degree-type"
  }) }}

  {{ govukInput({
    label: {
      text: "Subject of degree",
      classes: "govuk-label--s"
    },
    id: "degree-subject",
    name: "degree-subject"
  }) }}

  {{ govukInput({
    label: {
      text: "Institution where you studied",
      classes: "govuk-label--s"
    },
    id: "degree-institution",
    name: "degree-institution"
  }) }}

  {{ govukInput({
    label: {
      text: "Class of degree",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For example, 2.1"
    },
    id: "degree-class",
    name: "degree-class"
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    id: "degree-year",
    name: "degree-year",
    classes: "govuk-input--width-4"
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this an international qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "degree-international",
    name: "degree-international",
    items: [{
      value: "yes",
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

  <script type="text/javascript" src="/public/javascripts/location-autocomplete.min.js"></script>
  <script type="text/javascript">
    openregisterLocationPicker({
      selectElement: document.getElementById('degree-international-country'),
      url: '/public/javascripts/location-autocomplete-graph.json'
    })
  </script>
{% endblock %}
