{% extends "_form.njk" %}
{% set title = "Add English GCSE or equivalent" %}
{% set formAction = "/application/eligibility-and-qualifications" %}
{% block fieldset %}

{% set internationalQualification %}
  {{ appLocationAutocomplete({
    label: {
      text: "In which country did you gain this qualification?"
    },
    id: "english-gcse-country",
    name: "english-gcse-country"
  }) }}

  {{ govukInput({
    id: "english-gcse-naric",
    name: "english-gcse-naric",
    label: {
      html: "Have you got a NARIC statement of comparability?"
    }
  }) }}
{% endset -%}

  {{ govukInput({
    label: {
      text: "Type of qualification",
      classes: "govuk-label--s"
    },
    hint: {
      text: "GCSE, O level, or other (please specify)"
    },
    id: "english-gcse-type",
    name: "english-gcse-type"
  }) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--s"
    },
    id: "english-gcse-grade",
    name: "english-gcse-grade"
  }) }}

  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--s"
    },
    id: "english-gcse-year",
    name: "english-gcse-year",
    classes: "govuk-input--width-4"
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this an international qualification?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "english-gcse-international",
    name: "english-gcse-international",
    items: [{
      value: "yes",
      text: "Yes",
      conditional: {
        html: internationalQualification
      }
    }, {
      value: "no",
      text: "No"
    }]
  }) }}

  {{ govukInput({
    label: {
      text: "I don’t have this qualification yet",
      classes: "govuk-label--s"
    },
    hint: {
      text: "Please explain how you plan to meet this requirement in time for the start of your course."
    },
    id: "english-gcse-missing",
    name: "english-gcse-missing"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

  <script type="text/javascript" src="/public/javascripts/location-autocomplete.min.js"></script>
  <script type="text/javascript">
    openregisterLocationPicker({
      selectElement: document.getElementById('degree-international-country'),
      url: '/public/javascripts/location-autocomplete-graph.json'
    })
  </script>
{% endblock %}
