{% extends "_content.njk" %}
{% set title = "Eligibility and qualifications" %}
{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Application",
      href: "/application"
    }, {
      text: title
    }]
  }) }}
{% endblock %}
{% set missingGCSE %}
<p class="govuk-body">You can still apply for teacher training if you are missing a maths, English or science (for primary) GCSE at the right grade. But you should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>contact your training provider for advice about getting the right qualification in time for your course</li>
  <li>ask if your provider accepts ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE), and where they recommend you sit the test</li>
</ul>
<p class="govuk-body">You can also visit the <a href="https://nationalcareersservice.direct.gov.uk/course-directory/home">National Careers Service</a> to find GCSE courses for people who are over 16 and have left school.</p>
{% endset %}
{% set internationalQualification %}
<p class="govuk-body">If you studied for your degree or other qualifications overseas, you will need to check that they are valid in the UK.</p>
<p class="govuk-body">As a first step, you should register at GOV.UK’s <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>. Registration will give you access to phone and email support from a teacher training advisor (TTA). Your TTA will be able to tell you if your international qualifications make you eligible for teacher training and how they correspond to English exam grades.</p>
<h3 class="govuk-heading-s">Check with your provider</h3>
<p class="govuk-body">You should also contact your chosen training provider to check their policy on international qualifications. They may ask you to sit ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE) and recommend an equivalency testing centre.</p>
<p class="govuk-body">If you have already been in touch with <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> and have a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx">statement of comparability</a> for your qualifications, you’ll have the opportunity to tell us below.</p>
{% endset %}
{% block primary %}
  <p class="govuk-body">To be eligible for teacher training, you need a:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>UK degree (or international equivalent)</li>
    <li>GCSE in maths, grade 4 (previously grade C)</li>
    <li>GCSE in English, grade 4 (previously grade C)</li>
    <li>To teach at primary school, you also need a minimum grade 4 GCSE in science.</li>
  </ul>
  <p class="govuk-body">You can learn more about eligibility at <a href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training">Get into Teaching</a>.</p>

  {{ govukDetails({
    summaryText: "I am missing one or more of my required GCSEs",
    html: missingGCSE
  }) }}

  {{ govukDetails({
    summaryText: "I studied for my degree(s) and/or other qualifications outside the UK",
    html: internationalQualification
  }) }}

  <h2 class="govuk-heading-m">Degree(s)</h2>
  <p class="govuk-body">Individual training providers set specific requirements for their courses. Contact your chosen training provider to check your degree meets the standard they’ve set for your course.</p>
  {{ govukButton({
    text: "Add degree",
    classes: "govuk-button--secondary",
    href: "/application/eligibility-and-qualifications/add-degree"
  }) }}

  <h2 class="govuk-heading-m">Required GCSEs</h2>
  {{ govukButton({
    text: "Add maths GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/application/eligibility-and-qualifications/add-maths-gcse"
  }) }}

  {{ govukButton({
    text: "Add English GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/application/eligibility-and-qualifications/add-english-gcse"
  }) }}

  {{ govukButton({
    text: "Add science GCSE or equivalent",
    classes: "govuk-button--secondary",
    href: "/application/eligibility-and-qualifications/add-science-gcse"
  }) }}

  {{ govukTable({
    caption: "Other qualifications",
    captionClasses: "govuk-heading-m",
    classes: "govuk-!-font-size-16",
    firstCellIsHeader: false,
    head: [{
      text: "Qualification"
    }, {
      text: "Subject"
    }, {
      text: "Grade"
    }, {
      text: "Year awarded"
    }],
    rows: [
      [{
        text: "O Level"
      }, {
        text: "English Literature"
      }, {
        text: "B"
      }, {
        text: "1986"
      }]
    ]
  }) }}

  <p class="govuk-body">Enter your remaining GCSEs, A levels, and any practical, vocational or arts-based qualifications. Providers use this information to assess your academic ability and the broader contribution you can make to a school.</p>

  {{ govukButton({
    text: "Add qualification",
    classes: "govuk-button--secondary",
    href: "/application/eligibility-and-qualifications/add-other-qualification"
  }) }}

  <hr class="govuk-section-break">

  {{ govukButton({
    text: "Continue",
    href: "/application/subject-knowledge"
  }) }}
{% endblock %}
