{% extends "_form-question.html" %}

{% set title = "Are you already living in the UK?" %}
{% set formaction = referrer if referrer else "/application/" + applicationId + "/personal-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer if referrer else "/application/" + applicationId + "/personal-information/already-living-in-uk"
  }) }}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">Length of time living in the UK</h1>

  <p class="govuk-body">If you have to pay for your course and you’ve been living in the UK for at least 3 years by the date your course starts you may be eligible for lower tuition fees, sometimes called "home fee status".</p>

    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "When did you enter the UK?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 31 3 2020"
      },
      id: "candidate-dateOfEntry",
      items: [{
        classes: "govuk-input--width-2",
        label: "Day",
        name: "applications[" + applicationId + "][candidate][dateOfEntry][day]",
        value: applicationValue(["candidate", "dateOfEntry", "day"])
      }, {
        classes: "govuk-input--width-2",
        label: "Month",
        name: "applications[" + applicationId + "][candidate][dateOfEntry][month]",
        value: applicationValue(["candidate", "dateOfEntry", "month"])
      }, {
        classes: "govuk-input--width-4",
        label: "Year",
        name: "applications[" + applicationId + "][candidate][dateOfEntry][year]",
        value: applicationValue(["candidate", "dateOfEntry", "year"])
      }]
    } | decorateApplicationAttributes(["candidate", "dateOfEntry"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
