{% extends "_form.njk" %}

{% set formaction = "/application/" + applicationId + "/personal-information/immigration" %}
{% set title = "Do you have the right to work or study in the UK for the length of the teacher training course?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/nationality/")
  }) }}
{% endblock %}

{% block primary %}
  {{ govukRadios({
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "Not yet",
      text: "Not yet"
    }]
  } | decorateApplicationAttributes(["candidate", "immigration"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
