{% extends "_form.njk" %}

{% set title = "What is your immigration status?" %}
{% set formaction = "/application/" + applicationId + "/personal-information/date-of-entry" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/immigration/")
  }) }}
{% endblock %}

{% block formBody %}
  {% if isEuropeanCitizen == true %}
    {{ govukRadios({
      fieldset: {
        legend: {
          html: title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        },
        attributes: {
          "data-module": "clear-hidden"
        }
      },
      items: [{
        value: "EU settled status",
        text: "EU settled status"
      }, {
        value: "EU pre-settled status",
        text: "EU pre-settled status"
      }, {
        value: "other",
        text: "Other",
        conditional: {
          html: govukCharacterCount({
            label: {
              classes: "govuk-label--s",
              text: "Give any relevant information"
            },
            hint: {
              text: "For example, “I have permanent residence”."
            },
            maxwords: 200,
            rows: 5
          } | decorateApplicationAttributes(["candidate", "immigrationStatusDetails"]))
        }
      }]
    } | decorateApplicationAttributes(["candidate", "immigrationStatus"])) }}
  {% else %}
    {{ govukCharacterCount({
      label: {
        text: title,
        classes: "govuk-label--l"
      },
      hint: {
        text: "For example, “I have permanent residence”."
      },
      maxwords: 200,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "immigrationStatusDetails"])) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
