{% extends "_form-question.html" %}

{% set formaction = "/application/" + applicationId + "/personal-information/immigration" %}
{% set title = "Right to work or study in the UK" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/nationality/")
  }) }}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">If you’re unsure about your immigration status, <a href="https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen#visa" class="govuk-link">find out about visas and immigration statuses</a>.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you have the right to work or study in the UK for the length of the teacher training course?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "Not yet",
      text: "Not yet"
    }]
  } | decorateApplicationAttributes(["candidate", "immigration"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
