{% extends "layouts/main.html" %}

{% if applicationValue(["candidate", "nationality"]) == "Irish" %}
  {% set title = "Will you have lived in the UK or Ireland in the 3 years before your teacher training starts?" %}
{% else %}
  {% set title = "Will you have lived in the UK in the 3 years before your teacher training starts?" %}
{% endif %}

{% set formaction = referrer if referrer else "/application/" + applicationId + "/personal-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer if referrer else "/application/" + applicationId + "/personal-information/immigration-status"
  }) }}
{% endblock %}

{% block formBody %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: 'This includes any time spent temporarily in the EU, EEA or Gibraltar.'
    },
    items: [{
      value: "Yes",
      text: "Yes"
    }, {
      value: "No",
      text: "No"
    }]
  } | decorateApplicationAttributes(["candidate", "lengthOfStay"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}
