{% extends "_layout.njk" %}

{% set formaction = "/application/" + applicationId + "/personal-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/residency")
  }) }}
{% endblock %}

{% block content %}

  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set otherRouteHtml %}
          {{ govukCharacterCount({
            label: {
              text: "Give details"
            },
            maxwords: 200,
            rows: 5
          } | decorateApplicationAttributes(["candidate", "residencyRouteDetails"])) }}
        {% endset -%}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "How will you get the right to work or study in the UK?",
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            attributes: {
              "data-module": "clear-hidden"
            }
          },
          items: [{
            value: "sponsorship",
            text: "A visa sponsored by a course provider"
          }, {
            value: "other",
            text: "Another route",
            hint: {
              text: "For example, if you are applying for a Family visa or a Graduate visa"
            },
            conditional: {
              html: otherRouteHtml
            }
          }]
        } | decorateApplicationAttributes(["candidate", "residencyRoute"])) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
