{% extends "_layout.njk" %}

{% set formaction = referrer or "/application/" + applicationId + "/personal-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/nationality/")
  }) }}
{% endblock %}

{% block content %}

  <form{% if formaction %} action="{{ formaction }}"{% endif %} method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set rightToWorkStudy %}
          {{ govukCharacterCount({
            label: {
              html: "What is your immigration status?"
            },
            hint: {
              text: "For example, “I have settled status” or “I have permanent residence”."
            },
            maxwords: 200,
            rows: 5
          } | decorateApplicationAttributes(["candidate", "residency"])) }}
        {% endset -%}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Do you have the right to work or study in the UK?",
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            attributes: {
              "data-module": "clear-hidden"
            }
          },
          hint: {
            html: "To get help with student visas and your immigration status, speak to a <a href=\"https://beta-adviser-getintoteaching.education.gov.uk/\">teacher training adviser</a>"
          },
          items: [{
            value: "I have the right to work or study in the UK",
            text: "Yes",
            conditional: {
              html: rightToWorkStudy
            }
          }, {
            value: "I will need to apply for permission to work or study in the UK",
            text: "Not yet, or not sure"
          }]
        } | decorateApplicationAttributes(["candidate", "residencyDisclose"])) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
