{% extends "_form-question.html" %}
{% set title = "Student or skilled worker visa" %}

{% set formaction = "/application/" + applicationId + "/personal-information/review" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: (referrer if referrer else "/application/" + applicationId + "/personal-information/immigration")
  }) }}
{% endblock %}

{% block primary %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">If you think you’ll need either a student or skilled worker visa, you’ll need to choose a course where visa sponsorship is available.</p>

  <p class="govuk-body"><a href="https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen#visa" class="govuk-link">Find out whether you’re likely to need a student or skilled worker visa</a>.</p>

  <p class="govuk-body"><a href="https://www.find-postgraduate-teacher-training.service.gov.uk" class="govuk-link">Check course pages to find out if visas are sponsored for the course</a>.</p>

  {% set otherRouteHtml %}
    {{ govukCharacterCount({
      label: {
        text: "What type of visa or immigration status do you think you’ll get?"
      },
      maxwords: 200,
      threshold: 90,
      rows: 5
    } | decorateApplicationAttributes(["candidate", "visaRouteDetails"])) }}
  {% endset -%}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you think you’ll need a skilled worker or student visa?",
        classes: "govuk-label--m"
      }
    },
    items: [{
      value: "sponsorship",
      text: "Yes"
    }, {
      value: "other",
      text: "No",
      conditional: {
        html: otherRouteHtml
      }
    }]
  } | decorateApplicationAttributes(["candidate", "visaRoute"])) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}
