{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/applications",
    serviceName: serviceName,
    navigation: [{
      text: data.account.email
    } if data.account.email, {
      href: "/account/sign-out",
      text: "Sign out"
    } if data.account.email]
  }) }}

   <div class="govuk-width-container govuk-!-font-size-19 app-secondary-nav">
     <nav class="app-secondary-nav__nav">
       <a class="govuk-link govuk-link--no-visited-state" href="/applications">Your applications</a>
       <a class="govuk-link govuk-link--no-visited-state" href="/details">Your details</a>
       <a class="govuk-link govuk-link--no-visited-state" href="#">Messages <span class="app-messages-count">1</span></a>
     </nav>

     <div class="app-secondary-nav__sign-out">
       <a class="govuk-link govuk-link--no-visited-state" href="#">Sign out</a>
     </div>
 </div>
{% endblock %}

{% block pageTitle %}
   {{ title }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a prototype.'
    }) if showPhaseBanner != false }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/manage-prototype",
          text: "Manage prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "/admin/complete-application",
          text: "Complete the application"
        },
        {
          href: "/admin/receive-offer",
          text: "Receive offers"
        },
        {
          href: "/admin/receive-references",
          text: "Receive references"
        },
        {
          href: "/admin/meet-conditions",
          text: "Meet conditions"
        }
      ]
    }
  }) }}
{% endblock %}
