{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set govukRebrand = true %}
{% set assetPath = '/public/rebrand' %}

{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% block header %}

  {% if signedIn == false %}

  {{ govukOneLoginServiceHeader({
    rebrand: true,
    serviceName: "Apply for teacher training",
    signOutLink:  "/account"
  }) }}

    {# No nav needed #}
  {% elseif primaryNavId == "accepted" %}


  {{ govukOneLoginServiceHeader({
    rebrand: true,
    serviceName: "Apply for teacher training",
    signOutLink:  "/account",

    serviceNavigationParams: {
      rebrand: true,
      serviceName: "Apply for teacher training",
      navigation: [
        {
          href: "/accepted",
          text: "Your offer",
          active: primaryNavId == "accepted"
        }]
    }
  }) }}




  {% else %}

  {{ govukOneLoginServiceHeader({
    rebrand: true,
    serviceNavigationParams: {
      rebrand: true,
      serviceName: "Apply for teacher training",
      navigation: [
      {
          href: "/details",
          text: "Your details",
          id: "details",
          active: primaryNavId == "details"
      },
      {
          href: "/applications",
          text: "Your applications",
          id: "applications",
          active: primaryNavId == "applications"
      },
      {
          href: "/candidate-pool/sharing",
          text: "Application sharing",
          id: "applicationSharing",
          active: primaryNavId == "application-sharing"
      } if data.applications
      ]
    },
    signOutLink:  "/account"
  }) }}


  {% endif %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
        classes: "app-phase-banner--no-border",
        tag: {
          text: "beta"
        },
        html: '<a href="#" class="govuk-link">Make a complaint or give feedback</a>'
      }) if showPhaseBanner != false }}
  </div>

{% endblock %}

{% block pageTitle %}
   {{ title }} - {{ serviceName }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    rebrand: true,
    meta: {
      items: [
        {
          href: "/manage-prototype",
          text: "Manage this prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "/manage-prototype-data/view-data",
          text: "View data"
        },
        {
          href: "/admin/test-setup",
          text: "Test setup (details + app)"
        },
        {
          href: "/admin/complete-details",
          text: "Complete all your details"
        },
        {
          href: "/admin/complete-details-no-ps",
          text: "Complete - no personal statement"
        },
        {
          href: "/admin/complete-details-no-contact",
          text: "Complete - no contact"
        },
        {
          href: "/admin/setup-applications",
          text: "Setup applications"
        },
        {
          href: "/admin/add-application",
          text: "Add application"
        },
        {
          href: "/admin/add-invite",
          text: "Add invite"
        },
        {
          href: "/admin/no-open-applications",
          text: "No open applications"
        },
        {
          href: "/reference",
          text: "Provide reference"
        }
      ]
    }
  }) }}
{% endblock %}
